[2018-12-07 12:53] gdams commented on #627
yeah we do :)

[2018-12-07 15:40] flybd5 commented on #626
Correct. The documentation does not warn the user about the harmful things
some of the steps in the playbooks can do, but the playbooks should be
modified to make all of those optional, not rely on the user to have to
read and figure out what to turn off.

On Fri, Dec 7, 2018 at 1:52 PM Martijn Verburg <notifications@github.com>
wrote:

[2018-12-07 17:54] cwesMills commented on #553
The MSVS_2017 role hangs endlessly when run as part of the playbook. I believe this is because even though the `/Silent` option is used, popups will still appear on the machine that require input (tested manually).

[2018-12-10 16:23] karianna opened #629 "Cluster / LB / Failover the Main Jenkins node (and the main Ansible server)"
If the Jenkins master falls over, can a slave take over?  If not then we need to think about having the master backed up / saved as a docker image / whatever to make sure we can failover to a new node fast.

Same goes for the main ansible box.

[2018-12-10 16:41] karianna opened #631 "Provision Solaris Build and Test Boxes"

[2018-12-11 15:21] HusainYusufali commented on #619
Pull request opened to update the inventory.yml file to match the jenkins hosts. https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/634

[2018-12-11 17:31] cwesMills commented on #553
@sxa555 I've tried running the command you suggested that builds jdk8, but I get the following error
[code]
This was run after the freetype role was updated in #633.

[2018-12-13 14:40] pshipton commented on #256
@ktbriggs I don't think this is the right issue to discuss this, but https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/docker-slaves/x86/centos6.9/Dockerfile should help you.

[2018-12-13 15:31] tellison commented on #627
@smlambert What version of Windows and what machine spec are you requesting?

Common options include:
`Windows Server 2016 Datacenter`
`Windows Server 2012r2 Datacenter`
`Windows Server 2008r2 SP1`

2 vCPUs and 4Gb RAM ok, or do you require more?

Data disk size?

[2018-12-13 17:09] smlambert commented on #627
Windows Server 2012r2 Datacenter, 2 vCPUs and 4Gb RAM should be fine

[2018-12-13 17:14] smlambert commented on #627
The typical windows ansible test setup is a good start, there will be an additional setup on these 2 machines (for setting to Japanese and Korean locales for MBCS testing).

@toshiona @takiguc - can you please advise on what additional configuration needs to be done on these machines to ready them for use by MBCS tests?  Thanks!

[2018-12-13 17:35] tellison commented on #627
Created `test-2012r2-2 (40.121.164.56)` and `test-2012r2-3 (13.68.219.237)` for the purpose.

Each of these are Windows 2012r2 Datacenter, 2vCPUs, 4Gb RAM, 127 Gb SSD data disk machines.

[2018-12-13 17:45] tellison commented on #627
Unassigning myself so that somebody can pick up the task for configuring via Ansible, and adding to Jenkins.  I'll pass on the login info to the next person.

[2018-12-13 19:18] cwesMills commented on #553
When I try to build JDK11 it throws an error about not being able to find freemarker, despite freemarker being exactly where I specified.
So to recap, the windows machine setup with the playbook isn't able to build JDK8 or JDK11, and I'm not sure how to fix it.

[2018-12-14 08:23] toshiona opened #635 "Update Windows playbooks with locales to support MBCS testing"
Related to new test cases for MBCS testing. The new playbook to add Windows Language pack (Japanese or Korean) if host variable has lang=ja or lang=ko.

Also related to infra request #627

[2018-12-14 11:56] sxa555 commented on #256
@ktbriggs I'm a bit confused by your message - you say an equivalent of the Dockerfile but end with "without Docker". Are you basically looking for the way we set up our build machines (which is with ansible and our setup scripts are in the https://github.com/AdoptOpenJDK/openjdk-infrastructure repository)

[2018-12-14 15:19] ben-walsh opened #637 "AIX test machine build-osuosl-ppc64-aix-71-1 file ulimit is too low"
The file ulimit on AIX test machine build-osuosl-ppc64-aix-71-1 is too low for running the JTReg sanity test suite.
See https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/546/testReport/junit/java_io_FileOutputStream_ManyFiles/java/ManyFiles which had a knock-on effect to other tests too (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/546).
Please increase it to a reasonable leve

[2018-12-14 16:17] sxa555 commented on #637
Already looks to be unlimited:
[code]

[2018-12-17 11:16] ben-walsh commented on #637
The required RELEASE_TAG value changed between when the original job was completed and @sxa555 attempt to re-run with https://ci.adoptopenjdk.net/job/Grinder/619/console. I've kicked off a re-run at https://ci.adoptopenjdk.net/job/Grinder/625/console with the required change to the parameter.

[2018-12-17 16:27] ben-walsh opened #638 "Require temp access to test-azure-win2012r2-x64-1"
I need to acquire temp access to the test machine test-azure-win2012r2-x64-1 to obtain two sets of coredumps which were generated during jobs https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/600 and https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/599.

[2018-12-17 16:42] HusainYusufali commented on #619
Below is a list of changes that need to be created in order to synchronize the hosts across Jenkins and the Inventory.yml. @sxa555 can you please review this before I go ahead and make the changes

| Current Name In Jenkins  | New Name in Jenkins |
| ------------- | ------------- |
| build-macstadium-macos1010-1 | build-macstadium-macos1010-x64-1 |
| build-macstadium-macos1010-2 | build-macstadium

[2018-12-17 19:29] AdamBrousseau opened #639 "Add JDK12 prereqs to Ansible"
Need some more header files on the build systems. These files were previously available in the OpenJDK source but from the latest JDK 12 code these files are not provided in their source, so they need to be available on the machine that is building OpenJDK.

Example failed configure output from a build on Cent6 x86-64
[code]

[2018-12-18 14:41] karianna commented on #638
@ben-walsh Ping me on slack when you're online.

[2018-12-18 14:47] karianna commented on #619
I have to question the two temp machines on scale way - who set those up and for what purpose?

[2018-12-18 14:47] karianna commented on #619
the test-marist labels seem mixed up as well.

[2018-12-18 14:59] ben-walsh commented on #638
@karianna Thanks but likely not needed now - Stewart A has put together a modified test grinder job which we are testing out, which archives the workspace in the way I was expecting KEEP_WORKSPACE would - https://ci.adoptopenjdk.net/view/work in progress/job/SXA-Grinder.
Closing for now - will reopen if this modified job is insufficient for my needs. Thanks.

[2018-12-18 14:59] #638 closed

[2018-12-18 16:52] HusainYusufali commented on #619
Some of the machines are named incorrectly in contrast to the labels they have. The changes that need to be made are listed below and updated in the table above in bold. In regards to the scaleway temp machines I do not have any information on that.

https://ci.adoptopenjdk.net/computer/test-marist-sles12-s390x-1/ is build machine based on its labels, requires a name change, and IP changed in the

[2018-12-18 18:02] sxa555 commented on #553
Ref JDK8 - are the freetype directories at the locations specified in the command you ran?
The freemarker error sounds very odd though - can you paste the exact message?

[2018-12-19 11:57] tellison commented on #610
Ok, so I will now shutdown those machines, and also the remaining two Softlayer JCK machines
`jck-softlayer-x64-rhel-7.adoptopenjdk.net` and `jck-win2012-1.adoptopenjdk.net` as theya re not being used.

[2018-12-20 06:29] toshiona opened #641 "New ansible-lint reported rule errors"
ansible-lint seems to be updated recently and was reporting 191 errors now.

My CI result:
https://travis-ci.org/AdoptOpenJDK/openjdk-infrastructure/builds/469878639

The following are typical errors:

[601] Don't compare to literal True/False
/home/travis/build/AdoptOpenJDK/openjdk-infrastructure/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Ant-Contrib/tasks/main.yml:30
  when: antcontrib_s

[2018-12-20 11:13] sxa555 commented on #414
Killed multiple processes today:
[code]

[2018-12-20 18:15] cwesMills commented on #553
The freetype directory is located at `/cygdrive/c/openjdk/freetype-2.5.3` and I made sure to change the command to point at `include` and `lib32` inside this directory. This is the error I get from freemarker while trying to compile jdk11
[code]
The playbook I used is on `AdoptOpenJDK/openjdk-infrastructure` branch `master` commit `a6ea4f06d7d9cff895d2d0317e1adf3b549a6760`

[2018-12-21 13:31] sxa555 commented on #637
@ben-walsh Is this sorted now or is there still a problem with it?

[2018-12-21 13:47] sxa555 commented on #627
`-3` is mostly ready now (Doesn't have all the compilers installed but hopefully enough)

I haven't put the character sets on yet though, and it's not connected to jenkins.

This has been set up as per the playbooks so will be a good test of whether the playbooks are in a reasonable state at the moment ..

[2018-12-21 14:02] ben-walsh commented on #637
Unknown ... looks like https://ci.adoptopenjdk.net/job/Grinder/625/console got removed.
Rerunning at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/694/console.
Note - I won't be working on AIX this side of the Xmas hols, so no urgency on this till after.

[2018-12-24 13:09] sxa555 commented on #553
Some other concerns discovered while setting up the new test boxes #627 if the playbooks are ran as-is. Not sure if @cwesMills experienced any of these in addition to the freemarker concern:
- Some parts (e.g. freetype) require Visual Studio to be installed first. The installer tends to run in the background and takes about 30 minutes - will it be ready in time for the subsequent parts (was [alrea

[2018-12-24 13:57] sxa555 commented on #627
`-3` now connected to jenkins although without the test tags. I think it's got most of what test needs so @smlambert if you can try kicking off something on there and see what might still be missing that would be appreciated

[2018-12-31 15:14] JakubVanek opened #645 "build-digitalocean-centos69-x64-1 out of disk space"
Hi, I saw on Jenkins that there is a stuck job: [here](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9-linuxXL/68/console):
[code]

[2018-12-31 15:14] JakubVanek opened #646 "build-joyent-centos69-x64-1 out of disk space"
Hi, I saw on Jenkins that there is a stuck job: [here](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-hotspot/142/console):
[code]

[2018-12-31 15:27] JakubVanek opened #647 "Scaleway ARMv7 boxes are down"
Hi,

I noticed that the ARM32 boxes are down for some time. It might be related to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/612. Something suspicious I had interrupted because it was looong stuck in offline mode is here: https://ci.adoptopenjdk.net/view/arm/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/28/console

I suspect that the problem is this:
[code]

[2018-12-31 15:33] JakubVanek commented on #630
Hmmm, I wonder if running armhf Docker containers on aarch64 would do it. Alternatively if the only needed thing is to build the JDK, then cross compilation could work. However it is a compromise as this doesn't allow for runnings tests natively (outside of QEMU).

[2018-12-31 15:44] JakubVanek commented on #647
Hmmm, my reasoning may be wrong, because previously builds which claimed the same number of jobs succeeded: https://ci.adoptopenjdk.net/view/arm/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/27/console

[2018-12-31 16:31] karianna commented on #646
Same issue as #645, I've killed the job, lets see what happens next.

[2018-12-31 16:37] karianna commented on #647
I'm rebooting the two machines as I can't ssh into them.

@sxa555 I think we may need to chat to the Scaleway folks about this, it's far too regular.

[2018-12-31 16:43] karianna commented on #647
They're back up now.

[2018-12-31 16:43] #647 closed

[2018-12-31 16:47] JakubVanek commented on #647
Thanks!

Jakub

[2018-12-31 19:30] karianna commented on #646
Resolved

[2018-12-31 19:30] #646 closed

[2018-12-31 19:31] karianna commented on #645
resolved

[2018-12-31 19:31] #645 closed

[2019-01-02 15:30] smlambert commented on #627
Something is not quite right, same test on `-1` vs `-3`:

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/716 run on test-azure-win2012r2-x64-1
and
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/715  run on test-azure-win2012r2-x64-3

chokes on get.sh script:

$ ssh-agent
16:00:44 ++ pwd
16:00:44 ++ pwd
16:00:44 + ./openjdk-tests/get.sh -s /cygdrive/c/Users/jenkins/workspace/G

[2019-01-03 13:52] sxa555 commented on #627
That looks like a git checkout thing with it translating the scripts to DOS CRLF line endings instead of leaving them in UNIX format ... Will take a look

[2019-01-03 14:14] sxa555 commented on #627
Path issue ... Now resolved https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/721/console

[2019-01-03 14:16] sxa555 commented on #553
NOTE: Will need cygwin64\bin in the PATH before the other git installation otherwise the openjdk-tests  `get.sh` will check out in CRLF format where the test jobs such as Grinder require `\r` only.

[2019-01-03 14:20] smlambert commented on #627
So, next one is to install all the [test prereqs](https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md):

From [721/console output](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/721/console):
make: ant: Command not found

[2019-01-03 14:39] AdamBrousseau commented on #553
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/GIT/tasks/main.yml
Assuming you mean Git for Windows. I thought that Cygwin Git was the only Git needed and the other one could be removed.

[2019-01-03 14:42] sxa555 commented on #553
Potentially yes but I don't want to risk it just now ;-)

[2019-01-03 14:44] AdamBrousseau commented on #553
FWIW the OpenJ9 Windows machines don't have Windows Git.

[2019-01-03 15:45] sxa555 commented on #641
I'm not keen on avoiding the 120 character thing since some of the URLs we retrieve are longer than that.
Also the `compare to literal True/False` thing is given in many of the examples in the ansible docs

[2019-01-03 15:54] sxa555 commented on #641
Looks like https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/yamllint.yml should be handling this from what I can tell, but it's not taking effect any more

[2019-01-03 15:55] sxa555 commented on #641
@inponomarev Do you know why this is no longer working as expected?

[2019-01-03 16:19] sxa555 commented on #627
ant hadn't been added to PATH - now fixed.

[2019-01-03 21:39] inponomarev commented on #641
@sxa555 oops guys I'm really really sorry! Of course it was my mistake that I didn't specify the versions of components in Travis script. It turned out to be a sort of time bomb that eventually disrupted your work.

See my PR #648, this should fix the problem.

However, guys, AFAICS your builds are broken:

* playbooks/AdoptOpenJDK_Unix_Playbook/roles/GIT_Source/tasks/main.yml has yamllint violati

[2019-01-04 11:19] sxa555 commented on #641
Yep I'm aware of the windows issue and we've hit the problem associated with it. Thanks for the PR!

[2019-01-04 13:57] #641 closed

[2019-01-04 14:46] sxa555 commented on #325
Ran the above again today as it had expired

[2019-01-04 15:11] sxa555 commented on #641
With Husain's PR and https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/650 we're now clean again - thanks @inponomarev :-D

[2019-01-07 16:14] #639 closed

[2019-01-07 19:37] HusainYusufali commented on #553
Pull request #653 has been created which fixes 7-Zip installation directory. This should also fix the pull request #644

[2019-01-08 13:34] karianna commented on #553
#653 has landed

[2019-01-08 17:07] sxa555 opened #655 "Should filesystems size checks/expansions be in the ansible scripts?"
Raised as a result of https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/568#discussion_r234249858 since the AIX playbook DOES currently do filesystem adjustment (https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/ac1bce9f17ef5f0f5d736730d0ea0b8f302bffb3/ansible/playbooks/aix.yml#L34 which calls scripts in https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/ac1bce9f17ef5f

[2019-01-08 17:22] sxa555 commented on #626
I think in terms if running it on your own laptop that is correct, but for anyone who has a server farm, or is running in a virtual machine then it's suitable and for that reason I wouldn't want to hide it from being public.

That's a little bit strange - the x11 startup should be on a secondary X display so I'm a little surprised it interferes. Saying that I'm not sure it needs to be a full X11 s

[2019-01-08 17:23] sxa555 commented on #267
Cancelling this as we're not running JCK tests

[2019-01-08 17:23] #267 closed

[2019-01-08 19:07] #532 closed

[2019-01-08 20:37] flybd5 commented on #626
I don't really have the time to figure this out and fix it for you. I'm up to my gills in other work. My client has an MSA with Azul, though. Maybe they can do something about this.

[2019-01-09 16:24] karianna opened #661 "API playbook NPM install step failed to execute npm install"
Latest PR added octokit/rest but npm install failed to install this via the playbook and a manual npm install was required.

[2019-01-09 16:46] karianna commented on #626
@sxa555 - assuming @flybd5 is unable to test out the latest changes I think it's still a good idea to have some entity outside of Adopt regularly try our scripts out.  One for the TSC to discuss perhaps?

[2019-01-10 13:05] sxa555 opened #665 "cuda installation chews up 1.6Gb in /tmp during playbook execution"
`-rw-r--r--. 1 root root 1643293725 Jan  9 17:11 cuda9_linux-run`

This may be better done on an alternate filesystem since this blew the space on build-joyent-centos69-x64-1 today

[2019-01-10 14:52] #597 closed

[2019-01-10 15:24] sxa555 opened #666 "UNIX playbook fails if /usr/local/bin does not exist"
Objects if /usr/local isn't there, then during the ant role it objects if /usr/local/bin is not in place for the target.

[2019-01-10 15:26] sxa555 opened #667 "Deprecation warnings when executing Linux playbook"
Several of them but this is the one on my screen right now:
[code]

[2019-01-10 17:14] sxa555 commented on #347
Running the current playbooks on the following machines so will see what we end up with - current list with the tag are as follows: https://ci.adoptopenjdk.net/label/sw.tool.docker/ ;-)
- [test-osuosl-ubuntu1604-ppc64le-2](https://ci.adoptopenjdk.net/computer/test-osuosl-ppc64le-ubuntu-16-04-2/)
- [test-packet-ubuntu1604-x64-2](https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-2/)

[2019-01-10 17:45] sxa555 opened #669 "Linux/ppc64le playbook failure on adoptopenjdk10 role"
Required for JDK11 builds. Looking at https://adoptopenjdk.net/releases.html?variant=openjdk10&jvmVariant=hotspot it appears that only x64 platforms (Linux/macos/win) are available. This seems wrong. Options:
- Find where they've gone and reinstate them
- Switch to using the OpenJ9 ones that are there
- Give up and bootstrap with a JDK11
@karianna @johnoliver FYI

[2019-01-10 17:48] AdamBrousseau commented on #669
FWIW at OpenJ9 CI we switched to use 11 for 11 since it will be LTS and 10 is already done.

[2019-01-10 17:58] sxa555 commented on #347
Now installed on both machines - if you can test and let me know if any further setup is needed that isn't in the playbooks that would be good

[2019-01-10 17:59] sxa555 commented on #347
@chandrams looks like there were alrady one ppc64le and s390x machine available - are they working ok for you now?

[2019-01-10 22:18] karianna commented on #669
@johnoliver maybe we can look to provide a one-off build?

[2019-01-11 11:56] gdams commented on #631
A solaris sparc 10 box has been provisioned. We will need a 11 box for jdk9 and above.

No progress with intel solaris so far

[2019-01-11 11:57] gdams commented on #627
can this be closed?

[2019-01-11 11:58] gdams commented on #610
we should probably do the same with one of the s390x and one of the ppc64le machines too

[2019-01-11 12:06] gdams commented on #327
I believe that this is now resolved? @johnoliver ?

[2019-01-11 12:37] karianna commented on #327
This does work (the playbook fails to run npm install but there's a separate bug)

[2019-01-11 12:37] #327 closed

[2019-01-11 12:48] sxa555 commented on #661
Have never used this playbook before but will take a look

[2019-01-11 12:56] sxa555 commented on #661
Was that on the `NPM install api package.json` step - seemed to pass that step ok for me (It didn't run to completion though because `/usr/local/bin/forever` hadn't been created). Not sure why it isn't referencing it from `/usr/bin`.

Creating a link `/usr/local/bin/forever->/usr/bin/forever` appears to allow the operations to succeed (I stripped out the bits that use the jenkins user to avoid nee

[2019-01-11 15:14] karianna commented on #661
We had a PR go in that added a new npm module (octokit/rest) when we ran the playbook it didn't run npm install and when it started (via forever) it naturally failed with a "Can't find octokit/rest" etc.  Hd to manually run npm install on the host.

[2019-01-11 15:51] HusainYusufali commented on #553
Pull request #671 has been opened to fix MSVS 2017 installation. I had to install the package [Desktop development with C++](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-community?view=vs-2017#desktop-development-with-c) to get the DIA SDK. This entire package has extra packages that may not be needed. @sxa555 Do you know which packages are specifically needed?

[2019-01-11 16:57] HusainYusufali commented on #553
Pull request #672 has been opened to fix the NVidia toolkit role which would fail during playbook deployment

[2019-01-11 17:39] sxa555 opened #673 "Allow Vagrantfile to test playbooks on CentOS6"
Since this is our production build environment it would be useful for end users to be able to test changes before committing on CentOS6.0 (provider `generic/CentOS6`

[2019-01-11 18:37] smlambert opened #674 "Jenkins agent issue on test-packet-armv8-ubuntu-16-04"
Unable to start a test run on https://ci.adoptopenjdk.net/computer/test-packet-armv8-ubuntu-16-04/

ERROR: Issue with creating launcher for agent test-packet-armv8-ubuntu-16-04. The agent is being disconnected
[Pipeline] // node

(see https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_aarch64_linux/74/console)

[2019-01-15 14:46] sxa555 opened #676 "git being built on CentOS without http/https support"
Tried in my vagrant system as a result of #673 - the libcurl-devel package on the system does not appear adequate for building git with https support
[code]
by explicitly running configure with `--with-curl=/usr/local/curl-7.61.1` we get the following which results in a version that works. The standard libcurl in the CentOS6 packages is 7.19.7-53:
[code]
Logging this at the moment for more investi

[2019-01-16 15:50] gdams opened #680 "Add new aarch64 test machines"
test-openlab-ubuntu1804-armv8-1 - ubuntu@147.75.198.131
test-openlab-ubuntu1804-armv8-2 - ubuntu@147.75.198.132
test-openlab-ubuntu1804-armv8-3 - ubuntu@199.204.45.37
test-openlab-ubuntu1804-armv8-4 - ubuntu@162.253.55.204
test-openlab-ubuntu1604-armv8-1 - ubuntu@147.75.198.134
test-openlab-ubuntu1604-armv8-2 - ubuntu@147.75.198.137
test-openlab-ubuntu1604-armv8-3 - ubuntu@199.204.45.100
test-open

[2019-01-16 21:33] smlambert commented on #680
Wow!  This is great!

[2019-01-17 10:10] gdams commented on #680
@smlambert centos7 on the way too!!

[2019-01-17 14:30] sxa555 opened #683 "Setup ansible tags to remove build prereqs"
A likely ever increasing proportion of our machines will be used for testing rather than building. This issue will cover adding tags so that `build_tools` can be excluded for test machines in the same way as we've (partially) implemented `test_tools` to be able to eliminate the test prereqs for ease of machine setup by third parties.

While adding the build prereqs to the test machines should not

[2019-01-17 19:53] vielmetti commented on #680
Just based on the IP address ranges and names in use, some of these look like OpenLab OpenStack systems running on servers at Packet. How are these systems configured?

[2019-01-17 19:55] gdams commented on #680
@mrhillsman are you able to help here?

[2019-01-17 20:00] vielmetti commented on #630
A brief update in advance of the TSC meeting.

1. There are currently two server-class architectures that support 32-bit code in addition to 64-bit code on Arm servers. The Hisilicon "Hi1616" chip and the Ampere "eMag 1" chip both do this today.
2. Server-class chips from other vendors, including Marvell ("ThunderX" and "ThunderX2") and Qualcomm ("Centriq 2400"), do not have a 32-bit native execut

[2019-01-17 20:16] mrhillsman commented on #680
@gdams unfortunately i do not have specific config details other than that they are 8vCPU|8G RAM|80G Disk VMs; is there something more being requested?

[2019-01-17 20:21] vielmetti commented on #680
Do you happen to know, @mrhillsman @gdams , which CPU they are running on? `uname -a` or `cpuinfo` would be useful.

(It's possible technically that some of these VMs could be useful for 32-bits as well, hence my questions; and the ThunderX CPU is different enough from the Ampere CPU that you'd notice it.)

[2019-01-17 20:31] mrhillsman commented on #680
@vielmetti i will check shortly and provide output if @gdams does not beat me to it

[2019-01-17 22:20] mrhillsman commented on #680
@vielmetti

root@sample:~# uname -a
Linux sample 4.4.0-140-generic #166-Ubuntu SMP Wed Nov 14 20:10:28 UTC 2018 aarch64 aarch64 aarch64 GNU/Linux

from /proc/cpuinfo:
processor	: 0
BogoMIPS	: 200.00
Features	: fp asimd evtstrm aes pmull sha1 sha2 crc32
CPU implementer	: 0x43
CPU architecture: 8
CPU variant	: 0x1
CPU part	: 0x0a1
CPU revision	: 1

[2019-01-18 10:38] karianna commented on #630
Thanks for the update that's very useful detail

[2019-01-18 15:05] smlambert commented on #674
Just disconnected/reconnected machine from Jenkins, will run test to see if resolved.  (thanks @AdamBrousseau for the suggestion).

If not, will ask that machine gets rebooted to see if resolves the problem.

[2019-01-18 15:38] sxa555 commented on #627
Pretty sure I did a manual install of the appropriate locales, but will double check ...

[2019-01-18 15:48] sxa555 commented on #627
It has the languages installed - is there something else that is needed?
![image](https://user-images.githubusercontent.com/6487691/51396857-dc055900-1b37-11e9-8a1c-3aba4dfc38cf.png)

[2019-01-18 16:33] sxa555 commented on #553
I'm not sure on the specific packages - the only details I have are what's in https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md

[2019-01-18 21:18] smlambert commented on #627
I ran https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/877/
and looks good, the MBCS_Tests_charsets test target passes!

Once the 2nd machine is set up the same way, this can be closed, thanks!!

[2019-01-20 14:06] #676 closed

[2019-01-21 02:41] toshiona commented on #627
@sxa555 Thank you for your kind support. The screen shot indicates Japanese and Korean language pack were installed expectedly.

The remaining setups are below:
- Change language list order and override it
- Change format setting
- Change system locale (Non-Unicode locale) setting
- Reboot

They are also defined in the suggested Ansible Playbook in PR #636.
The Playbook checks installed language p

[2019-01-23 02:44] smlambert commented on #674
Disconnect/reconnect does not help, I have put the machine offline.
Can someone try a reboot?

This blocks aarch64 testing (our only machine).

<img width="826" alt="screen shot 2019-01-22 at 9 43 13 pm" src="https://user-images.githubusercontent.com/2836948/51579388-cc1aab80-1e8e-11e9-9863-5555d9c111a7.png">

[2019-01-24 03:25] smlambert opened #684 "test-softlayer-ubuntu1604-x64-1 missing suitable ssh-agent provider"
I have disabled the test-softlayer-ubuntu1604-x64-1 machine, as testing is not even able to start due to this error, that just started occurring today.

https://ci.adoptopenjdk.net/view/Test_external/job/openjdk11_j9_externaltest_x86-64_linux/108/console

$ ssh-agent
20:49:36 [ssh-agent] FATAL: Could not find a suitable ssh-agent provider
20:49:36 [ssh-agent] Diagnostic report
20:49:36 [ssh-agent]

[2019-01-24 12:09] sxa555 commented on #684
Looks to be out of disk space on `/` which is likely the cause of everything that's failing on that machine ... Investigating

[2019-01-24 12:47] sxa555 commented on #684
`/var/lib/docker` is 19Gb and taking up most of the file system ... Admittedly it's not a particularly large filesystem at 24Gb:
[code]

[2019-01-24 12:55] sxa555 commented on #684
Saying that, there's another 25Gb filesystem in `/home` ... Might be worth adding another FS mounted at `/var/lib/docker` ... FYI @tellison

[2019-01-24 13:04] sxa555 commented on #674
Hmmm easily reproducible as running something from the jenkins script console on that machine shows a problem ...

[2019-01-24 13:08] sxa555 commented on #674
Disconnect/reconnect seems to have worked for me - my script console job now works, and https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_aarch64_linux/90/console appears to be running on it.

[2019-01-24 13:08] #674 closed

[2019-01-24 14:54] sxa555 opened #685 "Rework documentation about running ansible (esp.with Vagrant)"
Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/379 https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/379 https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/423 https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/681 https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/656
New updates put in under https://github.com/AdoptOpenJDK/openjdk-

[2019-01-24 16:11] tellison commented on #684
Added a third disk of 40Gb.  Mount that as required.

[2019-01-24 17:33] sxa555 commented on #684
Done as /var/lib/docker and rsync'd the original directory across (Original files retained as /var/lib/docker-root and also as a tarball in the new filesystem)

[2019-01-24 17:34] sxa555 commented on #684
https://ci.adoptopenjdk.net/job/Grinder/905/console now running on the machine

[2019-01-24 17:45] smlambert commented on #684
Thanks to you both @sxa555 @tellison !

For the record, we will break out all of those tests to run in separate Jenkins jobs instead of all in a single job.  The jobs do clean up after themselves, but not until the end, so at peak, all containers are present.

Shortly 'all' should equal '1', instead of 14 at a time.

[2019-01-24 17:48] sxa555 commented on #684
Job completed ok - closing issue.

[2019-01-24 17:48] #684 closed

[2019-01-25 00:00] jdekonin commented on #212
https://github.com/eclipse/openj9/issues/4375 requests changes to the requirements on an OSX install.  Setting umask to `0002` and /etc/sysctl.conf values for
kern.sysv.shmmax=125839605760
kern.sysv.shmall=30722560

I attempted to use `launchctl config system umask 002` or `launchctl config user umask 002` as per apple documentation, but that didn't work for me.  I made the change within the jenki

[2019-01-25 16:10] sxa555 opened #686 "Install GCC 7.4 on zLinux s390x machines (Can replace 7.3)"
Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/841

[2019-01-28 11:10] toshiona commented on #618
Current Status
Linux: PR was merged.
AIX: Still uncertain how we can install AIX base OS's filesets.

[2019-01-28 13:53] sxa555 opened #689 "Jenkins master out of disk space"
Culprit appears to be the contents of `/var/log/jenkins`. The most recent log (today only!) is 97Gb. The previous day's was about 30Gb.

Currently compressing yesterdays to `jenkins.log.1.SXA` and today's mammoth log to `jenkins.log.SXA.20190128*`

The most recent lines in the log file were:
[code]
which seems likely to be https://issues.jenkins-ci.org/browse/JENKINS-29490 so I have added `-Dhudso

[2019-01-28 13:54] karianna opened #690 "Reduce Jenkins Logging"
Could be related to https://issues.jenkins-ci.org/browse/JENKINS-29490. At least the numbers would match roughly.

not sure they have a solution but the workaround of `-Dhudson.DNSMultiCast.disabled=true`

4 replies
sxa [16 minutes ago]
Worth a shot - surprised it's only just shown up though, but I'll add it on the assumption it's not likely to make anything worse

johno [15 minutes ago]
looking a

[2019-01-28 14:03] sxa555 commented on #690
Have also covered in #689 - do you anticipate doing anything more under this issue now that the new parameter has been added?

[2019-01-28 14:04] sxa555 commented on #686
Now available at https://ci.adoptopenjdk.net/userContent/gcc740+ccache.s390x.tar.xz - will adjust playbooks according and deploy on the second machine

[2019-01-28 14:13] vielmetti commented on #630
New 32-bit ready Arm gear is in, so this can start to move forward. I'll coordinate with @gdams @sxa555 to get a machine reserved to the right place so we can test and set up.

[2019-01-28 17:33] karianna commented on #690
Nope, closing

[2019-01-28 17:33] #690 closed

[2019-01-28 17:33] #689 closed

[2019-01-28 17:49] sxa555 commented on #689
Looks happy - only 3Mb of logs in the last hour :-)

[2019-01-29 10:33] archanaNogriya opened #692 "Configure issue in test-packet-ubuntu1604-x64-1 results test failure for RC1 build"
IPV6 and Intel 6 test is failing in this particular machine all the time test-packet-ubuntu1604-x64-1.
To see the pattern: https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_x86-64_linux/

In the above link, job https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_x86-64_linux/433/ & 436 fails on these tests,
-- | --
java/net/Inet6Address/B6206527.java.B6206527 | 0.34 sec | 1
java/net/ipv6

[2019-01-29 16:49] sxa555 commented on #692
@archanaNogriya Was that supposed to be a table? ;-)

Build 433 - Packet 1 - fail
Build 434 - Softlayer 1 - pass
Build 435 - Softlayer 1 - pass
Build 436 - Scaleway 1 - fail
Build 437 - Packet 2 - success

I can see this in the log - are there any more detailed logs from the execution?

[code]

[2019-01-29 17:46] sxa555 commented on #553
That is https://github.com/AdoptOpenJDK/openjdk-build/issues/813 - delete/rename `clang` from the cygwin directory on the machine

[2019-01-30 09:51] archanaNogriya commented on #692
@sxa555 absolutely and a table is more descriptive, see below.
439 - failed  - Running on test-scaleway-ubuntu1604-x64-1 : failed 	java/rmi/dgc/dgcImplInsulation/DGCImplInsulation.java.DGCImplInsulation
438 - passed - Running on test-packet-ubuntu1604-x64-3
437 -passed - Running on test-packet-ubuntu1604-x64-2
436 -failed - Running on test-scaleway-ubuntu1604-x64-1 3 earlier test failure ipv6 and

[2019-01-30 15:50] sxa555 commented on #692
The scaleway box does have half the amount of RAM as the others (4GB vs 8GB)

[2019-01-30 15:52] sxa555 commented on #692
Can you run a test with just that one test case in isolation on the scaleway machine?

[2019-01-30 15:52] sxa555 commented on #692
I'm assuming the issue on the packet-1 machien was different?

[2019-01-30 15:56] sxa555 commented on #692
They all seem to have some level of IPv6 set up.

[2019-01-30 18:38] sxa opened #693 "Redirect javacore etc. files on AIX so not on ramdisk"
Hitting issues with the core files. Cleared up about 10Gb today. Need to either move them or adjust the jobs so that they clear up after each run.

`rm Snap* javacore* heapdump* core*`

[2019-01-31 13:43] jdekonin commented on #212
Taken from discussion with @cwillhelm, `pmset -a sleep 0` might be of use in stopping the mac from going to sleep and becoming disabled in jenkins.

[2019-01-31 15:50] HusainYusufali commented on #553
Deleting/renaming clang does not fix this issue. Does the Clang path need to be added to the front of the path in the playbook or does the build script specify its location?

[2019-02-01 14:23] HusainYusufali commented on #553
jdk 11 builds successfully when manually inputting the Clang location `C:\openjdk\LLVM64\bin` to the front of the PATH

[2019-02-01 18:59] mrhillsman commented on #680
@gdams @smlambert @vielmetti I was finally able to get centos image built - and working which was the critical part - so any OpenStack based cloud at least facilitated by OpenLab can provide centos7 now as well. I have four ready to handover; not sure if @gdams needs to do any additional setup.

[2019-02-04 14:23] HusainYusufali commented on #553
jdk 8 32-bit and 64-bit build successfully when manually placing the correct Clang location at the front of the path. The commands used to do that are `setx /M PATH "C:\openjdk\LLVM32\bin;%PATH%"` for 32-bit and `setx /M PATH "C:\openjdk\LLVM64\bin;%PATH%"` for 64-bit.

I also had to manually follow this [wiki](https://github.ibm.com/runtimes/infrastructure/wiki/Windows-Post-Ansible-Playbook-Confi

[2019-02-04 15:25] ben-walsh opened #694 "JTReg IPV6 tests consistently failing on Scaleway Linux test machines"
See issue https://github.com/eclipse/openj9/issues/4564.

The test results imply a difference in IPV6 configuration between the Scaleway and Packet Linux test machines.

[2019-02-05 14:31] smlambert opened #695 "Regular & visible ansible refreshes of machines"
Now that the playbooks are more stable, it would be good to have regular and visible machine refreshes, to ensure that new updates to the playbooks will be picked up and deployed on a regular basis. (related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/624 submitted 2 weeks ago, and needs deployment to test machines).  In addition to 'full set of machines' refreshes, for one-off up

[2019-02-05 14:42] AdamBrousseau commented on #695
This is something we are looking into at the OpenJ9 CI as well so there's possibility for collaboration or reusing solutions here. eclipse/openj9#4221

[2019-02-05 14:43] smlambert commented on #695
Thanks Adam, I was going to post that as a related effort.  And was going to post to that issue the question about difference between using Jenkins ansible plugins & schedule versus Tower approach.

[2019-02-05 16:33] karianna commented on #695
AWX should be rolling out updates regularly - I suspect there is a bug.

[2019-02-06 09:13] sxa555 commented on #695
While refreshing regularly is a goal, we're not at the stage where they're stable enough to do it on a regular basis, and that has to be a prereq. We're working on it, but bear in mind we're currently getting very regular requests for new types of systems therefore ensuring we have an infrastructure capable of testing changes before they're deployed in production is critical to ensuring that visib

[2019-02-06 09:20] sxa555 commented on #695
For reference, my plans on this are to start running them manually on subsets of machines, ensure that they are running "green" (many haven't been and I've done a pile of work under the infra repo to get them closer - we're almost there on xlinux I think, but other things like builds keep getting in the way!) This is the best way to understand any stability problems. Then start running the schedul

[2019-02-06 11:20] karianna commented on #489
Haven't made any progress but I'm very keen to get this up.  I'm personally a blocker on things right now, I'll ping #infrastructure to see if anyone is free.

[2019-02-06 13:38] smlambert commented on #695
@sxa555 - apologies, I understood you and Husain were getting very close to playbook goodness, so thought it was timely to propose.  I know you are holding the fort on this work (which I greatly appreciate).

Please let me know if there are any small tasks we can help with... (tricky I know due to permissions, etc).

[2019-02-06 13:41] smlambert commented on #489
If no one is free, but what is left are tasks myself, @llxia or @sophia-guo can take on, please let us know.

[2019-02-06 13:51] karianna commented on #489
I think @sxa555 was starting to take a look...

[2019-02-07 09:06] sxa555 commented on #695
No need to apologise - I want to get there as much as you do :-)

[2019-02-07 09:07] sxa555 commented on #489
The ideal thing would be if we had an ansible playbook to do all of the above so if anyone's free to put one together that would be good ;-) Also this issue mentions Ubuntu 16.04 - would it be a problem if the machine was upgraded to be the newer Ubuntu 18.04?

[2019-02-07 11:25] sxa555 commented on #686
Finalised and live - closing

[2019-02-07 11:25] #686 closed

[2019-02-07 12:38] archanaNogriya commented on #692
Hi @sxa555 sorry for the delay, was caught up on something else with priority.

I have just run this job which is running only java/net in the same machine.

[2019-02-07 13:00] sxa555 commented on #692
Looks like it failed to build something on there:
[code]

[2019-02-07 13:35] sxa555 commented on #695
Shelley has confirmed that my re-run on the first machine has gone cleanly and resolved the issue, so I will be continuing to redeploy on other systems - I'll update this comment as and when each one is done.

- [test-packet-ubuntu1604-x64-3](https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-3/)

[2019-02-07 14:01] smlambert commented on #489
Ubuntu 18.04 would be fine.

I can look at creating a playbook for setting up what is needed for this machine.  👍

[2019-02-07 14:56] smlambert commented on #695
And I will mentioned I verified that I could still run openjdk regression tests on test-packet-ubuntu1604-x64-3, after its refresh

[2019-02-07 15:36] sxa555 commented on #489
That would be awesome if you have the cycles. We've got quite a few systems we don't currently have playbooks for but getting into the routine of generating them for everything new is kinda essential now one way or another.

[2019-02-07 16:24] sxa555 commented on #553
This should be handled automatically by the logic in https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/windows.sh - it shouldn't need to be set on the machine

Which bits specifically can't be automated?

[2019-02-07 19:53] HusainYusufali commented on #553
![32bit build](https://user-images.githubusercontent.com/39133984/52438520-74637d80-2ae7-11e9-8963-6bd60e196a0e.PNG)
 When clang32-bit is at the front of the PATH this is the output of all the builds. Only jdk8-32bit builds successfully. The commands I am using are the ones I specified above. I will place clang 64 at the front of the path and rerun the exact same builds.

The only part that can't

[2019-02-08 03:49] HusainYusufali commented on #553
![64bit build](https://user-images.githubusercontent.com/39133984/52457701-42730b00-2b29-11e9-80ff-4d471c9869f7.PNG)

When clang64-bit is at the front of the PATH jdk8 and jdk11 64-bit builds successfully. This means that it seems that clang is not specified properly in the build scripts.

[2019-02-11 11:40] sxa555 opened #696 "cmake doesn't build via ansible on RHEL69"
Discovered on test-softlayer-rhel69-x64-1
[code]
Exporting the following allows it to work - these just need added to the environment before building on RHEL/CentOS69:
[code]
Was bumped up from 3.7.2 to 3.11.4 under https://github.com/AdoptOpenJDK/openjdk-infrastructure/commit/9db62f7cba5a9acb986e71503816b2f2e985d4d9 for OpenJFX build

[2019-02-11 15:20] sxa555 opened #697 "Ubuntu 16.04 arm32 playbook issues"
`openjdk-7-jdk` missing
`Chown /usr/lib/jvm/jdk-9.*` in `adoptopenjdk9` role doesn't work as directory is `/usr/lib/jvm/jdk-9+181`

[2019-02-12 07:45] toshiona commented on #635
Withdrawing the request.

We tried several ways to use non-English environment without changing default, but we couldn't.
So, we will try to change test case side to cover the area. They couldn't cover 100%, but can be 60% at the current assumption.
Thank you for your supports, anyway.

[2019-02-12 07:45] #635 closed

[2019-02-12 14:22] sxa555 commented on #593
https://github.com/AdoptOpenJDK/openjdk-infrastructure/commit/8d49b3554518609ffd88ab24fad2375f877b7efa covered a first attempt at this, therefore closing. We can add other references as required.

[2019-02-12 14:22] #593 closed

[2019-02-12 14:44] ben-walsh opened #699 "Multicast Networking Non-Functional On zLinux Machines"
I have confirmed using the example multicast client and server code at https://examples.javacodegeeks.com/core-java/net/multicastsocket-net/java-net-multicastsocket-example that a fresh and unmodified zLinux machine provisioned through the Fyre service works.

[2019-02-14 16:32] mrhillsman commented on #680
CentOS VMs (4) have been handed over to @gdams

[2019-02-20 00:26] smlambert commented on #489
I think I will ask for a quick mtg upon your return @sxa555 - I have some playbook 'attempts' in my fork, but would like a quick guide on design intent for playbooks (is it best to have separate roles in separate files, etc).

[2019-02-20 13:47] sophia-guo opened #701 "External tests build consistently failed on machine test-softlayer-ubuntu1604-x64-1"
External tests build consistently failed on machine test-softlayer-ubuntu1604-x64-1  with msg

[code]

https://ci.adoptopenjdk.net/view/Test_external/job/openjdk8_j9_externaltest_x86-64_linux/346/console

Recently there is one build passed on this machine https://ci.adoptopenjdk.net/view/Test_external/job/openjdk8_hs_externaltest_extended_x86-64_linux/153/consoleFull

Not sure any configuration ha

[2019-02-20 14:01] karianna commented on #701
This will need someone at IBM with Softlayer access to resolve

[2019-02-20 15:45] karianna commented on #701
Seems to be resolved now.

[2019-02-20 22:34] tellison commented on #701
I'll admit that I ignore the system warnings coming to me from Softlayer; it may have been a planned outage I didn't pass on.  If there are any substantial outages I'll go and read the messages properly!

[2019-02-21 14:56] sophia-guo commented on #701
@karianna  I could see same failure happened today.  https://ci.adoptopenjdk.net/view/Test_external/job/openjdk8_j9_externaltest_x86-64_linux/348/console.  If there is a planned outage, probably we would just disable it?

[2019-02-21 16:52] karianna commented on #701
I'm not sure if this is a planned outage issue, seems to be more of a regular Jenkins Agent/permissions issue.  If we can get full Adopt staff access to those hosts I can take a look, else it will require an IBM engineer to login and see if they can see what's causing the permissions issue

[2019-02-22 04:54] smlambert commented on #631
Have made changes required to support testing, just need a solaris machine with test prereqs installed on it to turn on testing (https://github.com/AdoptOpenJDK/openjdk-tests/issues/799)

[2019-02-24 20:06] douph1 opened #703 "Missing link/monitoring of download stats dashboard"
Hi,
https://status.adoptopenjdk.net/ do not show / monitor
https://dash.adoptopenjdk.net/
Wich is not referenced in the website too

[2019-02-27 09:20] toshiona opened #704 "Request to install AIX Asian Locales"
For MBCS (Internationalization) tests, we need AIX test environment to be installed the following filesets. They are in AIX Base OS. Because of handling of licensed files, Ansible playbook is not suitable (Ref #657).

I've asked this request in Slack channel, and this issue is for tracking purpose.

bos.iconv.*
bos.loc.com.CN
bos.loc.com.JP
bos.loc.com.utf
bos.loc.iso.*
bos.loc.pc.*
bos.loc.utf.JA

[2019-02-28 13:29] sophia-guo opened #706 "openjdk11_j9_openjdktest_x86-64_windows test build failed with 'no permission'"
openjdk11_j9_openjdktest_x86-64_windows test build consistantly failed with msg:

[code]

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_windows/143/console

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_j9_openjdktest_x86-64_windows/

Could anyone with root or admin permission to do the workspace clean up?

[2019-02-28 13:44] lumpfish opened #707 "build-osuosl-ppc64-aix-71-2 - file system full"
Builds are failing on  build-osuosl-ppc64-aix-71-2:
[code]
Job link: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk12u/job/jdk12u-aix-ppc64-openj9/3/console

[2019-02-28 18:21] jdekonin opened #708 "Ability to configure alternative SDK bootsdk installations for AIX"
It would be nice to be able to use a parameter to select either hotspot or openj9 sdks to be installed.  OpenJ9 project would prefer to use OpenJ9 as the bootjdks.  I propose that the default be hotspot based on variable definition that can be modified at runtime.

[2019-02-28 18:27] jdekonin opened #709 "Duplicate JDK11 tasks in aix playbook"
`Boot JDK 11` and `IBM Java 11 ` appear to be performing the same actions in the aix playbook.

[2019-02-28 18:27] jdekonin opened #710 "Require JDK12 in aix playbooks"

[2019-02-28 20:53] karianna commented on #707
Ramdisk was full of core dumps and heap dumps, kept only the latest.

[2019-02-28 20:53] #707 closed

[2019-02-28 23:01] karianna opened #711 "Mac OS X 10.12.6+ machine required for Java 12 builds"

[2019-02-28 23:12] karianna commented on #706
@sophia-guo File permissions for that file were set to `Unknown+User Unknown+Group`.  I've manaully deleted that file.  Can you try againn.

Also might be worth checking the tests to see if there's any reason those user and group settings were unknow.

[2019-02-28 23:13] karianna commented on #706
Hmm I lie - it's not deleted

[2019-02-28 23:30] karianna commented on #695
Aha - this is the issue I was missing.  Right - I'm happy to pair with @sxa555 and get through this as well.  Got stuck on s390 and ppcle with docker.

[2019-03-01 09:32] gdams commented on #711
shall we kill one of the JCK mac minis and re provision it as 10.12?

[2019-03-01 09:49] karianna commented on #711
Go for it.

[2019-03-01 10:03] gdams commented on #356
closing for now as we've got some openlab machines

[2019-03-01 10:03] #356 closed

[2019-03-01 10:03] gdams commented on #259
@VermaSh can this be closed?

[2019-03-01 10:57] gdams commented on #711
machine provisioned. Will try and run ansible on it soon

[2019-03-01 11:18] karianna commented on #711
Great! Are our Mac OS X ansible scripts PRD ready?

[2019-03-01 11:22] karianna opened #712 "Add Java 11 Boot JDK to Windows build hosts"
- azure:
  - [x] win2008r2-x64-1: {ip: 40.117.211.183, user: adoptopenjdk}
- softlayer:
  - [x] win2012r2-x64-1: {ip: 37.58.103.195, user: Administrator}
  - [x] win2012r2-x64-2: {ip: 37.58.103.196, user: Administrator}

[2019-03-01 11:25] karianna commented on #712
I may struggle to get on the Softlayer boxes, let's see.

[2019-03-01 14:35] jdekonin commented on #711
@cwillhelm has a change in progress #614, otherwise not really.

[2019-03-01 20:19] VermaSh commented on #259
yes

[2019-03-02 12:29] #712 closed

[2019-03-02 12:46] karianna commented on #706
I've asked @gdams for Administrator access details.

[2019-03-02 15:35] #259 closed

[2019-03-04 14:52] gdams commented on #706
okay I've wiped the workspace, let me know if you still see this issue.

[2019-03-04 14:58] #706 closed

[2019-03-05 15:17] sxa555 commented on #708
If this is AIX specific I'd be happy to make OpenJ9 the default on AIX for all builds. Shouldn't negatively impact others. Not sure if there's a specific reason why they want it though over "nice to be able to"

[2019-03-05 15:35] karianna commented on #708
Is Hotspot not supported on AIX? I assumed it was.

[2019-03-05 16:00] sxa555 opened #714 "Sort out yum repos on pLinux and zLinux boxes"
docker-ce repo doesn't work on several p/z-Linux, EPEL failed on zLinux - details in https://github.com/AdoptOpenJDK/openjdk-build/issues/938

Machines have been reset to the "failure" state so probably won't install anything at the moment. Will need appropriate playbook adjustments which this issue can cover as I want to close the immediate build one.

[2019-03-05 20:05] jdekonin opened #715 "Ability to configure alternative SDK bootsdk installations for Windows"
It would be nice to be able to use a parameter to select either hotspot or openj9 sdks to be installed. OpenJ9 project would prefer to use OpenJ9 as the bootjdks. I propose that the default be hotspot based on variable definition that can be modified at runtime.

Same change as #713 should work nicely.

[2019-03-06 11:33] lumpfish commented on #711
Do we have an estimate as to when the machine will be ready for building jdk12?

[2019-03-06 14:53] sophia-guo opened #716 "External test consistently failed on test-packet-ubuntu1604-x64-1 when doing ` apt-get update && apt-get -y install `"
External test consistent failed on test-packet-ubuntu1604-x64-1 when doing ` apt-get update 	&& apt-get -y install `. No same issue with other machine labeled with docker

[code]
 https://ci.adoptopenjdk.net/view/Test_external/job/openjdk8_hs_externaltest_extended_x86-64_linux/165/console

Googled https://bugs.archlinux.org/task/60748

Could be Docker and containerd are in conflict?

[code]

Could

[2019-03-06 16:25] sxa555 commented on #716
To clarify - is this error is happening within a docker container?

[2019-03-06 16:35] sxa555 commented on #716
Ensured the docker and containerd packages are up to date, and restarted the docker service. Now seems to be working ok

Old version:
[code]
and is now:
[code]

[2019-03-06 16:35] #716 closed

[2019-03-06 18:14] jdekonin commented on #708
Hotspot is supported on AIX.  The playbook is defaulting to OpenJ9.  #713 partially resolves.  @HusainYusufali can you update for JDK10 and 11 as well.  I should've caught that in the initial review sorry.  While you are touching the JDK11 section(s), can you please clean up the duplication?  Thanks.

[2019-03-07 00:37] karianna commented on #708
I'm OK swapping between the Eclipse OpenJ9 and Hotspot boot JDK's but as a general philosophy, I think that we should default to Hotspot unless there's a compelling reason to do otherwise.  Cuts down a source of difference.  Happy to be overruled if OpenJ9 should have an OpenJ9 boot JDK

[2019-03-07 13:10] sxa555 commented on #699
The network interfaces are definitely enabled for multicast so not clear why this is failing

[2019-03-07 13:11] sxa555 commented on #312
We've got a paid slack instance now so have the history back - closing

[2019-03-07 13:11] #312 closed

[2019-03-07 16:23] #26 closed

[2019-03-07 16:24] sxa555 commented on #109
Closing this as we are not running the JCK at present so this is is not required

[2019-03-07 16:24] #109 closed

[2019-03-07 16:25] sxa555 commented on #133
Closing as we're no longer running the JCK

[2019-03-07 16:25] #133 closed

[2019-03-07 16:26] sxa555 commented on #213
Closing this as we are not likely to be supporting z/OS in the near future

[2019-03-07 16:26] #213 closed

[2019-03-07 16:26] sxa555 commented on #214
Related #695

[2019-03-07 16:26] sxa555 commented on #214
Related #695

[2019-03-07 16:28] sxa555 commented on #245
Playbook was completed ... Closing

[2019-03-07 16:28] #245 closed

[2019-03-07 16:29] sxa555 commented on #302
Closing as we're not using the machine

[2019-03-07 16:29] #302 closed

[2019-03-07 16:39] sxa555 commented on #347
Will assume this is ok now - please reopen if not

[2019-03-07 16:39] #347 closed

[2019-03-07 16:43] sxa555 commented on #425
Closing as we are not running the JCK

[2019-03-07 16:43] #425 closed

[2019-03-07 16:45] sxa555 commented on #637
@ben-walsh Is this still causing problems? (FYA @smlambert)

[2019-03-07 16:52] sxa555 commented on #529
The `jenkins.log` is nearly 2Gb in size and hasn't had anything written to it in about a month. Shutting down jenkins and rotating the logs.

[2019-03-07 16:52] #529 closed

[2019-03-07 16:52] HusainYusufali commented on #708
AIX is not supported by hotspot on JDK 10 & 11 as shown by trying to download the jdk from the following 2 links:

https://api.adoptopenjdk.net/v2/binary/releases/openjdk10?openjdk_impl=hotspot&os=aix&arch=ppc64&release=latest&type=jdk
https://api.adoptopenjdk.net/v2/binary/releases/openjdk11?openjdk_impl=hotspot&os=aix&arch=ppc64&release=latest&type=jdk

This is why OpenJ9 is the default for JDK

[2019-03-07 16:53] HusainYusufali commented on #709
Pull request #718 submitted to remove duplicate task

[2019-03-07 17:07] sxa555 commented on #710
What is this needed for at the moment, and why does it only affect AIX?

[2019-03-07 17:13] sxa555 commented on #708
@karianna Technically there's no problems using either HotSpot or OpenJ9 as the boot JVM, although for s390x I think there are some significant performance benefits to using the OpenJ9 one and the OpenJ9 team did request that we switch, but I'm not sure what the driver was for this request on AIX.

[2019-03-07 17:19] #562 closed

[2019-03-07 17:20] sxa555 commented on #542
@Mesbah-Alam What's the current status of this - still a problem?

[2019-03-07 17:22] sxa555 commented on #407
Implemented, closing

[2019-03-07 17:22] #407 closed

[2019-03-07 17:26] sxa555 commented on #373
Mostly done now for the main Unix/Windows ones so I'm going to close this - we can improve this as we go forward

[2019-03-07 17:26] #373 closed

[2019-03-07 17:35] sxa555 commented on #626
Related: #685

[2019-03-07 17:37] sxa555 commented on #539
Closing as we're only using one AIX machine for tests - the labels should not be there

[2019-03-07 17:37] #539 closed

[2019-03-07 17:40] sxa555 commented on #313
Closing for now as we're not running JCK - can reopen if that changes.

[2019-03-07 17:40] #313 closed

[2019-03-07 17:41] sxa555 commented on #218
@sophia-guo @smlambert Is this still an issue? It's been around for over a year now

[2019-03-07 17:42] #182 closed

[2019-03-07 17:54] sxa555 commented on #146
Currently sharing with one of the build boxes, but leaving this open since we could really do with more ...

[2019-03-07 18:01] sxa555 commented on #474
No activity on this, therefore closing.

[2019-03-07 18:01] #474 closed

[2019-03-07 19:39] smlambert commented on #218
This was requested back then, as we wanted to enable PR testing for openjdk-tests changes.  We currently run Grinder jobs instead to test changes, which seems to accomplish what we need, which is to verify our changes prior to committing them.

You can close this.

[2019-03-07 19:56] sophia-guo commented on #716
Thanks! @sxa555 could you please also re-enable the machine?

[2019-03-07 23:00] #218 closed

[2019-03-08 09:58] gdams opened #720 "add new linux test hosts"
4 x centos 7
4 x ubuntu 16.04
4 x debian 8

FYI @AdoptOpenJDK/testing

[2019-03-08 10:06] gdams commented on #680
ubuntu16.04 and 18.04 has been added. just waiting to hear back from @mrhillsman about the centos7 machines

[2019-03-08 11:24] sxa555 commented on #212
@gdams Ref the work you did to set up a 10.12 box for https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/711, what needed to be done manually over and above the playbook execution? I know you mentioned the extra boot JDK but I'm guessing there was probably more manual steps required? Would be good to have the current state documented here.

[2019-03-08 11:25] ben-walsh commented on #637
Unknown. We haven't had a run on AIX that produced triageable results for months.
All manual AIX testing was temporarily shifted to internal only due to the machine resource limitations and/or failures.
I'll kick off a grinder job of the full JTReg Sanity suite - which will take at least 4-5 hours to successfully complete (assuming it does). This should be aborted if it's impacting build jobs.

[2019-03-08 11:44] ben-walsh commented on #637
Proceeding - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1188/console

[2019-03-08 15:23] sxa555 commented on #714
docker-ce seems to have been added on `ppc64le` and `s390x` under https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/702 - @HusainYusufali @jdekonin Can you investigate / resolve please?

[2019-03-08 15:40] sxa555 commented on #716
@sophia-guo Sorry - hadn't realised I'd left it off - it's back now :-)

[2019-03-08 16:25] gdams commented on #720
closing

[2019-03-08 17:00] sophia-guo opened #721 "external tests on test-godaddy-ubuntu1604-x64-4 failed when 'RUN apt-get update && apt-get -y install ant apt-transport-https ca-certificates dirmngr curl git make unzip vim wget'"
Looks like those godaddy machine are recent enabled with docker label?

External tests on test-godaddy-ubuntu1604-x64-4 failed when 'RUN apt-get update	&& apt-get -y install ant 	apt-transport-https ca-certificates dirmngr curl git make unzip vim wget'

[code]

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/167/console

[2019-03-08 19:41] sophia-guo commented on #701
Yes, agreed. This is a permission issue similar to windows one https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/706.  Though not sure why|how it happened. Now it only affects the workspace openjdk8_j9_externaltest_x86-64_linux , openjdk8_j9_externaltest_extended_x86-64_linux.

@ShelleyLambert do you have idea who has the permission? We'd like to manually deleted the folder /home/jenki

[2019-03-08 19:48] smlambert commented on #701
@sxa555 - do you have access to test-softlayer-ubuntu1604-x64-1   to clean up some directories that we can't delete logged on with Jenkins id ?

[2019-03-08 20:06] sophia-guo commented on #721
There are also some other docker command failures.
https://ci.adoptopenjdk.net/view/Test_external/job/openjdk11_hs_externaltest_extended_x86-64_linux/154/

https://ci.adoptopenjdk.net/view/Test_external/job/openjdk11_hs_externaltest_x86-64_linux/163/
https://ci.adoptopenjdk.net/view/Test_external/job/openjdk11_j9_externaltest_extended_x86-64_linux/141/

Related with https://github.com/AdoptOpenJDK

[2019-03-11 14:22] sxa555 commented on #721
Are those error messages within the container (I assume so since it's the output from apt-get commands). If so it doesn't obviously sound like an issue on the host side.

[2019-03-11 14:23] sxa555 commented on #721
Can you reproduce it with a simple example outside the test suite i.e. "run this command within this docker image"

[2019-03-11 15:11] sophia-guo commented on #721
I'm not sure if I can access those machines. However the same dockerfile works fine on other hosts https://ci.adoptopenjdk.net/label/ci.role.test&&hw.arch.x86&&sw.os.linux&&sw.tool.docker/ except Godaddy ones.  Note when I say other hosts actually we only have thosts with ubuntu. So I would expect as least godaddy with ubuntu should work(no idea of  godaddy with debian or centos) . However  godadd

[2019-03-11 15:39] sxa555 commented on #721
Can you give me recreate instructions - I need to know the image name and the command to run inside it to replicate in a more isolated form that just running the test

[2019-03-11 16:12] sxa555 commented on #720
@gdams Can you add the hostnames produced by this into the ticket and also provide the details somewhere for others to be able to log in. Reopening until access is provided.

[2019-03-11 16:42] sxa555 commented on #720
Also doesn't look like they're in the inventory

[2019-03-11 18:24] sophia-guo commented on #721
There are different failures for ubuntu, centos and debian. For Ubuntu one you can simply run https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/thirdparty_containers/derby/dockerfile to reproduce it.

[2019-03-11 20:28] Mesbah-Alam opened #722 "unzip command fails on test-openlab-ubuntu1804-armv8-1"
Test builds fails on`test-openlab-ubuntu1804-armv8-1` with following error:

[code]

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1208/console

Likely other newly added aarch64 [machines](https://ci.adoptopenjdk.net/label/hw.arch.aarch64/) also need to be updated with the required software.

Note:
The problem is not seen on `test-packet-armv8-ubuntu-16-04` : https://ci.adoptopenjdk.ne

[2019-03-12 01:33] smlambert opened #723 "test-godaddy-debian8-x64-2 missing docker"
https://ci.adoptopenjdk.net/computer/test-godaddy-debian8-x64-2/

From recent job https://ci.adoptopenjdk.net/view/Test_all/job/openjdk11_j9_externaltest_x86-64_linux/155/console

20:46:48  BUILD FAILED
20:46:48  /home/jenkins/workspace/openjdk11_j9_externaltest_x86-64_linux/openjdk-tests/TestConfig/scripts/build_test.xml:71: The following error occurred while executing this line:
20:46:48  /home/

[2019-03-12 09:10] gdams commented on #722
added unzip to all the new aarch64 machines

[2019-03-12 09:10] #722 closed

[2019-03-12 09:17] gdams commented on #711
@lumpfish can we close this?

[2019-03-12 11:49] karianna commented on #722
@gdams How was this added?  Through Ansible?

[2019-03-12 11:50] karianna commented on #723
I'm assuming the docker install wasn't part of the ansible playbook - @gdams ?

[2019-03-12 12:01] gdams commented on #720
@sxa555 godaddy access is now in the secrets repo

[2019-03-12 14:44] sxa555 commented on #721
Have been able to replicate this with a plain ubuntu docker image. Suggest we remove the docker tag from it for now.

[code]

[2019-03-12 14:44] sxa555 commented on #721
Can you raise a separate issue for the issue on the CentOS machine since that looks like it might be different

[2019-03-12 14:47] sxa555 commented on #721
Have removed `sw.tool.docker` from https://ci.adoptopenjdk.net/computer/test-godaddy-ubuntu1604-x64-4/ for now.

Have just checked `test-godaddy-ubuntu1604-x64-3` and it has the same issue, so I'll remove `sw.tool.docker` from that and also `-1` and `-2` for now on the assumption they all have the same issue

[2019-03-12 15:02] jdekonin opened #725 "Add s390x and ppcle64 architectures to RHEL, CENT, and SLES docker tasks"

[2019-03-12 15:19] smlambert commented on #489
Update on this:

@gdams - thanks for setting this up today, I know you could not have used my 'not working' ansible playbook, if you have one that you used, please include here

George has additionally given access to @llxia - who will set up the TRSS server
and setup the DNS for trss.adoptopenjdk.net.

Once Lan gets things running as expected, we will update this issue.

[2019-03-12 15:35] Mesbah-Alam opened #726 "Ant missing on (some) newly added aarch64 machines"
The following newly added aarch64 machines have been found to not have Ant:

test-openlab-ubuntu1804-armv8-1
test-openlab-ubuntu1604-armv8-​1
test-openlab-ubuntu1804-armv8-2
test-openlab-ubuntu1604-armv8-2

Likely some of the other newly added aarch64 machines have Ant missing as well. test-openlab-ubuntu1604-armv8-3 and test-openlab-ubuntu1604-armv8-4 seem fine (grinders pass on those 2 machines)

[2019-03-12 15:36] Mesbah-Alam commented on #726
FYI : @gdams  @sxa555

[2019-03-12 15:39] sophia-guo commented on #721
The test Dockerfile has never been tried with CentOS and Debian so I'm not sure if Dockerfile itself is good for those OS.

For now could you also remove either  label ci.role.test or sw.tool.docker from those godaddy CentOS and Debian machines?

[2019-03-12 15:48] sxa555 commented on #721
Yes I can do, but it would still be good to create another issue for it so we have the limitation documented

[2019-03-12 15:50] sxa555 commented on #722
@karianna The new machines have not been subject to the standard full ansible playbooks

[2019-03-12 15:55] sxa555 commented on #726
I do not have access to the openlab systems ... @gdams @karianna Can these credentials be added somewhere please? Assigning to gdams to resolve the above issue since he set up the box

[2019-03-12 16:00] sxa555 commented on #701
@sophia-guo @smlambert I have cleared  up `/home/jenkins/workspace/openjdk8_j9_externaltest_x86-64_linux/` and `/home/jenkins/workspace/openjdk8_j9_externaltest_extended_x86-64_linux/` from `test-softlayer-ubuntu1604-x64-1`

[2019-03-12 16:00] #701 closed

[2019-03-12 16:10] sxa555 commented on #723
@karianna The standard full playbooks were not used to set up these machines

[2019-03-12 16:35] sxa555 commented on #714
Kicked off another run via ansible on `build-marist-rhel74-s390x-2` but it failed as the docker-ce repo is already configured on the system.

Have issued: `rm -f /etc/yum.repos.d/docker-ce.repo`

[2019-03-12 16:38] sxa555 commented on #714
Also renamed `/etc/yum.repos.d/epel*repo` as the update was failing:

[code]

[2019-03-12 17:45] smlambert commented on #701
thanks @sxa555 !

[2019-03-12 18:14] sxa555 opened #727 "Jenkins not communicating with build-macstadium-macos1010-2/"
Machine appears online and ok - I can log into it, but jenkins is failing to connect to it. Was working half an hour ago.

https://ci.adoptopenjdk.net/computer/build-macstadium-macos1010-2

[2019-03-12 18:14] sxa555 commented on #727
[code]

[2019-03-12 18:25] sxa555 commented on #727
Seems to have randomly fixed itself ... Hmmmm ...

[2019-03-12 18:25] #727 closed

[2019-03-12 19:00] sxa555 commented on #714
Now running through on build-marist-s390x-1 ... Had an issue with disk space, and have symlinked /usr/local/gcc to another location under /data but AWX has been able to complete the playbook execution there now

[2019-03-12 19:45] Mesbah-Alam commented on #726
This is causing aarch64 system test builds to fail : https://ci.adoptopenjdk.net/view/Test_system/job/openjdk11_hs_systemtest_aarch64_linux/

I've asked Shelley to remove the tag from this particular machine until this issue is resolved.

[2019-03-12 19:46] smlambert commented on #726
I have temporarily removed ci.role.test from this machine so no tests will be sent to it.

[2019-03-12 22:11] smlambert commented on #721
@sophia-guo asked that I remove sw.tool.docker label from all new godaddy machines until this issue is addressed, so that is what I've done.

To rerun a test and check if docker is installed correctly and tests can run correctly, you can run a Grinder with the following parameters set:
Jenkinsfile=openjdk_x86-64_linux
BUILD_LIST=thirdparty_containers/example-test
TARGET=example_test
SDK_RESOURCE=n

[2019-03-12 22:21] karianna commented on #722
OK @gdams - As a general rule let's run the playbook or raise an issue for the package to be added to the playbook if it's missing.

[2019-03-12 22:23] karianna commented on #723
@gdams Can you raise a separate issue for the missing docker package in our playbooks?  I think there was an issue with installing it right?

[2019-03-13 11:32] gdams commented on #489
This is what was run on the machine so far. Happy to PR it in. Was waiting for confirmation that I wasn't missing deps though.

[code]

[2019-03-13 12:00] sxa555 commented on #489
Please PR it as WIP until such confirmation has been obtained - cheers :-)

[2019-03-13 12:54] sxa555 commented on #714
Playbook run successfully. Now doing the same on build-marist-rhel74-s390x-1 and removing docker-ce from build-osuosl-centos74-ppc64le-2 (but retaining epel on there as it's not causing a problem). No comparable updates were needed on build-osuosl-centos74-ppc64le-1 as it didn't have the `docker-ce.repo` in place (although it currently has a `docker.repo` pointing at http://ftp.unicamp.br/pub/ppc6

[2019-03-13 13:06] sxa555 commented on #714
On the two zLinux marist boxes I have issued the following:
[code]
This should help with the problems related to the relatively small root file system on those systems as seen in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/557 and https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/481 and ensure that the updates are applied in a timely manner by the cron entry going fo

[2019-03-13 13:31] sxa555 commented on #714
ppc64le playbooks ran through ok. Now validating marist 1

[2019-03-13 14:31] sxa555 commented on #714
Spotted that https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/691 isn't yet merged so despite the correct level being on the box the playbooks were attempting to put 7.3 on. This is causing some problems because the `/usr/local/gcc -> /data/usr-local-gcc` link (which we should formalise similar to the `var-cache-yum` one is being overridden with a real directory on the `/` file system b

[2019-03-13 14:45] sxa555 commented on #714
Completed successfully on all ppc64le and s390x build systems. Closing.

[2019-03-13 14:45] #714 closed

[2019-03-13 14:48] sxa555 commented on #695
s390x and ppc64le now resolved as per #714 ... Now running on all UNIX `build-*`1 machines to validate whether there are outstanding issues

[2019-03-13 17:16] sxa555 commented on #695
Several machines failed due to the issue addressed by https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/729
[code]
There were a few issues with machines being unreachable
[code]

And a few of special case failures:
`build-joyent-centos69-x64-1` - out of space
`build-marist-sles12-s390x-1` - zypper upgrade failed
`build-osuosl-ubuntu1604-ppc64le-1` - AO10 download failed with 404 from [th

[2019-03-13 19:45] karianna commented on #695
Thanks for the efforts in getting us to green @sxa555 !

[2019-03-14 03:39] smlambert commented on #726
ant also missing from:
test-openlab-ubuntu1604-armv8-2
removing ci.role.test label until machine can be updated

test-openlab-ubuntu1604-armv8-3 and test-openlab-ubuntu1604-armv8-4 seem fine (grinders pass on those 2 machines)

[2019-03-14 13:50] sxa555 commented on #695
`/var/run/systemd/sessions`  on [build-linaro-centos74-armv8-2](https://ci.adoptopenjdk.net/computer/build-linaro-centos74-armv8-2/) is chewing a lot of disk space and is blocking `yum` commands - rebooting to clear.

[2019-03-14 15:29] sxa555 opened #731 "Repository issue on marist rhel74/s390x machines"
No idea where this has come from ... Related: #695 ...
[code]

On the plus side xorg-x11-server-common isn't needed for a build machine, however the GCC 4.8.5 static C++ lib package has shown a similar issue:
[code]

[2019-03-14 16:57] sxa opened #732 "Nagios home user location wrong on build-linaro-centos74-armv8-2"
From running the playbooks on [build-linaro-centos74-armv8-2](https://ci.adoptopenjdk.net/computer/build-linaro-centos74-armv8-2/) - the path to the nagios' user home directory appears to be hard coded to /home/nagios. This error showed up:
[code]
The nagios user is at `/var/spool/nagios` on the machine. As a fix I have symlinked /home/nagios to the correct location but this is a "temporary fudge"

[2019-03-14 19:58] llxia commented on #489
Should we add `nginx` in the playbook?

[2019-03-14 20:28] Mesbah-Alam commented on #726
@smlambert  `test-openlab-ubuntu1804-armv8-2` is missing ant as well. Could we have tag removed from this one as well?

[2019-03-14 21:34] karianna commented on #489
If it's required then yes :-)

[2019-03-14 21:59] smlambert commented on #726
removed ci.role.test labels from test-openlab-ubuntu1604-armv8-1 and test-openlab-ubuntu1804-armv8-2

[2019-03-15 13:16] llxia commented on #489
yes, `nginx` is required.

[2019-03-19 13:51] ben-walsh opened #736 "Connectivity and file access problems reported for test machine test-azure-win2012r2-x64-1 - preventing JDK12 testing"
Consistently fails with ...

[code]

This is the only Windows test machine currently available.

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk12_j9_openjdktest_x86-64_windows shows the same failures for the last 5 days of attempts. We consequently have no test results for the release candidate build and little recent history for triaging purposes.

Curiously, no such problems for 11 an

[2019-03-19 14:03] ben-walsh commented on #736
Appears to be consistently failing to access directory C:\Users\jenkins\workspace\openjdk12_j9_openjdktest_x86-64_windows\openjdk-tests\TestConfig\test_output_15526538561209\jdk_util_0 during cleanup phase each time and this is sufficient to prevent execution of any tests.

Aside resolving this specific problem rapidly, by force deleting the directory in question using an administrator session, in

[2019-03-19 14:10] ben-walsh commented on #736
Job before these is reporting failures to clean up files - possibly the trigger ? - https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk12_j9_openjdktest_x86-64_windows/9/consoleText

[2019-03-19 16:10] sxa555 commented on #736
That's a new (to me) one ...
![image](https://user-images.githubusercontent.com/6487691/54622379-6a775780-4a61-11e9-84a9-e0230199a1c0.png)

[2019-03-19 16:26] sxa555 commented on #736
The `jdk_util_0` subdirectory is in a similar state (same message as above) but doesn't even have an owner somehow (!) and I'm struggling to do anything with it
![image](https://user-images.githubusercontent.com/6487691/54623586-bb884b00-4a63-11e9-83c3-28966a0dfc9e.png)

[2019-03-19 16:32] sxa555 commented on #736
Seems it was in an odd state due to a java process that was holding something in it - have now deleted them - not seen anything quite like this on Windows before but it should now be resolved.

[2019-03-19 16:32] #736 closed

[2019-03-19 18:53] Mesbah-Alam commented on #726
It seems that, even with 'ci.role.test' removed, Grinder-systemtest jobs are still getting scheduled on  `test-openlab-ubuntu1604-armv8-1`. However, job scheduled on it is still complaining about missing Ant: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/21/console.

Not sure if it has anything to do with the new Grinder-systemtest job.

[2019-03-19 19:30] llxia commented on #726
[openjdk_aarch64_linux ](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_aarch64_linux) does not have `ci.role.test` set in label.

[2019-03-19 19:37] Mesbah-Alam commented on #726
@llxia : thanks for pointing out! I guess we were getting lucky earlier. Added that label to the ARM files: https://github.com/AdoptOpenJDK/openjdk-tests/pull/999

[2019-03-19 22:14] jdekonin commented on #708
For this request it was about determining how it would work and getting the code in place such that future merging roles with that of unix.  The current sdk variant for AIX is openj9, but that isn't the case for all platforms.

Cleanup and merges are complete.

[2019-03-19 22:14] #708 closed

[2019-03-20 15:29] jdekonin commented on #709
Fixed via #708

[2019-03-20 15:29] #709 closed

[2019-03-20 18:38] charliegracie opened #738 "Install IcedTea-Web pre-reqs on new Windows build machine"
Building IcedTea-Web on Windows requires the following packages:

- [x] cygwin
- [x] preinstalled jdk
- [ ] tagsoup
- [ ] mslinks
- [ ] wixgen
- [x] wix
- [x] rust
- [x] cargo
- [ ] rhino

Would it be possible to get the required packages installed on a Windows machine?  I have captured the install instructions below for packages I believe are not already installed or in the Ansible playbooks.  I

[2019-03-20 20:18] karianna commented on #738
@sxa555 I'm tempted to say we should spin up specific hosts just for Icedtea-web and have it in its own playbook...

[2019-03-20 21:16] gdams commented on #738
We've got plenty of windows 2016 so could build it on that?

[2019-03-21 00:51] charliegracie commented on #738
I have not personally tried to build it on Windows 2016. @judovana have you tried?

[2019-03-21 11:00] gdams commented on #723
this issue is to do with the fact that the playbooks don't currently install docker on debian. Will close and create an issue to cover this.

[2019-03-21 11:00] #723 closed

[2019-03-21 11:01] gdams opened #739 "Add docker to debian playbook"
the new godaddy debian test machines don't currently have docker installed

[2019-03-21 11:03] gdams commented on #680
missing ant so working on this now

[2019-03-21 11:07] gdams commented on #726
@Mesbah-Alam added ant to all the new aarch64 machines. Please confirm if this now works

[2019-03-21 11:38] sxa555 commented on #738
Yeah with there being so many additional things I'd prefer to do it in a standalone machine at least for now especially given we don't have a tried and tested playbook for it - @gdams can you allocate on for this please? I was expecting this work item to just be a rust installation :-)

[2019-03-21 15:25] karianna opened #740 "Added Jenkins Access logging"
As per https://wiki.jenkins.io/display/JENKINS/Access+Logging

[2019-03-21 15:25] karianna commented on #740
Configuration added and will be enabled on next restart

[2019-03-21 15:25] #740 closed

[2019-03-21 16:12] Mesbah-Alam commented on #726
Thanks @gdams.

Hi @smlambert, could you please re-enable the `ci.role.test` on the following machines?

[code]

[2019-03-21 16:24] smlambert commented on #726
Re-labelling done.

[2019-03-21 19:34] Mesbah-Alam commented on #726
@gdams, We have a different issue now:

The same test works on `test-packet-armv8-ubuntu-16-04` : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/29/consoleFull

But fails on the newly enabled machine ` test-openlab-ubuntu1604-armv8-2`: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder-systemtest/34/console

Error:

[code]

Note, in the working case, we have: ` Ant(TM)

[2019-03-22 03:19] charliegracie commented on #738
The other 4 things are just simple jar files I believe. Any update? I could progress by just downloading them as part of the build until the machine can be configured.

[2019-03-22 11:30] sxa555 commented on #738
@charliegracie Have you added the other jar files to the playbook yet? I'd be reluctant to approve anything that downloaded things to a location outside the build workspace (which from your comment sounds like it is required).

[2019-03-22 12:42] llxia commented on #489
Just for the record, due to https://github.com/AdoptOpenJDK/openjdk-test-tools/issues/68, I upgraded to MongoDB to latest (v4.0.6) on the server machine.

[2019-03-22 14:01] sxa555 commented on #738
@charliegracie in order to unblock you I have installed those prereqs on one of the build machines and added an `icedteabuild` tag on the machine that you can use in your job to ensure it gets scheduled on there: https://ci.adoptopenjdk.net/computer/build-softlayer-win2012r2-x64-1/

[2019-03-22 15:02] sxa555 commented on #695
`numactl` needs to be excluded on arm32:

`failed: [build-scaleway-ubuntu1604-armv7-2] (item=numactl) => {"changed": false, "failed": true, "item": "numactl", "msg": "No package matching 'numactl' is available"}`

[2019-03-22 15:14] sxa555 opened #741 "numactl install is being incorrectly attempted on arm32 machines"
Title says it all - playbook failed as per https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/695#issuecomment-475655109

[2019-03-22 16:07] HusainYusufali commented on #715
Pull request #742 opened to add this feature

[2019-03-22 16:15] sxa555 opened #743 "GIT_Source not being fully run on CentOS74/aarch64 systems"
Seems to be detecting the need for an upgrade, downloading/extracting source, but not building it, yet still running the yum command to uninstall the system one (!) At the risk of stating the bleeding obvious, this shouldn't happen.
[code]

[2019-03-22 19:13] HusainYusufali opened #745 "Ansible: Add JDK12 to Windows playbooks"

[2019-03-22 19:19] HusainYusufali commented on #745
Pull request #744 has been opened to add this feature. Before this pull request is approved issue #715 must be completed by merging pull request #742

[2019-03-22 19:32] HusainYusufali commented on #710
Pull request #746 opened

[2019-03-25 12:03] charliegracie commented on #738
Thanks @sxa555. Did those installs include rust? If so can you do a `which rustc` on the machine and tell me the path? Thanks

[2019-03-25 14:23] sxa555 commented on #738
It's installed as per the playbook, so from the cygwin shell it's `/cygdrive/c/rust/bin/rustc`

[2019-03-28 20:57] jdekonin commented on #710
JDK12 is soon to be a requirement for building openjdk13.

[2019-03-29 18:50] HusainYusufali opened #747 "Ansible: Change lib install location for Freetype 32-bit on Windows"
The location of freetype libraries on windows build scripts is `/cygdrive/c/openjdk/freetype-2.5.3/lib` for 32-bit builds. The real location of the freetype library for 32-bit builds is `/cygdrive/c/openjdk/freetype-2.5.3/lib32`. A symlink is needed to point to this real location

[2019-04-01 19:45] HusainYusufali opened #749 "Ansible: Fix OpenSSL installation on Windows"
OpenSSL is not installing when deploying the Windows playbook even though no errors are reported. The tasks to fix this should be unarchiving openssl, changing the installation method, and add symlinks to reroute the build scripts OpenSSL location to the new OpenSSL.

[2019-04-02 16:38] #741 closed

[2019-04-02 19:08] #715 closed

[2019-04-02 19:09] #710 closed

[2019-04-02 19:09] #745 closed

[2019-04-03 16:15] sxa555 opened #753 "Linaro aarch64 machines currently offline"
Both Linaro machines shown on https://ci.adoptopenjdk.net/label/centos7&&build&&linux&&aarch64/ are currently offline and jenkins is unable to contact them to restart the agent.

[2019-04-05 14:12] sxa opened #756 "Ansible AWX currently on Ubuntu 14.04 which is out of support"
.... Therefore needs a upgrade to migitate security issues

[2019-04-05 19:22] HusainYusufali opened #758 "Ansible: Add JDK 12 Role to Unix Playbook"
Adding the `adoptopenjdk12` role to install JDK 12 on Linux machines. This new role will allow for either Hotspot or OpenJ9 to be installed. Hotspot will be the default. The reason for installing JDK 12 is that it will be used to build JDK 13.

[2019-04-05 19:22] HusainYusufali commented on #758
Pull request #757 opened to add this feature

[2019-04-08 16:19] sophia-guo opened #761 "Tests build got 'No space left on device 08:42:27 > No space left on device'"
Test builds got ' No space left on device' message on  test-softlayer-ubuntu1604-x64-1

[code]
https://ci.adoptopenjdk.net/view/Test_external/job/openjdk8_j9_external_sanity_openliberty-mp-tck_x86-64_linux/21/consoleFull

[2019-04-08 16:50] adamfarley opened #762 "Request for access to test-azure-win2012r2-x64-1"
Can I have ssh access to test-azure-win2012r2-x64-1 so I can run some tests to reproduce a defect?

I need the diagnostic files to continue investigation. Execution on comparable machines elsewhere isn't reproducing the issue.

[2019-04-08 16:50] sxa555 commented on #761
There is at least 3Gb free on each real filesystem on that machine - is it possible that it's something going wrong inside the container?

[2019-04-08 16:54] sxa555 commented on #761
`/var/lib/docker` is using about 30Gb on that machine at the moment, although the filesystem still hasb 8Gb free on it.

[2019-04-08 17:12] adamfarley opened #763 "Request for access to test-osuosl-ppc64le-ubuntu-16-04-1"
To run a test to reproduce a bug that only occurs here, for some reason.

[2019-04-10 12:01] karianna commented on #762
Done

[2019-04-10 12:01] #762 closed

[2019-04-10 13:21] sxa555 commented on #378
Just gone back onto the machine and `/usr/bin` appears pretty much at the start of the PATH (Just after `/usr/local/bin` from a new cygwin shell, so we might be ok now. WIll re-enable and see if anything breaks on it ...

[2019-04-10 14:20] sxa555 commented on #763
Will add @adamfarley's key onto [the machine](https://ci.adoptopenjdk.net/computer/test-osuosl-ppc64le-ubuntu-16-04-1/) temporarily and disable it in jenkins until resolved.

[2019-04-10 14:37] karianna commented on #761
@sxa555 I think some of the test runs may not be cleaning up their docker artifacts.  I also see this:

[code]

They can be removed I suspect.

[2019-04-10 14:45] karianna commented on #761
Cleaned up the files this should be OK now.

[2019-04-10 14:45] #761 closed

[2019-04-10 15:44] #758 closed

[2019-04-10 15:53] karianna commented on #763
Will close once temp access is revoked.

[2019-04-10 16:14] sxa555 commented on #747
@ali-ince Presumably your recent changes render this irrelevant?

[2019-04-10 16:20] ali-ince commented on #747
Yes @sxa555, we can now remove all freetype relevant stuff from the playbook as it's now part of the build.

I can create a PR later today with the relevant changes.

[2019-04-10 16:24] sxa555 opened #765 "Triplicate definition on Marist SLES12 machine"
https://ci.adoptopenjdk.net/computer/build-marist-s390x-sles-12
https://ci.adoptopenjdk.net/computer/test-marist-sles12-s390x-1
https://ci.adoptopenjdk.net/computer/test-marist-s390x-sles-12/

I suspect this was intended to be moved from being a build machine (We don't build on SLES) to a test machine but was never quite completed.

FYI @smlambert as discussed let me know if this machine (any of t

[2019-04-10 16:44] sophia-guo commented on #765
Tried with:
https://ci.adoptopenjdk.net/computer/build-marist-s390x-sles-12
https://ci.adoptopenjdk.net/computer/test-marist-sles12-s390x-1
https://ci.adoptopenjdk.net/computer/test-marist-sles12-s390x-1  -->
https://ci.adoptopenjdk.net/computer/test-marist-s390x-sles-12/

Got different failures:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1457/
https://ci.adoptopenjdk.net/view/Test_

[2019-04-10 22:06] jdekonin opened #767 "Fail to run cmake and protobuf targets from Unix playbook"
Attempting to run the specific tags for either ccache or protobuf fail to be found.

This change appears to be what caused the issue;
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/584

[2019-04-11 10:39] karianna commented on #747
Superseded by https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/766

[2019-04-11 10:39] #747 closed

[2019-04-11 11:51] sxa555 commented on #767
Hmmm yes that's potentially an issue. What's the use case for wanting to run individual ones like that in the playbook?

[2019-04-11 11:52] sxa555 commented on #763
Adam's key hasn't been working. Will aim to debug with him over the next couple of days.

[2019-04-11 12:29] jdekonin commented on #767
I have a machine that is missing protobuf and I don't want to waste time running the entire playbook to get one role.

[2019-04-11 12:31] karianna commented on #767
Doesn't the playbook 'skip' everything that's already in place?

[2019-04-11 12:36] sxa555 commented on #767
@karianna It does but takes a bit longer than is ideal (An issue I'd quite like to look at...)

[2019-04-12 02:29] toshiona commented on #704
Is it possible to ask OSUOSL the situation?

[2019-04-12 11:10] karianna commented on #704
I've asked on Slack

[2019-04-12 13:19] toshiona commented on #704
Thanks!

[2019-04-12 14:01] karianna opened #769 "Have a secure locked down Mac OS X host for our developer account 2FA requirements"

[2019-04-12 15:39] adamfarley commented on #763
Got access. Turns out Windows Putty doesn't like ssh keys with passphrases. Odd.

Anyway, I've completed my test investigation, and this machine can be reenabled.

[2019-04-12 15:45] adamfarley opened #770 "Many machines need process clean-up"
test-osuosl-ppc64le-ubuntu-16-04-1 had dozens of jdi processes left over from tests that didn't clean up properly after themselves.

An issue has been raised for this, and test-osuosl-ppc64le-ubuntu-16-04-1 is now clean, but I suspect test-osuosl-ppc64le-ubuntu-16-04-2 needs the same treatment.

I found this command cleaned up most of the issues: pkill -f "openjdkbinary"

I recommend pausing the m

[2019-04-14 18:03] karianna opened #772 "Change Mission Statement"
Some wording to indicate that we are Infrastructure as Code for other 3rd parties and that we should always make sure to be open for extension.

[2019-04-15 13:21] sxa555 commented on #770
@smlambert Do you have anything in place to mitigate this? We could use a multi-configuration jenkins job to run periodically over all the machines and kill anything that looks like it's hung. With only one jenkins executor per machine it should be fairly easy to determine what has been left around (i.e. just about everything running as the `jenkins` user apart from the jenkins agent and the job t

[2019-04-15 13:30] sxa555 commented on #772
I'll copy in here what I said in slack on this topic :-)

_"I would be nervous about doing that until we've finalised the docs on how to run it. I don't want another of these: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/626 - it's fairly safe now (if you skip a couple of tags) and the Vagrant files are in place to make it easier to deploy in VMs but the docs aren't fully up to da

[2019-04-15 13:54] #749 closed

[2019-04-15 14:37] sxa555 commented on #765
@sophia-guo Those builds have gone. Can you re-run and capture the error messages in the issue please?

[2019-04-15 15:34] smlambert commented on #770
We should likely put a clean up step in the setup stage of testing to look for and kill test related processes (that may have hung due to previous test jobs that were exited in a hung/bad state).

I also agree that a separate job that cleans up stray processes and files will be good and more thorough (as it can search for a broader range of processes to terminate).  There is such a job in use at t

[2019-04-15 16:01] AdamBrousseau commented on #770
https://github.com/eclipse/openj9/blob/master/buildenv/jenkins/jobs/infrastructure/Cleanup-Nodes
https://ci.eclipse.org/openj9/view/Infrastructure/job/Cleanup-Nodes/
https://ci.eclipse.org/openj9/view/Infrastructure/job/Sanitize-Nodes/

Note these are band-aid solutions which I don't like doing. The job has the option to run cleanup, sanitize or both. The jenkins agent is also killed in the saniti

[2019-04-15 17:15] sxa555 commented on #763
Access removed again, machine re-enabled and issue 770 created to resolve the discovered issues.

[2019-04-15 17:15] #763 closed

[2019-04-15 17:31] sxa555 commented on #770
@smlambert Quick and dirty check to identify the scope of the problem - the test machines in red here appear to have rogue java processes left around: https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-processCheck/

[2019-04-15 18:44] smlambert commented on #770
Thanks @sxa555

Your shell script does grep java, does this exclude the Jenkins agent itself which runs on all nodes?

I will edit your script to print the actual processes so we can better understand the root of the problem... - curious if processes are all leftover from openjdk tests or from other types of testing as well.  If from openjdk test jobs, I will say we should additionally be looking

[2019-04-16 12:59] sxa555 commented on #770
No - that one is explicitly grepped out - so in principle it would be safe to have an option on the job to kill all the processes it has detected ...

The job as-is will already show them in the console logs :-)

[2019-04-16 13:01] sxa555 commented on #770
Have removed the offline openlab machines to allow the jobs to complete - killing off runs 1 & 2 which are not completing because of this :-)

[2019-04-16 13:16] smlambert commented on #770
Ya, I have looked more closely at the hung processes and it is very specifically the jdi tests on openj9, we should disable those tests for now, as there appear to be multiple problems.

1 major problem being that some of those tests expect to query a HotspotDiagnosticBean.

It would be good for an OpenJDK contributor to review those tests to see what would be required to make them applicable to m

[2019-04-16 13:23] sxa555 commented on #770
@adamfarley Can you adjust the title of this issue please now that we've seen that it does not appear to be specific to any one machine

[2019-04-17 17:36] smlambert commented on #765
Ran [test on build-marist-s390x-sles-12](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1534) and [test-marist-s390x-sles-12](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1535/console) - fails with this error:

18:47:50  ant -f ./src/build_envInfo.xml -DJAVA_BIN=/data/jenkins/workspace/Grinder/openjdkbinary/j2sdk-image/jre/bin -DJAVAC=/data/jenkins/workspace/Grinder/openjdk

[2019-04-18 12:30] sxa555 opened #774 "Marist hosted (Linux/s390x) machines all offline"
This will likely block the current releases on this platform.
I have also alerted the Node.js project who also have machines hosted at Marist which are offline (They've raised https://github.com/nodejs/build/issues/1784)

Have messaged my liaison with Marist for an update.

[2019-04-18 12:35] sxa555 commented on #774
Response: "we haven't get any email on outage yet, at least not planned...will email them"

[2019-04-18 14:24] sxa555 commented on #774
Back online now. Closing

[2019-04-18 14:24] #774 closed

[2019-04-18 15:41] sxa555 commented on #765
Default java on the machine was 1.8 but `JAVA_HOME` was pointing at a 1.7. Now fixed, and https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1555/ seems to have passed.

[2019-04-18 21:26] karianna commented on #765
@sxa555 This can be closed now?

[2019-04-23 18:42] HusainYusufali commented on #553
The most recent application of the playbooks and completing the post playbook steps allows all the builds complete successfully. The OS's tested were Win 10, Server 2012, Server 2016, and Server 2019.

For Server 2012, powershell needs to updated to version 5.1 in order for the playbook to work correctly. Some roles like Java installation hang when using an older powershell version. This [MSI](htt

[2019-04-24 11:16] sxa555 commented on #553
Is there no way to install the Debugging SDK and VS2010SP1 automatically?
Also, what is the reason for the jenkins user to be granted shutdown permission?

[2019-04-24 11:23] sxa555 commented on #704
@toshiona I'm not sure where `bos.iconv` or `bos.loc.pc` come from, but there is `bos.iconv.com` which is already on the systems and is presumably what has `/usr/bin/iconv` already on the system. Is that ok?

[2019-04-24 11:44] sxa555 commented on #765
Not until I decide which two of the three to delete :-)

[2019-04-24 12:27] toshiona commented on #704
@sxa555 Sorry for your confusion. I intended all packages in bos.iconv group and others. bos.iconv.com is a part of them, but we need other packages as well. I updated the top description. These filesets should be in AIX base OS DVD vol 1 or 2.

By the way, if you are using smit, "smit install_all" shortcut can list bos.loc filesets.

[2019-04-24 13:29] smlambert commented on #765
build-marist-s390x-sles-12 and test-marist-s390x-sles-12 appear to now run tests without incident.

As part of a separate investigation (see https://github.com/eclipse/openj9/issues/5542), I reran a test that was failing on test-marist-sles12-s390x-1.  Test fails consistently on test-marist-sles12-s390x-1, but passes on the others.  One difference, when looking at ulimit info, open files limit on

[2019-04-24 13:43] HusainYusufali commented on #553
Silent mode is not supported for the Debugging SDK and VS2010SP1 requires a Microsoft account to download the installer. The installer also has a warning message that hangs the silent install. The jenkins permission doesn't need to be there. I didn't catch it

[2019-04-26 14:52] sxa555 commented on #553
Hmmm annoying ref VS2010SP1, even more so if it won't silently install.
As far as the Debugging SDK is concerned I suppose to could still download it to the temp directory during the playbook and leave it there for someone to install.

[2019-04-26 14:55] sxa555 commented on #530
As far as I know this is ok now - it fundamentally works (aarch64 may have some other problems) but in the main this is now done and we can deal with subsequent issues as they arise, so I'm closing this issue

[2019-04-26 14:55] #530 closed

[2019-04-26 14:56] sxa555 commented on #542
@Mesbah-Alam Closing for now - if it's still an issue please re-open

[2019-04-26 14:56] #542 closed

[2019-04-26 14:58] sxa555 commented on #489
@gdams @smlambert How close is the playbook to being finalised?

[2019-04-26 15:01] sxa555 commented on #711
@gdams Can you clarify which machine has been set up for this or why else you think it needs to be closed.

[2019-04-26 15:03] sxa555 commented on #594
Completed AFAIK (since we've shipped two releases of JDK12 now!) If anyone knows otherwise feel free to re-open

[2019-04-26 15:03] #594 closed

[2019-04-26 17:00] smlambert commented on #489
While I will defer to @llxia for any final comments, the base playbook that George shared above, with the additional of nginx and requirement of mongodb to be at v4.0.6 or above, seems like the complete story.

[2019-04-29 10:01] karianna commented on #553
We have moved almost all of hotspot to VS2017 - can the same be done here?

[2019-04-29 14:19] sophia-guo opened #777 "Tests build got 'No space left on device 08:42:27 > No space left on device' on test-scaleway-ubuntu1604-x64-1"
All container test builds failed on test-scaleway-ubuntu1604-x64-1 with message '

[code]
https://ci.adoptopenjdk.net/view/Test_external/
https://ci.adoptopenjdk.net/view/Test_external/job/openjdk11_hs_external_extended_elasticsearch_x86-64_linux/28/console

We had exactly same issue before on different machine  test-softlayer-ubuntu1604-x64-1 #761

[2019-04-29 14:22] sophia-guo commented on #777
With only jenkins permission using 'docker volume ls' I can see there are some docker volumes here. Not sure how much disk space they occupied.

I've manually done with `docker volume rm $(docker volume ls  -q --filter dangling=true)` hope it helps.

[2019-04-29 14:34] sophia-guo commented on #777
If those dangling volumes are the real reason of this issue we need to think about how to delete those volumes either by jenkins regular maintenance or the builds using dockers.

[2019-04-29 17:00] jdekonin commented on #553
JDK8 Hotspot compile jobs [1] are using 2013, JDK8 OpenJ9 compile jobs [2] are using VS2010.  Oracle supported toolchain [3] is VS2010 atm.  I am not sure as to the current status on VS2017 for JDK8 compiles but when I attempted a few months ago for use with OpenJ9 it wasn't working.

1. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/254/consoleFull

[2019-04-29 17:51] sophia-guo commented on #777
Remove Docker dangling volumes didn't help

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/350/console

@sxa555 any idea?

[2019-04-30 13:40] sxa555 commented on #777
Cleanup done - there were a a lot of old versions of the images kicking around on the machine. Will raise a separate issue for cleaning this up going forward

[2019-04-30 13:40] #777 closed

[2019-04-30 13:48] sxa555 opened #778 "Policy/process for cleaning up old docker images on machines"
Regarding https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/777 we need to determine how to deal with old docker images. Each time we do a pull of the current image the previous one gets left on the system and therefore the disk space required is continually expanding storing old images. Other artefacts may also be an issue.

[2019-04-30 13:54] sxa555 commented on #669
Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/1011

[2019-04-30 16:54] sxa555 commented on #756
Failed die to the `/tmp/awxcompose` directory not being correctly regenerated. After a reboot (regardless of whether an upgrade has been performed) the contents of that directory is three subdirectories:
[code]
Obviously, they should be files. After a normal setup there is also a `docker-compose.yml` that's in there.

[2019-04-30 17:04] sxa555 commented on #553
@HusainYusufali Can the powershell update be automated?

[2019-04-30 20:05] HusainYusufali commented on #553
It can be automated. I will add that to the playbook

[2019-05-02 14:00] grzesuav opened #779 "Install `nvm` on jenkins"
In order to enable `snyk` analysis, I would need `nvm` installed, to use it for install `npm` and `snyk`

[2019-05-02 14:49] karianna commented on #779
We should identify the scope of which Docker containers we want to scan and where and when.  My understanding is that we currently:

1. via openjdk-build scripts, we run the build in a docker container to test that our "build in a docker container" functionality works for users outside of Adopt (as in Adopt we currently build on 'bare metal' (or close enough to it).  This functionality isn't well

[2019-05-02 15:05] grzesuav commented on #779
I would suggest that most beneficial would be hook it into 2. as :
* those scripts are relatively simple
* they are used to produce AdoptOpenJDK docker images

[2019-05-02 16:58] karianna commented on #779
OK, given snyk is enabled for that repo - does that integration not check the resulting image? Or does the GitHub integration not scan containers?

[2019-05-03 08:48] neomatrix369 opened #780 "Jenkins MacOS slaves might night an update / upgrade with software on them"
_Raising this issue on the back of the Slack conversation (https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1556834573031000)._

Recently a graal build failed due to an outdated version of TLS / OpenSSL on it:

[code]
rest of the logs can be seen at https://ci.adoptopenjdk.net/job/jdk8-with-graal_build_x86-64_macos/lastBuild/console

Possibly a manual or an ansible script update should help with

[2019-05-03 12:58] karianna commented on #780
@neomatrix369 I've updated to 1.0.2r Can you try again?

[2019-05-03 12:59] sxa555 commented on #780
Tagging #554 so this can be added when appropriate

[2019-05-03 15:14] charliegracie opened #781 "Linux build requirements for ITW"
To complete the builds for ITW on Linux the following packages have to be installed on a CentOS6.9 machine (or RHEL6.9 I guess) that has basic build tools (autoconf, gcc, make, etc.).

There are a few extra requirements but the biggest bottlenecks are Rust and a newer version of pkg-config. With these installed the other requirements can be downloaded to the workspace and they are small so the dow

[2019-05-03 15:39] sxa555 commented on #781
For now, I've installed them on [build-joyent-centos69-x64-1](https://ci.adoptopenjdk.net/computer/build-joyent-centos69-x64-1) which is now tagged with `icedteabuild` to be able to select it. You'll need to put `/usr/local/bin` explicitly at the start of the path to pick up the newer pkgconfig.

I'll leave this open until I've sorted the playbooks as well after we confirm that this is ok.

[2019-05-03 15:53] charliegracie commented on #781
Hmm it has the same pkg-config issue.  I think it is because the `pkg.m4` it is finding is the one from the original version of pkg-config and not the new version installed into `/usr/local/...`

[2019-05-03 15:54] charliegracie commented on #781
I am not sure how to force it to find the new definitions...

[2019-05-03 16:03] sxa555 commented on #781
That sounds rather broken if it's not using it's `local` one first :-(

Do you have a pkg-config invocation that I can use to reproduce it?

[2019-05-05 01:14] jdekonin commented on #781
You need to setup a PKG_CONFIG_PATH environment variable.  Same problem exists on AIX.

https://askubuntu.com/questions/210210/pkg-config-path-environment-variable

[2019-05-06 12:29] charliegracie commented on #781
@jdekonin I thought that might be it too but I do not believe it is.  I tried setting it and it did not resolve the issue.

When the test runs autoconf.sh that script will invoke `aclocal` to find m4 files to be used as automake macros. The issue is the search path for `aclocal` is not related to any particular tool or software package but instead tools install their .m4 files into the proper fold

[2019-05-06 15:41] charliegracie commented on #781
After looking through a lot of source code and stackoverflow discussions it appears that this type of issue is fairly common.  The solutions are:
1. install the latest version of pkg-config into the default `/usr` instead of `/usr/local/`.
2. install the latest version of automake into the default `/usr` which provides new options for overriding the search paths, etc.
3. install the latest automak

[2019-05-06 17:44] charliegracie commented on #781
By following #3 I only had to add `/usr/local/bin` to the PATH and everything else worked.

[2019-05-07 02:40] neomatrix369 commented on #780
It's failing for another reason, can't confirm yet if your fix worked @karianna. I'll come back to this again and let you know.

[2019-05-07 02:42] neomatrix369 commented on #780
On another note which is a separate issue. One or all of your Linux slaves are running python 2.6.x, instead of 2.7. In fact 3.7 should be a standard on all of them, unless there are apps that specifically need 2.7.

I'll raise a separate issue on that one.

[2019-05-07 13:54] sxa555 commented on #781
Option 3 sounds good as it won't involve changing anything on the original system so I'll look at doing that.

[2019-05-07 14:16] charliegracie commented on #781
It works!

[2019-05-07 15:26] grzesuav commented on #779
github integration does not scan Dockerfiles/images

[2019-05-07 15:28] grzesuav commented on #779
https://snyk.io/docs/github/#integration-features

[2019-05-09 10:28] JamieMagee commented on #667
@sxa555 This is closed by 56cf60f9e4c4bbb3ffcae69fdb33d9944ec4dd97

[2019-05-09 10:43] JamieMagee opened #782 "Update ansible-lint to v4"
`ansible-lint` has a new major version release, v4, which adds a lot of new default rules.

[2019-05-10 08:01] #667 closed

[2019-05-10 14:17] beckje01 commented on #276
@gdams Please review, might be able to close this.

[2019-05-13 16:16] smlambert opened #784 "Unable to delete test directories on test-azure-win2012r2-x64-1"
Urgent:

We have a **single Windows test machine online** and it is in bad shape, so there is effectively no testing on this platform at the moment.

example of failures:  https://ci.adoptopenjdk.net/view/Test_all/job/openjdk11_hs_openjdktest_extended_x86-64_windows/11/console

Running on test-azure-win2012r2-x64-1 in C:\Users\jenkins\workspace\openjdk11_hs_openjdktest_extended_x86-64_windows
[Pip

[2019-05-14 11:13] #276 closed

[2019-05-14 19:21] piyush286 opened #785 "Allow Jenkins Daemon User to Kill Processes Without Requiring Password (test-packet-ubuntu1604-x64-2 & test-softlayer-ubuntu1604-x64-1)"
### Proposed Changes

I would request to allow Jenkins Daemon User to kill processes without requiring password. This would enhance our performance measurements for all benchmarks such as Open Liberty with Daytrader7. Thanks!

Currently, we just have 2 machines labelled with `ci.role.perf`: https://ci.adoptopenjdk.net/label/ci.role.perf/

We need to give privileges for `kill` to Jenkins Daemon use

[2019-05-15 01:45] karianna commented on #784
The following files are the culprit - I only have an `adoptopenjdk` user, I need some sort of Administrator to remove these (or perhaps be the jenkins user)

[code]

[2019-05-16 18:53] piyush286 opened #786 "Enable Huge Pages on 2 x86 Perf Machines (test-packet-ubuntu1604-x64-2 & test-softlayer-ubuntu1604-x64-1)"
### Proposed Changes

I would request to enable huge pages on the perf machines. This would enhance our footprint measurements for Open Liberty with Daytrader7. Thanks!

Currently, we just have to machine labelled with `ci.role.perf`: https://ci.adoptopenjdk.net/label/ci.role.perf/

### Justification

Please refer to this prerequisite for perf testing: https://github.com/AdoptOpenJDK/openjdk-tests

[2019-05-16 19:36] piyush286 opened #787 "Install SSH Keys/STAF on test-packet-ubuntu1604-x64-2 & test-softlayer-ubuntu1604-x64-1"
### Proposed Changes

I would request to install Software Testing Automation Framework (STAF) on 2 perf machines. This would allow us to run benchmarks such as Open Liberty with DayTrader that require 2 machines to communicate with each other. Thanks!

Currently, we just have 2 machines labelled with `ci.role.perf`: https://ci.adoptopenjdk.net/label/ci.role.perf/

We need to install STAF on those

[2019-05-16 23:42] neomatrix369 opened #788 "One or all of the Linux slaves need python upgrade"
One or all of your Linux slaves are running python 2.6.x, instead of 2.7. In fact 3.7 should be a standard on all of them, unless there are apps that specifically need 2.7.

This is causing build apps requiring 2.7 or higher to break.

[2019-05-16 23:45] neomatrix369 opened #789 "Jenkins Windows slave fails to install JDK"
See https://ci.adoptopenjdk.net/job/jdk8-with-graal_build_x86-64_windows/17/console, the Windows slave loops through a number of times and then times out.

Something on that slave or all slaves are preventing from the JDK from being installed.

[2019-05-16 23:49] neomatrix369 commented on #780
Looking at the logs on https://ci.adoptopenjdk.net/job/jdk8-with-graal_build_x86-64_macos/359/console, it seems `clang` is acting up, on this instance, we never had these errors before.

Any `clang` experts on the list?

[2019-05-20 08:23] karianna commented on #788
For reference, this is currently only breaking Graal builds.

[2019-05-20 18:55] neomatrix369 commented on #788
Well I think this issue has been fixed, as the build does not break due to python version anymore - someone might have fixed it or some technical change on the infra end fixed it.

Although it's breaking now due to disk space which isn't relevant to this issue: https://ci.adoptopenjdk.net/job/jdk8-with-graal_build_x86-64_linux/20/console

Last successful build: https://ci.adoptopenjdk.net/job/jdk8

[2019-05-20 18:55] #788 closed

[2019-05-20 18:57] neomatrix369 commented on #789
In the meanwhile, I will try to apply the suggestions provided on slack:
https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1556882699040100

[2019-05-20 19:29] gdams commented on #789
@neomatrix369 we don't install JDK's using the jenkins tool, you should find all the openjdk versions already installed on the machine.

[2019-05-20 19:30] gdams commented on #789
JDK8 on that particular machine is in `/cygdrive/c/openjdk/jdk8`

[2019-05-20 19:30] #789 closed

[2019-05-22 09:16] sxa555 opened #790 "Clean up abandoned/obsolete jobs in jenkins"
Working with Martijn on this - will report results and what we've done in this issue for future reference

TODO: Go through the Work in progress tab and encourage anyone with jobs in there to prefix them with their name

Also there are quite a lot of old jobs in the pipeline directories which are being kept (mostly but not exclusively GA ones) that could do with being cleaned up as they are chewin

[2019-05-22 09:44] karianna commented on #790
We've made good progress - awaiting feedback from several job owners to clean up more

[2019-05-22 09:49] sxa555 commented on #790
List of jobs which we deleted today:

[code]

[2019-05-23 11:20] adamfarley opened #791 "Enable Local Execution of Windows Playbook"
When running the Ansible playbook locally on Windows, there are various blockers which prevent successful execution. The ones we know about are listed below, as well as the work-arounds we used to resolve them.

Note: After all these changes, the playbook still don't run to completion locally. This is just the point where we gave up, and set up a remote ansible server.

The objective of this issue

[2019-05-23 11:22] adamfarley commented on #553
Some issues running the Windows playbook locally have been documented here:  https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/791

[2019-05-24 17:35] sxa555 commented on #626
Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/791

[2019-05-24 17:38] sxa555 commented on #791
Alternative is to run it from a Linux (except RHEL7 which will have a problem with the pyOpenSSL version - may be fixable using a python  venv) or other machine that's got ansible installed. Safest way is to run this on the other machine that has ansible installed to get the appropriate protocol packages installed:
[code]
Run the `ps1` script with the EnableCredSSP option documented in the playboo

[2019-05-24 17:39] sxa555 commented on #791
Ref the `Jenkins` roles it would be useful to know the error, but we should implement a suitable tag which matches what was done on the UNIX side under https://github.com/AdoptOpenJDK/openjdk-infrastructure/commit/04502f26df34ba8a13822c98e9be323629b4ce97

[2019-05-28 13:34] sxa555 commented on #787
Hmmm I thought DayTrader was standalone and only used one machine. We need to think about the implications of this and how to set up authentication given that these machines are on the internet. Also:

- Do you just need the base STAF on it i.e. no  STAX etc.?
- If not already done, we need to consider the implications of running performance testing on machines that are connected to jenkins and so

[2019-05-28 14:57] piyush286 commented on #787
@sxa555 We can use Liberty + Apps (i.e. DayTrader/AcmeAir) to do startup and throughput runs. While startup and footprint runs are standalone, requiring just one machine, we do need 2 machines for DayTrader throughput runs, one machine as the Liberty DayTrader server and another machine with the database for driving the load. So the setup would look like this:

Machine 1: Liberty Server (DayTrader

[2019-05-28 15:41] sxa555 commented on #785
Can you clarify what's needed here. The jenkins user (which everything executed through jenkins is run as) should be able to kill everything that it is running. What is it unable to kill?

[2019-05-28 15:46] sxa555 commented on #553
When run multiple times one of the `PATH` additions fails - this needs to be idempotent:
[code]

[2019-05-28 16:08] sxa555 commented on #786
Do you have the information on  how to enable it?

[2019-05-28 16:17] sxa555 opened #793 "Document existance of https://ci.adoptopenjdk.net/computer/docker-joyent-win2016-x64-1/"
Doesn't appear in inventory file. Cannot see any obvious issue relating to this machine. Unclear whya new machine was needed (W2016 requirement?).
@dinogun do you know the history or have a link to the requirement?

[2019-05-28 16:27] sxa555 commented on #787
I've manually created and stuck the ssh keys on both machines to allow them to communicate with each other for now to allow you to test  then I'll discuss the final strategy once I can talk to Shelley again since I need to ensure we have a solution to  both machines currently being controlled by jenkins too.

Give it a shot and let me know how it goes!

[2019-05-28 16:39] sxa555 commented on #784
The `adoptopenjdk` user is an adminstrator so this shouldn't have been an issue. I'm going to reboot the machine (it's got some pending updates anyway) so will see if that allows us to clear it.

[2019-05-28 16:45] sxa555 commented on #784
Offending files vanished on a reboot without me having to take any further action.

[2019-05-28 16:45] #784 closed

[2019-05-28 17:49] piyush286 commented on #785
@sxa555 While running a benchmark, we want to make sure that only the processes related to that benchmark are running. At the start of most of our benchmarks, we kill any unnecessary processes, mainly java processes from previous runs since we're mainly using our machines for JVM testing.

To make it more clear, when we start Liberty, we call this function `terminateRunningJavaProcs` to kill all J

[2019-05-28 18:01] sxa555 commented on #627
`-2` now set up via playbooks (first production machine to be done this way, so may be teething trouble) but with c:\openjdk\jdk-* symlinks created manually. Korean and Japanese locales installed. Let me know by reopening this issue if this causes any problems. I'll try and keep an eye on it

https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-2/

[2019-05-28 18:08] piyush286 commented on #786
@sxa555 I've listed some general notes on how to enable huge pages. Those steps might vary a bit depending on the OS version. We want to make these huge pages persistent so that they are enabled even after a reboot.

- Set the number of hugepages accordingly depending on how much memory (i.e. MemTotal) the machine has. The system won't reboot if you allocate more hugepages than the system memory c

[2019-05-28 19:14] piyush286 commented on #787
Thanks a lot Stewart! Yeah we need to find some solution that prevents both machines (Server and client) from running anything besides the current benchmark job.

While Jenkins will have control over one of the machine (i.e. Liberty server) which would be used to launch the benchmarks, it wouldn't have control over the slave machines (i.e. Liberty client) that are used through STAF or SSH commands

[2019-05-29 10:21] karianna commented on #784
Dang it - I remember that's what we had to do last time as well - there has to be a better way going forward :-/.  So we need to stop producing those files in the tests...

[2019-05-29 10:30] lumpfish opened #794 "Increase MacOS test capability"
While testing the jdk-11.0.3+7_openj9-0.14.2 release I observed that the biggest 'laggard' in the build + test process was the MacOS test jobs:

- openjdk test job submitted 28/05/2019 11:52
- then "Waiting for next available executor on ‘ci.role.test&&hw.arch.x86&&sw.os.osx’"
- tests started running 29/05/2019 10:53

So nearly 24 hours waiting for a machine to become available.

Once running, the

[2019-05-29 11:05] sxa555 commented on #553
On the assumption that the later PowerShell is only erquired for this operation I have submitted https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/795

[2019-05-29 11:06] sxa555 commented on #553
The issue with the `SETX` of the cygwin PATH is because there is a `"` mark in the PATH - one of the entries is `C:\Program Files\Microft SQL Server\100\DTS\Binn"`

[2019-05-29 11:16] sxa555 commented on #553
Modified the SETX so that quote marks are removed from the PATH before it is processed under https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/796

[2019-05-29 11:22] sxa555 commented on #787
Yep - if the machiens were dedicated for these purposes that would be easy as we'd just have the jenkins slave active on one of them. We'll figure a way around it though - there are options ...

[2019-05-29 11:28] sxa555 commented on #786
How much would you recommend for your use relative to the total memory? I could set the number of HugePages to `1` and that would meet your formula but I'm guessing you'd like more :-)

[2019-05-29 12:04] sxa555 commented on #785
Do you know what machine that was? Interested to look at the state of the machine and find out what it was. It's either somethign that should be running or something that probably shouldn't be killed.

[2019-05-29 13:39] karianna commented on #794
@sxa555 Redeploying the JCK machines is a good idea in the short term, we'd just need to change their labels right?  Or do you also want to rename the host?

[2019-05-29 14:25] piyush286 commented on #787
Yup that can partially resolve this issue. However, it's possible that 2 different server machines running at the same time could use the same slave machine, in which case we'll have to have some solution in order avoid that situation so that one slave can only be used by one benchmark run at a time.

[2019-05-29 14:30] piyush286 commented on #786
Haha! For our internal perf machines, we usually set the total memory allocated for huge pages to around 70% of the total memory so I guess we can use a similar ratio for these machines if that sounds good to you.

[2019-05-29 14:34] piyush286 commented on #785
From the runs I've launched so far, I've usually seen extra java processes running on this machine: https://ci.adoptopenjdk.net/computer/test-softlayer-ubuntu1604-x64-1/

AFAIR, the other perf machine (https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-2/) seems to be good.

[2019-05-29 15:13] sxa555 commented on #785
There appears to be multiple java processes running as root on that machine from May 12th initiating from `bash /kafka-test.sh`. I'll discuss in #testing in that adoptopenjdk slack to find out why that's there.

[2019-05-29 15:21] sxa555 commented on #785
@smlambert has confirmed that it's a cleanup issue with the externaltest docker images. I've shut down the two problematic containers which resolves the immediate problem:

[code]

[2019-05-29 15:21] #785 closed

[2019-05-29 15:39] sxa555 commented on #794
@karianna The only thing that stopped me doing this was not having playbooks fully ready for macosx, but in principle that's how to do it - remove it from the other jenkins instance and reconnect it to this one after wiping the JCK material from them

[2019-05-30 12:13] sxa555 opened #797 "Update playbooks to be able to build OpenJFX on RHEL6/7"
Changes are in to build on Ubuntu, but if possible we want to build on RHEL/CentOS to be consistent with our other build machines.

[2019-05-30 12:14] sxa opened #798 "Update playbooks to include the OpenJFX prereqs on Windows"
Windows playbooks are now in a usable state - we need to update them in order to include prereqs required to build OpenJFX

[2019-05-30 12:31] sxa555 opened #799 "RedHat playbooks should not set default java to the IBM ones"
e.g. https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/347f5ceb6c0e5b6dd82b8ce921bfe03a1eccd18f/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml#L98 - can't guarantee that the IBM java is installed (and we shoudln't be relying on it anyway)

[2019-05-31 11:12] sxa555 commented on #794
I'll look at moving one of the JCK macs across once the current round of releases (JDK11 for OpenJ9 0.14.3 and JDK8 b04 for HotSpot) are done to avoid risking destabilising anything)

[2019-05-31 11:32] sxa555 commented on #553
Note that the symptoms if you don't have VS2010SP1 installed you run into this issue: https://github.com/eclipse/openj9/issues/938 with the `_xgetvb` symbol not being found

[2019-05-31 14:45] sxa555 opened #803 "gcc_48 role on RHEL6 fails (Thinks it's cross compiling?)"
Operation: Download from https://gnu.mirror.globo.tech/gcc/gcc-4.8.5/gcc-4.8.5.tar.gz
and run
[code]
as per [the playbook](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/94756d4beb8cf4acec33202a1354a5105569f733/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/gcc_48/tasks/main.yml#L41)

Same problem doesn't occur when running from the command line, only via the playbook:
[code]

[2019-06-04 09:02] lumpfish opened #804 "openjdk test pipeline failing on test-azure-win2012r2-x64-1"
After tests have run (successfully) on test-azure-win2012r2-x64-1, the Jenkins job fails with the messages:
[code]
e.g. see https://ci.adoptopenjdk.net/job/openjdk8_j9_openjdktest_x86-64_windows/294/console

[2019-06-04 15:32] sxa555 commented on #804
Have bounced the jenkins agent - let me know if that resolves it ... It looks like the sort of error that might be cured by this - post any new job link if it shows up again.

[2019-06-06 11:45] karianna commented on #804
It's running again

[2019-06-06 11:45] #804 closed

[2019-06-18 15:51] sxa opened #805 "Re-label ssh key being used for jenkins auth so it does not have George's name in it"
At the moment the public ssh key named `george@Georges-MacBook-Pro-Work.local` is the one used for authenticating our Jenkins server to the agent on the machines. We should use something more descriptive and not user-specific (either by replacing the key or the label globally)

[2019-06-18 16:00] sxa555 commented on #794
Have moved one JCK mac across as https://ci.adoptopenjdk.net/computer/test-macincloud-macos1010-3-XJ/ (without any additional setup yet)

[2019-06-18 16:01] sxa555 commented on #610
https://ci.adoptopenjdk.net/computer/test-macincloud-macos1010-3-XJ/ and https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-2-XJ/ have been repurposed onto the main jenkins server - currently without any modifications. The s390x one will almost certainly fail to run variuos things without the playbooks being executed on it. The mac one we don't have playbooks fro so that may need ma

[2019-06-18 21:27] jdekonin opened #807 "Redhat6 x86 playbooks not 100% functional"
I ran into a few issues creating a machine from scratch yesterday.
- cmake requires c++11 support, which #801 has covered
- fix conditional such that openjdk7/8 are installed
- correct java alternative for x86 as its openjdk and not the ibm package that installed
- compile expat from source, such that cpanm install of XML parser works
- ccache fails to uncompress...seems to be working fine now whe

[2019-06-18 21:29] jdekonin commented on #807
I think PR #806 covers the issue I raised, minus ccache which is working now so a non-issue.

[2019-06-19 17:46] sophia-guo opened #808 "Test machines naming with '-XJ' don't have required module installed"
Test running on https://ci.adoptopenjdk.net/computer/test-macincloud-macos1010-3-XJ/ failed with message:

[code]

https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk8_j9_openjdktest_x86-64_macos/217/consoleFull

Text/CSV.pm is required for running Testkitgen

[2019-06-19 17:52] sophia-guo commented on #808
Same issue for tests on s390x test-marist-ubuntu1604-s390x-2-XJ.

[2019-06-20 13:20] sxa555 commented on #807
Can you give the errors that are showing on your install? I don't remember those from the last time I ran the playbooks and it's not entirely obvious what's going wrong from the problem descriptions.. The exception is the IBM java package issue which has also been reported in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/799

[2019-06-20 13:44] sxa555 commented on #808
The s390x box should be ok now - let me know if there are any further isssues

[2019-06-20 14:12] sxa555 commented on #808
Have now also installed `Text::CSV`, `XML::Parser` and `JSON` onto the mac system

[2019-06-20 19:42] sophia-guo commented on #808
antlib is also missing on mac system. https://ci.adoptopenjdk.net/view/Test_openjdk/job/openjdk11_hs_openjdktest_x86-64_macos/225/console

[2019-06-24 09:14] gdams commented on #805
To be clear, it's not actually my personal key, it was just generated on my laptop, If you change the email address of the key then all will be fine

[2019-06-24 09:43] karianna commented on #794
Looks like that's being used well, thanks

[2019-06-24 16:45] maru-sama opened #810 "jdk8u-windows-x64-hotspot fails to build"
I noticed that since some days the nightly builds for jdk8u-windows-x64-hotspot fail. Looking at the console
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/311/console i see this

[Pipeline] {
[Pipeline] stage
[Pipeline] { (build)
[Pipeline] checkout
No credentials specified
Cloning the remote Git repository
Cloning repository https://github.com/Adop

[2019-06-25 14:20] jdekonin commented on #807
It seems expat is available if your starting rh6 release is new enough.  My original base was 6.3, where this error occurred.  With 6.10, expat.x86_64 v2.0.1-13.el6_8 is available.  I'm fine with removing the expat changes if there is an agreement that the playbooks will only run against the latest of a specific release.

ccache is still not working for me even with 6.10 machine.
[code]

[2019-06-26 21:01] piyush286 opened #812 "Install Database for Liberty Throughput Benchmark on x86 Perf Machine"
I want to add Liberty Throughput benchmark for perf testing as part of https://github.com/AdoptOpenJDK/openjdk-tests/issues/1127. This benchmark is the one of the most popular ones, and it would be essential to have that on Adopt. One of the pre-requisites of that benchmark is to have Db2 installed. The setup for Liberty throughput would look like this:

Machine 1: Liberty Server (DayTrader)
Machi

[2019-06-27 11:44] karianna commented on #810
I've cleared the offending directory, will review after tonight's run

[2019-06-28 08:46] andrew-m-leonard commented on #808
disabled node: test-macincloud-macos1010-3-XJ

[2019-07-02 09:34] #553 closed

[2019-07-02 14:45] sxa555 commented on #810
This looks to be running ok now, although we had a similar problem on the OpenJ9 JDK8 32-bit builds which I've also resolved (Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/1136). Closing

[2019-07-02 14:45] #810 closed

[2019-07-02 14:47] sxa555 commented on #756
After discussion with @karianna we had decided to create a new system for this and attempt to rebuild from scratch useful educational process anyway) - @karianna can you arrange for a new system of a similar spec to the existing ansible server to be created?

[2019-07-02 14:55] sxa555 commented on #812
Does this require Db2 specifically or could a fully open-source database be used in place?

[2019-07-02 16:04] sxa555 commented on #808
`brew install ant-contrib` executed and linked `/usr/local/Cellar/ant-contrib/1.0b3/share/ant/ant-contrib-1.0b3.jar` to `/usr/local/Cellar/ant/1.10.1/lib/ant-contrib.jar`

[2019-07-02 16:28] sxa555 commented on #808
https://ci.adoptopenjdk.net/job/openjdk8_hs_openjdktest_x86-64_macos/373/ has passed the problematic section so the above appears to have worked.

[2019-07-02 16:34] sxa555 commented on #765
In light of the above I have deleted the entries for https://ci.adoptopenjdk.net/computer/build-marist-s390x-sles-12 and https://ci.adoptopenjdk.net/computer/test-marist-s390x-sles-12

[2019-07-02 17:55] sxa555 commented on #794
Applied some extra bits under https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/808
Now seems to be working ... closing.

[2019-07-02 17:55] #794 closed

[2019-07-03 01:41] smlambert commented on #812
My preference will be an open-source DB.  If it is not possible at the present moment, we should make it possible.

[2019-07-03 11:05] piyush286 commented on #812
@sxa555 Doesn't have to be Db2. We should be able to use some other database besides Db2 but requirements would be similar as mentioned above.

Sounds good! Let me find some alternative (i.e. MongoDB, PostGreSQL or other newer ones) that's open-source and do some internal testing to verify that it can be work with Open Liberty without any issues. I'll get back on this issue. Thanks!

[2019-07-03 13:21] sophia-guo commented on #808
@sxa555 I see that  https://ci.adoptopenjdk.net/computer/test-macincloud-macos1010-3-XJ/ are still offline and jobs are waiting for available machines. Could you re-enable it? Thanks!

I'm also confused that how the job https://ci.adoptopenjdk.net/job/openjdk8_hs_openjdktest_x86-64_macos/373/  was assigned to that disabled machine?

[2019-07-03 16:24] sophia-guo commented on #808
@sxa555 both jdk and system test jobs on https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-2-XJ/ are running with unexpected long time and extra errors.

System tests :
running on https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-1/  pass, 2 hours
running on https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-2-XJ/ failed, 4 hours
https://ci.adoptopenj

[2019-07-03 17:00] sophia-guo commented on #765
@sxa555 Did you mean deleted the entries as build machines? I wondered if we could create new entries for those two machines as test machines? Before we could fix the configuration issues we could just label the machine without 'ci.role.test'.

We currently only have two 2 s390 test machines available https://ci.adoptopenjdk.net/label/s390x&&ci.role.test/

And one of them looks not working well. h

[2019-07-04 09:15] sxa555 commented on #765
There is only one machine. It had three definitions in jenkins. I removed two of them

[2019-07-04 09:20] sxa555 commented on #808
Please ensure that if an issue still persists on a closed issue that you reopen it or any comments will likely not be actioned.

I've taken the macos box back online.

For the s390x box are all the errors network timeouts? (I'm basing that on run 260 of the job you mentioned)

[2019-07-04 11:26] gdams commented on #631
solaris intel has also been added but we still need solaris 11 to build OpenJDK 11 +

[2019-07-04 11:29] gdams commented on #753
@sxa I last passed you the linaro openstack details a while back, let me know if you need more assistance.

[2019-07-04 13:43] sophia-guo commented on #808
Unfortunately  I don't have this repo's reopen permission :-(

Yes, most of failures are timeouts, which make the job take much longer time than on the other machine and make the build timeouts. I wondered if any configuration hidden issue?

[2019-07-04 14:52] lumpfish opened #815 "Builds failing on Linux/ppc64le build machines due to disk space being exceeded"
e.g. from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-ppc64le-openj9/265/console
[code]

[2019-07-04 14:52] sophia-guo opened #816 "Issues about test-marist-sles12-s390x-1"
[test-marist-sles12-s390x-1](https://ci.adoptopenjdk.net/computer/test-marist-sles12-s390x-1/)

Is this a test machine? Could the label 'build-marist-s390x-sles-12' be removed ( confusing) ?

Running test and got
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1723/console
[code]

We'd like to enable this machine for test when all issues are fixed

[2019-07-04 14:54] sophia-guo commented on #816
Is this the reason https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/765#issuecomment-484566440? @sxa555

[2019-07-08 09:45] sxa555 commented on #816
That is part of the de-duplication effort, yes. If there's an issue please reopen the other issue so we keep all the issues regarding donating that machine to testing in one place.

[2019-07-08 09:45] #816 closed

[2019-07-08 09:46] sxa555 commented on #765
From @sophia-guo:

Running test and got
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1723/console
[code]

We'd like to enable this machine for test when all issues are fixed

[2019-07-08 10:47] sxa555 commented on #765
While the default java on the machine was java8, ant picks `JAVA_HOME` which was pointing at a java 7 directory. Symlink `/etc/alternatives/java_sdk` now adjusted to point at java8 instead of java7 and the Grinder job https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1738/ (a re-run of your failing one) is going through past that point.

[2019-07-08 10:47] #765 closed

[2019-07-08 11:06] sxa555 commented on #808
My question was whether they were all *network* timeouts specifically - are they?

I'm not sure what "configuration hidden issue" is suggesting - if there's an issue we need to debug and identify it as I can't tell what's wrogn at the moment :-)

[2019-07-08 12:07] sxa555 commented on #808
We need to know what operations in particular are getting stuck to be able to debug this further

[2019-07-08 13:06] gdams commented on #815
We might be able to get a big machine on softlayer and chop it up to add some more ppc64le machines.

[2019-07-08 15:13] lumpfish commented on #808
The following tests are failing on test-macincloud-macos1010-3-XJ but pass on test-macincloud-macos1010-1
[code]
The prefs tests are the same ones as were failing here: https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8079418.  The underlying issue there was user permissions - but also that is now 'resolved'.

[2019-07-09 10:37] sxa555 opened #819 "Offload jobs running on the jenkins master"
As per discsussions in the #infrastructure slack channel yesterday, the `git-hg` jobs and some other things (along with the top level piplines) are currently running on the jenkins master. It is desirable mostly for reasons of disk space usage to offload this onto another server. We have created another server at godaddy and will migrate jobs where practical onto the other machine in order to redu

[2019-07-09 12:14] sxa555 commented on #819
Machine defined and added to inventory file: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/817

[2019-07-09 17:55] sxa555 commented on #819
Machine set up (playbook not 100% complete - private keys aren't being installed automatically but have been done manually)

Following jobs are running to test the process:
https://ci.adoptopenjdk.net/view/git-hg/job/git-hg/job/git-hg-jdk13u/21/
https://ci.adoptopenjdk.net/view/git-hg/job/git-hg/job/git-hg-jdk/14/

I did initially have a shot at copying the workspaces from the previous machines bu

[2019-07-10 01:05] sxa555 commented on #819
`git-hg` requires a later git than the one supplied with ubuntu 16.04 (2.7.4) ... Somehow there is a git package on the CI master which is 2.22 - origin unclear.

I have install `gcc`, `zlib1g-dev`, `libcurl4-openssl-dev` and `gettext` (for `msgfmt`) in order to compile git 2.22 from source (Unclear whether 2.15 would be ok - that's the version we install on most build machines at present

[2019-07-10 09:10] sxa555 commented on #819
jenkins needs the following set, otherwise git client won't push back:
[code]
Also, process appears ok with git 2.15.0 so we can use the version that's in the playbooks (subject to the prerequisites that are listed in the previous comment.

[2019-07-10 09:18] sxa555 commented on #819
11u ran ok seeded from a workspace copied from |CI master yesterday: https://ci.adoptopenjdk.net/job/git-hg/job/git-hg-jdk11u/320/console
12u now running with an empty initial workspace at https://ci.adoptopenjdk.net/job/git-hg/job/git-hg-jdk12u/164/ so that will take a few hours to complete.
8u running at https://ci.adoptopenjdk.net/job/git-hg/job/git-hg-jdk8u/377

[2019-07-11 09:55] sxa555 commented on #815
@gdams Do softlayer have ppc64le?

[2019-07-11 09:56] sxa555 commented on #815
build-osuosl-centos74-ppc64le-2 upgraded to 400Gb now, `-1` will be upgraded hopefully later today

[2019-07-11 12:28] sxa555 commented on #819
AArch64 arm repository is possibly not working properly with the existing scripts

[2019-07-11 13:14] sxa555 commented on #819
jdk8u job appears to have hung - aborted it and running again (after cleaning the workspace to ensure no corrupt data gets in the way)

[2019-07-15 10:01] karianna opened #822 "Add git subtree to ansible script for git-hg follower"
Git subtree wasn't installed for the `gi-hg` GoDaddy follower, not sure if that's a failing of our ansible script there.  To install git subtree (that matches the git version on the host), as the `adoptopenjdk` user I executed:

[code]

And then cleaned up the git source clone afterward.

[2019-07-15 11:41] gdams commented on #819
I've added the tags `linux`, `x64` and `hg`

[2019-07-15 11:44] gdams commented on #819
installed `unzip`

[2019-07-15 12:41] gdams commented on #753
Linaro shut down their US cloud a while back. I missed the email as it went to my IBM address. Working on getting us access again.

[2019-07-15 12:55] sxa555 commented on #808
NOTE: mac machine has been renamed from `test-macincloud-macos1010-3-XJ` to `test-macstadium-macos1010-1-XJ` as the hosting provider was incorrect

[2019-07-15 13:28] stooart-mon commented on #753
I've raised "DC-437 Please create account for AdoptOpenJDK in uk.linaro.cloud", emailed Kevin Zhao at Linaro with George on CC.

[2019-07-15 16:28] sxa555 commented on #819
See also #822

[2019-07-16 09:05] stooart-mon commented on #753
George has the details for accessing the replacement machines.

[2019-07-17 09:25] sxa555 commented on #627
`-2` currently offline (reason unknown). `-3` is not fully configured (`JAVA_HOME` wasn't set - pointed system environment variable to the right place for the adoptopenjdk 8 SDK). Currently failing on missing perl. Will run playbooks against `-3` today.

[2019-07-17 09:26] #337 closed

[2019-07-17 09:29] sxa555 commented on #791
See also https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/423

[2019-07-17 09:30] sxa555 opened #827 "Set up four new Windows 2016 machines via godaddy for system test"
Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/553 (Windows Playbook setup) https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/627 (2 softlayer machines) https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/559 (Not starting as service on some machines) https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/791 (Local execution) https://github.com

[2019-07-17 10:10] sxa555 commented on #819
The additional prereqs mentioned by @gdams are for the following jobs which have also been migrated from running on our now-defunct cloudcone server onto the new machine:
- jtreg (https://ci.adoptopenjdk.net/job/jtreg/)
- jemmy (https://ci.adoptopenjdk.net/job/jemmy/)
- jtharness (https://ci.adoptopenjdk.net/job/jtharness/)

[2019-07-17 11:23] sxa555 commented on #827
@smlambert Do you require any specific compiler on the Windows machines? There are some manual steps that we'd generally install on the build machines (stuff that can't be automated including the Windows SDK) but if the test machines don't require it I can skip those steps. I'll look at enabling the new `-1` machine and see if I can run a grinder on it

[2019-07-17 13:00] sxa555 commented on #827
- https://ci.adoptopenjdk.net/job/Test_upstream_openjdk8_hs_sanity.system_x86-64_windows/8/console has been run on `-1` and working ok
- https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1787/console ran on `-2` and working ok.

Based on the above I will add the `ci.role.test` to those machines and also to `-3` once I get it talking to jenkins on the assumption that the setup we have is "g

[2019-07-17 13:15] smlambert commented on #827
Answering https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/827#issuecomment-512213220, when asked that before, I have answered whatever compiler was used to build the sdk should work (as at all other projects where we run these tests, build & test machines are one in the same.

https://github.com/AdoptOpenJDK/openjdk-systemtest/blob/master/openjdk.build/docs/build.md#prereqs-which-can

[2019-07-17 13:17] sxa555 commented on #827
Unfortunately that's three different ones depending on which JDK it is ;-) Wasn't sure if the test scripts tried to find the specific one for any given release

[2019-07-17 14:23] Willsparker commented on #827
" TASK [MSVS_2013 : Reboot machine after Visual Studio installation] ***********************************
 [WARNING]: Since Ansible 2.5, shutdown_timeout is no longer a valid option for win_reboot "

Warning that came up as the playbook was running for one of the machines. Didn't stop the playbook, but thought it should be documented 👍

[2019-07-17 14:59] sxa555 opened #829 "Add IcedTeaWeb to Windows playbooks"
Using web start is the simplest way to be able to get the jenkins agent running as a service.

1. `wget https://github.com/AdoptOpenJDK/IcedTea-Web/releases/download/icedtea-web-1.8.2/icedtea-web-1.8.2.msi` (or another version from https://adoptopenjdk.net/icedtea-web.html)
2. Install with `msiexec /l* %TEMP%\icedteaweb.log /quiet /i icedteaweb-1.8.2.msi INSTALLDIR="C:\Program Files\IcedTeaWEB"`

[2019-07-17 15:04] karianna commented on #829
Hmmmm, is that really the recommended best practice from Jenkins?

[2019-07-17 15:42] sxa555 commented on #827
Something odd is happening when I set up the `-3` machine in jenkins with the correct name (It seems to thing `-2`'s executor is connected to it. Have therefore renamed to `test-godaddy-win3` for now in jenkins to resolve.

[2019-07-18 13:06] Willsparker commented on #827
Machine 4 is running through it's tests:

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1818/console

[2019-07-18 13:08] Willsparker commented on #685
Some updates put in:

https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/828

[2019-07-18 13:08] Willsparker commented on #827
Completed the job!

[2019-07-18 13:11] #827 closed

[2019-07-18 13:39] sxa555 opened #830 "AIX machine -1 is throwing out of memory errors"
Ref:  https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix/2/console
Machine: https://ci.adoptopenjdk.net/computer/build-osuosl-ppc64-aix-71-1/

I cannot log into it as it's not properly able to receive an SSH connection
[code]
Have contact OSUOSL support to get it rebooted

[2019-07-19 14:35] sxa555 opened #834 "arm32 builds giving error on gpg signature checking"
From https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/193/console:

[code]

[2019-07-19 15:32] #834 closed

[2019-07-19 17:16] sxa555 commented on #830
Now rebooted and live again

[2019-07-19 17:16] #830 closed

[2019-07-19 17:17] sxa555 opened #835 "Manage ever-expanding failedlogin log on AIX machines"
From the AIX support team after we hit https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/830:

_Have you been zeroing /etc/security/failedlogin regularly?  I see that it's
huge on ojdk1 and ojdk2.  If that fills the root filesystem, the system
cannot complete boot.  Please regularly issue_

`cp /dev/null /etc/security/failedlogin`

We should implement a cron job via the playbooks which

[2019-07-19 18:57] #829 closed

[2019-07-22 09:22] sxa555 opened #836 "Azul signing keys aren't working in the Ubuntu playbooks"

[2019-07-22 10:43] Willsparker commented on #836
Seems to fix by rearranging 2 tasks in Common

[2019-07-22 20:48] smlambert opened #839 "Verify all new test machines have all test prereqs"
We received a bunch of new macs and windows machines on the day of the release.
 It appears some of the new machines do not have all of the [test prereqs](https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md) installed:

Example:
from https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk13_j9_sanity.openjdk_x86-64_mac/1/
test-macincloud-macos1013-x64-1 appears to be mi

[2019-07-22 20:55] smlambert opened #840 "Ensure machines configured with enough mapped shared memory"
Noted during the most recent release, SharedClassesAPI failure (an extended.system test) is due to a machine config issue (memory mapped shared memory should get [increased](https://stackoverflow.com/questions/2017004/setting-shmmax-etc-values-on-mac-os-x-10-6-for-postgresql)).

See https://github.com/AdoptOpenJDK/TSC/issues/99#issuecomment-513042506 for links to failures (noted on machines test-m

[2019-07-22 22:04] #836 closed

[2019-07-23 09:23] sxa555 commented on #839
@smlambert All the Windows machines were set up with the Playbooks so if there are things missing from them, then we haven't got them documented/covered in the playbooks. macos machines were set up by gdams and he's been creating a suitable playbook as he goes, so based on the above example I'll assign this to him :-)

[2019-07-23 14:58] Willsparker opened #842 "Automating the testing of the playbooks for Linux using Vagrant"

[2019-07-24 02:11] smlambert commented on #840
I do not know the details, @pshipton mentioned it, and said the openj9 machines were with plenty of shared memory space.  Let's get the details from him.  I would hope we can attempt to keep the configuration of machines across the projects to be aligned, this detail must not be captured anywhere in doc or playbooks to date.

[2019-07-24 03:53] pshipton commented on #840
Check with @jdekonin for the setting of SHMMAX on the OpenJ9 Mac machines.

[2019-07-24 03:54] pshipton commented on #840
Or isn't there some older Mac machines that were working? Compare the SHMMAX setting with the new machines.

[2019-07-24 12:50] jdekonin commented on #840
The settings in sysctl.conf I was asked to make were :
kern.sysv.shmmax=125839605760
kern.sysv.shmall=30722560

This is documented in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/212

[2019-07-25 20:30] gdams opened #845 "add a solaris 11 sparc jenkins node for jdk11+ builds"

[2019-07-25 20:31] gdams commented on #835
can we not just disable the log altogether?

[2019-07-26 01:11] smlambert opened #846 "Add test prereqs to test-inspira-solaris10u11-sparcv9-1"
Test prereqs needed are listed here:
https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md

Based on [console output of grinder run](https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_SandboxExtra/10/console), test-inspira-solaris10u11-sparcv9-1 is missing **ant** (and perhaps other prereqs on that list).

fyi @gdams

[2019-07-26 09:23] gdams commented on #846
added ant with `pkgutil -i ant`

[2019-07-26 09:28] gdams commented on #846
re-running grinder here: https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_SandboxExtra/11/console

[2019-07-26 13:20] sxa555 commented on #835
Well we could, but that doesn't seem like a good idea from a security perspective

[2019-07-26 13:24] gdams commented on #835
I would opt for disabling password ssh completely and only using ssh keys.

[2019-07-29 10:52] gdams opened #847 "clone build-azure-win2008r2-x64-1"
having a single 2008r2 build machine was slowing down the release pipeline. Also means we have 2 machines incase one goes down

[2019-07-29 10:53] gdams commented on #847
I've created a build snapshot of `build-azure-win2008r2-x64-1` brining up a second box. Note that the IP has changed on build-azure-win2008r2-x64-1 so I will update the infra yaml file.

[2019-07-29 10:56] gdams commented on #847
`build-azure-win2008r2-x64-2` has been created

[2019-07-29 10:59] gdams commented on #847
PR to add IP's https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/848

[2019-07-29 11:08] gdams opened #849 "add a second macos 10.12 build machine"
We currently only have 1 build 10.12 mac

My suggestion is that we deprovision test-macstadium-macos1010-1-XJ and re build it as a second build machine now that we have plenty of test macos machine

[2019-07-29 11:34] gdams opened #850 "clone build-digitalocean-centos69-x64-1"
to replace `build-joyent-centos69-x64-1`

[2019-07-29 11:37] gdams commented on #850
looks like https://ci.adoptopenjdk.net/computer/build-digitalocean-centos69-x64-1/ is missing a few tags that the joyent machine had:

`icedteabuild` , `gcc73`

[2019-07-29 11:57] gdams commented on #781
instructions for installing latest automake:

[code]

[2019-07-29 12:07] sxa555 opened #851 "Ensure cuda SDK is on all build machines"
From @keithc-ca:
`Only the x64 Linux build is CUDA-enabled. I suspect the build machines for Windows and ppc64le Linux don’t have the CUDA toolkit installed in the expected place.`

EDIT: Requirement from the OpenJ9 call today is to have this ready for the next quarterly release

[2019-07-29 12:07] sxa555 commented on #847
What's the reason for needing the clone?

[2019-07-29 12:08] gdams commented on #847
having a single 2008r2 build machine was slowing down the release pipeline. Also means we have 2 machines incase one goes down

[2019-07-29 12:10] gdams commented on #849
deleted `test-macstadium-macos1010-1-XJ` and I'm bringing it back as a 10.12 machine

[2019-07-29 12:15] gdams commented on #850
deleted `build-joyent-centos69-x64-1` from jenkins

[2019-07-29 12:19] gdams commented on #850
added https://ci.adoptopenjdk.net/computer/build-digitalocean-centos69-x64-2/

[2019-07-29 12:21] gdams commented on #850
deleted `build-joyent-centos69-x64-1` from triton

[2019-07-29 12:26] #847 closed

[2019-07-29 12:29] #850 closed

[2019-07-29 12:36] gdams commented on #839
@smlambert are there any machines still playing up? the playbooks should have all the deps in them now.

[2019-07-29 12:38] gdams commented on #808
@sxa555 can I close this as the machine has been deleted (https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/849)

[2019-07-29 13:00] #720 closed

[2019-07-29 13:57] gdams commented on #849
mac has been provisioned, running ansible on it now

[2019-07-29 14:48] smlambert commented on #839
I created this issue hoping someone had the time to verify machine config of new machines (and to not forget to revisit)... I have not had time to look, but some machines behave differently than other machines, and it would be good to determine why:

Example 1:
test-macincloud-macos1013-x64-2  - takes 3.5 hrs to run sanity.openjdk
test-macstadium-macos1010-1-XJ - takes 55min to run sanity.openjdk

[2019-07-29 14:49] gdams commented on #839
`test-macstadium-macos1010-1-XJ ` is a much meatier machine tbf so that might explain so time differences

[2019-07-29 14:52] smlambert commented on #839
Example 2:
Consistent failure across new Windows machines, java.lang.RuntimeException: cannot bind first socket to s160-153-234-8/160.153.234.8:5050 unexpected java.net.BindException: Address already in use: Cannot bind

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/11/testReport/java_net_DatagramSocket_ReuseAddressTest/java/ReuseAddressTest/

La

[2019-07-29 18:16] sxa555 opened #858 "AIX playbooks are creating subdirectories under /usr/javaX_64 and not setting java 8 as default"
AdoptOpenJDK tarballs are being extracted directories under the `/usr/java8_64` etc. directories in the playbooks which is causing those locations to have an additional subdirectory such as `jdk8u222-b10` created underneath it, leading to confusion.

Also we should probably create a `/usr/bin/java` symlink to the java 8 java binary, otherwise the first java in the PATH ends up being java 7, which

[2019-07-30 09:22] gdams commented on #212
playbook merged

[2019-07-30 09:22] #212 closed

[2019-07-30 09:22] gdams commented on #711
closing as inventory has been updated

[2019-07-30 09:22] #711 closed

[2019-07-30 10:48] sxa555 commented on #146
Two new machines allocated. Various playbook modifications needed to stabilise them. Currently failing on a `git init operation:

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/381/console

[code]

[2019-07-30 13:32] sxa555 commented on #842
Reopening this until we have a full solution that works via our CI :-)

One issue we currently have is that we need to be able to get VirtualBox running within one of our cloud VMs which means getting VirtualBox configured from the command line not to use hardware virtualisation instructions (Alternative is to get a dedicated bare metal VM that we can run VMs on but that would be more expensive)

[2019-07-30 14:57] #743 closed

[2019-07-30 16:33] #849 closed

[2019-07-30 18:05] sxa555 commented on #146
The previews error message is only happening when git is executed from java (in this case the jenkins agent process) because java is adding `/usr/lib` into the `LIBPATH` which is stopping `git` from picking up the desired version of the library (the one in `/opt/freeware/lib`)

[2019-07-30 18:13] sxa555 commented on #146
The git installed on the new machine is 2.20. The version on the older machines is 2.8.1. I have copied the git rpm from other machine (from `/var/cache/yum/AIX_Toolbox/packages`) and replaced the one on the new machine with the old version (`rpm -e git; rpm -ivh /opt/.../git-2.8.1-1.aix6.1.ppc.rpm`) and I believe that will rectify the problem

[2019-07-30 18:39] sxa555 commented on #146
Jenkins agent is having consistent issues when using AdoptOpenJDK 8u222 OpenJ9 build:
[code]
I have switched it to use the 64-bit IBM java8 build from https://developer.ibm.com/javasdk/support/aix-download-service/ for now and it appears to be progressing ok.
The above log was from https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/301/console - 302 is be

[2019-07-30 18:44] sxa555 commented on #146
`wget` is hitting the same problem that `git` had. Will add `/opt/freeware/lib` to the start of the `LIBPATH` in the `aix.sh` build environment script in order to compensate.

[2019-07-30 19:06] sxa555 commented on #146
Building at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/303/console - will let it progress overnight

[2019-07-30 19:17] sxa555 commented on #839
@smlambert I'm not sure any particular prereq on the machine would account for that. Has this test been run on a Windows Server 2016 machine before now as the four new godaddy machines are 2016?

[2019-07-30 19:21] sxa555 opened #864 "Investigate feasibility of testing Windows playbooks under Vagrant"
How easily can Windows systems be created and run via Vagrant? Can we automate the playbook testing on "clean" OS installs as we can now do on Linux (https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/842)?

[2019-07-30 19:24] sxa555 opened #865 "Set up machine and appropriate CI jobs to run the new playbook testing scripts"
This will be putting any work from #842 and #864 into production kicked off via our CI tooling.
Will also require the installation of VM software (likely VirtualBox) onto one of our systems

[2019-07-30 19:39] sxa555 commented on #840
@gdams Can you cover this in the macos playbooks?

[2019-07-30 19:41] smlambert commented on #839
I probably titled this issue poorly... not just check prereqs, but note differences of machines.

I'd like to have help to note any differences between all the different machines.  Included differences in config, network settings and such.

Ideally this would be a co-ordinated effort by infra across all the servers we run tests, as I do not know in detail the machine lists at openj9/internal at th

[2019-07-30 19:53] sxa555 commented on #839
I suspect it would be a lot of work to pull every detail of every package/config on the machine and do a compare at the moment unfortunately. The playbooks are intended to ensure that the machines are the same config and re-running them on a regular basis would help ensure that, but the setup they will give is the one on the new machines, which is currently not what is required based on your resul

[2019-07-30 20:00] sxa555 commented on #807
@Willsparker I'll assign this to you to see if you've hit the `ccache` issue in the playbook during your CentOS6 testing :-)

[2019-07-30 20:06] sxa555 commented on #697
No particularly high priority on this one Will, but if you want an excuse to play with a raspberry pi, this could be your chance :-)

[2019-07-30 20:07] sxa555 commented on #807
Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/696

[2019-07-30 20:24] sxa555 commented on #692
@archanaNogriya What's the status of this? The last error message you posted didn't appear to be anything to do with the configuration of the machine as far as I can tell

[2019-07-30 20:28] sxa555 commented on #669
Will, once you get access to an internal Linux/ppc64le machine we can verify that is no longer an issue.

[2019-07-30 20:36] sxa555 commented on #726
Related: Machine definition was in #680

[2019-07-30 20:39] sxa555 commented on #146
The new machines are noticeably faster when running builds. Once they are both fully set up and verified to work I may use the new ones for building and assign the two older ones to test

[2019-07-30 20:51] sxa555 commented on #619
Most of the issues with the marist sles 12 machine(s) was resolved under #765.
@Willsparker This could do with being revisited. `inventory.yml` is the master list of all our machines and is processed by ansible tower when deciding which machines to configure. This issue is mostly surrounding the fact that not all of the names on there match the ones used in https://ci.adoptopenjdk.net/computer/

[2019-07-31 08:50] archanaNogriya commented on #692
@sxa555 I think this has not been reported again so let's close this.

[2019-07-31 09:01] #692 closed

[2019-07-31 11:48] gdams opened #868 "Add more ppc64le test machines"
First step is to decommission the two ppc64le jck machines

Then I'll create more test machines.

[2019-07-31 11:52] gdams commented on #868
Will add

2 x Ubu 16.04 (making the total 4)
4x Centos 7 (total 4)
3 x Ubu 18.04 (total 3)

[2019-07-31 12:05] gdams commented on #868
Openstack reporting that no more IP addresses are available, I've raised a support ticket to get this resolved.

[2019-08-01 12:38] gdams commented on #868
added:
- https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-1/
- https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-2/
- https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-3/
- https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-4/

[2019-08-01 12:50] sxa555 commented on #146
It's throwing an OutOfMemory error running the agent using the adoptopenjdk builds by default. Adjusting Advanced options in the machine definition's "Launch Method" section for the agent startup to have:
[code]
Also temporarily tried increasing `rss` for the jenkins user to 32Gb (67108864) in `/etc/security/limits` but it didn't help.
Current `ulimit` values are as follows:
[code]
I have switched

[2019-08-01 13:01] smlambert commented on #868
Launched grinders:
-1 : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/52
-2 : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/53
-3 : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/54
-4 : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/55

fail with
14:58:27  ant -f ./src/build_envInfo.xml -DTEST_JDK_HOME=/home/jenkins

[2019-08-01 13:20] sxa555 commented on #146
Hitting separate issues beyond that with the filesystem building jdk8u - need to verify if this is specific to the machine or not since jdk11u built ok on this machine.
[code]

[2019-08-01 13:41] sxa555 commented on #808
@gdams No this should be kept open as this covers issues with more than just the macos machine (Thanks for not leaving this closed @karianna)

@sophia-guo @lumpfish As per earlier question are the failures on the s390x box all _network_ timeouts? We need to get this understood and resolved as it seems to be the cause of a lot of zLinux slowness at the moment. Can someone who understands the test s

[2019-08-01 13:43] sxa555 commented on #808
I'm going to abort #13 on https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux/13/ for now so I can quiesce test-marist-ubuntu1604-s390x-2-XJ and see if there are any processes left around.

[2019-08-01 13:54] sxa555 commented on #808
Answer: lots
[jenkins.maristXJ.log.gz](https://github.com/AdoptOpenJDK/openjdk-infrastructure/files/3457005/jenkins.maristXJ.log.gz)

Here is a samsnippet of the ps listing with the July 29th stuck processes - 19 of them of which 16 were from a base `openjdktest` run:

[code]
I have cleared out the processes (close to 100 of them), re-enabled the executor and https://ci.adoptopenjdk.net/job/Test_o

[2019-08-01 14:02] smlambert commented on #808
Hmm, processes from back on Jun29.

Possibly related:
https://github.com/AdoptOpenJDK/openjdk-tests/issues/1071
https://github.com/AdoptOpenJDK/openjdk-tests/issues/1051

[2019-08-01 14:04] sxa555 commented on #808
Yeah Jun29 was just me attempting to show a sample snapshot from a random day :-)

[2019-08-01 14:11] sxa555 commented on #868
@gdams has any setup been done on these? If not they shouldn't be added into jenkins and made live with all the production tags. They don't seem to have my ssh key installed so I can't see what's been done, therefore I am marking all four offline in jenkins to avoid destabilising our CI further.

[2019-08-01 14:13] gdams commented on #868
they are all setup, grinder jobs have passed

[2019-08-01 14:13] smlambert commented on #868
Reran grinders which now pass (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/55 through 59) so from test perspective they are good, but will assume you need other stuff setup for easier maintenance of them.

[2019-08-01 14:14] gdams commented on #868
added more machines:

https://ci.adoptopenjdk.net/computer/test-osuosl-ubuntu1604-ppc64le-3/
https://ci.adoptopenjdk.net/computer/test-osuosl-ubuntu1604-ppc64le-4/
https://ci.adoptopenjdk.net/computer/test-osuosl-ubuntu1804-ppc64le-1/
https://ci.adoptopenjdk.net/computer/test-osuosl-ubuntu1804-ppc64le-2/
https://ci.adoptopenjdk.net/computer/test-osuosl-ubuntu1804-ppc64le-3/

[2019-08-01 14:26] gdams commented on #868
grinders look good to me

[2019-08-01 14:27] smlambert commented on #868
Grinders:
ubuntu1604-ppc64le-1: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/66

ubuntu1604-ppc64le-2: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/67

ubuntu1604-ppc64le-3: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/68

ubuntu1604-ppc64le-4: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/69

[2019-08-01 15:09] sxa555 commented on #146
OpenJ9 build job on the new machine is throwing this failure:
[code]

[2019-08-01 15:19] #680 closed

[2019-08-01 15:19] #868 closed

[2019-08-01 16:20] sxa555 commented on #146
`Text::CSV` wasn't found by the test suite:
[code]
The module is under `/opt/freeware/lib/perl51` but not `/opt/freeware/lib/perl5/5.28.1` - will symlink it under the `Text` directory in the place it's currently looking for now. and rerun:
Failing run: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_special.functional_ppc64_aix/10/console
Re-run: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_s

[2019-08-01 16:25] sxa555 commented on #146
Another odd random failure showin up next time round.
[code]

[2019-08-01 17:00] sxa555 commented on #146
`XML::Parser` CPAN module has also failed to install so I'll have to remove the test tags from the machine for now.
The original machines are using a version of perl installed under `/usr` from the AIX `perl.rte` package (version 5.10.1.250) as opposed to the 5.28.1 installed via an RPM.
The new machine also has `/opt/freeware/bin` at the start of the `PATH` which makes it pick up that version fir

[2019-08-01 17:12] sxa555 commented on #146
Have removed the `test` tag from the new machine, but also removed `build` from build-osuosl-ppc64-aix-71-1 for now in order to leave it dedicated to test since we have two mostly working build machines.

[2019-08-01 19:04] sophia-guo commented on #846
@gdams Could you please also install perl Text::CSV and XML::Parser module? Both are the test prerequisites.

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_SandboxExtra/13/console

[2019-08-02 10:45] Willsparker commented on #807
@sxa555 Issue still seems to persist using CentOS6. 'wget' ing the URL does work though, the error message says:

[code]

[2019-08-05 14:39] smlambert commented on #790
I additionally cleaned up old test jobs (containing strings '_systemtest_', '_openjdktest_', though I have left the ev3 runs, until I check with that team), as we have re-generated test jobs with a different naming convention now, https://github.com/AdoptOpenJDK/openjdk-tests/issues/1168.  Note we are still only keeping 5 jobs in history.

[2019-08-05 14:55] sxa555 opened #878 "Add Vagrantfile for Debian Linux"
We're testing most of the others now, but it would be beneficial to have a Debian variant in the test setup in order to find any Ubuntu/Debian differences given that we have a few Debian systems around now

[2019-08-05 15:10] smlambert commented on #790
I propose that we run a script that checks all Jenkins job and lists those that have not been used in over x months.  That way we can flag and remove stale jobs.  (I proposed this last year, and think I wrote a script that would do this & delete the jobs... though I think we want to be cautious and not blindly delete without human intervention).

[2019-08-06 08:59] adamfarley opened #879 "ssh-agent provider missing from machine: build-marist-sles12-s390x-1.adoptopenjdk.net"
Kindly add an ssh-agent provider to this machine, as we get the below error when running tests on it.

[code]

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_s390x_linux/20/console

[2019-08-06 09:12] adamfarley opened #880 "Tests fail from refused connections on s390 machines"
**Symptom**

A set of OpenJDK regression tests are failing on these machines with the following error:

[code]

The test appears to expect a timeout, but doesn't get that far because the connection is refused immediately. This affects OpenJ9 and Hotspot, but only on zLinux, and there have been other timeout/connection refuseds so we have to rule out machine issue.

Please review the below machines

[2019-08-06 12:14] adamfarley commented on #699
Could this be the issue referred to in https://github.com/eclipse/openj9/issues/6669?

[2019-08-06 12:36] sxa555 commented on #880
I've moved all abandoned processes on both machines. the `-2-XJ` machine was keeping a lock on TCP/IP port 34339 which has now been released

[2019-08-06 12:52] adamfarley commented on #880
Thanks Stewart. Re-running the tests now.

[2019-08-06 12:52] #880 closed

[2019-08-06 13:25] sxa555 commented on #879
Which machines is this? We only have one sles12 machine defined in jenkins at the moment - `test-marist-sles12-s390x-1` and it has `ssh-agent` installed so I'm unclear on what the requirement is here:
[code]

[2019-08-06 14:41] HusainYusufali opened #882 "Windows Playbook Java installation API broken"
The Windows playbook roles that install the OpenJ9 Java doesn't work because it produces multiple zip files because of the new large heap binary. Adding `heap_size` variable to the URL should fix this.

[code]

The affected roles are `Java8`, `Java11`, and `Java12`.

Not sure what the default should be, but it can be added to `AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml

[2019-08-06 15:21] sxa555 commented on #882
We generally use the hotspot ones at AdoptOpenJDK so this isn't an issue, but we don't have any particular need for the large heap ones to my knowledge so I'd pick normal for any PR on this.

[2019-08-06 15:36] sophia-guo commented on #846
Another prerequisite listed in  https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md

ant-contrib.jar

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_SandboxExtra/20/console

[2019-08-06 15:49] sxa555 commented on #879
May be related to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/684 although there was still 60Mb free on `/` (which I'm surprised is used at that point - all other file systems are fine). I've had a clear up on `/tmp` which has freed up a few hundred Mb so we should run a Grindr job to see if that's improved things.

[2019-08-06 15:54] sxa555 commented on #878
Update: @Willsparker has hit issues trying to add the ansible 2.4 PPA onto the Debian VM

[2019-08-06 16:10] adamfarley commented on #879
Works now.

[2019-08-07 09:02] #879 closed

[2019-08-07 11:44] karianna opened #884 "Upgrade our build scripts to Bash4+ as we held Bash back for Mac OS X reasons."
Interestingly the PR below would allow us to upgrade our build scripts to Bash4+ as we held Bash back for Mac OS X reasons.

_Originally posted by @karianna in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/876#issuecomment-519060713_

[2019-08-08 07:20] Willsparker commented on #864
Written a vagrantfile that can boot a Windows 10 VM, however when using `vagrant ssh` it boots into a linux shell script. `cmd` can then be run from there.

[2019-08-08 09:26] Willsparker commented on #696
Running the `ansible-playbook` command as `sudo` (which is required to complete the Common tasks) causes gcc_7 to be put in `/opt/rh/devtoolset-7/root/usr/bin/gcc`. When adding `&& export CXX=/opt/rh/devtoolset-7/root/usr/bin/gcc` to the cmake task "Running ./configure & make for cmake", the above error message still shows.

[2019-08-08 14:59] sxa555 opened #886 "Errors in linting of adoptopenjdk_vars.yml"
Sample error: https://travis-ci.org/AdoptOpenJDK/openjdk-infrastructure/builds/569368722?
[code]
Offending line: https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/8f141d80c7b7d120c4c98143ef6e2770b17ee5ee/ansible/plugins/inventory/adoptopenjdk_yaml.py#L77
Description of problem: https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

Assigning to @gdams since he wrote the

[2019-08-08 16:30] gdams commented on #886
@sxa555 that error isn't actually causing the travis failures, It's this one here:

[code]

[2019-08-08 16:46] gdams commented on #886
linter fixed: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/888

[2019-08-08 18:34] sophia-guo commented on #808
@sxa555 For JDK tests yes, almost all failing tests (around 110)  are rmi, nio, net group. The error message is either ' timeout ' or 'Cannot assign requested address' (which is assign a network address).  https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_s390x_linux/17/#showFailuresLink

[2019-08-09 07:47] Willsparker commented on #696
When running the individual commands in the above task, I get as far as `PATH=/opt/gcc-4.8.5/bin:$PATH make -j`. The command initially failed as the VM ran out of memory, so having put that up, and running the same command, this error message is as follows:

[code]

[2019-08-09 11:39] #886 closed

[2019-08-09 11:55] #666 closed

[2019-08-12 13:24] Willsparker commented on #669
Ran a playbook on a Fyre VM and got past "adoptopenjdk10"- so issue resolved 👍

[2019-08-12 13:48] sxa555 commented on #669
Thanks

[2019-08-12 13:48] #669 closed

[2019-08-13 09:48] sxa555 opened #891 "build-marist-rhel74-s390x-1 out of space"
Mostly due to various old versions of `gcc` soiurce+builds around on the filesystem. WIll clear up and leave only the bits required by `/usr/local/gcc`

[2019-08-13 12:53] Willsparker commented on #619
All of the hostnames I've found that were out of sync between `ci.adoptopenjdk.net` and `inventory.yml`

| Jenkins | Inventory.yml |
| --- | --- |
| build-macstadium-macos1010-1  | build-macstadium-macos1010-x64-1 |
| build-macstadium-macos1010-2 | build-macstadium-macos1010-x64-2 |
| build-macstadium-macos1012-1 | build-macstadium-macos1012-x64-1 |
| build-macstadium-macos1012-2 | build-macstadiu

[2019-08-13 13:38] archanaNogriya opened #893 "openjdk_openj9_jdk11 jtreg tests are failing throughout the platforms - causes infrastructure isues"
Here is AdoptOpenJDK openjdk_openj9_jdk11 builds for all platform: https://ci.adoptopenjdk.net/view/Test_openjdk/

**openjdk_ppc64le_linux**

Test Name | Duration | Age
-- | -- | --
java/util/logging/CheckZombieLockTest.java.CheckZombieLockTest | 7.2 sec | 1

**openjdk_s390x_linux**

java/net/httpclient/ConnectTimeoutNoProxyAsync.java.ConnectTimeoutNoProxyAsync | 10 sec | 22
-- | -- | --
java/net/

[2019-08-13 14:56] sxa555 commented on #619
Notes:
- build-packet-ubuntu1604-armv8l-1 and the armv7l one are the same machine (It's really armv8 but was intended to be used for 32-bit builds - probably needs to only have the armv8 definition since that's what it really is https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/630
- test-godaddy-win3 doesn't work if I rename it to the correct name in jenkins (!) https://github.com/Ado

[2019-08-13 15:04] karianna commented on #619
Can we automate that?

[2019-08-13 15:06] sxa555 commented on #619
Should be able to put together a job that does a check and passes/fails based on whether they're in sync without too much difficulty. Can do that after we do the one-off cleanup ...

[2019-08-13 15:08] karianna commented on #893
Not sure if that's _bad_ infra or bad tests...

[2019-08-13 16:11] sxa opened #894 "Various new machines do not have the infra team's SSH keys available"
As far as I can tell at least the following need the keys put on:
- The new OSUOSL PPCLE machines https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/868
- New macincloud test systems (e.g. 74.80.249.207)

- I also can't connect to the openlab machines over ssh at the moment - is that expected? https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/680

[2019-08-13 16:17] gdams commented on #894
Can you use the Zeus ssh key?

[2019-08-13 16:29] sxa555 commented on #894
Seems to be on the osuosl machines but not the mac ones, but the root keys - this needs to be a part of the process of putting new machines in place until we get a keybox replacment in place so if you can put the team's ones into `root` and `jenkins` that would be appreciated

[2019-08-13 16:36] sxa555 commented on #619
Also https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-processCheck should have pretty much the same list of machines

[2019-08-13 16:36] sxa555 commented on #891
Now resolved - cleaned up the myriad of gcc directories kicking around ...

[2019-08-13 16:36] #891 closed

[2019-08-13 17:19] sxa555 commented on #893
Tried `java/util/stream/test/org/openjdk/tests/java/util/SplittableRandomTest.java` on `test-scaleway-ubuntu1604-x64-1` and it passed

[2019-08-13 20:58] karianna commented on #894
This reminds me we still need to replace keybox.

[2019-08-14 08:30] archanaNogriya commented on #893
So does that means individual tests are working fine but not as full sanity?

There is one common test which is failing all over java/net/URL/JarHandlerPkgPrefix/JarHandlerPkgPrefix.java.JarHandlerPkgPrefix, This also failing in my local machine too, but passes in hotspot. I  am debugging that bit more but what I am seeing is openj9 issue. I start wondering if this test is causing all failures. @s

[2019-08-14 08:32] archanaNogriya commented on #893
Let me run Sanity in my local. It should fail with same test in that case.

[2019-08-14 09:41] archanaNogriya commented on #893
OK I see Openj9 is already working on this test failure https://github.com/eclipse/openj9/issues/6466

Test java/net/URL/JarHandlerPkgPrefix/JarHandlerPkgPrefix.java.JarHandlerPkgPrefix, they have done the fix but not yet delivered the changes until they run all tests to find any new regression.

Will update here once that is closed, my assumption is this could be the cause of all other test failu

[2019-08-14 10:02] karianna commented on #893
Should this whole issue be moved to the test repo?

[2019-08-14 10:19] Willsparker commented on #685
@sxa555 asked that some documentation on how to install vagrant with KVM be put in.

[2019-08-14 10:27] Willsparker commented on #842
@sxa and I looked into it and it seems not possible to run Virtualbox from another VM as hardware virtualisation can't be disabled. So, a bare metal VM will be needed.

[2019-08-14 11:51] archanaNogriya commented on #893
I ran the full openJDk sanity tests in my local machine with the same build as Adopt nighly.
Build details
openjdk version "11.0.4" 2019-07-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11-201908061830)
Eclipse OpenJ9 VM AdoptOpenJDK (build master-85b0693e8, JRE 11 Linux amd64-64-Bit Compressed References 20190806_300 (JIT enabled, AOT enabled)
OpenJ9   - 85b0693e8
OMR      - 6e99760b

[2019-08-14 12:46] adam-thorpe opened #897 "Test failing only at adopt: java/net/SocketImpl/BadUsages.java"
Test: https://github.com/ibmruntimes/openj9-openjdk-jdk13/blob/openj9/test/jdk/java/net/SocketImpl/BadUsages.java
Build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/91/
- Test is failing at adopt jenkins on jdk13 openj9 and hotspot builds on linux and intermittently on p linux. Passes fine when recreated on our intranet's jenkins and locally with the same builds.
- The faili

[2019-08-14 15:08] sxa555 commented on #897
I've been able to replicate this on my RHEL7 laptop. Are you certain it's an adoptopenjdk issue as opposed to a Linux distribution issue? Do you have a passing run from RHEL/CentOS elsewhere?

[2019-08-14 15:22] adam-thorpe commented on #897
My linux distribution is ubuntu so could potentially be a CentOS/RHEL issue? But it was failing on ubuntu and debian machines at adopt

[2019-08-14 15:37] sxa555 opened #898 "No aarch64 build machines available"
Blocking most build pipelines from completing

[2019-08-14 15:39] sxa555 commented on #898
Have restarted `build-packet-centos74-armv8-1` which had disappeared off the network and it is now progressing. Will aim to progress https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/753 in the next few days too

[2019-08-14 15:52] #898 closed

[2019-08-14 16:00] sxa555 commented on #897
Suggest liaising with @Willsparker as he has an Ubuntu 16 VM on his laptop which I believes shows the failure, so should provide an opportunity to play "Spot The Difference" ;-)

[2019-08-15 09:03] Willsparker commented on #897
@adam-thorpe
The output for the failing test on the Ubuntu1604:

[code]

[2019-08-15 09:41] Willsparker commented on #897
Output of failing Test:
[code]

[2019-08-15 11:27] sxa555 commented on #770
Have done a cleanup of most machiens over the last couple of days and we should try and keep the process check job clean now. Might move it into "production" state soon instead of work in progress

[2019-08-15 12:09] archanaNogriya commented on #893
I ran same nightly build in IBM Internal Jenkin and got the same results as my Local machine, just one test failure java/net/URL/JarHandlerPkgPrefix/JarHandlerPkgPrefix.java
https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder_Advanced/574/console

[2019-08-15 12:38] adam-thorpe commented on #897
I've found a difference, this is part of the output from my local machine:
[code]
However on the failing adopt build:
`[java] System.getProperty('java.fullversion')=null`

Not sure if this is important or not, but on other passing adopt tests this property is filled as normal

[2019-08-15 13:03] sxa555 opened #899 "Donate build s390x machines to test"
We[ have](url) these two machines in the build farm:
- [build-marist-ubuntu1604-s390x-2](https://ci.adoptopenjdk.net/computer/build-marist-ubuntu1604-s390x-2/)
- [build-marist-ubuntu1604-s390x-2](https://ci.adoptopenjdk.net/computer/build-marist-ubuntu1604-s390x-3/)

These are also used for building the s390x docker images, but it should be possible to share them with test. I am going to add the `

[2019-08-15 13:04] gdams commented on #899
I would also suggest we pull over any remaining JCK ones.

[2019-08-15 13:54] smlambert commented on #893
Hi @archanaNogriya, we have this guidelines to help triagers decide where to raise issues:
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/Triage.md

Normally we would not raise an issue in a repo until it was clearly indicating a certain category of problem (infra, test or product).  Reading through your investigation so far, I am trying to see what had you categorize this as an inf

[2019-08-15 14:04] sxa555 commented on #419
This has been kicking around for a while in the WIP tab but is now live ... Will leave it a few days before enabling the option that lets it kill stuff (with yellow triangle warnings if it needed to do anything):

https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck/

[2019-08-15 14:04] #419 closed

[2019-08-15 14:26] sxa555 commented on #839
@smlambert Looking at https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/27/tapResults/ which was on one of the godaddy win2016 systems I don't see an  AddressReuseTest failure - has it been disabled?

[2019-08-15 14:43] Willsparker commented on #864
Created a vagrantfile that can boot a windows VM, and have a list of reliable steps towards running the playbook remotely. A `readme.md` file will need to be created, or an existing one altered to give steps on how to do this.
Overview of the steps taken:
1. `vagrant up` on Vagrantfile.WindowsS12
2. On windows vagrant machine:
  - `wget https://raw.githubusercontent.com/ansible/ansible/devel/examp

[2019-08-15 16:05] sxa555 commented on #822
ansible script is not finalised at present. Tagging https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/819 which is where extra things needed in the playbook are being logged and closing this issue.

[2019-08-15 16:05] #822 closed

[2019-08-16 20:00] #882 closed

[2019-08-19 13:31] adam-thorpe opened #902 "Jlink issues causing mac sanity system tests to fail"
- Roughly 12 sanity system tests are failing on Mac and Mac XL systems both openj9 and hotspot and all JDK versions.
- Issue is with JLink hashes:
[code]
- Not sure if this is an infrastructure problem or not but thought it was most likely
- Link: https://ci.adoptopenjdk.net/view/Test_system/job/Test_openjdk13_j9_sanity.system_x86-64_mac/13/tapResults/

[2019-08-19 14:24] sxa555 commented on #902
Not sure why this would be an infrastructure issue - is it the same issue covered in https://github.com/AdoptOpenJDK/openjdk-build/issues/1214?

[2019-08-19 14:28] Willsparker commented on #696
On a completely new `git clone` and vagrant VM of CentOS6, the playbook has successfully installed cmake, seemingly without issue.

[2019-08-19 14:36] adam-thorpe commented on #902
Yes seems to be related, I didn't think to check if there was an issue at build. Anything I need to do to update this?

[2019-08-19 14:48] sxa555 commented on #902
Nope I'll close now on the basis that it's a duplicate now

[2019-08-19 14:48] #902 closed

[2019-08-19 17:08] sxa555 commented on #696
Looks ok ... Happy to close unless this recurs

[2019-08-19 17:08] #696 closed

[2019-08-20 08:33] M-Davies opened #903 "JTReg Failure on Adopt for Windows"
Failing test [AdoptJenkins](https://ci.adoptopenjdk.net/) for JDK11, x86_64_windows (all other platforms and hotspot unaffected).
[code]
- Couldn't replicate the issue on my Windows 10 VM
- More details on openj9 issue: https://github.com/eclipse/openj9/issues/5274

[2019-08-20 12:41] M-Davies commented on #903
Can't seem to replicate the issue again (locally or on Jenkins). Closing for now...

[2019-08-20 12:41] #903 closed

[2019-08-20 12:50] #807 closed

[2019-08-20 13:25] sxa opened #905 "Poor connectivity to test-macincloud-macos1010-x64-1"
Cannot reliably launch jenkins agent on it. packet loss in horrendous
https://ci.adoptopenjdk.net/computer/test-macincloud-macos1010-x64-1/

[code]

Jenkins startup log:
[code]

[2019-08-20 15:21] sxa555 commented on #851
Autodetection added in https://github.com/AdoptOpenJDK/openjdk-build/pull/1187/files

[2019-08-20 15:58] sxa555 commented on #851
Should be on all build machines now - will keep an eye out and see if any miss it. Separate PR to enable it on CentOS/ppc64le but I've run it on there already so it's ready to go and should build with it tonight. This issue should close once the PR is approved/mereged

[2019-08-21 08:57] andrew-m-leonard commented on #699
@sxa From my investigation I am coming to the same conclusion as Ben on this.... thse Adopt zLinux machine don't support multicast correctly

[2019-08-21 22:36] #864 closed

[2019-08-23 13:13] khairaneMurad opened #909 "Demande to contribute to the AdpotOpenJdk project"
Hello,

I'm a Java developper working on improving the baking system on a widely known bank and i want to contirubte to this project.

best regards,
Mourad.

[2019-08-23 14:24] sxa555 commented on #909
We are happy to take pull requests on any aspect of the project. If your interest is in the infrastructure are please go ahead, but for a general overview of the project and the repositories that are available start at the readme in https://github.com/AdoptOpenJDK/TSC to find your way around, and to discuss things, feel free to join us on our Slack channel by getting an invite at https://adoptopen

[2019-08-23 14:24] #909 closed

[2019-08-24 06:25] karianna commented on #819
These were still labeled incorrectly, now fixed.

I *think* tha's it - @sxa555 Can we close this?

[2019-08-26 18:08] sxa555 commented on #842
Now running on a Thinkpad at https://ci.adoptopenjdk.net/computer/infra-vagrant-1/ but continuing to investigate sourcing a suitable cloud machine for this - will deal with that separately.

See also separate task #890 for adding Debian to this set of tests.

[2019-08-26 18:08] #842 closed

[2019-08-26 18:10] sxa555 commented on #815
Both at 400Gb - closing.

[2019-08-26 18:10] #815 closed

[2019-08-26 18:11] sxa555 commented on #803
No idea what happened with this but it hasn't been seen on the latest runs of the clean playbooks that have been done and isn't showing up in the automatied Vagrant executions, so closing

[2019-08-26 18:11] #803 closed

[2019-08-26 18:18] sxa555 commented on #790
Space ran out again this weekend. Roughly speaking we have the following under the `jobs` dir:

- 130Gb in use by `build-scripts`
- 100Gb by the `Test_` jobs
- 72Gb from what I'll call "Legacy" build jobs (Those not in the `build-scripts` directories)
- Exclusing the above, 6 jobs using more than 1Gb: Three `Grinder` jobs, `openjdk8_jcov`, `UploadFile` (Used by test) and `ev3dev`)

Also, in the `w

[2019-08-26 18:18] #790 closed

[2019-08-26 18:19] sxa555 commented on #819
@karianna I'm holding this open until the playbooks are finalised and tested. Hopefully will get through that with Will this week.

[2019-08-26 18:23] sxa555 commented on #559
Marking as systemdown because it is when the machines reboot

[2019-08-26 18:28] sxa555 opened #910 "Obtain new bare metal system for permanent playbook testing"
Ref #842 #865
We need a permanent machine that can run Vagrant. This will likely need a bare metal system. At the moment we are using a laptop at https://ci.adoptopenjdk.net/computer/infra-vagrant-1/ using the job at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-PlaybookCheck/
May be easiest/quickest in the short term to obtain this via the IBM Cloud, so tagging in Tim - I want to

[2019-08-26 18:30] sxa555 commented on #893
@archanaNogriya Can you address Shelley's comment above please?

[2019-08-26 18:55] sxa555 commented on #840
Going to close this now it's been merged. If the problem is still there please reopen

[2019-08-26 18:55] #840 closed

[2019-08-27 08:34] Willsparker commented on #799
According to: https://access.redhat.com/articles/1299013

"What hardware architectures are supported by the Red Hat build of OpenJDK for RHEL?
...
PPC64 (start wth RHEL7)"

It seems we can't set the default java to be the RHEL6 ppc64 equivalent of what everything else is being set as.
@sxa555 What would be a suitable alternative?

[2019-08-27 08:36] sxa555 commented on #799
Since this is java 8, the adoptopenjdk ones should be suitable

[2019-08-27 08:59] Willsparker commented on #799
Do you know what the path would be, or where I could find out?

[2019-08-27 13:31] sxa555 commented on #799
None of our production machines are RHEL6/ppc64 so if anyone wants to use it on their own systems I'm happy for this to be left in so it works, but it doesn't affect any of our systems. Closing.

[2019-08-27 13:31] #799 closed

[2019-08-27 14:50] adam-thorpe opened #915 "Two s390x machines report different results in a JTReg test"
When running a test, one machine passed a test that I was expecting to fail. Re-tested and this wasn't a one off. The other machine fails and has been used for all of the latest openjdk sanity tests on 13 so I am not sure if the test should be failing and the ubuntu machine is reporting correctly, or if the machine is causing the problem.

Passing machine: test-marist-sles12-s390x-1
Failing machin

[2019-08-27 14:57] adam-thorpe commented on #915
Another unrelated but failing test passed on this machine

[2019-08-27 16:05] sxa555 commented on #915
Test is `java/net/httpclient/ConnectTimeoutNoProxyAsync.java` on JDK13

[2019-08-27 16:13] sxa555 commented on #915
Re-running at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/274/console afeter clearing up many old processes - many `jdb` ones (which aren't currently picked up by the process check job)

[code]

[2019-08-27 16:18] sxa555 commented on #915
Cleaning out processes did not allow the job to pass at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/274/console

[2019-08-28 09:03] karianna opened #917 "Move build script from https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/908 to build repo"
As mentioned in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/908

[2019-08-28 13:24] sxa555 opened #919 "Failure executing "file" on AIX during build"
From job 346 on https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-hotspot/346 executing on https://ci.adoptopenjdk.net/computer/build-osuosl-ppc64-aix-71-2/ :
[code]

[2019-08-28 16:16] sxa555 commented on #851
@keithc-ca That path does exist on the windows machine that the referenced job was on, although it just contains 3 `.txt` files - I'm guessing from what you've said that's not right?

[2019-08-29 00:42] smlambert commented on #631
https://ci.adoptopenjdk.net/computer/test-inspira-solaris10u11-sparcv9-1/ should get test prereqs installed

See https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/288/console

Can't locate XML/Parser.pm in @INC (@INC contains: ./makeGenTool /opt/csw/lib/perl/site_perl /opt/csw/share/perl/site_perl /opt/csw/lib/perl/csw /opt/csw/share/perl/csw /opt/csw/lib/perl/5.10.1 /opt/csw/shar

[2019-08-29 12:05] sxa555 commented on #851
OK the playbook for that isn't installing it fully then. I'll put it on the machines today and assign to @willsparker to fix the playbook.

[2019-08-29 12:33] sxa555 commented on #851
Removing `CUDAToolkit_9.0` from https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/8558f94fecce59121d07f59164c686184d7cb351/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/NVidia_Cuda_Toolkit/tasks/main.yml#L19 appears to make it install everything, including the files we want but I suspect there's a smaller set we could do with selecting in the silent installer.

[2019-08-29 13:14] keithc-ca commented on #851
According to [1], I think the command you want is:
[code]

[1] https://docs.nvidia.com/cuda/archive/9.0/cuda-installation-guide-microsoft-windows/index.html

[2019-08-29 13:29] sxa555 commented on #146
This machine is still giving various build failures which I haven't yet been able to fully understand and diagnose.

[2019-08-29 13:40] #858 closed

[2019-08-29 14:22] Mesbah-Alam opened #921 "Failure to build native tests on AIX"
While trying to build system test on the Adopt AIX machines, we get the following error:

[code]
e.g. https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/285/console

Note the same test builds fine in the internal AIX machines.

Doing some digging about the error, it appears that it will be caused if we are not using GNU make.

We do have a system test requirement of having `GNU mak

[2019-08-29 14:23] Mesbah-Alam commented on #921
@sxa555 - could you please check the make version used in the AIX machines at Adopt and ensure we have GNU make installed on them?

[2019-08-29 14:23] Mesbah-Alam commented on #921
FYI @smlambert

[2019-08-29 14:32] sxa555 commented on #921
The default make in `/usr/bin` is a standard AIX make. `/usr/bin/gmake` is symlinked to `/opt/freeware/bin/make` so either chnage how it's invoked or set that first in your `PATH`

[2019-08-29 15:27] Mesbah-Alam commented on #921
@sxa555 - is this a special requirement on tests for Adopt AIX machines? The same test runs fine on all other platforms, and also on AIX in the internal machines.

[2019-08-29 18:02] smlambert commented on #921
@sxa555 - reopening as we need help to understand the differences between the Adopt/OpenJ9/internal machine configuration.  I had understood they all are configured with Adopt playbooks, but those may not yet specifically create a standard spot for where to expect make/gmake.

We have testing running internally and at OpenJ9 AIX machines (able to compile native tests on AIX).  Is there a way to en

[2019-08-30 08:12] Willsparker commented on #910
#918 - Modifying script for parallelisation

[2019-08-30 10:48] sxa555 commented on #921
For reference:

- Up until about six months ago we did not have any fully working AIX playbooks so the machines would likely have been set up manually and therefore subject to differences depending on who did it
- I was instructed by @tellison not to work on OpenJ9 machine setup (when I was given Windows machines a while back) therefore I cannot personally do any work to look at or resolve this al

[2019-08-30 11:01] sxa555 opened #923 "Enable parallelisation of Vagrant playbook testing"
Now that https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/918 is in we can work on allowing the vagrant testing to execute on parallel instead of sequential.

We have an "empty" job at https://ci.adoptopenjdk.net/view/work%20in%20progress/job/sxa-PlaybookCheckParallel/ which can use the operations in https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-PlaybookCheck/ as a basis