[2019-08-30 11:06] sxa555 opened #924 "Add Windows Server 2012 playbook to automated Vagrant testing"
Now that we have a Windows Server playbook, we should add it into the Vagrant playbook testing scripts to include that platform in the automated testing to be introduced in #923

Hopefully with these two new issues it'll keep you going until I get back Will ;-)

[2019-08-30 11:22] jdekonin commented on #921
The [playbook](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/0dce2952c50e3d886ec84e753ec2723c0531bd7c/ansible/playbooks/aix.yml#L194) installs make via yum ( via AIX Toolbox for Linux Applications ) which adds packages into `/opt/freeware`

`/opt/freeware/bin` is first on the PATH as modified via [PR #118](https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/118) Feb 2018.

On

[2019-08-30 12:36] Willsparker commented on #923
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/sxa-PlaybookCheckParallel/
I've set it up. As of current, it doesn't test the builds, just the playbook- but that's just a case of adding `--build` to the commands it executes :-)

[2019-08-30 12:50] smlambert commented on #921
All of these explanations are very helpful, thanks @sxa555 and @jdekonin

I will close this for now as we decide how best to handle the differences so that tests can be run.

[2019-08-30 12:50] #921 closed

[2019-08-30 13:55] sxa555 commented on #921
@jdekonin I suspect the make rpm put that symlink in place

[2019-08-30 18:02] llxia opened #925 "Test machines need to have make v4.1 and above"
We need to upgrade test machines to have make to v4.1. Otherwise, the test will fail during make gen:

[code]

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1962/console
machine: https://ci.adoptopenjdk.net/computer/test-godaddy-centos7-x64-4/

[2019-09-02 12:56] adam-thorpe commented on #699
I believe these two tests are also linked to this issue:
- java/net/MulticastSocket/PromiscuousIPv6.java
- java/nio/channels/DatagramChannel/PromiscuousIPv6.java

[2019-09-02 15:26] #917 closed

[2019-09-03 11:15] sxa555 commented on #925
Hmmm they ought to have 4.1 available since the playbooks do attempt to install it on Centos 7 as visible in https://ci.adoptopenjdk.net/job/sxa-PlaybookCheckParallel/OS=CentOS7,label=infra-vagrant-1/3/consoleText ... @willsparker Can you take a look on a machine set up with the Centos7 playbook and run `/usr/bin/make --version` and `/usr/local/bin/make -version`

[2019-09-03 11:18] sxa555 commented on #923
Looks good. Hopefully we can get build and a basic test in there too as well +Execution of the `MachineInfo` fake test to show that the test pets are installed. If you talk to Adam/Morgan they can probably show you what to run to run a specific test on your own machine

[2019-09-03 13:57] #851 closed

[2019-09-03 14:12] keithc-ca commented on #851
Verified that CUDA is enabled in `OpenJDK8U-jdk_x64_windows_openj9_2019-08-31-14-43.zip` and `OpenJDK11U-jdk_x64_windows_openj9_2019-09-03-05-14.zip`. Thanks, everyone.

[2019-09-03 14:57] Willsparker commented on #925
`/usr/bin/make --version` output with this:
[code]
`/usr/local/bin/make -version` output with:
[code]
I think it says `Built for x86_64-unknown-linux-gnu` because I didn't run the whole playbook.

[2019-09-04 13:56] andrew-m-leonard opened #928 "Access to AIX slaves to debug build failures"
Please can I get temporary ssh access to the following AIX slaves to debug the current build failures:
build-osuosl-ppc64-aix-71-2
test-osuosl-ppc64-aix-71-1

[2019-09-04 13:58] sxa555 commented on #928
Approved, and added Andrew's ssh keys to those two boxes

[2019-09-04 14:46] andrew-m-leonard opened #929 "AIX builds failing due to /tmp/sh-np.* file leakage...?"
**Platform:**
AIX

**Architecture:**
ppc

AIX builds are current failing with weird errors:
/tmp//sh-np.MnrMic: ambiguous redirect

Examining machine shows /tmp contains a huge number of these sh-np.* files...

[2019-09-04 15:20] sxa555 commented on #925
Looks like the playbooks haven't been executed on these machines as `/usr/local/bin/make` is not present and the standard make is `3.82` - assigning to George

Related: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/839 https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/894 and maybe https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/721

[2019-09-04 16:15] sxa555 commented on #924
Failed at https://ci.adoptopenjdk.net/job/sxa-PlaybookCheckParallel/OS=Win2012,label=infra-vagrant-1/4/console

[2019-09-06 11:59] reinhapa opened #932 "Add build machine supporting GTK3 to run the complete JMC test set"
In order to have the complete test suite for the Mission Control Project being run, I need a build Linux x64 build machine that supports GTK3 using Xvfb

[2019-09-06 14:57] karianna opened #933 "Migrate Jenkins Master to a bigger box (HDD)"

[2019-09-09 09:21] Willsparker commented on #924
This was an issue with the `infra-vagrant-1` machine- the `winrm` `winrm-fs` and `winrm-elavated` plugins weren't installed with vagrant.
Ansible then required the installation of `pywinrm` and `requests-credssp`

[2019-09-09 10:29] Willsparker commented on #924
Initially I installed it in the User space, so it worked on the laptop, but not using Jenkins as it wasn't accessible to the Jenkins user. To properly setup the machine, I did the following:
`sudo vagrant plugin install winrm winrm-fs winrm-elevated` <-- Installs plugins for vagrant
`sudo apt-get install virtualbox-qt` <-- Required for the GUI
`sudo pip install "pywinrm>=0.2.2"`
`sudo pip install

[2019-09-09 12:29] karianna commented on #928
@sxa555 Can this be closed now?

[2019-09-09 12:33] karianna commented on #929
Hi @sxa555 can this be closed now or do we need to apply @andrew-m-leonard 's script?

[2019-09-09 19:56] llxia commented on #622
Close this issue as we are going to switch to use TKG for java soon. Perl module is no longer needed.

[2019-09-09 19:56] #622 closed

[2019-09-10 09:03] Willsparker commented on #924
Ran into an issue when the inline script in the Vagrantfile won't seem to configure the Windows VM correctly to use WinRM , when the following is put in:
[code]
However, this is required, as there is no GUI environment available for Jenkins to use.

[2019-09-10 10:57] Willsparker commented on #924
The Windows Playbook is now testable on Jenkins! 👍

https://ci.adoptopenjdk.net/job/SXA-PlaybookCheckParallel/OS=Win2012,label=infra-vagrant-1/11/

[2019-09-11 13:00] smlambert commented on #925
I have disabled test-godaddy-centos7-x64-4 and test-godaddy-centos7-x64-1 (with a note that links to this issue) as we keep hitting this issue (it is likely that 2 & 3 are same, just have not had time to check so will leave them enabled until functional tests land on them and we see it).

[2019-09-11 14:06] sej-jackson commented on #919
Fixed by upgrading "rpm.rte" to latest version (ie. 4.13.0.10 - was previously 4.9.1.3), so `/opt/freeware/bin/file` is now a symlink to `/usr/opt/rpm/bin/file`, which works.  This had already been done on the other AIX systems.

[2019-09-11 14:08] #919 closed

[2019-09-11 19:13] sej-jackson commented on #704
Done - locales now installed are:
For 7.1:
[code]
and for 7.2:
[code]

[2019-09-11 19:13] #704 closed

[2019-09-11 21:15] sej-jackson commented on #835
I've tickled up a script to rotate the failedlogin file (saving a compressed copy in /scratch/logs) and added it to the crontab to run on a daily basis since the number of failed logins is very high.  The saved files will start being deleted after 90 days.

The script is `/usr/local/bin/rotate_failedlogin` .

[2019-09-13 10:20] sxa555 opened #938 "Add build testing into the automated playbook testing"
Follow on to #842 and #924 - we should verify that the builds work on a machine set up with the playbooks

[2019-09-13 10:21] sxa555 opened #939 "Add basic test verification to the playbook testing"
Follow on to #938 - once we've verified that the build prereqs are installed correctly by ansible we should verify that we have things needed to run the test harnesses - the `MachineInfo` target mentioned by @smlambert in https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1564580457030100 would seem a reasonable choice and should verify the various perl and ant prereqs that we have.

[2019-09-17 13:51] sxa555 commented on #929
https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck was modified to add a section that will delete these files

However I'm somewhat unwilling to close this until we understand why they are being left around as it seems indiciative of another problem which we didn't seem to have in the past. The mitigation in place is more of a hack than a proper solution to this issue.

[2019-09-17 14:05] AdamBrousseau commented on #929
I doubt this is a new issue. We've always had this issue on the OpenJ9 AIX farm machines. I think it's related to Bash on AIX. I had a google a while back and that's where I ended up.

cc @sej-jackson our resident AIX expert.

[2019-09-17 17:01] sxa555 commented on #929
Unclear on whether it's new but we only spotted it recently when it was filling up the filesystems and causing havoc

[2019-09-18 12:19] johnoliver opened #941 "Heart beat check causes intermittent test failures"
JENKINS-48300 issue seems to cause intermittent build failures

https://ci.adoptopenjdk.net/job/Test_openjdk13_hs_sanity.openjdk_x86-64_mac/49/console

[code]

[2019-09-19 14:34] Willsparker commented on #939
@smlambert I've tried running that test on an Ubuntu1604 VM, however it was unable to find `MachineInfo` as a test target. This was after declaring the following environment variables:
[code]
This was after following the instructions here:
https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally

[2019-09-19 14:46] smlambert commented on #939
BUILD_LIST=system,openjdk
TARGET=MachineInfo

[2019-09-19 14:49] smlambert commented on #939
In fact, for the purpose of this test, you do not need openjdk dir in your build list.  The build list tells us which test directory you want to compile, and which test targets (defined in playlists) that you want to generate. MachineInfo is a test target defined in playlists in system directory, so you'd only need to indicate that dir to enable that test.

If you do not need to run any openjdk te

[2019-09-20 13:45] adam-thorpe commented on #897
Test passes on test-scaleway-ubuntu1604-x64-1 at adopt. Can't see any differences between this machine and any of the others

[2019-09-23 16:07] smlambert opened #944 "Need freebsd machine set up with test prereqs"
We need either a dedicated freebsd machine for testing, or add a few [test prereqs](https://github.com/eclipse/openj9/blob/master/test/docs/Prerequisites.md) to build-spearhead-freebsd12-x64-1 so we can test the changes to add test support for that platform/OS.

Trying to run [Grinder tests](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Advanced/612) to verify https://github.com/AdoptO

[2019-09-25 17:19] smlambert commented on #489
We have had the server up and running for quite a while now.  Am assuming this is staying open to ensure config is captured and that a playbook is created ?

[2019-09-30 17:45] smlambert opened #945 "Need FreeBSD machine setup for testing *BSD builds"
As per https://github.com/AdoptOpenJDK/openjdk-tests/pull/1325#issuecomment-536663664 we need a FreeBSD machine set up for testing.  Creating this issue, as I do not think its been formally captured as a requirement yet.

[2019-10-02 11:30] Willsparker commented on #383
Related #553 and this is involved in the work I'm doing for #942

[2019-10-04 10:46] #383 closed

[2019-10-04 12:59] sxa555 commented on #489
Yep ;-) @gdams did you ever PR it as mentioned earlier?

[2019-10-04 14:57] Willsparker opened #951 "Both Unix & Windows need JDK13 for when we build JDK14"

[2019-10-07 10:16] andrew-m-leonard opened #952 "build-scaleway-x64-ubuntu-16-04-2 "installer" machine is build pipeline bottleneck"
Nightly builds are getting bottlenecked on this machine due to it being the only machine capable of installer job due to the require GPG keys. It is not helped by the fact that some very long running jobs also run on it, eg.DockerFile builds taking 4+hrs and openjdk_build_docker_multiarch docker&x64 jobs which take 5-6 hours!! every day!

[2019-10-07 11:28] sxa555 opened #954 "Make ansible roles for adoptopenjdk common across versions (9+)"
At the moment we have separate directories and roles in the ansible playbooks for installing java 8-13. This is resulting in a lot of duplication of directories that only differ in version number. Instead of just adding to the duplication by adding a java 13 version, I would suggest creating a generic "adoptopenjdk" role which can take a parameter with the verison number, and then calling it multi

[2019-10-08 09:21] #951 closed

[2019-10-08 09:21] #954 closed

[2019-10-09 09:09] #924 closed

[2019-10-09 09:09] #923 closed

[2019-10-10 14:13] #477 closed

[2019-10-10 14:13] #505 closed

[2019-10-16 11:59] lumpfish opened #961 "Build configure script fails on build-digitalocean-centos69-x64-1"
openj9 jdk8 build https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/435 failed on build-digitalocean-centos69-x64-1 running generated-configure.sh with the message

[code]

More output:
[code]
Other linux_x64 machines build OK.

[2019-10-16 15:07] lumpfish opened #962 "Test failures on test-godaddy-win2016-x64-4 due to unable to clean workspace"
Test run https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl/65/console failed with
[code]

[2019-10-16 15:47] lumpfish opened #963 "Tests fail to run on build-osuosl-ppc64-aix-71-2"
Tests are not starting on build-osuosl-ppc64-aix-71-2.
The last message is
[code]
so it looks like there is an issue installing the jdk under test.
The chmod message is not seen on successful test runs on the other aix build machine, build-osuosl-ppc64-aix-71-1

Sample job: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix/5/console

[2019-10-17 10:02] lumpfish commented on #961
Fails in the same way on build-digitalocean-centos69-x64-2

[2019-10-17 10:17] lumpfish commented on #961
Jenkins jobs for linux_x86 jdk8u specify:
[code]
so those two machines are the only eligible ones.

[2019-10-17 11:19] lumpfish commented on #961
Failure was due to incorrect parameters being passed to the build in the Jenkins pipeline.  Fixed in https://github.com/AdoptOpenJDK/openjdk-build/pull/1332.

[2019-10-17 11:19] #961 closed

[2019-10-17 13:35] adam-thorpe opened #964 "JDK native sanity test fails on test-azure-win2012r2-x64-1 only"
When running on this azure machine, the test seems to fail constantly, across multiple versions (JDK 11 and 13) and x64/x32/large heap. Doesn't seem to fail on any of the other machines. I would assume azure 2 and 3 would produce the same output but they are currently offline.

See: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/825/
Rebuild: https://ci.adoptopenjdk.net/job/Grinder/para

[2019-10-17 16:41] lumpfish opened #965 "Builds fail on build-osuosl-ppc64-aix-71-1 due to too many processes are active"
openj9 jdk11 aix build https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/381/console failed with
[code]

[2019-10-17 17:15] lumpfish commented on #965
Builds are failing on build-osuosl-ppc64-aix-71-2 with similar messages also.

[2019-10-22 08:56] adam-thorpe opened #967 "Inconsistency between Mac 10.13 and 10.14 machines at hyc"
See: https://github.com/eclipse/openj9/issues/6035#issuecomment-543735755

Small group of 5 java net/nio tests that fail on mac 10.14 but not 10.11 machines at https://hyc-runtimes-jenkins.swg-devops.com. This is on both hotspot and openj9. When tested at https://ci.adoptopenjdk.net, both the 10.13 and 10.14 machines pass these tests, so there must be a missing dependency or some inconsistency bet

[2019-10-22 14:49] Willsparker commented on #685
@karianna Any suggestions on additions or reworking, in particular? :-)

[2019-10-22 14:57] Willsparker commented on #378
Windows playbook has been updated enough to get JDK8 working, at least. Through my testing, it seems Cygwin's `git` is preferable generally as Windows `git` will have issues when interacting with Cygwin: https://github.com/git-for-windows/git/issues/568
Just as an FYI :-)

[2019-10-22 15:01] karianna commented on #963
The workspace was deleted after the run so I can't see what the permissions looked like :-(.

[2019-10-22 16:09] lumpfish commented on #963
It was happening for every test run at unzipping the sdk time, so if someone could log in as Jenkins and simulate that, maybe that would show us what's going on.  Perhaps a run of something first to confirm it's still happening?

[2019-10-23 09:27] adam-thorpe opened #970 "JTReg test inconsistency on ci.adoptopenjdk.net linux machines"
Test: java/rmi/dgc/retryDirtyCalls/RetryDirtyCalls.java
Reproduce: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&BUILD_LIST=openjdk&JenkinsFile=openjdk_x86-64_linux&CUSTOM_TARGET=test/jdk/java/rmi/dgc/retryDirtyCalls/RetryDirtyCalls.java&TARGET=jdk_custom_0&LABEL=test-scaleway-ubuntu1604-x64-1

Test produces this output when ran on test-scaleway-ubuntu1604-x64-

[2019-10-23 10:14] adam-thorpe commented on #970
Test is intermittent so this information is wrong, it fails on both machines

[2019-10-23 10:14] #970 closed

[2019-10-23 13:30] karianna commented on #964
https://github.com/AdoptOpenJDK/openjdk-tests/issues/1396

[2019-10-24 09:40] Willsparker commented on #294
@gdams Is this still an issue? Currently putting the windows playbook through it's paces with #942 and I've so far been able to build JDK8 and JDK11 without any extra dependencies on top of the playbook running.

[2019-10-24 09:47] gdams commented on #294
@Willsparker the codesign/signtool steps are still required, we currently manually install them.

[2019-10-24 10:33] Willsparker commented on #294
It seems all thats needed from #300 will be `roles/Certificate/tasks/main.yml` and possibly `roles/MS_SDK_7.1/tasks/main.yml`, for `signtool.exe`

[2019-10-24 12:15] karianna commented on #378
I think we can call this done and raise individual issues as needed.   Thanks @Willsparker

[2019-10-24 18:29] llxia commented on #925
`test-godaddy-centos7-x64-3` also has make issue:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/901/console

[code]

[2019-10-26 09:14] karianna commented on #685
I need to go through it from scratch as a new user :-).  I'll try to get that this week.

[2019-10-26 09:34] karianna commented on #791
@Willsparker - So you think this can be closed?

[2019-10-28 08:09] Willsparker commented on #791
@karianna I'd say so- It's not *true* local execution, but it's as close as we can get with Ansible as it is :)

[2019-10-28 11:55] #967 closed

[2019-10-28 15:01] sxa555 commented on #465
This needs verifying again as hopefully it is no longer a problem

[2019-10-28 15:05] sxa555 commented on #928
Yep it can now

[2019-10-28 15:05] #928 closed

[2019-10-28 15:08] sxa555 commented on #910
@tellison as mentioned a while back, can we proceeed with getting a bare-metal server provisbioned for this please?

[2019-10-28 15:09] sxa555 commented on #899
Closing this as I believe they are enabled now

[2019-10-28 15:09] #899 closed

[2019-10-28 15:21] sxa555 commented on #839
@smlambert Looks like https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/71/console ran on one of the godaddy windows 2016 machines and passed ok - are we good to close this now?

[2019-10-28 15:24] sxa555 commented on #779
Do we need this on all the machines or is there a limited number of systems we're planning to run this on?

[2019-10-28 15:36] sxa555 commented on #780
@neomatrix369 is there something blocking this at the moment - does the `clang` issue that you mentioned above still exist? (Not sure what it was from your previous comment)

[2019-10-28 15:57] smlambert commented on #839
Yes, let's close it (its too general an issue anyway).  We can raise more specific issues as they arise.

[2019-10-28 15:57] #839 closed

[2019-10-28 16:45] sxa555 commented on #965
This was mitigated at the tune by running my process cleanup job. Will see if ti recurs when the nightlies are re-enabled

[2019-10-28 17:17] #791 closed

[2019-10-28 20:11] grzesuav commented on #779
not sure, probably best to start witch machines used to build linux images. @karianna any thoughs ?

[2019-10-28 22:21] karianna commented on #779
I'd say linux for any docker related builds.

[2019-10-29 11:32] sxa555 commented on #952
We need more machines capable of performing this fuinction - one across docker and installers is not appropriate.

For the docker work, only docker is required on the machine, so that should be easy to offload

[2019-10-29 11:45] sxa555 commented on #952
System being created - `docker-godaddy-ubuntu1604-x64-1` - to offload this work

[2019-10-29 15:04] sxa555 commented on #952
Docker images are struggling to connect to external systems, therefore this is not currently working on the machine ...

[2019-10-29 15:17] sxa555 commented on #893
@archanaNogriya I intend to close this in a few days unless you can confirm it's still an issue and that Shelley's queries as to why this should be in the infra repo are not addressed.

[2019-10-29 16:09] sxa555 commented on #963
This is caused by the directory that we are extracting to having the SGID bit set.

But glossing over that for a second, @smlambert why are we running `chmod -R 755` on  the SDK directory after extracting it in get.sh? Surely the contents of the tarball should have the correct permissions, and doing something like this can only mask potential problems with the permissions within the tarball? @Mesb

[2019-10-30 10:39] #938 closed

[2019-10-30 11:37] archanaNogriya commented on #893
Hi @sxa555, Sorry for not coming to this. Later found that java/util/stream/test/org/openjdk/tests/java/util/SplittableRandomTest.java  was excluded as it was JDK13 testcase which explained why it failed for 11.  and rest of test works absolutely fine. so I dont see any point to keep this open.

[2019-10-30 11:37] #893 closed

[2019-10-30 14:13] sxa opened #974 "Update OpenSSL to 1.1.1d on Windows machines"
Follow up to the original installation on https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/526 as there are updates to openssl that mean we need to update the bundled version on windows

[2019-10-30 14:33] #963 closed

[2019-10-30 17:11] #974 closed, assigned to sxa

[2019-10-31 02:03] smlambert commented on #699
those tests also fail at OpenJ9

java/net/MulticastSocket/Promiscuous.java:
https://ci.eclipse.org/openj9/view/Test/job/Grinder/547/

java/nio/channels/DatagramChannel/Promiscuous.java:
https://ci.eclipse.org/openj9/view/Test/job/Grinder/548/

[2019-11-01 10:25] Haroon-Khel commented on #721
Having recreated the error on a separate machine, a proposed fix is to spin up the ubuntu image by running `docker run --network=host -it ubuntu`. In this docker container, the `apt-get update` and `upgrade` commands should work without error

[2019-11-01 10:26] #739 closed

[2019-11-01 10:26] Haroon-Khel commented on #952
A proposed fix is to spin up the ubuntu image by running `docker run --network=host -it ubuntu`. The docker container should should then be able to connect to external systems without error

[2019-11-01 10:27] #378 closed

[2019-11-01 10:29] #939 closed

[2019-11-01 10:43] sxa555 commented on #693
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/693 removes `rm -f /ramdisk0/build/Snap.*.trc`  `/ramdisk0/build/core.*.dmp`  `/ramdisk0/build/heapdump.*.phd`  `/ramdisk0/build/javacore.*.txt` so while tyhis is a temporary workaround we need a better solution. @sej-jackson Have you gone back to look at this?

[2019-11-01 14:43] sxa555 commented on #731
Both machines seem to have the package installed and are not visibly showing any signs of this still being a problem. Closing.

[2019-11-01 14:43] #731 closed

[2019-11-01 16:05] #965 closed

[2019-11-01 16:08] sxa555 commented on #465
Does not appear to be an issue any more - closing

[2019-11-01 16:08] #465 closed

[2019-11-01 16:49] sxa555 commented on #770
This is being maintained reasonably well through the process cleanup job at https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck/configure therefore closing for now.

[2019-11-01 16:49] #770 closed

[2019-11-01 16:51] sxa555 commented on #756
This requires docker so need to be clear on which is an appropriate hosting provider to be able to progress this (GoDaddy for example has shown problems with network connectivity inside docker images)

[2019-11-01 17:14] sxa555 commented on #403
Not seen any issues in this area recently, therefore closing to get this off the issues list

[2019-11-01 17:14] #403 closed

[2019-11-01 17:32] sxa555 commented on #637
@smlambert Do you know if this has shown any issues recently? Since no-one's been yelling at me I'm guessing it might have gone away as an issue?

[2019-11-01 17:34] sxa555 commented on #355
@jabrena Is this issue still live and are there outstanding actions to take (Given that it says JDK10 I suspect at the very least it's outdated)

[2019-11-01 18:30] jabrena commented on #355
Sorry, it is a bit old. I am going to close it.

Currently, we have support until java 13 in a stable way.
https://github.com/ev3dev-lang-java/openjdk-ev3

[2019-11-01 18:30] #355 closed

[2019-11-04 12:40] Willsparker opened #977 "Make Windows Playbook testing work on a Linux Host"
Found when trying to get the `SXA-PlaybookCheckParallel` job running on Jenkins, that the command `vagrant powershell` doesn't work on linux hosts, but it does Mac and Windows. This is despite installing `powershell` onto the machine.
Therefore, the Jenkins job won't run on the Win2012 VM, due to the `testScript.sh` 's use of `vagrant powershell`. This will be fixed by
- Moving the git clone comma

[2019-11-04 12:43] gdams commented on #945
dupliacate of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/944

[2019-11-04 12:43] #945 closed

[2019-11-04 13:24] sxa555 commented on #753
Memo to self - current limits are as follows:
- 10 instances
- 16 vCPUs
- 32GB RAM
- 512GB storage

Size options:uk.medium (4CPU/8GB/160GB) or uk.large (8CPU,16GB,320GB) Ideally I'd have two of 8CPU, 16GB, 256GB but for now I've set up one of the `uk.large` and the other `uk.medium`

[2019-11-04 13:38] sxa555 commented on #753
build-linaro-centos76-armv8-1 213.146.141.99
build-linaro-centos76-armv8-2 213.146.141.123

[2019-11-04 17:15] smlambert commented on #637
Launched https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_ppc64_aix/6 and
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix/3
to see what is the latest state of AIX sanity.openjdk

[2019-11-05 04:33] smlambert commented on #637
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix/3/testReport/ - ManyFiles.java test passed, let's assume this issue has been addressed.

[2019-11-05 04:33] #637 closed

[2019-11-05 10:42] #977 closed

[2019-11-05 11:28] tellison commented on #910
@sxa555 please let me know what spec of bare metal machine you require (cores, RAM, SSD size, OS request)

[2019-11-05 13:27] sxa555 commented on #910
At the moment we're using a laptop with 8 cores which would be ideal but 4 would be ok (it's mostly for parallelism). 16GB of RAM at a minimum (will be for 5 * 2GB VMs running in parallel at the moment, and disk-wise it's unlikely we'd need more than 50GB initially but I'd prefer 100GB to give us a bit of flexibility

[2019-11-05 14:56] tellison commented on #910
Which OS do you want installed?

[2019-11-05 16:45] tellison commented on #910
Created as 1 x 4 core Intel CPUm 32 Gb RAM, 1TB HDD, Ubuntu 18. named `infra-softlayer-vagarant-1.adoptopenjdk.net`.
Currently being provisioned.  Please close the issue if that works out ok for you.

[2019-11-06 08:29] Willsparker commented on #619
@karianna  @sxa555 Is a one-off cleanup still required, and if so where should I take the hostnames from?

[2019-11-06 11:31] karianna commented on #619
I'll defer to @sxa on this one

[2019-11-07 11:39] adam-thorpe opened #984 "Multiple linux machines resolve invalid host names"
When creating an InetSocketAddress(String host, int port) object, the constructor will pass the host name to InetAddress to see if it is a valid address. If the host name cannot be found, it is marked as unresolved (set to null), which can be tested via the isUnresolved() method. It would seem that addresses are not being marked correctly on the x64 linux machines. Consistent on both openj9 and ho

[2019-11-07 13:47] adam-thorpe commented on #984
Each machine seems to find the same few IP addresses, so the godaddy c7 machine and softlayer rhel machines I tested on outputted the same IP, but godaddy ubuntu was different (I won't put the IPs here in case they are important). These don't seem to be linked to the hostname as changing that didn't effect the results.

[2019-11-08 16:02] sxa555 commented on #984
IPs are all in https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/inventory.yml so not especially sensitive - can you provide a sample java app (just a few lines of real code) with the names that are producing undesirable results to aid debugging of this please?

[2019-11-11 10:13] adam-thorpe commented on #984
[TestIP.zip](https://github.com/AdoptOpenJDK/openjdk-infrastructure/files/3830787/TestIP.zip)
example output: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1049

[2019-11-11 11:17] adam-thorpe commented on #984
Other architectures do seem to be failing this test, however only a couple machines seem to be affected. test-marist-ubuntu1604-s390x-1 is an example of a passing z linux box

[2019-11-12 08:30] Willsparker commented on #865
To keep a log of the work being done :
- There's a consistent error when running the playbooks in parallel, in that (it seems) when one playbook fails (due to an external reason), the other ones with stop instantly and say `Connection to 127.0.0.1 closed by remote host`. Hypothesis that this is connected either to `vagrant halt` or `vagrant destroy`.
- The Windows section of the `testScript` will

[2019-11-13 09:08] Willsparker commented on #865
The `Connection to 127.0.0.1 closed by remote host` issue wasn't tied to either `vagrant halt` or `vagrant destroy`. It seems it is, however, tied to the multiple VMs running at once in some way - which is yet to be determined. A workaround for this has been to reduce the build executors on the Jenkins slave to 1, although this is not ideal as the job now takes ~8 hours to complete.
Another potent

[2019-11-13 14:47] sxa555 commented on #984
Like the docker issues we've seen this appears to be something specific to the godaddy hosting infrastructure:

[code]
Not sure if there's a lot we can do about it unless we try to switch the DNS away from the ones they're configured with or possibly remove `dc1.corp.gd` from the DNS search list.

[2019-11-14 11:49] sxa555 opened #994 "Issue to log timeouts occurring when using adoptopenjdk playbooks"
As part of the playbook testing we're doing under vagrant we're seeing various intermittent timeouts with external services e.g. cmake, sourceforget (for ant-contrib) and at least in once case today our own adoptopenjdk api. Due to the vagrant testing we're running the playbooks more frequently so it's more likely to show up intermittent issues This issue will log when these are occurring.

We can

[2019-11-14 15:44] sxa555 commented on #753
Capacity increased to 640GB of disk so I can have two of the larger ones now. The `-1` machine appears to have fallen off the network but I should be able to recover that, but the other one is now up and running, connected into the jenkins, and has managed to run a couple of builds without any obvious issues: https://ci.adoptopenjdk.net/computer/build-linaro-centos76-armv8-2/

On that basis I'm cl

[2019-11-14 15:44] #753 closed

[2019-11-15 13:23] Willsparker commented on #865
<img width="382" alt="Screenshot 2019-11-15 at 13 22 19" src="https://user-images.githubusercontent.com/52783864/68946509-1157f300-07ab-11ea-99cd-1b093e815712.png">

ayy

[2019-11-16 09:26] karianna commented on #865
@Willsparker so this can be closed?

[2019-11-16 12:37] sxa555 commented on #984
As per https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1573832895014600 Demetrius seems happy with us modifying the DNS configuration so I will look at doing that at the start of next week which will hopefully resolve this.

[2019-11-16 20:13] reinhapa opened #996 "Remove old "jmc-latest_old" job"
The following Jenkins Job is no longer needed and can be removed:
https://ci.adoptopenjdk.net/view/JMC/job/jmc-latest_old/

[2019-11-16 20:35] sxa opened #997 "Replace keybox server"
Our keybox server has been rather dead for a while and we need to get it replaced. Just spotted we don't have an issue covering this so here's one we can use.
Ref: https://github.com/AdoptOpenJDK/security/issues/30 (restricted) https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/894#issuecomment-521006518

Blog on original setup: https://blog.adoptopenjdk.net/2017/08/ssh-key-management-k

[2019-11-16 20:38] sxa555 commented on #423
@jdekonin Is this still required and if so do you have an idea of what might be required (Except for possibly having `localhost` as an option in the `hosts:` line in the top level playbook file? I don't believe it's possible to run ansible locally on a Windows machine.

[2019-11-16 20:41] sxa555 opened #998 "Add checksum option to all ansible get*url operations"
We should have everything checksummed to protect us against corrupt/malicious downloads etc.

[2019-11-16 20:50] sxa555 commented on #865
@karianna I think he's added that image onto the wrong issue as that one is for Dockerfile regular testing - https://ci.adoptopenjdk.net/view/Tooling/job/SXA-DockerfileCheck/

Saying that, with the addition of the retry operations in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/995 we are probably very close to being able to close this - need a few more test runs and to re-enable th

[2019-11-16 20:54] sxa555 commented on #952
Considering switching away from godaddy for this purpose since I'd rather have a provider that works out of the box - will investigate...

[2019-11-17 19:51] karianna commented on #996
Done!

[2019-11-17 19:51] #996 closed

[2019-11-18 08:16] Willsparker commented on #994
CentOS6:
  -  Ant Contrib:
[code]

[2019-11-18 10:44] Willsparker commented on #865
We're still hitting the `Connection to <IP_ADDRESS> closed by remote host` error on a lot of runs of the job.

Just FYI, For windows, the following error message occurs due to whatever is closing the VMs, as this is the error message that is printed when ansible can't connect to the VM. Therefore, it can be considered as Windows equivalent to `Connection closed by remote host` :

[code]

[2019-11-18 16:19] sxa opened #1001 "Ensure JDK13 is on all build machines for bootstrapping JDK14"
Updates made in the playbooks but JDK13 is not yet deployed on many of the machines (which is preventing many of the builds in https://ci.adoptopenjdk.net/view/Tooling/job/JavaFutures/ from working (fixing that will just require execution on the two machines that are being used by that job but it needs to be done everywhere.

[2019-11-18 19:45] pshipton opened #1006 "Provision AIX 7.1 TL5 SP5 build machines for OpenJ9 JDK13+ builds"
See https://github.com/eclipse/openj9/issues/7786

In order to build OpenJ9 for Java 13 and later, we need a new version of the AIX `dump` utility, which is included in 7.1 TL5 SP5 (SP5 being the new part). All the AIX machines used for build need to be upgraded.

[2019-11-19 10:37] aahlenst opened #1002 "A download server for linux packages for AdoptOpenJDK"
We've been using an [Artifactory instance sponsored by JFrog](https://adoptopenjdk.jfrog.io/) for roughly half a year to host Linux packages of AdoptOpenJDK. There's work underway to host our flavour of JMC there, too. I'd like to reconsider whether we're on the right track here:

* What are our needs?
* Do we favour a managed solution like Artifactory?
  * Is Artifactory the right solution, after

[2019-11-19 10:55] aahlenst commented on #1002
From the perspective of the Linux packages:

* We've amassed approx. 20 GB of Debian/Ubuntu packages and 180 GB of RPMs since May 2019 (6 months). I expect that we need around 500 GB of storage per year for releases alone. In the first months, we didn't build all OpenJ9 variants. We have 5 TBs of nightly builds.
* I'm leaning towards using upstream tooling to host the package feeds, i.e [reprepro]

[2019-11-19 12:08] reinhapa opened #1004 "Remove old "jmc-latest" job"
The following Jenkins Job is no longer needed and can be removed:
https://ci.adoptopenjdk.net/view/JMC/job/jmc-latest/

[2019-11-19 13:33] jdekonin commented on #423
I wanted to setup a machine via ansible tower but I had to either hack the host line in the main.yml or add the machine to an inventory.  Seems like an unwanted and unnecessary step if the machine isn't going into a build system where the inventory file is required.

How does the automated checks work?  Or do the automated checks work on windows yet?  For that matter the same issue would exist on

[2019-11-19 16:29] sxa555 commented on #1004
Done

[2019-11-19 16:29] #1004 closed

[2019-11-19 16:30] sxa555 commented on #1001
Added to both machines used for building the [JavaFutures](https://ci.adoptopenjdk.net/view/Tooling/job/JavaFutures/) codebases for now, which should resolve the immediate problem.

[2019-11-19 16:37] sxa555 commented on #984
Have removed `dc1.corp.gd` and `hosting.cop.hd` from `/etc/resolv.conf` on t he four GoDaddy Ubuntu 16.04 machines which won't be permanent but will hopefully let us see if it passes tonight

[2019-11-19 17:28] sxa555 commented on #1006
@pshipton I presume this is unrelated to my current issue where I'm getting this?
[code]

[2019-11-19 17:34] sxa555 commented on #1006
We're currently on TL04SP1 so this isn't just an SP upgrade. I've got a couple of new machines running 7.2 TL03SP3 that haven't been set up yet - would they have the later `dump`? (Not that we necessarily want to use a later level for building on of course)

[2019-11-19 17:54] pshipton commented on #1006
Correct, this is unrelated.

No, only TL5 SP5 contains the new version of `dump`

[2019-11-20 11:10] adam-thorpe commented on #984
Test passed: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1099/

[2019-11-20 14:45] sxa555 commented on #1006
OK I think I've got one OSUOSL machine kicking around that I haven't got set up yet. I would propose trying to use that one for this, albeit with the risk that we don't have console access. I'll assign this one to @sej-jackson for now so she can progress when possible.

[2019-11-21 11:18] Willsparker commented on #994
To Do:
- [ ] Add Retries to the following:
  - [ ] Ant-Contrib
  - [ ] Git-Source
  - [ ] adoptopenjdk_install

[2019-11-22 11:51] gdams commented on #984
Not sure that this can be closed yet, I assume that @sxa555 will need to make a permanent change to the boxes

[2019-11-22 11:53] adam-thorpe commented on #984
Yes there are other boxes that still fail this test and have not had the same change implemented on them

[2019-11-22 14:53] sxa555 commented on #984
@adam-thorpe Which machines? Are you seeing it on the non-Ubuntu GoDaddy ones too?

[2019-11-22 15:03] #878 closed

[2019-11-22 15:15] sxa555 commented on #423
@jdekonin Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/pbTestScripts/testScript.sh
At the moment it runs a sed against the hosts line to change it to `all`

[2019-11-22 15:18] adam-thorpe commented on #984
@sxa555 Yes, I retested this on a GoDaddy debian8 machine which still fails: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1100/
I'm fairly sure there were a couple more that aren't even GoDaddy machines like the Softlayer Rhel ones. I can try to gather a list if you'd like however I'm pretty sure a large number of boxes are effected

[2019-11-22 17:37] sxa555 commented on #929
Since the `test` tag isn't currently on the new machine [test-osuosl-ppc64-aix-71-1](https://ci.adoptopenjdk.net/computer/test-osuosl-ppc64-aix-71-1/) this machine has succumbed to the same problem. Once we figure out why that machine isn't running tests properly we can resolve it, but for today I'm clearing up the files manually as a one-off

[2019-11-22 18:11] sxa555 commented on #984
OK thanks - looks like the SL RHEL ones are seeing the issue because the adoptopenjdk.net domain similarly resolves any DNS request underneath it ...

[2019-11-22 23:44] thegreystone commented on #1002
Sounds excellent. Having the JMC update sites on a download server would be great. Something along the lines of:

https://<baseurl>/jmc/updatesites/latest/ide/
https://<baseurl>/jmc/updatesites/latest/rcp/
https://<baseurl>/jmc/updatesites/7.0.0/ide/
https://<baseurl>/jmc/updatesites/7.0.0/rcp/
https://<baseurl>/jmc/updatesites/7.1.0/ide/
https://<baseurl>/jmc/updatesites/7.1.0/rcp/

[2019-11-25 13:55] adam-thorpe opened #1010 "Problems downloading freetype in build scripts"
See: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9/395/console

Causing problems on all platforms when downloading freetype (consistent with wget as well)
`curl: (7) Failed connect to download.savannah.gnu.org:443; No route to host`

A curl error code 7 occurs when a connection is unavailable to a host or proxy, so this is bef

[2019-11-25 16:24] #910 closed

[2019-11-26 11:55] Willsparker commented on #865
I've gone down a new road that completely removes the `vagrant` commands, other than `vagrant up`, and will start the playbook by doing it much like it has to be done with the Windows VMs- executes `ansible-playbook` on the machine and then points it at the VM. With #999, `vmDestroy.sh` is ran before `testScript.sh` is run so the VMs are still being destroy and cleared off the machine, once a new

[2019-11-26 13:50] Willsparker opened #1015 "Debian 8 Playbook Issues"
Extension from #890 . Using this issue as a way of documenting the issues I have running the playbook on Debian 8, assuming `..AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Debian.yml` is a copy of `..AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml`

[2019-11-26 13:53] Willsparker commented on #1015
Adding both repositories `openjdk-r` and `ubuntu-toolchair-r/test` don't work as Ubuntu version "Jessie" doesn't exist.

Fix: add `update_cache = false` to both `apt-add-repository` tasks, and add another task under them that executes `sec -i 's/jessie/trusty/g' /etc/apt/sources.list.d/ *` ( except without the wildcard because Ansible doesn't like those )

[2019-11-26 13:56] Willsparker commented on #1015
Installing `openjdk-8-jdk` is met with an error message stating:
[code]

This will need to be removed from `AdoptOpenJDK_Unix_Playbook/roles/Common/vars/Debian.yml` and an alternative found.

[2019-11-26 13:58] Willsparker commented on #1015
Nvidia_Cuda_Toolkit isn't installed on Debian 8 (nor Ubuntu18) due to the conditions. Simple addition of `or (ansible_distribution == "Debian" and ansible_distribution_major_version == "8")` to the end of each condition checks.

[2019-11-26 14:01] Willsparker commented on #1015
The `local_srcinstall` role for `Protobuf` doesn't execute on Debian. Add `or ansible_distribution == "Debian"` to the conditionals.

[2019-11-26 14:22] sxa555 commented on #984
Edited `/etc/network/interfaces.d/hfs*` to remove `dc1.corp.gd` and `hosting.cop.hd` from the `dns-search` line on the ubuntu 2-4 machines. My credentials for the `adoptopenjdk` user doesn't seem to work on the `-1` ubuntu machine though. @gdams is the password on that one different? If so please send me the new one somehow as these machines don't have the admin team's ssh keys installed

[2019-11-26 14:22] sxa555 commented on #984
We need to look at how to resolve this for the `adoptopenjdk.net` domain since many other machines are configured with that as their default domain and will experience the same symptoms

[2019-11-26 14:45] karianna commented on #984
@gdams and I will look at it, should be a *.domainname problem.

[2019-11-26 14:50] karianna commented on #984
Fixed.  LMK if that works.

[2019-11-26 15:15] sxa555 commented on #984
A quick test on the machines previously affected show that the problem no longer exists (possibly except for the entries on the godaddy-1 ubuntu machine which I can't access) so I think we're good almost everywhere now.

[2019-11-26 15:20] adam-thorpe commented on #984
I'll un-exclude the test then and see if it starts passing in the nightlies. This may have affected a bunch of tests which would be nice

[2019-11-26 17:54] sxa555 commented on #1015
https://developer.download.nvidia.com/compute/cuda/repos/ doesn't have any download for Debian so the addition of the extra conditionals does not help you locate something suitable for downloading on that platform later on in the role.

[2019-11-26 20:47] jdekonin commented on #423
That seems like an unneeded step.  One that I don't want to embed in AWX automation as its add complexity when its not required.  Why not just have the main.yml default to `all`?

[2019-11-27 12:57] thegreystone commented on #1002
Note that once we have published the update sites, we should re-spin and re-publish the application builds, including 7.0.0 and 7.1.0, with correct overrides for the URLs. Then it will finally be possible to install the optional plug-ins. :)

[2019-11-28 08:03] aahlenst commented on #1002
Rough idea using AWS terminology:

![architecture_sketch](https://user-images.githubusercontent.com/198908/69786824-718f6180-11bb-11ea-974f-a482dd0a101c.png)

The Jenkins nodes push build artifacts to an upload server using restricted SFTP. The upload server keeps a local copy of all files. It is responsible for generating package indices and signing files. This cannot be done on Jenkins nodes bec

[2019-11-28 13:10] sxa555 commented on #964
Last comment is different, but this is issue appears to be the same (and has a trss link which shows which machines it's passed/failed on): https://github.com/AdoptOpenJDK/openjdk-tests/issues/1471

[2019-11-28 13:22] adam-thorpe commented on #964
Seems I forgot to exclude this when I made the issue, which is why it is still failing in tests. I will put in a merge request for it later.

[2019-11-28 15:47] sxa555 commented on #1006
I have a meeting on Monday about trying to get a couple of the new machines that I have been allocated reinstalled with this level (They're currently installed with 7.2)

[2019-11-28 15:50] sxa555 commented on #146
I have another two AIX boxes from another source now available but aren't yet set up for our needs, but will be looking at getting them installed with a level suitable for the OpenJ9 folks as per #1006

[2019-11-29 08:23] Willsparker commented on #1015
As per a slack conversation : https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1574868024158700
NVidia_Cuda_Toolkit is not _required_ to build openJ9 and as there's no download of Debian, I'll leave this off the list of items to fix for the Playbook.

[2019-11-29 08:30] Willsparker commented on #1015
To fix this, I would say putting a role to download AdoptOpenJDK8 either in `Common/tasks/Debian.yml` or just adding it to the playbooks would be the best solution. I installed this via https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u232-b09/OpenJDK8U-jdk_x64_linux_hotspot_8u232b09.tar.gz manually to build JDK8-J9

[2019-11-29 08:31] Willsparker commented on #1015
Also found whilst building J9 - the system OpenSSL version is 1.0.1 from the vagrant box, so Debian will need to be added to the list of conditionals in the OpenSSL102 role.

[2019-11-29 11:08] M-Davies opened #1019 "s390x Machine Out Of Space"
`build-marist-rhel74-s390x-1` seems to have hit its storage capacity on ci.adoptopenjdk

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-hotspot/335/console

Console Output (in case the link above doesn't work): [s390x_outofspace.txt](https://github.com/AdoptOpenJDK/openjdk-build/files/3904890/s390x_outofspace.txt)

[2019-11-29 13:26] sxa555 commented on #1015
Our other Debian systems have `openjdk-8-jre-headless` by the look of it but that's one of the broken dependencies in your output.

[2019-11-29 13:51] sxa555 commented on #1019
`/var/tmp` was full of a temporary `yum-nagios` directory. Cleared that, ran `yum update`, failed, manually updated the three large java packages on the machine, then cleaned up the packages and did a `yum update` again as perr the crontab and it's now happy again.

[2019-11-29 13:51] #1019 closed

[2019-11-29 13:54] Haroon-Khel commented on #694
I have ran both tests on the test Scaleway machine, and both consistently return successes.
The standard output for the java/net/Inet6Address/B6206527.java test is:
[code]
while the standard out for the java/net/ipv6tests/B6521014.java test is:
`Using /fe80:0:0:0:dc2b:50ff:fe3f:8001`
both of which are consistent with the ipv6 configuration of the test-scaleway-ubuntu1604-x64-1 machine.

I will run

[2019-11-29 14:53] Haroon-Khel commented on #694
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1175/testReport/
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1174/testReport/

[2019-11-29 15:55] sxa555 commented on #694
Closing as unreproducible now based on the above analysis :-) Thanks @Haroon-Khel !

[2019-11-29 15:55] #694 closed

[2019-11-29 16:48] jerboaa opened #1023 "test-packet-x64-windows-2012r2-1 seems to have broken cygwin setup"
From https://ci.adoptopenjdk.net/view/Test_upstream/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows_upstream/30/console

Fails with:

[code]

Line 14 of `get.sh` is an empty line. Perhaps missing cygwin on that machine? Note that the box had labels `sw.os.win` over `sw.os.windows` which prevented it from getting any jobs. Maybe that was intentional? Anyway, a better way would be to get it prop

[2019-11-29 16:57] AdamBrousseau commented on #1023
See https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/378#issuecomment-412581791

[2019-11-29 17:23] sxa555 commented on #994
I think we have mitigations in for all known issues now, so resolving this one...

[2019-11-29 17:23] #994 closed

[2019-11-29 17:32] sxa555 commented on #929
Cleared out the "test" machine yesterday - problems still persists therefore not closing yet

[2019-11-29 17:47] sxa555 commented on #610
Most of the important stuff has been moved, so chucking this on the backlog for now as it's not a priority.

Although arguably since this issues is titled with the word "some" we could just close it ;-)

[2019-11-29 17:54] #781 closed

[2019-11-30 12:45] sxa555 opened #1024 "mac and aarch64 build machines don't have a boot JDK11 installed"
Needs to be resolved to turn these builds green again https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/

[2019-12-02 09:38] lumpfish commented on #964
If we exclude it it won't run anywhere - i.e. not on the non-azure machines where it runs successfully.  Better to find out why it fails on the azure machines.

[2019-12-02 11:44] adam-thorpe commented on #964
True, but the common approach is to raise an issue and exclude the test so that the nightly tests are green (and therefore easier to spot newer failures). The bug will be dealt with and tracked by this issue and then once resolved can be un-excluded.

[2019-12-02 12:16] sxa555 commented on #1024
Added to
- build-linaro-centos76-armv8-2
- build-osuosl-ppc64-aix-71-1
- build-osuosl-ppc64-aix-71-2
- build-macstadium-macos1010-1
- build-macstadium-macos1010-2

[2019-12-02 12:16] #1024 closed

[2019-12-02 12:25] thegreystone commented on #1002
Sound fine reasonable to me, but I'm not directly involved in these part. Patrick (@reinhapa), what do you think?

[2019-12-02 15:46] Haroon-Khel commented on #915
Able to recreate the failure on the Ubuntu machine: https://ci.adoptopenjdk.net/job/Grinder/1188/console.

The Sles machine is offline, a request has been made to turn it back on, but it is failing to do so.

[2019-12-02 16:09] adam-thorpe commented on #915
You may be able to recreate the passing test on a different machine, I'm pretty sure it wasn't specific to just these two machines

[2019-12-02 17:35] jerboaa commented on #1023
Looks like #378 didn't fully resolve this?

[2019-12-02 20:51] smlambert commented on #964
@adam-thorpe is correct, the expectation is that test is excluded, some individual takes ownership of the issue, makes a change in their branch to re-include the test as they investigate and 'grind' the test on various machines, making notes and updates in the issue.  When they arrive at the solution (which in this case may be to correct the configuration of the azure machine config), they can mer

[2019-12-02 21:39] sxa555 commented on #1006
Had a call this evening and should be getting two new 7.1SP5TL5 machines within a couple of days :-)
(Will need setup after we receive them too of course but that hopefully won't be too hard)

[2019-12-03 19:12] sxa555 commented on #1006
@pshipton I'm going to rename the title of this to avoid misleading anyone into believing we're going to upgrading all of the existing build machines to that level.

Also your initial description says "all the AIX machines used for build need to be upgraded." i assume from the description that you don't mind having the previous JDK levels (8 and 11) with OpenJ9 still built on the earlier OS? My pr

[2019-12-03 19:49] pshipton commented on #1006
There is talk about updating Java 11 to use xlc 16 (but not clang). It is possible, but I'm not sure, if that happens we might need the newer machine for Java 11 builds. We should keep 8 and 11 as-is, and wait and see.

[2019-12-04 16:03] #1015 closed

[2019-12-05 13:25] smlambert commented on #1023
FYI @sxa555 - we are seeing same problem on windows machines that Sej set up (using Adopt ansible playbooks) on the internal svt team Jenkins server

[2019-12-05 14:45] rajdeepsingh1 opened #1027 "UB16 x86 - "adoptopenjdk_install" Role Error"
Receiving the following error when the role `adoptopenjdk_install` is being applied:

TASK [../AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install : Chown /usr/lib/jvm/jdk-11*] ***
fatal: [ub16x64rt1]: FAILED! => {"msg": "template error while templating string: expected token 'end of print statement', got '{'. String: {{ adoptopenjdk{{ jdk_version }}_dir.stdout }}"}

[2019-12-06 08:10] Willsparker commented on #1027
Do you have an up-to-date version of the playbooks? That issue should have been fixed with #1005

[2019-12-09 09:52] M-Davies commented on #1019
@sxa555 it looks like `build-marist-rhel74-s390x-2` has also run out of space
- https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-hotspot/351/console
- [output.txt](https://github.com/AdoptOpenJDK/openjdk-infrastructure/files/3938957/output.txt)

[2019-12-09 11:15] sxa555 commented on #1019
`/var/tmp/yum-nagious` had blown up again. Removed. It's also locking the RPM database which isn't helpful.

Fortunately these machines will soon be replaced so I'm not going to spend time looking for a full fux.

[2019-12-09 18:18] sxa555 opened #1031 "Replace Marist zLinux boxes with new z15 ones"
Marist are replacing their virtual machines with new ones on a z15 s390x system. They have supplied me with replacements, but they need to be in place by the end of the year when the old ones will be taken back. This means we have to get the machines set up (5 Ubuntu, 2 RHEL7 and one SLES12) before the end of this month ... which means most of it needs to be complete by the end of next week.

New

[2019-12-09 18:20] sxa555 commented on #699
@Haroon-Khel  I've put your key on one of the new Marist machines that I've got access to - `linux1@148.100.86.102`. Can you check if the problems exist on there as they are different infrastructure that we're going to migrate too soon (By soon I mean end of month!)

[2019-12-10 09:19] #984 closed

[2019-12-10 11:03] toshiona opened #1032 "Request to install Chinese GB18030 locale to AIX"
This is a following up request of #704. Thank you for handling that request.
We'd like to ask one more locale to install AIX (7.1 and 7.2) for internationalization testing.

- Zh_CN (Zh_CN.GB18030)

[2019-12-10 11:26] sxa555 commented on #699
FYI The node.js team modify the `iptables` setup on their Marist zLinux machines in relation to multicast - it's possible the same would work for us: See https://github.com/nodejs/build/blob/master/ansible/roles/jenkins-worker/tasks/main.yml

[2019-12-10 12:08] Haroon-Khel opened #1033 "Failing SLES 12 tasks in Unix playbook"
Currently the unix playbook fails while running on an x86_64 SLES 12 machine on our intranet. The failing tasks are:

- The `zypper_repository` task in `roles/Common/tasks/SLES.yml`. The repo at `https://download.opensuse.org/repositories/devel:/tools:/scm/SLE_12_SP3/` is no longer available.

- A temporary solution is to change the repo to `https://download.opensuse.org/repositories/devel:/tools:

[2019-12-10 13:11] Haroon-Khel commented on #699
@sxa555 I will begin running the associated tests on the machine. Ill post below the results

[2019-12-10 17:01] Haroon-Khel commented on #699
@sxa555 Unfortunately, the same tests also fail on the new Marist machine.

- java/net/MulticastSocket/Promiscuous.java
[code]

- java/net/MulticastSocket/SetLoopbackMode.java
[code]

- java/net/MulticastSocket/Test.java
[code]

- java/nio/channels/DatagramChannel/MulticastSendReceiveTests.java
[code]

- java/nio/channels/DatagramChannel/Promiscuous.java
[code]

[2019-12-10 17:05] Haroon-Khel commented on #699
The above were only for JDK8. The two tests for JDK 11, test/jdk/java/net/MulticastSocket/Promiscuous.java and test/jdk/java/nio/channels/DatagramChannel/Promiscuous.java, also fail with similar output

[2019-12-10 17:25] sxa555 commented on #699
@Haroon-Khel Can you see if the multicast iptables rule from the link to node's playbooks rule gets around the problem?

[2019-12-11 13:58] jerboaa opened #1037 "Add more Linux aarch64 test machines"
Currently there is only one Linux aarch64 test machine online (the big packet box). This seems to become a bottleneck for JDK11+ testing. It would be nice to get more test-labelled machines online. There used to be 4 or so of them.

[2019-12-11 14:01] Haroon-Khel commented on #699
@sxa555 A solution inspired by that playbook has helped. After running `firewall-cmd --permanent --direct --add-rule ipv4 filter INPUT 0 -m udp -p udp -m pkttype --pkt-type multicast -j ACCEPT` followed by `firewall-cmd --reload` has resulted in the following tests to pass:

jdk/test/java/net/MulticastSocket/Promiscuous.java and jdk/test/java/nio/channels/DatagramChannel/Promiscuous.java

on both

[2019-12-11 14:01] jerboaa commented on #1037
#680 seems related.

[2019-12-11 17:29] Haroon-Khel commented on #699
I have just noticed, the only passing tests now are the ones that involve ipv4 multicast, while those of ipv6 continue to fail

[2019-12-12 01:51] smlambert commented on #1037
Seems like we lost all the openlab ones
<img width="606" alt="Screen Shot 2019-12-11 at 8 51 34 PM" src="https://user-images.githubusercontent.com/2836948/70675744-0a13f000-1c58-11ea-8120-4bfea0cecb86.png">
: https://ci.adoptopenjdk.net/label/hw.arch.aarch64/

[2019-12-12 14:47] pshipton commented on #1006
While TL5 SP5 contains a `dump` utility which works correctly, we were able to work around the problems with the broken utility and get today's AIX for Java 13+ working even on older AIX levels. The AIX changes are delivered today and should then be included in the next nightly build.

Some machines at OpenJ9 completed the upgrades to TL5 SP5. I think it's a good idea to complete the upgrade at Ad

[2019-12-12 16:03] sxa555 commented on #1006
New machine set up by @sej-jackson at https://ci.adoptopenjdk.net/computer/build-ibm-ppc64-aix-71-1
Seems to build twice as fast based on #122 of https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk13u/job/jdk13u-aix-ppc64-hotspot/
openj9 version is running now to verify that it runs through: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk13u/job/jdk13u-aix-ppc64-openj9
We

[2019-12-12 17:35] sxa555 commented on #865
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1013
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/992 https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/999 https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1000 https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1003 https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1007 https://gith

[2019-12-12 18:14] sxa555 commented on #1027
Closing this on the basis of the previous comment - if it's still an issue please re-open

[2019-12-12 18:14] #1027 closed

[2019-12-12 18:19] sxa555 commented on #1023
Hmm the default git install from the playbooks ought to be ok, but the fix I put onto that particular machines was to run this through the script console to ensure it takes effect for the `jenkins` user. If it's still an issue with newly provisioned machines we need to check the installation steps we're using and/or do something to add that after jenkins user creation (or add it to the test script

[2019-12-12 18:52] sej-jackson commented on #1006
Before I forget, here's what I did to get the `aix.yml` to run on AIX 7.1 TL05 SP5....

I was running as a non-privileged account, with my own hosts file containing the following variables:
[code]

1. My initial plan was to only skip the `ramdisk` setup, as the system had 140GB disk, 8GB RAM, 4GB paging, but an early attempt with no other mods failed when the `AIX_filesystem_config.sh` script ran

[2019-12-12 19:01] sxa555 commented on #1006
Thanks @sej-jackson ... I think there may be some glitches we need to iron out with respect to being able to run tests (potentially related to the alternate source of perl...) but we can resolve them separately as this resolves the original request for a build machine at this level, therefore closing.

[2019-12-12 19:01] #1006 closed

[2019-12-13 09:31] M-Davies commented on #1019
@sxa555 `build-marist-rhel74-s390x-2` ran out of space again https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk13u/job/jdk13u-linux-s390x-hotspot/115/console

Out of curiosity, would it be possible to get me and Adam limited access to these machines so we can clean them out when they run out space? It would save us having to badger you everytime this happens on ot

[2019-12-13 13:36] sxa555 commented on #1006
libiconv issue raised via http://forums.rootvg.net/aixtools/coreutils-rpm-packages-versus-'aixtools'-installp-based

[2019-12-13 15:03] llxia commented on #1023
I also hit this machine in Grinder and it does not seem to have curl installed.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1386/console

[code]
`127 - command not found` from https://stackoverflow.com/questions/1763156/127-return-code-from

Could someone disable this machine for now? Thanks

[2019-12-13 16:29] smlambert commented on #1023
I have marked https://ci.adoptopenjdk.net/computer/test-packet-x64-windows-2012r2-1/ with a note to refer to this issue for the reason.

[2019-12-13 16:41] sej-jackson commented on #1032
Done.

[2019-12-13 16:44] #1032 closed

[2019-12-13 17:28] Haroon-Khel opened #1043 "Failing to install s390 build tools on RHEL 7 s390x"
When running the Unix playbook, the following build tools fail to install on an RHEL 7 s390x machine:

[code]
This subtasks is called by the task `Install additional build tools for RHEL on s390x` in Common/tasks/RedHat.yml.

The error provides the following log (for all 3 packages):
[code]

These packages were added to the playbook via this past commit: https://github.com/AdoptOpenJDK/openjdk-inf

[2019-12-13 18:38] Haroon-Khel commented on #1031
Running the ansible playbook locally on the machine. Ansible was installed on the machine with pip.
Pip was installed via:
[code]

The installation of Ansible required the following 2 prerequisites:
[code]
which were installed using `yum install`

Then Ansible was installed using
`pip install ansible`

[2019-12-13 18:41] Haroon-Khel commented on #1031
Had to manually uninstall nss-softokn-freebl.s390 as it was conflicting with the installation of nss-softokn-freebl.s390x (one of the yum tasks)

[2019-12-13 18:42] Haroon-Khel commented on #1031
As per #1043, the task Install additional build tools for RHEL on s390x in Common/tasks/RedHat.yml needs to be commented out in order for the playbook to run

[2019-12-16 09:08] Willsparker commented on #865
I've got to the point where 4 playbooks are stable and consistently are building JDKs successfully . (running `testScript.sh -v $OS -u https://github.com/Willsparker/openjdk-infrastructure/tree/git_check` ) -  currently debugging the windows Playbook as it seems the `win_get_url` ansible module has started to corrupt downloads for some reason (#1039).

[2019-12-16 09:09] Willsparker commented on #865
See : https://ci.adoptopenjdk.net/job/SXA-PlaybookCheckParallel/187/

[2019-12-16 10:34] Willsparker commented on #1023
This looks an awful lot like the issue that was on the `test-azure-win2012r2` machines : https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/627#issuecomment-450893688

So, the line endings are causing the issue with the testing, as they're being converted when git cloning the repository. I don't believe I will see this issue with my vagrant testing as this line is executed when building

[2019-12-16 12:01] sxa555 commented on #1043
@JennyChenyj I believe it was your change in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1018 that introduced this issue

[2019-12-16 14:35] Haroon-Khel commented on #1031
Issue with the task `SSH into the Nagios Master and excute the Nagios_Ansible_Config_tool.sh script` in roles/Nagios_Master_Config. The machine hangs while requesting the user to input the root password for the Nagios Master machine. Skipping Nagios tasks until this is resolved

[2019-12-16 14:37] Haroon-Khel commented on #1031
Issue with the task `Security - Disable Password Authentication for root user` in roles/Security. The log output is given by:
[code]

[2019-12-16 14:39] Haroon-Khel commented on #1031
Playbook has completed running. However the following ansible tasks are being skipped, and their errors need to be resolved:

- [ ] Security - Disable Password Authentication for root user in roles/Security

- [ ] SSH into the Nagios Master and excute the Nagios_Ansible_Config_tool.sh script in roles/Nagios_Master_Config

[2019-12-16 15:11] JennyChenyj commented on #1043
Hey! Thanks for explaining to me the issue! Sorry about that errors.
Here is a potential solution. We can switch the state in the task that installs the additional build tools from ```latest``` to ```present```. If the machine has the packages, it will skip installing or updating them. If the machine does not have the packages, they will be installed. I met a similar issue before, and we solved it

[2019-12-16 15:14] sxa555 commented on #1031
Interesting ... Will need investigating but I'll get the machine into jenkins and see if it works. That ought to be enough to make it usable - thanks :-)

[2019-12-16 15:40] smlambert opened #1044 "Verify the set of machines that have docker installed and update labels"
We currently have 5 machines labelled with docker for use by test: https://ci.adoptopenjdk.net/label/ci.role.test&&hw.arch.x86&&sw.os.linux&&sw.tool.docker/

Given that docker is in the ansible playbooks, I think there are actually more machines with docker installed than are labelled with sw.tool.docker.  We should go through the set of machines and try to run the external (docker-based tests fro

[2019-12-16 16:18] JennyChenyj commented on #1043
Here is a link to the pull request: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1045/files

[2019-12-16 17:19] sxa555 commented on #1044
Bear in mind several godaddy ones currently have it installed but it doesn't quite work as per https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/721

[2019-12-16 17:29] sxa555 commented on #1037
@gdams Any outlook on recoering the openlab ones? I don't believe I have access to anything there ...

[2019-12-16 17:52] sxa555 commented on #1023
We need to stop overriding things like that in the playbook test scripts as it means we're masking issues with the playbooks ;-)

@Willsparker Can you implement something using the options referred to in https://github.com/git-for-windows/git/wiki/Silent-or-Unattended-Installation to ensure that this works out of the box going forward please?

[2019-12-16 18:01] sxa555 commented on #1023
@llxia @jerboaa It's definitely not that it doesn't have curl installed. The fact that it says "curl error core" means that it managed to start curl so it isn't the shell saying it's not found ...

It looks like every time I try rto run anything with `curl` it just dumps me back at the command line so I'm not quite sure what's going on with that (unrelated to the crlf problem though I believe)

[2019-12-16 18:09] sxa555 commented on #1023
Upgrading curl within cygwin from `7.59.0-1` to `7.66.0-1` seems to have fixed it

[2019-12-17 05:28] toshiona commented on #1032
Thank you for quick action, sej.

[2019-12-17 10:42] Willsparker commented on #1023
@sxa555 Does the test machine use `git-for-windows` to `git clone` the tests repository, or does it use cygwin's? If the former, then we can go down the route of adding a task to the Windows Playbook that creates the parameter file and then use it in installation. Otherwise, then we can just add a task after the cygwin install that runs the line in my playbook-test scripts.

[2019-12-17 13:37] AdamBrousseau commented on #1023
I can speak for the machines at the Eclipse OpenJ9 farm and internally. We use Cygwin Git not Git for Windows.

[2019-12-17 16:25] jerboaa opened #1048 "Temp access to test-packet-armv8-ubuntu-16-04 for hardware specs?"
I'd need to know the exact hardware this machine runs:
https://ci.adoptopenjdk.net/computer/test-packet-armv8-ubuntu-16-04/

This would help diagnose some random JDK 11 test failures on we see occasionally on that machine.

My public SSH key is here:
https://jerboaa.fedorapeople.org/key_ssh_jerboaa.pub

[2019-12-17 18:14] sxa555 commented on #1048
Sure ...

[2019-12-17 18:18] sxa555 commented on #1048
`jerboaa` account created and ssh key above added

[2019-12-18 08:12] Willsparker commented on #1023
Thanks @AdamBrousseau . I've decided I'm just going to put a fix in for both of them as I can't see any benefit necessarily to having git change the line endings in our situation.

[2019-12-18 08:41] Willsparker commented on #865
Further to the above update - the ansible Module itself is currently broken in Ansible 2.9.x. I have rolled back both Jenkins Machines to ansible 2.5.1 and now all the playbooks are stable, and the various linux OSs can build a JDK and test it. Now just to get Windows to build the JDK and test it - though I've ran into a problem where after the playbook has been ran, the shared folder between the

[2019-12-18 09:26] adam-thorpe opened #1049 "AIX machine build-ibm-ppc64-aix-71-1 missing preqs for jdk8?"
New aix machine build-ibm-ppc64-aix-71-1 doesn't seem to be able to build jdk8 with openj9:
Could be missing perquisites?
[code]
See: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/494/consoleFull

[2019-12-18 09:58] jerboaa commented on #1048
@sxa555 I'm done with it and access can get revoked again. Thank you!

[2019-12-18 10:53] gdams commented on #1037
I'm spinning up some aws machines now.

[2019-12-18 11:04] sxa555 commented on #1049
What do you think is missing?

[2019-12-18 11:06] sxa555 commented on #1049
That's not the real error - it's:
[code]

[2019-12-18 11:11] sxa555 commented on #1037
Have tagged https://ci.adoptopenjdk.net/computer/build-packet-ubuntu1604-armv8-2/ with the test tags too to alleviate the load a bit

[2019-12-18 11:49] gdams commented on #1037
@sxa555 I've now removed the tag as 6 aws machines are online

[2019-12-18 11:57] sxa555 commented on #1031
Other than an issue with the hostname definitions (side effect of the firewall issue which made us run the playbooks locally on the machine) we seem to be looking ok so I'm going to start disconnecting the old systems now ...

[2019-12-18 14:19] adam-thorpe commented on #1049
I wasn't sure, but because this is the new machine just thought it might be missing something that jdk 8 needs

[2019-12-18 14:25] #1048 closed

[2019-12-18 18:19] Haroon-Khel commented on #1031
The following packages are failing to install on the SLES 12 machine:

- [ ]  bison

- [ ] flex

- [ ] systemtap-sdt-devel

- [ ] xorg-x11-server

- [ ] xorg-x11-server-extra

- [ ] java-1_8_0-openjdk

- [ ] git

- [ ] perl-CPAN-Meta

[2019-12-18 23:58] sxa555 commented on #1049
To be fair it SHOULD work and the fact that it doesn't means there's probably an underlying issue that needs debugged (so I'm not going to close this despite the above PR), but it's not supposed to be built on that machine ;-)

[2019-12-19 10:44] Haroon-Khel commented on #1031
The playbook ran successfully on the second RHEL 7 machine (148.100.86.218). Like the first RHEL 7 machine (148.100.86.102), the Nagios tasks were ignored, as was the `Security - Disable Password Authentication` security task.
This machine did install, and did not have a problem doing so, the s390 versions of the `glibc`, `glibc-devel` and `libstdc++` packages stated in https://github.com/AdoptOpe

[2019-12-19 11:09] Haroon-Khel commented on #1043
Closing this issue as the error could not be reproduced.

[2019-12-19 11:09] #1043 closed

[2019-12-19 11:46] #865 closed

[2019-12-19 15:41] Willsparker commented on #627
Re-enabled `test-azure-win2012r2-x64-3` to see if the issues that @sxa555 encountered that made him disable the machine, crop up again. Attempting to run a Grinder on it too : https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1524/console
However that didn't go to well..

[2019-12-19 15:54] Haroon-Khel commented on #1031
The playbook has finished running on the SLES machine (148.100.86.12), with the Nagios tasks ignored for now. Besides the above build tools which failed to install, the only other problem I encountered was the absence of a jenkins and zeus group. I added these accordingly, based on their config in one of the other machines (148.100.86.218)

[2019-12-19 17:32] sxa555 commented on #1031
For now I've set `JAVA_HOME` to point to `/usr/lib/jvm/jdk-13.0.1+9` instead of the more normal java 8, which has allowed https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1532/ to run through ok on that machine, so it seems more or less set up enough to at least run some testing. I'll leave it in place and able to run tests overnight and see if anything else may be missing :-)

[2019-12-19 20:16] #1049 closed

[2019-12-19 20:21] sxa555 commented on #1031
Going to provide some links to stuff that has been running on the SLES12 box just so we can keep a close eye on them:
- https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_s390x_linux_xl/10

[2019-12-20 09:22] adam-thorpe commented on #1031
The SLES12 box is showing similar failures to the other ubuntu boxes, I think it just needs a reboot like the other ones: https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/Nightly%20test%20openjdk%20openJ9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl/8/

[2019-12-20 10:39] adam-thorpe opened #1056 "test-packet-x64-windows-2012r2-1 failing asm tools checksum"
Put this here as this may just need the file to be deleted manually and then the script re-ran. Only seen on this machine

[code]

[2019-12-20 11:03] adam-thorpe commented on #1056
https://github.com/AdoptOpenJDK/openjdk-build/issues/1445

[2019-12-20 11:03] #1056 closed

[2019-12-20 11:42] #1037 closed

[2019-12-20 12:23] sxa555 commented on #1031
Looks like it's been rebooted now - if you manager to run a grinder on it running the same test let us know if it works.

Example error for historic reference:

[code]
With a summary of
[code]

[2019-12-20 12:28] sxa555 commented on #1023
@Willsparker Do we believe we've resolved all issues on this box now?

[2019-12-20 12:58] Willsparker commented on #1023
The playbooks have been updated now so in the future the boxes should be setup correctly. I haven't done anything to fix specifically this machine.

[2019-12-20 13:00] Willsparker commented on #627
Reinstalled `Git` in cygwin, removed git-for-windows and a Grinder running the 32 bit tests passed, despite that being the thing the machine was disabled for on Jenkins: https://ci.adoptopenjdk.net/job/Grinder/1539/

[2019-12-20 15:19] #998 closed

[2019-12-20 15:20] sxa555 commented on #1031
Rerunning the job Adam mentioned at https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/Nightly%20test%20openjdk%20openJ9/job/Test_openjdk8_j9_sanity.openjdk_s390x_linux_xl/9

[2019-12-23 09:11] Willsparker commented on #423
@jdekonin Can this be closed due to https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1017 ?

[2019-12-23 09:20] Willsparker commented on #1033
Looking into it :)

[2019-12-23 10:39] Willsparker commented on #1033
The above link to the SP5 repo doesn't contain `systemtap-std-dev` and to install git, `git-core` need to be used. However, https://download.opensuse.org/repositories/devel:/tools/SLE_12_SP4/ has both :-)

[2019-12-23 12:03] Willsparker commented on #1033
Regarding the `XML::Parser` issue, the machine requires `expat-devel` or `libexpat1-dev` installed, of which I can't find a way of downloading, either through `wget` or adding a repository and using `zypper`. The alternative is installing `perl-XML-parser` in the `Common` role, according to https://github.com/chorny/XML-Parser/README.md, though I'm not sure how to verify this.

[2019-12-23 12:42] Willsparker commented on #1033
The `NVidia_Cuda_Toolkit` task was failing as it was trying to `rpm -i ` all words after the actual package. Not entirely sure why, but separating the `rpm` and `sed` command fixes the issue.

[2019-12-23 13:46] sxa555 commented on #819
This machine now also needs JDK11 installed as per the problems described in https://github.com/AdoptOpenJDK/openjdk-build/issues/1445

We also still have the `hg` tag on the master node, so I'm going to remove them to force all related jobs onto the other machine (especially since master doesn't have JDK11 in the right place)

[2019-12-23 14:08] sxa555 commented on #1023
Have removed strawberry perl from the machine (well, it's been renamed) as per https://github.com/AdoptOpenJDK/openjdk-build/issues/1445#issuecomment-568473730 so assuming https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/107/ passes I'm going to close this on the basis that it appears to be working well now.

[2019-12-23 14:30] sxa555 opened #1059 "Investigate qemu for validating playbooks on Linux on ppc64le/s390x"
See e.g.
- Official qemu ppc64 info at https://wiki.qemu.org/Documentation/Platforms/POWER
- https://djanotes.blogspot.com/2018/09/running-ubuntu-ppc64le-virtual-machine.html
- https://wiki.alpinelinux.org/wiki/Ppc64le
- https://stackoverflow.com/questions/53259899/is-it-possible-to-run-vm-with-ppc64le-architecture-on-a-host-machine-with-x86-64

[2019-12-23 15:11] Willsparker opened #1061 "Investigate FreeBSD and SLES Vagrantfiles for testing the playbooks"
At the request of @sxa555
It'd be useful to have FreeBSD and SLES vagrantfiles that can be used with the `pbTestScripts` to determine that the playbooks work with these OSs, and are able to build a JDK.

[2019-12-23 18:14] sxa555 commented on #915
The [new machines](https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1031) all look to be passing correctly based on the grinders I've just run
- [Ubuntu16](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1560)
- [SLES12](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1559)

[2019-12-23 18:14] #915 closed

[2019-12-23 18:17] sxa555 commented on #1023
There's a `jdk_lang` test failure but the job has run through unlike before so hopefully that's good enough - we can re-open if necessary

[2019-12-23 18:17] #1023 closed

[2019-12-27 12:21] Willsparker commented on #1061
Hit a bit of a snag in which the two main Vagrant Boxes for FreeBSD12, that have any significant amount of downloads (https://app.vagrantup.com/boxes/search?utf8=%E2%9C%93&sort=downloads&provider=&q=freebsd12) both mount the shared folder with `smb`, (https://www.vagrantup.com/docs/synced-folders/smb.html) which, although not an issue within itself, will require user input of a Username and passwo

[2019-12-27 14:39] Willsparker commented on #1061
As of current, the vagrant boxes provided on the vagrant website don't have a version of SLES12SP4 , which I believe is the version of SLES used for our testing machines. I''ve tried with the SLES12SP2 vagrant box located here: https://app.vagrantup.com/suse/boxes/sles12sp2
However, this causes results in the following error:
[code]
And when looking at the GUI of the VM, the error message is as fo

[2019-12-30 11:22] Willsparker commented on #1061
Regarding the above SLES12 Vagrant box, the error message would point to an issue with the ISO image. As this is within the Vagrant box and isn't changeable without booting the VM, I have had to look for different boxes. The issue with other boxes is many of them have issues with the Guest Additions installed on them (or not installed at all). For example, in the case of the `suse/sles12sp1` box (

[2019-12-30 15:08] Willsparker commented on #1061
Regarding FreeBSD, the VagrantFiles are able to specify the type of shared folder, therefore specifying `rsync` stops the issue above when on macOS. However, `rsync` folders don't have built in functionality to sync the host folder to the guest folder, so although the guest VM could create a `hosts.tmp` it wouldn't be accessible by the host machine. Some plugins are made to counteract this however

[2019-12-30 15:19] Willsparker opened #1067 "Debian 8 has no JDK8 version after playbook run-through"
As mentioned in #1021 , Debian 8 is currently in a state where it won't have a version of OpenJDK8 installed on it after the playbook is ran through it, which is required at least to run Gradle to build a JDK on it.

As mentioned in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1015#issuecomment-559704578 , this could be added via an additional role to the Unix Playbook, or a `../C

[2019-12-30 20:09] #1067 closed

[2019-12-31 13:02] sxa555 commented on #1031
@smlambert Can you confirm whether you're happy with the new test machines? I'd like your final approval before formally handing back the old ones. We've been running exclusively with the new ones for a couple of weeks now.

[2019-12-31 13:25] sxa555 commented on #808
SInce the original Marist machines have now been decomissioned, both `-XJ` machines that this issue refers to are no longer in the test machine set, therefore closing

[2019-12-31 13:25] #808 closed

[2019-12-31 17:31] sxa555 commented on #685
Also included the basic execution in the new FAQ being added at https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1066

[2020-01-02 14:26] lumpfish opened #1071 "sanity.system tests fail on test-packet-x64-windows-2012r2-1 due to missing perl"
Example failing output

https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_x86-64_windows/106/

The tests require a Windows perl port (not cygwin perl) to execute correctly.  The test failed to find one on test-packet-x64-windows-2012r2-1
[code]

Maybe related to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1023 ?

[2020-01-02 14:48] sxa555 opened #1072 "Add windows systemtests to vagrant playbook testing"
Ref #1071 the "extended" systemtests (despite their name) are the quickest ones that show up this problem. We should add this to the Vagrant windows test script to trap this additional requirement which the existing basic test isn't catching

[2020-01-02 15:01] sxa555 commented on #1071
Checking at https://ci.adoptopenjdk.net/view/Test_system/job/Test_openjdk11_hs_extended.system_x86-64_windows/107/console ...

[2020-01-02 15:21] sxa555 commented on #1071
That was it ... Couldn't remember why I'd removed it but the latest Strawberry perl SHA checksumming appears defective:

[code]

[2020-01-02 15:37] Willsparker commented on #964
I've rebuilt on Grinder, using your link and @smlambert 's instructions from here: https://adoptopenjdk.slack.com/archives/C5219G28G/p1577978195006500?thread_ts=1577959133.006000&cid=C5219G28G

And it appeared to work, on both `test-azure-win2012r2-x64-1` and `-3` :
https://ci.adoptopenjdk.net/job/Grinder/1566/
https://ci.adoptopenjdk.net/job/Grinder/1567/

[2020-01-02 15:43] sxa555 commented on #1071
Retrying at https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.system_x86-64_windows/109/console with Strawberry moved explicitly after cygwin in the system `PATH`

[2020-01-02 15:51] sxa555 commented on #1071
![image](https://user-images.githubusercontent.com/6487691/71676281-bdfc2d00-2d77-11ea-8962-1b70676e4f6b.png)

[2020-01-02 15:56] Willsparker commented on #1061
Got FreeBSD12 to a point where the playbooks can run on it using `vagrantPlaybookCheck.sh`. The box doesn't come pre-installed with `python`, but that was easily rectified by putting `pkg install -y python` into the Vagrantfile, thereby allowing ansible to run on it.

[2020-01-02 16:26] sxa555 commented on #1071
OK ... The jenkins agent was running as a Windows service but with `Log on as: Local  System account` instead of running as the jenkins user. This seems to have the undesirable effect of the jenkins agen not running with the `PATH` from the system environment variables (for some reason that isn't clear, but is probably documented by windows somewhere). If I convert the service to run as the local

[2020-01-02 16:26] #1071 closed

[2020-01-02 18:46] junyzheng commented on #967
Just wondering what's the missing dependencies?

[2020-01-03 01:17] smlambert commented on #1031
Things are looking good, there are a couple of failures that have arisen over the past couple of days (therefore likely NOT related to the addition of the new machines).

[2020-01-03 01:26] smlambert commented on #1031
test-marist-ubuntu1604-s390x-1-z13 has a failure due to pre-existing /tmp folder, but I see its in the list to be decommissioned

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_s390x_linux/100/testReport/java_lang_ClassLoader_forNameLeak_ClassForNameLeak/java/ClassForNameLeak/

Standard Error
java.nio.file.FileAlreadyExistsException: /tmp
	at sun.nio.fs.UnixExcep

[2020-01-03 02:13] sxa555 commented on #1031
Thanks ... Yep I renamed some original systems to have a z13 suffix to avoid confusion so that one shouldn't be as problem (though curious ...)

[2020-01-03 02:15] sxa555 commented on #1061
There's a PR from @gdams that may resolve that going forward if we can stabilise it, but for now the Vagrant file modification sounds reasonable

[2020-01-03 10:04] Willsparker commented on #1033
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1062#issuecomment-570226824

[2020-01-03 10:23] Willsparker commented on #1061
For now, in the above PR, I've made a symlink after installing Python. I know it's not the best thing to do, but if @gdams' PR resolves this, then it'll be taken out anyway :-)

(For future reference, the _proper_ way of doing this is by adding `ansible_python_interpreter=/usr/local/bin/python` to the same line as the ip address in the `hosts.unx` file)

[2020-01-03 10:44] gdams commented on #1061
this should already be done here https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/ansible.cfg#L26-L27

[2020-01-03 11:26] Willsparker commented on #1072
Can do - I've spoken to @morgan-davies and he's pointed me in the direction on how to do it. Did you want this to replace the `MachineInfo` test or just run afterwards?

[2020-01-03 11:31] Willsparker commented on #1061
@gdams I saw that. I'm not entirely sure how `ansible.cfg` decides if the host is freebsd or not, but in testing, it didn't pickup on it - it may be due to the hosts file format that `vagrantPlaybookCheck` creates, being just the VM's IP without any tags.

[2020-01-03 11:51] Haroon-Khel commented on #1031
Regarding the multicast network config of the machines, the Ubuntu machines do not seem to have an issue sending or receiving packets. I've configured the RHEL machines to be able to receive packets from ipv4 addresses, but still can't figure how to do the same for ipv6 (progress is documented in #699). The SLES machine has the opposite problem; accepts multicast packets from ipv6 addresses, but n

[2020-01-03 14:34] #1033 closed

[2020-01-03 14:37] #1061 closed

[2020-01-03 15:17] Willsparker commented on #1072
So... running this on a windows VM :
[code]
Which output this:
[code]
Seems to be an awful lot of `Machineinfo` tests ... However, apart from this, it appears to correctly run them - If this output seems correct, I'll put the PR in :-)

[2020-01-03 16:03] sxa555 commented on #1072
Yep I'm happy with that
Would be good to actively try and break it as well ... Once the PR is in, run against a branch (not one that will ever be merged!) that removes Strawberry perl from the playbook and verify that one or more of them break :-)

[2020-01-03 16:24] sxa555 commented on #1031
Done, other than the PR to update the inventory which is pending a review by Martijn at the moment https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1041

[2020-01-03 16:24] #1031 closed

[2020-01-03 16:40] Haroon-Khel commented on #897
@adam-thorpe Using your steps, i'm unable to reproduce the error. The test passes on some of the adopt debian and ubuntu (softlayer and packet) machines. It also passes on a fyre RHEL 7 machine.
Im unable to view your original grinder job, but do you know of any specific adopt machines on which it fails?

[2020-01-03 17:50] sxa555 commented on #793
No longer exists

[2020-01-03 17:50] #793 closed

[2020-01-06 10:23] adam-thorpe commented on #964
Thats my bad, because the test was excluded, supplying native_sanity as the target wont run the test. Recreated here: https://ci.adoptopenjdk.net/job/Grinder/1584/console

[2020-01-06 10:40] adam-thorpe commented on #897
This information may be outdated and fixed by the DNS configuration changes documented here https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/984. I'll run a quick grinder and have a look, it's strange that Stewart was able to recreate this problem locally as well if this is the case

[2020-01-06 10:43] adam-thorpe commented on #897
Grinder passed

[2020-01-06 10:44] Willsparker commented on #1072
Disabling the Strawberry-Perl task makes the install `OpenSSL` task fail.
https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Win2012,label=vagrant/274/

as OpenSSL is required for J9, I'm going to make the VM build Hotspot instead, disable the OpenSSL role and test that JDK :-)

[2020-01-06 11:51] Willsparker commented on #964
The rebuild of 1584 worked on `test-azxure-win2012r2-x64-3`: https://ci.adoptopenjdk.net/job/Grinder/1587/

so it only affects `-1` as far as we can test.

[2020-01-06 12:03] jdekonin commented on #423
That only covers unix, I had wanted that change for windows too but I guess that didn't get done so I just opened a PR with the change.

[2020-01-06 14:10] Willsparker commented on #1072
https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Win2012,label=vagrant/275/console

The tests fail ( well... they don't even run) if Strawberry Perl isn't installed :-) I'll put in the PR

[2020-01-06 15:06] Haroon-Khel commented on #897
The test passed on my Ubuntu 16 Fyre machine

[2020-01-06 15:55] #1072 closed

[2020-01-06 17:21] sxa555 commented on #897
OK Let's close this and we can re-open if it shows up again.

[2020-01-06 17:21] #897 closed

[2020-01-06 18:07] sxa555 commented on #1031
Have removed the `build` tag from https://ci.adoptopenjdk.net/computer/build-marist-ubuntu1604-s390x-1/  since it's not a proper build machine (as it's not RHEL!) and things were being scheduled on it (!)

[2020-01-07 09:54] Willsparker commented on #627
Running the tests related to #964 , `test-azure-win2012r2-x64-3` passed:
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/964#issuecomment-571111368

Is there anything to left to be done with this issue ?

[2020-01-07 13:45] adam-thorpe commented on #964
Okay so this test compiles some very basic c++ code which should print "hello" and exit with code 0. Instead error code 255 is returned. After doing some digging it would seem that this is a common error code when c++ code fails to compile. @Willsparker can you check the VS versions are all installed correctly on this machine?

[2020-01-07 16:04] Willsparker commented on #964
Looking over the test on the machine, and running `./sanity_SimpleNativeLauncher.exe` has output this:
<img width="802" alt="Screenshot 2020-01-07 at 15 52 10" src="https://user-images.githubusercontent.com/52783864/71909060-1b70ef00-3167-11ea-997c-4174fd6370f3.png">
and `VSRUNTIME140.dll` doesn't appear in the `C:/Windows/System32` not either of the `Program Files` folder.
Comparing the `azure-1`

[2020-01-07 16:25] adam-thorpe commented on #964
Its missing MSVS 14.0 which is 2015 is it not?

[2020-01-07 16:29] sxa555 commented on #964
Aaaaaaahhhhhh ...

I was trying to figure out how this was failing as I had assumed it was built within the job, but that `.exe` comes from the [testimage](https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk11u-2020-01-01-06-13/OpenJDK11U-testimage_x64_windows_openj9_2019-12-31-15-42.zip) artefact so was built on the build machine with a version of the compiler that isn't on t

[2020-01-07 16:32] adam-thorpe commented on #964
Ah that makes sense. And yeah Will figured out that azure 2 and 3 were added later so thats why they have the right version and 1 doesn't

[2020-01-07 19:43] sxa555 commented on #932
@reinhapa Do you know which specific packages are needed for this? We already put xvfb on the machines by default and the `jmc-build` jobs look to all be running on [build-scaleway-x64-ubuntu-16-04-2](https://ci.adoptopenjdk.net/computer/build-scaleway-x64-ubuntu-16-04-2) which has quite a few of the GTK3 packages installed:

[code]
Is this adequate for this requirement?

[2020-01-07 19:54] sxa555 commented on #779
OK I've put it on for the jenkins user on [build-scaleway-ubuntu1604-x64-2](https://ci.adoptopenjdk.net/computer/build-scaleway-x64-ubuntu-16-04-2/) which is where the x86 docker builds are generally done. If you source `$HOME/.nvm/nvm.sh` that should activate it in whatever scripts you need it. I would suggest that you check for the presence of that at the start and warn/abort/do nothing as appro

[2020-01-07 20:00] sxa555 commented on #668
Ansible scripts appear good as we're testing them regularly via Vagrant. Closing

[2020-01-07 20:00] #668 closed

[2020-01-07 20:01] sxa555 commented on #665
On the basis that this hasn't caused a problem for a while, I'm going to close this

[2020-01-07 20:01] #665 closed

[2020-01-07 20:06] sxa555 commented on #483
None of the machines referenced above are used for build, therefore this is not a problem. Closing

[2020-01-07 20:06] #483 closed

[2020-01-07 20:09] sxa555 commented on #480
LInaro machines have all been rebuilt from scratch so this system (and problem!) no longer exists

[2020-01-07 20:09] #480 closed

[2020-01-07 20:10] sxa555 commented on #460
Machine has been replaced so the problem no longer exists)

[2020-01-07 20:10] #460 closed

[2020-01-07 20:29] sxa555 commented on #409
Going to close this as we're using Ubuntu machines for this and there's no driving reason to switch it since we're not short of machines and use Ubuntu for more other things now

[2020-01-07 20:29] #409 closed

[2020-01-08 09:21] Willsparker commented on #964
Theres no harm in installing both anyway :-)

[2020-01-08 11:25] sxa555 commented on #627
`-2` is offline, so yes :-)

[2020-01-08 16:37] sophia-guo commented on #1044
Yes, still have the error 'The command '/bin/sh -c apt-get update 	&& apt-get -y install 	ant 	apt-transport-https 	ca-certificates 	curl 	git 	make 	unzip 	vim' returned a non-zero code: 100'

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder_Sandbox/1047/console

[2020-01-08 17:04] Haroon-Khel commented on #786
@piyush286 Could you post an output of `cat /proc/meminfo`? It will give me an idea of the MemTotal and Hugepagessize values

[2020-01-08 20:53] piyush286 commented on #786
Hugepagesize can be set to 2048 kB. We should set the total memory allocated for huge pages to around 70% of the total memory.

Just an example from one of our machines:
[code]

[2020-01-08 22:12] sxa555 commented on #786
So can probably do some sort of calculation along the lines of:
[code]
and set it to $HUGEPAGES (assuming you agree the logic looks sound ;-) )

[2020-01-08 23:02] sxa555 commented on #522
This is covered for x86 platforms by https://ci.adoptopenjdk.net/view/work%20in%20progress/job/VagrantPlaybookCheck/

The use of "clean" virtual machines for each test means that it is more reliable than having statically allocated systems, although has the downside that at the moment we cannot test systems of other architectures (ppc64/s390x/arm) unless we can implement https://github.com/AdoptOp

[2020-01-09 14:39] Willsparker commented on #964
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1654/

Installed MSVS2017 and it passed on `test-azure-win2012r2-1`. Closing issue :-)

[2020-01-09 14:39] #964 closed

[2020-01-09 15:57] reinhapa commented on #1002
I have no specific opinion about this, but I will need some help getting the update sites to be working later down the process though...

[2020-01-09 20:04] sxa opened #1084 "Revisit github teams in the project and what they control"
I've been looking at some of the teams that we have and what they get access to and a few things have stood out:

1. We don't have too much consistency in the naming of the teams
2. We don't have a group that lets people triage builds that gives them access to the [signing job](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/) logs
3. We have a number of jobs where the per

[2020-01-10 10:02] adam-thorpe opened #1085 "JDK net test failures on test-macincloud-macos1014-x64-2"
Set of 5 ipv6 tests have failed for the second time on the same machine since 3rd Jan.
Only seems to be affecting this machine on jdk8.

Last passing build on this machine (3rd Jan)
https://ci.adoptopenjdk.net/user/adam-thorpe/my-views/view/Nightly%20test%20openjdk%20openJ9/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_xl/109/

Most recent failure (10th Jan)
https://ci.adoptopenjdk.net/user/adam-

[2020-01-10 13:34] archanaNogriya opened #1086 "JDK13 : Test failures on test-godaddy-win2016-x64-2 due to unable to clean workspace"
Job running : https://ci.adoptopenjdk.net/job/Test_openjdk13_j9_sanity.openjdk_x86-64_windows/106/console

Failing with error -

Cloning repository https://github.com/AdoptOpenJDK/openjdk-tests.git
ERROR: Failed to clean the workspace
jenkins.util.io.CompositeIOException: Unable to delete 'C:\Users\jenkins\workspace\Test_openjdk13_j9_sanity.openjdk_x86-64_windows\openjdk-tests'. Tried 3 times (of

[2020-01-10 13:39] sxa555 commented on #1086
There were a lot of processes lying around on that machine. I have rebooted it (as it was likely to be quicker than deleting them...) and hopefully that will resolve the issue for now.

[2020-01-10 13:39] #1086 closed

[2020-01-10 13:40] sxa555 commented on #1085
I don't believe I have access - @gdams can you look at this please?

[2020-01-10 13:40] sxa555 commented on #1085
@adam-thorpe Can we verify via a Grinder whether the old build still works on this machine?

[2020-01-10 13:54] sophia-guo opened #1087 "Test_openjdk8_hs_sanity.external_x86-64_linux is triggered twice a day"
https://ci.adoptopenjdk.net/view/Test_external/job/Test_openjdk8_hs_sanity.external_x86-64_linux/ is triggered twice daily by https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-hotspot/ and
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-hotspot-jfr/, which will trigger all hotspot 8 external sanity tests job twice daily and te

[2020-01-10 14:18] adam-thorpe commented on #1085
Good idea don't know why I didn't think to try that

[2020-01-10 14:41] adam-thorpe commented on #1085
Grinder failed on both
Newest build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1689/
Older build: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1691/

Which confirms that this is a recent change to something on the machine

[2020-01-10 14:49] archanaNogriya opened #1088 "JDK11 : Test failures on test-godaddy-win2016-x64-2 due to processes locking and not able to start."
Job running : https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_x86-64_windows_xl/119/console

Failing with error -

WARNING: not all children have been started. Can't complete test.
17:34:49           You can try to increase the timeout or
17:34:49           you can try to use a faster VM (i.e. not a debug version).
17:34:49  whenComplete: pid: 65840, exception: null, thread: Threa

[2020-01-10 14:49] archanaNogriya commented on #1088
looks like very similar problem as https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1086.

[2020-01-10 15:06] sxa555 commented on #1088
Machine was rebooted to resolve 1086 which will have resolved this too as it's on the same machine

[2020-01-10 15:06] #1088 closed

[2020-01-10 16:40] sophia-guo commented on #1087
That is saying for target x64Linux -> hotspot-jfr, test_list should not include sanity.external

[2020-01-10 19:28] smlambert commented on #925
This issue is causing failures that are seen in the release build candidates - we should either fix or I should re-disable these machines.

[2020-01-10 22:10] sophia-guo commented on #1087
Close and opened in https://github.com/AdoptOpenJDK/openjdk-build/issues/1468

[2020-01-10 22:10] #1087 closed

[2020-01-12 19:06] reinhapa commented on #932
@sxa555 I could run a test build enabling those tests again...

[2020-01-13 10:09] M-Davies opened #1099 "AIX JDK13 nightly build failure: log files not found"
**Platform:**
jdk13u-aix-ppc64-hotspot
jdk13u-aix-ppc64-openj9

**Please describe the issue that you are having with our binaries and if possible how to recreate it.**
Since 04-01-2020, the jdk13u-aix-ppc64-hotspot pipeline at adopt has been suffering from various `No such file or directory` errors when looking for various log files. What files exactly seem to vary for each run.

The common error

[2020-01-13 17:30] sxa555 commented on #146
Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1538

[2020-01-13 20:02] sej-jackson opened #1090 ""ansible_processor_vcpus" reported as '***Undefined***' on s390x RHEL7"
Running playbooks on new Rhel7.7 system (s390x) which fell over in gmake task because they are reporting `ansible_processor_vcpus` as undefined.

`/proc/cpuinfo` contains:
[code]

Comparing with a working system - also RHEL 7.7, but x86, `/proc/cpuinfo` contains:
[code]
(and similar repeated for each cpu).

There are a lot of instances of this variable being used, so for now I'm setting an overrid

[2020-01-14 08:22] Willsparker commented on #1090
I saw a similar problem looking at the playbook for FreeBSD, where it had `ansible_processor_cores` undefined, and it required the `ansible_processor_vcpus` variable instead. Solutions that come to mind would be to change the role to have a task specific to Rhel7 on S390x, or to make a task in the `../Common/tasks/Redhat.yml` file that sets `vcpus` to the same value as `cores`.

[2020-01-14 09:53] Haroon-Khel commented on #1090
@Willsparker If you havent already implemented a solution, I think the following way might be the quickest way to do it
`"{{ ansible_processor_vcpus | default(whatever you want as the default) }}"`

[2020-01-14 09:55] Haroon-Khel commented on #1090
If tested it roughly, with a simple `debug msg` command and it works; it outputs the default value if the variable is undefined. I haven't tested it in the gmake task

[2020-01-14 10:08] Haroon-Khel commented on #1090
Theres also a task in the `cmake` role that i've just spotted which does something similar to what you have mentioned in your comment:

[code]

[2020-01-14 10:13] adam-thorpe opened #1091 "JTReg failure on test-packet-x64-windows-2012r2-1"
Failing test: java/lang/SecurityManager/modules/CustomSecurityManager.sh
JDK11+ (test isn't ran on 8)
OpenJ9 and Hotspot
Any windows build

[code]
Looks like the test is failing here: https://github.com/ibmruntimes/openj9-openjdk-jdk11/blob/57727e567282a160037923fc8f64d9c322b68d92/test/jdk/java/lang/SecurityManager/modules/CustomSecurityManager.sh#L54

Hard to tell when this first cropped up as it

[2020-01-14 10:16] Haroon-Khel commented on #767
The cmake, ccache and protobuf tasks, in their respective roles, are all tagged with cmake, ccache and protobuf respectively. So these specific roles can be run using `--tags "cmake,ccache,protobuf"` in the `ansible-playbook` command. However this will not run the protobuf tasks as the role is not included in the `AdoptOpenJDK_Unix_Playbook/main.yml`, as of the pr mentioned in the first comment.

[2020-01-14 10:18] Willsparker commented on #1090
I'll have a look - if we go for the default value solution (i.e, 1), it would build an awful lot slower if it actually has potential for a lot more processors

[2020-01-14 10:21] Haroon-Khel commented on #1090
You could try setting the default value to be the same value as `cores`, as suggested in your comment above, if that too isn't undefined

[2020-01-14 10:22] sej-jackson commented on #1090
There were 14x files using `ansible_processor_vcpus` - I don't know if the problem is just associated with the `s390x` architecture though - it's the first one I've done.
[code]

[2020-01-14 10:24] Haroon-Khel commented on #1090
I do remember having this issue with the new z15 RHEL marist machines, but it must have slipped my mind to open an issue

[2020-01-14 10:26] Willsparker commented on #1090
Okay, I'll put (what I think will be) a fix in. For the other architectures, I think we should handle those cases individually, as they come up.

[2020-01-14 11:08] Willsparker commented on #1090
Just FYI, the above PR will needed to be tested as I've not got access to an `s390x` machine, if someone wouldn't mind doing that...?

[2020-01-14 12:16] sxa555 commented on #1090
@Haroon-Khel If your machiens showed up the problem then we could use one of the `s390x` Marist machines to test this. If we remove `/usr/local/bin/make` from the machine and run the playbook that should trigger it to rebuild the role. If you want to do that give me a shout and I'll mark it offline in jenkins for a while

[2020-01-14 12:56] sxa555 commented on #1091
Can you get a Grinder set showing the same test being run on this machine and another one - otherwise the above doesn't show this as being a machine-specific issue.

[2020-01-14 13:11] Haroon-Khel commented on #1090
@sxa555 I dont think I need to use the marist machine. I've recreated the error on a s390x RHEL fyre box and am testing the pr on it

[2020-01-14 13:14] adam-thorpe commented on #1091
Failing machine (packet 2012r2-1):
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1746/
Passing machine: (godaddy 2016-2): https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1747/

[2020-01-14 13:43] sej-jackson commented on #1090
I too created an s390x Rhel Fyre ember, and it's completed successfully against @Willsparker 's changes.

[2020-01-14 13:49] Haroon-Khel commented on #1090
I think https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1092#pullrequestreview-342539797 serves as a more succinct solution, but I think we should look to creating a separate role for situations like this; resolving variables that appear undefined

[2020-01-14 14:37] thegreystone commented on #1002
@aahlenst - when do you think the test setup will be available?

[2020-01-14 15:15] jerboaa opened #1093 "Create openjdk14-binaries and openjdk15-binaries repos"
In order to facilitate [openjdk HEAD](https://github.com/AdoptOpenJDK/openjdk-jdk) builds (see https://github.com/AdoptOpenJDK/openjdk-build/issues/1467) it would be good if we had a place to upload nightly releases. Right now there are neither `openjdk14-binaries` repos nor `openjdk15-binaries` repos on github. It would be great if somebody could create them.

[2020-01-14 15:57] smlambert commented on #1093
Thank you for raising this, it was a request that was also echoed by participants at the August OpenJDK committers workshop to the question, "what can we do at the project from a test perspective that would be helpful to OpenJDK developers?".  The answer was build tip, test lots, raise issues early.

[2020-01-14 16:01] tellison commented on #1093
Created new repositories called [openjdk14-binaries](https://github.com/AdoptOpenJDK/openjdk14-binaries) and [openjdk15-binaries](https://github.com/AdoptOpenJDK/openjdk15-binaries).

Please check they are as you expected.

[2020-01-14 16:11] sxa555 commented on #1091
Had a look on the machine, cleared up some old processes, [re-ran](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1753/console) but same error occurred

[2020-01-14 16:31] Haroon-Khel commented on #683
Currently, many of the tasks in the Common are already tagged with `build_tools` thankfully. Its just a matter of finding the remaining roles

[2020-01-14 16:51] sxa555 commented on #683
There are quite a few that are also specific to OpenJ9 builds so we could potentially have `build_tools` and `build_tools_openj9` (anything with `build_tools_openj9` should also have `build_tools` I think). Would also allow people to avoid installing some quite big stuff like the NVidia toolkit.

They are mostly called out in the top level `main.yml`

[2020-01-14 17:22] sxa555 commented on #767
Up until a week ago it wasn't required by AdoptOpenJDK but since the JITserver support went into the extensions repository a few days ago it is (Linux/x64 only for now) so yeah I'll chuck in a PR to re-enable it ...

[2020-01-14 17:45] jerboaa commented on #1093
Thanks! Looks good. I'll find out once pipelines for 14 and tip are up and running (and they try to publish results there). :)

[2020-01-14 17:46] #1093 closed

[2020-01-14 18:14] #1090 closed

[2020-01-14 21:04] sxa555 commented on #1091
@smlambert I'm going to disable this machine in jenkins for now so this does not recur during the releases. If you want the machine back feel free to re-enable it

[2020-01-14 22:17] smlambert commented on #1091
thanks @sxa555 I think its better to disable as you have done, as it will be less confusing for people triaging the releases.

[2020-01-15 04:49] smlambert commented on #1044
Been through the set of https://ci.adoptopenjdk.net/label/hw.arch.ppc64le/ test machines, 5/11 have docker installed (ubuntu based ones), label is present.

Going through [s390x](https://ci.adoptopenjdk.net/label/hw.arch.s390x/) now, looks like docker present on test-marist-ubuntu1604-s390x-4 so label added, will confirm others and add labels to remaining machines shortly.

[2020-01-15 10:03] jerboaa commented on #1084
openjdk-upstream-binaries (admin group)
openjdk-upstream-binary-rel-eng (write group)

These two are for the OpenJDK Project Builds work we do in openjdk8-upstream-binaries and openjdk11-upstream-binaries.

[2020-01-15 14:24] Haroon-Khel commented on #683
Roles that I have tagged with a `build_*` tag:
[code]

The `adoptopenjdk_install` have only `build_tools`, while the rest have both `build_tools` and `build_tools_openj9`.

`cmake` has an additional third, `build_tools_openjfx`

[2020-01-15 16:20] Haroon-Khel commented on #683
The packages `zlib-devel` and `perl-devel` were installed manually for the task `GIT_Source` to work

[2020-01-15 16:30] Haroon-Khel commented on #683
Installed `expat-devel` for `XML::Parser`

[2020-01-16 10:46] jerboaa opened #1096 "Create openjdk-jdk14 mirror repository."
I believe it should be possible to use the skara mirror as base:
https://github.com/openjdk/jdk14

JDK 14 is slated to get released in March, but I'd need to get this added now as a stepping stone for JDK head builds. See: https://github.com/AdoptOpenJDK/openjdk-build/issues/1467

[2020-01-16 10:48] jerboaa commented on #1096
In April building will need to switch from openjdk-jdk14 to openjdk-jdk14u.

[2020-01-16 13:03] sxa555 opened #1097 "Pipelines taking a long time due to significant AIX build speed degredation"
We've had to kill off a couple of AIX build jobs today due to performance issues preventing us from running the release pipelines. Builds that shoulkd take about 60-90 minutes are taking over 10 hours. This is not specific to either of the two main XLC13 build machines (The 14 and 10 hour runs shown in the screenshots below were on different machines). As can be seen from the screenshot below it's

[2020-01-16 13:08] lumpfish opened #1098 "build-digitalocean-centos69-x64-1: no space left on device"
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9-linuxXL/395/console

Build failed with
[code]

[2020-01-16 13:22] lumpfish commented on #1098
Cleared up by @gdams

[2020-01-16 13:22] #1098 closed

[2020-01-16 13:40] gdams commented on #1097
@sxa555 are these running on osuosl or ibm hardware?

[2020-01-16 13:43] sej-jackson commented on #1097
For the jdk8u builds, job #520 (the 10hrs one) ran on `build-osuosl-ppc64-aix-71-1` while #521 (<6hrs) ran on `build-osuosl-ppc64-aix-71-2`.

I don't see any obvious problems affecting performance on `build-osuosl-ppc64-aix-71-2`, but on `build-osuosl-ppc64-aix-71-1` its errpt showed that `rpc-lockd` was crashing at least every minute, and had been doing so since at least Monday 13th Jan (which is

[2020-01-16 15:10] sej-jackson commented on #1097
I think last update was a bunch of red herrings though.... I'm not convinced it's showing any improvement in the current build (`#442`).

[2020-01-16 15:25] Haroon-Khel commented on #683
It should be noted that the above was for running the playbook on a RHEL 7 machine. I am now testing the playbook on Ubuntu 16 and 18.
Manually installed `unzip` for Ubuntu 18

[2020-01-16 17:16] sxa555 commented on #1097
Have disabled (removed build tags from) [build-osuosl-ppc64-aix-71-1](https://ci.adoptopenjdk.net/computer/build-osuosl-ppc64-aix-71-1/) and [build-osuosl-ppc64-aix-71-2](https://ci.adoptopenjdk.net/computer/build-osuosl-ppc64-aix-71-2/) and re-enabled [test-osuosl-ppc64-aix-71-1](https://ci.adoptopenjdk.net/computer/test-osuosl-ppc64-aix-71-1/) to allow it to run builds to compare performance

[2020-01-16 18:54] sej-jackson commented on #1099
The default ulimit for `nofiles` (number of open files) is 2000, while jenkins has its own stanza setting it to unlimited.  I'm not entirely sure how to explain what exactly is going awry, but increasing the default ulimit value to 8192 appears to have got around the problem.

@sxa555 is running some test builds (copies of `jdk13u-aix-ppc64-openj9`) and the first one has completed successfully, so

[2020-01-16 23:20] sxa555 commented on #683
Yep I think that's ok. I thought `cmake` was required by OpenJ9 builds too but that may never had got implemented - we can verify tomorrow (Or get @Willsparker to run a Vagrant test with a draft PR that removes the `cmake` role!)

[2020-01-17 08:27] Willsparker commented on #683
On it : https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/329/

[2020-01-17 10:09] Haroon-Khel commented on #683
I've also created a draft pr, https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1100, which contains my progress so far. I have successfully tested on RHEL 7, SLES 12 and Ubuntu 16 and 18 x86_64 fyre machines

[2020-01-17 10:12] Haroon-Khel commented on #767
@jdekonin Protobuf has been added back as a role, so the use of the option `--tags "cmake, ccache, protobuf"` should run only those roles. Is this what you were looking for?

[2020-01-17 11:23] Willsparker commented on #683
Yep, according to the playbook check, cmake isn't a dependency for building openj9 (at least not for jdk8)

[2020-01-17 12:14] sxa555 commented on #1099
I believe this is now resolved, although separate errors have shown up today which do not appear to be a result of the same issue. Closing unless proven otherwise ;-)

[2020-01-17 13:01] sxa555 commented on #1097
I'm starting to believe this is network related (although that doesn't explain why the builds seem slow once everything is downloaded to the machine ...)

I've been doing some download tests, and it appears that HTTP downloads are havign significant problems. When trying to repeatedly download something from adoptopenjdk/github, the downloads are aborting part way through about 90% of the time:
[c

[2020-01-17 14:00] jdekonin commented on #767
Yes, although it looks like there is still an extra role to install protobuf on line 52 that needs to be cleaned up.  Its the role in this (current) form that cannot be omitted.

https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/b4c899faa26160d0f5479ef443c5cf478fcee175/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml#L52

[2020-01-17 18:33] sxa555 commented on #767
Good point @jdekonin - with the desire to build with GCC7 where possible that needs to be removed now

[2020-01-17 21:52] smlambert opened #1103 "Request a Windows Server 2019 machine to add to set of Windows test machines"
Related to https://github.com/AdoptOpenJDK/openjdk-website/pull/655, would be good to have a Windows Server 2019 in the open set of machines if we state we support it.

[2020-01-17 21:55] sxa555 commented on #1103
@Haroon-Khel Can you provision up a Windows Server 2019 box internally and see if the playbooks run ok in it please?

[2020-01-20 10:09] andrew-m-leonard opened #1104 "AIX testcase dependency failure"
Looks like C library depedency not right?
https://ci.adoptopenjdk.net/job/Test_openjdk13_j9_sanity.openjdk_ppc64_aix/2/console
[code]

[2020-01-20 12:08] Willsparker commented on #1059
I had a look at ci.adoptopenjdk.net, and it appears we need the following iso images, if only looking at the ppc64le, s390x and arm architectures:

| U16 | ppc64le, s390x, armv7, armv8 |
|-----|-------------------------------|
| U18 | ppc64le, armv8               |
| C7  | ppc64le, armv8               |

Am I missing any?

[2020-01-20 12:26] sxa555 commented on #1059
I think that since we have good coverage across distributions on x64 I'm happy with just going for just one on each architecture for now. Let's go Ubuntu18.04 where available, and Ubuntu16.04 otherwise for now.

[2020-01-20 14:01] Willsparker commented on #1059
Okay - unfortunately the `armv7l` architecture is available for either Ubuntu's, so I'm looking at Raspbian instead , as per your suggestion.

[2020-01-20 15:13] Willsparker commented on #1059
https://worthdoingbadly.com/aixqemu/

Apparently AIX is possible too!

[2020-01-20 15:28] sxa555 commented on #1104
I suspect this is caused by the fact we build JDK13 on AIX71TL5SP5 now and therefore it won't work on earlier releases with an earlier libc. Suggest running the testing on https://ci.adoptopenjdk.net/computer/build-ibm-ppc64-aix-71-1/ for now

[2020-01-21 06:09] karianna commented on #1096
Can we confirm from Skara that the jdk14 repo is stable and won't be rebooted?

[2020-01-21 10:01] gdams commented on #1099
This appears to still be failing and is now blocking the jdk13 AIX release (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk13u/job/jdk13u-aix-ppc64-hotspot/156/).

[2020-01-21 10:29] Willsparker commented on #1059
According to https://superuser.com/questions/297162/how-to-access-internet-from-qemu qemu is setup to access the internet by default.
I've confirmed this by running `qemu-system-ppc64 -M pseries -m 1024 -cdrom U18-ppc64el.iso -boot d -hda  U18-ppc66le.dsk `
Once running through the installation and then rebooting the system from the disk (by removing the `-cdrom` and `-boot` option), I was able to

[2020-01-21 10:34] Willsparker commented on #1059
I have also attempted to do the same with `s390x` and `arm64` systems, however, according to https://gmplib.org/~tege/qemu.html , it appears that the qemu commands for different architectures require different things to boot the system - i.e. `qemu-system-ppc64` can boot the system with an `.iso` image, however the `qemu-system-aarch64` command requires a separate `kernel` and `initrd` files.

I w

[2020-01-21 11:35] gdams commented on #1096
I'll create a skara mirror script so that we can test things out.

[2020-01-21 11:42] adam-thorpe opened #1105 "Ipv6 confingurations missing on test machines"
Part of the jdk8u242-b08_openj9-0.18.0 triage
Platform: xlinux
Machine: test-packet-ubuntu1604-x64-2

Tests:
java/net/Inet6Address/B6206527.java
[code]
java/net/ipv6tests/B6521014.java
[code]

Re-build grinders
Failing on test-packet-ubuntu1604-x64-2: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1810/
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1809/
Passing on other mac

[2020-01-21 12:01] Willsparker commented on #1059
https://astr0baby.wordpress.com/2019/05/09/testing-bleeding-edge-ubuntu-server-19-10-s390x-in-qemu/

^ An example of how to get the kernel and initrd files from an .iso file

[2020-01-21 12:19] gdams commented on #1096
https://github.com/AdoptOpenJDK/openjdk-jdk14

[2020-01-21 13:14] pshipton commented on #1104
The XL C/C++ Runtime for AIX, V16.1 needs to be installed. It's not caused by building on AIX71TL5SP5, it's caused by using xlc 16.

https://www.ibm.com/support/pages/xl-cc-runtime-aix-v16101-fix-pack-december-2018

[2020-01-21 13:23] gdams commented on #1096
Script PR is here: https://github.com/AdoptOpenJDK/openjdk-build/pull/1483

[2020-01-21 16:56] sxa opened #1106 "Ensure make 4.1 is the default on Linux/ppc64le build machines"
I've just replaced `/usr/bin/make` with a symlink to `/usr/local/bin/make` after hitting the issue described in #499 again. Ideally we'd modify the playbooks to remove the system installed make (as we do for the `GIT_Source` role unless the `dont_remove_system` tag is skipped on the playbooks (Hmmm that should possibly have been called `remove_system`

Since it affected the builds today (Maybe as

[2020-01-21 17:43] sxa555 commented on #1105
Passed at https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1828/console after I got rid of a running docker container that was presumably blocking it.
[code]

[2020-01-22 08:39] Willsparker commented on #1106
I'll look into this whilst I wait for `qemu` stuff :-)

[2020-01-22 08:45] Willsparker commented on #1059
https://unix.stackexchange.com/questions/124681/how-to-ssh-from-host-to-guest-using-qemu
^ Found a very easy way to connect to the hosts via ssh - Adding this into the `qemu-system-..` commands : `-net user,hostfwd=tcp::10022-:22 -net nic`
This creates a basic network interface card for the machine, and then forwards the `10022` port from the host machine to port `22` on the guest machine. Therefo

[2020-01-22 10:05] jerboaa commented on #1096
Thanks!

[2020-01-22 10:05] #1096 closed

[2020-01-22 10:36] Haroon-Khel commented on #1103
@sxa555, @sej-jackson was kind enough to run the playbook on one of her internal machines, a hursley.ibm one. They ran fine, though she skipped one of the Java Installs, the jenkins and the ntp_time tasks.

Despite this, I don't think this is an adequate indication of whether the the playbooks run smoothly on a Windows Server 2019 machine, as I suspect that her machine has certain configurations w

[2020-01-22 14:17] Willsparker commented on #1059
I've been able to get ansible working with the qemu vm by using the command:
`ansible all -i "localhost:10022," --private-key=id_rsa -u username -m raw -a "uname -a"`, after having copied the public ssh key via `ssh-copy-id -i id_rsa.pub user@localhost -p 10022`

This can be automated by using `expect` scripts to give the Qemu VM the password to the `username` user:
[code]
And in the bash script :

[2020-01-22 16:44] sxa555 commented on #1061
OpenSUSE now working after the merging of https://github.com/AdoptOpenJDK/openjdk-build/pull/1487#event-2970425168

[2020-01-22 18:09] sxa555 commented on #1104
Was going to close this but we should probably add the xlc16 runtime into the AIX playbooks so we can run the JDK13 tests on all of our machines.

[2020-01-23 10:19] adam-thorpe commented on #1105
@sxa555 could you have a poke around on test-osuosl-ubuntu1804-ppc64le-2 and see if it's also got an old running docker process on it? Am seeing the same failures as above on this machine

[2020-01-23 14:38] Willsparker commented on #1106
I've had a look - putting in the conditional to run the `gmake` stuff when the `make` version is too low wasn't difficult, however when adding a task to remove system `make`, an error message came up :
[code]
It seems `yum` is dependent on `make`, therefore on CentOS/RHEL (at least) we can't remove it. I can add a task to symlink it from `/usr/bin/make` to `/usr/local/bin/make`, as this will make

[2020-01-24 08:51] Willsparker commented on #1059
I've been able to create and install Ubuntu on 2 machines for s390x and ppc64. They both have a 15G of disk space, and have the same user credentials.
Currently in the process of doing the same for U18-armv8.

[2020-01-24 09:41] adam-thorpe commented on #915
java/net/httpclient/ConnectTimeoutNoProxyAsync.java still appears to fail on test-marist-ubuntu1604-s390x-1-z13: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1883/

[2020-01-24 10:14] adam-thorpe commented on #699
@Haroon-Khel any update on this? Just to update the issue, the ipv4 tests still seem to fail on `test-marist-sles12-s390x-1` and `test-marist-ubuntu1604-s390x-1​-z13`

[2020-01-24 10:36] Haroon-Khel commented on #699
@adam-thorpe The failing ipv4 tests on the sles machine are expected; ipv6 passes, while ipv4 fails on this machine.
I'm almost sure that `test-marist-ubuntu1604-s390x-1​-z13` was replaced with `test-marist-ubuntu1604-s390x-1​`

[2020-01-24 10:37] Willsparker commented on #1059
Scratch that - I can get as far as it trying to detect the CD-rom, however it won't detect the iso. @sxa555 Do you mind if we use Debian Stretch or raspbian for armv8 emulation? Following the Debian-on-Qemu's-virt-board tutorial above worked before whilst I was testing.

[2020-01-24 10:38] sxa555 commented on #1059
Happy with either of those if you can make it work

[2020-01-24 11:07] sxa555 commented on #699
Marked `-z13` offline. Must have missed it previously.

[2020-01-24 11:13] adam-thorpe commented on #915
test-marist-ubuntu1604-s390x-1-z13 has been decommissioned

[2020-01-24 11:20] sxa555 commented on #146
AIX 7.1TL5SP5 at IBM PCC: p159a02.centers.ihost.com
AIX 7.2 at OSUOSL: 140.211.9.36
There are some issues with the first AIX 7.2 system as per @smlambert's comments on slack which I will repeat here:

[code]
Ref: https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1578531390044000?thread_ts=1578516768.037100

[2020-01-24 11:47] sxa555 opened #1108 "Remove zulu-9 from the Linux/x86 playbooks"
This is causing confusion on the Ubuntu systems (and possible CentOS/RHEL) as it seems to be setting it as a default. Since java 9 is out of support this is not ideal. Also we should not require zulu 9 on the machines as we have a valid adoptopenjdk9 available if required now.

Since I can't see any trace of zulu 7 being installed either it may also be possible to remove the zulu repositories enti

[2020-01-24 12:27] sxa555 commented on #1106
This leaves us with three options:
1. Force remove `make`, breaking the `yum` dependency
2. Find/produce a make 4.1 RPM package and use that instead
3. As you say, replace `/usr/bin/make` with a symlink, but that will be overridden if yum decides to update `make` ... TO avoid that we can add an exclude for `make` into `/etc/yum.conf`
4. Modify our scripts to ensure that `/usr/local/bin/make` is us

[2020-01-24 12:32] sxa555 commented on #1106
In fact option 4 might be quite trivial ... https://github.com/AdoptOpenJDK/openjdk-build/blob/master/configureBuild.sh#L262

[2020-01-24 15:03] Willsparker commented on #1106
Just for updating-sake, @sxa555 and I have come to the conclusion that there is something in the build scripts that are causing the builds to use the wrong version of `make` as https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/602 and https://github.com/AdoptOpenJDK/openjdk-build/pull/759
should cause `/usr/local/bin` to be in the path before /usr/bin, and `/usr/local/bin/make` is symlin

[2020-01-24 15:17] Haroon-Khel commented on #1103
Currently running the playbook against a Server 2019 Datacenter machine. Am getting checksum errors for any task involving the download of a package.

I have asked @Willsparker if he could recreate the errors using vagrant boxes

[2020-01-24 15:43] sxa555 commented on #1103
@Haroon-Khel Have you checked the length of the files being downloaded to your machine compared to downloading them elsewere?

Which version of ansible are you using - it may well be that you're getting truncated files if using the latest ansible (There's an issue about it somewhere but I can't find it just now). If you back off to 2.8 or earlier that will resolve it assuming that's the issue you'

[2020-01-24 16:48] sej-jackson commented on #146
OK, p159a02.centers.ihost.com has been run through the AIX playbook (with a little hand-holding), and should hopefully be ready to try.
I've added the installp for `aixtools.git`, and a wrapper for `wget` (`/opt/freeware/bin/wget_64_fix`), which should deal with the known issues with `libiconv.a`, and I've deliberately renamed the `/opt/freeware/bin/basename` symlink (to `basename.freeware`) becau

[2020-01-24 16:52] Haroon-Khel commented on #1103
Yeah I think it might be an ansible version error. Mine is `2.8.5`. I think the current playbooks use a pre `2.8` method of specifying the checksum

[2020-01-24 16:59] sxa555 commented on #1103
No we only specify a minimum. There's a particular bug with 2.9 that has broken the `win_url` operation universally on Windows

[2020-01-24 17:01] sxa555 commented on #627
`-2` should be back online now  so we can  work on getting this live again

[2020-01-26 11:10] aahlenst commented on #1002
I cannot give any estimates. Won't happen until mid of February for sure except someone steps up to help. Happy to talk anyone through it.

[2020-01-27 08:27] Willsparker commented on #1106
Having symlinked `/bin/false` to /usr/bin/make` on an x86_64 CentOS6 VM and running a build, it didn't crash and built successfully, so there doesn't appear to be any use of the default `make` from the build scripts (at least in this instance).

[2020-01-27 09:56] Haroon-Khel commented on #683
This issue can be closed as per the merged pull request https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1100

[2020-01-27 09:56] #683 closed

[2020-01-27 10:16] Willsparker commented on #1103
I've just checked using a Vagrant VM of Windows Server 2012r2, and the checksums do still work on this case (Using Ansible 2.5.1). Ansible 2.9.3 has been released now so I'll update the `infra-vagrant-1` and `infra-vagrant-t541` machines to see if either the checksum issue you're experiencing is still there, or if the win_get_url module is still an issue.

[2020-01-27 11:54] sxa555 commented on #1103
@sej-jackson Which version of ansible were you using? I think you backed off to something pre-2.9 after hitting the download issue with `win_get_url`

[2020-01-27 14:37] sej-jackson commented on #1103
The system I'm using is v2.9.2.  It turns out that Marcus didn't back it off on this system - the one he did is apparently running ansible v2.2.1.0.

[2020-01-27 15:13] sxa555 commented on #146
The default `git` in the path on 129.33.196.210 (Second AIX71TL5SP5 system) was causing problems (`/usr/bin/git` was symlinked to `/opt/freeware/bin/git`). I have removed the rpm-installed git (`rpm -e git`) and set the symlink to point to the installp one (`ln -s /opt/bin/git /usr/bin/git`) to resolve, although it needed a further update as we have an outdated cacerts so git can't validate github

[2020-01-28 10:46] Haroon-Khel commented on #1103
Though not yet merged, I was able to run the windows playbook using https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1113. This pr simply updates the `checksum` parameters to use `checksum_algorithm`, to comply with ansible 2.8 onwards.
However I had to omit the `cygwin` and `MSVS_2017` tasks as their install took too long, to the point where anisble's connection timed out.

Every other

[2020-01-28 13:39] Haroon-Khel commented on #1103
I am currently running the `cygwin` and `MSVS_2017` tasks separately

[2020-01-28 14:13] Willsparker commented on #1059
I have been able to get the `armv64` disk running with Debian Stretch on it. Unfortunately the tutorial that I linked to above requires it to stores the kernel and initrd files in addition to the disk. Though this isn't a massive issue, having one architecture different to the other two complicates a script to automate playbook testing on them.
This disk has the same user configuration on it as th

[2020-01-28 15:03] Haroon-Khel commented on #819
The playbook I've created for this task is more or less complete. There's just a few complications.

- The Jemmy build job requires apache-maven-3.5.3 to be installed on the machine. The machine on which this job usually runs, 160.153.247.225, has it installed in `tools/hudson.tasks.Maven_MavenInstallation/apache-maven-3.5.3/`, but I have reason to suspect that this installation was done automatic

[2020-01-28 19:55] sxa555 commented on #146
Also on the second AIX71TL5SP5 system I've had to add `libiconv.so.2` to `/usr/lib/libiconv.a` as follows. Without it jenkins was failing to run shell scripts properly e.g.
[code]
Steps as follows:
mkdir /tmp/mylibiconv
cd /tmp/mylibiconv
cp /usr/lib/libiconv.a .
ar -X32 x /opt/freeware/lib/libiconv.a libiconv.so.2
ar -X32 r ../libiconv.a libiconv.so.2
rm libiconv.so.2
ar -X64 x /opt/freeware/lib/

[2020-01-28 20:17] sej-jackson commented on #146
`140.211.9.36` is now done, but it was a bit of a struggle getting started because the python installed by `yum.sh` (using a March 2019 `yum_bundle.tar` - apparently the latest) couldn't load `libintl.a`, so `yum` itself wouldn't work.

Got around it by temporarily replacing both `/usr/lib/libintl.a` and `/opt/freeware/lib/libintl.a` with symlinks to `/usr/opt/rpm/lib/libintl.a` to get yum working

[2020-01-28 20:44] sxa555 commented on #146
140.211.9.36 (test-osuosl-) was throwing `java.lang.OutOfMemoryError: native memory exhausted`

I've resovled int by set the advanced options on the jenkins machine definition to have this as the `Prefix Start Agent Command` value:
[code]

[2020-01-28 22:33] Haroon-Khel commented on #1103
The `cygwin` and `MSVS_2017` ran successfully. The failing `OpenSSL` task managed to run without error once I ran it on its own.

To conclude. The playbook runs on the 2019 windows machine

[2020-01-28 23:09] sej-jackson commented on #1108
`zulu` is mentioned in 5x files:
[code]
@Haroon-Khel - is it ok to go ahead and removed the tasks for adding `zulu.repo` from the IcedTea-Web playbook also?

[2020-01-28 23:23] sxa555 commented on #1097
Performance issues appear to have resolved themselves now

[2020-01-28 23:25] sxa555 commented on #1104
Given that OpenJ9 no longer requires the later AIX to build JDK13, only the v16 compiler, perhaps we should switch back to building on the earlier AIX level and install xlc16 on those systems to resolve this

[2020-01-29 01:54] pshipton commented on #1104
Even if you build on an earlier machine, it will still require the XL C/C++ Runtime for AIX, V16.1 in order to run.

[2020-01-29 09:47] #1108 closed

[2020-01-29 15:55] Haroon-Khel commented on #1103
@smlambert Can this issue be closed?

[2020-01-29 17:12] sxa555 commented on #1103
I don't think we have a suitable machine at adoptopenjdk yet so I don't think it can be closed, although now we know the playbooks work we can look at acquiring one :-)

[2020-01-30 11:24] Willsparker commented on #1106
@sxa555 I did the same as above on a PPC64le Redhat 7.7 machine and the build was successfull for jdk8-j9. So I'm not sure now ...

[2020-01-30 13:31] adam-thorpe opened #1118 "JTReg Test Failure: java/lang/invoke/VarHandles/... on test-aws-rhel76-armv8-#"
Version: JDK11+ (Hotspot since openj9 doesn't have jit support for arm64 yet)
Only occurs on these arm64 machines

Failed run: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_aarch64_linux/114/
Passed run on test-packet-armv8-ubuntu-16-04:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_aarch64_linux/

Tests:
[code]

Example out

[2020-01-30 19:04] sxa555 commented on #146
With the installation of xlc16 on `build-osuosl-ppc64-aix-71-2` by me today we will move the JDK13+ builds onto there from the `build-ibm-` systems which can therefore be reallocated 100% for testing.

[2020-01-30 19:21] sxa555 commented on #146
So to be clear ... these are the machines we now have (in theory, subject to final verification) for testing AIX:

| name | former name | IP | OS level |
| --- | --- | --- | ---|
| build-osuosl-aix71-ppc64-1 | build-osuosl-ppc64-aix-71-1 | 140.211.9.10 | 7100-04 |
| test-ibm-ppc64-aix-71-1 | test-ibm-ppc64-aix-71-1 | 129.33.196.209 | 7100-05 |
| test-ibm-ppc64-aix-71-2 | build-ibm-ppc64-aix-71-1 |

[2020-01-30 19:52] sxa555 commented on #1059
Have created a jenkins job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Will-QEMUplaybookTest/ which Will has access to (it's a copy of the Vagrant one for now) which can be used to test this now that the script at https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1119 has been developed. The https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbook

[2020-02-02 23:47] sxa555 commented on #1106
Looks like I might have to "break" one of the real bulid machines in order to verify this ... I'll wait til I'm back in the office though :-)

[2020-02-03 10:12] adam-thorpe commented on #1105
Also `test-packet-ubuntu1604-x64-3` is now showing the same failures. Any idea why this is a recurring problem

[2020-02-03 15:53] Willsparker commented on #1059
I've been able to get the playbook running on a `ppc64le` architecture VM: https://ci.adoptopenjdk.net/job/Will-QEMUplaybookTest/ARCHITECTURE=ppc64le,label=infra-vagrant-1/6/console

It seems `s390x` still isn't working (I hypothesise because the VM isn't booted in time to carry out all the ssh commands, so an increase in `sleep` may be needed)

I've stopped using `expect` and instead use `ssh_pas

[2020-02-03 17:11] dinogun opened #1120 "Access to test-marist-ubuntu1604-s390x-1 for docker setup"
Need to investigate docker push failures on this box and update setup on jenkins userid

[2020-02-04 08:42] Willsparker commented on #1059
I ran the s390x machine on the `infra-vagrant-1` node without sending it to the background, and the machine isn't booting due to this error message:
[code]
Which is reported here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=832897
I checked, and `apt install qemu` puts quite an old version of qemu on the system :
[code]
as opposed to on my mac which is version `4.2.0`.
Therefore, I feel the

[2020-02-04 15:52] smlambert opened #1121 "Migrate trss.adoptopenjdk.net to alternate server (was systemdown)"
https://trss.adoptopenjdk.net seems to have disappeared (Error 522 Connection timed out.) Machine seems to have vanished, can not ping it.  Slack msg mentions issue with renewal of go daddy machines.

Slack thread:
https://adoptopenjdk.slack.com/archives/C5219G28G/p1580748982037500

[2020-02-04 18:44] sxa555 commented on #1121
Godaddy machines are currently all unavailable. I cannot easily bring them back at this time.

[2020-02-04 19:17] sxa555 commented on #1059
Title adjustment to de-scope this to exclude aarch64 for now

[2020-02-04 19:22] sxa555 commented on #1059
We have compressed disk image files in /qemu_base_images on `infra-vagrant-1` which can be extracted with e.g. `xz -cd /qemu_base_images/PPC64LE.dsk.xz > PPC64LE.dsk`

[2020-02-05 04:05] dinogun commented on #1120
@sxa555 @gdams can one of you help me get access ... docker builds are failing on this box.

[2020-02-05 11:52] adam-thorpe commented on #1105
`test-marist-ubuntu1604-s390x-2` as well now

[2020-02-05 14:13] jerboaa opened #1124 "Build infrastructure for Linux x86_64 (OpenJDK + Graal builds)"
On the last TSC call the vote for building graal at AdoptOpenJDK got approved. As a required step it was suggested to get dedicated builder infrastructure set up. This is the request to get this done.

For a start it should be Linux x86_64 only. CentOS 6 or 7 should work alright for this.

[2020-02-05 15:56] sej-jackson opened #1125 "Update playbooks to handle RHEL 8"
Now that RHEL 8 is available, let's get the playbooks updated to handle it.

Known issues so far:
- `ntp` package is no longer available (use `chrony` instead - should be installed by default)
- `java-1.7.0-openjdk-devel`
- Asian locales need prereq packages: `glibc-locale-source` `glibc-langpack-XX`
- various problems setting up CPAN, but apparently no longer required (so skip it?)
- gmake build

[2020-02-05 16:05] Willsparker commented on #1125
Due to CentOS and RHEL being very similar, we can look into doing them both at the same time.

[2020-02-05 16:56] sxa555 commented on #1120
Key added to `jenkins@148.100.113.20`

[2020-02-05 17:49] dinogun commented on #1120
Thanks @sxa555 ! Just wanted to make sure that the access is not temp though, as I need to have access to all the docker build machines (I already do to the rest of them)

[2020-02-06 11:40] adam-thorpe opened #1127 "AIX JTReg Test Failure: java/net/Inet4Address/PingThis.java"
Machines affected: `test-ibm-ppc64-aix-71-1` and `2`
JDK Versions: all
JVM: both
Platform: ppc64 aix

Passing run on `build-osuosl-ppc64-aix-71-1`: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2169/
Failing run: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2167/

[code]

[2020-02-06 12:07] sxa555 commented on #1121
We have lost the machine. I have reprovisioned another server on AWS and hopefully we can get it provisioned using the draft playbook that seems to only be in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/489#issuecomment-472385609

[2020-02-06 12:09] sxa555 opened #1128 "git-hg mirroring server needs reprovisioned"
Since we lost all of the godaddy servers this week we lost [this machine](https://ci.adoptopenjdk.net/computer/infra-godaddy-ubuntu1604-x64-1/) which we were using to perform the git-hg mirroring, which means https://ci.adoptopenjdk.net has a lot of mirroring jobs backed up. We need this resolved as a matter of urgency. We have playbooks for setting this up, and I have provisioned a new machine at

[2020-02-06 15:13] sxa555 commented on #1103
Have got two machines currently being set up - 34.244.74.139 and 34.245.29.235. The second of those has a restricted set of things installed (MSCS_2010, VS2010_SP1, Freemarker, Java7, 10, 12, 13, OpenSSL and MSVS_2013) which I think will still allow the testing to work ok assuming that the tests will work ok with only the Visual Studio 2017 compiler installed.

[2020-02-06 15:23] Haroon-Khel commented on #1121
Aside from the mongodb installation, the playbook mentioned in @sxa555 's comment ran fine on 34.243.30.50.
I then installed mongodb 4.2.3 manually and started it's service

[2020-02-06 16:02] Haroon-Khel commented on #1128
@sxa555, my git-hg playbook ran successfully on the machine

[2020-02-06 18:38] sxa555 commented on #1128
Most of the jobs in https://ci.adoptopenjdk.net/job/git-hg/ are now running successfully (I had to sort out the filesystems - added a 200Gb disk as `/home/jenkins/workspace` and also added a suitable private key to be able t push back to git. The system is in jenkins as [infra-aws-ubuntu1804-x64-1/](https://ci.adoptopenjdk.net/computer/infra-aws-ubuntu1804-x64-1/) with five executors to mat7ch wha

[2020-02-06 19:08] sxa555 commented on #1103
Both set up - if someone (I'm voting @adam-thorpe and/or @M-Davies!) can run a few Grinders including one system test on each of these that would be useful. I've left the `ci.role.test` label off until we  have verified that they are running ok

[2020-02-07 12:19] sxa555 commented on #1103
Special BOGOF offer - two machines now enabled and initial  execution of Grinder jobs looks ok, although I haven't got the jenkins agent working properly as a service ... And I've ended up with two jenkins home directories. But in the interests of getting capacity back up with the demise of the godaddy servers, this will do :-)

Just awaiting final verification that the machine setup is ok via Gri

[2020-02-07 17:28] sxa555 commented on #1128
Above error resolved by https://github.com/AdoptOpenJDK/openjdk-build/pull/1529

[2020-02-07 17:28] #1128 closed

[2020-02-07 19:17] sxa555 commented on #1103
Done. Live.

[2020-02-07 19:17] #1103 closed

[2020-02-10 01:49] karianna commented on #1121
@smlambert - Seems to be back up - can we close this now?

[2020-02-10 02:10] smlambert commented on #1121
I will let @sxa555 answer definitively, but I think that the intention was to shift trss over to AWS at 34.243.30.50, which is partially set up now.  In the meantime the godaddy instance has come back online, but we will still wish to move it off godaddy due to the way the machines expire (and that it will recur regularly).  So there is still work to be done to move the instance to its new full-ti

[2020-02-10 07:18] karianna commented on #685
@Willsparker I immediately get:

[code]

[2020-02-10 08:14] Willsparker commented on #685
@karianna Is this following the instructions in `../ansible/README.md` ? I can't say I've seen that error message before, was it on `vagrant up` ?

[2020-02-10 08:24] karianna commented on #685
@Willsparker Yep on the vagrsant up...

[2020-02-10 08:46] Willsparker commented on #685
https://github.com/hashicorp/vagrant/issues/3083

At a guess, this may be the cause - if it's a fresh install of Virtualbox and no `vagrant up`s have been ran before on your machine?
The issue says that running
`VBoxManage dhcpserver remove --netname HostInterfaceNetworking-vboxnet0`  before `vagrant up` is a workaround to it.

The issue says the error is due to :

[2020-02-10 08:59] Willsparker commented on #1059
The PR above is now ready to be reviewed, that should hopefully close this issue.

Though not relevant to this specific issue, on Friday I was attempting to run a qemu machine emulating `sparc64` with Solaris 10(u11). The furthest I was able to get to was following the tutorial here :
https://tyom.blogspot.com/2016/10/qemu-sun4vniagara-target-went-public.html   and
https://wiki.qemu.org/Documentat

[2020-02-10 15:27] jerboaa opened #1133 "GCC 5+ required for compiling Hotspot JDK 15+"
With https://bugs.openjdk.java.net/browse/JDK-8238281 the minimum required GCC version got bumped to 5.0. Stock RHEL-7 has 4.8.x, which does not satisfy this requirement and the build fails similar to this:

[code]

I believe openj9 has some requirement for GCC 7. Perhaps GCC 7 could be used across the board?

[2020-02-11 10:22] adam-thorpe opened #1134 "Godaddy debian8 machines setup issue"
test-godaddy-debian8-x64-(1-4)

[code]

[2020-02-11 10:26] archanaNogriya opened #1135 "Adopt Nightly Build+platform and tests+platform pipelines scheduling for optimum executor"
**Vision:** How best optimize to run these pipelines when build and test machines are free, which makes a more efficient way to run these build pipelines. So if we can be more specific to the timeline we run the nightly builds.

**Action:**  We all need to agree to the right solution on this as a community.

**Findings from my Investigation:**
Each Pipeline is scheduled on a daily bases,
The confi

[2020-02-11 11:37] sxa555 commented on #1135
What about the 14 and 15 pipelines?

[2020-02-11 11:40] sxa555 commented on #1133
Yep - check out `linux.sh` in the openjdk-build repo which sets it to some version of 7. We can just adjust the conditional to include all JDK15+

(I did have https://github.com/AdoptOpenJDK/openjdk-build/pull/1215 kicking around to change this for all HotSpot versions, but it was never fully agreed upon)

[2020-02-12 00:47] karianna commented on #685
Aha, the trick is to actually execute:

`VBoxManage list dhcpservers` first to get the --netname value (mine was slightly different

[2020-02-12 03:02] karianna commented on #685
[code]

[2020-02-12 03:19] karianna commented on #1134
@gdams - I'm going to hazard a guess that you might know what to do here.

[2020-02-12 10:03] archanaNogriya commented on #1135
Absolutely we are talking about here All tye current and future nightly build. At the moment 14 nightly builds. I started with  8 and 11 to find what is the best option we can go with. As we go further discussion I think we will have a much better understanding of how we go forward for all 14 15.. so on.

At the moment  OpenJDK14 nightly build runs at UK time 12:26 pm and Europ time 1:36 pm. again

[2020-02-12 12:12] sej-jackson opened #1141 "Update playbooks to handle SLES 15"
Now that SLES 15 is available, let's get the playbooks updated to handle it.

Will add list of known issues once I've started testing properly, but @Willsparker has already started work on this, so let's have somewhere to track and discuss what we know so far...

[2020-02-12 12:24] archanaNogriya commented on #1135
Similarly, OpenJDK14 nightly build runs at UK time 00:05BST where UK time is midnight  01:05 Europ time.

[2020-02-12 12:32] archanaNogriya commented on #1135
**AdoptOpenJDK Nightly build schedules as per BST time.**
OpenJDK 8    |    OpenJDK 11      |    OpenJDK14   |    OpenJDK15
 5:26 am         |    19:06 pm           |    12:26pm         |    00:05am

[2020-02-12 15:42] sxa555 commented on #1135
The formatting of that table needs an update :-) Those are the existing times - can you propose an equivalent schedule for review which has all four releases listed please?

[2020-02-12 16:00] sxa555 commented on #1133
@jerboaa Looks like it's already building with gcc7 - is there anything to be done here?
Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-x64-hotspot/16/consoleFull
[code]

[2020-02-12 17:50] jerboaa commented on #1133
No sorry, I was seeing this with the "graal-builder-image" target here (no adopt scripts involved):
https://ci.adoptopenjdk.net/view/GaoVM/job/jdk-15-gaovm-builder-x86_64_linux/

[2020-02-12 17:50] #1133 closed

[2020-02-13 09:17] Willsparker commented on #1141
I feel I should explain the above PR in more depth in here to explain whats already been done:

The `libelf0` package that couldn't be installed was removed from `Build_Tool_Packages`, and added to the SLES11 and SLES12 specific package lists.
I added a section for SLES15 specific build packages- I built this list based off SLES12's list and any error messages I got compiling JDK8-J9. Where possib

[2020-02-13 09:51] lumpfish opened #1143 "Jenkins server no space left on device"
Builds are currently failing with 'No space left on device' messages, which I assume are from the Jenkins server? - e.g. https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk14-pipeline/27/console

[2020-02-13 09:56] archanaNogriya commented on #1135
@sxa555 Yes They are, The new time I have already suggested in my above comment if you see there.
H(0-30) 23 * * * - OpenJDK11 (Average takes full run 8 hrs 3 min)
That means by approximately by 8am UK time It should complete.

H(0-30) 3 * * * - OpenJDK8 (Average takes full run 6 hrs 39 min)
That means by approximately 9am UK time It should complete.

I think that is the discussion point, when is

[2020-02-13 10:53] sxa555 commented on #1143
Have removed `workspace/build-scripts/openjdk*pipeline@[2345]*` which has freed up about 28Gb which should keep it going until I'm back.

[2020-02-13 10:56] #146 closed

[2020-02-13 11:44] sxa555 commented on #1135
Thanks - I hadn't seen the 2026 and 1705 times previously

[2020-02-13 11:46] Haroon-Khel commented on #767
The `local_srcinstall` role has been removed as per https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1102.
Closing this issue.

[2020-02-13 11:46] #767 closed

[2020-02-13 15:16] Willsparker commented on #685
Due to the line `[ -r /vagrant/id_rsa.pub ] && mkdir -p $HOME/.ssh && cat /vagrant/id_rsa.pub >> $HOME/.ssh/authorized_keys` being at the end of the provision script, if the `id_rsa.pub` file isn't there, it will return an error - however the vagrant machine is still booted and working, i.e. `vagrant ssh` will still work.

I'll make a PR to stop that, however, I'm going to just have a look at the

[2020-02-14 08:45] Willsparker commented on #1141
Latest commit on the PR is to add SLES15 to the conditions to start the `chronyd` service instead of using `ntp`, and to move `ntp` to SLES11 and SLES12 specific package lists, as `ntp` is available on SLES15-SP0, not SLES15-SP1.

[2020-02-14 09:57] M-Davies commented on #1143
@sxa555 Same story, different day it seems 😢. jdk8 and 15 pipelines failed due to master running out of space again. 14 is still in progress.
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/867/console
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk15-pipeline/19/console

[2020-02-14 14:56] jerboaa opened #1145 "test-godaddy-debian8-x64-3.adoptopenjdk.net not properly configured?"
I'm seeing some test failures which look like test system setup issues:

[code]

See:
https://ci.adoptopenjdk.net/view/Test_upstream/job/Test_openjdk11_hs_sanity.openjdk_x86-64_linux_upstream/36/testReport/junit/java_net_DatagramPacket_Constructor/java/Constructor/
https://ci.adoptopenjdk.net/view/Test_upstream/job/Test_openjdk11_hs_sanity.openjdk_x86-64_linux_upstream/36

Looks like a similar/sam

[2020-02-17 11:08] sxa555 commented on #1135
Reposting the table with proposed times with correct formatting and GMT 24h timestamps:

JDK8 | JDK11 | JDK14 | JDK15
---|---|---|---
0330 | 2330 | 2026 | 1705

Maintenance / patching: 1030

[2020-02-17 11:48] lumpfish opened #1146 "test-ibm-ppc64-aix-71-1 configuration issue"
jdk14 test execution jobs fail on test-ibm-ppc64-aix-71-1 when they try to execute java -version for the jdk under test with the messages:
[code]
Is something missing from the machine configuration?

FWIW, tests are running OK on  test-ibm-ppc64-aix-71-2.

[2020-02-17 13:00] sxa555 commented on #1146
Have installed the XLC runtime on the machine for now as per https://www.ibm.com/support/pages/xl-cc-runtime-aix-v16101-fix-pack-december-2018 although I suspect we'll need to put the full xlc16 compiler on that machine in order to build native test code.

[2020-02-17 13:00] #1146 closed

[2020-02-17 13:35] lumpfish commented on #1146
Also occurring on  build-osuosl-ppc64-aix-71-1: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2239/console

[2020-02-17 13:50] lumpfish commented on #1146
Test now starts OK on test-ibm-ppc64-aix-71-1

[2020-02-17 14:50] sxa555 commented on #1146
Installed full xlc16 compiler on build-osuosl-ppc64-aix-71-1 - as a build machine it ought to be capable of building all JDK versions

[2020-02-17 14:55] sxa555 commented on #1104
xlc16 now on both build machines. Note that https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1146 is a dup of this

[2020-02-17 14:55] #1104 closed

[2020-02-18 00:22] karianna commented on #779
@grzesuav - Are you able to test this out now?

[2020-02-18 08:47] Willsparker commented on #1141
With the above PR merged, we can include support for SLES15 SP1 too. @sej-jackson was saying that most of the above changes work for SP1, except the package `pulseaudio` doesn't exist in the default repos. There's also an issue with `GIT_Source` not build correctly via ansible, however works manually.

[2020-02-18 09:58] M-Davies commented on #1143
@sxa555 Since this is an ongoing problem, can this be reopened?

[2020-02-18 10:23] Willsparker commented on #1141
The above issue with `Git_Source` was due to the machine not having `sudo` installed by default. However, I don't think `sudo` needs to be put into the `./configure and make` steps, as the `become` parameter is set. If this is required, I can add `sudo` to the package list and make a task that inserts the user into the sudoers file.

[2020-02-18 15:15] sxa555 commented on #1121
Correct - going to use this to track the full recreation and playbook updates moving it to the new server. DNS update and associated SSL certificate are still outstanding.

[2020-02-18 15:24] Haroon-Khel commented on #1121
@sxa555 Im currently looking into the outstanding items mentioned

[2020-02-18 17:21] sxa555 commented on #1059
Complete and running at https://ci.adoptopenjdk.net/job/Will-QEMUplaybookTest/ - closing

[2020-02-18 17:21] #1059 closed

[2020-02-18 17:27] #1125 closed

[2020-02-18 17:56] sxa555 commented on #1134
GoDaddy Debian machines disabled by @smlambert

[2020-02-18 17:56] sxa555 commented on #1145
GoDaddy Debian machines disabled by @smlambert

[2020-02-18 19:02] sxa555 opened #1150 "Update DockerFileCheck for JDK14/15"
https://ci.adoptopenjdk.net/job/DockerFileCheck/ is currently somewhat out of date with the latest releases. We should ensure that we are testing with the latest releases in order to ensure that our customers can build the latest development code  easily

[2020-02-18 19:34] sxa555 commented on #1143
I've removed the `jdk12u` job archive directories from the jenkins server as we are no longer building that. That has freed up about 11Gb of space for tonight. I'm hoping that since we don't keep multiple days worth of artefacts this might allow stuff to run tonight, subject to any extra space used by core-dumping test jobs.

[2020-02-19 03:47] karianna commented on #1121
DNS has propagated to 34.243.30.50

[2020-02-19 10:01] adam-thorpe commented on #1145
@sxa555 Can we add test-godaddy-ubuntu1604-x64-1 and 3 to this list and disable those too? Reporting similar failures. 2 and 4 are already offline

[2020-02-19 10:20] lumpfish opened #1151 "Builds fail on build-osuosl-ppc64-aix-71-2 with Too many processes"
Builds are failing on build-osuosl-ppc64-aix-71-2 with 'too many processes' messages - e.g. https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk14/job/jdk14-aix-ppc64-openj9/10/console
[code]

[2020-02-19 11:52] lumpfish commented on #1145
Some system tests fail due to this configuration error too.  Messages like:
[code]

[2020-02-19 12:08] adam-thorpe opened #1153 "Multicasting Test Failures on test-godaddy-win2016-x64-1 to 4"
Multicast tests are returning localhost ipv4 and ipv6 addresses. Potentially related to other hosting problems with godaddy machines

Failures are seen on jdk14, I know `MulticastSendReceiveTests.java` failure is only re-createable on jdk14 due to a difference in test material, not sure about the other tests

**java/net/MulticastSocket/IPMulticastIF.java**
[code]

**java/net/MulticastSocket/TestIn

[2020-02-19 12:32] sxa555 commented on #1153
I believe only George has access to these systems

[2020-02-19 12:36] sxa555 commented on #1128
Note: https://ci.adoptopenjdk.net/computer/infra-godaddy-ubuntu1604-x64-1/ is now back so we have cross-provider backup capacity for these operations now

[2020-02-19 14:00] #1150 closed

[2020-02-19 14:22] sxa555 commented on #1151
This seems mostly (though not 100%) repeatable - the load is runnign at about 10 at the time it crashes (although it peaks at about 20 previously).

I'm going to try limiting the amount of RAM the job thinks it has and see what happens. The process `ulimit` on the machine/jenkins user is `unlimited`

[2020-02-19 14:31] sxa555 commented on #1151
Paging space is 4Gb on these machines which is quite low compared to the 32Gb of RAM the build machines have (16Gb taken by ramdisk)

[2020-02-19 17:25] sxa555 commented on #1143
@smlambert FYI The `openjdk_test_output.tar.gz` from a few jobs has up to 4Gb files in them. The largest 4 are all from July last year. I'm tempted to just delete those four files since I presume they have no real value being kept for so long (The seem to be from infrequently run jobs:

[code]

[2020-02-19 17:57] #1151 closed

[2020-02-19 18:37] smlambert commented on #1143
Feel free to delete anything that is older than 2 months.

On the topic of making space, we already support pushing test artifacts to artifactory (all it requires is to pass the name of the artifactory server to the test script, param [ARTIFACTORY_SERVER](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L489-L495), so we could go that route for all test jo

[2020-02-19 21:52] grzesuav commented on #779
hi, just finishing https://github.com/AdoptOpenJDK/openjdk-docker/pull/263 and I will switch to this, hopefully this weekend

[2020-02-20 11:29] Haroon-Khel commented on #1121
The new server now accepts https requests, but the browser does not trust the certificate. From the old machine, I have copied over (to the new machine) the files:
[code]
and configured nginx to point to them. Are there any other cert files, from the old machine that I should know about? @gdams @karianna

[2020-02-20 11:43] sxa555 opened #1154 "build-marist-rhel77-s390x-[234] crashing daily"
The first build machine seems ok, but the [second one](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-2) (148.100.86.218) is repeatedly falling over:

[code]
Looks like a kernel crash as follows:
[code]

[2020-02-20 12:43] sxa555 opened #1155 "Switch jenkins names of test-ibm-ppc64-aix-71-[12]"
They are the wrong way round. Confused me today when I couldn't find the workspace directory of an in-flight job :-)

Creating this as a placeholder for myself to do when the machines are quiesced

[2020-02-20 12:49] sxa555 commented on #1143
That sounds like a reasonable course of action. We're hitting extra issues at the moment after enabling AIX JDK14 as I believe https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_ppc64_aix/ is producing multiple core dumps (I'm running again without the workspace clearing option to verify but it's created two already - one 1Gb and one 1.7Gb)

[2020-02-20 14:53] #1141 closed

[2020-02-20 16:44] sxa555 opened #1159 "Build a version of OpenSSL 1.1.1d for Windows with VS2017"
Ref: https://github.com/AdoptOpenJDK/openjdk-build/issues/1556
We should build a new version and store it in the usual place (https://ci.adoptopenjdk.net/userContent/OpenSSL111win/) for use by the playbooks.

[2020-02-20 18:16] sxa555 commented on #1155
Done

[2020-02-20 18:16] #1155 closed

[2020-02-20 18:18] sxa555 commented on #1120
@dunogun What is the "setup on the jenkins user ID" that you had to perform. I can't have things hacked on production boxes in a way that isn't documented and repeatable

[2020-02-21 10:37] M-Davies opened #1163 "test-macincloud-macos1014-x64-3 Out Of Space"
`java/util/zip/ZipFile/Zip64SizeTest.java` forced it to run out of space on a [jdk11/mac_x64-XL/J9](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_xl) run last night (Build [150](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_x86-64_mac_xl/150/consoleFull)) and currently can’t handle running the test.

Grinder on th

[2020-02-21 10:37] M-Davies commented on #1163
@gdams can you take a look at this?

[2020-02-21 10:45] sxa555 opened #1164 "AWS Win2019 systems java system error on jenkins agent"
Systems have 16Gb of RAM so this is a little surprising. Unclear what it was doing at the time this occurred - I just checked up on them this morning and had this crash from the agent:

![image](https://user-images.githubusercontent.com/6487691/75027283-2e7d1b80-5496-11ea-81f6-071a0aaa0fb7.png)

Ref: [test-aws-win2019-x64-1](https://ci.adoptopenjdk.net/computer/test-aws-win2019-x64-1) and [test-aw

[2020-02-21 11:02] sxa opened #1165 "Inconsistent run times of sanity.openjdk on xLinux"
While looking at the status of some of the pipelines last night it became clear that we have some quite considerable differences in the run times of some of the `sanity.openjdk` jobs. We should look at whether this is machine-specific issue and how to optimise the pipelines if there is an underlying reason.

Data from https://ci.adoptopenjdk.net/view/Build%20and%20Test%20Pipeline%20Calendar/job/Te

[2020-02-21 11:22] M-Davies commented on #1099
@karianna @gdams Since 13 is no longer in support, this can probably be closed. I haven't spotted the log file failures since Jan 21.

[2020-02-21 11:24] sxa555 commented on #1163
Marked offline in jenkins just now so nothing gets scheduled on it - we have enough redundancy for this not to seriously impact pipelines

[2020-02-21 12:08] sxa555 commented on #1099
Now that we've released JDK13/HotSpot/Jan2020 release successfully this week this is no longer a concern.

[2020-02-21 12:08] #1099 closed

[2020-02-21 16:06] sxa555 commented on #1134
Duplicate of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1145

[2020-02-21 16:06] #1134 closed

[2020-02-21 16:08] sxa555 commented on #1145
Done

[2020-02-21 17:57] sxa555 commented on #1145
Side note to the above - `test-godaddy-ubuntu1604-1` in particular seems to have performance issues (potentailly caused by timeouts of course) based on https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1165

[2020-02-21 18:31] sxa555 commented on #1097
Performance issues are back with a vengeance. Have had multiple buids taking over 10 hours in recent days. One of the ramdisks hit capacity, but after clearing up core dumps etc. from there the problem still persisted. Causing significant delays to pipeline execution. I am looking at [using the ramdisk for temporary files](https://github.com/AdoptOpenJDK/openjdk-build/pull/1560) as it looks like t

[2020-02-21 18:35] sxa555 commented on #1097
This may have been successful as https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-openj9/560/ has gone through in a reasonable amount of time (~1h30 to get to the archiving artifacts stage)

[2020-02-24 10:05] M-Davies opened #1169 "build-azure-win2008r2-x64 / build-softlayer-win2012r2-x64 nightly curl failures"
- Initially reported in https://github.com/AdoptOpenJDK/openjdk-build/issues/1450
- [jdk8/windows_x32/hotspot](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-hotspot) fails with
[code]
on [build-azure-win2008r2-x64-2](https://ci.adoptopenjdk.net/computer/build-azure-win2008r2-x64-2/) and [build-azure-win2008r2-x64-1](https://ci.adopt

[2020-02-24 13:28] sxa555 opened #1171 "Additional Linux/x64 build box"
With Linux/x64 being one of our most important platforms, we are running at a slight risk by only having build machines for this platform on a single provider (DigitalOcean). While we haven't had any issues with DO, we should ensure we have at least one extra Linux/x64 build which is hosted on another provider.

Several of our x64 providers cannot supply CentOS6 systems, but SoftLayer can, so I'm

[2020-02-24 13:29] tellison commented on #1171
New machine provisioned as requested.

Login details set privately.

[2020-02-24 13:29] #1171 closed

[2020-02-24 14:35] Willsparker commented on #1106
This issue doesn't appear to be specific to PPC - recently the `gmake` role has been changed in such a way that it won't execute on any playbooks (ref : #1129 ), and so when running on a SUSE12 Vagrant VM (x86) in the VagrantPlaybookCheck Jenkins job, version 3.82 was being used, which caused the same issues that were on the ppc machines. A PR will be put in to fix the issue with the playbooks.

[2020-02-24 14:48] adam-thorpe opened #1173 "JTReg Test Failure: java/nio/channels/AsyncCloseAndInterrupt.java"
Original issue: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1597

Machines:
test-packet-ubuntu1604-x64-2
test-softlayer-ubuntu1604-x64-​1
(There are definitely more but no way of determining unless I ran on every single linux and aix machine)

Hangs on:
[code]

I think there may just be some old processes running on these machines that need clearing out. I don't believe it's a setup probl

[2020-02-24 15:00] Haroon-Khel commented on #1121
@gdams fixed the last few issues with the https config. I have added redirecting rules to the nginx config to allow for the otherwise inaccessible routes to be accessed (ill be adding these rules to the playbook shortly)

[2020-02-24 15:20] sxa555 commented on #1173
No obvious sign of rogue processes on the softlayer machine:

[code]

[2020-02-24 15:32] adam-thorpe commented on #1173
I've ran the job on the packet machine twice (double checking) and twice on the passing machine, so I'm pretty confident this isn't inconsistent but I'll do a re-run on the softlayer one. Is it worth comparing between the two packet machines as they would have been setup very similarly so finding an outlier might be easier?

[2020-02-24 16:04] adam-thorpe commented on #1173
Failed run on the softlayer machine: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2324/

[2020-02-25 10:24] M-Davies commented on #1169
Also fails for [jdk8/windows-x64/hotspot](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot) builds

[2020-02-25 11:33] sxa555 opened #1174 "aarch64 sanity.openjdk runs taking >10h on AWS machines"
Sample ref: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/71/consoleFull
[code]
Our packet machines do not appear to have the same problem (missing library, therefore JIT is not being enabled)

[2020-02-25 11:35] Willsparker commented on #1169
This appears to be a `git` issue : https://stackoverflow.com/questions/38618885/error-rpc-failed-curl-transfer-closed-with-outstanding-read-data-remaining

It'll may be due to a slow internet connection on the machine overrunning a default git timeout - that would explain the intermittent nature of it.

[2020-02-25 11:43] M-Davies commented on #1169
Thanks @Willsparker . In that case, if we increased the git timeout settings on the machine, it might resolve the issue (the default timeout is around 5mins). https://www.git-scm.com/docs/git-config/1.7.8#git-config-httplowSpeedLimithttplowSpeedTime

@sxa555 do you have access to this machine to try increasing the timeout to 10mins?

[2020-02-25 11:49] Willsparker commented on #1169
Alternatively, if we can reproduce the error outside of the build script, i.e. `git clone https://github.com/adoptopenjdk/openjdk-jdk8u.git` you can set these environment variables to get a better idea of what's breaking:
[code]

[2020-02-25 15:34] Willsparker commented on #1169
Right, I've set the `http.lowspeedtime` to 600 seconds (using `git config --global https.lowSpeedTime 600`). I timed the `git clone https://github.com/adoptopenjdk/openjdk-jdk8u.git` and it ended up being  ~ 4 mins 15 seconds, which could end up being over 5 minutes with the overhead of running the whole scripts and Jenkins, however we'll see if this has fixed the issue - I was unable to reproduce

[2020-02-25 15:56] Haroon-Khel commented on #1165
test-godaddy-ubuntu1604-x64-1, on which the job takes 9hrs, does so because the `net`, `nio` and `rmi` tests fail. These failures usually involve test cases which return 'Connection Time out errors'.

1 - - jdk_io_0 | 1 min 39 sec | OK | No | No
2 - - jdk_lang_0 | 14 min | OK | No | No
3 - - jdk_math_0 | 1 min 55 sec | OK | No | No
4 - - jdk_net_0 | 1 hr 40 min | NOT OK | No | No
5 - - jdk_nio_0 |

[2020-02-25 16:46] sxa555 commented on #1174
For now as an interim fix, I've added `test-packet-armv8-ubuntu-16-04` to the set of labels for the [normal](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/) and [LH](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux_xl/) test jobs

[2020-02-25 16:50] sxa555 commented on #1154
Two new machines added [build-marist-rhel77-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-3) and [build-marist-rhel77-s390x-4](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-4) with the same kernel level as the failing machine.
It's also worth noting that since disabling the machine in jenkins it hasn't crashed. I've re-enabled it to see if it falls over t

[2020-02-25 16:50] sxa555 commented on #1154
Two new machines added [build-marist-rhel77-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-3) and [build-marist-rhel77-s390x-4](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-4) with the same kernel level as the failing machine.
It's also worth noting that since disabling the machine in jenkins it hasn't crashed. I've re-enabled it to see if it falls over t

[2020-02-25 16:52] sxa555 commented on #1154
Two new machines added [build-marist-rhel77-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-3) and [build-marist-rhel77-s390x-4](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-4) with the same kernel level as the failing machine.
It's also worth noting that since disabling the machine in jenkins it hasn't crashed. I've re-enabled it to see if it falls over t

[2020-02-25 16:53] sxa555 commented on #1154
Two new machines added [build-marist-rhel77-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-3) and [build-marist-rhel77-s390x-4](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-4) with the same kernel level as the failing machine.
It's also worth noting that since disabling the machine in jenkins it hasn't crashed. I've re-enabled it to see if it falls over t

[2020-02-25 16:54] sxa555 commented on #1154
Two new machines added [build-marist-rhel77-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-3) and [build-marist-rhel77-s390x-4](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-4) with the same kernel level as the failing machine.
It's also worth noting that since disabling the machine in jenkins it hasn't crashed. I've re-enabled it to see if it falls over t

[2020-02-25 16:59] sxa555 commented on #1154
Two new machines added [build-marist-rhel77-s390x-3](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-3) and [build-marist-rhel77-s390x-4](https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-4) with the same kernel level as the failing machine.
It's also worth noting that since disabling the machine in jenkins it hasn't crashed. I've re-enabled it to see if it falls over t

[2020-02-25 18:55] sxa555 commented on #1121
Sounds good - the server is up and running so I'll close this, and we can progress the PR to add the playbook for it separately.

[2020-02-25 18:55] #1121 closed

[2020-02-25 19:02] sxa555 commented on #627
@Willsparker I think you previously had access to [test-azure-win2012r2-x64-2](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-2) so can you see if we can get it back into a usable state? If you've lost the credentials I can get them to you again

[2020-02-25 19:03] sxa555 commented on #627
(NOTE: Two new windows server 2019 machines were also added under #1103)

[2020-02-25 19:11] sxa555 commented on #423
Windows fix is in, therefore closing.

[2020-02-25 19:11] #423 closed

[2020-02-25 19:12] sxa555 commented on #697
ping @Willsparker - any update on this?

[2020-02-25 19:15] sxa555 commented on #786
@Haroon-Khel Did we ever finish this? Do you have access to the machines and can implement this if it hasn't already been set?

[2020-02-25 19:15] sxa555 commented on #812
@piyush286 Any update on  this one? Previous action was with you

[2020-02-25 19:21] sxa555 commented on #819
Would be good to clear this one off the books. @Haroon-Khel No I don't believe `JAVA_HOME` can be guaranteed to be set automatically, although we could add it to the jenkins machine definition to make it take effect.

I suspect you're right about the maven installation directory, and while I'm a little reluctant to fully rely on that path we could use that one - @karianna would you be ok with that

[2020-02-25 19:28] sxa555 commented on #1106
Let's try and break one of the build machines tomorrow @Willsparker :-)

[2020-02-25 19:29] sxa555 commented on #952
@Haroon-Khel Do you know if that option can be set as the default so that we don't need to update the scripts to make it work properly?

[2020-02-25 19:30] sxa555 commented on #932
@reinhapa Any luck?

[2020-02-25 19:35] sxa555 commented on #1143
Immediate problem resolved and we're sitting at about 32GB free at the time of writing. I'm going to close this and continue to look at a replacement and/or EC-2 based backend for jenkins under https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/933

[2020-02-25 19:38] sxa555 commented on #933
Current thinking is to chew up some AWS EC2 credits (I don't have access to them though) and use the Jenkins EC2 plugin to give us some more elastic capacity going forwards.

To consider: Do we really need to keep all GA pipeline artifacts when they are stored in jenkins? Doing so means we have a constantly increasing amount of disk space. If we're moving it to EC2 storage perhaps that doesn't mat

[2020-02-25 20:41] sxa555 opened #1176 "build-softlayer-centos6-x64-1 failing to build openj9"
HotSpot builds seem ok but the openj9 ones are having issues with this failure on the new machine:
[code]
Not immediately obvious why but I'll remove the `gcc75` label from [the machine](https://ci.adoptopenjdk.net/computer/build-softlayer-centos6-x64-1) until we can identify a solution.

Ref: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9/544/console

[2020-02-25 20:58] sxa555 commented on #1154
New machine 148.100.245.197 (`-4`) has just crashed during a build: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk14/job/jdk14-linux-s390x-openj9lastFailedBuild/console

[2020-02-25 21:37] reinhapa commented on #932
oic, at the moment it is configured for `build-scaleway-x64-ubuntu-16-04-2` will switch over to `build-scaleway-x64-ubuntu-16-04-2` and give it a try...

[2020-02-26 03:12] piyush286 commented on #812
Sorry, forgot to put an update here.

I've managed to use an alternate database (Apache Derby), and made it part of my build step of my test to download it and populate it for running the benchmark. Due to other pressing issues, I didn't get a chance to clean up my code and make a PR yet.

Hence, we wouldn't need to machine to be installed with it before hand, so closing this issue. Thanks!

[2020-02-26 03:12] #812 closed

[2020-02-26 08:16] Willsparker commented on #697
Not yet - I'll prioritise this tomorrow when I have access to the pi :)

[2020-02-26 08:58] Willsparker commented on #1169
Last night's build failed on `-1` as well ... great. I'd like to first ensure the fix for `-2` fixed the issue before putting it onto `-1` as well.

[2020-02-26 09:11] Willsparker commented on #1176
A quick search points to it being a Protobuf issue. If I'm reading this right, the file in question is meant to be output here: https://github.com/eclipse/openj9/blob/5f64d16f35681782bcda4c81f236eadc354e2d68/runtime/compiler/CMakeLists.txt#L111

[2020-02-26 09:23] reinhapa commented on #932
@sxa555 I enabled the UI tests now ignoring any failures for further analysis. I guess that @thegreystone may has an idea, what the problem is...

[2020-02-26 09:45] adam-thorpe commented on #1105
Re-iterating the full list of machines that I believe still have this problem:
[code]

[2020-02-26 10:16] M-Davies commented on #1169
@Willsparker `-2` also failed https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/506/console

[2020-02-26 10:29] Haroon-Khel commented on #786
@sxa555 No, I was waiting for a response from @piyush286 to agree with the logic from your previous comment. But I can complete this now as the logic makes sense. However, I do not have root access to either machine

[2020-02-26 10:30] Haroon-Khel commented on #819
@sxa555 I was waiting for answers to my above comment before making a pr, but ill just put it in now for review

[2020-02-26 11:06] sxa555 commented on #627
@adam-thorpe On second thoughts if you're looking for infra issues this might be a good one for you to take on :-)

[2020-02-26 12:59] Willsparker commented on #1176
I've rebuilt Protobuf v3.7.1 on the machine to see if that solves the issue

[2020-02-26 13:10] sxa555 commented on #1176
Doesn't appear to have resolved it based on re-enabling the machine:
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-x64-openj9-linuxXL/506/console

[2020-02-26 13:14] sxa555 commented on #1106
I've "broken" [build-osuosl-centos74-ppc64le-2](https://ci.adoptopenjdk.net/computer/build-osuosl-centos74-ppc64le-2) so we can see if this recurs. /usr/bin/make is now 3.82 again

[2020-02-26 13:26] sxa555 commented on #1176
Removed `gcc75` tag and re-enabled one of the other centos machines until we've fixed this problem.

[2020-02-26 13:32] adam-thorpe commented on #627
Sure, I can pick this up. I imagine running the sanity openjdk tests against this machine is a good start? @sxa555 could I get the credentials please

[2020-02-26 13:53] sxa555 commented on #1174
Hmmm the normal heap run is still going over 10 hours. With the normal heap builds only recently being introduced I wonder if the JIT still isn't performing properly on those compared to LH

[2020-02-26 14:22] adam-thorpe commented on #1105
I've excluded these tests on openj9 for jdk8 and 11. Couldn't find any instances of failures on hotspot or jdk14

[2020-02-26 14:22] Willsparker commented on #1176
Running https://github.com/eclipse/openj9/blob/5f64d16f35681782bcda4c81f236eadc354e2d68/runtime/compiler/CMakeLists.txt#L114 manually causes the required files to be generated, where they're expected to be. So it's not the way it's built thats the issue.

[2020-02-26 14:49] sxa555 commented on #1105
@smlambert Given that this seems a fairly wide variety of boxes, do you know if there's any extra config we could apply that would resolve these test issues? Have we seen this internally at IBM on any of your systems?

[2020-02-26 14:52] sxa555 commented on #627
Have sent them to you :-) Good luck!

[2020-02-26 15:15] Willsparker commented on #1169
On the bright side, I've managed to recreate the issue...
at `/tmp/openjdk-jdk8u-windows-x64-hotspot/workspace/src` and running `git pull` .

The `-v` option on `git pull` doesn't add any additional info.
I've found that it only errors on `git pull`, not cloning the repo, so it may be worth removing the repos, and seeing if the new repo has the `git pull` error as well.

[2020-02-26 16:09] sxa555 commented on #627
Seems it's not responding to remote desktop connections - have asked @d3r3kk to look into it again

[2020-02-26 16:26] sxa555 commented on #786
Key added to [test-packet-ubuntu1604-x64-2](https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-2/configure) and [test-softlayer-ubuntu1604-x64-1](https://ci.adoptopenjdk.net/computer/test-softlayer-ubuntu1604-x64-1/)

Side note: We should also consider renaming these to be `perf-` instead of `test-` for consistency with some of the newer macstadium boxes ...

[2020-02-26 21:53] grzesuav commented on #779
@sxa555 how can I test if code on mt branch will execute properly ? Is there any way I can run my branch (PR above) to check how it behaves ?

[2020-02-26 21:59] grzesuav commented on #779
I would imagine I need to perform https://support.snyk.io/hc/en-us/articles/360003812458-Getting-started-with-the-CLI
with nvm which is :
* installing snyk package
* setting some secrets (pass auth token and use it - https://support.snyk.io/hc/en-us/articles/360004499218-Authenticate-the-CLI-with-your-account)
* execute `snyk` scan command after image is build
* execute `snyk monitor` on image pus

[2020-02-27 00:32] smlambert commented on #1105
yes we have same issue internally.  yes also companies running ipv6 on Azure Devops (where osx does not have ipv6) also have this issue.

related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1524

[2020-02-27 09:38] Willsparker commented on #1169
Okay, so, I've done the suggestion that many an online resource was suggesting and put both of the parameters `https.postBuffer = 524288000` and `http.postBuffer = 524288000` on it, and the `git fetch` works on both of them locally - as this is an intermittent issue, I don't know if this has officially fixed it.

[2020-02-27 11:57] Haroon-Khel commented on #786
For test-packet-ubuntu1604-x64-2 Ive set the `HugePages_Total` to 2789. Though its entry in /proc/meminfo has become 638. Though I suspect that this will correct itself after a reboot since I have also added `vm.nr_hugepages=2789` to `/etc/sysctl,conf`

[2020-02-27 14:32] sxa555 commented on #1143
JDK11/J9 test artefacts from sanity.openjdk runs chewed up about 30GB of space between 0000 and 0700 this morning -  believed to be due to https://github.com/eclipse/openj9/issues/8661

[2020-02-27 14:59] sxa555 commented on #1174
Normal heap run has repeatedly stalled today.

Ref: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/73/

Sample process list (taken while the above job  was running):
[code]
I killed off 4129 but then it got stuck again later on. I don't think these builds are stable.
FYI I've granted @Haroon-Khel ssh access into this box in case any issues require

[2020-02-27 15:05] sxa555 commented on #1174
Normal heap run has repeatedly stalled today.

Ref: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/73/

Sample process list (taken while the above job  was running):
[code]
I killed off 4129 but then it got stuck again later on. I don't think these builds are stable.
FYI I've granted @Haroon-Khel ssh access into this box in case any issues require

[2020-02-27 15:53] Willsparker commented on #697
Okay, I've managed to run through the playbook on Ubuntu1804 armv7l, with only the `adoptopenjdk_install` role being an issue as doesn't like the architecture being called `armv7l`. A fix for that will be to just add an additional role specifically for armv7l / armhf

The `chown` issue is no longer relevant as the `adoptopenjdk9` role isn't there anymore.

As for `openjdk-7-jdk` missing, that is u

[2020-02-27 18:58] sxa555 commented on #697
Yeah under the circumstances I'm ok with just JDK8 being on there (for Ubuntu 18+) I would normally expect `arm` as the descriptor to mean arm32

[2020-02-27 18:59] #1120 closed

[2020-02-27 19:00] #819 closed

[2020-02-27 19:07] sxa555 commented on #627
Splitting off the issue with azure -2 since the original request for extra machines has been met

[2020-02-27 19:07] #627 closed

[2020-02-27 19:09] sxa555 opened #1182 "test-azure-win2012r2-x64-2 not responding"
Follow on from #627
This machine seems to he having problems despite being recovered a few weeks ago.
@adam-thorpe has been trying to get onto it to verify if the setup is good for running tests and therefore re-enabling

[2020-02-27 19:11] sxa555 commented on #559
Assigning to Haroon for expertise (Not sure if he has access, but we can sort that out. Will need the machines to be quiesced from jenkins workloads before testing these changes though!)

[2020-02-27 19:12] sxa555 commented on #1164
Appear stable for now so I'll close this and re-open if it recurs

[2020-02-27 19:12] #1164 closed

[2020-02-27 19:13] d3r3kk commented on #1182
Will handle it as soon as I can get past 2FA on the Azure portal!

I have a suggestion for managing the Azure access that we need in a slightly different manner - will take it up with @karianna and @gdams.

[2020-02-27 19:20] sxa555 commented on #1174
@andrew-m-leonard If the JDK11/J9/sanity/openjdk [for the normal heap job](https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_aarch64_linux/) gets stuck tomorrow please kill it

[2020-03-02 08:37] Willsparker commented on #1169
Ref : https://github.com/AdoptOpenJDK/openjdk-build/issues/1236

I'll rename the directories as well (or remove them).

[2020-03-02 10:41] Haroon-Khel commented on #1165
Build 151, ran on test-scaleway-ubuntu1604-x64-1, was a bit odd. Only 2 tests failed, java/net/Inet6Address/B6206527.java.B6206527 and java/net/ipv6tests/B6521014.java.B6521014, which took 0.4 and 0.18 seconds respectively, yet the build took 4.5 hours

[2020-03-02 10:43] Haroon-Khel commented on #1165
The machines test-scaleway-ubuntu1604-x64-1 and test-godaddy-ubuntu1604-x64-1 seem to be the only machines which give job times outside of the average. The average range of the job time seems to be 1.5 to 2.5 hours, so anything outside of this range should be considered odd

[2020-03-03 10:12] M-Davies commented on #1154
`build-marist-rhel77-s390x-2` crashed during a jdk14 build https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk14/job/jdk14-linux-s390x-hotspot/39

[2020-03-03 10:24] M-Davies commented on #1169
@Willsparker FYI, `build-azure-win2008r2-x64-1` needs the same fix as `-2`. It failed last night with the same issue https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/509/

[2020-03-03 10:31] Willsparker commented on #1169
I did the fix on both so I suppose that fix from last time didn't fix it

[2020-03-03 10:37] Haroon-Khel commented on #952
@sxa555 Ive looked through the documentation, but I cant seem to find a solution which sets that variable globally/as a default. Theres a way to do it by using Docker Compose files, but I think that would be a slight overkill. Updating our existing build scripts would be our best bet, though this issue affects only our Go Daddy machines yes?

[2020-03-03 15:54] Willsparker commented on #1176
https://github.com/eclipse/openj9/issues/8681

Closing as this is not an infrastructure issue.

[2020-03-03 16:14] sxa555 commented on #786
If you need to reboot the machines then feel to do it as long as the executors on the machine are idle in jenkins e.g. [test-packet-ubuntu1604-x64-1](https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-1/configure) and [test-packet-ubuntu1604-x64-2](https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-2)

[2020-03-03 16:26] sxa555 commented on #1182
Any luck?

[2020-03-03 16:49] sxa555 commented on #1154
Swapfile disabled on next reboot on machines 2 to 4. I've rebooted `-2` so that will take effect immediately. We'll see if that makes any difference tonight.

[2020-03-03 17:06] sxa555 commented on #952
Correct ... I suppose it would depend how many places we needed to make the change in. May be good to get @dinogun involved at this point to see if adding that option to each docker command is feasible and/or whether he knows of a way to default it globally

[2020-03-03 17:08] sxa555 commented on #1176
On that basis I have added the `gcc75` label back onto that machine

[2020-03-03 18:38] #1176 closed

[2020-03-03 19:49] sxa555 commented on #782
Assigning to WIll to make any changes needed to make our ansible playbooks compliant

[2020-03-04 09:41] Willsparker commented on #782
A quick run through of the Windows and Unix PBs has shown the issues are:
**Windows:**

- [601] Don't compare to literal True/False
- [204] Lines should be no longer than 160 chars
      ^ Not sure if we want this one in there? I know that's set as a warning for `yamlint`

**Unix:**

- [204] Lines should be no longer than 160 chars
- [504] Do not use 'local_action', use 'delegate_to: localhost'
-

[2020-03-04 12:39] sxa555 commented on #1143
Some options for moving off. I'm slightly leaning towards artifactory purely because we already use it so avoids increasing complexity:
- Artifactory - we already use this for some of the test artifacts so we have it already installed in jenkins and available to use, so would not require any additional setup
- [EC2/S3](https://github.com/jenkinsci/artifact-manager-s3-plugin) - Amazon sponsor us, w

[2020-03-06 08:22] Willsparker commented on #1169
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-hotspot/514/

Upgrading Git from `2.17` to `2.21` has fixed the issue 👍

[2020-03-06 09:31] M-Davies commented on #1169
Thanks @Willsparker ❤️

[2020-03-06 09:45] sxa555 opened #1188 "build-scaleway-armv7-ubuntu16-04-2 offline"
Had to kill https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/374/ as it was stuck due to the machine going offline mind-build, blocking JDK11 pipelines.

[2020-03-06 09:59] #685 closed

[2020-03-06 10:19] karianna commented on #782
I'm ambivalent about `204` - I think the rest makes sense to keep

[2020-03-06 11:02] sxa555 commented on #1182
Also would be useful to know if Azure access can be granted to non-MSFT employees ;-)

[2020-03-06 11:04] karianna commented on #1097
@sxa555 safe to close?

[2020-03-06 12:00] sxa555 commented on #1097
Probably not given that I tried to do so previous, but I'll close it anyway ...

[2020-03-06 12:00] #1097 closed

[2020-03-06 12:03] sxa555 commented on #782
I'm also not sure about fixing versions and avoiding using latest, but I think we've discussed this elsewhere too :-)

[2020-03-06 12:04] M-Davies opened #1189 "Enable fullcore dumping on test-ibm-ppc64-aix-71-1/2"
https://github.com/eclipse/openj9/issues/8652#issuecomment-595377476

Two of our test machines currently don't have [fullcore dumping](https://www.ibm.com/support/knowledgecenter/en/ssw_aix_71/l_commands/lsattr.html) enabled on them which reduces the detail and quantity of the coredumps generated by crashing java applications.

We should enable fullcore dumping for these two machines to make our j

[2020-03-06 12:09] sxa555 commented on #1189
Assigning to Sej to add to the playbooks in a suitable manner, but I've run this on both of the requested AIX machines, although I haven't rebooted yet - does the following suggest that a reboot is required for this to take effect?
[code]

[2020-03-06 12:55] M-Davies commented on #1189
It looks like it’s already set to true in that case.

Reading the documentation, from my understanding, the 2nd value is the default one and the 4th value is what it's currently set to. If you do `chdev -l sys0 -a fullcore=false`, it should set the 4th value to `false`

[2020-03-06 15:32] sej-jackson commented on #1189
Correct @M-Davies :)

[2020-03-06 15:48] M-Davies commented on #1189
In that case, once it has been added to the playbooks, this can be closed

[2020-03-06 17:17] jdekonin commented on #1189
Its already in the playbook, although you could remove the second occurrence if you want.

https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/04d9b5c2d7ab90bf9e1c38287bc185a404324412/ansible/playbooks/aix.yml#L707
and again here
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/04d9b5c2d7ab90bf9e1c38287bc185a404324412/ansible/playbooks/aix.yml#L945

[2020-03-06 17:19] #1189 closed

[2020-03-07 13:19] sxa555 commented on #1188
Console was dead. Have hard rebooted it and it's now back online. in the meantime (since this was the only machine previously labelled for testing) to progress the [JDK8u242 arm32 release](https://github.com/AdoptOpenJDK/openjdk-build/issues/1531) I've labelled the first build machine and my pi4 as suitable for [running](https://github.com/AdoptOpenJDK/TSC/issues/135#issuecomment-595942929) tests.

[2020-03-07 13:19] #1188 closed

[2020-03-08 13:06] sxa555 commented on #1188
`-1` has crashed as well today during https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-arm-hotspot/376/console

[code]

Rebooted via scaleway admin console

[2020-03-09 09:51] Willsparker commented on #1106
Assuming that this issue should still be prevalent when running the `JavaFutures` Jenkins Job, the issue seems resolved -  build-osuosl-centos74-ppc64le-2 was able to build Loom, Valhalla and Amber in ~1 hr. @sxa555 Did you remove a tag from the machine to stop other jobs from running on it?

[2020-03-09 12:07] Willsparker commented on #1169
@M-Davies Sorry... Issue's recurring. Here's what I can gather:

- build-azure-win2008r2-x64-1 appears to only be failing when running the `jdk8u-windows-x86-32-hotspot` job, not the `jdk8u-windows-x64-hotspot` job. I've already removed the x86_32 repo.

- build-azure-win2008r2-x64-2 seems to not be connecting to the Jenkins agent.

[2020-03-09 12:47] M-Davies commented on #1169
It appears to pull the repository fine within grinders https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2465/console. Since you removed the x86_32 repo, I take it it was fetching not pulling?

That must be a recent problem. It connected fine last week https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-hotspot/498/console

[2020-03-09 13:30] sxa555 opened #1191 "build-siteox-solaris10u9-x64-1 has disappeared from jenkins"
Was blocking JDK8 pipelines. Have disabled the solaris/x64 build job for now until this is resolved.
It appears that the underlying directory for the machine on the jenkins server file system is there, but it's [no longer showing on  the jenkins UI](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-hotspot/) and cannot have jobs scheduled on it

[2020-03-09 14:01] gdams commented on #1191
reloading the jenkins config fixed this

[2020-03-09 14:01] #1191 closed

[2020-03-10 10:23] sxa555 opened #1192 "build-scaleway-ubuntu1604-x64-2 out of space"
@dinogun, this seems to be due to docker images which are taking up about 33Gb. Is this expected? If so we need to do some additional capacity planning on [that box](https://ci.adoptopenjdk.net/computer/build-scaleway-x64-ubuntu-16-04-2/) as it's currently filling up the root filesystem