[2017-04-21 08:38] karianna opened #630 "Get a more powerful ARM 32 box"

[2017-06-26 08:04] gdams opened #1 "build-marist-s390x-rhel-7.3 unable to resolve host"
I am having issues using `wget` or `curl` on this machine. This is also preventing me from being able to connect it to jenkins

[code]
CC @bblondin @AdoptOpenJDK/getopenjdk

[2017-06-26 11:32] tellison opened #2 "Add additional hosts and services to Nagios"
The following machines are not currently known to our Nagios installation, and should be added to ensure their basic health is monitored:

- `api.adoptopenjdk.net`
- `staging.adoptopenjdk.net`

The following publicly available services should also be monitored so the #infrastructure channel is notified if they go down:
 - HTTP/HTTPS
   - `www.adoptopenjdk.net`
   - `api.adoptopenjdk.net`
   - `ci.

[2017-06-26 11:58] tellison opened #3 "Include host time synchronization pkgs in Ansible scripts"
New machines that are configured for AdoptOpenJDK should have some real time clock synchronization package installed (e.g. NTP, timesyncd, etc) to ensure they do not drift too far and disrupt Jenkins pipeline coordination.

Although many of our jobs are quite long running, where they fail they may fail quickly and being out of sync by tens of seconds matters.

[2017-06-26 13:41] tellison opened #4 "Bring AIX boxes on-line for build / test"
The following new AIX build / test boxes are available to the project.  I have added the keybox public key to the list of authorized_keys.  Note that there are existing authorized keys that should be retained for the hoster's maintenance use.

power8-aix-openjdk1.osuosl.org - 140.211.9.10
power8-aix-openjdk2.osuosl.org - 140.211.9.12

Each system is 32GB memory, 5 vCPU, 1 CPU unit that can dynamic

[2017-06-26 13:41] tellison commented on #2
While there please also add in the new AIX boxes mentioned in #4

[2017-06-26 15:06] bblondin commented on #1
wget is fine... there was a permission issue on /etc/resolv.conf where by non-root users were unable to read the file. Thus DNS would not resolve.

I have added read permission for 'other' group on  /etc/resolv.conf

[2017-06-26 15:06] #1 closed

[2017-06-26 15:14] tellison commented on #1
I don't see a `rhel_7_s390x.yml` playbook, so I'm curious - where was this fixed?

[2017-06-26 18:24] bblondin commented on #1
@tellison
This was fixed on the localhost.
# chmod o+r /etc/resolv.conf

[2017-06-26 18:28] bblondin commented on #2
- Added new service group "Web_Sites"
https://nagios.adoptopenjdk.net/nagios/cgi-bin/status.cgi?servicegroup=all&style=grid

- Enabled/confirmed website mointoring for:
www.adoptopenjdk.net
api.adoptopenjdk.net
ci.adoptopenjdk.net
keybox.adoptopenjdk.net
staging.adoptopenjdk.net
ansible.adoptopenjdk.net

- Installed Nagios plugins and enabled monitor of host for:
api.adoptopenjdk.net - https://nag

[2017-06-26 21:29] tellison commented on #1
This needs to be added to an Ansible script, because these images may be discarded and recreated.  Without a simple way to reconfigure the machine we'll end up hitting the same problem again.

[2017-06-27 00:47] bblondin commented on #1
Yes we do need a playbook for this OS/arch
however it is very odd that the /etc/resolv.conf is not readable by all users. The *nix default is to allow this.

[2017-06-27 01:27] bblondin commented on #4
@gdams xlc version 13.1.3 has been installed on both systems
/opt/IBM/xlc/13.1.3/bin/xlc -qversion

IBM XL C/C++ for AIX, V13.1.3 (5725-C72, 5765-J07)
Version: 13.01.0003.0000

[2017-06-27 01:58] bblondin commented on #4
Both systems are now being monitored by Nagios
https://nagios.adoptopenjdk.net/nagios/cgi-bin/status.cgi?host=power8-aix-openjdk1.osuosl.org
https://nagios.adoptopenjdk.net/nagios/cgi-bin/status.cgi?host=power8-aix-openjdk2.osuosl.org

[2017-06-27 02:03] bblondin opened #5 "Enable Nagios Graph"
nagiosgraph parses output and performance data from Nagios plugins and stores the data in RRD files. nagiosgraph creates graphs and generates HTML pages with graphic reports from the data.

https://sourceforge.net/projects/nagiosgraph/#screenshots

[2017-06-27 04:23] bblondin commented on #5
Installed and enable graphs for all hosts with mouse over

[2017-06-27 04:23] #5 closed

[2017-06-27 09:58] tellison opened #6 "Create missing Ansible playbooks for build machines"
To ensure that machine images can be reliably recreated for AdoptOpenJDK build/test we need entirely scripted configuration that sets up a VM "from scratch".

A number of the Ansible playbooks exist in the [openjdk-build repo](https://github.com/AdoptOpenJDK/openjdk-build/tree/master/ansible/playbooks), but they are not complete in their coverage.

Proposed steps are:
 - create an initial provisio

[2017-06-27 20:38] bblondin opened #7 "Create a Nagios System Configuration Tool"
Create a Nagios System Configuration Tool (script) to help setup/configure new systems host.cfg files for Nagios to monitor

ask questions then generate the host.cfg file
test and enable monitoring

[2017-06-29 17:37] bblondin commented on #7
User: nagios
Location: /usr/local/nagios/Nagios_System_Configuration_Tool/Nagios_System_Configuration_Tool.sh

This script will collect information from the user about the new system to monitor
it will create a new nagios configuration file, test it and enable it for monitoring in Nagios

Example:
~$ /usr/local/nagios/Nagios_System_Configuration_Tool/Nagios_System_Configuration_Tool.sh

##########

[2017-06-29 17:37] #7 closed

[2017-06-29 19:24] bblondin commented on #2
https://api.adoptopenjdk.net is now working and is being monitored.
now monitoring the AIX boxes: power8-aix-openjdk1.osuosl.org power8-aix-openjdk2.osuosl.org

[2017-06-29 19:24] #2 closed

[2017-06-30 08:46] tellison commented on #2
I'm curious about why all the other machines in the Jenkins farm are known to Nagios by their executor name, e.g. `build-*` and `test-*` but the AIX boxes are known to Nagios by their hostnames?

_Signed: Your pedantic friend._

[2017-06-30 13:16] bblondin opened #8 "Nagiosgraph - reporting NAN values"
Graph appears however all values are shown as '-nan'

[2017-06-30 14:02] bblondin commented on #2
@tellison
When I was told about these new AIX systems, I was just given their IP addresses.
The hostname on the systems report back without build-* and test-* prefixes. So that is what I used for Nagios.

AIX system/Nagios
$ hostname
power8-aix-openjdk1.osuosl.org

Jenkins:
build-osuosl-ppc64-aix-71-1

This can be quite confusing to have two different names for the same system... It's an easy chan

[2017-06-30 19:34] tellison commented on #2
@bblondin agreed, I don't know what the best practice is for naming hosts in Nagios, hostname would be a reasonable choice, but we were being inconsistent.  I'm happy with us choosing to use the machine's "common name", i.e. the one we use to identify it by purpose, hoster, CPU, OS, etc. which is arguably more generally useful to us than a straight hostname.

[2017-06-30 20:18] bblondin commented on #8
Mouse over is working... Graph appear with no data.

rrdtool dump filename.rrd

	 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>
			 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>
			 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>
			 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>
			 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>
			 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>
			 <row><v>NaN</v><v>NaN</v><v>NaN</v></row>

[2017-06-30 21:09] tellison opened #9 "ci.adoptopenjdk.net package upgrade problems"
The Jenkins host `ci.adoptopenjdk.net` had a number of critical OS package updates pending.  Upgrading the packages has introduced problems with Jenkins.

Jenkins is up and running, but a number of nodes are currently flagged as offline.

[2017-06-30 21:21] tellison opened #10 "Install JDK8 on build/test machines to support latest Jenkins version"
The new version of Jenkins requires JDK8.  Our nodes currently have JDK7, so need to be upgraded (via Ansible?) to install the later JDK before upgrading Jenkins.

Consider running AdoptOpenJDK builds of JDK8 on each node?

[2017-06-30 21:26] tellison commented on #9
Starting a Jenkins downgrade

[2017-06-30 21:59] tellison commented on #9
Jenkins stuck on "Jenkins is going to shut down" message, even though no jobs in flight.
May need an OS signal to shutdown?

Looking for the launch line to restart Jenkins from the command-line.  Thought there may be a script for this, but looking back through command history it looks like:
[code]

Figured we should get confirmation of this plan, so not yet tried.

[2017-07-01 18:56] karianna commented on #9
I'd prefer if we moved to a seimple service / sysemctl / systemd  / whatever way of firing these up.  a `sudo service jenkins restart` is much simple to remember

[2017-07-01 18:57] karianna commented on #10
Need to make sure that this JDK is separate from the Java 7 boot JDK we'd be using for the builds.  Should be possible though..

[2017-07-01 19:19] tellison commented on #9
Ok, plan is to downgrade Jenkins to most recent version that does not require JDK8.  From [the Jenkins changelog](https://jenkins.io/changelog/) this is 2.53, but that version is not available in the master machine's repositories, so the latest compatible I see is `apt-get install jenkins=2.46.3`.

[2017-07-01 19:24] tellison commented on #9
Also issued an `apt-mark hold jenkins` ;-)

[2017-07-01 19:36] tellison commented on #9
Jenkins successfully restarted.

Some observations:
 - `build-marist-s390x-rhel-6` is offline due to `Cannot find SSH User credentials`
 - `build-osuosl-ppc64-aix-71-2` is getting `OutOfMemory` errors
 - `build-osuosl-ppc64le-fedora-24-2` is `Disconnected by gdams`

Otherwise things look ok.

[2017-07-01 19:40] tellison opened #11 "Investigate running Jenkins master as a service"
Launching Jenkins currently requires remembering a long command-line.  To keep things simple it would be preferable to embody this as a system service or some such thing, so that it will start on normal machine boot level, and be easier to stop/restart etc.

_Original suggestion by @karianna_

[2017-07-01 19:52] tellison commented on #4
According to Jenkins, both AIX boxes' `date` is about 2hrs different to `ci.adoptopenjdk.net`

[2017-07-01 19:54] karianna commented on #9
Are we going to plan to move to 8 though?  I'd hate to fall behind in Jenkins versioning as security updates come thick and fast.

[2017-07-04 08:03] tellison commented on #9
@karianna yes, there is an open issue #10 to move to JDK8 across all machines, and then we can update Jenkins.

Closing out this particular issue now.

[2017-07-04 08:03] #9 closed

[2017-07-05 15:21] bblondin commented on #4
- Configured time server for both AIX boxes
ntpdate -b pool.ntp.org

vi /etc/ntp.conf
remove: broadcastclient
add: server 1.pool.ntp.org
server 2.pool.ntp.org
server 3.pool.ntp.org

stopsrc -s xntpd
/usr/sbin/chrctcp -S -a xntpd

test:
ntpq -p

[2017-07-05 15:23] bblondin commented on #4
The two AIX systems were not deployed the same...
- The partition sizes are small on build-osuosl-ppc64-aix-71-2 which appear to be the default. (/, /opt, /tmp) I have changed them to match those of build-osuosl-ppc64-aix-71-1
- The environment variable for JDK_BOOT_DIR was not set in Jenkins on build-osuosl-ppc64-aix-71-2
- updated ulimit to match
build-osuosl-ppc64-aix-71-2 is now on-line

[2017-07-05 15:23] tellison commented on #4
via Ansible? ;-)

We may have to return these machines and set-up new ones when we move to better hardware.

[2017-07-05 21:20] gdams commented on #10
Assigning to @bblondin. Can you check which machines do and don't already have java 8?

[2017-07-06 12:38] bblondin opened #12 "nagios.adoptopenjdk.net certificate about to expire"
Hello,

Your certificate (or certificates) for the names listed below will expire in
19 days (on 26 Jul 17 00:42 +0000). Please make sure to renew
your certificate before then, or visitors to your website will encounter errors.

nagios.adoptopenjdk.net

For any questions or support, please visit https://community.letsencrypt.org/.
Unfortunately, we can't provide support by email.

For details abou

[2017-07-06 12:53] bblondin commented on #12
Renewed certificate.

Expires: Wednesday, October 4, 2017 at 7:37:00 AM Eastern Daylight Time

Renew process:
1) log in as root to Nagios server
2) run: letsencrypt renew
3) service apache2 restart
4) service nagios restart

[2017-07-06 12:53] #12 closed

[2017-07-06 13:34] bblondin opened #13 "Nagios - missing machines/names don't match Jenkins"
names don't match Jenkins:
openjdk-api-server
openjdk-staging-server
build-packet-armv8-ubuntu-16.04

Missing:
build-scaleway-x64-ubuntu-16.04-2
test-macincloud-macos1010-1
test-macincloud-macos1010-2

[2017-07-06 14:11] gdams commented on #12
@bblondin I can give you a long term certificate from cloudflare if you want to swap it out?

[2017-07-06 15:47] bblondin commented on #13
renamed hosts and installed nagios on the 3 systems that were misisng

[2017-07-06 15:47] #13 closed

[2017-07-06 16:30] bblondin commented on #12
I just scripted it to automatically do it for me

[code]

[2017-07-06 20:30] bblondin commented on #8
- uninstalled and reinstall nagiosgraph - ng
- copied a working config of nagiosgraph from another nagios server -ng
- completely removed nagios and nagiosgraph and reinstalled it... Data is now should up :)
--- will check on it again tomorrow and confirm full functionality
--- nagiosgraph will need more time to collect data

[2017-07-07 13:51] bblondin commented on #8
All is good

[2017-07-07 13:51] #8 closed

[2017-07-07 14:57] bblondin commented on #11
Would you be able to explain this further please?
Does the following not work?  ```service jenkins start``` (stop/status/restart)
did this stop working after the 'upgrade' last Friday?

I assume the command you are taking about is:
[code]

 Short term this command could be added to the MOTD for quick reference

[2017-07-07 16:22] bblondin commented on #3
Configured/setup ntp time on all Ubuntu and AIX systems:

List:
build-1and1-win2008r2-1
build-joyent-x64-freebsd-11-1
build-joyent-x64-smartOS-14-1
build-linaro-armv8-centos7-1
build-linaro-armv8-centos7-2
build-macstadium-macos1010-1
build-macstadium-macos1010-2
build-marist-s390x-rhel-6
build-marist-s390x-rhel-7.3
build-marist-s390x-sles-12
build-marist-s390x-ubuntu-16.04 - ntp time enabled
buil

[2017-07-07 16:23] tellison commented on #11
The `service jenkins start` wasn't tried.  Discussion at the time concluded that we should run the daemon command above to start jenkins, and were left wondering why calling service wouldn't work... it may.

[2017-07-10 08:08] tellison opened #14 "Nagios map no longer working"
https://nagios.adoptopenjdk.net/nagios/map.php no longer displays the map of machines managed by Nagios, and produces a **404 - Not Found**.

I didn't notice when exactly it started failing (but _may_ have been after the issue #8 reinstall?)

[2017-07-10 08:50] karianna commented on #11
A few months ago when I went in to try and restart jenkins that service call failed.  @gdams at the time told me why but I now sadly forget.  @bblondin MOTD would be a great idea as a temp measure.

[2017-07-10 13:37] bblondin commented on #14
Restored missing map.php file. all is good.

[2017-07-10 13:37] #14 closed

[2017-07-10 14:23] bblondin commented on #11
added motd

[code]

[2017-07-10 19:07] bblondin commented on #3
Configured/setup ntp time on all systems listed in previous comment

[2017-07-10 20:27] bblondin opened #15 "Jenkins server - root partition is almost full"
The Jenkins server (http://ci.adoptopenjdk.net) root partition is almost full.
Filesystem      Size  Used Avail Use% Mounted on
/dev/sda1       188G  142G   37G  80% /

101GB of this is in /home/jenkins/.jenkins/jobs

Looking at the builds, It does not appear that they are configured to clean themselves up.
This should be configured for all builds.

example:
<img width="970" alt="screen shot 2017-

[2017-07-11 00:27] bblondin commented on #15
Nagios notifications have been disabled for ci.adoptopenjdk.net/Disk Space Root Partition until this issue is fixed

[2017-07-11 00:35] bblondin commented on #6
Ref: https://github.com/AdoptOpenJDK/openjdk-tests/issues/33

[2017-07-11 00:35] bblondin commented on #4
is there anything else required on this?
Other than the playbook which will be addressed in:
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/6

[2017-07-17 18:13] bblondin commented on #10
Most systems already had Java 8 on them. Installed Java 8 on those there were missing.

Hostname: | IP Address: | Default Java on Path | Java 8 if not Default:
-- | -- | -- | --
build-1and1-win2008r2-1 | 109.228.48.187 | java version 1.7.0_80 | /cygdrive/c/Program Files/Java/jre1.8.0_60/bin/java.exe
build-joyent-x64-freebsd-11-1 | 165.225.138.105 | openjdk 1.8.0_131 |  
build-joyent-x64-smartOS-14

[2017-07-17 18:54] gdams commented on #10
@bblondin do you reckon we are good to update jenkins to the new version then?

[2017-07-17 19:08] gdams commented on #10
upgraded jenkins, let's see how it goes this time

[2017-07-24 15:53] #10 closed

[2017-07-24 15:53] #4 closed

[2017-07-30 20:00] bblondin commented on #3
ntp is now included in each of the playbooks in: https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/ansible/playbooks

[2017-07-30 20:00] #3 closed

[2017-07-31 13:26] bblondin commented on #15
Cleaned up disk space

[2017-07-31 13:26] #15 closed

[2017-08-03 15:07] gdams opened #16 "Get a Tier 1 x86 sponsor"
Currently we are hosting a lot of our x86 hardware with packet.net

I want to move away from this as I want to free up our usage limit so that we can provision more arm machines for testing

FYI @vielmetti

[2017-08-04 16:12] gdams commented on #11
@bblondin can this be closed now?

[2017-08-04 16:13] gdams opened #17 "add z/OS machines to build farm"
We now have two z/OS machines to add to the build farm

[2017-08-09 14:36] #11 closed

[2017-08-10 11:15] gdams commented on #6
We should create ansible scripts for AIX.... I know that once you have installed yum using yum.sh you can use ansible in a pretty normal way. I know that Beth started looking at this for Node https://github.com/nodejs/build/pull/784/files

[2017-08-10 12:35] bblondin commented on #6
I'm working on the playbook for AIX. (I just got back from vacation)
I have a working script to configure the filesystem layout: https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/ansible/playbooks/scripts
and the playbook itself is about 75% completed: https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/aix.yml
to do:
- Nagios
- Call filesystem scr

[2017-08-11 18:06] bblondin commented on #6
The playbook for AIX is now completed

[2017-09-12 14:07] lumpfish opened #18 "Add cvs install to ancible scripts to enable openjdk-systemtest test execution"
The tests run part of the mauve test suite as a load test, and need to checkout the mauve test suite which is in a cvs repo.

[2017-09-12 16:13] sxa555 commented on #18
It may be possible to get around this requirement by using the java CVS client which was developed for NetBeans and is available from https://netbeans.org/projects/versioncontrol/downloads/ (Second link on there is to the jar file) - As long as we have no licensing concerns then that could be downloaded on the fly and used in place of the "real" cvs client. I've trialled this using a little shell

[2017-09-14 12:20] sxa555 opened #19 "libffi.so dependency on zlinux HotSpot builds builds"
The openjdk builds on zlinux require libffi.so.4.

At the moment it seems like not all machines have the `libffi` package installed. This should be added to the ansible playlists and all the machines (`build-marist-s390x-rhel-6` is the most recent one I've ran on)

There is another issue whereby on Ubuntu 16 and RHEL7 the only `libffi` in the default repositories is `libffi.so.6` so the builds don

[2017-09-14 14:40] sxa555 opened #20 "git missing from build-osuosl-ppc64le-centos-7.2"
All of my jobs on there are failing, which includes the parent of a matrix job which is therefore blocking some of my executions. Can we get git installed on this box please?

[2017-09-14 17:18] tellison commented on #20
I don't understand why this is not configured via ansible ;-/  but I'll bring that up on the Slack channel.

In the meantime I've installed git manually.
[code]

[2017-09-14 17:18] #20 closed

[2017-09-14 17:30] tellison commented on #18
I'm assuming you want this on all suitable machines.
For now I have manually added CVS to `build-osuosl-ppc64le-centos-7.2` (only on the grounds that it is the same machine where @sxa555 needed git ).

Once I get clarity on the Ansible scene I'll update everywhere.

[code]

[2017-09-19 08:38] tellison opened #21 "Add new s390x Linux machines to build test farm"
Marist have generously created two new Ubuntu 16.04 systems for us.  One is the replacement for our old RHEL6 image (148.100.110.55) while the other is an extra one that we requested to cope with the additional workload.

Both images have 8 Gig Memory / 100G Disk / 4 CP's

Systems:
LXEOJ905  - 148.100.33.178
LXEOJ906  - 148.100.33.179

I have the login details for these for those that need them.

[2017-09-19 08:59] tellison opened #22 "Fix security vulnerability report for the two AIX openjdk systems at OSUOSL"
OSUOSL system administrators have received a security vulnerability report about our two AIX openjdk systems hosted at OSUOSL.

Details available privately upon request.

This issue covers resolving the vulnerabilities and reporting the actions taken back to OSUOSL.

[2017-09-20 09:48] gdams commented on #21
okay added to the build farm....

[2017-09-20 09:48] #21 closed

[2017-09-20 14:45] tellison commented on #22
Changes have been made to address the problem.  Now waiting for confirmation from OSUOSL admins that the fix is good.

[2017-09-21 14:23] sophia-guo opened #23 "Jenkins machine configuration on Windows test machines need to update"
Openjdk tests build on windows got failures for permission issue:

java.nio.file.AccessDeniedException: C:\Users\jenkins\workspace\openjdk_test_x86-64_windows\openjdk-test\OpenJDK_Playlist\openjdk-jdk8u\jdk\test\sun\management\windows\revokeall.exe

According to last two comments in https://github.com/AdoptOpenJDK/openjdk-tests/issues/37#issuecomment-315861382 Jenkins machine configuration need to

[2017-09-21 14:40] tellison commented on #23
I've updated the git tool location in Jenkins for node `test-packet-x64-windows-2012r2-1` to point to `C:\Users\jenkins\AppData\Local\Programs\Git\bin\git.exe` rather than the default Cgwin version that Brad identified in your linked issue.

Please check to see if this is sufficient.

[2017-09-22 11:00] sxa555 commented on #18
Now no longer needed as https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/4 has been merged so we're using a dynamically downloaded java cvs client

[2017-09-22 11:25] #18 closed

[2017-09-27 18:51] sophia-guo commented on #23
Problem stays. See comment in https://github.com/AdoptOpenJDK/openjdk-tests/issues/37
The main problem is jenkins cannot wipe out the workspace created by itself.

Could someone with "root/Admin" permission log in and wipe out the workspace C:\Users\jenkins\workspace\openjdk_test_x86-64_windows? ( I only have jenkins permission)

In this way with a clean workspace we can try if problem stays. Than

[2017-09-28 12:11] sxa555 opened #24 "build-marist-s390x-sles-12 can't resolve itself"
I'm getting an issue on `build-marist-s390x-sles-12` (148.100.110.56) where it is unable to resolve it's own hostname. Can we get an entry for `openjdk-sles12` (The output from `hostname`) added to `/etc/hosts` on the machine - either with it's real IP or just to 127.0.0.1 please so that it resolves? This is causing some tests to fail as per https://github.com/AdoptOpenJDK/openjdk-systemtest/issue

[2017-09-28 14:25] karianna commented on #23
@tellison Maybe you and I can figure this out today?

[2017-09-28 14:39] karianna commented on #24
@bblondin Would this be an ansible thing?

[2017-09-28 16:03] sxa555 opened #25 "We do not currently have any sles12 s390x machines tagged with "test""
At the moment we run the systemtests on `sles12` as this has a suitable version of the `libffi` library available (https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/19). At present none of those machines has a a tag of `test` so I cannot use that tag to run the systemtest jobs. If I leave the tag off I end up with things potentially running on `master` which doesn't work well at all as

[2017-09-28 16:35] karianna commented on #25
@gdams We just need a new box right?

[2017-09-29 16:41] gdams commented on #24
okay this should be done now:

[code]

[2017-10-02 14:28] sxa555 opened #26 "STF tests failing on CentOS 7.2 (GLIBC_2.22 not found)"
if a CentOS machine is selected for the STF suites then the builds do not run. See https://github.com/AdoptOpenJDK/openjdk-jdk9/issues/1

We need a global set of appropriate `test` tags applied to the machines to match the current expectations in https://github.com/AdoptOpenJDK/openjdk-build/wiki/%5BWIP%5D-Minimum-OS-levels but at the moment we can't lock the jobs to that tag due to https://github

[2017-10-02 15:20] sxa555 opened #27 "jenkins: Add ability to let more users view the jenkins job configurations"
I've had a few people as if they can see the job configuration to be able to understand what the jobs are doing. While jenkins doesn't have any integrated ability to allow read-only access (aso by default if you can view it you edit it) there are plugins such as https://wiki.jenkins.io/display/JENKINS/Extended+Read+Permission+Plugin which will change that. opening this issue for discussion to see

[2017-10-02 16:55] sxa555 opened #28 "api.adoptopenjdk.net seems unhappy"
The API information is at https://api.adoptopenjdk.net/ but that currently appears not to be serving up what it should.

Cc @gdams @karianna

[2017-10-02 16:56] karianna commented on #28
This should probably be reported over in openjdk-api

[2017-10-02 16:59] sxa555 commented on #28
It looks like the whole system is a bit broken so I figured it was more of an issue in the infrastructure. 50/50 :-) @gdams is aiming to reboot it at the moment so will hopefully be resolved soon. Should we have a "systemdown" label that we use for these sorts of things so we can track how often they occur?

[2017-10-02 16:59] gdams commented on #28
The API is now back, I will look through the logs tonight

[2017-10-02 17:03] #28 closed

[2017-10-03 11:37] gdams commented on #27
I'm happy to have this discussion, there are certain jobs where we definitely do not want users viewing the job configuration but we can override the matrix when this is required. No objections from me.... CC @AdoptOpenJDK/getopenjdk

[2017-10-03 11:39] gdams commented on #25
@karianna getting a "new" box on s390x can be slightly difficult ;) I'm happy to look at splitting the boxes between build and test

[2017-10-03 14:14] karianna commented on #25
@gdams - We can (and should) timeshare the rarer boxes but if we can source more of them that would be good in the long term as we'll be building and testing so many different versions (every 6 months a new release).

[2017-10-03 16:32] sxa555 commented on #25
Yep obviously happy to share, but at the moment I think there's only the one zlinux box that can run the executables we produce so it could become a bottleneck

[2017-10-10 16:13] sophia-guo commented on #23
Suppose someone has responded my former comment. No this issue anymore in recent build.

[2017-10-13 14:10] sophia-guo commented on #23
happened again https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk_test_x86-64_windows/251/console

[2017-10-18 15:10] gdams opened #29 "Give @TianyuZuo root access to test boxes to install docker"
@TianyuZuo has offered to install docker on the test machines to aid the docker based testing. I will add their key to the root users for all test machines and will revoke access upon completion

[2017-10-18 15:11] gdams commented on #24
@sxa555 are you happy for me to close this now?

[2017-10-18 15:13] gdams commented on #25
@sxa555 are the Ubuntu boxes not going to work then? I was under the impression that we were now building openjdk binaries using Ubuntu 16.04?

[2017-10-18 15:14] gdams commented on #22
@tellison are we okay to close this now?

[2017-10-18 18:27] TianyuZuo commented on #29
Thanks for your great help George, I will update the progress here.

[2017-10-18 19:34] karianna commented on #29
Is this something that could be added to ansible scripts?

[2017-10-18 20:38] TianyuZuo commented on #29
Hi @karianna

It would be great to use ansible scripts to set up docker environment,  could you help to point me which files need the update?

This docker environment is required to run dockerized tests. So they are required on test machine. I am not sure if build machine also need this docker environment. Will the modification on ansible scripts also affect build machines?

[2017-10-18 21:50] TianyuZuo commented on #29
two linux ubuntu machines have been installed docker, trying to figure out which docker to install on Mac machines. By using homebrew, it has two dockers in `brew` and `brew cask`, need to find out which is the one we need.

[2017-10-19 08:56] karianna commented on #29
Paging @bblondin to assist with the questions on Ansible

The ansible scripts / playbooks are in this infrastructure repo.  I'm not 100% sure how they're split between build and test hosts.

[2017-10-19 10:38] gdams commented on #29
so we currently have two sections in each playbook..... (build and test) e.g https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/ubuntu.yml#L28-L63

[2017-10-22 19:05] gdams commented on #29
@TianyuZuo the newer docker for mac (which is what we almost certainly want) is installed using `brew cask install docker`

[2017-10-24 13:49] gdams opened #31 "Setup AWX instance for Ansible deployments"
https://github.com/ansible/awx/blob/devel/INSTALL.md

[2017-10-24 20:06] TianyuZuo commented on #29
Hi @gdams
The Mac machines seem have permission issue to instal Docker for Mac

[code]

As the docker environment has been installed in two linux machines, I think we can start the container tests on linux first. One minor and silly question is that: how will the ansible script update the machines? If I have a change set merged into the main repo, will all the machines be updated instantly or be u

[2017-10-24 20:08] gdams commented on #29
@TianyuZuo have you tried running with sudo? that shouldn't be happening

[2017-10-24 22:18] TianyuZuo commented on #29
sudo requires user password which I don't think I have 😞

[2017-10-25 10:32] gdams commented on #29
really? That user account I gave you shouldn't need the password for root, let me take a look at that

[2017-10-25 20:34] TianyuZuo commented on #29
[code]

I think Mac has another layer of security check, even the current user is root or under root group. I tried the same command on my Mac (I am root user) and it ask me to re-enter the pssw as well.

[2017-10-31 19:11] gdams commented on #31
completed

[2017-10-31 19:11] #31 closed

[2017-10-31 19:18] gdams commented on #29
Yeah the sudoers file needed to be updated. You should now be able to run sudo commands without the root password, let me know if you have any further issues.

[2017-11-21 14:20] karianna commented on #29
@TianyuZuo Can this now be closed?

[2017-11-21 17:11] tellison opened #40 "Provide read access to Jenkins build jobs"
As [described over in the Node community](https://github.com/nodejs/build/issues/972), there is a Jenkins launch option that will let people see the jobs definition.

Looks like a good idea and something we should be doing in this project.

This issue covers amending the Jenkins launch script and selectively opening up our job definitions.

[2017-11-21 17:28] TianyuZuo commented on #29
yes please, the work is done. Thanks a lot for the help 👍  @gdams  and @karianna

[2017-11-21 19:37] gdams commented on #29
Keybox access is now revoked

[2017-11-21 19:38] gdams commented on #40
@gibfahn Is there any progress that has been made in the Node.js world with this? It would be good to wait and see if you have any issues using this over there before we implement it.

[2017-11-21 19:41] gdams commented on #40
related to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/27

[2017-11-21 19:57] sophia-guo commented on #23
Last build I ran https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk_test_x86-64_windows/252/console, same issue.

[2017-11-21 20:27] gdams commented on #23
right okay, we need to get this fixed

[2017-11-21 21:13] gibfahn commented on #40
No-one has gotten around to implementing this yet, but as it's off by default even if you run Jenkins with the flag, it shouldn't be too much of an issue to start testing.

If you restart Jenkins with that flag, you can make sure no-one can see any configs.

Then you just enable it for an individual person or group, see how it goes. It can be enabled on a per-job basis as well.

Assuming there are

[2017-11-22 01:00] gdams commented on #40
Perhaps we should test this here then and feedback to the nodejs community?

[2017-11-22 01:11] gdams commented on #40
Okay so I have enabled this on our jenkins,

Sure enough you now can access https://ci.adoptopenjdk.net/job/openjdk8_build_x86-64_windows/configure without being logged in (you can edit all parameters etc but have no save button)

I will do a quick double check myself of all jobs to confirm that no secrets are now being exposed to the public

[2017-11-22 01:13] gdams commented on #27
closing as a duplicate of #40

[2017-11-22 01:13] #27 closed

[2017-11-22 09:52] karianna commented on #40
Cool, I wish Jenkins made all the fields RO as well but this is why sometimes we can't have nice things :-)

[2017-11-22 09:52] #40 closed

[2017-11-22 16:23] JamesKingdon opened #43 "Request for access to Packet ARM systems"
I'm working on getting the OpenJDK/OpenJ9 builds working on ARM. Would it be possible to get access to the ARM build systems for some basic toe-in-the-water evaluations of my initial builds?

[2017-11-22 16:52] gdams opened #44 "Add ramdisk to speed up AIX builds"
Investigate using ramdisk to speed up AIX builds

[2017-11-22 16:55] gdams commented on #44
I have run the following commands on build-osuosl-ppc64-aix-71-1.

RAMDISK=`mkramdisk 10G`
mkdir /ramdisk0 >/dev/null 2>&1
DEVICE="/dev/ramdisk`echo $RAMDISK | awk -F'ramdisk' '{print $2}'`"
echo "yes" | mkfs -V jfs2 $DEVICE
mount -V jfs2 -o log=NULL $DEVICE /ramdisk0
mkdir /ramdisk0/build
chown jenkins /ramdisk0/build

I will no look at changing the workspace to be `/ramdisk0/build`

It is worth

[2017-11-22 16:58] gdams commented on #44
https://ci.adoptopenjdk.net/job/openjdk8_build_ppc64_aix/146/console is running in a ramdisk workspace. It is worth noting that it is still requiring tooling and a boot jdk that isn't currently on ramdisk so that will slow things down but it should help with the git

[2017-11-22 17:00] gdams commented on #44
git clone performance is significantly faster:

[code]
becomes
[code]

[2017-11-22 18:49] bblondin commented on #6
We lost our Semaphore a while back and that has resulted in losing some of the AIX rpms.
@jdekonin is working on rewritting the playbook for AIX

I have completed the playbooks for the following OS/Archs
CentOS 7 on x86 --> centos_7.yml
RHEL 6 on x86 --> rhel.yml
RHEL 7 on x86, ppc64, ppc64le and s390 --> rhel.yml
SLES 11 on x86 and ppc64 --> sles.yml
SLES 12 on x86 and s390 --> sles.yml
Ubuntu 14

[2017-11-22 19:22] gdams commented on #44
build has dropped down to 47 minutes from 1 hour 30 minutes!

[2017-11-22 19:22] gdams commented on #44
applying same config to build-osuosl-ppc64-aix-71-2

[2017-11-22 19:27] gdams commented on #44
@bblondin could you look at adding a the above script to run on startup for both machines?

[2017-11-22 19:29] gdams commented on #6
@bblondin do we know if the ubuntu.yml works on 32 bit arm as well as aarch64?

[2017-11-22 19:34] neomatrix369 opened #46 "sigtest: Ubuntu machines need to have JDK 5, JDK 6 and JDK 9"
In order to be able to build certain artefacts i.e. code-tools related (e.g. SigTest) we need to have the following JDKs installed:
- version 5
- version 6
- version 9

As version 7 and 8 are already installed.

Note OpenJDK version 5 and 6 are not easily installable via ansible scripts. So an alternative source will need to be sought after. Which might add to the complications of our artefacts be

[2017-11-22 20:52] bblondin commented on #6
It hasn't been tested yet on "armv7l"... good point, I'll update the playbook so its not missing leading
(arm --> aarch64) https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/47

[2017-11-23 13:40] karianna commented on #43
@gdams approved.

[2017-11-23 15:14] gdams commented on #43
@JamesKingdon do you want to DM me your public key on Slack and i'll get you added :)

[2017-11-24 13:47] gdams opened #49 "Add blue ocean plugin to Jenkins"
The Blue Ocean UI should be available under the /blue route, and should not interfere with any normal behavior.

https://jenkins.io/doc/book/blueocean/getting-started/#start-blueocean

[2017-11-24 14:01] gdams commented on #49
the blue ocean plugin is available at https://ci.adoptopenjdk.net/blue/

[2017-11-24 21:44] #49 closed

[2017-11-25 15:29] karianna opened #54 "Should infrastructure.md be a wiki doc instead?"

[2017-11-25 23:40] gdams commented on #54
I would argue no as it's useful to have the history for it as it changes but if people are against it's current format then I'm not going to object to having it moved.

[2017-11-25 23:43] gdams opened #57 "Get a second windows build machine"
We could do with a windows 2012 server with visual studio 2013 to build the openj9 binaries as this is the required level for openj9 to build. I will investigate where we could source one from.

[2017-11-27 10:54] karianna commented on #54
History... good point - I wonder then if it can be auto generated though from jenkins or some such.

[2017-11-27 16:17] bblondin commented on #44
vi /etc/rc.d/rc2.d/Sramdisk
[code]
chmod 555 /etc/rc.d/rc2.d/Sramdisk

[2017-11-27 16:17] bblondin commented on #44
Applied to both hosts

[2017-11-27 16:18] #44 closed

[2017-11-28 19:38] bblondin opened #63 "text/csv.pm"
Text::CSV is installed via ansible playbook:

[code]

However, it doesn't appear on the machine
[code]

Running the installation command manually says its already installed and up to date:
[code]

Issues has been seen everywhere we checked so far:
RHEL 6 PPC64, RHEL 7 x86 PPC64, UB 14/16 x86,

[2017-11-29 10:20] neomatrix369 opened #64 "Vagrant script for ubuntu fails when run in an isolated environment"
Standing up an environment using `vagrant` (for ubuntu 14.04) and running the [ubuntu.yml](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/ubuntu.yml) Ansible script halts with the below message:

[code]

This occurs when run on a local machine (reproducible on Linux and MacOSX environments).

Re-running with `-v` flags will help, `-vv`, `-vvv`, etc... will giv

[2017-11-29 19:10] bblondin commented on #64
The playbook assumes its running from the master....
thus /Vendor_Files refers to a folder on the AWX server (Ansible Tower)

When running stand alone you need to override this using the extra variables
[code]

You may also wish to disable other options
[code]

[2017-11-30 01:05] neomatrix369 commented on #64
@bblondin for your feedback, will use the above to apply fix for the failing issue

[2017-11-30 01:07] neomatrix369 commented on #64
@karianna with the vagrant training over the unconf weekend, you can easily tackle this ;), i'll pair with you if you like :p

[2017-11-30 14:22] sxa555 commented on #25
Doesn't work out of the box on 16.04, no - it still looks for libffi.so.4 whereas Ubuntu 16.04 has libffi.so.6.0.4. IIRC you can symlink them together and get it working but that's probably not the sensible option.

[2017-11-30 15:16] bblondin commented on #6
Raspbian 8 on armv7l on Raspberry Pi 2 is working now via  ubuntu.yml

@gdams We should look into scheduling the playbooks to run on all hosts via AWX to ensure they are all up to date with the latest changes/updates

[2017-11-30 15:41] karianna commented on #64
@neomatrix369 I'll take you up on that next hangout

[2017-11-30 15:49] karianna commented on #6
Shall we close this issue and raise separate specific ones?  I think that list is complete now, except for Mac?

And thank you @bblondin !

[2017-11-30 15:55] bblondin commented on #6
...Mac and z/OS
@jdekonin What is the status of the playbook for AIX?

[2017-11-30 16:11] sxa555 commented on #24
yep looks good - closing

[2017-11-30 16:11] #24 closed

[2017-11-30 16:36] karianna commented on #43
@JamesKingdon Is this resolved now?

[2017-11-30 16:44] gdams commented on #43
Keys are on the machine. We leave these issues open until the keys are revoked

[2017-11-30 17:07] JamesKingdon commented on #43
Hi @karianna , my login is working and has proven very useful. If I could keep it for a while it would be great.
If/when you revoke my key, note that I created user jkingdon with /home/jkingdon on the machine to keep my stuff out of everyone's way, and that will need deleting. (I can do the cleanup if you give me notice)

[2017-11-30 17:14] neomatrix369 commented on #64
@karianna I think issue is resolved but we can go over this tomorrow or next week over hangout, paste PR link here

[2017-11-30 17:30] neomatrix369 commented on #64
@sxa555 I have resolved the issue via #66, using `--skip-tags`, close to what you meant?

[2017-11-30 18:08] karianna commented on #43
@JamesKingdon Cool, we do prefer to revoke keys once the main work is done. Do you have a rough time estimate?

[2017-11-30 19:27] JamesKingdon commented on #43
I have to confess that right now I don't have specific plans beyond tinkering and exploring. I was going to check the basic processor detection of the OpenJ9 build and look for any emulated instruction performance issues, but that went out of the window when I realised Thunder can't run 32 bit code.
Perhaps it makes the most sense if I open another request for access to one of the Huawei boxes.

[2017-11-30 19:29] karianna commented on #43
@JamesKingdon If the box you're exploring on is completely spare I'm OK with it...

[2017-11-30 19:31] JamesKingdon commented on #43
Ok, thanks, that's great. I keep an eye on it's load and make sure I don't interfere with it's real work. Fortunately I think that usually happens when I'm sleeping :)

[2017-11-30 19:36] karianna commented on #43
@JamesKingdon I'm probably more concerned if you make a change and that breaks an existing build of a hotspot build, does that make sense?

[2017-11-30 19:41] JamesKingdon commented on #43
Yes, I was worried about that too, so I do all my testing inside a Docker container now.

[2017-12-02 15:52] gdams commented on #16
CloudCone call went well this morning, will update with more progress as it comes in

[2017-12-04 18:28] jdekonin commented on #6
I plan on getting back to AIX this week.

[2017-12-05 03:10] vielmetti commented on #16
Good to hear it @gdams looking forward to what you sort out.

[2017-12-06 14:02] #64 closed

[2017-12-07 12:07] tellison opened #74 "Move automated posting to Slack into their own channels"
We have a number of automated 'bots' that post to Slack about various topics.

The bots are swamping some channels with automated messages, and hiding any real post.  It is also unnecessary to archive most of the bot postings, so we can choose which are archived.

This issue is to create `#<blah>-bots` channels and switch the bots to posting on there so the humans have a chance.

Biggest offenders

[2017-12-07 12:29] tellison commented on #74
Also consider renaming `#jenkins` to show it is a bot channel

[2017-12-07 12:46] sxa555 opened #75 "Windows machine for JCK testing"
We need to run the JCK suite on WIndows and it's access needs to be locked down so it cannot be shared with other jobs.

Needs to have a fast disk (so I'd say SSD) and ideally powerful cores (but doesn't need many of them) so something like 2 core/8Gb/100Gb SSD should suffice. Perhaps 16Gb+ if we decide to use a ramdrive for holding the JCK test suite itself.

Windows version TBD - what do Oracle

[2017-12-07 12:47] sxa555 opened #76 "pLinux-LE machine for JCK testing"
We need to run the JCK suite on pLinux-LE and it's access needs to be locked down so it cannot be shared with other jobs.

Spec-wise something like 2-core, 8Gb RAM and an SSD of around 100Gb would be ideal as that's what we're using for xLinux.

[2017-12-07 12:48] sxa555 opened #77 "zLinux machine for JCK testing"
We need to run the JCK suite on zLinux and it's access needs to be locked down so it cannot be shared with other jobs.

Spec wise a 2-core, 8Gb, and a fast disk of around 100Gb should be ideal.

[2017-12-07 12:52] gdams opened #78 "MacOS machine for JCK testing"
Agreed that Macstadium will provide us with two further mac's for this purpose. Waiting to find out which os level to deploy.

[2017-12-07 14:19] bblondin commented on #74
- Slack channel #infrastructure-bot has been created
- Nagios has been reconfigured to post there.

[2017-12-07 14:45] tellison opened #82 "Update Nagios to latest version"
Our installation of Nagios Core 4.3.1 is outdated and should be upgraded. The latest version of Nagios Core is 4.3.4 was released on 2017-08-24.

[2017-12-07 21:32] gdams commented on #57
@tellison has powered up a softlayer machine. I am currently having issues building openj9 on it though so will leave this open until complete

[2017-12-08 10:26] tellison opened #83 "Free up disk space on build-marist-s390x-sles-12 root partition"
The `/dev/dasdb2` file system on build-marist-s390x-sles-12 (148.100.110.56) is filling up, currently at 96%.

On the Ubuntu sister machine, the system upgrades had multiple versions of the kernel left behind.  That may be happening on SLES too.

This task is to clear out any unused packages and kernels to free up the root partition.

[2017-12-08 14:28] bblondin commented on #83
Cleaned up hosts, details below.

Both of these hosts are configured with very small root partitions and have a /data mount point (100GB on SLES and 60GB on UB) we should be using /data where possible.

If this becomes an issue again, we should look at repointing /tmp to /data/tmp

build-marist-s390x-sles-12:
Was:
[code]

Now is:
[code]

build-marist-s390x-ubuntu-16.04:
Was:
[code]

Now is:
[code]

[2017-12-08 14:47] gdams commented on #83
can this now be closed?

[2017-12-08 14:49] #83 closed

[2017-12-08 15:44] smlambert opened #84 "pLinux-LE machines for all non-JCK testing"
I will piggy-back on the requests for JCK test machines (asking for same requirements as #76),
"Spec-wise something like 2-core, 8Gb RAM and an SSD of around 100Gb ".

One (or eventually two) machines, so that we can enable the following types of tests:
- openjdk regression tests
- system/stress tests
- functional tests

(optionally/eventually some perf micro benchmarks).

[2017-12-08 15:51] smlambert opened #85 "zLinux machine(s) for non-JCK testing"
Request for minimally 1 (eventually 2, if we do not start sharing machines across build/test functionality) zLinux machines for JCK testing (similar request to #77), "Spec wise a 2-core, 8Gb, and a fast disk of around 100Gb".

[2017-12-08 19:07] bblondin opened #86 "Experiment with playbook format/layout roles/tasks"
I believe that we have outgrown the currently format/layout.
Initially we thought the playbooks for OS deploys would be small/simple.
They have become very lengthy as our requirements have expanded.

It appears that it’s time to look into evolving the playbooks to use roles, task and vars.

I will be experimenting with the Ansible playbooks format/layout.

[2017-12-08 21:44] gdams commented on #86
The Node.js Foundation use this sort of system https://github.com/nodejs/build/tree/master/ansible

[2017-12-08 21:58] gdams commented on #78
two macos 10.10 machines have now been deployed. @sxa555 has the credentials

[2017-12-08 21:58] #78 closed

[2017-12-11 09:41] tellison commented on #85
Which Linux distro do you prefer?  The options are Ubuntu / SLES / Red Hat.

[2017-12-11 09:42] tellison commented on #77
Which Linux distro do you prefer?  The options are Ubuntu / SLES / Red Hat.

[2017-12-11 09:52] tellison commented on #85
I presume this request is in addition to request #25 ?

[2017-12-11 10:05] tellison commented on #75
Waiting for "Windows version TBD"

[2017-12-11 10:36] tellison opened #89 "Number of hosts require adding to Nagios monitoring"
We have brought a number of new machines on-line recently, but they need adding to the Nagios monitoring service.

e.g.
build-win2012-1 (37.58.103.195)
build-win2012-2 (37.58.103.196)
jck-softlayer-x86-ubuntu-16.04-1 (159.122.210.205)
jck-softlayer-x86-ubuntu-16.04-1 (159.122.210.194)
build-cloudcone-x64-ubuntu-16.04-1 (??)
build-plymouth-x64-solaris11-1 (offline?)

possibly more

[2017-12-11 10:39] tellison commented on #89
P'haps the zOS machines can't play in this scheme?
build-marist-s390x-zOS-1
build-marist-s390x-zOS-2

[2017-12-11 10:43] tellison commented on #57
@gdams any progress on the Eclipse OpenJ9 windows build?  or can you share a link to the issue where it is getting resolved so we can track it pls.

[2017-12-11 12:37] tellison commented on #89
The host following host should be removed from Nagios
build-joyent-x64-ubuntu-16.04-1

[2017-12-11 13:27] smlambert commented on #85
Yes, these requests are in addition to the JCK test machine requests, unless those machines will somehow be available for other testing (and visible / accessible) so that the non-JCK test results are public.

[2017-12-11 13:54] gdams commented on #57
We are currently having issues with the Cygwin setup, I am working to get this resolved atm

[2017-12-11 14:27] bblondin commented on #82
- Tested latest automatic backup of Nagios: nagios_backup_12-09-2017.tar.gz
- Created personal backup of everything in /usr/local/
- Confirmed Nagios is currently working
- Downloaded latest version of Nagios: nagios-4.3.4.tar.gz

[2017-12-11 14:43] bblondin commented on #82
- Shutdown the Nagios service
- Compiled new version and installed
- Updated website
- Restarted Nagios
- Tested

version 4.3.4 is now up and running

[2017-12-11 14:43] #82 closed

[2017-12-11 14:49] tellison commented on #85
Wait, number #77 is for zLinux JCK testing machines, and (#25 and #85) are requests for non-JCK testing machines.

I guess I'm figuring out the need for (#25 and #85), so checking they are both required independently.

[2017-12-11 14:59] smlambert commented on #25
Apologies, I had not even seen this issue (prior to creating #85).  @tellison if you like, you can close 85 as a duplicate.

[2017-12-11 17:07] alenbadel opened #90 "Issue"

[2017-12-11 17:09] #90 closed

[2017-12-11 17:12] alenbadel opened #91 "jenkins user access to build-osuosl-ppc64le-ubuntu-16.10"

[2017-12-11 17:14] bblondin commented on #91
Alen is requesting jenkins user access to build-osuosl-ppc64le-ubuntu-16.10

[2017-12-11 17:18] bblondin commented on #91
@alenbadel how long will you require access?

[2017-12-11 18:19] bblondin commented on #91
Access requested until Wednesday Dec. 13, 2017

[2017-12-12 09:42] tellison commented on #91
@alenbadel
Alen, please give a reason why you are requesting access.

[2017-12-12 16:07] alenbadel commented on #91
Hi, all.

I was able to fix up OpenJ9 issue 769. I don't require access anymore to the PPCLE machines.

Thank you for the resources.

[2017-12-12 16:13] bblondin commented on #91
- Access has been revoked.
- closing issue

[2017-12-12 16:16] gdams commented on #75
I think that we agreed 2012 R2? I will double check

[2017-12-12 16:33] alenbadel commented on #91
@bblondin Seems another issue has come up in regards to OpenJ9 Issue 769 blocking PPCLE builds on adoptOpenJDK.

Could I get access back to the system?

[2017-12-12 16:59] alenbadel opened #92 "jenkins user access to build-osuosl-ppc64le-ubuntu-16.10"
I'm requesting access again for this machine. There seems to be a few comparability issues with the adoptOpenJDK machines for OpenJ9.

I'm currently looking at OpenJ9 Issue # 769 which has been blocking the adoptOpenJDK Linux PPCLE builds.

[2017-12-12 18:16] gdams commented on #92
These builds seem to have now been fixed. I will close this and can repopen if the issues return

[2017-12-12 18:16] #92 closed

[2017-12-12 19:46] smlambert opened #93 "Standardize and document a labelling scheme for Jenkins nodes"
As we add more machines, and write more pipeline scripts for various builds and tests in Jenkins, it is useful to settle on a labelling scheme that will allow us flexibility and improved machine management (even taking advantage of some of the Jenkins APIs for automated labelling).

Benefits to having and documenting a 'scheme':
- as new machines and machine capabilities are added, it is clear how

[2017-12-12 19:55] gdams commented on #93
I'm generally not too fussed about the naming scheme **BUT** I do think that it is very imortant that we keep the sponsors name on the machine

[2017-12-12 20:08] smlambert commented on #93
ci.sponsor.ibm
ci.sponsor.ljc
ci.sponsor.joyent
etc

[2017-12-12 23:27] gdams commented on #91
@alenbadel I think we are all fixed now

[2017-12-12 23:27] #91 closed

[2017-12-13 12:17] gdams opened #95 "jckservices.adoptopenjdk.net required"
- [ ] Spin up a softlayer Ubuntu 16.04 host (lowest spec should be fine) @tellison
- [ ] Point DNS to machine (once @tellison has got an IP address)

[2017-12-13 12:38] tellison commented on #93
Thanks for bringing order the chaos @smlambert !  I'm +1 to the idea of structured labels.
A few minor comments:

- Although the labels 'look' hierarchical, they are not interpreted as such; so people will have to be aware that, for example, specifying `sw.tool.docker` won't run on a machine only labelled as `sw.tool.docker.1_7_1`.  We may have to have a few labels on a node where such details are

[2017-12-13 14:28] smlambert commented on #93
I like your suggestions @tellison  👍

You are correct that writing a script that looks for a label named "sw.tool.docker" would not find a machine only labelled as sw.tool.docker.1_7_1 (and bear in mind, we may decide in this discussion that we do not care about version numbers at all for some tools/categories), but in the case where I am writing a script for a job that doesn't care what version,

[2017-12-13 15:17] tellison commented on #95
Created `jck-softlayer-x64-ubuntu-16.04-3` as
1 vCPU / 1Gb RAM / 25Gb SAN / 100 Mbps / Ubuntu16.04-64 Minimal for VSI

DNS updated
`jckservices` points to `158.176.72.83`

Login details sent privately.

[2017-12-13 15:17] #95 closed

[2017-12-13 15:25] tellison commented on #89
New host for JCK services.  WOuld be good to have Nagios check these keep working to avoid strange JCK failures.

jck-softlayer-x64-ubuntu-16.04-3 (aka `jckservices.adoptopenjdk.net`) (158.176.72.83)

[2017-12-13 16:07] gdams opened #96 "Create ci-jck.adoptopenjdk.net"
The tightest way to keep the JCK jobs secret will be to have a separate jenkins instance with separate executors.

We will then trigger jobs on it from ci.adoptopenjdk.net using https://wiki.jenkins.io/display/JENKINS/Parameterized+Remote+Trigger+Plugin.

This is going to require another machine. Disk space is most important with jenkins so I would say at least 1tb disk. 8cores and 16gb Ram should

[2017-12-13 16:22] sxa555 commented on #93
I'd personally rather ditch the hierarchy, but maybe that's just me. `plinux` `le` `ubuntu16.04` would seem like reasonably tags on their own. @smlambert are you planning to do granular searches on the tags to have a reason for the hieratchy? I can sort of see how it might make sense for hardware values such as RAM/Disk/CPU if we were going to base stuff on that though. I'm not massively bothered

[2017-12-13 17:00] tellison commented on #22
OSUOSL are happy again, so closing

[2017-12-13 17:00] #22 closed

[2017-12-13 17:16] bblondin commented on #86
Here is what I have so far:
https://github.com/bblondin/openjdk-infrastructure/tree/master/New_Play

What do you think? Comments/Questions?

[2017-12-13 20:32] karianna commented on #86
@bblondin That is looking really good.

[2017-12-13 22:41] smlambert commented on #93
Thanks @sxa555, I definitely have a use case for querying for all tools on a given machine, (so return all sw.tools.* per machine, where I may not know the set of tools in the list of labels (especially if some have been newly added via ansible and (eventually) automatically added to Jenkins node via its API), to be able to ask for each specifically.

Though to your point wouldn't need the deep hi

[2017-12-14 00:36] gdams commented on #86
I'm certainly liking how it works

[2017-12-14 13:02] gdams commented on #96
I will spin up a machine from Joyent as we have some spare space with them right now

[2017-12-14 13:56] #96 closed

[2017-12-14 13:57] gdams commented on #96
https://ci-jck.adoptopenjdk.net/ is now setup

[2017-12-14 19:42] gdams commented on #93
perhaps https://ci-jck.adoptopenjdk.net/ would be a good test bed to setup a labelling scheme that we could then migrate to our main jenkins?

[2017-12-16 00:28] bblondin commented on #86
- Added Playbook support for Oracle Linux 7 on aarch64
- Included gcc 4.8 for RedHat 6 on x86_64
- Fixed spelling error in '**c**cache' section and updated to use stat.isdir, now skips if already installed
- Fixed version comparison in 'cmake' and 'GIT_Source' roles
- Added 'enable: yes' for NTP[d] service

[2017-12-16 00:41] gdams commented on #86
Can we have windows support in this format? Also macos support would be good!

[2017-12-16 00:42] gdams commented on #86
I wrote the macOS scripts for the Node.js foundation here https://github.com/nodejs/build/pull/971/files

[2017-12-16 00:44] bblondin commented on #86
The 'Nagios_Plugins' role needs some work. I'll have a look at this selection next week.

Such as:

- The way it adds a new user
- How it download loads plugins
- Consistency in layout and format

[2017-12-18 11:36] tellison commented on #86
I'd encourage you to go live with it in the infra repo as soon as you are ready Brad.  No point in trying to keep two styles going side-by-side when you have general agreement that this is goodness.

[2017-12-18 11:43] tellison commented on #85
Closing as duplicate of #25

[2017-12-18 11:43] #85 closed

[2017-12-18 12:39] gdams commented on #86
yeah I'd agree, let's get this in a PR so we can review and then we should be good to go

[2017-12-18 13:43] smlambert opened #99 "Request for Access to test-scaleway-x64-ubuntu-16.04-1"
The test-scaleway-x64-ubuntu-16.04-1 machine is full and needs cleaned up.  Either someone with access needs to clean it, or I can if I have temp access.

Since we started running system tests, it seems this machine is full, we should follow-up and make sure we are cleaning the workspace properly after the system test runs.

[2017-12-18 13:59] bblondin commented on #86
- pull request created #100
- also renamed and moved, {New_Play => ansible/playbooks/AdoptOpenJDK_Linux_Playbook}

[2017-12-18 14:05] gdams commented on #99
closing as access should already be in place for the jenkins user

[2017-12-18 14:05] #99 closed

[2017-12-18 14:05] bblondin commented on #99
Cleaned up  16G  free

[2017-12-18 23:33] #86 closed

[2017-12-21 16:21] sxa555 commented on #77
Hmmm that's a good question - but lets go for Ubuntu 16.04 since that matches the platform it's built on

[2017-12-21 17:03] jdekonin opened #107 "git clone fails using https on rasp pi"
Using the current ansible script on a rasp pi I get this error :
[code]
Fix is to add the libcurl4-openssl-dev package and (re)compile/install git.  I'll submit a change for this shortly.

Edit:  the alternative fix is to apt-get the git and git-core packages, but that would only work if git version is > 2.0 (openj9 requirement).

[2017-12-21 17:42] sxa555 commented on #75
Gut feel is that that would be a sensible version to go for.

[2017-12-22 17:50] gdams commented on #107
should just be a case of adding an extra var section for armv7 such as the v8 one [here](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Linux_Playbook/roles/Common/vars/Ubuntu.yml#L50-L51).

[2018-01-02 15:55] sxa555 opened #109 "Refactor JCK ansible scripts"
Make similar modifications to the two JCK makefiles as was done in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/100 for the regular ones

At the very least this should move them into an `AdoptOpenJDK_JCK_Playbook` subdirectory. OS-specifics can be abstracted out later. The services (and firewall rules if possible) can be converted to ue `with_items` and potentially the hosts for the

[2018-01-03 11:27] gdams commented on #77
@tellison should we be able to get that from Marist or will we need to try and re allocate some of our build machines

[2018-01-04 16:45] smlambert opened #110 "Reconfigure test-packet-x64-windows-2012r2-1"
As mentioned in Jan 4, 2018 hangout, this Windows test machine seems to have something 'off' in the way its configured.

We have not been able to run tests on it, after a first successful run of the openjdk regression tests, subsequent test builds fail (due to some files being 'locked').  It would be good to refresh its configuration to see if the tests can consistently run on a newly configured m

[2018-01-05 14:00] akolarkunnu opened #113 "Access to test machines"
I work on openjdk regression test failures. I wanted to rerun some failed test cases. So, please provide access to test machines for me.

[2018-01-05 14:12] gdams commented on #113
can we have a sponsor from @AdoptOpenJDK/testing to approve this please?

[2018-01-05 14:23] smlambert commented on #113
@gdams - please give @akolarkunnu temp access to the test machines (or let me know how I can do it), thanks!

[2018-01-05 16:18] #107 closed

[2018-01-05 22:48] gdams commented on #77
I have requested two of the above machines from Marist

[2018-01-06 00:02] gdams commented on #113
@akolarkunnu would you be able to ping me your public ssh key on slack? If you're not currently on our slack channel you can join here: https://adoptopenjdk.net/slack

[2018-01-06 00:02] gdams commented on #113
Removing the Temp Infra Access label as @akolarkunnu is a member of the organisation. Permanent jenkins user access will be apropriate

[2018-01-08 09:56] gdams commented on #113
key is deployed

[2018-01-08 09:56] #113 closed

[2018-01-10 21:59] AdamBrousseau opened #125 "Compiling git from source requires openssl lib"
Git fails to clone http urls on machines that have 2.15 that have been installed via ansible. Because the ansible compiles the source, it requires an openssl lib package installed on the machine. Without the package, we get the following error when trying to clone:
```fatal: Unable to find remote helper for 'https'```
The package required (at least for Ubuntu) is `libcurl4-openssl-dev`. Installing

[2018-01-11 02:07] gdams commented on #76
closing as `jck-osuosl-ppc64le-ubuntu-16.04-1` and `jck-osuosl-ppc64le-ubuntu-16.04-2` have now been deployed

[2018-01-11 02:07] #76 closed

[2018-01-11 02:10] gdams opened #127 "switch ppcle build machine to be Ubuntu 16.04"
we should remove the fedora and ubuntu 16.10 machines and deploy two Ubuntu 16.04 machines as Ubuntu 16.04 is the standard build machine that we have been using everywhere else

[2018-01-11 18:23] #125 closed

[2018-01-13 18:12] gdams commented on #84
two ppcle machines have now been spun up

[2018-01-13 18:12] #84 closed

[2018-01-15 18:07] smlambert opened #131 "Sanitize /etc/hosts and hostnames on all our cloud machines"
Some jdk_jdi tests are failing due to a machine config issue, and therefore excluded.

Grabbing comment from:
https://github.com/AdoptOpenJDK/openjdk-tests/issues/132

It's a machine configuration issue.
Assign a host name to the machine by following below steps:
Choose Apple menu -> System Preferences, then click Sharing).
Click Edit, then enter a local hostname.
Add this machine name entry in /e

[2018-01-15 21:28] smlambert commented on #131
FYI @gdams
I don't think I can make this change, as I won't have privileges to reboot the machine.

[2018-01-15 23:12] bblondin commented on #131
This test example provided speaks about MAC OS. Is this issue limited to MAC OS? or does simular tests that run on other linux OS' also rely on the ```/etc/hosts``` file to retrieve the hostname?

If we have testing the require the system's hostname to be listed in the ```/etc/hosts``` file (as opposed to calling the '```hostname```' command) then we will also need to ensure this change is made to

[2018-01-16 01:28] akolarkunnu commented on #131
It is not limited to MAC OS, in all OS it rely on configuration in the /etc/hosts file. Right now our Linux test machines are configured properly, so this issue (AdoptOpenJDK/openjdk-tests#132) is applicable/reproducible only in MAC OS.

[2018-01-16 03:28] smlambert opened #132 "Request to install Docker on test machines"
We have some Docker-based tests that we would like to run, and so require Docker to be installed on the Linux test machines.

[2018-01-16 13:51] sxa555 commented on #77
Any info from Marist on when these will become available @gdams (It's not inherently a blocker as I can use non-public machines for now but just checking the request hasn't got lost)

[2018-01-16 14:20] gdams commented on #77
Our current ETA is by the end of this week. Our contact at Marist is trying to speed this up but they are deploying env changes and don't generally like deploying new machines whilst doing this.

[2018-01-16 14:31] sxa555 opened #133 "AIX machine required for JCK testing"
Just spotted I hadn't formalised this requirement in an issue ... We need to run the JCK suite on AIX and it's access needs to be locked down so it cannot be shared with other jobs. The build machines are running 7.1TL04 which is the earliest level that's likely to work properly, so if we could have the same as that it would be ideal (although 7.2 should be ok if there's a particular reason to pro

[2018-01-16 19:14] karianna commented on #132
@gdams Don't we already have Docker test machines?

[2018-01-16 19:21] smlambert commented on #132
That's my bad!  They were not labelled with docker label in Jenkins, so I made the assumption it wasn't installed.  Closing this and will add Jenkins labels.

[2018-01-16 19:21] #132 closed

[2018-01-17 16:11] sxa555 commented on #131
FYI I've had comparable issues with the `/etc/hosts` for the JCK as well. I haven't yet adjusted those playbooks to do the right thing (Some Ubuntus are comint to us out of the box with the system's hostname against `127.0.1.1` instead of `127.0.0.1` which causes problems)

[2018-01-17 16:15] sxa555 commented on #6
@bblondin So is it worth splitting out macos and z/OS into separate issues? I somewhat suspect z/OS will need to be as it'll presumably be a signifcant amount of work ;-)

[2018-01-17 16:26] sxa555 commented on #25
Looks like we've got most of the builds moved off SLES12 but https://ci.adoptopenjdk.net/job/openjdk9_build_s390x_linux/ is still running on it - do we know if that's intentional or an oversight? Would be good to move this one forward - at the moment we have three Ubu build machines and this SLES12 one - presumably one of these could be allocated as a dedicated test system now?

[2018-01-17 17:01] gdams commented on #25
I assume that it perhaps has a different compiler level on it? I'll investigate

[2018-01-17 17:03] gdams commented on #131
perhaps we should remove `/etc/hosts` from each machine and then use ansible to template it so that they are the same across all of our providers ?

[2018-01-17 17:12] sxa555 commented on #131
Maybe, although it could be different depending on whether IPv6 and the like have been configured so that might not be ideal. And there's probably some clever reason why `127.0.1.1` was in there as well as `127.0.0.1`

[2018-01-17 17:40] sxa555 commented on #131
We definitely need some sort of consistent strategy going forward. The test machines that were causing https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/66 didn't have any entries for the system's hostname in `/etc/hosts`.

Most Ubuntu's seem to set the systems hostname against the loopback IP `127.0.0.1` but would it make more sense to have an entry with the real IP in there against the h

[2018-01-18 16:09] bblondin commented on #131
Maybe something like this? thought?
[code]

[2018-01-18 20:49] bblondin commented on #131
I've updated the ```/etc/hosts``` file on both of our macs.
@smlambert please test and let us know if this fixes https://github.com/AdoptOpenJDK/openjdk-tests/issues/132

[2018-01-18 21:21] sxa555 commented on #131
@bblondin Wouldn't that wipe an entry such as the following (which I think we get by default on some installs):

`127.0.0.1 localhost myhostname`

and not replace it with the second section because the `127.0.0.1` entry would be removed entirely in the first section? This sort of thing has made me paranoid about doing it automatically - but I do think it's worth thrashing out ;-)

[2018-01-18 21:42] sxa555 commented on #131
We will hit an issue where we have disconnects between FQDN and the hostname on the machine - we've had to replace `.` characters in the FQDN with other characters on the machines used for the JCK for example (Can't find the relevant issue just now - will amend sometime later)

[2018-01-18 22:21] bblondin commented on #131
@sxa555 yes it would 'replace' those entires.
but I don't think ``` 127.0.0.1 localhost *myhostname* ``` is a default
I think its simply ``` 127.0.0.1 localhost ``` or ``` 127.0.0.1 localhost localhost```

Yes: ```state:present``` will add it if the regexp doesn't match

I'd like to know more about this replacing of the peroid in the FQDN

In some case (virtual machines) there may not be a FQDN ho

[2018-01-19 14:21] bblondin commented on #131
I think the following would be the best of both worlds:

Added ```backup: yes```, this will backup file with a timestamp. This way if there is an issue the administrator can easily recover the original file.

[code]

[2018-01-19 14:27] sxa555 commented on #131
I'd be tempted to add `localhost.localdomain` to the `127.0.0.1` since that seems quite common too

[2018-01-19 14:30] bblondin commented on #131
Pull request #136
(includes localhost.localdomain)

[2018-01-20 00:41] smlambert commented on #131
I reran the tests referenced in openjdk-tests issue 132 just now (on test-macincloud-macos1010-1), but they still fail:

ERROR: transport error 202: gethostbyname: unknown host
ERROR: JDWP Transport dt_socket failed to initialize, TRANSPORT_INIT(510)
JDWP exit error AGENT_ERROR_TRANSPORT_INIT(197): No transports initialized [debugInit.c:750]

You can find the entire set of test results here: https

[2018-01-20 03:14] gdams commented on #133
Assigning to @tellison as we're going to have to go back to the OSUOSL to request this.

[2018-01-20 03:17] gdams commented on #77
closing as the machines are now in the JCK farm

[2018-01-20 03:17] #77 closed

[2018-01-20 03:19] gdams commented on #75
I have assigned a Joyent machine to @sxa555 for now. We can review performance and can migrate to another provider if performance is not suitable. Closing for now

[2018-01-20 03:19] #75 closed

[2018-01-21 20:40] gdams commented on #6
It's worth noting that the Node.js foundation now have working ansible scripts for z/OS so we should be able to copy a lot of that

[2018-01-22 01:54] smlambert commented on #131
Looking at the /etc/hosts file on test-macincloud-macos1010-1, it does not appear to have changed from the before the issue was reported.

@bblondin - I believe you updated then 2 build machines, the 2 test macs  (test-macincloud-macos1010-1 and test-macincloud-macos1010-2) do not appear to be updated.

[2018-01-22 11:13] sxa555 opened #140 "JCK s390x machine jck-marist-s390x-ubuntu-16.04-2 IPv6 issue"
Ref provision of two zLinux machines for JCK testing at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/77

Doesn't appear to be causing a problem on -1 but -2 is seemingly preferring IPv6 for many operations yet not managing to get a connection via IPv6. I've been seeing timouts of over 10 minutes on some operations. It shows up with a simple wget:

[code]
I also had to reset the `l

[2018-01-22 15:01] gdams commented on #140
I changed `/etc/gai.conf` and uncommented this line:
[code]

Seems to be working now
[code]

[2018-01-22 15:01] #140 closed

[2018-01-22 16:23] bblondin commented on #131
@smlambert I updated the wrong macs... (build-macstadium-macos1010-1 and 2)

Updated test-macincloud-macos1010-1 and test-macincloud-macos1010-2
[code]

[2018-01-23 21:58] karianna opened #141 "IPTable permanent fix failed"
See #134 - this PR didn't fix the problem

[2018-01-24 14:37] bblondin opened #142 "Clean up old Playbooks"
The following plabybooks are no longer in use

- ```openjdk-infrastructure/ansible/playbooks/nagios/* ``` (Was incorporated into openjdk-infrastructure/ansible/playbooks/AdoptOpenJDK_Linux_Playbook)
***Excluding nagios_aix.yml, still in use until the aix.yml is rewritten
- ```openjdk-infrastructure/ansible/playbooks/slack_notification/slack_notifcation/*``` (no longer required as AWX takes care if

[2018-01-24 15:27] bblondin commented on #142
Pull request created: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/143

[2018-01-24 18:09] smlambert commented on #23
We have disabled the Windows test builds until we can get a clean Windows machine:
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk_test_x86-64_windows/

@gdams - perhaps you can give myself and @sophia-guo a quick tutorial on how to reconfigure the machines at adopt / run ansible playbooks, we can help bring up new test machines, or refresh ones that are in a bad state.

[2018-01-24 18:11] smlambert commented on #110
Duplicate of #23

[2018-01-24 18:11] #110 closed

[2018-01-24 18:13] smlambert commented on #25
We have created test builds for this platform, but they are currently disabled as there are no s390x machines for test.  See this spreadsheet for which test builds are disabled due to no test machines available: https://docs.google.com/spreadsheets/d/1X4CCfvMoCgEavRbvejHrTvPnqj37MB-_C6LB6b8Akkc/edit?usp=sharing

[2018-01-25 02:40] #142 closed

[2018-01-25 14:45] #141 closed

[2018-01-25 20:51] smlambert commented on #133
We also need AIX test machine for regular tests, do you want a separate issue for that request?

[2018-01-25 21:02] smlambert opened #145 "Determine differences between the 2 linux_x86-64 test machines"
Need to resolve configuration differences between the 2 linux_x86-64 machines:

test-scaleway-x64-ubuntu-16.04-1
and
test-packet-x64-ubuntu-16.04-1

Docker-based tests pass on the scaleway machine, and fail on the packet machine.

Failure message:
18:23:57      [exec] Status: Image is up to date for adoptopenjdk/openjdk8:latest
18:23:57      [exec]  ---> 8ede58073db6
18:23:57      [exec] Step 4/12

[2018-01-25 23:57] gdams commented on #133
yes please @smlambert

[2018-01-26 00:05] smlambert opened #146 "AIX machine required for non-JCK testing"
Similar to #133 , there is currently no machine available for running openjdk regression, system, external, perf, and functional tests against the AIX builds.  (for reference on what tests are enabled and what tests are not due to not having available machines, please see https://docs.google.com/spreadsheets/d/1X4CCfvMoCgEavRbvejHrTvPnqj37MB-_C6LB6b8Akkc/edit?usp=sharing).

[2018-01-26 11:35] bletherhead commented on #145
Apparently the error `fork/exec /usr/bin/dockerd (deleted): no such file or directory` can be caused by something deleting and recreating `/usr/bin/dockerd` whilst it's still running, so that the inode of `/usr/bin/dockerd` doesn't match the inode of the existing dockerd process.
Looking on test-packet-x64-ubuntu-16.04-1 I can see that dockerd was started on October 18th last year, and the docker-

[2018-01-27 22:39] bblondin commented on #23
@gdams will be reprovisioning this machine over the next day or two.
Then we'll work together to deploy it with via Ansible from AWX

[2018-01-28 00:16] bblondin commented on #63
Spelling is important... ```perl -MText::CVS -e 1 ``` should be **CSV**

[2018-01-28 00:16] #63 closed

[2018-01-28 15:07] gdams commented on #145
ping @smlambert

[2018-01-28 15:30] smlambert commented on #145
Saw this, tried rerunning yesterday but Jenkins reboot blocked launching new builds... will rerun now.

[2018-01-29 01:27] bblondin commented on #131
@smlambert Have you had a chance to rerun the test?

[2018-01-29 01:57] smlambert commented on #131
Yes, and now 89/90 tests that used to fail are passing, thanks.

[2018-01-29 11:01] geraintwjones commented on #89
As far as I can tell, build-joyent-x64-ubuntu-16.04-1 is not in Nagios. Did someone remove it?

[2018-01-29 11:35] geraintwjones commented on #89
Logged on to 159.122.210.205. It reports itself as `jck-softlayer-x64-ubuntu-1604-1`, so that's what I've added to nagios.

[2018-01-29 11:59] geraintwjones commented on #89
Added `jckservices.adoptopenjdk.net` (158.176.72.83)

[2018-01-29 13:43] geraintwjones commented on #89
Working through the list of servers documented in the wiki [here](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/infrastructure.md), adding those to Nagios if they haven't alteady been added.

[2018-01-29 14:53] smlambert commented on #131
Apologies, I closed this issue because the test problem was addressed, but remember that this issue was broadened to address all machines so will reopen.

[2018-01-29 16:34] bblondin commented on #131
Pull request #136 addresses tis

[2018-01-29 22:15] karianna commented on #89
Is this something we could add to ansible bootstrapping for future boxes?

[2018-01-29 22:29] geraintwjones commented on #89
I was thinking about that. I think it is something we should be doing with Ansible. I'll take a look at what we've already got there tomorrow.

[2018-01-29 22:34] #131 closed

[2018-01-30 03:07] bblondin commented on #89
yes, last year I wrote a bash script for Nagios Admins to easily create machine templates.
Today I told another look at, I have rewrote it ```Nagios_Ansible_Config_tool.sh```
It is now working in my environment.

A few changes to the playbook are required and some infra configuration, but it will now install the nagios plugins then contact the nagios master and create the template for the machine

[2018-01-30 03:09] bblondin commented on #89
@geraintwjones if you can, we need playbooks for nagios plugins
we currently only have plays for Ubuntu and RHEL

[2018-01-30 03:16] bblondin commented on #23
system has been reprovisioned, playbook ran
```147.75.32.146```

needs to be added to Jenkins @gdams can you do that?

[2018-01-30 14:38] geraintwjones opened #156 "Please add me to this organisation/team so that I can start contributing"
I'm a member of the IBM Runtimes Infrastructure team in Hursley, and would like to contribute to AdoptOpenJDK.

[2018-01-30 14:42] gdams commented on #156
LGTM, could I have one other approval from @AdoptOpenJDK/infrastructure

[2018-01-30 14:48] bblondin commented on #156
I approve

[2018-01-30 17:15] geraintwjones commented on #89
I gound this - issue #6 - that ovelaps.

[2018-01-30 18:31] sxa555 commented on #156
I'll approve too since he sits behind me and I'm happy to keep an eye on him ;-)

[2018-01-30 19:01] geraintwjones commented on #156
Thanks @sxa555 :-)

[2018-01-30 22:50] gdams commented on #156
Onboarding complete! Welcome to the team @geraintwjones

[2018-01-30 22:50] #156 closed

[2018-01-31 12:07] gdams opened #158 "java 9 needed in windows playbook"
we currently only install java 7 and java 8 on our windows machines.

[2018-01-31 12:10] gdams commented on #23
okay added to jenkins. @smlambert can you let us know if this new machine fixes the issues?

[2018-01-31 13:33] smlambert commented on #145
Thanks, they are now running on both machines.

[2018-01-31 13:33] #145 closed

[2018-01-31 13:34] smlambert commented on #145
BTW, does it imply that after an ansible refresh an additional step should occur (restarting services)?

[2018-01-31 13:45] bblondin commented on #145
not a bad idea... it is currently set to ```started```, I will update it to ```restarted```
This will ensure the service gets bounced.

[2018-01-31 15:00] #158 closed

[2018-01-31 15:01] bblondin commented on #89
Pull request created #161

[2018-01-31 15:35] sxa555 opened #162 "Standardise hostnames on our machines"
Follow-on to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/131 - we should define a standard machine naming convention. Currently most are of this format:

`<usage>-<provider>-<arch>-<os>-<sequence>`

Although some are missing the architecture - mostly windows/macos boxes where they're all x64. We do also have an issue where some of our tests don't work properly when there is a `.`

[2018-01-31 16:35] sophia-guo commented on #23
seems a different issue:
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk_test_x86-64_windows/265/console, not sure.

[2018-01-31 16:53] bblondin opened #163 "Superuser no longer relevant"
With the implementation of keybox, we no longer require using the Superuser account aka zeus
This can now be removed from the Linux playbooks

@gdams do you agree?

[2018-01-31 21:56] bblondin commented on #89
Created play for Nagios Plugins on SLES #164

[2018-02-01 01:49] gdams commented on #163
Wasn't the idea of the superuser that it protects us if keybox goes rogue and removes our keys?

[2018-02-01 02:13] bblondin commented on #163
good point. lets kept it.

[2018-02-01 02:13] #163 closed

[2018-02-01 02:17] bblondin opened #165 "Set system hostname to match jenkins"
We need to set the hostname of our systems to the same name in which we call them in Jenkins.
(This includes when we setup a new systems)

For example:
```build-marist-s390x-ubuntu-16.04-2``` its hostname on the machine is ```lxeoj905```

- This would reduce any confusion the end user may have about which host they are on.
- The Nagios script will add the system based on its machine hostname and w

[2018-02-01 02:23] bblondin opened #166 "Rebuilt AWX"
AWX is having issues...

We already know of the job status output screen not displaying output and project updates not refreshing.

Today I created a new inventory with 15 systems, upon running a template, it only attempted to run on 12 of the 15 and 1 of the systems somehow used the wrong ip address that wasn't in the inventory.

Since we don't have much setup in AWX it won't be a big lose to reb

[2018-02-01 02:35] bblondin commented on #165
Additional examples
[code]

[2018-02-01 10:46] bblondin commented on #162
yes I agree the ```.``` periods do not translate. using ```-``` dashes is better
Issue #165 (Set system hostname to match jenkins) is related to this

[2018-02-01 10:51] bblondin commented on #165
Issue #162 talks about an issue related to the use of ```.``` periods as they do not translate. using ```-``` dashes is better.
As I correct the system hostsnames I will change the ```.``` periods to ```-``` dashes

[2018-02-01 11:21] sxa555 commented on #165
Obviously, I fully agree with this :-)

[2018-02-01 11:54] gdams commented on #166
I'm happy for this to be rebuilt if it's not a massive task and we don't have loads of downtime?

[2018-02-01 13:49] geraintwjones opened #167 "Broken link in openjdk-infrastructure/ansible/README.md"
In the following section of openjdk-infrastructure/ansible/README.md...

`[Skipping one or more tags via CLI when running Ansible playbooks](#Skipping one or more tags via CLI when running Ansible playbooks)` is not rendered as a link.

I can't see anything in the wiki that could be a candidate for this link.

[2018-02-01 13:56] geraintwjones commented on #166
Going forward, is it worth having as much of the AWX setup/config files as makes sense (or is possible) in GitHub?

[2018-02-01 14:01] gdams commented on #166
This ties into the conversation we had about having an inventory in github I suppose

[2018-02-01 14:13] geraintwjones commented on #166
Yes it does, and I know (because I've done it) that you can point some AWX artifacts (inventories, the playbooks referenced from templates) at something in GitHub. I was wondering if there's even more we can put into GitHub, so that if we ever need to "start again" with AWX it would be less painful once we've got a lot invested in it.

[2018-02-01 14:20] gdams commented on #167
It's meant to link to a title further down the page https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/ansible#skipping-one-or-more-tags-via-cli-when-running-ansible-playbooks

[2018-02-01 14:21] gdams commented on #167
fixed in https://github.com/AdoptOpenJDK/openjdk-infrastructure/commit/a81a331fee29d94eed3a7c2319e05f8cc70b5d55

[2018-02-01 14:21] #167 closed

[2018-02-01 14:28] gdams commented on #166
I agree, I'd also like to get github oauth working so we don't have to worry about user accounts

[2018-02-01 14:37] bblondin commented on #165
Updated Ubuntu machines
[code]

[2018-02-01 14:41] bblondin commented on #166
I should be able to work on this Friday

[2018-02-01 15:57] bblondin commented on #89
New playbooks with 'Nagios master auto config' are working nicely.
now when the playbook is run on a system it will automatically get added and monitored by nagios :)

[2018-02-01 19:53] gdams opened #169 "Setup weekly infrastructure call"
I think that we have reached a point where we should perhaps split out the infrastructure call into a separate call and then just 1 person needs to report back to the Thursday call. Thoughts @AdoptOpenJDK/infrastructure

[2018-02-01 22:35] bblondin commented on #169
I'd second that

[2018-02-02 01:16] gdams commented on #169
Does anyone have any preference as to time? Wednesdays would work well for me and would mean that we could remember what to report back for the call on Thursday?? What times work best for everyone in @AdoptOpenJDK/infrastructure ??

[2018-02-02 01:25] gdams commented on #43
ping @JamesKingdon is this still required?

[2018-02-02 01:26] gdams commented on #17
closing as the provisional work is now complete

[2018-02-02 01:26] #17 closed

[2018-02-02 03:39] JamesKingdon commented on #43
Hi George, many thanks for the access, it was really interesting. Feel free to drop me out now, I've signed up for my own account at Packet, so anything I need in the short/medium term I can do under that.

Thanks again!

[2018-02-02 08:59] geraintwjones commented on #169
Wednesdays are my busiest days for meetings, though Tuesdays and Thursdays get quite busy simetimes too. Not sure if people like Mondays or Fridays because they tend to get swept into long weekends and they're when public holidays tend to occur. I was going to suggest Thursdays, but f that's when the "main" meeting is, maybe that's not such a good idea. Tuesday afternoons (UK time)?

[2018-02-02 09:49] bletherhead commented on #169
Tuesday afternoons are best for me as well

[2018-02-02 09:53] gdams commented on #169
@bblondin how do Tuesday afternoons work for you?

[2018-02-02 10:49] gdams commented on #43
key has now been revoked

[2018-02-02 10:49] #43 closed

[2018-02-02 11:37] geraintwjones commented on #89
Working on the CentOS playbook...

[2018-02-02 13:29] bblondin commented on #169
@gdams I will assume you mean morning for me :)
I only have one meeting on Tuesday form 12:00-2pm EST

[2018-02-02 14:46] bblondin opened #171 "docker broken on build-joyent-x64-ubuntu-16-04-2"
[code]

[2018-02-02 15:45] gdams commented on #169
I have created https://calendar.google.com/event?action=TEMPLATE&tmeid=NDh0ZGxsdm9saXE0dmtuNnBjMTA4bTVkZXJfMjAxODAxMzBUMTUwMDAwWiBhZG9wdG9wZW5qZGtAbQ&tmsrc=adoptopenjdk%40gmail.com&scp=ALL. Please let me know if this works for everyone

[2018-02-02 18:59] bblondin commented on #169
That works for me

[2018-02-02 19:00] bblondin commented on #166
AWX has been rebuild.

- This has fixed the issues with job status output screen not displaying output and project updates not refreshing.

I am currently working on enabling github auth

[2018-02-02 19:29] bblondin commented on #166
Looking very good. I added an inventory for all Ubuntu build/test machines and ran the playbook
3 failed with ssh key issues (fixed in keybox)
and 2 more which are waiting on this pull request https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/168

[2018-02-02 21:23] bblondin commented on #166
github auth appears to require https on awx, having some issues getting that working. will try again on monday... everything else looks good

[2018-02-03 07:54] geraintwjones commented on #169
It works for me too.

[2018-02-03 08:54] geraintwjones opened #173 "The @bletherhead link in README.md is broken"
The link is currently `https://github.com/bleatherhead`.
It should be `https://github.com/bletherhead`.

[2018-02-05 09:30] bletherhead commented on #169
Good for me too

[2018-02-05 12:03] gdams commented on #169
Closing, We will see if everyone is able to attend the call tomorrow

[2018-02-05 12:03] #169 closed

[2018-02-05 17:16] geraintwjones opened #176 "Refactor common tasks in the Ansible Nagios playbooks"
The Ansible playbooks for setting up Linux machines to be monitored by Nagios ([here](https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/ansible/playbooks/AdoptOpenJDK_Linux_Playbook/roles/Nagios_Plugins/tasks)) contain common tasks.

Refactor these playbooks by moving the common tasks into main.yml

[2018-02-05 17:17] geraintwjones commented on #176
FYI @gdams @bblondin.

[2018-02-06 01:02] #173 closed

[2018-02-06 06:11] karianna commented on #89
@geraintwjones I believe your PR is done and this can be closed?

[2018-02-06 10:49] judovana commented on #162
I would wote for . replaced by _ instead  by -.
reason is - ubuntu-16.04 would change to ubuntu-16-04 where the . had different meaning then have new dash.

Generality strict delimiter of various parts is currently dash. So it should not be used in sub parts.

Also, what is <usage>  and <prvoder> .. well and <sequence> ... for?Well For us newbies, can you elaborate more on individual parts of <usa

[2018-02-06 10:54] #176 closed

[2018-02-06 16:20] geraintwjones commented on #89
@karianna I decded to get all playbooks added first, and then run them against any machine that needs to be added. That PR only added the CentOS playbook, so there's still some work to be done.

[2018-02-06 17:03] geraintwjones commented on #89
Comparing the list of machines documented in [infrastructure.md](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/infrastructure.md) with the list of machines currently monitored by Nagios at https://nagios.adoptopenjdk.net/nagios/, I've observed the following...

- Machines listed in infrastructure.md NOT monitored by Nagios
  - build-1and1-win2008r2-1 (Win Server 2008 R2)
  - b

[2018-02-06 19:29] bblondin commented on #171
@gdams Please re-provision this machine

[2018-02-06 19:31] bblondin commented on #166
AWX is up and running under HTTPS with a self-sign cert.

I was unable to get the job status output to refresh. It appear that there is a bug with some of the support applications.

[2018-02-06 22:14] gdams commented on #171
playbook is re running on new machine

[2018-02-07 09:05] karianna opened #182 "Add Ramdisk configuration to AIX ansible scripts"
see #118 and #44

[2018-02-07 14:56] smlambert opened #184 "Install xvfb on headless (linux) machines"
1) install xvfb
Much like the jck machines have xvfb installed (https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/ubuntu-jck.yml#L26), we need it to be installed on all machines.

2) remove other x11 configuration
The other x11 server setup that is currently being done in the playbooks (https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/pl

[2018-02-07 15:58] smlambert opened #185 "Revisit Jenkins backup"
Jenkins is backed up using thinBackup plugin, which does not actually restart Jenkins, but puts it into quiet mode (so no new jobs will be allowed to run).  Due to a known Jenkins issue, https://issues.jenkins-ci.org/browse/JENKINS-34256, pipeline jobs will hang when Jenkins is put into quiet mode (which is done nightly 11pm EST, or 5am in Hursley).

As we have now increased the amount of testing,

[2018-02-07 17:31] geraintwjones opened #186 "Please make me an author on the AdoptOpenJDK blog"
I'd like to contribute an article to the blog at https://blog.adoptopenjdk.net/, but am not an author, so I can't.

Please make me an author.

Thank you.

[2018-02-07 18:27] bblondin commented on #186
Me too please

[2018-02-07 18:27] bblondin commented on #166
We are now using cloudflare

[2018-02-07 18:27] #166 closed

[2018-02-07 18:47] bblondin commented on #171
system has been reprovision and playbook applied.
Docker now works.

[2018-02-07 18:47] #171 closed

[2018-02-08 10:53] sxa555 commented on #162
@judovana I'm not sure what you mean by the "what is and ... well and ... for?" question. Or "individual parts of ----?"

[2018-02-08 11:12] judovana commented on #162
Ha. Markdown had eaten  the tags. Sorry
Also, what is `<usage>`  and `<prvoder>` .. well and `<sequence>` ... for?Well For us newbies, can you elaborate more on individual parts of ` <usage>-<provider>-<arch>-<os>-<sequence>`?
Shouldn't be some of those handled elsewhere? From those probably only  `<arch>-<os>`  are celar?

[2018-02-08 12:29] sxa555 commented on #162
Ah :-D `<usage>` is mostly one of `build` `test` `jck`, provider is whichever cloud provider the machine comes from so `softlayer` `marist` `joyent` etc. `<sequence` is just a number to distinguish them if we have more than one of the same machine so `-1` `-2` etc. The link in the initial post has all the machines so has various examples.

[2018-02-08 13:29] judovana commented on #162
Thank you. My nit would be that usage should be handled differently. Machine *should* (== one wish) transparent. Provider is interesting, and sequence made sense. TY!

[2018-02-08 15:10] sxa555 commented on #184
Mac will require a different solution as I understand it. @gdams has my issue to do it for the JCK boxes (our first attempt didn't work properly) but if anyone else has experience of sensible ways of doing this they're welcome to volunteer ;-)

[2018-02-08 15:46] geraintwjones commented on #186
Can you help me with this @tellison?

[2018-02-08 17:38] geraintwjones opened #189 "Documented name and IP address of one of the Joyent machines are inconsistent"
There's a discrepancy between the documented hostname and IP address of a Joyent machine in a number of places.

1. In https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/infrastructure.md, there's a machine called `build-joyent-x64-ubuntu-16-04-2` (16-04) whose IP address is listed as `37.153.108.194`.

1. In KeyBox, there's a system called `build-joyent-x64-ubuntu-16.04-2` (16.04)

[2018-02-08 19:51] geraintwjones commented on #189
I have updated the machine name in KeyStore from `build-joyent-x64-ubuntu-16.04-2` to `build-joyent-x64-ubuntu-16-04-2`.

[2018-02-08 19:52] geraintwjones commented on #189
I have changed the IP address listed in https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/infrastructure.md for machine build-joyent-x64-ubuntu-16-04-2 from 37.153.108.194 to 37.153.109.201 under pull request #190. Waiting for it to be approved.

[2018-02-08 20:23] #189 closed

[2018-02-08 20:57] geraintwjones commented on #89
build-joyent-x64-ubuntu-16.04-1 has been deleted, so needs to be removed from [infrastructure.md](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/infrastructure.md) and from KeyBox.

[2018-02-08 20:59] geraintwjones commented on #89
Deleted `build-joyent-x64-ubuntu-16.04-1` from KeyBox.

[2018-02-08 21:04] geraintwjones commented on #89
Removed build-joyent-x64-ubuntu-16.04-1 from [infrastructure.md](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/infrastructure.md) under pull request #191. Waiting for it to be approved/merged.

[2018-02-09 03:58] gdams opened #195 "clear out hosts in nagios and let ansible set them up"
since the hostname changes, many hosts are now out of sync in nagios. @bblondin can you remove all of these linux hosts and we can then use the ansible playbook to set them up again

[2018-02-09 09:15] geraintwjones commented on #195
- __New machine gets added.__
  - Manually set up root on that machine with a keybox key.
  - Manually add the machine to keybox.
  - Use AWX/Ansible to complete machine setup and add it to Nagios.
  - Manually add the machine to infrastructure.md.

- __Existing machine removed.__
  - Manually remove machine from keybox.
  - Use AWX/Ansible (?) to remove machine from Nagios (we culd use Ansible).

[2018-02-09 14:34] sxa555 commented on #19
Somewhere between the "release" `jdk8u144-b01` and the current nightly `jdk8u172-b03` this one appears to have been resolved. Closing this as it will disappear as an issue once another build is promoted

[2018-02-09 19:51] bblondin commented on #195
Things look ok right now, as the playbook is run on more hosts, I will continue to monitor Nagios and ensure the old hostnames are cleaned up.

[2018-02-09 20:11] bblondin opened #198 "Nagios Bash Script - update Descriptions of new hostgroups"
Nagios Bash Script - update Descriptions of new hostgroups

when a new hostgroups is added by the script add a hook to send a  slack notification to #infrasrtucture so that the admins can updated the Description section of the hostgroup as required

[2018-02-09 23:21] geraintwjones opened #199 "Discussion: Should we, and can we, change our machine provisioning model to be an on-demand one?"
I'd like to have a conversation about changing the way that tests and buid get hold of machines.

Right now we have a static list of machines that are assigned as build, jck or test, and that jobs that are kicked off from Jenkins are assigned to the right "kind" of machine (platform, o/s, function, etc).

These machines, as far as I'm aware, are created manually (I think) from the various clouds t

[2018-02-11 10:15] karianna commented on #199
I'm OK with this in principle.  However, each type of build does need to run on an identical host for consistency and auditability.

[2018-02-11 21:32] geraintwjones commented on #199
Thanks @karianna. Naturally before changing anything, we'll need to (a) make sure it's something the community wants/needs and (b) make sure we figure out hot to make sure that tests, builds, etc get exactly what platform they need.

[2018-02-12 01:10] gdams commented on #162
closing this as we have now got our inventory.yml sorting this out. I will create new issues to bring any old machines up to date with the new hostname schema

[2018-02-12 01:10] #162 closed

[2018-02-12 01:10] gdams commented on #165
closing as the hostname is now being set in the playbook using our schema

[2018-02-12 01:10] #165 closed

[2018-02-12 01:43] JamesKingdon opened #203 "Request access to ARM test system"
Requesting access to a 32 bit ARM system for testing OpenJDK builds.

[2018-02-12 01:52] gdams commented on #203
approved, @JamesKingdon has used our systems before so I am happy to sponsor this access

[2018-02-12 09:01] karianna commented on #186
I think I can add you both, can you DM me your email addresses in Slack?

[2018-02-12 09:45] karianna commented on #199
FWIW, I think it's the right approach, it would utilise the farm far more effectively.  And our needs for the farm will be expanding rapidly with the 6 month release cycle + mobile + OpenJJFX wanting to come on board.

[2018-02-12 10:29] geraintwjones commented on #199
We know it is possible to get Jenkins to pull a machine out of an OpenStack cloud. The challenge will be how to get Jenkins to (a) decide which cloud(s) satisfy a job's requirements, (b) pick one of those clouds, (c) pull a machine out of the selected cloud. We'd need to understand what APIs the donated clouds support.

[2018-02-12 11:02] gdams commented on #186
I am working on getting github oauth working with wordpress. In the mean time you need to go to https://blog.adoptopenjdk.net/wp-login.php?wle to login with wordpress credentials

[2018-02-12 13:20] bblondin opened #204 "Nagios tunnel"
Write automation to support Nagios client systems that require a remote tunnel to connect.

- Nagios_RemoteTunnel.sh
- cron
- nagios
extra arg required as input as port number,

Example hosts
```build-linaro-armv8-centos7-1``` to ```build-linaro-armv8-centos7-2```

Look at security to ensure the tunnel can't be used maliciously by the client to server
(create a second user without permissions?)

[2018-02-12 13:24] bblondin commented on #204
- update Nagios_Ansible_Config_tool.sh to handle this
- ensure Nagios_RemoteTunnel.sh code is checked in to github

[2018-02-12 13:39] bblondin commented on #204
Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/202

[2018-02-12 14:04] adoptopenjdk-admin commented on #186
Both have been added.

[2018-02-12 14:04] #186 closed

[2018-02-12 16:16] bblondin opened #205 "Update slack_nagios.pl to support links"
- Update slack_nagios.pl to support links
- provide direct nagios links to the host having issues
- ensure slack channel is right

[2018-02-12 16:21] bblondin commented on #205
Add slack icon for ```:nagios:```
updated slack_nagios.pl to support links

[2018-02-12 16:26] #205 closed

[2018-02-12 17:03] bblondin commented on #198
Updated to Slack #infrasrtucture-bot channel  when a new hostgroup is add and if the Pre-Flight checks fail

[2018-02-12 17:03] #198 closed

[2018-02-12 22:20] bblondin commented on #204
Pull request created https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/207

[2018-02-12 23:01] #204 closed

[2018-02-13 15:40] bblondin commented on #26
Do we support CentOS 7.2 and what is the minimum glibc version support?

Currently on our CentOS 7.2 system they are running ``` 2.17 ```

[code]

[2018-02-13 15:45] sxa555 commented on #16
@gdams Can this be closed now - are CloudCone fulfilling this requirement?

[2018-02-13 15:51] sxa555 commented on #57
@gdams @tellison What's the situation on this one - can we get someone else to take it over and if so what's the current state of it (and what's it called?)

[2018-02-13 15:56] sxa opened #211 "Install suitable X server (Xvfb?) for testing on macos"
Extracted from https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/184
@smlambert I'm splitting this out because the solution is different

[2018-02-13 15:57] sxa555 commented on #184
@smlambert Do the other X packages explicitly need to be removed from the existing boxes? Or are you just asking for them to be removed from the playbook as they're not required to your knowledge?

[2018-02-13 16:02] sxa555 commented on #54
Since we've now done https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/193 (Not sure if there was a related issue) can we close this as being superceded with the yml file?

[2018-02-13 16:02] #54 closed

[2018-02-13 16:13] bblondin opened #212 "Create missing Ansible playbooks - Mac OS"
Ref: #6

We currently don't have a playbooks for Mac OS

Its more important to get a playbook working on this platform first then we can work on incorporating it into the greater main playbooks

[2018-02-13 16:13] bblondin opened #213 "Create missing Ansible playbooks - z/OS"
Ref: #6

We currently don't have a playbooks for z/OS

Its more important to get a playbook working on this platform first then we can work on incorporating it into the greater main playbooks

[2018-02-13 16:14] bblondin commented on #6
Closing issue. splitting out into 2 issues for the reminding two playbooks that are needed

Mac OS #212
z/OS #213

[2018-02-13 16:14] #6 closed

[2018-02-13 16:15] #195 closed

[2018-02-13 16:23] bblondin opened #214 "Auto update all machines with latest Playbooks"
By way of AWX (Ansible Tower) configure a weekly schedule to deploy the latest Ansible playbooks to all systems.
- This will ensure there isn't any drift between how the systems are configured and the latest changes to the playbooks are applied.

* This is easily setup using AWX's scheduler, however we need away to ensure they are not currently in use by Jenkins. A method to temporarily disable th

[2018-02-13 16:27] sxa555 commented on #127
@gdams Is there anything blocking this - presumably since we have the hardware the re-image is pretty trivial?

[2018-02-13 16:31] sxa555 commented on #203
For anyone reading this @JamesKingdon has now been granted the access

[2018-02-13 16:40] JamesKingdon commented on #203
...for which many thanks, this is going to be extremely useful.

[2018-02-13 17:30] gdams commented on #127
no should be a case of deleting the old machine, re provisioning with ubuntu 16.04 and checking that we can build on it

[2018-02-13 17:33] mwornast opened #215 "application for membership"
I'm a member of the IBM Runtimes Infrastructure team in Hursley, and would like to contribute to AdoptOpenJDK.

[2018-02-13 17:42] smlambert commented on #211
Thanks @sxa555, appreciated!

[2018-02-13 17:44] smlambert commented on #184
I do not believe they need to be removed from the playbook.  I mentioned it only as a code hygiene suggestion, since I am not aware of anyone who needs/depends on them.

[2018-02-13 19:17] bblondin commented on #215
I approve

[2018-02-13 22:46] gdams commented on #215
I approve as well. @bblondin do you want to onboard @mwornast? https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ONBOARDING.md

[2018-02-13 22:48] gdams commented on #212
I'm happy to work on this, I might request an extra mac to test the playbook on.

[2018-02-14 13:09] gdams commented on #215
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/216

[2018-02-14 15:37] #215 closed

[2018-02-14 21:29] sophia-guo opened #218 "openjdk-tests pull request build do not have write access to the repo"
GitHub pull request #254 of commit 9ab471b9ae0d52328b27df495542202de462f900, no merge conflicts.
Setting status of 9ab471b9ae0d52328b27df495542202de462f900 to PENDING with url https://ci.adoptopenjdk.net/job/PR_sanity_openjdk_test_x86-64_linux/239/ and message: 'Build Started'
Using context: running openjdk sanity tests with openjdk8
FileNotFoundException means that the credentials Jenkins is usin

[2018-02-14 22:46] jdekonin commented on #211
Try XQuartz
https://www.xquartz.org/

[2018-02-14 22:48] jdekonin commented on #212
Not that the entire playbook is of use.  But I found homebrew and a very few extras enabled me to compile on my macbook pro.  "Testing the Playbook" section might be of value.

https://github.com/geerlingguy/mac-dev-playbook

[2018-02-15 01:10] sxa555 commented on #211
@gdams and I initially tried using xquartz but didn't manage to succeed within the jenkins environment for the JCK but we haven't got back to working it further again - if you have knowledge/experience of it @jdekonin that would be great :-)

[2018-02-15 16:24] sxa555 opened #220 "ci-jck.adoptopenjdk.net appears to be having issues"
There's an issue with jenkins - I'm getting HTTP/500 errors when I try and make changes and I'm getting messages like these from the jobs.
[code]
I don't appear to be able to ssh into the machine at the moment

[2018-02-15 17:14] sxa555 commented on #220
Disk space was full ... jenkins.log had taken it all up - I shut down jenkins, moved the log out to /mnt, restarted jenkins and am xz'ing the log back into /var/log/jenkins as `jenkins.log.sxa.xz`

[2018-02-15 17:14] #220 closed

[2018-02-15 19:14] jdekonin commented on #211
@sxa555 I don't have experience running via jenkins on osx, so I can't help there.  But that comment leads me to believe that if you ran manually and not through a jenkins agent/environment that it was working??

[2018-02-16 10:56] sxa555 opened #221 "ci.adoptopenjdk.net restarted due to stuck jobs"
FYI @AdoptOpenJDK/jenkins-admins When I logged into jenkins this morning it was awaiting a shutdown. There were two jobs on the executors on test-scaleway-ubuntu1604-x64-1 which had been runnign for about 12 hours (far more than normal):

https://ci.adoptopenjdk.net/job/openjdk8_hs_externaltest_x86-64_linux/28:
[code]
https://ci.adoptopenjdk.net/job/openjdk8_hs_openjdktest_x86-64_linux/29/console

[2018-02-16 10:56] #221 closed

[2018-02-16 15:23] sxa555 commented on #211
I think so yeah but it was a while ago :-) The xquartz server is probably still on the box I was using for testing

[2018-02-16 17:51] sxa555 opened #222 "jenkins cannot connect to build-cloudcone-ubuntu1604-x64-1"
Ref: https://ci.adoptopenjdk.net/computer/build-cloudcone-ubuntu1604-x64-1/log
[code]
There are some keybox entries in there so it's not immediately clear why jenkins' access has disappeared. I can still get in with my key to the jenkins account. It's getting towards the end of the working day for me so I'll leave this one for someone else :-)

[2018-02-17 18:49] gdams commented on #222
switched to `Non verifying Verification Strategy`.

[2018-02-17 18:49] #222 closed

[2018-02-19 17:38] geraintwjones commented on #184
What is the relationship between this issue and #217?

[2018-02-19 18:58] sxa555 commented on #184
@geraintwjones Other than the query over whether it's necessary to remove any existing packages https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/217#issuecomment-365758060  there's no significant difference - the other one specifically references the playbook, I suppose you could consider this one "executing the playbook to resolve Shelley's issue" they're

[2018-02-19 19:24] geraintwjones commented on #211
I'm not convinced it helps, but I found [this](https://github.com/travis-ci/travis-ci/issues/7313#issuecomment-279914149) conversation in another community that talks about this issue. I'll keep digging.

[2018-02-19 19:29] geraintwjones commented on #211
So I just typed `which Xvfb` on my macbook. It returned `/opt/X11/bin/Xvfb`. On most Unix systems it's in `/usr/bin/Xvfb`. I'm probably being naïve here, but is it not as simple as doing something with the path, or setting up a symbolic link?

[2018-02-20 12:59] sxa555 commented on #211
@geraintwjones No idea -you tell us - does it work? ;-)

[2018-02-20 15:38] bblondin commented on #215
@mwornast has now been on-boarded.

[2018-02-20 17:56] geraintwjones commented on #184
I was going to add  xorg-x11-server-Xvfb to CentOS and RedHat. However, someone's beaten me to it on RedHat, so I'll just make the CentOS change now.

[2018-02-20 22:35] geraintwjones commented on #214
It's possible via the Jenkins web interface to mark a node as temporarily offline. Maybe that's what we need to do, and maybe there's an API that would allow us to do that from Ansible. I'll see what I can find. We'd still need to make sure the node was not busy when we did that though.

[2018-02-20 22:50] geraintwjones commented on #214
Issue #185 discusses the challenges faced when running a Jenkins backup. That discusses putting Jenkins into "quiet" mode before the backup is made, but tat there's a known bug where doing that can cause job to freeze. If that gets fixed, then maybe the same approach (or even the same window) could be used to update all machines with the latest playbooks. However, both the backup and the machine u

[2018-02-20 23:06] geraintwjones commented on #74
Looking in Slack, I can see that @gdams has added a Localize app, and has defined 1 configuration that posts to #website. I don't have permission to modify or add configurations. Can someone (@gdams, @bblondin) make me an administrator on Slack so I can fix this?

[2018-02-21 13:56] karianna commented on #74
@geraintwjones I've added you to the Jenkins admin group, log out, log back in again and hopefully you'll have the right credentials

[2018-02-21 14:15] geraintwjones commented on #74
Thanks @karianna.

[2018-02-21 14:25] geraintwjones commented on #74
adoptopenjdk-website-production now posts to #website-bot.

[2018-02-21 14:45] smlambert commented on #185
@geraintwjones

[2018-02-21 14:45] geraintwjones commented on #74
@gdams - could you modify the `Localize` app on Slack please? It needs to point at [#website-bot](https://adoptopenjdk.slack.com/messages/C928TCVDY) instead of [#website](https://adoptopenjdk.slack.com/messages/C5LU29BC3).

[2018-02-21 15:12] smlambert commented on #185
The KillHangingJobs will kill pipeline builds prior to the backup stage, if we want to preemptively kill pipelines to avoid the hanging state (step 4 outlined above), while we wait for a fix to the Jenkins issue.

[2018-02-21 15:16] AdamBrousseau commented on #185
Not sure all the settings you use on your ThinkBackup but I've never had the option to go into quiet mode on the Jenkins instance I manage. Never had a problem. Although I've only ever needed to look at the backup once or twice.

[2018-02-21 16:21] smlambert commented on #185
I see that in our other Jenkins instance, we do not check that box that says wait until Jenkins is idle to perform backup.

That would be an 'easy fix' to this issue, if it provides us with usable/suitable backups.

[2018-02-21 16:29] smlambert commented on #185
I see that the only reason to check that box and force Jenkins into quiet mode is to ensure nothing is changed during the backup.

"The specified cron triggers that the backup should be done. To be sure that nothing get changed during the backup Jenkins will swichted to a 'Quiet Mode' where no new jobs in the queue are handled.
However this value in minutes specify when Jenkins get forced to the '

[2018-02-21 16:30] #185 closed

[2018-02-22 12:41] bblondin opened #229 "Reenable test-packet-x64-ubuntu-16-04-1"
@shelley.lambert @sophiag

Reenable  test-packet-x64-ubuntu-16-04-1

[2018-02-22 12:42] bblondin commented on #229
**Peter Stanton:**  "the machine itself is still up and running and appears to be ok. There are a lot of patches required - perhaps that is why it was disabled.

There are also a few old Jenkins jobs hanging around. I'll patch it and reboot it.

It is patched and rebooted and online in Jenkins"

**Brad Blondin:** ```test-packet-x64-ubuntu-16-04-1```
has been renamed in Jenkins to
```test-packet-ub

[2018-02-22 12:42] #229 closed

[2018-02-22 12:54] bblondin opened #230 "system issues on test-scaleway-x64-ubuntu-16-04-1"
- renamed system
- Out of disk space
- Keybox not able to connect as jenkins user
- Jenkins not able to start agent

[2018-02-22 12:56] bblondin commented on #230
- Renamed host to: ```test-scaleway-ubuntu1604-x64-1```
- Out of disk space: cleaned up system
- Keybox not able to connect as jenkins user: re-added key
- Jenkins not able to start agent: fixed by re-adding key in keybox

[2018-02-22 13:08] bblondin commented on #230
Added to Nagios

[2018-02-22 16:02] DanHeidinga opened #231 "Requesting temp access to an linux x86 compile machine"
Requesting access to a linux x86 compile machine to investigate the OpenJ9 CI compile failures:
https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux/83/console

[2018-02-22 16:35] AdamBrousseau opened #232 "Update CONTRIBUTING.md with more Contributing Guidelines"
I think it would be a good idea to add some more contributing guidelines to the [CONTRIBUTING.md](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/CONTRIBUTING.md).
Similar to what what done at eclipse/omr#124.
It would be nice if we could just copy/paste the relevant sections we want from [OMR's CONTRIBUTING.md](https://github.com/eclipse/omr/blob/master/CONTRIBUTING.md). We wou

[2018-02-22 19:37] bblondin commented on #231
What kind of access to you need? root or jenkins user
How long will you require access?

please DM me your id_rsa.pub key

[2018-02-22 19:58] bblondin commented on #231
From slack:
[code]

[2018-02-23 21:53] sophia-guo opened #235 "Test Build failed for "sh: 1: Cannot fork ""
Suspect it's a jenkins setting up or master-slave network issue. Details:
https://github.com/AdoptOpenJDK/openjdk-tests/issues/274

[2018-02-24 11:01] gdams opened #236 "Migrate api.adoptopenjdk.net from packet.net to digitalocean"
We have the resources to move our api machine to digital ocean to help clear up our large machines in packet.net FYI @vielmetti

[2018-02-26 14:19] gdams commented on #127
machine has been switched. I will close this now and confirm that the openj9 builds pass

[2018-02-26 14:19] #127 closed

[2018-02-26 16:44] sophia-guo commented on #235
Could anyone label this as urgent, which make build fail and exit?

[2018-02-26 19:34] bblondin commented on #89
#240 Unix playbook now supports Nagios plugin installation on:

SLES 12 x
SLES 11 x
SLES 11 p
SLES 12 s390x

rhel6 p
rhel6 x
rhel7 x
rhel7 le
rhel7 p
rhel7 s390x

Raspbian 8 armv7l

Ubuntu 14 x
Ubuntu 14 le

Ubuntu 16 X
Ubuntu 16 s390x
Ubuntu 16 LE

[2018-02-27 02:37] gdams commented on #236
this is complete

[2018-02-27 02:37] #236 closed

[2018-02-27 02:44] gdams commented on #236
Playbook written to make this easier in the future https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/241/

[2018-02-27 12:53] sxa555 opened #245 "Ansible the FTP server from Linux/PPC machines at OSUOSL"
It would seem that there may be some sort of firewall configuration (likely external to the machine) around our Linux/ppcle machines as I'm unable to make FTP work properly - it logs in but as soon as you do an `ls` or some file transfer it gets stuck, presumably waiting for the inbound connection on a high numbered port. Can someone check with the provider and see if this is the case and whether

[2018-02-27 14:46] bblondin commented on #231
Please reopen if required

[2018-02-27 14:46] #231 closed

[2018-02-27 14:50] bblondin opened #246 "Nagios - Marist systems are noisy in slack channel"
https://adoptopenjdk.slack.com/messages/C8C212BU6

Most of the warning slack messages from Nagios are for Marist systems ```build-marist-ubuntu1604-s390x-?```

[2018-02-27 14:52] bblondin commented on #203
@JamesKingdon do you still require access? if so how much longer do you require it for?

[2018-02-27 15:13] JamesKingdon commented on #203
Hi Brad. Yes, and as long as possible. This isn't going to be a short term effort unfortunately.

[2018-02-27 15:36] AdamBrousseau commented on #214
Other option would be to run the playbook without considering if its busy with a job. Once a machine has been configured, a weekly update ideally wouldn't change anything unless something new is added. The playbooks shouldn't be reinstalling the same thing over and over.

[2018-02-27 15:54] bblondin commented on #214
Scheduling the playbooks to update all systems from within AWX is simple enough to do.
Utilizing the ``` limit ``` feature would allow us to split or stager it to run on a per vendor/provider basics, limiting our exposer in the event of failure (miss configuration) caused by an erroneous playbook.

We need to take into consideration performance jobs, jobs that are timed, etc. Although in most case

[2018-02-27 16:17] AdamBrousseau commented on #214
If you were to have a Jenkins job that "occupied" a machine, kicked off the playbook, for only that machine, and somehow waited around till the playbook was finished, it would work. I'm not sure exactly how you would do it. I was under the impression that kicking off a playbook for a single machine wasn't easy, maybe it is now with the inventory file?

[2018-02-28 14:26] sophia-guo commented on #235
Happened again:
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk8_hs_openjdktest_x86-64_linux/39/console

[2018-03-01 15:50] sxa555 commented on #235
Both test machines were configured with two executors - have dropped this to one as it could be purely down to overloading the machines - the CPU load was sitting around 14 on the scaleway box.

Machines changed:
- https://ci.adoptopenjdk.net/computer/test-scaleway-ubuntu1604-x64-1/
- https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-1/

[2018-03-01 16:08] sophia-guo commented on #235
For https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-1/ I can still see there are two executors.

[2018-03-01 16:27] sophia-guo commented on #235
If it's due to machine changes I should see this issue twice at most. Once for each machine unless the change is back and forward.
Confused seems it happened more than twice.

If this wont happen again I will close this.

[2018-03-01 21:20] sxa555 commented on #245
Have now added an FTP server onto https://ci-jck.adoptopenjdk.net/computer/jck-osuosl-ppc64le-ubuntu-16.04-1 with a firewall around it that should only allow connections from the two JCK PPC machines. Will need to make some changes to the playbooks to support doing this setup (I used a separate playbook to do this so it won't be hard). It also needed me to modify the JCK execution scripts to speci

[2018-03-02 12:08] sxa555 commented on #235
@sophia-guo It may have still been showing 2 when you looked because there were already jobs running on both executors and the change can't take effect until one of them is freed.

[2018-03-02 16:06] tellison opened #249 "Add new test machines to infrastructure"
I have created two new linux x64 machines for use by the general testing jobs.

They are hosted at Softlayer with hoistname, IP address, and logins as follows:
[code]

and

[code]

These machines need configuring with Ansible, adding to Nagios and Jenkins etc to be made available for test.
Heads-up to @smlambert when they are done.

[2018-03-02 16:11] bblondin commented on #249
Created pull request #248 to add these systems to the Ansible inventory

[2018-03-02 16:13] bblondin commented on #249
**To do List:**

- [ ] Add systems to Keybox
- [ ] Update keybox's profile 'root_test_machines' to include these systems
- [ ] Create pull request to add these systems to the Ansible inventory file
- [ ] Create new entries in secrets gpg
- [ ] Refresh Ansible dynamic inventory
- [ ] Execute Playbook on these systems

[2018-03-02 16:21] bblondin commented on #249
Running playbook now - AWX job number 20839

[2018-03-03 01:28] gdams commented on #235
@sophia-guo could you let us know if you see this again with @sxa555's changes applied. If not I will close this issue in the next day or two

[2018-03-03 13:38] bblondin commented on #249
playbook failed... need to investigate

[2018-03-03 14:32] bblondin commented on #249
```test-softlayer-ubuntu1604-x64-1``` looks good

``` test-softlayer-rhel7-x64-1``` Failure in playbook due to vendor being offline

[code]

Manually installed/configured ant-contrib, re running play 20940

[2018-03-03 20:30] bblondin opened #251 "Security role for Account Policy update needed"
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Security/tasks/main.yml

In the Security role for Account Policy the user jenkins should be changed to the var {{ Jenkins_Username }}

[2018-03-03 20:32] gdams commented on #249
@bblondin we can always store files in https://ci.adoptopenjdk.net/userContent/

[2018-03-03 20:35] gdams opened #252 "CR"

[2018-03-03 20:36] bblondin opened #253 "Nagios Plugin issue RHEL 7 x"
There is something wrong with this selection of code, it gets skipped
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml

[code]

It then causes a failure later in the play due to the folder not being there

[code]

[2018-03-03 20:37] #249 closed

[2018-03-03 20:40] bblondin opened #254 "Playbook - Nagios master script issues"
During the Nagios master config part of the playbook, there is an issue where it adds the systems hostname to then end of every selection within the hostgroups.cfg file

https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Master_Config/tasks/main.yml

[2018-03-04 15:24] smlambert commented on #199
Part 1: make sure we are using the statically allocated machines most effectively
Part 2: determine what machine needs we will have in the next 1-2 years and decided if a dynamic story is warranted and what requirements we would have of that system

This discussion will benefit from some metrics gathering.

1) Machine utilization of the current set of statically allocated machines.  Does nagios or

[2018-03-04 21:43] bblondin commented on #253
Pull Request: #255

[2018-03-05 01:54] gdams commented on #93
So I'm kind of with @sxa555 on this..... all of this `sw` and `ci` stuff seems to be adding unncessary "fluff" to the schema. I do agree that we need to standardise the labeling schema as it is currently messy and I have been working on this in ansible by auto creating machines in jenkins.

My proposed schema is as follows but I am happy to modify/add labels if people are unhappy:

`linux ubuntu16

[2018-03-05 01:57] gdams commented on #199
So my only objection to this is that I don't like having both build and test dependencies on the same machine. I am already happy with the way that machines are provisioned because we are installing both sets of dependencies on all machines and I feel that we need to split this. I am aware that the test team has a lot of machine requests open right now and I am trying to tackle them as quickly as

[2018-03-05 10:43] karianna commented on #199
FYI - the immediate requests coming in are OpenJFK, the _amber_ forest of OpenJDK (which holds certain Java 11+ features) and then Java 11 itself.  I'd like to complete our existing coverage of 8, 9, and 10 though.

[2018-03-05 13:08] gdams opened #256 "Switch linux build machines from Ubuntu16 to Rhel 6 or CentOS 6"
We shouldn't be using Ubuntu16 to build as it has a high glibc version meaning that our binaries won't run on many OSes. Switching to Rhel 6 or CentOS 6 will fix this. This will require some ansible changes I would imagine. I will start with the x64 builds.

[2018-03-05 13:22] mleipe commented on #199
On Friday @smlambert and I discussed having all but one machines of every platform available for both build _and_ test, with the "but one" machine dedicated to build.  Our thinking was that this would provide more machines to test without starving out build.

Thoughts?

[2018-03-05 13:23] gdams commented on #256
Hotspot OpenJDK8 build passed: https://ci.adoptopenjdk.net/job/openjdk8_build_x86-64_linux_centos/

[2018-03-05 13:39] sxa555 commented on #256
We'll need to be careful about potential issues with `libffi` - my RHEL6 box has `libffi.so.5.0.6` which may result in us hitting the same issue described in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/25 at some point

[2018-03-05 14:50] gdams commented on #256
so in order to build openj9 we need to use gcc4.6.x or higher (CentOS comes with 4.4.x so I have upgraded it to 4.8.x)

[2018-03-05 14:54] smlambert opened #258 "Add docker to ansible playbooks for test machines"
We will have a growing set of tests that run in Docker images, and would like to increase the number of test machines that have docker installed on them.

[2018-03-05 15:06] gdams commented on #256
OpenJ9 OpenJDK8 build passed: https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_x86-64_linux_centos/

[2018-03-05 15:28] bblondin commented on #254
Spelling error in code for ``` Provider_Exists vs $Provider_Exist ``` (missing 's')

[2018-03-05 15:30] bblondin commented on #254
Fixed

[2018-03-05 15:30] #254 closed

[2018-03-05 15:40] sxa555 commented on #256
From an eclipse openj9 perspective I would prefer not to make this change to all of the builds until after we have released since we're already testing the final release candidate and it would be necessary to complete redo the testing if we started building on a new environment, but for the next release of AdoptOpenJDK+Eclipse OpenJ9, and for AdoptOpenJDK with HotSpot I fully support this (now tha

[2018-03-05 15:46] sophia-guo commented on #235
The last time I saw it is on Feb 27. Ever since that didn't see it again. Suppose it should be good to close it.

[2018-03-05 15:52] gdams commented on #256
okay so I'm going to leave the openj9 builds to run in their existing environment and will update the hotspot builds now :)

[2018-03-05 17:24] karianna commented on #199
My concern would be that the requirements for test would conflict pollute the requirements for build (native lib versions, etc).  If that turned out *not* to be the case then I'd cautiously say that's OK.

[2018-03-05 19:37] VermaSh opened #259 "Add Jenkins shared library"
We want the library to be able to automate adding and maintaining machines on Jenkins. Here is a list of desired features
- Adding machines to Jenkins based on the inventory list
- Determine machine stats (CPU, RAM, Disk, etc)
- Set machine description based on machine stats
- Determine machine capabilities (arch, OS, tools, versions, etc)
- Adding labels to nodes based on machine capabilities and

[2018-03-05 19:45] VermaSh commented on #259
I have been working on a shared library. It has the below functionalities for Linux, Windows, OS X, AIX and z/OS

- Add machines to Jenkins
- Determine machines stats (CPU, RAM, Disk, etc)
- Set machine description based on machine stats
- Determine machine capabilities (only arch, OS)
- Add labels to nodes based on machine capabilities

I'll open a pull request in couple of days

[2018-03-05 20:17] gdams commented on #259
Hi @VermaSh, thanks for this issue. I would suggest that you take a look at my PR because it already does some of the described tasks https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/192

[2018-03-05 21:00] VermaSh commented on #259
@gdams  I went through your PR and yes it does do a bunch of stuff. However, we want to do the machine maintenance on a regular schedule and It didn't make sense to couple Jenkins with Ansible. So we decided that we were better off with a library that resides solely on Jenkins. The end goal is to have one job that runs weekly and keeps the machine labels updated.

Other reason behind this is that

[2018-03-05 21:31] gdams commented on #258
I think that those 4 ubuntu machines should all have docker installed on them :)

[2018-03-05 21:43] #235 closed

[2018-03-05 22:17] smlambert commented on #258
aw sweet, I should add a label to the machines that have docker, that way the 3rd party application tests can just grab any available one.

[2018-03-05 23:32] gdams commented on #256
I have switched all arm builds to use centos74 (which is the lowest level of aarch64 supported centos that I can find)

[2018-03-06 00:09] gdams commented on #256
created https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/260 to track the levels more closely

[2018-03-06 00:50] gdams commented on #258
okay! closing this issue. Let me know if there are any issues!

[2018-03-06 00:50] #258 closed

[2018-03-06 00:50] gdams commented on #259
Ahh okay, that makes sense. So we can use ansible to get the machines into jenkins and then let your scripts handle the labels etc

[2018-03-06 13:54] bblondin opened #261 "git helper for 'https' rhel7"
Issue:

[code]

FYU: @sophieg @smlambert

[2018-03-06 13:55] bblondin commented on #261
solution to the current issues was to installed curl-devel and recompiled git
Pull request to fix it is required

FYI: @gdams

[2018-03-06 14:07] AdamBrousseau commented on #261
Isn't this resolved via #126 ?

[2018-03-06 14:13] AdamBrousseau commented on #261
Ahh, that was only for Ubuntu, I didn't add it for rhel as it appeared to already work there. Looks like the rhel playbook only installs it on ppcle
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/7e5f884d7d519c4711410eb2b9275f93e7265e08/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml#L45

[2018-03-06 14:25] bblondin commented on #261
PR went through in #255

[2018-03-06 14:25] #261 closed

[2018-03-06 14:26] bblondin commented on #253
PR approved

[2018-03-06 14:26] #253 closed

[2018-03-06 14:36] VermaSh commented on #259
Except, we may not always want to Ansible a machine. Also, the solution will be an API not a script; anyone who wants to use it will have to create a Jenkins job. I did create a Jenkins job but at the moment it's too specific to be checked in here. I'll add some use cases as comments in the API (or somewhere else).
Things will get clearer once I submit a PR.

[2018-03-06 16:49] karianna commented on #259
I think I'm going to have to see the PR to understand what this is trying to achieve over and above ansible.

[2018-03-06 20:35] smlambert commented on #199
I should note that downstream consumers of the AdoptOpenJDK infra/releng/test scripts/playbooks are configuring machines for build and test (to best utilize their machine farms) and have not yet encountered any 'pollution' issues.

As in, internally and at the Eclipse OpenJ9 project, we are running tests on same machines as we build with no adverse affects.

I am going to hazard a guess that other

[2018-03-07 04:17] gdams opened #263 "nagios plugins failing on aarch64 - centos7"
This is currently failing.... @bblondin any ideas?

[code]

[2018-03-07 11:37] gdams commented on #263
It looks like we can just `sudo yum install nagios` on rhel and centOS

[2018-03-07 12:38] bblondin commented on #263
Have we tried adding the `--build` option?

example
`./configure --build=aarch64 --prefix=/usr/local/nagios`

[2018-03-07 14:20] pnstanton opened #266 "Add disk space to test-scaleway-ubuntu1604-x64-1 and test-softlayer-ubuntu1604-x64-1"
test-scaleway-ubuntu1604-x64-1 and test-softlayer-ubuntu1604-x64-1 are out of disk space again. Both systems have unused disks. I will format these disks, mount them at `/home` and move the data from the existing disk to the new one.

[2018-03-07 14:31] pnstanton commented on #266
test-softlayer-ubuntu1604-x64-1 has an additional 25 GB
test-scaleway-ubuntu1604-x64-1 has an additional 46 GB

[2018-03-07 14:31] #266 closed

[2018-03-07 15:33] sxa555 opened #267 "Provide remote access solution to be able to run manual GUI tests on the JCK boxes"
VNC would seem the most sensible option, either standalone or via an x11vnc server running on an Xvfb display, but we need some solution to be able to run the manual JCK GUI tests on the (Linux, initially) JCK boxes.

Should we firewall off the VNC port and only allow connections via an ssh tunnel?

Assigning to @geraintwjones to share around the updating of the JCK playbooks.

- [x] Linux
- [x] W

[2018-03-07 15:35] sxa555 commented on #211
@smlambert A thought - do we require remote access to your mac GUI display to be able to run GUI tests? (Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/267 which I've raised for JCK purposes)

[2018-03-07 16:06] bblondin commented on #267
We need to ensure that its secure... VNC should not be directly accessible. forcing the user to ssh in first. and limiting the GUI to the jenkins user.

[2018-03-07 16:36] geraintwjones commented on #267
Hoping this helps: http://www.ahsanscorner.com/content/2015-02-18-2109-configuring-x11vnc-securely-your-server-remote-access

[2018-03-07 16:40] smlambert commented on #266
thanks @pnstanton !

[2018-03-07 16:59] gdams commented on #263
surely if we can use the `yum` packages it will make life easier?

[2018-03-07 17:54] sxa555 commented on #267
As suggested in my original post firewalling off the VNC port to only allow from 127.0.0.1 should be enough to alleviate any security concerns.

@geraintwjones A quick scan of that link suggests that those instructions don't cover blocking the direct insecure connection, just tells you how to connect securely.

[2018-03-07 21:45] sophia-guo commented on #266
We got similar issue on test-macincloud-macos1010-2. @pnstanton does this machine have same issue? https://github.com/AdoptOpenJDK/openjdk-tests/issues/301

[2018-03-07 21:56] sophia-guo opened #269 "test-softlayer-rhel74-x64-1 have 'ant-contrib' issue"
Test build running on test-softlayer-rhel74-x64-1  got

14:35:47 BUILD FAILED
14:35:47 /home/jenkins/workspace/openjdk8_j9_openjdktest_x86-64_linux/openjdk-tests/TestConfig/scripts/build_test.xml:36: Problem: failed to create task or type if
14:35:47 Cause: The name is undefined.
14:35:47 Action: Check the spelling.
14:35:47 Action: Check that any custom tasks/types have been declared.
14:35:47 Ac

[2018-03-08 01:26] bblondin commented on #269
host seems ok:

[jenkins@test-softlayer-rhel7-x64-1 ~]$ ant -diagnostics

[code]

[code]

Are you sure the code is passing the environment into make?

[2018-03-08 09:36] geraintwjones commented on #267
I have never set up VNC before, and know nothing about it. If this needs to be done quickly (which I believe it does), I suggest someone else does it, or you wait for me to figure out what I need to do.

[2018-03-08 11:37] geraintwjones commented on #267
This is the approach I'm taking...
- Update and run the playbook to Install vnc4server on the JCK machines.
- Playbook does NOT start the VNC server.
- Whoever runs the tests need to...
  - Start the server with `-localhost` and setting the password
  - Connect to the VNC server
  - Run the test
  - Stop (kill) the VNC server

Does that sound reasonable. We'd need to provide instructions to tell t

[2018-03-08 12:53] sxa555 commented on #267
@bblondin Geraint's change will only install the package, not start it. I think "leaving that to the user running the tests" is possibly the best option as per Geraint's comment above (which they can do under a personal user account on the machine) and we will provide documentation on how to connect securely with an ssh tunnel. We'll need to verify that `-localhost` will work as expected too.

[2018-03-08 13:04] geraintwjones commented on #267
Installed vnc4server on a local Ubuntu machine. Started it with the `-localhost` parameter.
I was NOT able to telnet to it either locally or remotely using its FQDN.
I WAS able to telnet to it locally using `localhost` instead of FQDN.

[2018-03-08 13:07] bblondin commented on #267
Ok, sounds good. Please let me know when you have a system up and running. I'd like to pen test it.

[2018-03-08 13:37] pnstanton opened #272 "Add -k flag to check_procs Nagios check"
I often see Nagios flagging machines as having too many processes running. As well as counting normal processes it is counting kernel threads, which there can be a lot of on a system with many CPUs.
The Nagios `check_procs` check has a `-k` flag which we are not currenlty using - it filters out kernel threads and only reports on userspace processes.

[2018-03-08 13:38] sxa555 commented on #267
Initial draft of instructions for JCK manual testers (FYI @lumpfish)

Install a VNC client on your local machine (often called `vncviewer` on linux, or grab one from e.g. http://tigervnc.org on Windows
If you have a command line ssh client you can use the following command. If you're using PuTTy on Windows set the options in the screen shown in the screen shot below (you may find it useful to save

[2018-03-08 14:35] lumpfish commented on #267
@sxa555 - I created a few documents in the JCK8 wiki - e.g. https://github.com/AdoptOpenJDK/JCK8/wiki/Executing-JCK-Interactive-Tests so we should link this setup into those. Although the wikis being specific to each repository means that with this approach we'll have to keep recreating essentially the same document for each new JCK release.

[2018-03-08 14:36] sxa555 commented on #267
Or we could just declare the JCK8 wiki to be the master and point to it from the other versioned ones

[2018-03-08 15:29] sophia-guo commented on #269
Exactly same build job works on other machines. The only difference is jenkins distribute the job to this machine as it has same required labels.
Other test jobs got other ant issue on this machine

tests/TestConfig/../../jvmtest/TestConfig/resources -DJCK_ROOT= -DJVM_VERSION=openjdk10
15:51:32 Error: Could not find or load main class org.apache.tools.ant.launch.Launcher
15:51:32 Caused by: java.l

[2018-03-08 15:31] sophia-guo commented on #269
I also logged in this machine and tried a simple build.xml with <if> tag and got exactly same issue.
[jenkins@test-softlayer-rhel74-x64-1 test_personal]$ vi build.xml
[jenkins@test-softlayer-rhel74-x64-1 test_personal]$ ant
Buildfile: /home/jenkins/workspace/test_personal/build.xml
  [taskdef] Could not load definitions from resource net/sf/antcontrib/antlib.xml. It could not be found.

BUILD FAIL

[2018-03-08 15:33] bblondin commented on #269
Which machines? do you have a link to that job?

[2018-03-08 15:33] sophia-guo commented on #269
Link is in my first comment.

[2018-03-08 18:31] sophia-guo commented on #269
@bblondin Could we disable this machine for now, affects test build.
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/TestBuild_Sandbox2/137/console

[2018-03-08 19:11] bblondin commented on #269
That didn't answer the question... both of those links look like  `test-softlayer-rhel74-x64-1`

Could you please tell me what machines it works on?

[2018-03-08 19:20] sophia-guo commented on #269
Works for following except test-softlayer-rhel74-x64-1
https://ci.adoptopenjdk.net/label/test&&linux&&x64/

[2018-03-08 19:25] sophia-guo commented on #269
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk8_hs_openjdktest_x86-64_linux/46/console

Could you disable it for now?

[2018-03-08 19:36] bblondin commented on #272
- Applied change to mac commands

Thanks @pnstanton for finding this flag

[2018-03-08 19:36] #272 closed

[2018-03-08 19:39] bblondin commented on #272
*NOTE* `-k` option don't work on AIX

[2018-03-08 19:45] sophia-guo commented on #269
Those different links are different test build jobs, all of which failed for running on this rhel machine. The reason I comment here is it affects more than more test job. I'd like to disable this machine.

[2018-03-08 20:13] bblondin commented on #269
So...
This test is known to work only on Ubuntu systems.
With the addition of a new RHEL system the test now fails but only on RHEL.
You believe its has something to do with `ant-contrib`

I have disabled `test-softlayer-rhel74-x64-1`

[2018-03-08 21:19] geraintwjones commented on #267
I ran the playbook against the following JCK machines...
- jck-softlayer-ubuntu1604-x64-1
- jck-packet-ubuntu1604-armv8-1
- jck-osuosl-ubuntu1604-ppc64le-1
- jck-osuosl-ubuntu1604-ppc64le-2

I also tried to run it against jck-softlayer-ubuntu1604-x64-2, but that failed with the following error...
[code]

[2018-03-08 21:28] bblondin commented on #269
Basic `ant build.xml` test

[code]

Passes on Ubuntu
Fails on RHEL

adding `<pathelement location="/MYPATH/ant-contrib.jar"/>` to the `build.xml` (ie point it to where the `ant-contrib.jar` lives fixes the issue

thus `ant-contrib` is not where ant thinks it should be on RHEL

[2018-03-08 21:33] geraintwjones commented on #184
So all playbooks modified, and changes merged. Now need to run them.

[2018-03-08 21:37] bblondin commented on #269
Installed ant-contrib from red hat. my test now works.
re-enabled host, please test

[2018-03-08 21:44] bblondin commented on #269
Created pull request #275 to add solution to the playbook

[2018-03-08 21:47] AdamBrousseau opened #276 "Add Licence and Copyright to Repo"
Related #232
We likely should have Copyright and License files in our repo as well as headers in the source files.
I believe we should be using Apache 2 just like the [tests](https://github.com/AdoptOpenJDK/openjdk-tests) and [build](https://github.com/AdoptOpenJDK/openjdk-build) repos.
https://github.com/AdoptOpenJDK/openjdk-build/blob/master/LICENSE

[2018-03-08 21:54] bblondin commented on #246
Work was done in issue #272 adding the `-k` flag to `check_proc`
This should address messages for the services: `Zombie Processes` and `Total Processes`

[2018-03-08 21:59] bblondin opened #277 "Nagios reports some machines are out of disk space"
- [x] test-softlayer-ubuntu1604-x64-1
- [x] test-macincloud-macos1010-2

[2018-03-08 22:07] bblondin commented on #277
cleaned up

[2018-03-08 22:07] #277 closed

[2018-03-08 22:18] karianna commented on #267
@sxa555 Those draft instructions look great!  Can you move to a CONTRIBUTING.md or wiki?

[2018-03-09 00:34] sxa555 commented on #267
Yep @karianna - Simon already has a document for running the manual tests and this issue were always just my draft notes before moving them there - I'll do that now :-)

[2018-03-09 00:47] sxa555 opened #279 "Grant @lumpfish a user account on the JCK machines to run interactive tests"
@lumpfish is going to run the first set of JCK interactive tests on the AdoptOpenJDK with Eclipse OpenJ9 for us. For this he will require his own login to the JCK machines (it is preferable not to use the jenkins account for this). I'm happy to act as his initial sponsor if approval is required.
One of each architecture should be adequate, but he will be executing on x64 first so that is the most

[2018-03-09 00:47] sxa555 commented on #267
@geraintwjones Can you do it on the `s390x` JCK machines too please?

[2018-03-09 00:49] sxa555 commented on #267
@lumpfish I haven't ran through those instructions myself yet, but if you have any issues (since I'm not in the office again til Tuesday) ping me on slack (I'll likely not have easy access to github comments) and I'll attempt to assist but they should work ok ;-) Once you're happy that it works feel free to close this issue.

[2018-03-09 00:52] gdams commented on #279
so I assume this account needs no sudo powers?

[2018-03-09 02:01] sxa555 commented on #279
Correct @gdams - only standard user privileges should be needed for this.

[2018-03-09 08:10] geraintwjones opened #280 "Hosts specification in ubuntu-jck.yml playbook is wrong"
In order to get the `ubuntu-jck.yml` playbook to only run against JCK Ubuntu machines, I changed...
[code]
to...
[code]
That did not work. When I ran the playbook via AWX, it matched all hosts.

Fix this line so that the playbook will only run against JCK Ubuntu machines.

[2018-03-09 10:58] lumpfish commented on #279
More generally, we will be asking for volunteers to run the JCK interactive tests from time to time, so others will be in this situation shortly.  Is there an established process for requesting accounts on machines?

[2018-03-09 10:59] lumpfish commented on #279
Should I expect this issue to be updated when I have an account?

[2018-03-09 11:49] lumpfish commented on #279
@pnstanton tells me the ip address of one of the jck test machines, jck-softlayer-ubuntu1604-x64-1, is 159.122.210.205, which is required to ssh into the machine.  Is there a way I should have been able to find this out myself after having been asked to "run the tests on jck-softlayer-ubuntu1604-x64-1"?  Future volunteers to run these tests will have the same issue.

[2018-03-09 12:45] karianna commented on #279
@lumpfish - issue is typically updated yes

[2018-03-09 14:39] bblondin commented on #280
Sorry @geraintwjones
it should be `- hosts: "{{ groups['Vendor_groups'] | default('jck-*-ubuntu*') }}"`

[2018-03-09 14:42] bblondin commented on #280
Pull request created: #282

[2018-03-09 14:54] sophia-guo commented on #269
Fixed:
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/TestBuild_Sandbox/172/console

[2018-03-09 15:41] sophia-guo commented on #269
Didn't notice same machine still have another ant issue commented before still happened:

15:51:32 Error: Could not find or load main class org.apache.tools.ant.launch.Launcher
15:51:32 Caused by: java.lang.ClassNotFoundException: org.apache.tools.ant.launch.Launcher
15:51:32 make: *** [compile] Error 1

https://ci.adoptopenjdk.net/view/System%20tests/job/openjdk10_hs_systemtest_x86-64_linux/26/co

[2018-03-09 19:14] bblondin commented on #269
please open a new issue for this

[2018-03-09 19:14] #269 closed

[2018-03-09 19:24] bblondin commented on #251
syntax `- "{{ Jenkins_Username }}"`

[2018-03-09 19:46] sophia-guo opened #283 "test-softlayer-rhel74-x64-1 got "Could not find or load main class org.apache.tools.ant.launch.Launcher""
test-softlayer-rhel74-x64-1 got "Could not find or load main class org.apache.tools.ant.launch.Launcher"
15:51:32 Error: Could not find or load main class org.apache.tools.ant.launch.Launcher
15:51:32 Caused by: java.lang.ClassNotFoundException: org.apache.tools.ant.launch.Launcher
15:51:32 make: *** [compile] Error 1

https://ci.adoptopenjdk.net/view/System%20tests/job/openjdk10_hs_systemtest_x86

[2018-03-09 20:06] #280 closed

[2018-03-09 20:08] gdams commented on #276
I have added the Apache2 License to the repo

[2018-03-09 20:31] smlambert commented on #25
I have added a note on [tests/309](https://github.com/AdoptOpenJDK/openjdk-tests/issues/309), that we are unable to run system or openjdk_regression tests against the openjdk8-openj9 release 0.8 candidate build for s390x_linux at this time as we do not have a test machine for this platform.

[2018-03-09 20:40] bblondin commented on #251
Pull request #284

[2018-03-10 18:46] gdams opened #286 "new test-rhel6 machine"
@tellison could you provision a new rhel6 machine on softlayer?

4CPU, 8GB Ram, disk ideally SSD

FYI @AdoptOpenJDK/testing

[2018-03-11 13:12] gdams commented on #25
@smlambert you do now :) https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-1/

[2018-03-11 15:04] smlambert commented on #25
Awesome! thanks @gdams

[2018-03-11 18:13] gdams commented on #25
closing issue for now

[2018-03-11 18:13] #25 closed

[2018-03-12 13:16] pnstanton commented on #279
Created @lumpfish an ID on jck-softlayer-ubuntu1604-x64-1

[2018-03-12 14:33] tellison commented on #286
Created as `test-softlayer-rhel6-x64-1`
4 CPU | 8 GB RAM | 25 GB boot disk + 25 GB data disk | 100 Mbps network

Will advise login details separately

[2018-03-12 14:33] #286 closed

[2018-03-12 14:42] tellison opened #288 "Add new RHEL6 test machine to project infrastructure"
At the request of #286 I have created a new RHEL6 x64 machine for use by test.

It is hosted at Softlayer with hostname, IP address, and login as follows:

[code]

This machine need configuring with Ansible, adding to Nagios and Jenkins etc to be made available for test.
When completed please give a heads-up to @gdams

[2018-03-12 14:45] sophia-guo commented on #283
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk10_sap_openjdktest_x86-64_linux/12/console

[2018-03-12 14:55] bblondin commented on #288
**To do List:**

- [ ] Add system to Keybox
- [ ] Update keybox's profile 'root_test_machines' to include this system
- [ ] Create pull request to add these system to the Ansible inventory file
- [ ] Create new entries in secrets gpg
- [ ] Refresh Ansible dynamic inventory
- [ ] Execute Playbook on is system
- [ ] Configure system in Jenkins

[2018-03-12 15:11] bblondin commented on #288
Pull Request https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/289

[2018-03-12 15:21] bblondin commented on #288
updated hostname was: `test-softlayer-rhel6-x64-1`
is: ` test-softlayer-rhel69-x64-1`

[2018-03-12 15:41] bblondin commented on #288
Playbook running - job 21762

[2018-03-12 16:21] irinarada opened #292 "Grant three user accounts on the JCK machines to run interactive tests"
Please give access to the following people:

Suman Mitra (summitra@in.ibm.com)
Vaishnavi Pathipati (vaipathi@in.ibm.com
Divyarao Devaraneni (divydeva@in.ibm.com)

[2018-03-12 16:28] smlambert commented on #283
This likely implies the rhel ansible playbook needs to be looked at, as the ant installation does not seem correct/complete.

[2018-03-12 16:49] gdams commented on #292
I'm not sure that I like the way that we are creating several user accounts on our machines. Can we not have a shared account that the JCK team can use?

[2018-03-12 18:18] bblondin commented on #288
rerunning job 21800

[2018-03-12 19:28] gdams opened #294 "Missing Windows Deps that need adding to Ansible"
We need to download onto new build machines https://github.com/AdoptOpenJDK/openjdk-installer/raw/master/windows.p12

It should go into `C:\Users\jenkins`

[2018-03-12 19:38] gdams commented on #294
Also install make-3.82 into `C:\openjdk\make-3.82`

[2018-03-12 20:12] irinarada commented on #292
Shared account is good.

[2018-03-12 21:43] gdams commented on #294
set the hostname

[2018-03-12 22:32] karianna commented on #292
I'm OK with shared account as long as we know which individual is logging in as the shared account

[2018-03-13 01:51] bblondin commented on #288
completed

[2018-03-13 02:33] bblondin commented on #283
Where does this code expect ANT_HOME to be located?
Would you be able to provide a basic test to reproduce this error?

[2018-03-13 09:47] lumpfish commented on #292
So is the shared account now created?  We discussed using 'jcktester' in the AdoptOpenJDK infrastructure slack channel.
Also from the slack channel - what are the names of the JCK machines and their ip addresses which users will need to log into them.  Is the information is already available to the community somewhere?

[2018-03-13 12:42] bblondin commented on #292
These are the ones I know of:

[code]

[2018-03-13 12:56] bblondin commented on #292
Full list: https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/inventory.yml

[2018-03-13 13:49] sxa555 commented on #292
[Copying in my slack comments ref individual vs shared user accounts]

_I'm not sure I agree with the shared account approach. It adds extra complexity with the shared password, reduces audit-ability if you need to ask "Who is running this suspicious process that's running?" (as an example) and you don't really want people having their private keys on a shared account for accessing the private git

[2018-03-13 14:23] gdams commented on #294
machines also need signtool.exe

```/cygdrive/c/Program Files/Microsoft SDKs/Windows/v7.1/Bin/signtool.exe: No such file or directory```

[2018-03-13 14:42] tellison opened #298 "Invite two new members to the AdoptOpenJDK org and add to JCK team"
@suman-mitra wrote:
Suman Mitra [10:19 AM]
Hi @tpellison , please add my team mates to AdoptOpenJDK and JCK private "Adopt OpenJDK/JCK " team. They need to go through the docs there and run the JCK manuals...Their git id's are :-
1. vaishnavipathipati
2. divydeva

[2018-03-13 14:44] tellison commented on #298
Invites sent to @vaishnavipathipati and @divydeva

They'll be receiving an email shortly. They can also visit https://github.com/AdoptOpenJDK to accept the invitation.

[2018-03-13 14:44] #298 closed

[2018-03-13 15:40] sophia-guo opened #299 "test-softlayer-rhel69-x64-1 is not ready for test build"
test-softlayer-rhel69-x64-1 is not ready for test build. Please disable it.
git issue:
[code]

https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk10_hs_openjdktest_x86-64_linux/37/console

[2018-03-13 16:17] geraintwjones opened #301 "AWX not able to run playbooks on the 2 JCK 390 machines"
AWX is not able to run playbooks on the the following 2 JCK 390 machines...
- 148.100.33.183 (jck-marist-ubuntu1604-s390x-1)
- 148.100.33.184 (jck-marist-ubuntu1604-s390x-2)

The error reported by AWX looks like this...
[code]
It seems to be an issue with sudo.

[2018-03-13 16:20] sxa555 commented on #301
Interesting problem. The machines are using the `linux1` ID to log in and then sudo to do the work.

`linux1` was listed explicitly in `/etc/sudoers` as being able to use sudo without a password, but it was also in the `sudo` group which gives it access, but requires a password ... That second entry appears to have taken precedence as I have now removed linux1 from the sudo group and it now works.

[2018-03-13 16:20] #301 closed

[2018-03-13 16:25] sxa555 commented on #301
Fiurther note - it seems that on the othre zlinux Marist machines the `sudo` group has `NOPASSWD` set, but that is not the case on the JCK machines, which explains the difference

[2018-03-13 16:30] geraintwjones opened #302 "AWX not able to run playbooks on jck-softlayer-x64-ubuntu-1604-2"
AWX not able to run playbooks on 159.122.210.194 (jck-softlayer-x64-ubuntu-1604-2).

Works fine on 159.122.210.205 (jck-softlayer-x64-ubuntu-1604-1).

No user is specified in the inventory, so it's using `root`.

I am able to ssh to `root@159.122.210.205` but not to `root@159.122.210.194`.

There are no entries for this machine in KeyBox. The solution to this problem is probably to add those entri

[2018-03-13 18:27] bblondin commented on #299
Install curl-devel and recompiled git
Pull Request #303

[code]

[2018-03-13 18:27] #299 closed

[2018-03-13 18:28] #288 closed

[2018-03-13 19:00] sophia-guo opened #304 "test-softlayer-rhel69-x64-1 got " /lib64/libc.so.6: version `GLIBC_2.14' not found ""
test build running on test-softlayer-rhel69-x64-1 and got:
/home/jenkins/workspace/TestBuild_Sandbox/openjdkbinary/j2sdk-image//bin/java: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /data/home/jenkins/workspace/TestBuild_Sandbox/openjdkbinary/j2sdk-image/bin/../lib/jli/libjli.so)

https://ci.adoptopenjdk.net/view/work%20in%20progress/job/TestBuild_Sandbox/174/console

[2018-03-13 19:39] gdams commented on #304
@sophia-guo this is expected behavior for our OpenJ9 builds are they are currently built on ubuntu16. I recommended getting a rhel6 machine setup for you so that we could catch these errors in the future. Please test with one of our hotspot binaries as these **should** now work on rhel6 and rhel7. We will swap the openj9 builds to also build with a lower glibc version once this release is out of t

[2018-03-13 19:39] #304 closed

[2018-03-13 19:40] gdams commented on #304
This is traked in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/256

[2018-03-13 21:04] gdams commented on #298
@tellison please create these issues in the https://github.com/AdoptOpenJDK/TSC repo in the future.

[2018-03-14 10:20] tellison commented on #298
@gdams please explain the rationale to using the TSC repo?

I'm guessing that we are generous in granting membership to the AdoptOpenJDK org, but understand if we require closer oversight of membership to the JCK group.  Is that what you were thinking?

[2018-03-14 11:02] karianna commented on #298
There's now a few sub teams with privileges (infra, test, JCK) so it's worth having the TSC review before passing on (once we errr actually form the TSC)

[2018-03-14 11:07] gdams commented on #298
So it's not really an infra descission to add someone to the JCK team. It would make more sense for the issue to be raised in eithe TSC or Test I suppose

[2018-03-14 11:26] tellison commented on #298
It wasn't a decision, it was an action :-)  i.e. the request was already presumed granted via Slack (lazy consensus), and this infra task was to go ahead and modify the Github settings, which requires infra rights.

But whatever, we should have a place where the request/decision is made, and I'm happy for that to be the TSC repo.

[2018-03-14 12:25] sxa555 commented on #279
@lumpfish has been using the account without problems, therefore closing

[2018-03-14 12:25] #279 closed

[2018-03-14 13:26] bblondin commented on #302
you already have access

[code]

[2018-03-14 13:57] geraintwjones opened #305 "A number of OSUOSL machines are down"
Nagios is not getting a response from the following OSUOSL machines...
- build-osuosl-centos74-ppc64le-1 (140.211.168.138)
- build-osuosl-ppc64le-fedora-24-1 (140.211.168.134)
- build-osuosl-ubuntu1604-ppc64le-1 (140.211.168.243)
- test-osuosl-ubuntu1604-ppc64le-2 (140.211.168.190)

This in turn is filling up the [#infrastructure-bot](https://adoptopenjdk.slack.com/messages/C8C212BU6) Slack channe

[2018-03-14 14:50] geraintwjones commented on #305
This is backed up by KeyBox, where the status of the following entries are all "failed"...
- build-osuosl-centos74-ppc64le-1 (140.211.168.138:22) (users: centos, jenkins)
- build-osuosl-ppc64le-fedora-24-1 (140.211.168.134:22) (users: fedora, jenkins, root)
- build-osuosl-ppc64le-ubuntu-16.04 (140.211.168.243:22) (users: jenkins, root, ubuntu)
- ubuntu@test-osuosl-ppc64le-ubuntu-16.04-2 (140.211.1

[2018-03-14 14:50] geraintwjones commented on #305
There are other "failed" machines in keyBox too. I will cover those in a separate issue. This one's about the OSUOSL machines.

[2018-03-14 14:52] geraintwjones commented on #305
None of those IP addresses respond to ping.
Who manages those machines? Is there somebody I can ask to look at them? Any suggestions @gdams?

[2018-03-14 14:53] geraintwjones commented on #305
In the meantime, I've disabled notfications from those particular hosts to reduce the traffic to Slack.

[2018-03-14 15:42] sophia-guo commented on #304
Thanks @gdams . I also noticed you have created job https://ci.adoptopenjdk.net/view/work%20in%20progress/job/openjdk-runtime-test/  to track this. That's great!

Is that the reason test-softlayer-rhel69-x64-1 is re-enabled? The thing is if it is enabled with same labels as other tests machines  it could be dispatched to all our routine jobs(jobs under *test tabs) and fails the jobs.

We can test

[2018-03-14 15:52] geraintwjones commented on #302
I thought that too.

- Manage > Systems > Add System
- Display name = jck-softlayer-x64-ubuntu-1604-2
- System user = root
- Host = 159.122.210.194
- Port = 22
- Authorized keys = ~/.ssh/authorized_keys
- Submit

Responds with...
[code]

I don't know what the password is, so can go no further.

[2018-03-14 16:05] gdams commented on #305
I have access to openstack but the rebooting the machines made no difference. @tellison knows the contact I believe

[2018-03-14 16:20] smlambert commented on #304
I re-enabled test-softlayer-rhel69-x64-1 but removed the test label from it so the test jobs won't try to use it.

[2018-03-14 17:21] sxa555 opened #306 "SSL certificate on ci-jck.adoptopenjdk.net has expired (14th March)"
Site also uses HSTS so firefox won't let me add an exception to get back into it.

[2018-03-14 18:26] sxa555 opened #307 "Add printer-driver-cups-pdf and gv to the JCK playbook"
This will allow the print tests to pass - I've already installed these on the first JCK x64 machine in order to verify that it works - @lumpfish has been able to get the print dialog and perform most of the tests with this configuration.

[2018-03-14 19:09] geraintwjones commented on #305
@tellison Can you tell me who to contact to get these machine issues resolved?

[2018-03-14 19:18] gdams commented on #305
@geraintwjones I have found the contact. Have sent an email and CC'd you in it

[2018-03-14 19:29] gdams commented on #305
I have had to take some steps to get the OpenJ9 builds through...

https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_checksum/configure (removed ppc64le)
https://ci.adoptopenjdk.net/view/Pipelines/job/openjdk8_openj9_release_pipeline/configure
removed code block
[code]

[2018-03-14 20:25] gdams commented on #305
machines are back online. Will revert the jobs

[2018-03-14 20:28] gdams commented on #305
jobs have been reverted

[2018-03-14 20:28] #305 closed

[2018-03-15 08:34] geraintwjones commented on #305
Thanks @gdams.

[2018-03-15 11:13] gdams commented on #306
I have added `/home/ubuntu/renew_ssl_cert.sh` to allow us to quickly renew the certificate

[2018-03-15 11:13] #306 closed

[2018-03-15 23:21] #251 closed

[2018-03-16 09:39] geraintwjones commented on #307
@sxa555 - pull request awaiting your review.
I have tested, and have now re-run the playbook against the JCK machines. The only one that has not been updated is `jck-softlayer-ubuntu1604-x64-2` which AWX can't reach because it's not in KeyBox. I have raised an issue for that (#302) because KeyBox won't allow me to add it. I'm still waiting for that to get some attention.

[2018-03-16 13:27] sxa555 opened #312 "slackarchive.io isn't up to date"
It looks like it stopped working on the 11th January. It also doesn't appear to have been tracking #general and really needs to now that we shut down #getopenjdk earlier this week.

[2018-03-16 13:49] sxa555 opened #313 "Need ability to execute sound tests or bypass them on our JCK machines"
Our community machines are currently unable to run the JCK sound tests. Being in a data centre somewhere it's not easy to hear what's coming out of them. Even less so when they're really virtual machines as opposed to physicals.

Something in the setup of some of our (company intranet) machines is allowing these tests to pass, and we need to understand what it is and ensure that the our community

[2018-03-16 15:11] edudant opened #314 "DCEVM build"
We are looking for a build farm for an OpenJDK fork for with advanced hotswap features. We have merged original [Dynamic Code Evaluation VM (DCEVM)](http://dcevm.github.io/) JVM patch onto openjdk branch. In contrast to standard Java, where the hotswap is limited to in-body code changes, the DCEVM + HotswapAgent allow almost all code changes at runtime (add/remove fields, methods, interfaces, ...)

[2018-03-16 16:59] gdams commented on #302
@sxa555 do you have access to this?

[2018-03-16 17:07] sxa555 commented on #25
The OpenJ9 are happy on there although our latest released HotSpot build does not. Somewhat worrying it would appear that the HotSpot (Or zero!) VM crashes when you try to run it on that Ubuntu machine at the moment. That'll probably need another issue raised ...

[2018-03-16 18:29] #307 closed

[2018-03-16 19:47] smlambert commented on #283
And if you like to reproduce this test after making changes to that machine, you can go to Sophia's [test_personal build [](412](https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/412/) while its around, and hit the rebuild button.

![rebuildpersonal](https://user-images.githubusercontent.com/2836948/37541450-0d37c2a0-2931-11e8-8c47-a0ee4235def1.jpg)

[2018-03-17 20:39] karianna commented on #312
I've pinged their support as I've forgotten where to go to fix this.

[2018-03-18 16:24] edudant commented on #314
The issue is: https://github.com/AdoptOpenJDK/TSC/issues/10

[2018-03-18 23:39] gdams commented on #312
I've added the slackarchive not to #general so hopefully when @karianna gets it back up and running we should start getting an archive of #general.

[2018-03-19 03:15] smlambert opened #315 "test-packet-ubuntu1604-x64-1 failure - /usr/bin/dockerd (deleted)"
This issue has happened previously (see infra issue #145) -  /usr/bin/dockerd (deleted)
This is causing Docker-based tests to fail (see [openjdk8_hs_externaltest_x86-64_linux/52](https://ci.adoptopenjdk.net/view/External%20tests/job/openjdk8_hs_externaltest_x86-64_linux/52/console))

Comment from previous infra issue:
"Apparently the error fork/exec /usr/bin/dockerd (deleted): no such file or dire

[2018-03-19 03:44] smlambert commented on #93
schema - "a representation of a plan in the form of an outline or model",  "organizes categories of information and the relationships among them"

The point of the 'fluff' is to organize labels into categories AND to make it clear how to add more labels as we grow and end up needing more labels.  It enforces naming, that will help avoid label name conflicts later (when teams/companies want to merg

[2018-03-19 09:32] gdams commented on #93
the build scripts currently all use this schema

[2018-03-19 13:25] bblondin commented on #302
@gdams This is not an issue with AWX... We are unable to log into the machine ourselves.
Once that is corrected then keybox can be updated, then AWX will work

[2018-03-19 13:45] karianna commented on #312
Apparently @gdams support is more responsive than the official one, I've pinged them again

[2018-03-20 14:39] sxa555 commented on #256
I presume `ppc64le`/`s390x` the same as arm since we seem to have `build-osuosl-centos74-ppc64le-1` and `build-marist-rhel74-s390x-1` being used for the builds at present

[2018-03-20 15:52] geraintwjones commented on #214
You'd need to ensure that all machines eventually ran the playbook.

[2018-03-21 15:19] bblondin commented on #214
I want to look into a method to do this via Jenkins.
The [Ansible Tower Plugin](https://wiki.jenkins.io/display/JENKINS/Ansible+Tower+Plugin) looks promising

This solution would ensure there aren't any jobs running the systems at the same time the playbooks are running.

[2018-03-21 15:45] adamfarley opened #319 "Add pkg-config to the setup for zLinux machines"
Currently, we use an extension to remove the need for pkg-config from the OpenJDK on OpenJ9 builds on zLinux. Without that extension, the builds fail.

I understand Ansible Playbooks are used to configure machines for the AdoptOpenJDK Build and Testing pool.

Please configure, or confirm, these playbooks add pkg-config to the zLinux machines.

Thank you.

P.S. Please merge PR https://github.com/ib

[2018-03-21 18:26] bblondin opened #320 "https://api.adoptopenjdk.net/ is down"
https://api.adoptopenjdk.net/ is down

[2018-03-21 18:28] bblondin commented on #320
- Restarted application
- Added notes to /etc/motd
- Create wiki page: https://github.com/AdoptOpenJDK/openjdk-infrastructure/wiki/How-to-start-server.js-on-api.adoptopenjdk.net

FYI: @smlambert

[2018-03-21 18:28] #320 closed

[2018-03-21 19:06] geraintwjones commented on #214
On AWX...
1. Create a userid that you want Jenkins to use when it sends jobs over.
1. Allow this user to be able to use/execute playbooks/inventories/templates.

On Jenkins...
1. Create a credential for the userid you created in AWX.
1. Install the Ansible Tower plugin.
1. Set up the Ansible Tower settings in `Configure System`.
1. Create a freestyle project (job) for running the playbooks (I'll r

[2018-03-22 15:39] AdamBrousseau commented on #214
Happy to help out here. I'll PM you

[2018-03-22 23:00] jdekonin commented on #93
I like the updated list based on @tellison comments, with one addition...technically the arch ppcle does not exist.  Arch and endian...no??

I am not fond of the idea of labels that mean the same thing.  What is the difference between x64 and x86_64?  I'm not saying your use of them is invalid, I'm just interested in why one or the other.

Is ```cloudcone``` a sponser or a service?

[2018-03-23 10:26] karianna opened #321 "ci.adoptopenjdk.net forces a github login to see it"
Reported by several new contributors

![ciblocked](https://user-images.githubusercontent.com/180840/37824453-91efce2c-2e84-11e8-8748-08c9778506e4.png)

[2018-03-23 10:55] sxa555 commented on #321
+1 - I've already been pinged about it too. I know we spoke about freeing up the access a little to allow anonymous users to see pipelines but it looks like we've gone the wrong way. Multiple users affected therefore marking as critical.

[2018-03-23 10:58] sxa555 commented on #321
Checking the admin panels it looks like Job Read access is still showing as being available for even Anonymous users, but it looks like something is forcing users to log in now. Need to understand if anyone has changed anything.

[2018-03-23 11:03] karianna commented on #321
I've fixed this by setting anon users to have read access and view access

[2018-03-23 11:03] #321 closed

[2018-03-23 11:25] karianna opened #322 "Builds failing because they can't find freemarker"
Might be related to #316

openjdk10_openj9_build_x86-64_linux - #2 Failure after 6 min 10 sec (Open)
openjdk10_openj9_build_ppc64_aix - #1 Failure after 6 min 12 sec (Open)
openjdk10_openj9_build_x86-64_macos - #1 Failure after 8 min 5 sec (Open)
openjdk10_openj9_build_s390x_linux - #1 Failure after 15 min (Open)
openjdk10_sap_build_x86-64_linux - #19 Failure after 1 min 19 sec (Open)
openjdk9_ope

[2018-03-23 11:39] sxa555 commented on #322
Freemarker was being pulled from ci.adoptopenjd.net so was impacted by https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/321. Now that it has been resolved this should not be a problem. Closing

[code]

[2018-03-23 11:39] #322 closed

[2018-03-23 11:39] karianna commented on #322
OK this may have been a jenkins permissioning issue.  Waiting on the next build to run to confirm

[2018-03-23 12:12] sxa555 opened #323 "zlinux builds stuck as build-marist-rhel74-s390x-1 has fallen off the network"
jenkins executor won't start and a ping of it's IP address `148.100.33.179` suggests it is offline

[2018-03-23 12:32] sxa555 opened #324 "No JDK9 available on Ubuntu s390x build machines e.g. build-marist-ubuntu1604-s390x-3"
Required to bootstrap JDK10 in the absence of the RHEL74 machine being available (Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/323)

[2018-03-23 13:37] geraintwjones commented on #324
Looking at the playbooks, I find the following packages being installed...
- CentOS
  - `java-1.7.0-openjdk-devel`
  - `java-1.8.0-openjdk-devel`
- FreeBSD
  - `openjdk`
  - `openjdk8`
- OracleLinux
  - `java-1.8.0-openjdk-devel`
- RedHat
  - RHEL 6
    - `java-1.7.0-ibm-devel`
    - `java-1.8.0-ibm-devel`
  - RHEL not 6
    - `java-1.7.0-openjdk-devel`
    - `java-1.8.0-openjdk-devel`
- SLES
  -

[2018-03-23 14:11] geraintwjones commented on #324
### Observation

Looking at the Unix Playbooks, I can find the following JDK packages being installed...

- CentOS
  - java-1.7.0-openjdk-devel
  - java-1.8.0-openjdk-devel
- FreeBSD
  - openjdk
  - openjdk8
- OracleLinux
  - java-1.8.0-openjdk-devel
- RHEL
  - RHEL6_PPC64:
    - java-1.7.0-ibm-devel
    - java-1.8.0-ibm-devel
  - NOT_RHEL6_PPC64
    - java-1.7.0-openjdk-devel
    - java-1.8.0-ope

[2018-03-23 14:14] geraintwjones commented on #324
### Questions
1. Should JDK9 be on **all** build machines?
1. Why don't SLES machines other than SLES12 have any JDK on them?
1. Why don't SLES12 machines have JDK7 on them?
1. Am I right to assume that `openjdk` on FreeBSD is JDK7?

[2018-03-23 14:29] sxa555 commented on #324
1. JDK9 should be on all build machines that are building JDK10 as it's required for bootstrapping.
2. I suspect they're not used for buiding
3. See 2
4. Not sure - I've not looked at FreeBSD yet :-)

[2018-03-23 14:35] sxa555 commented on #324
The JDK9 on `build-osuosl-centos74-ppc64le-1` wasn't installed via `rpm`. My best guess is that it was extracted from one of our built builds but I'm not sure if that was documented anywhere or added to the playbook. @gdams?
[code]

[2018-03-23 14:53] sxa555 commented on #324
As a tactical fix without knowing how the CentOS machines were set up I have modified the two build jobs I'm interested in (https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_s390x_linux and https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_ppc64le_linux/) to download our AdoptOpenJDK9 into the workspace and run from there if the JDK9_BOOT_DIR) is not set to anything useful.

[2018-03-23 15:36] smlambert opened #325 "Automate the process of updating website certificates"
To ensure no one has down-time due to expiration of certificates (which has happened several times in the last year), we should look to automate that process, especially as more downstream projects are starting to depend on downloading collateral from the adoptopenjdk website.

[2018-03-23 15:48] sxa555 commented on #323
(Raised this with my intermediary who talks to Marist)

[2018-03-23 16:27] sxa555 opened #326 "AIX build machine can't run /opt/freeware/bin/file"
This is showing up as an issue when running the builds as `sbin/common-functions.sh` is trying to run `file` when `/opt/freeeware/bin` is at the start of the PATH.

Offending line: `if ! (file "${WORKING_DIR}/cacerts_area/security/cacerts"); then`

[2018-03-23 16:40] karianna commented on #325
Letsencrypt is the way forward here I suspect.

[2018-03-23 16:42] karianna opened #327 "Restart server.js when restarting the API server"
See https://github.com/AdoptOpenJDK/openjdk-api/issues/51 for the full write up

[2018-03-23 16:43] karianna commented on #323
Can you add the contact details on the wiki or if private then in lastpass / keybox / whereever?

[2018-03-23 16:58] #326 closed

[2018-03-25 17:11] gdams commented on #325
@smlambert This should actually be working now. There was an error in the auto renew scripts but I have fixed this.

[2018-03-25 17:11] #325 closed

[2018-03-25 17:12] gdams commented on #324
Yes the jdk9 binaries have been pulled from our own website. (except for x64 linux which uses zulu 9)

[2018-03-25 17:21] gdams commented on #93
okay so are we happy with a schema based on https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/93#issuecomment-351379259?

[2018-03-26 10:06] sxa555 commented on #324
Cheers @gdams ... @geraintwjones FYI

`cd /usr/lib/jvm && wget -O - https://github.com/AdoptOpenJDK/openjdk9-releases/releases/download/jdk-9%2B181/OpenJDK9_s390x_Linux_jdk-9.181.tar.gz | tar xpfz -`

That will extract it - we've got variables defined on each machine within jenkins that point to the directory to get it from that are picked up by the build scripts.

[2018-03-26 10:31] gdams commented on #324
basically we just need to get our own `apt` and `rpm` repos setup and then ansible will easily pick up our binaries

[2018-03-26 10:36] sxa555 commented on #324
That is another option

[2018-03-26 12:29] sxa555 commented on #324
I think the smart move here will be to create a separate role to handle this

[2018-03-26 13:11] sxa555 commented on #324
My only concern with this is that on some machines we've left it with the original name in the tarball (i.e. `/usr/lib/jvm/jdk9+181` on `build-osuosl-centos74-ppc64le-1`) which is going to change. Should we make a point of renaming this to something neutral such as `adoptopenjdk-9-` instead of `jdk9+181` on the machine?

(This does raise the question of whether we should have a way to update if th

[2018-03-27 11:02] sxa555 commented on #23
Based on investigation from @pnstanton The full cygwin install wasn't in the system `PATH` which likely caused the failure to pick up the `nohup` command.

[2018-03-27 14:59] sophia-guo commented on #283
@pnstanton the error is because ant-contrib is not installed or installed uncorrectly. https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/269

[2018-03-27 21:03] smlambert commented on #93
Ok, let me clean it up, and document where I think we are at (in a README or Wiki on this repo).  I will not remove any currently labelling at present.  We can overlay the new schema, and switch testing over, then build scripts, then remove labels.  I don't mind going around and doing the clean up of this over the next week or 2.

I also amend my initial statement about adding labels that are not

[2018-03-28 10:49] smlambert commented on #315
Whenever we happen to land on this machine to run the app / thirdparty_container tests (aka external tests), they fail:
OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:402: container init caused \"process_linux.go:385: running prestart hook 0 caused \\\"fork/exec /usr/bin/dockerd (deleted): no such file or directory\\\"\"": unknown

Again last

[2018-03-28 11:05] pnstanton commented on #315
Same issue as before, dockerd has been running since February 22nd, docker package was updated on March 2nd. Someone did an upgrade recently as I can see `apt-get update && apt-get upgrade -y` in root's command line history.
I'll bring it up at the next infrastructure hangout.
I've restarted the docker service.

[2018-03-28 11:57] smlambert commented on #315
thanks @pnstanton !

[2018-03-28 14:57] smlambert commented on #93
Working on the doc here (will replace jpg with better image shortly):
https://github.com/smlambert/openjdk-infrastructure/blob/labels/docs/jenkinslabels.md

Note that I still need to go and look at all of the 'consumers' of existing labels, to ensure we start with the minimal set based on usage.  This implies that we can and possibly should fix scripts that could be more logically correct (which I

[2018-03-29 11:39] sxa555 opened #330 "mercurial client (hg) missing from build-osuosl-ppc64le-fedora-24-1"
Appears to have stopped all the mirroring jobs from working since 9th March:
e.g. https://ci.adoptopenjdk.net/view/git-hg/job/git-hg-8/

[2018-03-29 17:52] gdams commented on #330
[code]
It doesn't seem to be `hg` that is missing

[2018-04-04 03:04] bblondin commented on #89
I think we good on this, closing

[2018-04-04 03:04] #89 closed

[2018-04-04 15:26] adamfarley commented on #319
Here's a PR with the change: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/331

We need to re-run these playbooks so all of our zLinux machines get this package. We should do this before merging the aforementioned ibmruntimes PR.

[2018-04-04 15:37] sxa555 commented on #323
Reply is as follows:

[code]
I'm not aware that we have made any changes that would affect this ... Pretty confident I haven't.

[2018-04-04 16:19] smlambert commented on #23
@pnstanton has the PATH been corrected now?  @sophia-guo can you retry testing, if this latest suggestion (updating PATH) has been done.

[2018-04-04 16:38] sophia-guo commented on #23
Sure, will do if there is any update.

[2018-04-04 21:38] sxa555 opened #332 "(keybox issue?) build-scaleway-x64-ubuntu-16-04-2 - 51.15.46.107 - not accepting jenkins' ssh key"
Jenkins is showing this when you try to start the slave. This is the machine used for a lot of the docker work so it's holding up
https://ci.adoptopenjdk.net/computer/build-scaleway-x64-ubuntu-16-04-2/

[code]

[2018-04-04 21:39] sxa555 commented on #332
jenkins `authorized_keys` files is zero bytes in length. Perhaps the file system filled up at some point and it went awry

[2018-04-04 21:42] sxa555 commented on #332
copied from another machine (SLES12/s390x one) and it's now back running and running through the jobs queue.

[2018-04-05 09:19] karianna commented on #323
Sounds like someone might have to go in as root and do some spelunking.

[2018-04-05 13:26] adamfarley commented on #319
Thanks sxa, the extension undo has been merged. Here's a build to make sure things work.

https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_s390x_linux/20/

Job should go live inside the next 10 mins.

Note: moving this chat to the issue.

[2018-04-05 14:10] adamfarley commented on #319
Passed. All good. :)

[2018-04-05 14:15] adamfarley commented on #319
Except it's not because it ran on an Ubuntu machine. Rassle frassle.

Lets see if we can run it on a SLES machine at least.

[2018-04-05 14:38] adamfarley commented on #319
For some reason the openjdk10-on-openj9 builds were hard-coded to use only Ubuntu machines. I changed it, kicked off a build, and changed it back.

https://ci.adoptopenjdk.net/job/openjdk10_openj9_build_s390x_linux/21/

Lets see what breaks.

[2018-04-05 15:10] adamfarley commented on #319
It failed too early, and could not find fontconfig. I notice the ansible playbooks for sles and red hat lack a lot of the packages the Ubuntu one has, so I'm closing this issue and raising one for the package discrepancy.

[2018-04-05 15:10] #319 closed

[2018-04-05 15:21] adamfarley opened #333 "OpenJDK10 on OpenJ9 build doesn't work on SLES boxes"
The SLES boxes listed on the AoK jenkins don't have the required packages to build OpenJDK10 on OpenJ9.

The first package we notice the absence of is fontconfig, though I note a large number of discrepancies between the ansible playbooks for Ubuntu and SLES (and also RedHat, though that's not as bad) so fontconfig's absence may not be the only problem.

Example:
https://ci.adoptopenjdk.net/job/op

[2018-04-06 10:43] sxa555 commented on #332
Weirdly this seems to have recurred. I wonder if we've got a keybox issue. Fixed again but leaving open so it's visible in case it recurs.

[2018-04-06 12:52] irinarada opened #334 "Windows machine needed"
@tellison kindly offered to help.
@sxa555 and @smlambert can you add a description of the machines?
Shelley mentioned the build machines description might be enough.

[2018-04-06 14:18] sxa555 commented on #323
Error on my part - I gave the wrong IP - it should have been `148.100.110.37` chasing again.

[2018-04-06 14:28] tellison commented on #334
Sorry I mis-spoke

The build machines `build-win2012-1.adoptopenjdk.net` and `build-win2012-2.adoptopenjdk.net` are bare metal machines.
I hadn't noticed that the referenced test machine was at Packet.

[2018-04-06 14:59] sxa555 commented on #334
I also wouldn't say no to a second Windows 2012R2 for JCK testing if you're able to get one - our first one is at Joyent. It doesn't have to be anything large, 2CPU, 4GB sort of spec would likely be adequate/

[2018-04-06 16:36] VermaSh commented on #334
I saw this on my notification feed. If the machine hasn't already been added, I would like to add it using the Jenkins Node Helper API. I have the jobs ready to be deployed, waiting on PR approvals (should be done soon).

Here's a link to the API repo [openjdk-jenkins-helper
](https://github.com/AdoptOpenJDK/openjdk-jenkins-helper/pull/15)

[2018-04-06 17:25] sxa555 commented on #334
@VermaSh Sounds worth a shot. We haven't got the machine yet though

[2018-04-06 17:29] sxa555 opened #336 "JCK Windows machine doesn't like github.com's security certificate"
Both wget and powershell on the machine are refusing to download the nightly build from the releases repo. Re-ran job to pull directly from jenkins instead of the nightly repo on github.

https://ci-jck.adoptopenjdk.net/job/JCK-fullrun-win/16/console :
[code]
https://ci-jck.adoptopenjdk.net/job/JCK-fullrun-win/17/console :
[code]

[2018-04-06 17:38] smlambert commented on #334
To clarify, for this project we would be requesting 2 more Windows machines, 1 for JCK testing, 1 more for non-JCK testing (preferably 8GB/8CPU/Windows Server 2012R2).

[2018-04-07 10:33] gdams commented on #327
`export PRODUCTION=true && /usr/local/bin/forever start /home/{{ Jenkins_Username }}/openjdk-api/server.js` is the command used to start the server. Should just be a case of writing a startup script that contains that command

[2018-04-07 12:14] sxa555 commented on #323
Latest update from Marist:

The machine has been requested to be recreated so we can have another shot at getting the builds back in place once it's back

[2018-04-10 16:36] tellison commented on #334
I am provisioning two additional Windows machines.  We are limited to hostnames of <= 15 chars, so they are named:

1. `test-win2012-1.adoptopenjdk.net` to be known to Jenkins as `test-softlayer-x64-windows-2012r2-1` and,
1. `jck-win2012-1.adoptopenjdk.net` to be known to Jenkins as `jck-softlayer-x64-windows-2012r2-1`

Each one is 2 CPU, 8GB RAM, Windows 2012R2, 100Gb boot disk, 25 Gb data disk,

[2018-04-10 16:40] tellison opened #337 "Add new Windows test machines to project infrastructure"
Two new Windows 2012R2 machines have been created under issue #334 .
These need configuring with Ansible, and adding to Nagios, Jenkins etc as per the usual infra checklist.

1. `test-win2012-1.adoptopenjdk.net` (169.55.170.72) to be known to Jenkins as `test-softlayer-x64-windows-2012r2-1` and,
1. `jck-win2012-1.adoptopenjdk.net` (169.55.170.68) to be known to Jenkins as `jck-softlayer-x64-window

[2018-04-10 16:51] tellison commented on #334
@smlambert

Let me know how you get on with the 2CPU 8GB test machine.  I can easily add more CPUs _in situ_ if you get more fussy and decide you would like them :-)

@VermaSh Please see issue #337 for configuring these new machines with help from your scripts.

I'm closing this issue as completed.  Please open a new issue if there are further machine requests.

[2018-04-10 16:51] #334 closed

[2018-04-10 19:17] bblondin commented on #337
**To do List:**

- [ ] Create pull request to add these system to the Ansible inventory file
- [ ] Create new entries in secrets gpg
- [ ] Refresh Ansible dynamic inventory
- [ ] Execute Playbook on is system
- [ ] Configure system in Jenkins

[2018-04-11 13:59] sxa555 commented on #337
JCK machine added into the JCK jenkins instance. java and firefox are the only things installed and there's a "startjenkins" script in the jenkins (new user) homedir to initiate it.

[2018-04-11 17:37] gdams opened #339 "Brad Blondin Departure"
Unfortunately @bblondin will be moving on from the AdoptOpenJDK project on Friday 13th 2018. Brad has contributed huge amounts knowledge and work to this project so first and foremost I wanted to say a massive thank you from everyone at the project!

Moving onto the boring tasks...... Brad is currently an infrastructure administrator alongside myself. I am happy for Brad to remain in the organisat

[2018-04-11 18:12] karianna commented on #339
@gdams - we had a brief chat about the housekeeping stuff in the last infra meeting.  John Oliver (from security team) is starting to look at how we can automate adding / removing admin privileges.

@bblondin Thanks for all of the amazing contributions, I personally hope we still see you on the project often!

[2018-04-11 20:33] bblondin opened #341 "Ensure user has the right version of Ansible"
A user reach out to me with an issue using our playbooks.
The issue was that he was using an older version of Ansible that doesn't support some of the functions used throughout the playbooks.

We should add an `assert` check at the start of the playbook so that it will error out with a useful message to the enduser

Something like this should work:

[code]

[2018-04-11 22:58] jabrena opened #342 "Request for Jenkins admin access to add support for Lego Mindstorms EV3"
I would like to join to this team in order to provide the support for `Lego Mindstorms EV3`.
At the moment in this repo, we are building OpenJDK 10 for EV3:
https://github.com/ev3dev-lang-java/openjdk-ev3/releases/tag/v0.5.0

I suppose that later, it is necessary to create a new issue in the following repos:

**openjdk-build:**

[code]

**openjdk-docker:**

[code]

At the moment we have support fo

[2018-04-12 15:32] sxa555 commented on #342
I suspect it might be a good idea to wait until @karianna has completed his work on https://github.com/karianna/openjdk-build/tree/refactor_build_scripts before doing this. Have you needed any changes to the base openjdk code or just using it as-is?

[2018-04-12 16:06] sxa555 commented on #339
AWX currently says something along the lines of "Allow @bblondin to access your account" when you log in with github so I suspect we should do something to change that :-)

[2018-04-12 16:12] gdams commented on #339
Yeah he will need to transfer the oauth app to the org

Sent from my iPhone

Unless stated otherwise above:
IBM United Kingdom Limited - Registered in England and Wales with number 741598.
Registered office: PO Box 41, North Harbour, Portsmouth, Hampshire PO6 3AU

[2018-04-12 16:19] sxa555 commented on #337
Blocked on the test machine due to my github credentials to ansible seemingly not working (I'm sure it has in the past!)

[2018-04-12 16:25] sxa555 commented on #337
java (default location) and git (C:\git) installed on the JCK machine and it's connected to jenkins as `jck-softlayer-x64-win2012r2-1`

[2018-04-12 18:08] jabrena commented on #342
Yes, we can wait the refactoring process by @karianna
When we continue with this issue, I would that my mate @JakubVanek join to this project.
He has a good expertise in this particular area.

Cheers

[2018-04-12 18:56] bblondin commented on #339
@sxa555 shh... nothing to see here :)

@gdams I'm not seeing anyway to transfer it.
<img width="1124" alt="screen shot 2018-04-12 at 2 55 36 pm" src="https://user-images.githubusercontent.com/12900108/38698031-b29ea43a-3e61-11e8-9551-11aa35c72536.png">

[2018-04-12 18:57] JakubVanek commented on #342
Hi,

thanks @jabrena for creating this issue.

Yes, we are patching mainline OpenJDK (https://github.com/ev3dev-lang-java/openjdk-ev3/blob/master/scripts/jdk10.patch. It does this:
* it adds gcc optimization flags for the ARM926EJ-S processor used in EV3,
* it limits some of the memory barriers to ARMv6 (as they don't exist on ARMv5),
* it redirects the "glibc soft-fp bundle" (maybe more accurate?

[2018-04-12 19:15] gdams commented on #339
Oh I see, yeah we'll have to transfer that manually :D could you try and sort that out today or tomorrow @bblondin ?

[2018-04-12 19:35] jabrena commented on #342
We need to collaborate with this fantastic team and find some way to use the CI capabilities of `AdoptOpenJDK`
https://ci.adoptopenjdk.net/

Besides, using this research lines, we could review when appear changes in ARM line and the bottom line is EV3.

_Java market begin on Education layer not in the Enterprise._

Juan Antonio

[2018-04-12 19:38] gdams commented on #133
FYI @tellison

[2018-04-12 21:19] tellison commented on #312
@karianna Any progress on this?  Still no archiving of the `#general` channel :-(  Worth chasing again.

[2018-04-13 09:51] sxa555 commented on #341
Out of interest what were the missing functions and error? I hit an issue talking to an Ubuntu box once with an old version of ansible that required `aptitude` to be on the box instead of using `apt`/`apt-get` IIRC

[2018-04-13 12:37] gdams commented on #339
@bblondin I have managed to move the oauth app to the org myself

[2018-04-13 16:29] sophia-guo commented on #23
I currently got test build setting up issue on this machine, which block me from confirming this issue. I'd like to remote to this machine to see the details. I could remote to it before as a jenkins user. Now I can't.

The error I got is: Unable to connect to remote PC. Please verify Remote Desktop is enabled, the remote PC is turned on and available on the network, and then try again. I guess re

[2018-04-13 17:30] sxa555 commented on #23
The correct IP is `147.75.32.146` - I'll update the inventory file

[2018-04-15 10:37] karianna commented on #312
Yeah I've pinged them again, annoyingly no response and they've taken another year's payment!

[2018-04-16 12:37] sophia-guo commented on #23
Currently what I got is:
Using wget in shell script got following error:
 3 [main] wget (1288) C:\cygwin64\bin\wget.exe: *** fatal error - cygheap base mismatch detected - 0x1802F7408/0x1802FD410.
This problem is probably due to using incompatible versions of the cygwin DLL.
Search for cygwin1.dll using the Windows Start->Find/Search facility
and delete all but the most recent version.  The most r

[2018-04-16 14:19] sxa555 commented on #23
@sophia-guo I don't understand the last issue in that comment - can you clarify the scenario you are referring to in this please:

Can you give me some steps to reproduce this please?

[2018-04-16 14:48] sophia-guo commented on #23
@sxa555 sorry for confusion.
To reproduce first issue: (take my testing files as example)
remote to the machine test-packet-x64-windows-2012r2-1
cd C:\Users\jenkins\workspace\TestBuild_Sandbox\openjdk-tests>
C:\Users\jenkins\workspace\TestBuild_Sandbox\openjdk-tests>get1.sh
The only function in this get1.sh is to wget a sdk.

For the second issue if you run get1.sh the job will run in a new cmd wi

[2018-04-16 14:49] sophia-guo commented on #23
To be clear I remote as a jenkins user and jenkins jobs is also working as a jenkins user.

[2018-04-16 17:33] sxa555 commented on #23
If you run the script with `bash name_of_script.sh` then it doesn't have the linker failure, but for that to work you need to run the script through `dos2unix` to change the line endings to UNIX format first. Also running it with `bash name_of_script.sh` will stop it firing up a separate window so you will be able to get any output into the log.

When I run `ldd` against `wget` using a separate wi

[2018-04-16 17:41] sxa555 commented on #23
(For the record, rebooting didn't make any difference to this)

[2018-04-16 18:11] sophia-guo commented on #23
Yes, in jenkins pipeline if using shell step invoke shell script on windowns we do get the issue about the Windows UNIX ending issue:
19:52:14 + 'C:\Users\jenkins\workspace\TestBuild_Sandbox/openjdk-tests/get.sh' -s 'C:\Users\jenkins\workspace\TestBuild_Sandbox' -t 'C:\Users\jenkins\workspace\TestBuild_Sandbox/openjdk-tests' -p platform -v openjdk8 -r sdk_resource -c url
19:52:14 C:\Users\jenkins\

[2018-04-16 18:15] sophia-guo commented on #23
Did you mean using wget in command line? Yes, if using wget in cmd directly it's ok as I mentioned in above comment.

[2018-04-17 09:58] sxa555 commented on #23
But is there a reason not to do that in your cmd script instead of calling a UNIX shell script?

[2018-04-17 13:39] sxa555 opened #345 "SocketException on ci.adoptopenjdk.net"
Jenkins is currently showing this exception. We have attempted to restart jenkins but that has not yet cleared it.

[code]

[2018-04-17 15:17] sxa555 commented on #345
`config.xml` had `<slaveAgentPort>21</slaveAgentPort>` which appears to have been causing a problem (potentially only when jenkins was upgraded from `2.107.1` to `2.107.2` earlier today as the slaveAgentPort has been set to 21 since 23rd October 2017. Prior to that it was 49187. We've switched it to zero which is consistent with the JCK jenkins instance which upgraded without problems.

[2018-04-17 15:17] #345 closed

[2018-04-17 16:04] #324 closed

[2018-04-17 16:14] sophia-guo commented on #23
I just tried and still got:
 2 [main] wget (2888) C:\cygwin64\bin\wget.exe: *** fatal error - cygheap base mismatch detected - 0x1802F7408/0x1802FD410.
This problem is probably due to using incompatible versions of the cygwin DLL.
Search for cygwin1.dll using the Windows Start->Find/Search facility
and delete all but the most recent version.  The most recent version *should*
reside in x:\cygwin\bi

[2018-04-18 11:11] sxa555 commented on #23
Try now - I think the change I made yesterday may only have affected the Administrator account - the jenkins account still seemed to have the previous association (Either that or something changed it back :-) )

[2018-04-18 15:24] geraintwjones opened #346 "Please add my key to the secrets repository"
The key I (geraintj@uk.ibm.com) currently have in the secrets repository is no longer valid. I had to regenerate it because...
- I forgot my passphrase, and am suitably embarrassed about it.
- `dotgpg` has broken on my Macbook and I can't get it working. I've decided to throw it away and am now using `gpg` directly, with some help from a tool called GPG Keychain.

Because of this, I have regenerat

[2018-04-18 15:32] karianna commented on #346
My bad, I should have asked for this to go to secrets repo - I've added an issue in there instead.

[2018-04-18 15:32] #346 closed

[2018-04-18 15:36] geraintwjones commented on #346
Haha :-) @pnstanton asked me if that's where it should be, but I said no, and since there were no issues over there, I created it here.

[2018-04-18 15:38] geraintwjones commented on #346
The issue in the secrets repo is https://github.com/AdoptOpenJDK/secrets/issues/13.

[2018-04-18 16:36] sophia-guo commented on #23
Now if I run script directly in cmd, cygwin64 I will hit that windows ending format issue.

If I run script directly in gitbash I will get:
 2 [main] wget (1436) C:\cygwin64\bin\wget.exe: *** fatal error - cygheap base mismatch detected - 0x1802F7408/0x1802FD410.
This problem is probably due to using incompatible versions of the cygwin DLL.
Search for cygwin1.dll using the Windows Start->Find/Sear

[2018-04-18 17:16] sxa555 commented on #23
So what is the current problem you are facing? Do you need the bash supplied with git?