[2022-05-30 12:03] sxa commented on #1859
Sending to backlog for now as this is an OpenJ9 failure.

[2022-05-30 12:06] sxa commented on #1791
I'm going to close this as I believe it is available on all test machines, other than the issue specific to macos auto-logins which is covered separately.

[2022-05-30 12:06] #1791 closed

[2022-05-30 12:07] sxa commented on #2492
Related: https://github.com/adoptium/infrastructure/issues/1757

[2022-05-30 12:10] sxa commented on #1655
Possibly to be superceded by #2329

[2022-05-30 12:10] sxa commented on #1634
Replaced with siteox systems for now.

[2022-05-30 12:10] #1634 closed

[2022-05-30 12:11] sxa commented on #1691
Backlog for now as not a Temurin build failure

[2022-05-30 12:12] sxa commented on #1544
Quick note on this - if `/usr/bin` is put ahead, then the GNU `make` is not picked up correctly with the current setup, so that would need to be resolved before we can put this change in.

[2022-05-30 12:12] sxa commented on #1506
We no longer user Travis, therefore closing.

[2022-05-30 12:12] #1506 closed

[2022-05-30 12:13] sxa commented on #1353
Started some discussion on this, but will aim to progress it more during June with @smlambert and @andrew-m-leonard
Most of the errors are related to parameter values used in calls that are not defined on some of the other jobs.

[2022-05-30 12:15] sxa commented on #1283
Is this still relevant with the move to the `linuxNew` installer process?

[2022-05-30 12:16] sxa commented on #1270
Bumping this as from a secure (SSDF) perspective and from a perspective of trying to recover MSVS_2013 this would be beneficial

[2022-05-30 12:18] sxa commented on #1173
Needs re-runs to check if it's still failing. Adding to June milestone to perform initial verification as a minimum.

[2022-05-30 12:21] sxa commented on #932
@reinhapa Is this still causing a problem?

[2022-05-30 12:24] sxa commented on #786
@smlambert Is this still a requirement that we need to push forward with?

[2022-05-30 12:25] sxa commented on #780
I'm going to close this as we do not build GraalVM in any form at Adoptium.

[2022-05-30 12:25] #780 closed

[2022-05-30 12:29] sxa commented on #661
@karianna This issue is over three years old and I can't remember what it was in relation to or where those actions are defined (IIRC we only use `forever` for TRSS. Can this be closed?

[2022-05-30 12:31] sxa commented on #618
This is MBCS, not X11. @Haroon-Khel @aixtools Have we got the localtes required to run our MBCS tests on the AIX systems now? We should verify that these run correctly on our AIX test systems now.

[2022-05-30 12:32] sxa commented on #491
I'm going to close this as I'm not aware of any issues that have shown up in this area recently. It can be reopened if required.

[2022-05-30 12:32] #491 closed

[2022-05-30 12:33] sxa commented on #439
Going to close this. We're currently using ci.adoptopenjdk.net/userContent and that seems to be working and doesn't incur charges, and there are no short-term plans to change that.

[2022-05-30 12:33] #439 closed

[2022-05-30 12:36] sxa commented on #434
For some reason I'm not seeing this in the web UI. More investigation required. Bumping to ensure that happens.

[2022-05-30 12:37] sxa commented on #1295
Probably superceded by something in SSDF, but bumping for now.

[2022-05-30 12:39] sxa commented on #315
I'm going to close this for now as we have not seen any problems related to this for a while, and it can be reopened if it recurs

[2022-05-30 12:39] #315 closed

[2022-05-30 12:43] sxa commented on #46
sigtest job no longer exists - closing.

[2022-05-30 12:43] #46 closed

[2022-05-30 12:47] sxa commented on #2509
I don't believe this has been seen subsequently, and the jdk18 path referenced no longer exists, therefore closing.

[2022-05-30 12:47] #2509 closed

[2022-05-30 12:49] smlambert commented on #786
Let's close for now.  We can come back and raise a new request at a later time if needed.

[2022-05-30 12:49] #786 closed

[2022-05-30 12:58] Haroon-Khel opened #2587 "Ansible request for JDK18 bootjdk"
JDK18 is needed to bootstrap JDK19. Currently our Unix, Windows and AIX playbooks install 17 as the latest bootstrap. So a role for 18 needs to be added to each playbook

[2022-05-30 13:04] #661 closed

[2022-05-30 14:15] sxa commented on #2585
Anything behind NAT, so the arm32 ones not hosted at equinix and most of the riscv64 systems

[2022-05-30 14:19] sxa commented on #2585
The following in `/lib/systemd/system/jenkins.service` should be adequate to allow `system jenkins start` to be usable. When the file is changed be sure to run `systemctl daemon-reload` to pick up the changes. The final line `ExecStart=` should be the command you get from the jenkins UI, and will typically include the location of the path to the `java` executable at the start.

[code]

[2022-05-30 14:52] sophia-guo commented on #2371
yep, close it as I do have the permission now. Thanks @sxa

[2022-05-30 14:52] #2371 closed

[2022-05-30 15:26] sxa commented on #2408
Since we haven't heard from @gdams on this one perhaps we should see if we can exclude the azure machines from this job for now. The other two that are available have the `dockerHost` label too - could we add that for the x64 runs?

FYI @steelhead31 sine you're looking at F36 support.

[2022-05-30 15:28] reinhapa commented on #932
@sxa the job is no longer built on Jenkins instead using github actions now...

[2022-05-30 15:28] #932 closed

[2022-05-30 15:31] sxa commented on #2578
Currently looking stable over the weekend with no significant change in usage - 711956616 Kb

[2022-05-30 16:26] sxa commented on #2587
Not technically true: https://github.com/adoptium/temurin-build/blob/dd97246b053d56db4dc0492c60ab04a29155926c/build-farm/make-adopt-build-farm.sh#L145 (introduced in https://github.com/adoptium/temurin-build/pull/2819)

[2022-05-30 18:21] sxa commented on #2538
Buiding with GCC 11.2 from
`SHA256: d08edc536b54c372a1010ff6619dd274c0f1603aa49212ba20f7aa2cda36fa8b`
`SHA512: d53a0a966230895c54f01aea38696f818817b505f1e2bfa65e508753fcd01b2aedb4a61434f41f3a2ddbbd9f41384b96153c684ded3f0fa97c82758d9de5c7cf`

As before, building with the default compiler on CentOS7 except for x64 (CentOS6) and arm32 (Ubuntu 16.04) where I'm using /usr/local/gcc10/bin (`PATH`, `CC`

[2022-05-31 13:06] Haroon-Khel commented on #2502
Github workflows

- VPC solaris
  - Uses https://github.com/adoptium/infrastructure/blob/master/.github/workflows/build_vagrant.yml
  - Spins up a Solaris 10 vagrant box, runs the playbook on it
- MacOS 10.15
  - Uses https://github.com/adoptium/infrastructure/blob/master/.github/workflows/build_mac.yml
  - Runs the playbook on a MacOS 10.15 image
- Docker build image, uses docker files [here](htt

[2022-05-31 13:10] Haroon-Khel commented on #2502
Docker Static Workflows
- Uses https://github.com/adoptium/infrastructure/blob/master/.github/workflows/check_dockerstatic.yml
- If changes are made to https://github.com/adoptium/infrastructure/tree/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles, changes are tested on our alpine, ubuntu, centos and fedora docker static containers

[2022-05-31 17:51] #2585 closed

[2022-05-31 23:32] sxa commented on #2538
I've also built with [GCC11.3.0](https://mirrorservice.org/sites/sourceware.org/pub/gcc/releases/gcc-11.3.0/gcc-11.3.0.tar.xz) SHA256: `b47cf2818691f5b1e21df2bb38c795fac2cfbd640ede2d0a5e1c89e338a3ac39` (with so we can can choose which of the two to use (Changes in 11.3 are [here](https://gcc.gnu.org/bugzilla/buglist.cgi?bug_status=RESOLVED&resolution=FIXED&target_milestone=11.3) This one included

[2022-06-01 10:17] steelhead31 opened #2589 "System unavailable: Solaris X86_64 Nodes - Unavailable"
The 2 solaris X86_64 nodes are both unusable

**build-packet_esxi-solaris10u11-x64-1 is out of memory ( log below )**

09:35:20  # There is insufficient memory for the Java Runtime Environment to continue.
09:35:20  # Native memory allocation (mmap) failed to map 243269632 bytes for committing reserved memory.
From [Grinder](https://ci.adoptopenjdk.net/job/Grinder/4905/consoleFull)

**build-packet

[2022-06-01 10:38] sxa commented on #2589
There are 26836 `defunct` processes on the `-1` machine. 1351 of those under the jenkins ID. I'll reboot it.

[2022-06-01 10:46] zdtsw commented on #1327
according to usage: https://github.com/zapty/forever-service/blame/master/README.md#L117
we can use `--runAsUse`r to set run from Jenkins user if we are on a different OS, but  `*Experimental* Run service as a specific user, defaults to root (No ubuntu support yet)`

[2022-06-01 10:52] sxa commented on #2589
Jenkins process listing (excluding the defunct ones):  [build-packet_esxi-solaris10u11-x64.1.leftovers.txt.gz](https://github.com/adoptium/infrastructure/files/8813384/build-packet_esxi-solaris10u11-x64.1.leftovers.txt.gz)

There are quite a lot from old jobs which is likely exhausting the resources. See also: #2442 which would potentially have caught many of these
I've triggered a reboot

[2022-06-01 10:55] sxa commented on #2589
`-1` is back and currently showing a load everage of, erm, `8388608.00`.
Which I assume is fake news as it seems pretty responsive and the jenkins agent has been launched successfully on it

[2022-06-01 11:03] steelhead31 commented on #2589
Once I've got access, I'll have a look at fixing #2442

[2022-06-01 11:46] zdtsw opened #2591 "Ansible request for upgrading nodejs version for TRSS"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

- [ ] Missing install
- [ ] Bug in ansible playbook
- [X] Request for new playbook addition

Details:
we install node 12.16 https://github.com/adoptium/infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/trss.yml#L26
should consider to upgrade to v18 or at least v16

[2022-06-01 14:48] Haroon-Khel commented on #2581
Platforms look good (ish) after a process clean up
https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/

[2022-06-01 18:18] llxia commented on #1327
Thanks @zdtsw for investigating this.
To clarify, there are 3 levels here - forever service, forever cmd, and TRSS server. Both forever cmd and TRSS server do NOT need root permission. Permission is needed for restarting the service in general. Also, currently, the TRSS server is on an Ubuntu machine, so the `--runAsUser` flag does not apply atm.

Anyway, we already have a solution and it is up an

[2022-06-02 09:10] zdtsw commented on #2233
for those using "get_url" if can be replaced by using "apt" "yum"or "package" module, we replace them. check is by default enabled in these modules.

[2022-06-03 14:06] backwaterred commented on #2563
This is solved on my machines by https://github.com/openjdk/jdk/pull/8939. The few core files I see appear unrelated to vthreads.

[2022-06-06 08:23] #2583 closed

[2022-06-06 08:23] steelhead31 commented on #2583
Fixed by https://github.com/adoptium/infrastructure/pull/2584

[2022-06-06 09:33] steelhead31 commented on #2442
This is a suitable alternative command for processes owned and run by the jenkins user

/usr/ucb/ps -uxww| egrep -v "remoting.jar|agent.jar|grep" | egrep "java|X.*vfb|revokeall"

[2022-06-06 12:08] zdtsw commented on #2199
I am bit confused for the current implementation, please help me to understand:
1. on rhel8/sles15, we install chronyd than ntp, but the check_ntp_timesync only checks service ntp
does it mean, we are currently getting "warning - check ntpd service" on rhel8/sles15?
2. is the default check "check_ntp_peer" enough to cover all cases(rhel centos ubuntu debian sles freebsd even macos) so we do not re

[2022-06-06 12:49] sxa commented on #2233
But only if the artifact it's supplied in one of those formats. This should cover source tarball downloads etc. too.

[2022-06-06 12:57] zdtsw commented on #2233
sure! for the others like tarball, which cannot use module, we still need gpg to verify

[2022-06-07 09:41] Haroon-Khel commented on #2587
That's interesting. Then do we want jdk19 installed as a bootjdk on each machine?

[2022-06-07 10:34] andrew-m-leonard opened #2594 "No space left on device: build-azure-win2012r2-x64-1"
https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/job/build-test/job/jobs/job/jdk11u/job/jdk11u-windows-x64-temurin/9/consoleFull
[code]

[2022-06-07 11:10] Haroon-Khel commented on #2493
All but [test-equinix-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/test-equinix-win2012r2-x64-1/) are back online. The ibmcloud machines need to be restarted every now and then, thankfully we have @AdamBrousseau to do it, but it would be nice to understand why they are unstable and find a solution

[2022-06-07 11:41] sxa commented on #2493
@Haroon-Khel Can you see anything in the event log on the ibmcloud systems? Those machines have historically been stable enough for us.

[2022-06-07 12:00] Haroon-Khel commented on #2581
Got https://github.com/adoptium/infrastructure/pull/2595 in as a draft

[2022-06-07 13:20] sxa opened #2596 "New Machine requirement: AIX 7.2 for building JDK19+"
I need to request a new machine:

- New machine operating system (e.g. linux/windows/macos/solaris/aix): aix
- New machine architecture (e.g. x64/aarch32/arm32/ppc64/ppc64le/sparc): ppc64
- Provider (leave blank if it does not matter):
- Desired usage: Building - JDK19+ will no longer build on AIX 7.2 after Project Loom was merged (See https://github.com/adoptium/temurin-build/issues/2957)
- Any u

[2022-06-08 10:30] Haroon-Khel commented on #2581
Clean up looks like it has improved.
For unstable and failed jobs, the vpc will still attempt to destroy the vm (unless the user has chosen to keep the vm)
https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/1451/OS=Ubuntu1804,label=vagrant/console is an example; failed at the test stage yet still destroyed its vm

[2022-06-08 10:54] sxa commented on #2108
Remaining plugins upgraded last week.
I've brought up [a new agent](https://ci.adoptopenjdk.net/computer/C3jenkins/) (it's running on the current AWX server as it had lots of capacity) to offload jobs which were running on the `master` node to try and stop it running things on the server.
There have been some side effects of this that will need some attention:
- [build-pipeline-generator does not

[2022-06-08 12:22] steelhead31 commented on #2445
Currently working on the following tasks related to this issue:

1) Create ansible playbook to install Nagios Server Core on Ubuntu 22.04 via Ansible
2) Create ansible playbook to install Nagios on Ubuntu 22.04 Host To Be Monitored
3) Create ansible playbook to add installed monitor nodes on Nagios server

Other tasks to be considered :

1) Document standard tasks provided on base install
2) Ident

[2022-06-08 12:51] karianna commented on #2185
For those watching, linuxNew has been renamed to linux

[2022-06-08 12:52] karianna commented on #1283
For those watching, linuxNew has been renamed to linux

[2022-06-09 08:07] steelhead31 commented on #2442
@sxa, can this be closed now? it does appear to be working ok.

[2022-06-09 09:40] sxa commented on #2442
Yep - thanks

[2022-06-09 09:40] #2442 closed

[2022-06-09 10:36] Haroon-Khel commented on #1910
I've created a MacOS template on awx2 and have tested it on one of our macos machines. It runs successfully. This issue can now be closed

[2022-06-09 10:36] Haroon-Khel commented on #2581
Closing as https://github.com/adoptium/infrastructure/pull/2595 has been merged

[2022-06-09 10:36] #2581 closed

[2022-06-09 13:28] llxia opened #2597 "test-packet-ubuntu1604-x64-1 and test-packet-ubuntu2004-x64-2: Cannot delete workspace"
- Please put the system name in the title of this issue.
https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-1/

- Link to any log file showing the problem:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4965/console

- Please describe the issue:

[code]

[2022-06-09 13:30] llxia commented on #2597
Same issue on https://ci.adoptopenjdk.net/computer/test-packet-ubuntu2004-x64-2/:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4964/console

[2022-06-09 13:42] smlambert commented on #2597
I have marked -2 offline with a link to this issue, -1 is offline with this message:

[code]

[2022-06-09 15:36] smlambert opened #2598 "Add trss-node to Jenkins"
Request to finish adding trss-node to Jenkins, see https://ci.adoptopenjdk.net/computer/trss-node/

Details:
Would like to complete the setup (and someone with visibility of which would be the appropriate credentials to use).

We will add a Jenkins job that will allow us to update the trss server via the --watch option (rather than depend on the small set of people to log on to the machine to manu

[2022-06-09 16:12] sophia-guo commented on #211
Feels this can be closed @sxa or @Haroon-Khel ?

[2022-06-09 16:22] smlambert commented on #211
I am not sure the mac machines attached to the public Jenkins servers have been configured (or that the openjdk tests that require it have been re-enabled), differs from the temurin-compliance and jck test targets.

[jdk_awt/L428](https://github.com/adoptium/aqa-tests/blob/master/openjdk/playlist.xml#L395-L428), [jdk_swing/L966](https://github.com/adoptium/aqa-tests/blob/master/openjdk/playlist.xm

[2022-06-10 08:28] #2538 closed

[2022-06-10 09:59] sxa opened #2599 "centos7_docker_image_updater failing on multiple platforms"
https://ci.adoptopenjdk.net/job/centos7_docker_image_updater is not updating properly on multiple platforms. CentOS7/x64, CentOS7/ppc64le all failed in the lastest run, and  Alpine3/aarch64 on an ealier one The armv7l failure in 210 was a symlink issue which is already resolved)

From the CentOS7/x64 run (only one I've looked at) it looks like it's trying to start the docker service, which is not

[2022-06-11 10:01] karianna opened #2600 "System unavailable: ci.adoptopenjdk.net due to SSL cert expiring and lets encrypt auto renewal failing"
Likely due to the O/S update the certbot-auto tool is no longer supported so the auto renewal failed.

This will be fun.

[2022-06-11 11:42] karianna commented on #2600
The old letsencrypt mechanism via certbot-auto has been removed and a `letsencrypt_backup/README.txt` contains the info on that backup.

A new letsencrypt installation via snap was added as per the official instructions https://certbot.eff.org/instructions?ws=nginx&os=ubuntufocal

The installation and subsequent renewal worked.

I've also updated the weekly cron job to run `cronbot renew` to repli

[2022-06-11 11:44] #2600 closed

[2022-06-11 11:45] karianna commented on #2600
Oh I also update the motd to remove the old renewal instructions

[2022-06-13 10:40] Haroon-Khel commented on #2594
Cleared up some space last week. Closing for now

[2022-06-13 10:40] #2594 closed

[2022-06-13 14:14] smlambert commented on #2597
I think this may have occurred as part of @joeyleeeeeee97 testing this [PR](https://github.com/adoptium/aqa-tests/pull/3746) for the addition of a new test (and yes, its container-based).

[2022-06-14 02:32] joeyleeeeeee97 commented on #2597
@sxa
[FrameworkBenchmarks](https://github.com/adoptium/aqa-tests/pull/3746)  is running test with `root` in docker.

[2022-06-14 14:46] #2599 closed

[2022-06-15 13:43] andrew-m-leonard opened #2604 "refactor_openjdk_release_tool fails on C3Jenkins : JAVA_HOME is set to an invalid directory"
https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/release/job/refactor_openjdk_release_tool/
[code]

I've modified the refactor_openjdk_release_tool job configuration to run on masterX until this is fixed

[2022-06-15 14:00] sxa commented on #2604
Set to `/usr/lib/jvm/java-17-openjdk-amd64`

[2022-06-15 14:00] #2604 closed

[2022-06-15 14:49] llxia commented on #2597
Can we mark https://ci.adoptopenjdk.net/computer/test-packet-ubuntu1604-x64-1/ offline? It is back online now and jobs that land on it will fail.
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5002/

[2022-06-15 16:37] sxa commented on #2598
If this isn't running as the jenkins user I believe we'll have to create a duplicate credential with the trss username

[2022-06-15 18:01] smlambert opened #2605 "New Machine request for Deep AQAtik GSoC work"
New machine request:

- New machine operating system (e.g. linux/windows/macos/solaris/aix): linux
- New machine architecture (e.g. x64/aarch32/arm32/ppc64/ppc64le/sparc): x64
- Provider (leave blank if it does not matter):
- Desired usage: for machine learning prototype
- Any unusual specification/setup required: no
- How many of them are required: 1

Please explain what this machine is needed fo

[2022-06-15 18:24] sxa commented on #2604
Still not picking it up - have installed a JDK in the place it's looking for it and jobs seem to be ok now.

[2022-06-16 09:36] tellison opened #2606 "Archive unused documentation and website repositories"
The two documentation repositories and old website repository are no longer used by the project, and should be archived

https://github.com/adoptium/documentation-services
https://github.com/adoptium/documentation
https://github.com/adoptium/adoptium.net

Archiving requires ensuring that any issues in those repos that are still valid be moved into another repo area. After that they can probably be

[2022-06-16 14:01] sxa commented on #2598
Looks like it is running as a jenkins user so I have enabled it (the IP address on that agent definition was also incorrect) and made a suitable java available to run the jenkins agent.

[2022-06-16 14:01] #2598 closed, assigned to sxa

[2022-06-16 14:25] steelhead31 opened #2609 "Nagios [Epic Task 1]: Install & Configure Nagios Server Core Application From Ansible"
As part of issue #2445 , some code is required to create and configure a new Nagios Core monitoring server, the following sub tasks are involved :-

*   [x] Create ansible playbook to install Nagios Server Core on Ubuntu 22.04 via Ansible
*   [x] Install bespoke tooling for Nagios server
    *   [x] nagios\_slack.pl - Perl Script To Send Notification To Slack
    *   [x] nagios\_graph - Nagios Plu

[2022-06-16 14:26] steelhead31 commented on #2609
@sxa could you assign this to me please ?

[2022-06-16 14:33] smlambert commented on #2598
thanks @sxa !

[2022-06-16 14:38] sxa opened #2610 "containerd.io error on one of the ppc64le build machines"
Works on `-2` but not on `-1`
[code]

[2022-06-16 14:54] sxa opened #2611 "ccache package fails to install on RHEL7"
It should probably be left to install from source on this OS and no attempt made to install via package manager.
[code]

[2022-06-17 12:08] sxa opened #2615 "Ansible request for Docker installation on Debian 8 (Failing in VPC)"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

- [ ] Bug in ansible playbook

Details: VPC 's Debian 8 check is failing on the docker installation:
[code]
Note that since Debian 8 is out of support there is a good arguent for removing this =and potentially replacing with Debian 11 now. Debian 10 is also out of support quite soon (August

[2022-06-17 12:57] steelhead31 opened #2616 "unixPB: add new dockerstatic container for Debian 11"
Following the EOL of Debian 8, create dockerstatic container for Debian 11

[2022-06-17 12:58] steelhead31 commented on #2616
@sxa please assign this to me.

[2022-06-17 13:03] steelhead31 opened #2617 "VagrantPlaybook Checker is failing on tests."
The vagrant playbook check process is currently failing when attempting to run the tests, this is occuring on many platforms..

[https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=CentOS8,label=vagrant/1469/consoleFull](https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=CentOS8,label=vagrant/1469/consoleFull)

**8:45:30** (ant -f ./scripts/build\_tools.xml -DTEST\_JDK\_HOME=/home/vagrant

[2022-06-17 16:25] steelhead31 commented on #2617
@smlambert would you mind doing the honours for this one too ? :)

[2022-06-18 14:35] #2611 closed

[2022-06-18 15:25] sxa commented on #2610
NOTE: Neither `docker-ce-cli` nor `containerd.io` are in the repositories on RHEL installations but `docker-ce` is. Unclear why there is no failure on the other ppc64le RHEL7 machine though, as it doesn't have them installed either.

[2022-06-18 15:29] sxa commented on #2610
@zdtsw It looks like you added these packages [during a refactor](https://github.com/adoptium/infrastructure/pull/2545) - why were these additional ones added?

[2022-06-18 18:29] zdtsw commented on #2610
according to https://developer.ibm.com/tutorials/install-docker-on-linux-on-power/
`Run the following command to install containerd:
sudo yum --enablerepo="epel" install containerd`
Could that be one of the machines does not have epel enabled?

[2022-06-18 18:46] sxa commented on #2610
It's enabled on both, but why are we trying to install additional packages that were not previously required? I don't believe there are any issues with being able to run docker on the systems as they are which already have just `docker-ce` installed.

[2022-06-18 19:14] zdtsw commented on #2610
in the old version of docker(v17 docker/docker-engine), it should work with only install docker,
then in 18.03.* and 18.06.*, it changed to docker-ce, still it only require docker-ce
18.09.03+  when they changed to use OCI which need dependencies to have container.d and docker-ce-cli along with docker-ce  https://docs.docker.com/engine/install/centos/ that's the reason I put all these three there.

[2022-06-20 10:49] sxa commented on #2108
Todays plugin updates:
[code]

[2022-06-20 11:01] sxa commented on #2610
Since it'll automatically pulling those dependencies we cover both situations if we just install docker-ce, so I would suggest removing the other two from being listed explicitly. From what you've said there is no disadvantage to doing that.

[2022-06-20 11:05] zdtsw commented on #2610
sure I can remove these two

[2022-06-20 12:13] sxa commented on #2610
Thanks :-)

[2022-06-20 12:27] sxa opened #2619 "Nagios [Epic Task 3]: Upgrade Nagios host to Ubuntu 22.04 in prep for new installation"
Part of https://github.com/adoptium/infrastructure/issues/2445
Will involve attempting to bring the server up-to-date, ensuring the apache front-end and access control still works as well as the letsencrypt SSL certificate update process (Likely to hit same issues as the jenkins server did)

[2022-06-20 15:02] sxa opened #2621 "Attempt to remove JDKxx_BOOT_DIR from jenkins machine definitions"
In most cases the scripts in the `build-farm` directory will autodetect the JDK location (Typically using the symlinks in /usr/lib/jvm or an equivalent elsewhere) and therefore does not require the "fixed" JDKxx_BOOT_DIR definitions on the jenkins agent definition. This means we should be able to get rid of those definitions (which are also typically fixed to a specific version and will therefore

[2022-06-20 21:35] llxia commented on #2251
test-docker-fedora34-x64-1:
[code]
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5012/console

[2022-06-20 22:17] sxa commented on #2251
Hmmm cleared up some old volumes, although I thought I'd done a clearup on this host ealirer today so we'll see if it fills up again. If so we'll need to investigate what's using it up. I've only been able to reclaim 25% of the 400Gb volume, and it shouldn't be using anywhere near that amount.

[2022-06-21 00:21] sophia-guo opened #2623 "jdk8: sun/security/tools/jarsigner/emptymanifest.sh failed on some aarch64"
jdk8: sun/security/tools/jarsigner/emptymanifest.sh failed on some aarch64. For example: failed on [test-docker-ubuntu1604-armv8l-2](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu1604-armv8l-2,  [test-docker-ubuntu2004-armv8l-2](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2004-armv8l-2)), passed on test-alibaba-ubuntu1804-armv8-2.

To make it easy for the infrastructure team to

[2022-06-21 08:01] steelhead31 commented on #2617
PR Merged.

[2022-06-21 08:01] #2617 closed

[2022-06-21 08:22] sxa commented on #1898
@AdamBrousseau What do you do with the freemarker dependency - do you rely on it being available on the machines as part of the playbook installation, or is that unnecessary for all versions given that it seems to be downloaded during the build process?

[2022-06-21 09:46] sxa commented on #2251
An extra 50Gb seems to have been used up overnight on the file system. That's not normal

[2022-06-21 11:03] sxa opened #2624 "Ansible request for boot JDK installation checks"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details:
If the machine has a directory /usr/lib/jvm/jdk-17.* but no corresponding symlink from `/usr/lib/jvm/jdk-17` then the adoptopenjdk-install role will go into the "Does not exist - install it" mode and install the late

[2022-06-21 12:51] llxia commented on #2251
Could you list the top files/folders that use the most space? Maybe we can get some clues.

[2022-06-21 12:54] sxa commented on #2251
It's not quite that simple when it's a load of docker containers on the host system unfortunately.

[2022-06-21 13:07] sxa commented on #2251
Looks like this process might have been keeping a lot of space in use: `jenkins  2266542    9825 99 Jun17 ?        11-17:17:13 /home/jenkins/workspace/Test_openjdk8_dragonwell_sanity.openjdk_x86-64_linux/openjdkbinary/j2sdk-image/bin/java -cp . -XX:+UseG1GC -XX:+MultiTenant -XX:+TenantHeapIsolation -XX:NativeMemoryTracking=detail -XX:+PrintGCDetails -Xloggc:gc.log -Xmx1g -Xmn32m TestLeak` - I've k

[2022-06-21 13:42] sophia-guo opened #2625 "Two jdk8 security tests consistently failed on test-osuosl-centos74-ppc64le-1"
Recent builds run shows that JDK8 security tests:
sun/tools/jinfo/Basic.sh
sun/security/pkcs11/fips/TestTLS12.java

consistently failed on test-osuosl-centos74-ppc64le-1.

- test suite/name? sun/tools/jinfo/Basic.sh   sun/security/pkcs11/fips/TestTLS12.java
- Is there an existing issue elsewhere covering this?
- Which machine(s) does it work on?  test-osuosl-ubuntu1804-ppc64le-1, test-osuosl-ubunt

[2022-06-21 14:14] sxa opened #2626 "Process unavailable: centos7/x64 docker build image generation"
The CentOS7/x64 axis of https://ci.adoptopenjdk.net/job/centos7_docker_image_updater/ has been failing quite often recently. It seems to be a problem during the final push to dockerhub. For example https://ci.adoptopenjdk.net/job/centos7_docker_image_updater/230/execution/node/153/log shows:

[code]
Other platforms appear unaffected.

[2022-06-21 14:17] sxa opened #2627 "Process unavailable: Alpine/x64 docker build image generation"
The `adoptopenjdk/alpine3_build_image` has not been updated recently which is preventing the correct boot JDKs from being available in the image for JDK8 and JDK11.

https://github.com/adoptium/infrastructure/runs/6981021248?check_suite_focus=true is showing as running green but does not appear to contain the latest changes that I get when running locally (e.g. the absence of `jdk8` and `jdk-11` i

[2022-06-21 18:24] AdamBrousseau commented on #1898
Freemarker is no longer required for platforms building with cmake which is all but riscv (by default). That platform is still in development anyway so we likely don't need the Semeru build at this point. However we can probably enable cmake for riscv on the Semeru build to try. It has been failing for quite some time.

Running a test build for that now.

I had hacked out the freemarker download i

[2022-06-21 19:36] AdamBrousseau commented on #1898
Build passes so I vote to remove all freemarker stuff.

[2022-06-21 20:50] sophia-guo commented on #2623
Same issue with some linux64.
Affected jdk8 tests:
sun/security/tools/jarsigner/diffend.sh
sun/security/tools/jarsigner/emptymanifest.sh

One of tests is excluded for linux-aarch64 by wrong format.

[code]
To make it easy for the infrastructure team to repeat and diagnose, please
answer the following questions:

test suite/name:
Is there an existing issue elsewhere covering this?
Which machine(s)

[2022-06-22 09:01] steelhead31 opened #2629 "Nagios [Epic Task 2]: Parse Ansible Infrastructure Inventory File Into A Nagios Inventory"
In order to automate the installation and configuration of the new ansible server and ansible nodes, a tool/ansible play to take the existing ansible inventory and parse it into a second nagios\_inventory.yml with different formatting and some additional nagios fields is required.

[2022-06-22 09:04] sxa commented on #2629
Note that there is also https://github.com/adoptium/infrastructure/blob/master/ansible/plugins/inventory/adoptopenjdk_yaml.py which does some parsing on the inventory file and so it may be easier to start with the output from that.

Suggest for now only taking the `build-` and `test-` systems and we can add the others (whcih may have special requirements) later.

[2022-06-22 09:06] steelhead31 commented on #2629
Thanks @sxa , would you mind assigning this to me.

[2022-06-22 09:07] sxa commented on #2606
Looks like they have been marked as archived + read-onlky by someone.
They still have open issues, therefore I will leave this open for now.

[2022-06-22 10:02] sxa commented on #2549
Of the current set of reqpositories, we have the following categories:

Repository sets | Repos | Current mandatory reviewers
--- | --- | ---
Source mirror repos | 12 | n/a - No PRs (Alpine JDK8?)
Binary repos | 6 |  n/a - No PRs
Temurin | 11 |  4 with zero, 2 with one, 2 with two
aqavit | 7 | 4 with zero, 1 with one?, 2 with two?
adoptium | 7 | All zero, question over blog and dash
mission contro

[2022-06-22 10:12] gdams commented on #2626
So the docker push step fails on `docker-packet-ubuntu2004-intel-1` but passes `docker-packet-ubuntu2004-amd-1`

The docker version on the intel machine is 20.10.7 compared to 20.10.12 on the AMD one.

I'm going to start by updating the docker version on the intel machine to see if that fixes things

[2022-06-22 10:17] gdams commented on #2626
`docker-packet-ubuntu2004-intel-1` has now been updated to `20.10.17`. Hopefully the problem won't persist

[2022-06-22 10:45] sxa commented on #2627
@gdams Can you take a look at this please? The image seems to build correctly when I build it locally, and it's showing green in the actions, but `adoptopenjdk/Alpine3_build_image` does not have /usr/lib/jvm/jdk8 etc. present

[2022-06-22 10:48] gdams commented on #2627
It's not being updated because the centos 7 job keeps failing to push which then in turn prevents the manifest job from running. Hopefully my update should have fixed the problem

[2022-06-22 13:07] sxa commented on #2605
Keys for @llxia @LongyuZhang and Giannis have been added to the `aqatik` user

[2022-06-22 13:53] #2627 closed

[2022-06-22 15:34] sophia-guo opened #2630 "Test Jenkins job failed with `ERROR: Cannot delete workspace :Malformed input or input contains unmappable characters` on some machines"
We have seen this failure a few times. Jenkins job failed with `ERROR: Cannot delete workspace :Malformed input or input contains unmappable characters` at post stage.

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/45/console

[code]

The failed job above is on [test-docker-ubuntu2204-x64-1](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2204-x64

[2022-06-22 15:52] sxa commented on #2626
Looks like it may still be a problem, but I've run the job after bringing the problematic node offline and it has pushed the new images successfully at https://ci.adoptopenjdk.net/job/centos7_docker_image_updater/235 so at least we have a workaround that will allow builds to get out

[2022-06-22 16:34] sophia-guo opened #2631 "jdk8 java/nio/file/Files/probeContentType/Basic.java failed on test-docker-fedora34-x64-1"
jdk8 java/nio/file/Files/probeContentType/Basic.java failed on test-docker-fedora34-x64-1

- test suite/name?  jdk8 java/nio/file/Files/probeContentType/Basic.java
- Is there an existing issue elsewhere covering this?
- Which machine(s) does it work on?  [test-ibmcloud-ubuntu1604-x64-1](https://ci.adoptopenjdk.net/computer/test-ibmcloud-ubuntu1604-x64-1)
- Which machine(s) does it fail on? test-do

[2022-06-22 16:51] sophia-guo commented on #2631
Same issue for jdk8 tests:
[java/net/Inet6Address/B6206527.java.B6206527](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_2/45/testReport/junit/java_net_Inet6Address_B6206527/java/B6206527/)
[java/net/ipv6tests/B6521014.java.B6521014](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_2/45/testReport/junit/java_net_ipv6te

[2022-06-22 17:54] llxia commented on #2251
https://ci.adoptopenjdk.net/job/SXA-processCheck/label=test-docker-fedora34-x64-1/295/console cannot complete on this machine due to the space issue.

In the test Jenkins script, it [detects the leftover processes](https://github.com/adoptium/aqa-tests/blob/57c4bc2f4907cffdecedbd5387d4e7b6f6a33f9a/buildenv/jenkins/JenkinsfileBase#L843). I think we should enforce the logic to kill the leftover proc

[2022-06-23 08:01] zdtsw opened #2632 "System unavailable: docker&&linux&&x86_64 not available docker-aws-ubuntu1604-x64-0/-2"
- Please put the system name in the title of this issue.
[docker-aws-ubuntu1604-x64-0](https://ci.adoptopenjdk.net/computer/docker-aws-ubuntu1604-x64-0/) [docker-aws-ubuntu1604-x64-1](https://ci.adoptopenjdk.net/computer/docker-aws-ubuntu1604-x64-1/) [docker-aws-ubuntu1604-x64-2](https://ci.adoptopenjdk.net/computer/docker-aws-ubuntu1604-x64-2/)
- Link to any log file showing the problem:

- Pleas

[2022-06-23 09:13] zdtsw commented on #2632
I am testing the installer job,
the debian build stage cannot find agent.

[2022-06-23 09:19] sxa commented on #2632
Same question - which job is this affecting? The Linux installer generator job [adoptium-packages-linux-pipeline](https://ci.adoptopenjdk.net/job/adoptium-packages-linux-pipeline) is not being held up because of this issue as far as I can tell.

[2022-06-23 09:22] zdtsw commented on #2632
this is the test job  https://ci.adoptopenjdk.net/view/work-in-progress/job/Sophia-adoptium-packages-linux-pipeline/
not using the official "installer" job

[2022-06-23 09:24] sxa commented on #2632
I don't know why that's targetting different machines. I don't particularly want to recover machines running those out of support OSs. If they're not causing a problem with any critical jobs I'm just going to decomission those systems (as per the comment you've seen on one of them)

[2022-06-23 09:28] zdtsw commented on #2632
sure. if agents are not needed/supposed to be there, we either remove them or put message as description  to not cause confusion.

[2022-06-23 09:36] sxa commented on #2619
Apparently it has an uptime of over 1000 days:
[code]

[2022-06-23 10:25] sxa commented on #2525
Currently using `C3jenkins` from Equinix as a replacement node tagged as `master`. I've marked the AWS `git-hg` machine offline to see if any backlogs occur on that label with a view to decomissioning (Or we could use the AWS machine instead of C3jenkins)

[2022-06-23 10:59] sxa commented on #2525
Memo to self: Security audit on key used for mirror's access to github

[2022-06-23 13:24] sxa commented on #2619
Failure in `javascript-common`. Unclear why it's used for so I've removed it for now:
[code]
`apt-autoremove` also run to clear up older things

[2022-06-23 13:26] sxa commented on #2619
Now on bionic 18.04.6 LTS and running another `do-release upgrade` ...

[2022-06-23 15:05] sxa commented on #2619
`do-release-upgrade` gave me `There is no development version of an LTS available.`. But `do-release-upgrade -d` is attempting to bring me up to the correct level.

[2022-06-23 16:05] #2619 closed

[2022-06-23 18:04] aixtools opened #2634 "Ansible request for AIX"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details:
While running playbook on AIX 7.2 the yum_utils tasks add the following:
[code]

Need to update:
a) know if AIX 7.1, 7.2 or 7.3
b) update to install and use dnf (ie, retire yum syntax) - almost a bug (ie, would do th

[2022-06-23 18:13] aixtools commented on #1544
Maybe adding an alias for make will be a quick fix (jenklins .profile), or we 'mangle' the current /usr/bin/make to be a symbolic link to GNU make.

[2022-06-23 20:14] andrew-m-leonard opened #2635 "build-azure-win2012r2-x64-1 J:\jenkins\workspace\build-scripts\release\create_installer_windows locked and can't be deleted"
Installed jobs are failing on node build-azure-win2012r2-x64-1 due to an old install output locked file within J:\jenkins\workspace\build-scripts\release\create_installer_windows locked and can't be deleted

Please can this folder be deleted?

[2022-06-23 20:36] sophia-guo opened #2636 "aqa test jobs failed on test-docker-alpine313-aarch64-1"
It's not testcase failure. It's test job failure before test running. The reason is running testing jdk pointed by environment variable TEST_JDK_HOME will end up with using java defined `_=/usr/lib/jvm/jdk-17.0.4+3/bin/java`. This only happened to test-docker-alpine313-aarch64-1. Other machines are configured as `_=/usr/bin/java` and do not have this issue.

- test suite/name?
- Is there an existi

[2022-06-24 08:36] andrew-m-leonard commented on #2635
I've disconnected until fixed: https://ci.adoptopenjdk.net/computer/build-azure-win2012r2-x64-1/

[2022-06-24 08:43] DrVanScott opened #2637 "Repository https://packages.adoptium.net/ui/native/rpm/rhel/7/x86_64/ doesn't work"
Hi everybody,

I hope I am here on the right place to report this issue. If not I would be very happy for any hints where I should report this...

Currently we are trying to use https://packages.adoptium.net/ui/native/rpm/rhel/7/x86_64/ but we receive a the following message:

    https://packages.adoptium.net/ui/native/rpm/rhel/7/x86_64/repodata/repomd.xml: [Errno -1] Error importing repomd.xml f

[2022-06-24 09:12] sxa commented on #1904
Closing as duplicate of https://github.com/adoptium/infrastructure/issues/2080

[2022-06-24 09:19] sxa opened #2639 "Make RISC-V testing reliable"
This is a bit of a background task at the moment but the RISC-V testing (currently limited to sanity.openjdk) typically fails due to hitting the 10 hours timeout for the test. I have been experimenting with runnign `PARALLEL=Dynamic` which seems to help lead it to finish. Having said that, the most recent set of runs look like they may have finished underneath the 10 hour limit.

Relevant jobs:
-

[2022-06-24 09:58] Haroon-Khel commented on #2635
[code]
Likely caused by this file. I'll see if I can determine the reason for the `Unknown+User Unknown+Group` before deleting it

[2022-06-24 10:06] andrew-m-leonard opened #2640 "build-osuosl-aix71-ppc64-1 has named pipe issue..?"
AIX builds are failing I think with named pipe issue/leakage?
Is /tmp/sh-np.* full/too many?

https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk18u/job/jdk18u-aix-ppc64-temurin/69/console
[code]

[2022-06-24 10:07] sxa commented on #2640
File system appears to be fine - 11% space used and 15% inodes in use. Is this reproducible?

[2022-06-24 10:09] sxa commented on #2640
FYI That particular file looks to have been created at 1834 UK time:
[code]

[2022-06-24 10:27] andrew-m-leonard commented on #2640
https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-aix-ppc64-temurin/74/console
https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk18u/job/jdk18u-aix-ppc64-temurin/69/console
https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk18u/job/jdk18u-aix-ppc64-temurin/68/

[2022-06-24 10:37] Haroon-Khel commented on #2640
Not the first time we're seeing this https://github.com/adoptium/infrastructure/issues/929

[2022-06-24 10:39] #1898 closed

[2022-06-24 10:39] sxa commented on #1898
NOTE that we have NOT cleaned up the old freemarker.jar installations on the existing machines.

[2022-06-24 10:51] Haroon-Khel commented on #2615
Debian 8 has been removed from VPC

[2022-06-24 10:58] sxa commented on #2640
My concern is that it's not clear this is the same problem since there is no indication that the file systems were full. The actions taken in there should have prevented the original problem from being seen again.

[2022-06-24 10:58] sxa commented on #2640
FYI @aixtools

[2022-06-24 11:59] sxa commented on #2596
Provisioned as https://ci.adoptopenjdk.net/computer/build%2Dosuosl%2Daix72%2Dppc64%2D1/ although it's hitting OutOfMemory issues. I'm running a build locally on the machine to check if it's an issue which is specific to running under the jenkins agent.

[2022-06-24 12:09] Haroon-Khel commented on #2635
As far as I can tell from googling, Cygwin must have hit an error when mapping windows accounts to posix accounts. Annoyingly I can't access the particular `create_installer job` which created that file as the job has expired. I'll delete the file for now

[2022-06-24 13:58] aixtools opened #2641 "Ansible request for AIX 7"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook
- Request for new playbook addition

Details:
- bug: textual: `ulimit for stack was above hard_max value`: will decrease to hard_max value.
- new: - #2596 - shows `ulimit -d` needs an increase - will double the current playboo

[2022-06-24 15:23] Haroon-Khel commented on #2635
Took a while to delete the file. It was being used by a `java.exe` process which refused to die. The workspace should be 'deletable' now

[2022-06-25 16:30] aixtools commented on #2640
I researched this long time ago.

Most of the cases where bash is using these feature are not actually needed (when used as a mechanism to 'pipe' to tee.
However, I think I may have found a few that are needed.

I worked out a 'hack' that would resolve this for AIX, but the bash group did not feel it was the correct solution path - iow, not accepted as a PR.

Since then, just been using cron to cl

[2022-06-26 09:26] aixtools commented on #2563
recommend closing this as jdk19 is AIX 7.2 only moving forward.

[2022-06-26 10:38] aixtools commented on #2575
FYI: All AIX systems have XLC-FP11 installed (last Thursday)

[2022-06-27 06:24] joeyleeeeeee97 opened #2642 "New Machine requirement: Add docker in perf machines"
I need to request a new machine that support` ci.role.perf and sw.tool.docker`, currently only have [these](https://ci.adoptopenjdk.net/label/sw.tool.docker&&ci.role.perf/)
Please explain what this machine is needed for:
as in this [test](https://github.com/adoptium/aqa-tests/pull/3746), we need to cover a wider range of platforms.

[2022-06-27 16:23] sophia-guo commented on #2251
I thinks it has been done in jenkins script https://github.com/adoptium/aqa-tests/blob/57c4bc2f4907cffdecedbd5387d4e7b6f6a33f9a/buildenv/jenkins/JenkinsfileBase#L854-L859

[2022-06-27 19:09] sophia-guo opened #2643 "jdk11 java/beans/Beans/TypoInBeanDescription.java timeout on test-osuosl-aix715-ppc64-3"
java/beans/Beans/TypoInBeanDescription.java timeout on [test-osuosl-aix715-ppc64-3](https://ci.adoptopenjdk.net/computer/test-osuosl-aix715-ppc64-3)

on passed machine https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5044

- test suite/name?
- Is there an existing issue elsewhere covering this?
- Which machine(s) does it work on? [build-osuosl-aix71-ppc64-2](https://ci.adoptopenjdk.net/co

[2022-06-27 19:20] sophia-guo commented on #2355
jdk_other com/sun/jndi/ldap/LdapPoolTimeoutTest.java failed on test-skytap-ubuntu2004-ppc64le-1 passed on others https://trss.adoptium.net/deepHistory?testId=62b783ac250c3c428c3aaebc

[2022-06-27 21:23] sophia-guo opened #2645 "jdk11 javax/net/ssl/SSLSocket/Tls13PacketSize.java failed on test windows machines test-**-win**"
jdk11 javax/net/ssl/SSLSocket/Tls13PacketSize.java failed on test windows machines and passed on test build machines
https://trss.adoptium.net/deepHistory?testId=62b7b987250c3c428c3c323b

with error message:

[code]

To make it easy for the infrastructure team to repeat and diagnose, please
answer the following questions:

- test suite/name?
- Is there an existing issue elsewhere covering this?
-

[2022-06-27 21:27] sophia-guo commented on #2645
java/nio/file/Files/probeContentType/Basic.java failed with different error message

https://github.com/adoptium/aqa-tests/issues/3594#issuecomment-1103848392

[2022-06-28 09:50] abood640 opened #2647 "Ansible request for <affected product>"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Missing install
- Bug in ansible playbook
- Request for new playbook addition

Details:

[2022-06-28 09:58] abood640 opened #2648 "https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/b528a63ea146080f4bb1430740a734c2af87df7e/PerfNext/public/lib/js/benchmarks.js"
https://github.com/AdoptOpenJDK/openjdk-test-tools/blob/b528a63ea146080f4bb1430740a734c2af87df7e/PerfNext/public/lib/js/benchmarks.js

[2022-06-28 10:15] steelhead31 opened #2650 "Nagios [Epic Task 2]: Tidy Up Existing Nagios Configuration."
As past of issue #2445 we should evaluate the current nagios checks, remove or fix any that are non-functional or no longer required, add any additional checks to address common failures.

Once this is completed, it can be used as the basis of automating the addition of new nagios hosts.

[2022-06-28 10:23] steelhead31 commented on #2650
Current Set Of Checks : 
       1.Network System Time
       2.Check Jenkins Agent Connected
       3.Current Load
       4.Disk Space ROot
       5.PING
       6.RAM
       7.Pending O/S Updates

[2022-06-28 11:36] andrew-m-leonard opened #2651 "test-osuosl-aix72-ppc64-2 possibly low on disk space"
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk19/job/jdk19-aix-ppc64-temurin/14/console
[code]

[2022-06-28 11:48] andrew-m-leonard opened #2652 "System unavailable: test-docker-alpine311-aarch64-1 and test-docker-alpine312-aarch64-1"
https://ci.adoptopenjdk.net/label/ci.role.test&&hw.arch.aarch64&&sw.os.alpine-linux/

[2022-06-28 11:57] Haroon-Khel commented on #2651
Cleared about 20G. Should be fine for now

[2022-06-28 11:57] #2651 closed

[2022-06-28 19:17] sophia-guo commented on #2630
same failure on [test-docker-ubuntu2004-armv7l-2](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2004-armv7l-2/)

[2022-06-28 19:21] sophia-guo opened #2653 "TestJlmRemoteMemoryNoAuth_2 failed on test-sxa-armv7l-ubuntu2004-odroid-1/2"
TestJlmRemoteMemoryNoAuth_2 failed on test-sxa-armv7l-ubuntu2004-odroid-1/2

https://trss.adoptium.net/deepHistory?testId=62b87aaa250c3c428c4576ea

- test suite/name?
- Is there an existing issue elsewhere covering this?
- Which machine(s) does it work on? other than those two problematic ones.
- Which machine(s) does it fail on?  test-sxa-armv7l-ubuntu2004-odroid-1/2
- Do you have a link to a Gri

[2022-06-29 14:30] sophia-guo opened #2654 "ERROR: Cannot delete workspace on https://ci.adoptopenjdk.net/computer/build-azure-win2012r2-x64-2/"
Jenkins jobs failed on build-azure-win2012r2-x64-2 with

[code]

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_2/47/console

Please set the title to indicate the test name and machine name where known.

- test suite/name? Not a test failure. jenkins job failed.
- Is there an existing issue elsewhere covering this?
- Which machine(s) does it work on?
- W

[2022-06-29 15:31] #2591 closed

[2022-06-29 15:34] Haroon-Khel commented on #2654
The .dll file seems to be in use by another process

[code]

[2022-06-29 15:36] Haroon-Khel commented on #2654
<img width="1350" alt="image" src="https://user-images.githubusercontent.com/34969545/176477294-7699b4d1-decf-48bb-80c3-938be981ca9f.png">
@sophia-guo Do you know what the process `jhsdb.exe` is used for?

[2022-06-29 16:13] sophia-guo commented on #2654
I did a search. jhsdb is used by some jdk_tools tests.

[2022-06-29 16:28] #2654 closed

[2022-06-29 18:58] sophia-guo commented on #2363
[security/infra/java/security/cert/CertPathValidator/certification/EntrustCA.java](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_s390x_linux_testList_1/47/testReport/junit/security_infra_java_security_cert_CertPathValidator_certification_EntrustCA/java/EntrustCA/) failed and passed on same docker nodes [test-marist-ubuntu1804-s390x-3](https://ci.adoptopenjdk.net/computer/test-

[2022-06-29 20:42] Haroon-Khel commented on #2635
Reopening as it occurred again. Looking into this

[2022-06-30 06:46] zdtsw commented on #2647
is this a wrongly created issue? you can edit original description with detail requests or can close it if nothing is needed.

[2022-06-30 07:31] #2647 closed

[2022-06-30 07:32] sxa commented on #2642
Which Linux architectures are you looking for specifically?

[2022-06-30 08:00] #2648 closed

[2022-06-30 11:08] tellison commented on #2606
Hmm, I wonder who did that?
We can't move the issues while they are archived, so may need to create new dupes - I only see a couple of issues that remain valid in the new world.

[2022-06-30 11:10] tellison commented on #2549
@sxa Thanks for gathering the info. Please can you set up a call with interested folks to discuss and action this now?

[2022-06-30 12:27] Haroon-Khel commented on #2653
The grinder youve linked shows the test passing on test-sxa-armv7l-ubuntu2004-odroid-1

[2022-06-30 12:33] Haroon-Khel commented on #2653
Rerunning

test-sxa-armv7l-ubuntu2004-odroid-1
https://ci.adoptopenjdk.net/job/Grinder/5061/console

test-sxa-armv7l-ubuntu2004-odroid-2
https://ci.adoptopenjdk.net/job/Grinder/5062/console

[2022-06-30 14:12] sxa commented on #2616
Closing as https://github.com/adoptium/infrastructure/pull/2649 has been merged.

[2022-06-30 14:12] #2616 closed

[2022-06-30 14:49] sxa commented on #2495
This was rebooted in April which would have cleared any locks: https://github.com/adoptium/infrastructure/issues/2493#issuecomment-1097132715

[2022-06-30 14:51] sxa commented on #2487
Added in https://github.com/adoptium/infrastructure/pull/2577 - closing

[2022-06-30 14:51] #2487 closed

[2022-06-30 14:52] Haroon-Khel commented on #2354
This issue is resolved

[2022-06-30 14:52] #2354 closed

[2022-06-30 14:54] sxa commented on #2558
@andrew-m-leonard Can you confirm if you still require this access is still required now that the work in https://github.com/adoptium/temurin-build/issues/2899 is pretty much finished now?

[2022-06-30 14:59] llxia commented on #2251
re https://github.com/adoptium/infrastructure/issues/2251#issuecomment-1167570875, the above code only lists the processes.

[2022-06-30 15:17] sxa commented on #2596
INventory update in as https://github.com/adoptium/infrastructure/pull/2655 - closing.

[2022-06-30 15:17] #2596 closed

[2022-06-30 15:23] smlambert commented on #2354
Would be good to note what actions occurred in order to close this.  From comments, it sounds like the original containers were perhaps disposed of, and new ones created.  Was that ultimately how this was resolved?

[2022-06-30 15:45] Haroon-Khel commented on #2645
Rerunning:

test-azure-win2012r2-x64-1
https://ci.adoptopenjdk.net/job/Grinder/5064/console

test-azure-win2012r2-x64-3
https://ci.adoptopenjdk.net/job/Grinder/5065/console

test-azure-win2016-x64-1
https://ci.adoptopenjdk.net/job/Grinder/5066/console

test-azure-win2019-x64-1
https://ci.adoptopenjdk.net/job/Grinder/5067/console

test-ibmcloud-win2012r2-x64-1
https://ci.adoptopenjdk.net/job/Grinde

[2022-07-01 09:38] #2558 closed

[2022-07-01 11:01] andrew-m-leonard commented on #2635
Cleared, now re-running multiple times to try and force

[2022-07-01 11:02] Haroon-Khel commented on #2635
That's interesting, last week the process that was locking the directory was a `java.exe` process, today's failure was caused by a leftover `sh.exe` process

[2022-07-01 11:03] andrew-m-leonard commented on #2635
The only sh.exe I can see in the log is at the end:
[code]

[2022-07-01 11:32] Haroon-Khel commented on #2645
Failed on test-azure-win2012r2-x64-3 and test-azure-win2019-x64-1. Passed on the rest. Looks to be machine specific

[2022-07-01 15:03] sxa commented on #2501
Private spreadsheet has been shared with relevant parties in order to collate this information

[2022-07-02 05:47] sxa commented on #2108
Ref: https://www.jenkins.io/blog/2022/06/28/require-java-11/

At the time of writing this comment we are on Jenkins 2.332.3

Jenkins 2.357 (June 28, 2022) and the next LTS in September will require Java 11. We area already running under java 11 after a previous upgrade.

Jenkins 2.355 (June 14, 2022) and Jenkins 2.346.1 LTS (released on June 22, 2022) also now formally support being run on java 17

[2022-07-02 06:12] sxa opened #2656 "Potential OSUOSL OpenPower outages this week"
Email from OSUOSL - the likelihood is that it won't cause any problems but I'm logging it here for awareness.

_We need to do some emergency server moves next week starting on Tuesday. This is to help balance the power and cooling in the datacenter where these systems are located. Most of these moves can be done with little to no downtime for users, however there will be some users that will notic

[2022-07-02 06:26] sxa commented on #2640
I'm going to close this and continue any further discussion in [the original issue](https://github.com/adoptium/infrastructure/issues/929) in order to avoid discussion fragmentation/duplication.

I've [got a PR in](https://github.com/adoptium/temurin-build/pull/3019) which will attempt to clear it at the start of each build since the cron job does not appear to be doing an adequate job for some re

[2022-07-02 06:26] #2640 closed

[2022-07-02 06:28] sxa commented on #929
Going to reopen this in place of the new issue https://github.com/adoptium/infrastructure/issues/2640 since the solution has sadly not resolved the original problem in all cases, and it seems to have become more prevelant recently. The [above PR](https://github.com/adoptium/infrastructure/issues/2640) will hopefully help by clearing out all the files at the start of each jenkins build, which will

[2022-07-04 08:26] sxa commented on #929
Ran some tests on Friday by re-running https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-aix-ppc64-temurin/ multiple times in succession (All on https://ci.adoptopenjdk.net/computer/build-osuosl-aix71-ppc64-1). They all failed although not at the same part in the build process

Job | ambiguous redirect file | After what operation
--- | --- |

[2022-07-04 10:46] sxa commented on #2652
@andrew-m-leonard In order to assess the urgency, what is the current impact of this outage?

[2022-07-04 14:44] zdtsw commented on #2610
implemented by https://github.com/adoptium/infrastructure/pull/2618

[2022-07-04 16:12] sxa commented on #2642
Added to the following, which will give ppc64le and armv7l (arm32) coverage. Please re-open if you require more.
- https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-1
- https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-2
- https://ci.adoptopenjdk.net/computer/test-sxa-armv7l-ubuntu2004-odroid-1
- https://ci.adoptopenjdk.net/computer/test-sxa-armv7l-ubuntu2004-odroid

[2022-07-04 16:12] #2642 closed

[2022-07-04 22:30] sxa commented on #929
Three builds of [JDK17u](https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-aix-ppc64-temurin) in a row today without problems after the PR was merged.

Optimistically closing again ...

[2022-07-04 22:30] #929 closed

[2022-07-05 08:47] sxa commented on #2108
Adding this for reference - memory usage chart of jenkins before upgrading to latest LTS today (Currently on `2.332.3` on `Temurin-11.0.15+10`)
![image](https://user-images.githubusercontent.com/6487691/177288655-b0474be1-ccfa-4b9c-8fea-0d825923664a.png)

[2022-07-05 09:32] sxa commented on #2108
NOTE: Jenkins pipeline issue that required `-Dhudson.plugins.git.GitSCM.ALLOW_LOCAL_CHECKOUT=true` is covered in https://github.com/adoptium/ci-jenkins-pipelines/issues/313

[2022-07-05 10:22] sxa commented on #2501
After review today with @karianna and @gdams 19 of the IDs are deletion candidates. Given we are close to the next set of quarterly releases we will not begin removing them yet, but will hold off until after the release cycle.

[2022-07-05 12:02] Haroon-Khel commented on #2623
Rerunning on failed nodes

aarch64

Failed nodes:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5082/console
test-docker-ubuntu1604-armv8l-2

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5083/console
test-docker-ubuntu2004-armv8l-2

Other aarch64 nodes:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5084/console
test-docker-ubuntu2110-armv8l-1

https://ci.adopto

[2022-07-05 12:05] Haroon-Khel commented on #2623
x64

Installed `zip` on test-docker-ubuntu2004-x64-1. Rerunning
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5086/console

[2022-07-05 12:21] Haroon-Khel commented on #2631
Initial suspicion is that this test will fail on docker containers

[2022-07-05 15:16] Haroon-Khel commented on #2623
After installing zip on the aarch64 nodes
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5087/console
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5088/console
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5089/console
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5090/console

[2022-07-05 15:42] Haroon-Khel opened #2658 "Git version 2.11.4 needs to be install as a minimum for tests"
As of https://github.com/adoptium/aqa-tests/pull/3789/files, machines need git version 2.11.4 installed as a minimum, else they will run into this error

[code]
from https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5087/console (updated)

Out of support OSs, like Ubuntu 16, may not be able to install this version of git from its repos, the max Ubuntu16 can install is 2.7 for example. So i

[2022-07-05 16:11] sxa commented on #2108
The other visible impact of this upgrade is more warnings in the log:
[code]
NOTE: Since we have a release due later this month we do not plan to perform any additional maintenance on the jenkins server for the rest of this month.

[2022-07-06 09:40] Haroon-Khel commented on #2658
Wrong link, https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5087/console.
The docker static containers do not have the playbook run on them. Only the test prereqs are installed.

Posting the wrong link threw me off, I think it may just be [test-docker-ubuntu1604-armv8l-2](https://ci.adoptopenjdk.net/search/?q=test-docker-ubuntu1604-armv8l-2) that has an outdated version of git installed.

[2022-07-06 10:19] sxa commented on #2575
[LGTM](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-temurin/92/console) - re-enabled the `build` tags

[2022-07-06 10:19] #2575 closed

[2022-07-06 10:22] karianna opened #2659 "Document Packages in Ansible playbooks and Dockerfiles"
We don't do that for any of the other tools in here, and it's easily findable in the build scripts and used for all builds so i'm not sure what the value is of adding something here (and I guess you'd want it in the other OS files which install it). Surely if we want to go to that level in the playbooks we would want to go through a separate exercise of doing that for every package we use? Plus th

[2022-07-06 10:23] karianna commented on #2659
I think boy/girl scouting here is a good habit to get into and yes I do believe we broadly should comment each package as to why we're adding it :-)

[2022-07-06 12:52] steelhead31 commented on #2650
I've now created this miro board with a much more detailed breakdown of the existing nagios configuration and setup
https://miro.com/app/board/uXjVOoWeavg=/#tpicker-content

[2022-07-06 14:56] Haroon-Khel commented on #2625
Rerunning on test-osuosl-centos74-ppc64le-1

sun/security/pkcs11/fips/TestTLS12.java
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5092/console

sun/tools/jinfo/Basic.sh
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5094/console

[2022-07-06 15:21] Haroon-Khel commented on #2625
Other ppc64 linux machines

sun/security/pkcs11/fips/TestTLS12.java

[test-osuosl-centos74-ppc64le-2](https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-2/)
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5095/console

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5096/console
[test-osuosl-ubuntu1804-ppc64le-2](https://ci.adoptopenjdk.net/computer/test-osuosl-u

[2022-07-06 16:04] Haroon-Khel commented on #2625
Both tests also fail on [test-osuosl-centos74-ppc64le-2](https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-2/)

[2022-07-06 16:23] sxa opened #2661 "Migrate secrets repository from adoptopenjdk to adoptium"
This is a repository that got skipped during the migration. It goes in tandem with this infrastructure repository but requires separate access controls as not all temurin or infrastructure members have access to it.

[2022-07-06 16:43] Haroon-Khel commented on #2643
Rerunning

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5104/console
[test-osuosl-aix715-ppc64-3](https://ci.adoptopenjdk.net/computer/test-osuosl-aix715-ppc64-3/)

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5105/console
[test-osuosl-aix72-ppc64-2](https://ci.adoptopenjdk.net/computer/test-osuosl-aix72-ppc64-2/)

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder

[2022-07-07 09:46] Haroon-Khel commented on #2643
The grinders ran the test for 5 iterations. Only the 1st iteration failed due to time out on test-osuosl-aix715-ppc64-1 and test-osuosl-aix715-ppc64-4, the test passed. Seems intermittent as it did not fail again on test-osuosl-aix715-ppc64-3

[2022-07-07 09:52] Haroon-Khel commented on #2645
Theres still some intermittent behaviour; on test-azure-win2012r2-x64-3 the test passed twice while failed three times. On test-azure-win2019-x64-1 the test failed four times and passed once

[2022-07-07 10:22] Haroon-Khel commented on #2631
java/nio/file/Files/probeContentType/Basic.java

test-docker-fedora34-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5114/console

test-docker-ubuntu2204-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5115/console

test-docker-ubuntu1804-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5116/console

test-docker-ubuntu2004-x64-2
https://ci.adoptopenj

[2022-07-07 10:27] Haroon-Khel commented on #2631
java/net/Inet6Address/B6206527.java.B6206527

test-docker-fedora34-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5120/console

test-docker-ubuntu2204-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5121/console

test-docker-ubuntu1804-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5122/console

test-docker-ubuntu2004-x64-2
https://ci.adoptopenjdk.

[2022-07-07 10:41] Haroon-Khel commented on #2631
java/net/ipv6tests/B6521014.java

test-docker-fedora34-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5126/console

test-docker-ubuntu2204-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5127/console

test-docker-ubuntu1804-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5128/console

test-docker-ubuntu2004-x64-2
https://ci.adoptopenjdk.net/view/Tes

[2022-07-07 10:48] Haroon-Khel commented on #2631
The ipv6 issues are interesting. This is related, https://github.com/adoptium/infrastructure/issues/1105, but I dont think the solution to that issue helps here. The dockerstatic containers do have ipv6 enabled; I added this to the /etc/docker/daemon.json file a while ago:

`{ "ipv6": true, "fixed-cidr-v6": "fd00::/80" }`

I will try creating another fedora container and see if the tests still fai

[2022-07-07 12:28] Haroon-Khel commented on #2631
Created a new fedora34 container [est-docker-fedora34-x64-2](https://ci.adoptopenjdk.net/computer/test-docker-fedora34-x64-2/)

java/nio/file/Files/probeContentType/Basic.java
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5133/console

java/net/Inet6Address/B6206527.java.B6206527
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5135/console

java/net/ipv6tests/B6521014.java
ht

[2022-07-07 13:22] aixtools commented on #2473
Is this resolved (magically perhaps)?

[2022-07-07 14:10] aixtools commented on #2643
I looked at the stderr output - and I cannot help thinking -
- is it java11 only?
- some code optimization for thread handling - is too optimized (see a lot of `- waiting to re-lock in wait()`

[2022-07-07 16:07] Haroon-Khel commented on #2636
Ive switched its java path to /usr/bin/jdk8/bin/java. Theres a nightly test running on it currently,, https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_aarch64_alpine-linux/16/console. I've also kicked off https://ci.adoptopenjdk.net/job/Grinder/5138/console

[2022-07-07 16:17] Haroon-Khel opened #2662 "Problem machines for the upcoming July release"
[test-docker-fedora34-x64-1](https://ci.adoptopenjdk.net/computer/test-docker-fedora34-x64-1/) and (newly created) [test-docker-fedora34-x64-2](https://ci.adoptopenjdk.net/computer/test-docker-fedora34-x64-2/) ref https://github.com/adoptium/infrastructure/issues/2631

The following tests are failing on both -1 and -2. Links are for -2
java/nio/file/Files/probeContentType/Basic.java
https://ci.ado

[2022-07-07 17:49] sophia-guo opened #2663 "[jdk8 - windows64]: some java_util tests failed with `insufficient memory`"
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_x86-64_windows/648/#showFailuresLink

[java/util/stream/test/org/openjdk/tests/java/lang/invoke/SerializedLambdaTest.java.SerializedLambdaTest](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_x86-64_windows/648/testReport/junit/java_util_stream_test_org_openjdk_tests_java_lang_invoke_SerializedLambdaTest/java/Serialize

[2022-07-07 20:41] sophia-guo commented on #2297
https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_ppc64_aix_testList_1/45/ on [test-osuosl-aix72-ppc64-1](https://ci.adoptopenjdk.net/computer/test-osuosl-aix72-ppc64-1)

[2022-07-08 11:56] sxa commented on #2549
Summary of desired respository settings:

Project | Repository | Required reviewers
--- | --- | ---
Adoptium | All | 1
n/a | website-v2 | 1
aqavit | TKG, aqa-tests | 2
aqavit | All others | 1
temurin | jdkXX, temurinXX-binaries, marketplace-data, build-jdk | 1
temurin | temurin-build, ci-jenkins-pipelines, github-release-sciprts, jenkins-helper, mirror-scripts, installer, containers, infrastructur

[2022-07-08 12:25] Haroon-Khel commented on #2663
Util tests look good. The insufficient memory error seems intermittent. The lang test did not run with the above grinders, i'll re run that one now

[2022-07-08 12:29] Haroon-Khel commented on #2663
java/util/stream/test/org/openjdk/tests/java/lang/invoke/SerializedLambdaTest.java

Problem machines:
test-azure-win2012r2-x64-3
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5153/console

test-ibmcloud-win2012r2-x64-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5154/console

Other machines:
test-ibmcloud-win2012r2-x64-2
https://ci.adoptopenjdk.net/view/Test_grinder/job/G

[2022-07-10 13:05] aixtools commented on #2460
Will re-visit soon.

[2022-07-10 13:11] aixtools commented on #1127
iirc: this has been `fixed` upstream - or is meant to be - as official 'skip on AIX' similar to Windows (also skipped).

Not sure if it is also being backported, but seems a good reason to simply add this to the 'skipped' tests file for adoptium testing on AIX. And then this could be closed.

[2022-07-10 13:16] aixtools commented on #2336
afaik - this was fixed, among other things, by #2483

[2022-07-11 10:20] #2336 closed

[2022-07-11 13:21] andrew-m-leonard opened #2664 "C3Jenkins github identity not set for SkaraMirror job commits"
Mirror job commits are identified with "Jenkins master agent replacement"
https://github.com/adoptium/jdk/commits/dev

The previous master node used "adoptopenjdk-github-bot"

[2022-07-11 16:02] sophia-guo commented on #2630
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_aarch64_linux/189/console

[test-docker-ubuntu2004-armv8l-2](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2004-armv8l-2)

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_arm_linux/154/
[test-docker-ubuntu2004-armv7l-2](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2004-armv7l-2)

[2022-07-11 16:07] sophia-guo commented on #2630
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_aarch64_linux/191/console

[test-docker-ubuntu2110-armv8l-1](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2110-armv8l-1)

[2022-07-11 17:25] sxa opened #2666 "Equinix migration to new data centres"
Equinix wish to move us to their new servers and decommission the older instances that had been previously hosted at Packet data centres. The scope for this will be all of the servers that we have hosted with them other than the Ampere Altra systems which are hosted by the "Works On ARM" project. We already have one system that has been migrated, so we already have a second project set up in the E

[2022-07-11 17:37] sxa commented on #2666
Initial thoughts:
- docker-packet-amd-1 and docker-packet-intel-1: Provide direct replacements for both as docker hosts
- ESXi/Solaris and the test-packet-u1604 ones: Two replacement servers running some hypervisor for running "real" VMs (inc. RHEL) with redundancy
- eMag - replace - possibly use in place of the Altra for TC? Is there benefit to having a non-Altra system for general work?
- Decomm

[2022-07-11 18:33] sophia-guo commented on #2597
[build-alibaba-win2012r2-x64-2](https://ci.adoptopenjdk.net/computer/build-alibaba-win2012r2-x64-2/)

two recent builds https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/51/
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/52/

[2022-07-11 18:45] sophia-guo commented on #2448
Same issue happened https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_ppc64_aix_testList_1/38/

[test-osuosl-aix715-ppc64-2](https://ci.adoptopenjdk.net/computer/test-osuosl-aix715-ppc64-2)

[2022-07-11 20:00] jiekang commented on #2549
@sxa will `website-v2` be made "part of" EF like the other repositories?

[2022-07-12 08:20] sxa commented on #2549
There are currently no plans to change it so for now it will remain unique.

[2022-07-12 08:23] sxa commented on #2597
@sophia-guo Can you put that in a separate issue please(possibly https://github.com/adoptium/infrastructure/issues/2209 if you want to re-use one)  as the cause on Linux vs Windows is unlikely to be the same. Thanks.

[2022-07-12 09:14] aixtools opened #2667 "System unavailable: test-osuosl-aix715-ppc-4"
- Please put the system name in the title of this issue.

- Link to any log file showing the problem:

- Please describe the issue: 5 days ago OSUOSL was working on the power distribution and the frame hosting this partition was powered off, perhaps unexpectedly.
- Sadly, /home is corrupt and needs to be rebuilt.
- In progress

[2022-07-12 09:27] sxa commented on #2448
That machine currently has a 31Gb /home with 2.5Gb in use. If it hit an out of space message it would suggest some significant problem occurring during that job (Excessive number or size of core file sizes perhaps?).

If we don't spot the failure it may be worth re-running it with `KEEP_WORKSPACE` in order to determine what is using up space during the execution of that job.

It looks like @aixtoo

[2022-07-12 09:30] aixtools commented on #2667
Repaired (both nodes - ppc64-3 aka adopt07 needed some cleaning of lost+found)

[2022-07-12 11:16] Haroon-Khel commented on #2625
For the sun/tools/jinfo/Basic.sh failure, the following line causes the test to fail
https://github.com/adoptium/jdk8u/blob/a18e9043fa2a0a14098e1ec25d32577aaac6c023/jdk/test/sun/tools/jinfo/Basic.sh#L64

[2022-07-12 12:09] Haroon-Khel commented on #2625
Testing this in a command line environment on a failing machine, test-osuosl-centos74-ppc64le-1:

[code]

While If I use one of the working options:

[code]

[2022-07-12 12:14] Haroon-Khel commented on #2625
I think I've got it. These failing tests are not supposed to run on this machine. For example, on a passing machine, test-skytap-ubuntu2004-ppc64le-1, the `if` statement block which runs these failing tests does not run, https://github.com/adoptium/jdk8u/blob/a18e9043fa2a0a14098e1ec25d32577aaac6c023/jdk/test/sun/tools/jinfo/Basic.sh#L62, since the `$runSA = true` condition is false.

On test-skyta

[2022-07-12 12:24] Haroon-Khel commented on #2625
Setting kernel.yama.ptrace_scope to 1 has fixed this

[jenkins@test-centos74-1 bin]$ /sbin/sysctl -n kernel.yama.ptrace_scope
1
[jenkins@test-centos74-1 bin]$ ./java -jar ../../jtreg/lib/jtreg.jar ../../jdk8u/jdk/test/sun/tools/jinfo/Basic.sh
Test results: passed: 1
Report written to /home/jenkins/jdk8u332-b09/bin/JTreport/html/report.html
Results written to /home/jenkins/jdk8u332-b09/bin/JTwork

[2022-07-12 12:28] Haroon-Khel commented on #2625
Rerunning sun/tools/jinfo/Basic.sh

centos-1
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5170/console
centos-2
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5171/console

[2022-07-13 08:54] aixtools commented on #2448
IMHO - there are so many errors - focusing on this one is a waste of time - more likely an artifact of something else (e.g., 5+ core dumps with core files)

I am more concerned by:

<html><body>
<h1 class="result-failed">Failed</h1><p><span style="font-weight:bold">java/nio/channels/FileChannel/Transfer2GPlus.java.Transfer2GPlus</span>
          (from java_nio_channels_FileChannel_Transfer2GPlus.j

[2022-07-13 09:33] aixtools commented on #2448
p.s.: https://ci.adoptopenjdk.net/job/Test_openjdk17_j9_extended.functional_ppc64_aix/143/ looks stalled - as /tmp had zero (0) bytes free.
[code]
Maybe the run should be aborted - better restarted - now that /tmp has been enlarged to 8GB.

[2022-07-13 10:02] sxa commented on #2664
Should be fixed now - the git didn't have a `user.name` property set (Didn't seem to make much difference what it was set to since the commit messge is back to normal and doesn't match what `user.name` currently is...)

[2022-07-13 10:02] #2664 closed

[2022-07-13 19:15] sophia-guo commented on #2630
If the problem doesn't resolve it will happen at the start cleanup stage , which means job failed before tests are running. Hence tag this with critical as suggested @sxa

[test-docker-ubuntu2004-armv7l-2](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2004-armv7l-2/)

(https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_arm_linux/158/console)

[2022-07-13 19:17] sophia-guo commented on #2662
ERROR: Cannot delete workspace :Malformed input or input contains  unmappable characters https://github.com/adoptium/infrastructure/issues/2630

[2022-07-14 02:13] sophia-guo commented on #2662
[test-azure-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-1/)

`ERROR: Cannot delete workspace :Unable to delete 'D:\jenkins\workspace\Test_openjdk11_hs_sanity.openjdk_x86-64_windows\openjdkbinary\j2sdk-image\lib\modules'. Tried 3 times (of a maximum of 3) waiting 0.1 sec between attempts.`

Recent two run:
https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.o

[2022-07-14 02:49] sophia-guo opened #2669 "javax/net/ssl/SSLSocket/Tls13PacketSize.java failed on test-azure-win2019-x64-1"
javax/net/ssl/SSLSocket/Tls13PacketSize.java failed on test-azure-win2019-x64-1

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0/51/
- test suite/name : javax/net/ssl/SSLSocket/Tls13PacketSize.java
- a link into recent `Test_` job :https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0/51/

- **Hyperlink** to re-run

[2022-07-14 11:56] #2658 closed

[2022-07-14 12:14] sxa commented on #2630
That's interesting ... The default encoding on the first one I checked (the Ubuntu 22.04 machine) is `ANSI_X3.4-1968`
It can be reset either by setting `LANG` in the environment to a suitable `UTF-8` value, or with the `-Dfile.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8` properties mentioned in the article you linked to.

[2022-07-14 13:14] sxa commented on #2630
@sophia-guo Can you see if this is the result of a test that has been unexcluded in the last few months? I want to fix it regardless but it would just be good to know why it's occurred, since it's going to be a bit of work to get this changed on every possible machine.

[2022-07-14 13:33] aixtools commented on #2448
@sophia-guo : you say critical, I say solved.

In short, /tmp at 4G to too small for testing. The others, surprisedly had all been manually set to a larger value - which is why this did not occur on other systems (recently).

imho: this can be closed.

[2022-07-14 13:47] #2448 closed

[2022-07-14 13:55] sxa commented on #2630
Verified that the problem does not occur if I add in the encoding defines to the agent JVM, or if `LANG=C.UTF-8` in the environment. Assuming the latter does not cause any side effects for other tests, that would likely be my preferred solution (It's easy to put in the dockerfiles) but I think in the short term I can look at modifying the jenkins configurations.

It looks like this is only affecti

[2022-07-14 14:25] aixtools commented on #2455
recommend closing. Does not seem to be occurring. Can be reopened if the issue returns.

[2022-07-14 14:27] #1886 closed

[2022-07-14 14:43] sxa commented on #2630
All except [test-docker-alpine314-x64-2](https://ci.adoptopenjdk.net/computer/test%2Ddocker%2Dalpine314%2Dx 64%2D2),  [test-docker-alpine314-x64-1](https://ci.adoptopenjdk.net/computer/test%2Ddocker%2Dalpine314%2Dx64%2D1) [test-docker-alpine311-x64-1](https://ci.adoptopenjdk.net/computer/test-docker-alpine311-x64-1/) should now be ok (Those three currently have jobs running on them so I cannot res

[2022-07-14 14:52] sxa commented on #2623
@sophia-guo You've marked this one as critical but based on Haroon's updates the machines have now been updated - have you seen any occurrences of this in the last week?

[2022-07-14 15:15] Haroon-Khel commented on #2623
And in regards to the 2 failing grinders linked above, 5087 and 5089, that machine has been upgraded to a Ubuntu 2204 machine on which this test has passed

[2022-07-14 15:15] #2563 closed

[2022-07-14 15:16] sxa commented on #2630
Last three done.

[2022-07-14 15:18] sxa commented on #2455
@sophia-guo Have you seen any more occurrences of this recently?

[2022-07-14 15:28] sxa commented on #2658
Related: There is follow-on work occurring to fix this for Solaris: https://github.com/adoptium/infrastructure/pull/2665

[2022-07-14 15:31] Haroon-Khel commented on #2662
That directory is being used by a leftover jcmd.exe process
<img width="921" alt="image" src="https://user-images.githubusercontent.com/34969545/179019832-8e5ebd3c-4970-4dcf-b309-e5cc96ae53f5.png">

https://github.com/adoptium/infrastructure/issues/2635 is related. It is surprising to find that this is occurring on a different machine this time

[2022-07-14 15:40] Haroon-Khel commented on #2635
@sxa ref https://github.com/adoptium/infrastructure/issues/2662#issuecomment-1184587728
Do you think you could add leftover `jcmd` processes to your ProcessCheck job? I see that the job currently stops `java`, `xvfb` and `revokeall` processes

[2022-07-14 15:54] sxa commented on #2635
Done, although had you already cleared it up? https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck/label=test-azure-win2012r2-x64-1/304/console didn't find any ...

[2022-07-14 15:56] Haroon-Khel commented on #2636
The grinder is failing due to `cp: can't preserve ownership of './prog': Operation not permitted` but this is a known issue https://bugs.openjdk.org/browse/JDK-8245748

[2022-07-14 16:07] Haroon-Khel commented on #2662
sun/tools/jinfo/Basic.sh on the 2 ppc64le machines has been resolved, https://github.com/adoptium/infrastructure/issues/2625#issuecomment-1181699740

[2022-07-14 16:09] Haroon-Khel commented on #2635
Yep. I cant see the `jcmd` processes on the machine anymore. Thanks

[2022-07-14 16:16] Haroon-Khel commented on #2663
Lang tests also look good. More evidence towards this being an intermittent error

[2022-07-14 17:19] sophia-guo commented on #2630
[test-docker-fedora35-armv8l-1](https://ci.adoptopenjdk.net/computer/test-docker-fedora35-armv8l-1) is the one without no issue with latest run. Might be helpful to see the configuration or docker files difference. https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_sanity.openjdk_aarch64_linux/129/

[2022-07-14 17:31] sophia-guo commented on #2630
More information about the problematic test java/lang/invoke/lambda/LambdaFileEncodingSerialization.java, which was added specifically to `verifying deserializeLambda containing a non-ASCII mappable char is correctly handled as UTF-8` https://bugs.openjdk.org/browse/JDK-8248231 by @andrew-m-leonard  and then problemlisted on linux-x64 due to https://bugs.openjdk.org/browse/JDK-8249079. ( Note, not

[2022-07-14 18:04] aixtools commented on #2643
- Want to comment: the success is on AIX 7.1 TL4, and failure on AIX 7.1 TL5 - so we may be looking at a threading bug in AIX 7.1 TL5 (as one possible explanation).
- what I also notice: when I rebuilt test-osuosl-aix715-ppc64-2 I did NOT install AIX 7.1 TL5 SP9 (as the other three are) - but it is still on AIX 7.1 TL5 SP6 - again, could be a RTE (e.g., thread library) difference
- test-osuosl-aix

[2022-07-14 20:16] sophia-guo commented on #2455
@sxa Believe no otherwise I will leave a comment. Close it and can be reopened if it returned.

[2022-07-14 20:16] #2455 closed

[2022-07-14 20:24] sophia-guo commented on #2662
[test-azure-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-1/)

https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/647/console

[code]

[2022-07-15 07:41] steelhead31 opened #2670 "Bug in ansible unix playbook for SLES15 SP3 (s390x)"
- Bug in ansible playbook

Details:

Whilst running the ansible playbook for the new SLES15(SP3) server, a number of minor bugs have been identified :

1. Python XML Library Requires Installation
2. Update URL For Dev Tools Package Repo ( For all versions of SLES15 )
3. Update download URL For ZLIB pacakge
4. Add missing unix user groups for zeus & jenkins users
5. Update Memcheck.pl ( Nagios )  c

[2022-07-15 09:08] sxa commented on #2209
As mentioned above the machine is quite low on disk space with 1Gb in `C:` (Although there is around 26Gb on the workspace drive `D:`

[2022-07-15 09:10] sxa commented on #2670
Might be worth testing the playbook on the SLES12 system we have too https://github.com/adoptium/infrastructure/blob/5f7985ba9e6ba8a9c4dd212c451e4fa8dba6e76e/ansible/inventory.yml#L175 to see if that still works :-)

[2022-07-15 09:19] sxa commented on #2630
Since it hasn't been lsited anywhere else in here the grinder recreate options for this are:
- BUILD_LIST=openjdk
- TARGET=jdk_custom
- CUSTOM_TARGET=java/lang/invoke/lambda/LambdaFileEncodingSerialization.java

(Or use TARGET=jdk_lang_0 sine that's the group this test is in)

[2022-07-15 09:52] steelhead31 commented on #2267
Build & Test run of sles 15 node running at https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-linux-s390x-temurin/

[2022-07-15 09:55] sxa commented on #2493
Current offline systems:
- [test-azure-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/test%2Dazure%2Dwin2012r2%2Dx64%2D1/) (Low disk space on C:)
- [test-azure-win2012r2-x64-3](https://ci.adoptopenjdk.net/computer/test%2Dazure%2Dwin2012r2%2Dx64%2D3/) (Low disk space on C:)
- [test-azure-win2019-x64-1](https://ci.adoptopenjdk.net/computer/test%2Dazure%2Dwin2019%2Dx64%2D1/) (Low disk space on

[2022-07-15 09:57] sxa commented on #2662
Fixed as per https://github.com/adoptium/infrastructure/issues/2209#issuecomment-1185341489

[2022-07-15 10:00] sxa commented on #2663
Have they failed at all in your recent runs? May be worth trying again on the machines it's failed on but running with 50 iterations or something like that and see if any of them fail :-)

[2022-07-15 10:10] sxa commented on #2597
NOTE: These machines are likely to be replaced soon as part of #2666

[2022-07-15 10:19] sxa commented on #2666
Note that at the moment [the machines we use for our Linux/x64 performance runs](https://ci.adoptopenjdk.net/label/ci.role.perf&&hw.arch.x86&&sw.os.linux/) are on those bare metal machines. If we switch to a virtualised systems we will need to consider whether they are still suitable

[2022-07-15 10:21] sxa opened #2672 "Regular 504 Timeout errors on jenkins on some operations (e.g. node config updates)"
Seen by myself and @steelhead31 and possibly others (@Haroon-Khel have you been having this regularly too - I know you mentioned timeouts a couple of weeks back)

I'm getting it 100% of the time at the moment when I try to save a node (machine) definition, although it seems to take effect immediately the page continues to spin until it times out. It does not block work from continuing in another b

[2022-07-15 10:29] sxa opened #2673 "Move Marist machines to the self-service provisioning"
To avoid having to go through support for any requests on our Marist systems, they have been trialling a self-service interface for their machines and it is ready to be used as the primary method for provisioning our machines. #2267 has machines which have been provisioned through the new interface and we should start migrating our existing systems across to this too.

The first step will be to en

[2022-07-15 10:31] sxa commented on #2656
Seems to have passed without any notable problems - closing.

[2022-07-15 10:31] #2656 closed

[2022-07-15 10:39] sxa commented on #2626
@gdams This still seems to be happening fairly regularly - what was the latest on the analysis of this?

[2022-07-15 10:43] Haroon-Khel commented on #2493
In [test-azure-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-1/), its C:\Users\jenkins.test-2012r2-1\AppData\Local\Temp directory contains some beefy files. @sxa Have you seen files like these before?
[code]

[2022-07-15 10:45] sxa commented on #2635
Closing as this should be fixed more reliably by including `jcmd` in the [SXA-ProcessCheck job](https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck/) - we can reopen again later if required.

[2022-07-15 10:45] #2635 closed

[2022-07-15 10:45] Haroon-Khel commented on #2493
They were not created recently
[code]

[2022-07-15 10:46] #2610 closed

[2022-07-15 10:47] Haroon-Khel commented on #2493
Same on [test-azure-win2012r2-x64-3](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-3/). Some of these files are more recent than the others

[code]

[2022-07-15 10:48] sxa commented on #2639
I've removed `ci.role.test` from [test-sxa-debian11-riscv64-1](https://ci.adoptopenjdk.net/computer/test%2Dsxa%2Ddebian11%2Driscv64%2D1) as it has an older glibc than the PLCT machines and therefore will not successfully run the tests.

[2022-07-15 10:50] Haroon-Khel commented on #2493
And on [test-azure-win2019-x64-1](https://ci.adoptopenjdk.net/computer/test-azure-win2019-x64-1/)

adoptopenjdk@test-win2019-1 /cygdrive/c/Users/jenkins/AppData/Local/Temp
$ ls -la *.dat
-rwx------+ 1 jenkins None 5368709122 Feb  7 01:57 LargeGatheringWrite3322105129955012357.dat
-rwx------+ 1 jenkins None 5368709122 Feb 20 08:19 LargeGatheringWrite9933378702831300867.dat
-rwx------+ 1 jenkins Non

[2022-07-15 11:03] Haroon-Khel opened #2674 "Large .dat files written to Temp directories (Windows)"
On [test-azure-win2012r2-x64-1](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-1/), [test-azure-win2012r2-x64-3](https://ci.adoptopenjdk.net/computer/test-azure-win2012r2-x64-3/) and [test-azure-win2019-x64-1](https://ci.adoptopenjdk.net/computer/test-azure-win2019-x64-1/) their Temp directories are filled up with large .dat files, whose origin is unknown

[test-azure-win2012r2-x64-

[2022-07-15 11:04] sxa commented on #2587
I'm going to close this on the basis that the reproducible build changes are being backported to 17, but not 18, so there will be no requirement for this version.

[2022-07-15 11:04] #2587 closed

[2022-07-15 11:09] zdtsw commented on #2674
can open these .dat files and see what's inside ? maybe can find out which program generated these files on windows?

[2022-07-15 11:13] Haroon-Khel commented on #2674
Nothing seems to open it. `cat`ing it on the command line reveals what looks like a binary file?

[2022-07-15 11:48] Haroon-Khel commented on #2631
Rerunning the tests on our other fedora boxes:

[test-docker-fedora35-x64-1](https://ci.adoptopenjdk.net/computer/test-docker-fedora35-x64-1/) :

java/nio/file/Files/probeContentType/Basic.java
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5201/console

java/net/Inet6Address/B6206527.java.B6206527
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5202/console

java/net/ipv6test

[2022-07-15 11:57] Haroon-Khel commented on #2631
Newly created https://ci.adoptopenjdk.net/computer/test-docker-fedora36-x64-1/

java/nio/file/Files/probeContentType/Basic.java
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5207/console

java/net/Inet6Address/B6206527.java.B6206527
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5208/console

java/net/ipv6tests/B6521014.java
https://ci.adoptopenjdk.net/view/Test_grinder/job/

[2022-07-15 12:16] Haroon-Khel commented on #2631
The ipv6 tests pass on the f35 containers but fail on the f36 one. This may be due to the dockerhost of the f36 container, https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-amd-1/ while the former containers are on https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-intel-1/. I'm going to build an f36 container on the latter dockerhost to test

[2022-07-15 12:24] Haroon-Khel commented on #2631
Created another f36 container https://ci.adoptopenjdk.net/computer/test-docker-fedora36-x64-2/, on https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-intel-1/

Rerunning tests, I expect Basic to still fail. Ive installed `mailcap` which creates the /etc/mime.types file which the test needs but I dont think this allows the test to pass:

java/nio/file/Files/probeContentType/Basic.java
ht

[2022-07-15 12:43] Haroon-Khel commented on #2631
Ipv6 test pass when the docker container is on https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-intel-1/, so theres a difference in docker ipv6 config between the two dockerhost machines

[2022-07-15 12:49] Haroon-Khel commented on #2631
On the failing fedora machines, the failure lies here:

https://github.com/adoptium/jdk8u/blob/a18e9043fa2a0a14098e1ec25d32577aaac6c023/jdk/test/java/nio/file/Files/probeContentType/Basic.java#L45 creates a html file, but when its 'type' is tested here https://github.com/adoptium/jdk8u/blob/a18e9043fa2a0a14098e1ec25d32577aaac6c023/jdk/test/java/nio/file/Files/probeContentType/Basic.java#L118, inst

[2022-07-15 12:59] sophia-guo commented on #2636
Thanks @Haroon-Khel!

[2022-07-15 12:59] #2636 closed

[2022-07-15 13:15] andrew-m-leonard opened #2675 "Need a Windows 2012r2 machine for Reproducible build testing"
To test full reproducible jdk-20 Winx64 builds, I need to do an equivalent 3rd party reproducible build comparison, so need a test machine I can setup to do a build please...

[2022-07-15 13:16] andrew-m-leonard commented on #2675
@sxa has provided me a machine, thanks!

[2022-07-15 13:27] sxa commented on #2675
Machine is a `B4s` spec called `andrew-repro-test` in the Azure portal and Andrew has been provided with the credentials for his exclusive use.

[2022-07-15 13:46] sxa commented on #2493
Almost certainly from test cases. There are definitely ones that create files of that sort of size outside the workspace (See https://github.com/adoptium/infrastructure/issues/2448 for an issue with that on AIX when `/tmp` was too small - the directory you're looking at is the equivalent of `/tmp` for windows.

[2022-07-15 13:49] sxa commented on #2674
TL;DR - They will be safe to delete.

They'll be from one of the tests in the extended.openjdk suite. See https://github.com/adoptium/infrastructure/issues/2448 for comparison where an AIX machine's `/tmp` needed to be expanded. The file name format looks similar so it's likely the same test that's causing it here, and for whatever reason (aborts maybe?) it occasionally hasn't cleared up after its

[2022-07-15 16:10] Haroon-Khel commented on #2631
Cannot seem to get the Basic test to pass on Fedora. The following is a basic java file which zones in on what is causing this error, where foo.html is an html file.

[code]
On fedora it returns `application/x-zerosize`. I tested it with a basic plain text file and it still returned `application/x-zerosize`. However on the same Fedora machine, if I use `file` to detect filetypes it returns:
[code]

[2022-07-15 16:33] Haroon-Khel commented on #2662
Machines that are still problematic:

**Any fedora dockerstatic container**. ref https://github.com/adoptium/infrastructure/issues/2631, any fedora container on https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-intel-1/ will pass ipv6 tests while those on https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-amd-1/ will fail them. The difference needs to be investigated.
I cant

[2022-07-17 18:05] sophia-guo commented on #2630
[test-docker-ubuntu2004-armv7l-1](https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2004-armv7l-1/) still have same issues. Last Friday July15 's run
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_arm_linux/160/console

[2022-07-18 09:51] andrew-m-leonard commented on #1270
This is a potential problem for "reproducible builds", as any difference in compiler, even a minor build version, introduces binary differences... Without the exact same build level of VisualStudio, you cannot reproduce a build.

@gdams fyi

[2022-07-18 09:54] gdams commented on #1270
@andrew-m-leonard take a look at how it's done at the OpenJDK project (https://github.com/openjdk/jdk/blob/87340fd5408d89d9343541ff4fcabde83548a598/.github/workflows/build-windows.yml#L100)

Essentially we need to set a specific version of msvc toolset and we should then have identical compiler levels on all windows machines.

[2022-07-18 10:26] steelhead31 opened #2676 "Ansible Change : remove extraneous versions of python from Solaris Machines."
Following the upgrade of GIT on the solaris servers, there are at least 2 versions of python 2 present. An investigation into whether both are required, or whether the latest version can be kept , and the earlier version(s) removed needs to be carried out.

[2022-07-18 12:16] Haroon-Khel commented on #2625
On a passing machine, the value for [sunPKCS11NSSProvider](https://github.com/adoptium/jdk8u/blob/a18e9043fa2a0a14098e1ec25d32577aaac6c023/jdk/test/sun/security/pkcs11/fips/TestTLS12.java#L417) is null, causing the test to skip. While on our 2 failing machines, this value is `SunPKCS11-NSSKeyStore version 1.8`

[2022-07-18 12:18] Haroon-Khel commented on #2625
Of the passing machines in https://github.com/adoptium/infrastructure/issues/2625#issuecomment-1176356298, the test skips

[2022-07-18 13:44] sxa commented on #2630
https://ci.adoptopenjdk.net/computer/test%2Ddocker%2Dubuntu2004%2Dx64%2D1/log also needs a restart but is currently running a test (https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.system_x86-64_linux/192/) so I'll restart that one later.

[2022-07-18 18:39] andrew-m-leonard commented on #1270
@gdams this seems problematic, I am guessing Microsoft applies fix updates to previous versions, and the vs_installer will only download the latest "fix update"?
So although we want say "14.27.111", it will only install the current "14.27.120".

[2022-07-18 18:51] sxa commented on #1270
@andrew-m-leonard To confirm here, you were getting different (non-reproducible) output even when  ubilding with different fix updates right?

[2022-07-19 03:53] sophia-guo commented on #2623
No, I didn't see this issue during the recent run. As we do know the quick fix it should not be critical. Close it and can reopen if happens again.

[2022-07-19 03:53] #2623 closed

[2022-07-19 10:48] aixtools commented on #2297
a) This issue (Ansible request) - asis - can be closed, as it is not the problem (AIX X11 configuration).
b) perhaps a new issue needs to be opened to 'triple' verify there are no other X11 vfb processes running - and/or - adopt my earlier PR that randomizes the port number so that _in principle_ multiple runs could be performed.

In any case - this is not related to ansible playbooks and the issu

[2022-07-19 12:30] Haroon-Khel commented on #2631
I think installing `shared-mime-info` seemed to do the trick, rerunning on https://ci.adoptopenjdk.net/computer/test-docker-fedora36-x64-2/

[2022-07-19 14:16] steelhead31 opened #2677 "Upgrade SLES12 Test Server From SLES12_SP3 to SLES12_SP5"
Issues are now occuring when trying to keep SLES12_SP3 up to date.  It is now required to upgrade the SLES12 test server from SLES12_SP3 to SLES12_SP5 , so as to support the newer , more secure versions of SSL, particularly the TLS1.3 standard.

[2022-07-19 16:10] andrew-m-leonard commented on #1270
Maybe as part of provisioning a new MSVC "update" to all Windows machines we create a network offline copy of the exact same version: https://docs.microsoft.com/en-us/visualstudio/install/create-a-network-installation-of-visual-studio?view=vs-2022
This can then be used on another Windows box to install the exact same level.

[2022-07-19 16:17] andrew-m-leonard commented on #1270
@sxa do we have any infrastructure "archive" space where we could potentially store caches of "MSVC network installer layouts". Which could then be remotely accessed maybe from an ansible task to setup a new Windows node?

[2022-07-19 16:27] Haroon-Khel commented on #2662
I was able to get java/nio/file/Files/probeContentType/Basic.java to pass on our fedora boxes, see https://github.com/adoptium/infrastructure/issues/2631#issuecomment-1188992683, however I have not solved the failing ipv6 tests on fedora containers hosted on https://ci.adoptopenjdk.net/computer/docker-packet-ubuntu2004-amd-1/.

And sun/security/pkcs11/fips/TestTLS12.java continues to fail on test-

[2022-07-19 17:18] sxa commented on #1270
Potentially (we already do so for gcc), although as mentioned elsewhere we need to determine if it can be a public space or if that would have any problems relating to the product license.

[2022-07-19 18:03] andrew-m-leonard commented on #1270
Yeah, I think the Scope of License section probably prohibits that: https://visualstudio.microsoft.com/license-terms/mlt031819/

[2022-07-19 19:17] sxa commented on #1270
We can do it regardless, but we'll need to make the playbooks account for the situation where they can't access our "secret" cached copies (EIther by doing what it does now or requiring the user to install one manually outside the playbooks...)

Based on that document, will a fixed version of the bootstrapper be adequate? I *REALLY* want to avoid having a windows machine dedicated to hosting VS ve

[2022-07-19 19:20] andrew-m-leonard opened #2680 "jdk17u reproducible build node JDK17_BOOT_DIR needs to be at least jdk-17.0.3 to support jar --date option"
To enable jdk17u reproducible builds, if a node has JDK17_BOOT_DIR set, it must be at least jdk-17.0.3.
Most seem to be jdk-17+35.

[2022-07-20 12:58] sophia-guo opened #2682 "aarch64 mac jdk11/18 : jdk_nio consistently failed on test-macstadium-macos11-arm64-2"
aarch64 mac jdk11 : jdk_nio consistently failed on test-macstadium-macos11-arm64-2

- test suite/name : jdk_nio
- a link into recent `Test_` job on [Test_openjdk11_hs_extended.openjdk_aarch64_mac_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_aarch64_mac_testList_0/18/)
- **Hyperlink** to re-run in Grinder: [rerunLink](https://ci.adoptopenjdk.net/job/Grinder/parambu

[2022-07-20 12:59] sophia-guo commented on #2682
@sxa @Haroon-Khel

[2022-07-20 13:22] smlambert commented on #2682
Added link above, and here [Rerun Failed target in Grinder on same machine](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=&TARGET=jdk_nio&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk11_hs_extended.openjdk_aarch64_mac&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%3Amaster&OPENJ9_SYSTEMTEST_OWNER_BRANCH=eclipse%3Amaste

[2022-07-20 13:45] sophia-guo commented on #2682
@sxa not critical. Just a note might hit the same issue for other release version.

[2022-07-20 15:07] sophia-guo commented on #2630
test-docker-ubuntu2004-armv7l-1 still has the issue
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_arm_linux/162/console

[2022-07-20 15:39] sxa commented on #2682
Agreed. Although I think it's best that we take that penalty for this cycle and re-run as Grinders if required given the limited number of systems we have just now.

[2022-07-21 11:34] Haroon-Khel commented on #2625
The test skips on passing machine because https://github.com/adoptium/jdk8u/blob/3dca446d440e55cbb7dc3555392f4520ec9ff3bc/jdk/test/sun/security/pkcs11/SecmodTest.java#L45 returns false due to not being able to find `libsoftokn3.so`, while the failing centos machines have this library installed, and so the test will run on these machines and subsequently fail.
However, on [test-skytap-ubuntu2004-pp

[2022-07-25 16:59] sophia-guo opened #2687 "JDK8 arm32 tests failed with `fatal error`"

[2022-07-27 16:17] sophia-guo opened #2683 "Tests jenkins jobs failed with `11:55:29 git clone -q git@github.com:adoptium/TKG.git 11:55:29 Host key verification failed` on arm32"
Tests jenkins jobs failed with `11:55:29  git clone -q git@github.com:adoptium/TKG.git 11:55:29  Host key verification failed` on arm32
https://ci.adoptopenjdk.net/job/Grinder/5307/console
https://ci.adoptopenjdk.net/job/Grinder/5302/
https://ci.adoptopenjdk.net/job/Grinder/5308/
https://ci.adoptopenjdk.net/job/Grinder/5309/

[code]

- test suite/name (e.g, BUILD_LIST, TARGET, CUSTOM_TARGET)? buil

[2022-07-27 19:07] sophia-guo commented on #2683
@sxa, could you take a look at this? All arm32 are affected

[2022-07-28 12:56] sxa commented on #2683
Those jobs have been run from a fork/branch which has [this change](https://github.com/sophia-guo/openjdk-tests/commit/53fb6f679b4a8b435e3ad1cd190e5f13fad2a258#diff-a6244f4c0516045b2cf1080cc973da3b4cb0443668d531e34befb21fc55f6a4e) in it which causes the clones of TKG etc. to be attempted over ssh instead of https. Switching it back to https will resolve this.

[2022-07-28 12:56] #2683 closed

[2022-07-29 19:50] sophia-guo opened #2684 "jdk8 jdk_jfr 313 tests failed on test-docker-ubuntu2004-armv7l-3"
jdk8 jdk_jfr_2 313 tests failed with crash on test-docker-ubuntu2004-armv7l-3

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_arm_linux_testList_1/47/#showFailuresLink
Grinder: https://ci.adoptopenjdk.net/job/Grinder/5324/#showFailuresLink

- test suite/name (e.g, BUILD_LIST, TARGET, CUSTOM_TARGET)? jdk_jfr_2
- a link into recent `Test_` job on https://ci.adoptopenjdk.net which

[2022-07-29 19:52] sophia-guo commented on #2684
Crash

[code]

[2022-08-01 13:40] aixtools commented on #2643
Did this _go away_?

[2022-08-02 10:12] sxa opened #2685 "System unavailable: build-ibmcloud-win2012*"
- Please put the system name in the title of this issue.

- Link to any log file showing the problem:

- Please describe the issue: Offline in jenkins. Cannot RDP to them.

[2022-08-02 10:13] sxa opened #2686 "System unavailable: build-azure-win2012-x64-1"
- Please put the system name in the title of this issue. https://ci.adoptopenjdk.net/computer/build-azure-win2012r2-x64-1/

- Link to any log file showing the problem: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-temurin/123/console

- Please describe the issue:
[code]

[2022-08-02 10:36] Haroon-Khel commented on #2686
The problem directory was manually cleared

[2022-08-02 10:46] sxa commented on #2686
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-temurin/124/console is looking ok - closing.

[2022-08-02 10:46] #2686 closed

[2022-08-02 14:14] aixtools commented on #2436
What I was working on in January has been merged or fixed elsewhere.

Closing this as no longer relevant.

[2022-08-02 14:14] #2436 closed

[2022-08-02 14:19] aixtools commented on #2634
This also needs a rework as IBM AIXToolbox is now promoting **DNF** over **YUM**. Lots of testing required to catch the differences of:
- has yum, update to dnf
- no yum, install dnf
- Does OS version make a difference. i.e., can tasks that assign XXX_repo be deleted?

[2022-08-02 19:55] sophia-guo commented on #2687
- test suite/name : hotspot_jre ( could be jdk_io, jdk_nio, jdk_jfr, jdk_net)
- **Hyperlink** to re-run in Grinder: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=customized&TARGET=testList+TESTLIST=hotspot_custom_2&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk8_hs_extended.openjdk_arm_linux&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWN

[2022-08-02 19:56] sophia-guo commented on #2687
https://github.com/adoptium/aqa-tests/issues/3880

[2022-08-03 21:09] sophia-guo opened #2688 "Installer jobs failed on docker-marist-ubuntu1604-s390x-1"
Installer jobs failed on docker-marist-ubuntu1604-s390x-1

[code]
https://ci.adoptopenjdk.net/view/work-in-progress/job/adoptium-packages-linux-pipeline/143/console

Passed on https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1804-s390x-1/
https://ci.adoptopenjdk.net/view/work-in-progress/job/adoptium-packages-linux-pipeline/145/

Debian s390x intaller jobs expect running on https://ci.adopto

[2022-08-05 11:46] Haroon-Khel opened #2689 "Test/deploy SLES12 SP5 Dockerstatic container"
Experiment with testing and deploying SLES dockerstatic containers; 12 SP5 and 15

[2022-08-05 14:08] Haroon-Khel commented on #2689
For SLES12:

- Base image found at registry.suse.com/suse/sles12sp5:latest
- YaST repo found at https://download.opensuse.org/repositories/YaST:/SLE-12:/SP5/SLE_12_SP4/
- No openSUSE devel repo (needed for most packages)

[2022-08-05 14:25] Haroon-Khel commented on #2689
SLES12:

- Found http://download.opensuse.org/distribution/12.3/repo/oss/, however the gpg key is expired
[code]

[2022-08-09 14:03] sxa commented on #2689
FYI I have an s390x dockerhost system now available at 148.100.74.237 which we can set up and put some systems on. It only has eight cores so I don't want to load it up too heavily but it means we can start trying some test-docker systems on Linux/s390x now too.

[2022-08-10 09:44] sxa opened #2692 "VagrantPlaybookCheck fails after build phase when testing java 8"
Presumably trying to use a java 8 to run something that requires a later version e.g. from https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/OS=Ubuntu1604,label=vagrant/1492/console :
[code]

[2022-08-10 11:24] sxa commented on #2673
I'm going to use this as a conclusive verification of a number of other infrastructure PRs that we have in flight just now, so I won't run the playbooks until after they are merged:
- https://github.com/adoptium/infrastructure/pull/2691
- https://github.com/adoptium/infrastructure/pull/2394

[2022-08-10 13:47] sxa opened #2693 ""Ansible Playbook / macOS" github check failing for all PRs"
Ref: https://github.com/adoptium/infrastructure/runs/7750861675?check_suite_focus=true
[code]

[2022-08-10 13:48] sxa opened #2694 ""Vagrant Playbook Checker / Solaris" github check failing for all PRs"
Sample check link: https://github.com/adoptium/infrastructure/runs/7750861669?check_suite_focus=true
[code]

[2022-08-10 15:25] smlambert opened #2695 "find missing option on Solaris machine build-siteox-solaris10u11-sparcv9-1"
[build-siteox-solaris10u11-sparcv9-1](https://ci.adoptopenjdk.net/computer/build-siteox-solaris10u11-sparcv9-1)

find -path option on solaris is missing

[code]

Details:
See https://ci.adoptopenjdk.net/job/Grinder/5391/

Will add more details shortly (rerun link was not posted as the job fails before it gets created).

[2022-08-10 15:41] sxa commented on #2695
This would be better fixed by using standard POSIX commands. I'll prep a PR for get.sh

[2022-08-10 17:27] sxa commented on #2689
We may have to just stick to the licensed "real" SLES systems for now sine they should have most of the tools in the default repositories. We could see if we can create an image from the opensuse repository at `opensuse/leap`

[2022-08-11 07:41] sxa commented on #2388
Replacement `dockerhost` system running Ubuntu 22.04 which has been created as part of https://github.com/adoptium/infrastructure/issues/2673 will be suitable for this task.

[2022-08-11 10:55] Haroon-Khel commented on #2689
I'll run the dockerhost playbook on the new SLES dockerhost system and see if I can setup a sles12 dockerstatic container on it

[2022-08-11 17:07] Haroon-Khel commented on #2689
ref https://github.com/adoptium/infrastructure/pull/2696

Got a draft pr in for the dockerfiles required for sles 12 and 15. I've got a sles15 box running on 148.100.74.237 but I cannot get it to connect to jenkins. I think it might either be a firewall issue on the dockerhost or ssh isn't working correctly on the dockerstatic container https://ci.adoptopenjdk.net/computer/test-docker-sles15-s390x

[2022-08-11 17:10] Haroon-Khel commented on #2689
This should be find for sles15 (opensuse/leap), but for sles 12 there are no default repos which come with the image:

[code]
Haven't looked too deeply into what `container-suseconnect-zypp` is though, but I do not think it is a repo https://github.com/SUSE/container-suseconnect

[2022-08-16 12:24] Haroon-Khel commented on #2689
It is most definitely related to the fact that I can't get the ssh service to start using the same method as the other dockerstatic containers

[code]
As suggested by most sles guides, i'm trying to use firewalld to enable ssh

[code]
Yet ssh connections are still refused.

The container is able to connect to jenkins via `Launch agent by connecting it to the controller`
https://ci.adoptopenjdk.net

[2022-08-16 14:50] Haroon-Khel opened #2697 "VPC - Upgrade Ubuntu2104 to Ubuntu2204"
The VPC for ubuntu 2104 keeps failing https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Ubuntu2104,label=vagrant/1500/console

[code]

We should look at upgrading this box to Ubuntu 22.04 LTS

[2022-08-17 12:10] Haroon-Khel commented on #2673
For future reference before syncing inventories in awx you have to update the project source first in order for awx to have the latest inventory file. I assumed the syncing inventory process automatically pulled the latest inventory file.

Running https://awx2.adoptopenjdk.net/#/jobs/playbook/137?job_search=page_size:20;order_by:-finished;not__launch_type:sync on test-marist-rhel8-s390x-2 as a pre

[2022-08-17 15:24] Haroon-Khel commented on #2673
Failed at the installation of `systemtap-sdt-devel`

I've created a new job in awx which I can use for debugging/testing. It deploys my own branch, https://github.com/Haroon-Khel/openjdk-infrastructure/tree/awx.debug, which so far the only change is `systemtap-sdt-devel` commented out

https://awx2.adoptopenjdk.net/#/jobs/playbook/143?job_search=page_size:20;order_by:-finished;not__launch_type:syn

[2022-08-17 15:34] Haroon-Khel commented on #2673
test-marist-rhel8-s390x-2 is actually a SLES15 machine

[code]

And test-marist-sles15-s390x-2 is Rhel 8
[code]

[2022-08-17 15:51] Haroon-Khel commented on #2673
Failed at downloading Ant

[code]

[2022-08-18 01:45] llxia opened #2781 "TRSS node offline on Jenkins due to low disk space"
https://ci.adoptopenjdk.net/computer/trss-node/
<img width="1294" alt="image" src="https://user-images.githubusercontent.com/19273206/185273814-fc5641b0-1577-44a5-bdb6-fa622b25ec04.png">

[code]

[2022-08-18 07:48] sxa commented on #2673
Presumnably that's only on a subset of the OSs?

[2022-08-18 15:25] sxa opened #2700 "Ansible request for RHEL7 docker install"
- Bug in ansible playbook

Details: The docker role does not work on RHEL7. The following failure was from an s390x system - unclear if it is across architectures:
[code]
Note tgat in the error message `https://download.docker.com/linux/rhel/docker-ce.repo` is a file, not a directory, so it is likely that it is simply being referenced wrongly for some reason.

[2022-08-18 15:30] sxa commented on #2673
Tried [deploying to just the RHEL79 build machines](https://awx2.adoptopenjdk.net/#/jobs/playbook/151) - hit https://github.com/adoptium/infrastructure/issues/2700
Tried [deploying to test-marist-ubuntu2204](https://awx2.adoptopenjdk.net/#/jobs/playbook/153) system - failed because [gcc7 PR](https://github.com/adoptium/infrastructure/pulls) has not yet been merged
Tried [deploying to the RHEL79 bu

[2022-08-19 09:38] sxa opened #2702 "Ansible request for avoiding 31/32-bit package installs on RHEL8 (s390x as a minimum)"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details: Playbook fails on RHEL8/s390x - we should have no need for the 31-bit support on z so this can probably be removed.
[code]

[2022-08-19 16:01] sxa opened #2703 "New Machine requirement - Windows with repeatable VS2019"
I need to request a new machine:

- New machine operating system (e.g. linux/windows/macos/solaris/aix): Windows
- New machine architecture (e.g. x64/aarch32/arm32/ppc64/ppc64le/sparc): x64
- Provider (leave blank if it does not matter):
- Desired usage: Install with a fixed version of Visual Studio 2019 in order to verify reproducibility of builds
- Any unusual specification/setup required: VS201

[2022-08-22 12:48] Haroon-Khel opened #2704 "MacOS 10.15 PR workflow failing when installing ccache"
[code]

[2022-08-23 16:49] sxa commented on #2673
This is specific to SLES15. It is installed on the `-1` sles15 machine so it's not entirely clear why this message is appearing on the other machines, unless it was bypassed . `libc.so.6` is on the machine:

[code]

[2022-08-23 16:59] sxa commented on #2673
`test-marist-ubuntu-1804-s390x-` systems `1` and `2` had these entries in `/etc/hosts`:
[code]
This was preventing them from updating themselves - presumably implemented to bypass a temporary problem at some point - the date stamp on the file was:
[code]
I've commented those lines out of both machines now which should avoid this problem:
[code]

[2022-08-23 17:03] sxa opened #2705 "UnixPB: Ansible request for JDK install role"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details:
If there are multiple matches in /usr/lib/jvm then ansible fails to create the appropriate symbolic link e.g.
[code]
Results in `fatal: [test-marist-ubuntu1804-s390x-3]: FAILED! => {"changed": false, "msg": "src file

[2022-08-24 03:31] sophia-guo commented on #2688
still happened:

https://ci.adoptopenjdk.net/view/work-in-progress/job/adoptium-packages-linux-pipeline/154/consoleFull
https://ci.adoptopenjdk.net/view/work-in-progress/job/adoptium-packages-linux-pipeline/156/consoleFull

[2022-08-24 11:11] zdtsw commented on #2693
slack thread relate to this issue: https://adoptium.slack.com/archives/C53GHCXL4/p1655203667404569

[2022-08-24 12:00] sxa commented on #2673
`sles12-2` was missing the AWX ssh key - now fixed so that should work now.
RHEL8 looks to be trying to install some of the 31-bit (`s390`) packages which we probably don't need.

[2022-08-24 15:37] steelhead31 commented on #2673
@sxa want me to pick up the systemtap-sdt-devel on test-marist-ubuntu-1804-s390x-1 ?

[2022-08-24 15:41] sxa commented on #2673
Sure - please co-ordinate with Haroon in slack.

[2022-08-24 15:42] Haroon-Khel commented on #2673
That would be helpful @steelhead31 Thanks

[2022-08-24 16:38] Haroon-Khel commented on #2700
I think changing the repo url to `https://download.docker.com/linux/rhel/7/stable/` looks like it might work

[2022-08-24 16:49] Haroon-Khel commented on #2700
Running on build-marist-rhel79-s390x-2 (no docker installed)
https://awx2.adoptopenjdk.net/#/jobs/playbook/199?job_search=page_size:20;order_by:-finished;not__launch_type:sync

[2022-08-24 17:07] sxa commented on #2700
LGTM assuming it's done what it claims to have!

[2022-08-24 17:10] Haroon-Khel commented on #2700
Pr is in https://github.com/adoptium/infrastructure/pull/2707

[2022-08-24 20:02] gdams opened #2708 "Ansible request for Windows arm64 test hosts (Azure)"
I have enabled the public preview for arm64 on our Azure account and will provision two test machines to re-enable the Windows aarch64 builds.

[2022-08-24 20:30] gdams commented on #2708
I have provisioned test-azure-win11-aarch64-1 and added credentials to the secrets repo. I'll begin running the ansible playbook and add it to Jenkins once it's completed.

[2022-08-25 09:23] gdams commented on #2708
https://ci.adoptopenjdk.net/computer/test-azure-win11-aarch64-1/ has been connected to Jenkins

[2022-08-25 09:24] gdams commented on #2708
Triggered https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/486/ as a test build

[2022-08-25 11:02] sxa commented on #2673
[Ubuntu 22.04 looking happier](https://awx2.adoptopenjdk.net/#/jobs/playbook/237) now that https://github.com/adoptium/infrastructure/pull/2691 is merged.

[2022-08-25 11:07] sxa opened #2709 "Ansible request for `adopt_etc` `ansiblerun.log` to work"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details: We have some provisional code to try and log when the ansible playbooks are run. Ideally this should include:
- Start time
- Completion times (if it finishes - the absence of a finish time should indicate failure of

[2022-08-25 11:32] sxa commented on #2703
Created base VM (2 core, 4GB...) as build machine 3 at 20.117.181.17 for the purposes of testing this

[2022-08-25 12:06] Haroon-Khel opened #2710 "Ansible request for: Install Docker on Rhel8"
ref https://github.com/adoptium/infrastructure/pull/2707#pullrequestreview-1085292551

The Unix playbook does not currently support installing docker onto Rhel8.

Side task, merge the separate tasks which install docker onto RHEL s390x and x64 into one task

[2022-08-25 13:10] steelhead31 commented on #2673
The sles15 playbooks run better using python 3 as the ansible\_python\_interpreter ( which can be specified in the inventory ), and also an issue with the ipv6 configuration on test-marist-sles15-s390x-2 has been resolved by disabling ipv6 as shown below.

[code]

[2022-08-25 13:21] sxa opened #2711 "Ansible request for directory creation on Windows"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details:
Windows playbooks utilise but do not create `c:\temp` which is required for some playbook roles and it is not on all machines by default. Similarly `c:\openjdk` which is required when creating the symbolic links with

[2022-08-25 13:51] Haroon-Khel commented on #2700
Can be closed as the pr is merged

[2022-08-25 13:51] #2700 closed

[2022-08-25 14:31] zdtsw commented on #2704
still have not been able to identify what exactly caused the problem.
only trace back the first time we saw this was from 11th Aug, the run from o10th Aug was still fine.

[2022-08-25 14:54] sxa commented on #2709
See also https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/1518/OS=Ubuntu2004,label=vagrant/consoleFull for a verbose debug run with some extra options

[2022-08-26 07:19] zdtsw commented on #2693
tested in draft run https://github.com/adoptium/infrastructure/runs/8031345539?check_suite_focus=true
job failed in a different step which related to: https://github.com/adoptium/infrastructure/runs/8031345539?check_suite_focus=true
install adoptopenjdk10 works
![Screenshot from 2022-08-26 09-17-45](https://user-images.githubusercontent.com/915053/186845173-3be64f06-1bcf-42b1-9404-a0532a4fe745.png

[2022-08-26 07:22] zdtsw commented on #2704
Seems, from test run, not only happens on "ccache"
when I commented out block "ccache"
![Screenshot from 2022-08-26 09-20-42](https://user-images.githubusercontent.com/915053/186845703-baac4af2-8073-4751-a1f7-9c2198c808e9.png)

[2022-08-26 08:02] zdtsw opened #2715 "Upgrade macos-10.15 in GH action to macos-11/macos-latest due to deprecation"
As stated in:  https://github.com/actions/runner-images/issues/5583
Also, we started to see issue when running ansible on macos10.15 GH action checks , e.g https://github.com/adoptium/infrastructure/issues/2704 about 10 days ago

[2022-08-26 09:40] zdtsw commented on #2704
i think when upgrade to macos-11 this work

[2022-08-26 13:35] steelhead31 commented on #2694
Messaged George in slack, about adding the Solaris10 vagrant box to whichever runner(s) run the github action.

the github action Vagrant Playbook Checker / Solaris (pull_request) is constantly failing with the following error :-
Bringing machine 'adoptopenjdkSol10' up with 'virtualbox' provider...
==> adoptopenjdkSol10: Box 'solaris10' could not be found. Attempting to find and install...
    ado

[2022-08-26 13:57] sxa commented on #2703
That machine from the previous comment has issues - it was created from one of the other image options on Azure which doesn't seem to quite work - it wouldn't allow Visual Studio's installer to run.

Created 20.115.100.84 with VS2017 created from the layout that Andrew provided to me and which is now online as https://ci.adoptopenjdk.net/computer/build-azure-win2012r2-x64-4-sxa/ - it's low spec (2

[2022-08-26 13:57] #2703 closed

[2022-08-26 14:17] #2715 closed

[2022-08-26 14:23] smlambert opened #2716 "System unavailable: no hw.arch.aarch32&&ci.role.perf nodes available"
Need at least 1 of the 2 https://ci.adoptopenjdk.net/label/sw.os.linux&&hw.arch.aarch32&&ci.role.perf/ nodes to be brought online.

Test jobs sent to https://ci.adoptopenjdk.net/computer/test-sxa-armv7l-ubuntu2004-odroid-2/ are hitting no space left on device issues, marking it offline so we can get through the jdk18u respin

- Link to any log file showing the problem:

https://ci.adoptopenjdk.net

[2022-08-26 14:25] sxa commented on #2716
Cleared up some space that was in use of the `-2` machine - will do a proper cleanup next week as there are some macos backups on there too.

[2022-08-26 14:29] zdtsw opened #2717 "Verify current GH workflow works on macos-11+ with vagrant"
Since GH runner wont support macos-10.15 after Dec 2022, we need to test and verify if "build_vagrant.yml" works with macos-11/macos-latest.

From a test run looks like job cannot find vagrant in line `vagrant up`
some work might be needed before we can do the last part upgrade to get rid of macos-10.15 in GA totally.

Ref: https://github.com/adoptium/infrastructure/issues/2715

[2022-08-26 14:30] sxa commented on #2716
I think `-1` may have a problem with it's SSD that's causing it to crash - will keep an closer eye on it ... It's back for now though.

[2022-08-26 14:30] #2716 closed

[2022-08-29 06:35] #2693 closed

[2022-08-29 06:36] zdtsw commented on #2704
runner upgraded to macos-11 ansible works again

[2022-08-29 06:36] #2704 closed

[2022-08-30 10:37] steelhead31 opened #2718 "VPC - Fix Issue With Solaris Vagrant Boxes Timing Out On Startup"
When the VPC runs, the solaris boxes often time out when "vagrant up" is run, the error below occurs...

14:47:54 <127.0.0.1> ESTABLISH SSH CONNECTION FOR USER: vagrant
14:47:54 <127.0.0.1> SSH: EXEC ssh -F /dev/null -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o Port=2203 -o 'IdentityFile="/home/vagrant1/workspace/VagrantPlaybookCheck/OS/Solaris10/label/vagrant/adoptop

[2022-08-30 12:03] sxa opened #2720 "Upgrade Matrix authorization plugin in jenkins"
We had some concerns over some of the things in the release notes which prevented us from doing the upgrade of this plugin. It was last updated some time ago so we need to schedule some time to look at doing an upgrade and resolving any problems to keep it up to date.

[2022-08-30 12:10] sxa commented on #2108
Upgraded today to 2.346.3 along with must plugin updates. Added issue for this one which we haven't upgraded for a while: #2720

[2022-08-30 13:36] #2708 closed

[2022-08-31 10:04] sxa commented on #2673
From Marist: _"Let me know when fully migrated and I can remove the old servers as we are targeting end of September to power off the old storage servers."_

[2022-08-31 10:22] zdtsw opened #2722 "Permission request for https://ci.adoptopenjdk.net/"
I would like to get permission in https://ci.adoptopenjdk.net/
- start job: I  have permission to start some jobs like pipeline, downstream job (rebuild previous one or start a new run) but not the ones under https://ci.adoptopenjdk.net/job/build-scripts/job/release/
- abort job: I think I have aborted certain jobs but not e.g https://ci.adoptopenjdk.net/job/Grinder nor https://ci.adoptopenjdk.net

[2022-08-31 10:56] sxa commented on #2722
Access granted to `AdoptOpenJDK*build` group which should give you access to most of those tha are required. The release jobs can be dealt with separately, but I'll leave this open for now.

[2022-08-31 11:27] zdtsw commented on #2722
verified: abort, create new, check config these all work for me now

[2022-08-31 16:55] AdamBrousseau opened #2723 "Access request for AdamBrousseau"
Team requested - delete those which are not applicable :

- infrastructure-triage

Please explain why you need this access:

Be able to see OpenJ9 builds to ensure Semeru builds are matched with what Adopt is doing and vise versa.
Things like configure/build options, compiler levels, build status.

[2022-08-31 21:42] Haroon-Khel opened #2725 "32bit packages causing failure in playbook s390x RHEL"
The following packages found [here](https://github.com/adoptium/infrastructure/blob/7c29bb812d58c4df12cfa2dad1779f9f2c724fe8/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/vars/RedHat.yml#L78) are causing playbook failures on rhel s390x
[code]

[code]

[2022-09-01 09:11] sxa commented on #2725
@AdamBrousseau Do you still have a requirement for 31-bit packages to be installed via the playbooks?

[2022-09-01 09:19] sxa commented on #2202
Closing #2709 to cover all issues in here:

At the moment we have some [provisional code that should do the first of these](https://github.com/adoptium/infrastructure/blob/b39f70bf29eadfb907883a7fb6b0529715278c4b/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adopt_etc/tasks/main.yml#L119), but it is not working properly and does not create the log files. We should try and get a fix for that a

[2022-09-01 09:20] sxa commented on #2709
Closing as this can be covered under the initial still-open issue https://github.com/adoptium/infrastructure/issues/2202

[2022-09-01 09:20] #2709 closed

[2022-09-01 09:21] sxa commented on #2267
Closing as these machines we have provisioned as part of this test will now be removed and replaced with those from #2673

[2022-09-01 09:21] sxa commented on #2431
Machine will be replaced at Equinix. Will not be fixed.

[2022-09-01 10:07] sxa commented on #2227
Related: #2666

[2022-09-01 10:12] #1911 closed

[2022-09-01 10:13] #2431 closed

[2022-09-01 17:27] sxa commented on #2549
Request for change to reviewer numbers: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1900

[2022-09-01 17:58] sxa commented on #2723
PMC approved - invite sent.

[2022-09-01 17:58] #2723 closed

[2022-09-02 09:36] sxa commented on #2673
@Haroon-Khel Looks like there may be some problems that need addressing: https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_s390x_linux/651

Certainly a subset of them are in the compression code (we've seen issues there elsewhere - at least on Ubuntu 20.04 - that run was on 22.04) and if all the failures are related to that it will be good to confirm which distribu

[2022-09-02 10:37] steelhead31 commented on #2445
Add checks for Vagrant host, specifically around number of network connections and zombie boxes.

[2022-09-02 10:47] sxa opened #2727 "Nagios server is unstable"
- Please describe the issue:

The nagios server has gone offline at least twice in recent weeks. When it goes, the machine cannot be contacted over ssh but is responsive on the Hetzner console. The machine has been upgraded to Ubuntu 22.04 (The other main Hetzner machine we have is on Ubuntu 20.04) so it's possible there is an issue with 22.04 on their systems. We can track instances of outages in

[2022-09-02 12:34] Haroon-Khel commented on #2673
Nagios should be working on all of the new marist machines expect for test-marist-rhel8-s390x-2 due to
`No package nagios-plugins-all available`. Should have a quick solution

[2022-09-02 12:35] steelhead31 commented on #2711
@sxa believe these directories are created at the very beginning of the Common role in the windows playbook. Can you see if you can reproduce this, as I am unable.

[2022-09-02 18:03] AdamBrousseau commented on #2725
If we do, it would be for IBM Java 8 compiles. Do we know why they're failing? Is this something we could make optional? If not maybe we can move them to our internal fork.

[2022-09-02 18:11] sophia-guo commented on #2630
Feels like similar issue https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_aarch64_linux/85/

[2022-09-02 18:23] AdamBrousseau commented on #2725
31bit libs aren't available on rhel8. Can we fix the PBs to not run them on 8+?

[2022-09-05 14:26] #2493 closed

[2022-09-05 14:53] sxa commented on #2702
@AdamBrousseau Would the removal of 31-bit packages from s390x cause you any problems?

[2022-09-05 14:55] sxa commented on #2711
Removing from the September plan until I can attempt to reproduce on a clean Azure deployment (Unsure which type of machine I hit this on)

[2022-09-05 14:58] sxa commented on #2725
Yep that's the best option in the absence of any objections (The only 32-bit Linux that adoptium builds is ARM) so we don't need them on RHEL.

[2022-09-05 14:59] sxa commented on #2702
Duplicate of https://github.com/adoptium/infrastructure/issues/2725 - the other one has had more active conversation recently so I'm going to close this one despite it being the earlier one.

[2022-09-05 14:59] #2702 closed

[2022-09-05 15:03] sxa commented on #2727
Offline again - does not have an IPv4 address
![image](https://user-images.githubusercontent.com/6487691/188477717-3878df7a-5b56-405f-9775-59d87deac920.png)

[2022-09-05 15:05] sxa commented on #2727
Output should be what it is immediately after a reboot:
[code]

[2022-09-05 15:22] sxa commented on #2727
This is happening almost precisely 24 hours after the machine was last restarted which is a bit suspicious:
[code]

[2022-09-05 15:24] sxa commented on #2727
I have stopped the nagios service and will see if it stops again at 17:04 (16:24 UK time) tomorrow.

[2022-09-06 07:38] sxa commented on #2673
Added `docker` tag onto [test-marist-ubuntu2204-s390x-1](https://ci.adoptopenjdk.net/computer/test%2Dmarist%2Dubuntu2204%2Ds390x%2D1/) as [openjdk_build_docker_multiarch](https://ci.adoptopenjdk.net/job/openjdk_build_docker_multiarch) builds were getting stuck due to lack of [suitable labels](https://ci.adoptopenjdk.net/label/docker&&s390x/). The [dockerhost-marist machine](https://ci.adoptopenjdk

[2022-09-06 11:55] Haroon-Khel opened #2729 "Differences in runtime between build and test sparcv9 boxes"
The test job https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_sparcv9_solaris_testList_1/ will run for 9h+ (and get aborted) on [build-siteox-solaris10u11-sparcv9-1](https://ci.adoptopenjdk.net/computer/build-siteox-solaris10u11-sparcv9-1) and 4h on [test-siteox-solaris10u11-sparcv9-1](https://ci.adoptopenjdk.net/computer/test-siteox-solaris10u11-sparcv9-1)

[2022-09-06 11:57] Haroon-Khel commented on #2729
[code]

Both machines have 4 virtual processors

[2022-09-07 07:32] zdtsw opened #2730 "Linter in GH action is throwing errors"
Related GH action runs from:
https://github.com/adoptium/infrastructure/pull/2721

e.g
https://github.com/adoptium/infrastructure/runs/8096269351?check_suite_focus=true

[2022-09-07 07:57] #2718 closed

[2022-09-07 08:22] zdtsw commented on #2694
i think we are using a random macos runner which can be any from the pool
maybe we can try to add this "download your solaris10 file " in the "Install dependencies" step ?

[2022-09-07 08:49] sxa commented on #2730
@zdtsw Please ensure when raising issues that the important error messages are included in the desciption as well as any link to the logs, so the errors can be searched for in GitHub. I'll add them here - there seems to be three primary things that the linter is currently objecting to:

`Error: name All plays should be named.`
`Error: name All names should start with an uppercase letter.`
`Error:

[2022-09-07 08:54] zdtsw commented on #2729
so the test case "hotspot_jre_0_FAILED" failed everytime when run on [build-siteox-solaris10u11-sparcv9-1](https://ci.adoptopenjdk.net/computer/build-siteox-solaris10u11-sparcv9-1)
[code]
and looks like most of the tests run on this machine takes longer time than on the other one

[2022-09-07 09:18] sxa opened #2731 "Support and use docker builds on Linux/s390x"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [adoptium](https://github.com/adoptium/adoptium/).

Otherwise, please describe what enhancement you would like to see in the build
scripts:

In order to improve isolation of build environments, I'd like to try moving the s390x builds into docker containers. We now have a good range of machines that

[2022-09-07 09:21] sxa opened #2732 "Support and use docker builds on Linux/ppc64le"
Features that impact the whole project (e.g. Adding a new OpenJDK distribution)are made over at the [adoptium](https://github.com/adoptium/adoptium/).

Otherwise, please describe what enhancement you would like to see in the build
scripts:

In order to improve isolation of build environments and ensure consistency across all Linux architecture builds, I'd like to move the pc64le builds into docker

[2022-09-07 09:53] sxa opened #2734 "Can we create verifyable checksums for our dockerBuild images?"
Our docker build images which are created from the files in https://github.com/adoptium/infrastructure/tree/master/ansible/docker are created via mechanisms described in https://github.com/adoptium/infrastructure/blob/master/FAQ.md#what-about-the-builds-that-use-the-dockerbuild-tag

Once created those images are uploaded to dockerhub, and then where applicable they are downloaded and used on nodes

[2022-09-07 10:05] sxa opened #2735 "Ansible request for GCC on Ubuntu/arm32"
Please put the name of the software product (and affected platforms if relevant) in the title of this issue

Delete as appropriate from this list:

- Bug in ansible playbook

Details:
Ubuntu/arm32 dockerbuild container is not being successfully rebuilt in [centos7_docker_image_updater](https://ci.adoptopenjdk.net/job/centos7_docker_image_updater)
[code]
The last run where it succeded did not make

[2022-09-07 12:07] zdtsw commented on #2717
any reason we chose mac-os as runner for this [part](https://github.com/adoptium/infrastructure/blob/master/.github/workflows/build_vagrant.yml#L14)? it is just easier to install virtualbox by brew than ubuntu, or ?
@gdams

[2022-09-07 12:28] gdams commented on #2717
@gdams

the macos VMs are the only ones to support virtualization

[2022-09-07 12:42] zdtsw commented on #2717
ok I see, on ubuntu need to enable libvrt and that cannot be done from GH action.
so if we still want solaris to be run in GH, we need to make it work on macos-11
currently we have https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Solaris10,label=vagrant/ also running for solaris10 on jdk8

[2022-09-07 14:20] sxa commented on #2727
As a temporary hack I've put in a cron entry to reboot the server each morning. Not ideal at all - it looks like `dhclient eth0` will also recover it, but since that's freezing at this point:
[code]
and looping round and never exiting I'm reluctant to put that in the cron job. More investigation most definitely required ...
FYI @steelhead31

[2022-09-07 14:32] zdtsw commented on #2734
Guess we can get the checksum right after build
`docker inspect <image> | jq .[0].Digest`  but how do we want to store and consume these?

[2022-09-07 14:33] sxa commented on #2727
I have moved `/etc/dhcp/dhclient-exit-hooks.d/sendmail` to `/root/sendmail` which is allowing `dhclient` to function correctly. On that basis I have adjusted the crontab to run that instead of rebooting the server.

It is unclear whether the same 24 hour limit will apply to the dhclient operation. It's also possible that the "fix" to the sendmail script will cause the problem not to occur, but sin

[2022-09-07 17:58] zdtsw commented on #2722
I found out I still miss permission to run VPC
[code]
from https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/1535/consoleFull
Could this be granted?

[2022-09-08 07:53] steelhead31 commented on #2694
@zdtsw , I dont have permissions to upload the box file, I'll get that sorted and upload it  ( I have another file which needs to be hosted in the same place to fix issues with VS2013 on windows ). The github action will need to be amended to download the box file, and import it into vagrant, this only needs to be done if it doesnt already exist.. I'll have a look into this once Im properly back.

[2022-09-08 09:31] steelhead31 commented on #2727
Following the Ubuntu upgrade, I believe sendmail needs to be reinstalled, as the O/S upgraded causes issues. I've reinstalled sendmail and will see if the issues persist.

[2022-09-08 12:18] Haroon-Khel commented on #2662
https://ci.adoptopenjdk.net/computer/test-docker-fedora34-x64-2/
https://ci.adoptopenjdk.net/computer/test-docker-fedora36-x64-1/
https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-1/
https://ci.adoptopenjdk.net/computer/test-osuosl-centos74-ppc64le-2/

I've turned these machines back online

[2022-09-08 12:21] sxa commented on #2729
@Haroon-Khel Can you summarise the data in here - I believe you've been running comparable openjdk runs on the TC machine too now as a third machine/data point for that comparison.

[2022-09-08 12:27] #2730 closed

[2022-09-08 15:20] Haroon-Khel commented on #2729
Annoyingly the extended job that I ran on our TC sparc solaris machine did not run smoothly. Every test failed with an error complaining about not being able to find the test file. I'll kick it off again.

[2022-09-08 16:33] sxa commented on #2673
Request for Eclipse to set up two machines for Temurin Compliance:

https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1917

[2022-09-08 20:26] sxa commented on #2722
Try now - that should not have been restricted :-)

[2022-09-09 06:05] zdtsw commented on #2722
rerun the same build, but still hanging there https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/1537/
[code]

it is not urgent, can check later when you are back :D

[2022-09-09 08:09] steelhead31 commented on #2178
I have a fix for the VS2013 installation, by creating a local installation media for the Community Edition ( via MSDN subscription ), VS2013 can be installed. The new media has been placed in the vendor files, and Im working on the playbook changes to copy this media, and install from that, rather than via the web downloader.

[2022-09-09 14:26] zdtsw opened #2739 "azurebuildagent055fe0 has issue to resolve fedora repo"
From running installer job, seems this machine has issue to do `dnf upgrade`
Since I cannot find this machine from inventory not sure how it is setup.
The label I used for running this job is "dockerBuild&&linux&&x64"
[code]
see link:
https://ci.adoptopenjdk.net/view/work-in-progress/job/Sophia-adoptium-packages-linux-pipeline/157/console
and
https://ci.adoptopenjdk.net/view/work-in-progress/job/S

[2022-09-12 10:26] steelhead31 commented on #2727
Nagios server has had no issues with stability for 3 days now.

[2022-09-12 11:09] #2717 closed

[2022-09-12 12:47] #2694 closed

[2022-09-12 13:02] Haroon-Khel commented on #2729
May have found the difference

Build machine

[code]

Test machine

[code]

The test machine has more than double the clock speed for each of its cpus compared to the build machine, which makes sense since the runtime on the build machine is double that of the test machine. @sxa Can we look at getting build-siteox-solaris10u11-sparcv9-1 upgraded?

[2022-09-14 08:14] steelhead31 opened #2743 "Ansible Bug: Installation Of Git-Core fails on SLES12_SP5"
Currently the installation of GIT fails on test-marist-sles12-s390x-2 , this is due to it being upgraded to SLES12_SP5, and a dependency for the newer version of git-core not being available for this architecture at this time, the error below is reported.

test-marist-sles12-s390x-2:/ # zypper install git-core
Refreshing service 'SMT-http_lxslsmt'.
Loading repository data...
Reading installed pack

[2022-09-14 14:53] #2743 closed

[2022-09-15 11:21] Haroon-Khel opened #2745 "Add logging to Ansible Playbooks"
A solution inspired by @gdams. Add a role to the playbooks which updates a file on the remote machine indicating that the playbook has run on the remote machine, including a timestamp.

This file should be able to be queried by test tools to determine when the last playbook run happened on the remote machine

Features:

- [x] Basic log (date and time)
- [x] Runs even when certain roles are specifi

[2022-09-15 13:11] zdtsw commented on #2745
I think the issue should be called "Use file on ansible target to track after each time playbook run"

[2022-09-15 14:07] aixtools opened #2747 "System unavailable: build-osuosl-aix710-ppc64-1"
- Please put the system name in the title of this issue.

- Link to any log file showing the problem:

- Please describe the issue: Node went down (several days I think, from before 30 aug it looks from jenkins long view) due to lack of space in /home(/jenkins).

- Issue is resolved:
a) packed information is /home/sxa (was nearly 5G - 12% of /home), now less, can be removed to give more space.
b)

[2022-09-15 14:08] aixtools commented on #2747
As system is showing up now, closing issue. Main purpose was to document that system had been down for at least two weeks.

[2022-09-15 14:08] #2747 closed

[2022-09-15 17:32] Haroon-Khel commented on #2745
Very basic implementation at https://github.com/adoptium/infrastructure/pull/2746. Once merged I will work on adding extra features

[2022-09-15 17:33] Haroon-Khel commented on #2745
Feel free to change it 👍🏻 I'm terrible with issue titles

[2022-09-16 06:07] zdtsw commented on #2745
Assume this issue should cover non-Linux machine as well? #2746 is only linux part

[2022-09-16 08:43] zdtsw commented on #2745
I am also curious, if we run our playbook via AWX, does  not AWX have API which other tools can query when was the last time it runs on any machine and  so on?

Because to dump a file onto the machine so other tools to read this file , this requires high permission on that machine, than query AWX

[2022-09-16 09:56] Haroon-Khel commented on #2745
That pr covers mac and solaris aswell. I will add the role to the windows and aix playbooks soon

[2022-09-16 09:58] Haroon-Khel commented on #2745
One can also execute the playbooks from their workstation, so this ensures that in either circumstance a log file will be created

The file is currently in the jenkins home directory, which as far as I know, should be accessible to test tools. But we can change this in the future

[2022-09-16 10:47] zdtsw commented on #2745
Is the current  working process allowing the ones with ssh-key to these machines to run playbook directly from local env.?
how could this prevent non-master branch changes get onto such machines?
looks like test tools not only need to know when was the last time ansbile was run but also which SHA ansible ran with.

[2022-09-19 21:12] sxa commented on #2745
That is why the final checkbox on this issue is "Logs git hash (or equivalent) of playbook"

[2022-09-19 21:41] sxa opened #2749 "Update README.md with current infrastructure team members list"
https://github.com/adoptium/infrastructure#readme is out of date

[2022-09-19 21:44] sxa commented on #2745
@Haroon-Khel How is this differnet from https://github.com/adoptium/infrastructure/issues/2202?

[2022-09-21 10:24] karianna commented on #2310
Failed during [19 release](https://trss.adoptium.net/output/test?id=632a240093ac60470bc48ee8)

[2022-09-22 11:02] karianna opened #2779 "jpackage dpkg commands fails in Linux for Java 19 due to missing libs"
Java 19 [TRSS Test Output](https://trss.adoptium.net/output/test?id=632b5f0493ac60470bc6acad)

e.g. <snippet only>

[2022-09-21T17:12:21.687Z] [17:09:29.266] Command [PID: 1511582]:
[2022-09-21T17:12:21.687Z]     dpkg -S /lib/x86_64-linux-gnu/libXtst.so.6
[2022-09-21T17:12:21.687Z] [17:09:29.266] Output:
[2022-09-21T17:12:21.687Z]     dpkg-query: no path found matching pattern /lib/x86_64-linux-gn

[2022-09-22 12:28] sxa commented on #2727
LGTM - closing

[2022-09-22 12:28] #2727 closed

[2022-09-23 11:09] andrew-m-leonard opened #2750 "C3jenkins disk full ?"
Noticed all the Skara mirror jobs are failing due to no disk space errors..
Looks like C3jenkins disk is full?
[code]

[2022-09-23 11:14] karianna commented on #1655
test-marist-sles12-s390x-2 also exhibited the NoRouteToHostExceptions for the Java 19 net tests:

* [TRSS Test Output 1](https://trss.adoptium.net/output/test?id=632b4cc193ac60470bc67ff0)
* [TRSS Test Output 2](https://trss.adoptium.net/output/test?id=632b4cc193ac60470bc67ff1)
* [TRSS Test Output 3](https://trss.adoptium.net/output/test?id=632b4cc193ac60470bc68004)

[2022-09-23 11:37] sxa commented on #2750
System has a 512Gb FS which contains AWX in docker images (~128Gb) and a backup jenkins setup, which can likely be removed now (~75Gb)

In the jenkins workspace, 115Gb is used by `build-scripts`. I've reduced that to 108Gb by removing `@n` directories from the workspace for now.

We've got 88Gb available which should allow things to continue. This will, of course, be a candidate for monitoring/ale

[2022-09-23 11:37] #2750 closed, assigned to sxa

[2022-09-26 11:00] andrew-m-leonard opened #2752 "test-marist-rhel7-s390x-2 cannot find /usr/bin/git"
https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-linux-s390x-temurin_SmokeTests/67/console
[code]

I have disconnected the node: https://ci.adoptopenjdk.net/computer/test%2Dmarist%2Drhel7%2Ds390x%2D2/

[2022-09-26 11:05] Haroon-Khel commented on #2752
Fault was in its jenkins config. Git was set as /usr/bin/git as opposed to /usr/local/bin/git. Should be fixed now. Running a quick grinder on it to test https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/5713/console

[2022-09-26 11:06] Haroon-Khel commented on #2752
Its found git

[code]

[2022-09-26 11:07] #2752 closed

[2022-09-27 15:36] Haroon-Khel opened #2753 "Add Centos 6 docker build to centos7_docker_image_updater jenkins job"
Currently our centos6 docker image is built and pushed from a github workflow, https://github.com/adoptium/infrastructure/blob/76d51f107ec24321ad498001d5b88474514518fe/.github/workflows/build.yml#L20

It would make sense to add this to our centos7_docker_image_updater jenkins job as part of the docker images it builds

[2022-09-27 20:14] jdekonin commented on #1992
Finding this same type of failure on the new Marist systems being setup at OpenJ9, but only on the Redhat 7 systems.  Ubuntu 20 installations work as expected.  The older Redhat 7 systems from Marist do not have this `No route to host` failure.
https://github.com/eclipse-openj9/openj9/issues/15998

[2022-09-28 08:00] steelhead31 opened #2754 "Access request for to spearhead freebsd machine"
- [X] root/Administrative
System for which access is needed:

 - spearhead-freebsd12-x64-1: {ip: 185.131.222.224}

root access is needed by myself to fix several problems, being reported in Nagios, currently critical issues around disk space, a missing nagios script (check_mem) and package updates.

[2022-09-28 10:51] steelhead31 commented on #2754
will do, thanks..

[2022-09-28 10:51] #2754 closed

[2022-09-28 10:58] steelhead31 commented on #2650
Currently working through the issues on existing hosts..  status as of today

<table><tbody><tr><td><p><strong>Host Status Totals</strong></p><figure class="table"><table><tbody><tr><td><figure class="table"><table><tbody><tr><th><a href="https://nagios.adoptopenjdk.net/nagios/cgi-bin/status.cgi?host=all&amp;servicestatustypes=28&amp;hoststatustypes=2"><strong>Up</strong></a></th><th><a href="http

[2022-09-28 11:33] sxa commented on #2666
@vielmetti do these requirements look feasible? Sounds like the emag system will be fully decomissioned so that one can be ignored in the above comments.

[2022-09-28 13:50] vielmetti commented on #2666
@sxa Yeah, these all look quite sensible, I don't see any problems. I think it's a good tdea to virtualize the t1.small equivalents as opposed to replacing them with hardware one for one.

[2022-09-28 14:21] sxa commented on #2666
@vielmetti Great! Are you ok for me to start creating more on-demand machines in our `t1.replacement` project now and starting to move over? Is there anything I need to do for the Altras which I understand will also be physically moving or will we just wait for more from you on that?

[2022-09-28 14:30] vielmetti commented on #2666
@sxa You should be able to start putting new on-demand machines in the new project and starting to move over. (Of course it's OK to temporarily have both old and new systems going).

The physical move of the Works on Arm Altras is being coordinated separately, I don't have a date for that yet.

[2022-09-29 10:33] steelhead31 opened #2755 "Access request for scfryer"
Required access level (Delete as appropriate). Note that you should only
request the minimum level that is required to solve your problem

- [X] root/Administrative

System for which access is needed:
(test-scaleway-ubuntu1604-x64-1) - 51.15.76.107

Require root access to fix several issues identified by nagios ( apt updates, root partition space, ntpd )

[2022-09-29 11:54] steelhead31 commented on #2650
All hosts completed, outstanding 12 warnings are "expected", ie hosts are offline in jenkins, whilst being migrated ( capacity is reduced for some platforms due to the same ) , and the nagios/ansible host discrepancy will be fixed as part of another issue, see Epic: #2445 for details.

[2022-09-29 11:54] #2650 closed

[2022-09-29 12:46] sxa commented on #2689
I'm a little nervous about using the SLES15 repo for SLES12 -do you know how many packages it needs to pull from there? Would be good to list them.

[2022-09-29 13:30] steelhead31 opened #2758 "Nagios [Epic Task 4]: Align Hosts Found In Nagios But Not Ansible"
Align Nagios & Ansible Inventory Files, Fix Hosts In Nagios But Not Ansible

Part Of #2445

2 Hosts Currently Have Discordance From Nagios/Ansible, this needs to be corrected in the Nagios/Ansible configurations to be consistent with the hostname, this should be checked across Jenkins/Nagios/Ansible

Nagios : test-marist-ubuntu1604-s390x-3 - 148.100.113.30
Ansible : test-marist-ubuntu1804-s390x-1

[2022-09-29 13:34] steelhead31 commented on #2758
Nagios configuration altered for test-marist-ubuntu1804-s390x-1 to align with hostname, ansible & jenkins.
Nagios & Jenkins configuration altered for test-equinix-ubuntu1604-x64-1 to align with hostname & ansible

[2022-09-29 13:34] #2758 closed

[2022-09-29 13:42] zdtsw commented on #2722
Any procedure need to follow to get permission for  https://ci.adoptopenjdk.net/job/build-scripts/job/release/ ? I will be the champion for Oct CPU release.

[2022-09-29 13:56] steelhead31 opened #2759 "Nagios [Epic Task 5]: Review Ansible Inventory Against Nagios Monitoring"
Part of #2445 

Fix Discrepancies Between Ansible & Nagios

Hosts from the ansible inventory that match these patterns will be ignore, if they are not already in jenkins...
exceptionsList="win sxa gdams will EC2 azurebuildagent aahlenst vagrant master infrastructure esxi aix spearhead"

Current Progress ( 18/10/2022 )
------------------------------------
Infrastructure - (ALL Currently Excluded As

[2022-09-29 13:57] steelhead31 commented on #2759
These are the hosts currently being reviewed, progress and results will be updated in the issue description, this comment is here for completeness...

\*\[\[0;32m| build-alibaba-win2012r2-x64-1 | YES | IGNORED |
^\[\[0;32m| build-alibaba-win2012r2-x64-1 | YES | IGNORED |
^\[\[0;32m| build-alibaba-win2012r2-x64-2 | YES | IGNORED |
^\[\[0;31m| build-alibaba-ubuntu1804-armv8-1 | YES | NO |
^\[\[0;31m

[2022-09-29 15:45] Haroon-Khel commented on #2689
[code]

[2022-09-29 15:46] Haroon-Khel commented on #2689
I felt a bit weird about it too, but the box is up and running https://ci.adoptopenjdk.net/computer/test-docker-sles12-s390x-1/

[2022-09-30 08:05] sxa commented on #2673
NOTE: I've brought docker-marist-ubuntu1604-s390x-1 back online in jenkins for now since that one (why not others?) was causing 'temporarily offline in jenkins' messages to appear in the bot channel, but I've switched the `docker` label to `dockerX`

[2022-09-30 08:20] sxa commented on #2739
This is a dynamically created machine and therefore non-trivial to diagnose problems on. The problem does not appear to occur when I try to run a `dnf update` in a `fedora:36` container on another x64 system

On a separate node, what functionality is still left in [Sophia-adoptium-packages-linux-pipeline](https://ci.adoptopenjdk.net/view/work-in-progress/job/Sophia-adoptium-packages-linux-pipeline

[2022-09-30 08:26] sxa commented on #2755
This was nothing personal to you and is now fixed. Machine did not have the current key installed so Bastillion was not able to update it.
The scaleway machines have this note, so I have added the correct admin key to `instance_keys` as directed:
[code]

[2022-09-30 08:26] #2755 closed

[2022-09-30 08:30] zdtsw commented on #2739
if other machines with these labels work, we can drop this issue.

code has been merged , we should use [ adoptium-packages-linux-pipeline job](https://ci.adoptopenjdk.net/job/adoptium-packages-linux-pipeline/) for installer.
[Sophia-adoptium-packages-linux-pipeline](https://ci.adoptopenjdk.net/view/work-in-progress/job/Sophia-adoptium-packages-linux-pipeline) will only be used for test purpose

[2022-09-30 08:46] sxa commented on #2739
But does it fail with all of the dynamic machines (those with an azure prefix). If so we're going to get random failures depending on which machine the job lands on.

[2022-09-30 08:53] zdtsw commented on #2739
[Sophia-adoptium-packages-linux-pipeline](https://ci.adoptopenjdk.net/view/work-in-progress/job/Sophia-adoptium-packages-linux-pipeline) was created for me (at that time I did not have permission to create job) to test the change in installer. It was not used for any release. the code behind this job was on my branch, it got merged to master 2 weeks ago.
So, they should be identical now.

[2022-09-30 09:41] sxa commented on #2753
NOTE: Any updates to this should be covered in a corresponding doc update to https://github.com/adoptium/infrastructure/blob/master/FAQ.md#what-about-the-builds-that-use-the-dockerbuild-tag

[2022-09-30 11:56] Haroon-Khel opened #2760 "Many centos7_docker_image_updater failures"
Currently all but CentOS7 ppc64le is failing:

**CentOS7 x64** - Fails at the docker push stage, started failing since sep 16. Failed intermittently before that

[code]

**CentOS7 aarch64** - Most recent failure is first in a while

[code]

**Ubuntu16.04 armv7l** - Consistently failing at build stage

[code]

**Alpine3 x64** - Fails intermittently

[code]

**Alpine3 aarch64** - Recent failure is f

[2022-09-30 11:57] Haroon-Khel commented on #2760
@sxa I assume the Ubuntu 16 armv7 failure will go away once https://github.com/adoptium/infrastructure/pull/2736 is passed?

[2022-09-30 11:58] #2735 closed

[2022-09-30 11:58] Haroon-Khel commented on #2760
I've just merged https://github.com/adoptium/infrastructure/pull/2736

[2022-09-30 12:05] Haroon-Khel commented on #2760
The Alpine failures are due to my changes here https://github.com/adoptium/infrastructure/pull/2751/files#diff-cdadf2592f693c4816b592c519b913084ed2de4a238be6dbf42f75464798334bL7. I'll revert those specific changes as they were not needed for that pr, since I found that I could pass the SHA as a parameter

[2022-09-30 12:07] sxa commented on #2750
Happened again today - removed `build-scripts/*18*` and `build-scripts/*@*` - Unclear why `/var/lib/jenkins` is currnetly using 120Gb though as the container images don't use that much.

[2022-09-30 16:52] Haroon-Khel commented on #2760
@sxa gcc-7 and g++7 arent installing onto ubuntu16 armv7.

[code]
I believe this is due to not adding the ubuntu toolchain repo onto our armv7 machines
https://github.com/adoptium/infrastructure/blob/d0da68208c7eff255ddcda85ff5e080968b8a296/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Ubuntu.yml#L25
On build-sxa-armv7l-ubuntu1604-pi4, could you test to see if adding this repo al

[2022-10-01 11:46] sxa commented on #2666
@vielmetti Any preference on which locations we should use for the new ones? Most of our existing ones are in AM or DA with one in NY - a similar geographical split would likely still be useful.

[2022-10-01 11:46] karianna commented on #2722
@sxa Will this require a request to the EF?

[2022-10-02 04:10] vielmetti commented on #2666
@sxa You should be able to stay in the same metros (moving AMS1 resources to AM, and EWR1 resources to NY, and DFW2 resources to DA).

You may find our "capacity dashboard" useful for planning or to get a quick overview of availability by plan and metro:

https://metal.equinix.com/developers/capacity-dashboard/

[2022-10-03 13:50] sxa commented on #2695
Related PR now closed

[2022-10-03 13:50] #2695 closed

[2022-10-03 13:55] sxa commented on #2388
System now has two test-docker* containers on it. I've marked https://ci.adoptopenjdk.net/computer/docker%2Dmarist%2Dubuntu1604%2Ds390x%2D1/ offline to see if it has any negative effects. If so, this can be reopened.

[2022-10-03 13:55] #2388 closed

[2022-10-03 14:04] sxa commented on #2662
@Haroon-Khel Can you give a status update on the systems that were problematic - have they all now been resolved or is there still work to do here. Need to know whether it can be closed or whether it needs to move to October.

[2022-10-03 14:06] sxa commented on #2689
OK - I think I'm ok with this since it's better than not testing on that level, so I think we can close this.

[2022-10-03 14:06] #2689 closed

[2022-10-03 14:56] sxa commented on #2760
The pi4 hasn't been online for a while (It's not plugged in - I'm not even sure if it has an SD card in it just now). We should look at whether we can migrate those to run on the 64-bit hosts as it's REALLY not ideal for them to be running on the ones in my office :-)

[2022-10-03 17:07] sxa commented on #2760
We could really do with #1685 being resolved to help with this stuff. I'll look at getting that fixed since it shouldn't be pulling in anything other than `g++` now.

[2022-10-04 10:26] Haroon-Khel opened #2762 "Some test-docker armv7 containers have jdk11 in their jdk8 directory"
For the following machines, their jdk8 path points to a jdk11 binary

test-docker-ubuntu2004-armv7l-1
test-docker-ubuntu2004-armv7l-2
test-docker-ubuntu2004-armv7l-3
[code]

Their dockerfiles install jdk 8 https://github.com/adoptium/infrastructure/blob/d0da68208c7eff255ddcda85ff5e080968b8a296/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/DockerStatic/Dockerfiles/Dockerfile.u2004#L6 (the arch

[2022-10-04 11:54] sxa opened #2763 "Ansible request for ensuring jenkins agents are run with JDK11+"
Delete as appropriate from this list:

- Missing install

Details:
At the end of June [Jenkins announced in a blog post](https://www.jenkins.io/blog/2022/06/28/require-java-11/) that the Jenkins 2.357 and the forthcoming 2.361.1 LTS would require Java 11 or 17 on the server side (We are now running ours with Temurin 17).

With those new versions, using Java 8 for the jenkins agent systems will NOT

[2022-10-04 11:58] sxa opened #2764 "Install Nagios client side bits on all AIX machines so they can be monitored"
During a call today it was discovered that not all of the AIX machines that we use have the appropriate ssh keys and client code required for the Nagios server to be able to interact with them. Only the AIX7.1 build machines have the required setup.

This issue will cover ensuring that the other AIX machines are set up in a suitable way, and get them integrated into the Nagios server

[2022-10-04 12:03] sxa commented on #2666
Oh nice - hadn't seen that before - thanks :-)

FYI I've given @Haroon-Khel from the team access to the project so he will be looking at assisting with this work in the coming weeks.

[2022-10-04 12:04] sxa commented on #2108
Split out task to upgrade the agents so they are running on JDK11+ which will be required for the next LTS upgrade: https://github.com/adoptium/infrastructure/issues/2763

[2022-10-04 12:20] steelhead31 opened #2765 "Nagios - Add Additional Jenkins Check Label Job To Nagios Server Group For ubuntu & fpm labels"
Currently the nagios server has check_label jobs for various jenkins options such as

Check Label- arm/ci.role.test
Check Label- build/linux/s390x
Check Label- macos10.14/build/mac/x64
Check Label- wix

A further check is required to be added for the machines with the build, windows & x64 labels

Please update the readme.md file in the ansible/playbooks/nagios/README.md with a new section detailin

[2022-10-04 12:22] steelhead31 opened #2766 "Nagios - Add Additional Disk Space Check For /tmp on AIX hosts"
For the AIX hosts, add an additional monitoring command to monitor the disk space under the /tmp path.

[2022-10-04 12:23] steelhead31 opened #2767 "Nagios - Add Additional Disk Space Check For /home/jenkins on AIX hosts"
For the AIX hosts, add an additional monitoring command to monitor the disk space under the /home/jenkins path.

[2022-10-04 12:28] #2178 closed

[2022-10-04 12:54] #2725 closed

[2022-10-04 13:48] sxa commented on #2609
NOTE: This is awaiting the approve and merge of https://githuhttps://github.com/adoptium/infrastructure/pull/2638

[2022-10-04 16:27] Haroon-Khel opened #2771 "Upgrade jenkins agent's JDK to 11 or newer"
Jenkins latest LTS requires a jdk version of 11 or newer to be used as the jenkins agent when connecting a machine to jenkins.

https://www.jenkins.io/blog/2022/06/28/require-java-11/

So at some point we will need to check and upgrade the java version used by each machine to connect to jenkins.

https://adoptium.net/support/, since java 17 has the longest EOL, I would be happy with that

This wil

[2022-10-04 16:32] steelhead31 opened #2772 "VPC - Windows 2012 Failure When Running Playbook Tests"
See: [https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Win2012,label=vagrant/1552/console](https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Win2012,label=vagrant/1552/console)

The build element of the VPC job is running ok, however the testJDKWin.sh script fails as per below ( or the link above )

Updating files: 100% (1635/1635), done. **22:46:43** Invalid option: -t **22:46:47** C

[2022-10-04 16:39] sxa commented on #2445
From discussion today with @sej-jackson and @aixtools - feel free to add anything I've missed in subsequent comments as my notes didn't get saved so I'm now writing this from memory:

- Add monitoring of `/tmp` and the file system used for the jenkins workspace (Was noted that if workspace gets full, jenkins will mark the machine offline which will be picked up as a warning space regardless)
- Pot

[2022-10-04 16:46] smlambert opened #2773 "test-equinix-ubuntu1604-x64-1 appears to have an issue running git commands"
test-equinix-ubuntu1604-x64-1 - as per the console output of this job:
https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_dev.system_x86-64_linux_testList_2/1/console

[test-equinix-ubuntu1604-x64-1](https://ci.adoptopenjdk.net/computer/test-equinix-ubuntu1604-x64-1/) appears to have an issue running git commands

[code]

I have taken this machine offline (with a reference to this issue) until it c

[2022-10-04 16:52] sxa commented on #2773
This machine is due to be decomissioned as part of https://ci.adoptopenjdk.net/computer/test-equinix-ubuntu1604-x64-1/ so we may not being it back, but I'll keep this open in case we find an easy fix.

[2022-10-04 16:53] sxa commented on #2771
Dup of https://github.com/adoptium/infrastructure/issues/2763?

[2022-10-04 17:33] sxa commented on #2763
So far none of the above options are proving to be feasible for Soalris 10 due to the dependency on the Solaris 11 `posix_fallocate` symbol as referenced in [this article](https://community.oracle.com/tech/apps-infra/discussion/comment/16848762/#Comment_16848762).

[2022-10-04 18:23] zdtsw commented on #2762
i am bit confused, either it download jdk8 or did a yum/apt install openjdk8, how could it ended with a jdk11 ?

[2022-10-05 10:18] Haroon-Khel commented on #2762
Yeah I don't know how this happened, im guessing manual intervention. I've upgraded the jdks to 17 now anyway so im closing this issue

[2022-10-05 10:18] #2762 closed

[2022-10-05 11:58] sxa opened #2774 ""Skipped parameter" warnings in jenkins server log"
These aren't new but were discovered while working on #2108

There are a lot of warnings in the jenkins log which we should look at clearing up in the interests of avoid the risk of being unable to see the wood for the trees. All are related to `NODE_LABEL`'s use in various places.

Presumably the parameters are being passed in from the upstream job somewhere but they are not defined on the callee

[2022-10-05 11:59] sxa commented on #2774
FYI @andrew-m-leonard  @smlambert (Shelley I sent you a log from this a while back and I think there may be fewer such messages now but unclear if that's my memory or if it was a slightly different error!

[2022-10-05 13:49] sxa commented on #2774
Also tagging @sophia-guo since she was involved in the discussions on the community call earlier today :-)

[2022-10-05 14:43] Haroon-Khel commented on #2662
Since sun/security/pkcs11/fips/TestTLS12.java continues to fail on test-osuosl-centos74-ppc64le-1 and -2 this issue should be kept open

[2022-10-05 15:34] Haroon-Khel commented on #2771
Yep didn't see yours

[2022-10-05 15:34] #2771 closed

[2022-10-06 10:54] sxa opened #2776 "High load on `test-osuosl-ubuntu1604-ppc64le-2`"
We are getting warning messages from Nagios that the machine is sitting with a load of 17.00:
`HOST: test-osuosl-ubuntu1604-ppc64le-2   SERVICE: Current Load STATE: WARNING MESSAGE: WARNING - load average: 17.00, 17.00, 17.00 [See Nagios](https://nagios.adoptopenjdk.net/nagios/cgi-bin/status.cgi?host=test-osuosl-ubuntu1604-ppc64le-2)`

Note that while it's currently stuck up there at 0904 this mor

[2022-10-06 13:43] sxa commented on #2776
There are a few leftover jenkins processes from yesterday running as the jenkins user although not using significants amount of CPU time:
[code]
Interestingly those hung Grinder processes are likely the ones I was using for replicating/testing https://github.com/adoptium/aqa-tests/issues/4006#issuecomment-1268330876 - the java process in the above output (3088) is not responding to a `kill -KILL`.

[2022-10-06 15:58] andrew-m-leonard opened #2777 "jdk8u builds fail on build-marist-rhel79-s390x-1: java.lang.UnsupportedClassVersionError: org/apache/tools/ant/launch/Launcher : Unsupported major.minor version 52.0"
Seems possibly a setup issue on node build-marist-rhel79-s390x-1
unclear what is causing:
https://ci.adoptopenjdk.net/view/Failing%20Temurin%20jobs/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-s390x-temurin/154/
[code]
but it's repeatable.

I've disabled the node: https://ci.adoptopenjdk.net/computer/build-marist-rhel79-s390x-1/

[2022-10-06 15:59] andrew-m-leonard commented on #2777
@Haroon-Khel fyi

[2022-10-06 16:31] sxa commented on #2777
If it's a class version issue it'll be because the java level it's trying to run with is lower than the version that the tool requirs. I guess this is running the CycloneDX stuff which has some specific java dependencies.

[2022-10-06 19:27] andrew-m-leonard commented on #2777
Yeah, I suspect the apache ant java code is compiled with a later version than the JDK in the path/jdk_home ? Might worth comparing with node -2 ?

[2022-10-07 09:21] sxa commented on #2722
@karianna No as it's still controlled via the AdoptOpenJDK github org.

[2022-10-07 09:56] sxa opened #2778 "Access request for `vagrant` machines"
The `infra-vagrant` machines have been using an explicit user list to determine who can use them. This should not be the case and the default access for all people in the committers/triage teams should be able to run on those systems (Or possible restricted to the infrastructure* teams)

It's unclear why this was originally done, but I have so far failed to be able to switch it to work any other w

[2022-10-07 09:56] sxa commented on #2722
OK I have no idea why that's happening. I've tried a few things to no avail. It doesn't seem to be working with groups. Have opened https://github.com/adoptium/infrastructure/issues/2778 to investigate.

[2022-10-07 10:05] sxa commented on #2776
Generated some more alerts overnight so reopening. The `-1` machine is running the same kernel (`4.4.0-210-generic` and is not having the same problem.
At the time of writing it is has a load of zero.

[2022-10-09 01:43] smlambert commented on #2217
This is marked as a good first issue, are there details that a new contributor could use in order to actually accomplish this issue.

[2022-10-09 17:58] Sarahligbe commented on #2767
Hi, I'm Sarah. I'm an outreachy applicant. Can this be assigned to me

[2022-10-09 20:35] lumuchris256 commented on #2765
Hi @steelhead31 @smlambert  i would like to take up this issue

[2022-10-09 21:43] smlambert commented on #2765
great @lumuchris256 - I will let @steelhead31 provide more details on how to get started on this one!

[2022-10-09 21:44] smlambert commented on #2767
For sure @Sarahligbe - and I will leave it to @steelhead31 to provide more details on how you can get started on this!

[2022-10-09 21:59] julian55455 commented on #2766
HI @smlambert can I work on this?

[2022-10-09 23:02] Sarahligbe commented on #2767
Thanks. I'll be waiting for more details from@steelhead31

[2022-10-10 10:29] Haroon-Khel commented on #2705
related https://github.com/adoptium/infrastructure/issues/2624

[2022-10-10 10:59] sxa commented on #2217
It needs a revert of the parts of the code in there referenced PR relating to removing the LJC certificate.

[2022-10-10 10:59] Haroon-Khel commented on #2705
Relevant ansible file https://github.com/adoptium/infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml

[2022-10-10 11:42] Nigale-Djomo commented on #2766
Hello,

Hope you are doing good on this day.
My name is Nigale and i am an outreachy applicant.
Can this task be assigned to me

Best

[2022-10-10 11:51] Nigale-Djomo commented on #2766
Hello

Hope you are doing good on this day.
My name is Nigale and i am an outreachy applicant.
Can this task be assigned to me

Best

[2022-10-11 09:17] lumuchris256 commented on #2705
hi @Haroon-Khel @smlambert i would like to take up this issue

[2022-10-11 09:25] Haroon-Khel commented on #2705
Hi @lumuchris256 I have assigned it to you

[2022-10-11 10:16] lumuchris256 commented on #2705
@Haroon-Khel  according to issues #2624 , what is the expected outcome of the issue?

[2022-10-11 10:44] Haroon-Khel commented on #2705
Conversation continued in slack

[2022-10-11 16:38] Haroon-Khel commented on #2777
These Marist machines come with a lot of extra java binaries

[code]
We only install 8 10 11 15 16 and 17 as part of our playbooks so I reckon the rest come from the provider

[2022-10-11 20:55] BarbaraStanley commented on #2266
Hi, I'll like to be assigned to this, please may i have more information on what needs to be done?

[2022-10-12 10:35] sxa commented on #2777
https://github.com/adoptium/temurin-build/blob/8e043e364ecac19f72fc592116de9386ed7ffd0d/sbin/build.sh#L676 is the code which defines which java is used for this section of the process. We need to understand why this is behaving differently on each system (Suggest manual re-runs with `set -x` added to parts of the process to aid debugging - since 52.0 is a Java 8 classfile version we're ending up w

[2022-10-12 11:56] Haroon-Khel commented on #2760
Once https://github.com/adoptium/infrastructure/pull/2780 is in, the git sha will get passed to each of the docker images in this job

[2022-10-12 13:38] sxa commented on #2781
Can we implement an alternate location for the cache as per the previous comment? We have `/data/jenkins` which could be used for this. Alternatively we could just relocate the jenkins homedir but we need input from those managing the applications running out of there to understand if they will be impacted by such a change.

[2022-10-12 16:40] llxia commented on #2781
I would prefer to get a brand new machine. The current machine is configured with a limited root dir (7G). We have been running into this problem many times. It is not worth our time and energy to fight for the limited space. Let's pick the future-proof solution and create a new machine with 32GB of root space.

[2022-10-12 22:53] sxa commented on #2781
It is bad practice to store home direcories and user data on `/` as it can cause security issues with logs not being written properly when user data expands to fill it. All user data should be elsewhere and that would be the case on this system or any other.

It does not make sense to be storing data, which could expand indefinitely, on the root file system. There is 167Gb of space in the /data fi

[2022-10-12 22:57] sxa commented on #2781
Regardless of how we resolve this, please provide the details of the capacity requirements of a TRSS server for planning purposes.

[2022-10-13 13:32] sxa commented on #2763
We should aim for JDK17 on all systems (For AIX we can use a nightly build or GA candidate)

[2022-10-13 13:34] Haroon-Khel commented on #2666
Ive got 2 x64 dockerhost machines up and 1 ESXi7 host up.

Bit of a problem with the ESXi host. I created a Solaris 10 vm, have given it the ip 145.40.115.43, out of the 145.40.115.40/29 network provided by the ESXi host. But I can't ssh into it. I have enabled PermitRootLogin in /etc/ssh/ssh_config yet I still cant get it. The ip of the machine is pingable.

Upon first trying to ssh in

[code]

T

[2022-10-13 16:37] sophia-guo commented on #2774
According to the discussion if jenkins jobs are triggered with undefined parameters there will be some `warnings` in jenkins server log? If that is the case those warnings can be avoided by re-generating aqa-tests or smoketests jobs triggered by upstream.

Initially when new features was added there was a period that aqa-tests or smoke tests jobs were triggered with undefined parameters. For examp

[2022-10-13 17:27] sxa commented on #2666
Your local ssh client (on the machine you're connecting from) likely does not support the algorithms which the Solaris 10 default install does.

Two options:
1. Start up a docker container running an older OS (Ubuntu:20.04 should be fine) and connect in from that - if I do that I don't get the failure and I get a password prompt
2. Adjust the server configuration to accept the older algorithm - tr

[2022-10-14 06:16] bopesha commented on #2266
Hi, @karianna ! If not yet assigned to anybody and @BarbaraStanley was assigned to some other issue, would you please assign this issue to me?

Thanks in advance!

[2022-10-14 08:59] zdtsw opened #2783 "System unavailable: test-azure-win11-aarch64-1"
- Please put the system name in the title of this issue.
test-azure-win11-aarch64-1

- Link to any log file showing the problem:
https://ci.adoptopenjdk.net/job/build-scripts/job/utils/job/cross-compiled-version-out/492/console

- Please describe the issue:
We only have one node assigned with label "windows&&riscv64" which is test-azure-win11-aarch64-1
and it is offline, so the jenkins job https:/

[2022-10-14 09:21] karianna commented on #2266
assigned

[2022-10-14 12:02] bopesha commented on #2266
@karianna Thanks a lot! Would you please help me to contribute? I forked the whole repository to my own account to start working on changes, however, I cant find this particular issue "unixPB: fix up jckservices playbook #2263" when I type it on search field. Tried to look for it manually, also didn't work. Would you please advise what am I doing wrong?

Thanks!

[2022-10-14 12:11] sxa commented on #2781
In the absence of any follow up I have moved the directory to `/data/jenkinshome` and created a symlink from the original location. After this I have restarted the `TRSSFrontend` and `TRSSBackend` services. I do not wish to consider the option of provisioning a new server for this with less than a week to go before a release cycle.

[2022-10-14 13:03] smlambert commented on #2781
As far as I am aware, it is not TRSS server code or DB data that is the issue now. That was moved under /data a while back. It is the root dir too small as all system apps, logs and /tmp are under root dir. There is not much free space left under root ( only ~700M available last time it was cleaned up).

On another note There seems to be a not so healthy discourse on this topic and I am not sure w

[2022-10-14 13:49] sxa commented on #2781
Correct - therefore nothing for TRSS should have a reliance on the status of the root file system. I am unclear why we suffered this outage as a result of `/` being full and it would be good to understand that.

I need someone familiar with the TRSS application to provide input to understand the root cause here since I would not expect the application to to be writing to anything outside the large

[2022-10-14 14:46] zdtsw commented on #2722
Any way can proceed with this permission?

[2022-10-14 14:57] karianna commented on #2722
@zdtsw Which permissions are still required?

[2022-10-14 14:58] sxa commented on #2722
@karianna It'll be adding to `AdoptOpenJDK*release`.

[2022-10-14 15:04] karianna commented on #2722
That team doesn't seem to exist?

[2022-10-14 15:14] karianna commented on #2722
Invited to the relevant groups - may need to check your inbox or GitHub homepage to accept the invites

[2022-10-14 15:21] zdtsw commented on #2722
awesome! :+1:  got the mails + did a logout then login to the jenkins
 can access https://ci.adoptopenjdk.net/job/build-scripts/job/release/ now

[2022-10-14 15:33] andrew-m-leonard opened #2784 "Low disk space: https://ci.adoptopenjdk.net/computer/build-osuosl-aix71-ppc64-1/"
https://ci.adoptopenjdk.net/computer/build-osuosl-aix71-ppc64-1/ is offline, only has 7Gb free

[2022-10-14 16:19] sxa commented on #2784
Fixed - I had a tarball kicking around which was wasting space and have cleared some other junk in jenkins' home dir

Related (Nagios won't currently pick up on this for AIX): https://github.com/adoptium/infrastructure/issues/2767

FYI @backwaterred do you still need the `jdk11u-dev` in your home dir on this machine? That would clearu up a furtehr 2.3Gb. The OSUOSL AIX machines are quite frugal in

[2022-10-14 16:19] #2784 closed

[2022-10-14 19:34] backwaterred commented on #2562
It's probably safe to remove this access. I have removed my data from the machine. Thanks :-)

[2022-10-14 19:36] backwaterred commented on #2784
As it turns out, I don't need need that folder any more. Thanks for reminding me about it.

[2022-10-14 20:53] llxia commented on #2781
According to Ubuntu wiki, the Root partition: `Size: minimum is 8 GB. It is recommended to make it at least 15 GB. Warning: your system will be blocked if the root partition is full.`

Currently, we have 7.7G total and ~700M free space. And in our case, `/tmp` is within the Root partition. I think asking for a new machine is reasonable.

https://help.ubuntu.com/community/DiskSpace

[2022-10-17 11:20] sxa commented on #2585
Note that for the RISC-V PLCTLab systems, there is an extra line to set the connection proxy to prevent git clone operations having problems:
`Environment="HTTPS_PROXY=http://10.8.8.41:8080"` (Was proviously on `10.8.8.2`)

[2022-10-17 11:50] luhenry opened #2786 "Access request for luhenry"
Required access level (Delete as appropriate). Note that you should only
request the minimum level that is required to solve your problem

- [x] Non-privileged
- [ ] jenkins user

System for which access is needed:

Any RISC-V board.

Please explain why you need this access including whether it is a temporary or permanent request:

I'm focusing on the development of the RISC-V adoptium CI. It woul

[2022-10-17 12:08] Haroon-Khel commented on #2705
At https://github.com/adoptium/infrastructure/blob/95fb017b04f8921bfa08ff923e8a3d77f5a2a3d7/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml#L117 (between the two tasks) there should be a task which checks for a jdk without a symlink (perhaps the task can search for `{{ path }}.*`) and removes it if present then installs the jdk completely

Another solution wo

[2022-10-17 12:15] Haroon-Khel commented on #2705
So something along the lines of

[code]

It should only remove the non linked binary **if** it doesnt detect a symlink. If it does detect a symlink then this task should not run (it will delete the binary that is linked which we dont want)

[2022-10-17 12:18] Haroon-Khel commented on #2666
Ref dockerhost machines:

- 2 new dockerstatic machines, one intel one amd
- /var/lib/docker directories have their own 800g logical volume, plenty of space for dockerhosts (more can be added if necessary
- 4 new dockerhost machines so far, 2 on each dockerhost
https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2204-x64-1-NEW/
https://ci.adoptopenjdk.net/computer/test-docker-ubuntu2204-x64-2-N

[2022-10-17 12:59] sxa commented on #2786
Access added to the jumpbox which will let you into the riscv64 machines once I sort out that access (separately).
`ssh luhenry@lab.rvperf.org uptime` should work for you just now

[2022-10-17 14:06] sxa commented on #2786
Access to machine "043" now granted to `luhenry` user via the jumpbox. Details sent to user.

[2022-10-17 14:41] gdams commented on #2783
The system appeared to have restarted itself. I've resolved this now

[2022-10-17 14:41] #2783 closed

[2022-10-17 14:49] steelhead31 opened #2787 "Nagios: Create Scripts To Manage Existing Host Checks"
Part of epic : #2445 

Create a script to perform the following tasks on the nagios configuration files :

1.  Add an existing defined check to an existing host.
2.  Remove a defined check from an existing host.

The script should behave roughly as described below, and accept parameters so that it can be used as part of the ongoing automation effort and can be checked into the following path ansib

[2022-10-17 14:57] Sarahligbe commented on #2787
@smlambert I'll love to be assigned this issue. @steelhead31 assigned it to me as a follow on the other issue I was assigned #2767

[2022-10-17 15:15] steelhead31 opened #2788 "Nagios: Create Scripts To Manage Nagios Host Groups"
Part of epic : [#2445](https://github.com/adoptium/infrastructure/issues/2445) 

Create a script to perform the following tasks on the nagios configuration files :

1.  Add a new nagios host group to the existing nagios configuration files
2.  Remove and existing nagios host group from the existing nagios configuration files

The script should behave roughly as described below, and accept paramete

[2022-10-17 15:27] steelhead31 commented on #2787
@Sarahligbe I've managed to assign it now you've commented!

[2022-10-18 09:02] sxa commented on #2673
@Haroon-Khel @steelhead31 Can we remove the old machines from Nagios, Jenkins and the inventory files please as they have now been deprovisioned. Full list as follows (Some of these were temporary systems so if you can't find them, that's not a problem):

- 148.100.113.46
- 148.100.113.30
- 148.100.113.58
- 148.100.113.25
- 148.100.113.20
- 148.100.86.102
- 148.100.245.197
- 148.100.84.144
Older e

[2022-10-18 09:11] steelhead31 commented on #2673
Will do, has the ansible inventory been updated with the new ip's / hostnames ?, Im starting work on fixing the discrepancies between nagios and ansible today.

[2022-10-18 09:17] sxa commented on #2673
Yep the new ones have been live for a few weeks: https://github.com/adoptium/infrastructure/pull/2690/files

In theory removing the ones listed above should only leave the s390x ones added in that PR.

[2022-10-18 09:20] steelhead31 commented on #2673
All have now been removed from nagios.

[2022-10-18 09:26] sxa commented on #2673
That'll clear up the slack channel a bit then ;-)

[2022-10-18 09:50] sxa commented on #2774
Thanks for checking @sophia-guo! It looks like the remaining ones are mostly on the build pipelines so the test jobs may now be all sorted. I've just done a check on the recent logs and these are the remaining warnings - interestingly only the (new) jdk19u pipelines are showing up here @andrew-m-leonard:

[code]

[2022-10-18 09:59] sxa commented on #2562
Done - thanks for the update.

[2022-10-18 09:59] #2562 closed

[2022-10-18 10:02] sxa commented on #2722
I'll close this now (As mentioned the VPC access will need to be dealt with separately as it's being weird). If anything else shows up during the release cycle please reopen this.

[2022-10-18 10:02] #2722 closed

[2022-10-18 11:33] Haroon-Khel commented on #2666
Build solaris machine up at https://ci.adoptopenjdk.net/computer/build-equinix-solaris10-x64-1/
jdk8 build job running on the machine https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-temurin/169/console

[2022-10-18 12:12] sxa opened #2792 "ESXi server at Equinix"
I need to request a new machine:

- New machine operating system (e.g. linux/windows/macos/solaris/aix): ESXi
- New machine architecture (e.g. x64/aarch32/arm32/ppc64/ppc64le/sparc): x64
- Provider (leave blank if it does not matter): Equinix
- Desired usage: Replacement for the existing ESXi server due to machine migration, and to use for relpacement of some of the smaller xLinux machines we curr

[2022-10-18 12:58] sxa commented on #2711
Hit this again today when using a new Windows system created at Azure:
AWX link: https://awx2.adoptopenjdk.net/#/jobs/playbook/553
Created the directory manually to work around it.

[2022-10-18 13:09] steelhead31 commented on #2711
I notice in the awx jobit has the skipped tag "basic\_config" , the task that creates the c:\\temp dir has this tag..
\- name: Create C:\\temp directory
 win\_file:
   path: C:\\temp
   state: directory
 tags: basic\_config

[2022-10-18 13:54] sxa commented on #2711
Well spotted - I don't recall why that is there. We should probably check whether the use of that role is a sensible approach for creating those directories ...

[2022-10-18 14:14] sxa commented on #2731
Base image is currently problematic as UBI is not currently a practical alternative due to missing prereqs in the default repositories such as the X11 packages. May be more feasible when https://github.com/adoptium/infrastructure/issues/2008 is finalised (allow us to run RHEL in the container) or use an alternate sysroot for the build.

[2022-10-18 14:17] sxa commented on #2760
That failure has been seen before: https://github.com/adoptium/infrastructure/issues/2626

[2022-10-18 14:23] steelhead31 opened #2793 "Access request for scfryer"
Required access level (Delete as appropriate). Note that you should only
request the minimum level that is required to solve your problem

- [X] root/Administrative

System for which access is needed: build-equinix-centos8-armv8-1

Need temporary root access, to install nagios, I'm also unable to do this via awx.

[2022-10-18 14:42] sxa commented on #2675
Second machine created for the new version of the layout - setup guidelines at https://github.com/adoptium/temurin-build/issues/2978#issuecomment-1259993010

TL;DR:

`.\vs_community.exe --noweb --add Microsoft.VisualStudio.Workload.NativeDesktop;includeRecommended;includeOptional --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --add Microsoft.VisualStudio.Component.VC.Tools.ARM64 --add Mic

[2022-10-18 14:52] sxa commented on #2793
Machine will get replaced/reinstalled as part of https://github.com/adoptium/infrastructure/issues/2479 but I've put your key on it for now until that happens :-)

[2022-10-18 14:52] #2793 closed

[2022-10-18 16:26] andrew-m-leonard commented on #2774
@sxa I don't understand the above, none of the build jobs have a Parameter called NODE_LABEL, they only have 4 paramaters:
- BUILD_CONFIGURATION
- USER_REMOTE_CONFIGS
- DEFAULTS_JSON
- ADOPT_DEFAULTS_JSON

[2022-10-19 09:02] aixtools commented on #2767
- I have been looking at the PR #2789 - and I do not understand how this adds anything. It is just some comments in README.md.

- What am I missing?

[2022-10-19 09:12] Sarahligbe commented on #2767
I worked on it on my local VM. @steelhead31 asked me to add it to the README.md so he'll use the documentation to make the changes to the production nagios server. He already did that and it's working

[2022-10-19 11:14] sxa opened #2794 "Nagios: Adjust messages posted to slack"
In order to get good notifications for important outages, it would be beneficial for certain classes of messages to be listed with a particular keyword that you can trigger slack notifications on.

I tried setting my notifications to alert me the word "CRITICAL" which will catch things like this:

`HOST: test-osuosl-ubuntu1604-ppc64le-2   SERVICE: Current Load STATE: CRITICAL MESSAGE: CRITICAL - l

[2022-10-19 11:44] sxa commented on #2774
That sounds consistent with the warning message - "it is undefined on <job>" but presumably something is trying to start them using those extra, unusable, parameters.

[2022-10-19 12:09] sxa commented on #2675
Machine https://ci.adoptopenjdk.net/computer/build%2Dazure%2Dwin2012r2%2Dx64%2D3%2Dsxa/ now online with the new VS2019 layout.

[2022-10-19 13:36] karianna opened #2796 "Consider adding a developer or pre prod Artifactory at JFrog"
As per PMC discussion on 19th of Oct it would be desirable to have a Developer Artifactory that we can post per-prod / beta installer packages.

[2022-10-21 03:40] smlambert opened #2800 "DBBLoadTest_5m & MiniMix_aot_5m FAIL on test-marist-rhel7-s390x-2 - NoRouteToHostException"
Fails on test-marist-rhel7-s390x-2
Passes on test-marist-ubuntu2004-s390x-1,test-marist-ubuntu1804-s390x-4 (historically)

**Test Info**
Test Name: DBBLoadTest_5m_0
Test Duration: 49 sec
Machine: test-marist-rhel7-s390x-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=63501642ed0b30773b6316ca

**Build Info**
Build Name: Test_openjdk17_hs_extended.system_s390x_linux
Jenkins

[2022-10-21 09:57] steelhead31 opened #2802 "Nagios: Enhancement: Document Process For Adding Windows Hosts To A Nagios Server"
Part Of Epic #2445 

Please investigate the process, tasks and steps involved in adding Nagios monitoring checks to a windows host.

Please create a new document in the /ansible/playbooks/nagios folder called something like How\_To\_Add\_Nagios\_To\_Windows.MD , with detailed steps about the tasks etc on both the Nagios Server & the Windows Host, so that we can try this in production at a later da

[2022-10-21 10:00] lumuchris256 commented on #2802
hi @steelhead31 i would want to take this up

[2022-10-25 20:01] Emidowojo commented on #2624
Hello @sxa can I attempt this?

[2022-11-02 08:49] aixtools commented on #2767
:) How could I know? Thx for assistance.

[2022-11-02 09:17] Panxuefeng-loongson opened #2806 "How to add LoongArch machine support"
Loongson Technology wants to participate in the Adoptium community. Currently, we are submitting a PR for the Loongson platform JDK (Here is our open-sourced repo on github: https://github.com/loongson/jdk8u/tree/master-ls, including LoongArch and MIPS support), see: https://github.com/adoptium/temurin-build/pull/3134. Although the LoongArch platform JDK can be built by cross-compiling, but in the

[2022-11-02 13:49] smlambert opened #2807 "Some s390x machines failing net tests with NoRouteToHostException"
As described in https://github.com/adoptium/aqa-tests/issues/4039#issuecomment-1286415061

To make it easy for the infrastructure team to repeat and diagnose, please
answer the following questions:

- test suite/name (e.g, BUILD_LIST=openjdk, TARGET=jdk_net and other similar ones resulting in 70+ testcases failing)?
- a link into recent `Test_` job on https://ci.adoptopenjdk.net which showed the f

[2022-11-02 15:47] sxa commented on #2807
Testing on the other instance on:
- [One of the older machines before we migrated the Marist systems](https://ci.eclipse.org/temurin-compliance/job/Grinder_Slim/27)
- [One of the newer machines which has had some other fixes applied](https://ci.eclipse.org/temurin-compliance/job/Grinder_Slim/28)

[2022-11-02 16:05] smlambert commented on #2807
Yes and I have some reruns on various other machines going now as part of triage efforts, and will update the issue once results are in.

[2022-11-02 16:16] smlambert commented on #2781
Reopening as I believe we still need a solution that will work for the public TRSS instance.  I am currently blocked at being able to update the server (via the TRSS_Code_Sync job) because the trss-node can not be added to Jenkins...
Disk space is too low. Only 0.237GB left on /tmp.

Answering a previous question in this issue about usage/requirements, here is a bit of information `df -h` from a d

[2022-11-02 17:19] sxa opened #2808 "System planned downtime: Equinix aarch64 systems"
Equinix are migrating systems in their data centers starting on the 14th of November. This will take up to four days to complete. We have been asked to shut the machines down by end of day on the 13th.

No backups will be performed, but the expectation is that the machines will come back as-is, although potentially with a different IP address.

FYI @Haroon-Khel