[2020-06-17 20:05] aahlenst commented on #1399
No, no answer yet. I'll update as soon as we hear anything. Unfortunately, we neither have control over the machine nor the domain, so we cannot provide an interim fix.

[2020-06-17 20:21] darkwizard242 commented on #1399
@aahlenst  - No worries. Thanks very much for the response and keeping us posted.

As a temporary workaround in the meantime, if someone would like to setup AdoptOpenJDK using the tar files ... you can do something like the following

[code]

[2020-06-17 21:39] LeLobster commented on #1399
Yesterday evening I was able to add the repo and install an adoptopenjdk package, but running update this morning results in the above mentioned error. Maybe that helps narrowing down where things went wrong?
it has to be a change introduced sometime between then I imagine

[2020-06-18 02:05] instantlinux commented on #1399
Related to this release - 7.5.8?
https://bintray.com/package/release/jfrog/artifactory-pro-debs/jfrog-artifactory-pro-deb

Perhaps some of y'all could start tweeting up a storm about this, it's been persisting longer than I would have expected.

[2020-06-18 07:36] Willsparker commented on #1400
ping @gdams

[2020-06-18 07:41] keefertaylor commented on #1399
Is there a dependent issue with JFrog? Is the best way to reach them really on Twitter?

[2020-06-18 07:43] aahlenst commented on #1399
@keefertaylor As I wrote in the first message, we have an open support request with JFrog.

[2020-06-18 08:19] mauro-midolo commented on #1399
+1

[2020-06-18 09:39] Willsparker opened #1401 "winPB: Make removal of speech mark in %PATH it's own task in Cygwin"
ping @lumpfish

Currently, this task: https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/3143979688df2c97ea6b41347feaef8438809885/ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml#L113

Will remove the stray speech mark in the Windows path before then adding cygwin's folder to the front of the path, however on some Windows systems this errors, with the following

[2020-06-18 09:59] schowave commented on #1399
Is there another repository than the one from jfrog?

[2020-06-18 10:02] Weltraumschaf commented on #1399
What's going on here? We can't rollout our infrastructure due to this error. Is someone working on this?

[2020-06-18 10:03] rubentrf commented on #1399
(Disclaimer: we only use this package on our CI for running tests) For those of you using Debian Buster and need OpenJDK 8, you can switch to Debian's Stretch package `openjdk-8-jdk-headless` adding it as an APT repo:

[code]

it only installs a few dependencies being the headless variant, and for us it did the trick.

[2020-06-18 10:03] gdams commented on #1400
This is the Xcode version we use to build JDK8u. Note it is full Xcode rather than the command line tools:

[code]

[2020-06-18 10:15] aahlenst commented on #1399
The packages can be manually pulled from https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/pool/main/a/. Because no further dependencies have to be downloaded from our server, you can work around the problem with wget+apt:

[code]

There's currently no other server to download the packages from via apt. I do not want to rush the introduction of a replacement, as inconvenient as the current situation

[2020-06-18 16:05] abhijeetnarvekar commented on #1399
Facing the same issue:
`Reading package lists...
 E: The repository 'https://adoptopenjdk.jfrog.io/adoptopenjdk/deb bionic Release' does not have a Release file.
 The command '/bin/sh -c ( wget -qO - https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public | sudo apt-key add - )     &&     sudo apt-add-repository --yes https://adoptopenjdk.jfrog.io/adoptopenjdk/deb/                         &&

[2020-06-18 16:32] duckulaj commented on #1399
Still geting the same problem

Ign:17 https://adoptopenjdk.jfrog.io/adoptopenjdk/deb bionic InRelease
Err:19 https://adoptopenjdk.jfrog.io/adoptopenjdk/deb bionic Release
  Unknown date format Bad header data [IP: 35.231.52.82 443]
Reading package lists... Done
E: The repository 'https://adoptopenjdk.jfrog.io/adoptopenjdk/deb bionic Release' does not have a Release file.

[2020-06-18 16:36] darkwizard242 commented on #1399
@abhijeetnarvekar , @duckulaj  - As per @aahlenst, the issue has been raised with JFrog and team is likely waiting on a response from them.

As you may notice, @aahlenst also shared alternative method to install the debian package for the time being, if you are interested.

[2020-06-18 16:51] pshipton commented on #1400
@gdams what Xcode is used for the other Java versions?

[2020-06-18 17:06] karianna commented on #1399
Their support is on the cae

[2020-06-18 18:38] RangerRick commented on #1399
Hopefully it sticks, but it just worked for me:

[code]

[2020-06-18 18:47] darkwizard242 commented on #1399
Yup, seems like it has been fixed... Last-Modified header TZ is GMT now.

[code]

[2020-06-19 05:46] devcovato commented on #1399
Hi, it seems JFrog fixed the issue.

[2020-06-19 06:55] mkey-cdx commented on #1399
This issue seems to have been solved.

[code]

[code]

Can you confirm action taken?

[2020-06-19 06:58] buchmui commented on #1399
Our Jenkins Jobs were finished successfully today. I can confirm, that this problem is solved for us. Thank you everyone.

[2020-06-19 07:01] aahlenst commented on #1399
This problem should be fixed. If anyone experiences any problems, please get in touch.

I'm very sorry for the extended outage of our Debian package repositories and that it took more than a day to sort it out. This is not an acceptable level of service for any AdoptOpenJDK offering.

To the best of my knowledge, this is what happened (all times in UTC):

On Wed, June 17, around noon, our hosted A

[2020-06-19 07:01] #1399 closed

[2020-06-19 07:01] abhijeetnarvekar commented on #1399
Works again! Great! Thank you everyone!

[2020-06-19 07:05] mkey-cdx commented on #1399
Thanks for the detailed information @aahlenst

[2020-06-19 09:41] sxa commented on #1400
I think we're building all on the same level now but will defer to @gdams

[2020-06-19 14:30] draganbjedov commented on #1399
Works again!

[2020-06-20 14:41] sxa commented on #487
`-mfloat-hard` on configure resolves the above issue and is the default that we use so shoudl be ok. I'll get tit built on the Ubuntu machines and make it live and enable the installation of it in the playbooks

[2020-06-22 10:24] andrew-m-leonard opened #1402 "test-macincloud-macos1013-x64-1 laggy filesystem"
**Test_openjdk8_j9_sanity.openjdk_x86-64_mac_xl:**
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_x86-64_mac_xl/240/console
[code]

[2020-06-22 10:25] andrew-m-leonard opened #1403 "test-scaleway-ubuntu1604-x64-1 out of disk space"
**Test_openjdk11_j9_extended.system_x86-64_linux_xl:**
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.system_x86-64_linux_xl/260/console
[code]

[2020-06-22 10:27] andrew-m-leonard opened #1404 "test-softlayer-win2012r2-x64-1 I/O problems"
**Test_openjdk14_j9_sanity.openjdk_x86-64_windows:**
https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_windows/112/console
[code]

[2020-06-22 10:29] karianna commented on #1404
@Willsparker - I wonder if we're seeing a cygwin bug here as well.  How old are the Cygwins on those machines?

[2020-06-22 10:48] sxa commented on #1403
Looks like leftover docker images

[2020-06-22 10:53] sxa commented on #1403
Have dont a it of a clearout but still lots of images left. @smlambert would you expect machines used for the external testing to leave lots of images around between runs and if so do you know the total requirements for the space in `/var/lib/docker`? We may have to remove the docker tag from this particular machine as it's a bit more space limited than the ones at some of our other providers :-)

[2020-06-22 11:59] smlambert commented on #1403
We clean up the machine at the end of each test run, but if the run is aborted, we are unable to clean it up.  I am aware there have been cases like this (when others pre-emptively kill jobs).  We plan to add a 'docker prune' step (https://github.com/AdoptOpenJDK/TKG/issues/45), but yes, if a machine is short on space, you may wish to remove the tag.

[2020-06-22 12:53] Willsparker commented on #1404
ref: #1396

@karianna I think it's due to leftover processes. When I try and delete it using file explorer (as Admin), I get this:
<img width="458" alt="Screenshot 2020-06-22 at 13 46 18" src="https://user-images.githubusercontent.com/52783864/85289084-c7e12c00-b48e-11ea-93f4-fd7b820a602b.png">

When I go through resource monitor, I can see there's still some java processes running on it:
<img wid

[2020-06-22 12:58] Willsparker commented on #1404
I suppose it could be a Cygwin issue, however, Jenkins is meant to have a way of auto killing any process that is spawned within a job (see https://wiki.jenkins.io/display/JENKINS/ProcessTreeKiller ), so unless Cygwin escapes that somehow, this shouldn't happen.. :/

[2020-06-22 14:22] Willsparker commented on #1404
I'm going to close this issue as the workspace has been cleared now - We have #1396 to track how to possibly fix it :-)

[2020-06-22 14:22] #1404 closed

[2020-06-22 18:45] M-Davies commented on #1214
h

[2020-06-22 19:34] sxa commented on #1403
On the basis that we're no longer short on Linux/x64 machines to run tests on I'll do that for now and close this/ `sw.tool.docker` removed from [test-scaleway-ubuntu1604-x64-1](https://ci.adoptopenjdk.net/computer/test-scaleway-ubuntu1604-x64-1/)

[2020-06-22 19:34] #1403 closed

[2020-06-23 08:45] archanaNogriya opened #1409 "Connection refused / Connection Failure causing nightly builds fail"
**jdk11u-windows-x64-openj9-windowsXL**
**jdk8u-windows-x64-openj9**
**jdk8u-windows-x86-32-openj9**

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9-windowsXL/389/console

`00:32:13  Downloading https://services.gradle.org/distributions/gradle-6.5-bin.zip
00:32:35
00:32:35  Exception in thread "main" java.net.ConnectException:

[2020-06-23 08:48] archanaNogriya opened #1407 "build-osuosl-aix71-ppc64-2 marked offline"
**jdk8u-aix-ppc64-hotspot**
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-hotspot/624/console

`20:15:27  build-osuosl-aix71-ppc64-2 was marked offline: Connection was broken: java.io.IOException: Unexpected EOF
20:15:27  	at hudson.remoting.ChunkedInputStream.readUntilBreak(ChunkedInputStream.java:99)
20:15:27  	at hudson.remoting.Chunk

[2020-06-23 09:35] sxa commented on #1407
Looks fully online and working at the moment - I would suggest ensuring this is logged in the intermittent build failures issue.

[2020-06-23 09:35] #1407 closed

[2020-06-23 09:36] Willsparker commented on #1401
I've found a solution that would fix this issue- as in split out the tasks, as this makes it more readable for people who aren't as familiar with `cmd`/ Windows functions. I confirmed this does remove the speech marks as intended.
[code]
I'm happy to put it in, the problem is that the error message I posted above would suggest there was/is an issue with the `setx` syntax - possibly something with

[2020-06-23 09:42] Willsparker commented on #1401
ref: #796

Found out, my hypothesis is incorrect - it will fail if there IS a `"` in `%PATH%`.  Either way, the fix listed above should still stop the issue :-)

[2020-06-23 13:00] Haroon-Khel commented on #1165
Just had a quick look through the run times. All are around 1hr - 1hr 15, except for builds 277 and 275, both of which ran on test-scaleway-ubuntu1604-x64-1. These builds also had many `com/sun/jdi` test failures

[2020-06-23 16:36] sxa commented on #1165
@smlambert @adam-thorpe are you aware of those failures happening on one of our machines. While I'm somewhat tempted to just decomission this machine at some point if it's exposing a problem it would be useful to track it

[2020-06-23 21:15] smlambert commented on #1165
[search jdi in openjdk-tests repo](https://github.com/AdoptOpenJDK/openjdk-tests/issues?q=is%3Aissue+is%3Aopen+jdi) and come up with a list of issues (though mainly the jdi tests that are .sh scripts and not the tests that you link to above).

I guess no one is triaging the sanity.openjdk suite for hotspot runs at the moment (as in trying to figure out root cause), just reporting failures in the b

[2020-06-23 23:23] smlambert commented on #1165
Looking more closely at the jdi failures, looks to be caused by ERROR: transport error 202: bind failed: Address already in use, as in some previously started process is still using the socket, and so these tests are unable to setup and use the socket, because its already in use.

related: https://github.com/AdoptOpenJDK/TKG/issues/45 it will be good to know what processes are still present on mac

[2020-06-24 07:49] Willsparker commented on #1409
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-openj9-linuxXL/223/consoleFull
The `jdk8u-linux-ppc64le-openj9-linuxXL` job ran on the same machine as the failing build last night and succeeded. The error message would suggest to me that it was a Jenkins glitch?

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk14u/job/jdk14u-aix-ppc64-hotspot/

[2020-06-24 08:15] sxa commented on #1165
No sign of processes being left on the machine (although if they were, [sxaProcessCheck](https://ci.adoptopenjdk.net/job/SXA-processCheck/label=test-scaleway-ubuntu1604-x64-1) would have cleared it up by now) so I'm running https://ci.adoptopenjdk.net/job/Grinder/3441 and will look at the machine afterwards.

[2020-06-24 08:54] andrew-m-leonard opened #1410 "test-softlayer-win2012r2-x64-2 corrupt git repo unable to clean..."
https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.openjdk_x86-64_windows/114/console
[code]

[2020-06-24 08:57] Willsparker commented on #1410
ref: #1396

[2020-06-24 09:11] Willsparker commented on #1410
Again, another instance of a leftover java process using the file, therefore stopping anything from being able to delete it.
The file in particular a core log file from a test:
`C:\Users\jenkins\workspace\Test_openjdk14_j9_sanity.openjdk_x86-64_windows\openjdk-tests\TKG\test_output_15927131979083\jdk_lang_j9_0\work\scratch_1\javacore.20200620.233449.36172.0001`

I'm not sure whether this is releva

[2020-06-24 09:27] Willsparker commented on #1410
I've stopped the process and deleted the file. I'll include a link to the above comment in my `track corrupt workspaces on windows` issue.

[2020-06-24 09:27] #1410 closed

[2020-06-24 10:00] Willsparker commented on #1396
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1410#issuecomment-648698797

^ This comment is a bit of a more in-depth look at what's stopping Jenkins from deleting a workspace. It appears to be due to a java process that is writing to a log file after a test that isn't being stopped properly by Jenkins.
@M-Davies , I know you have a fair amount of experience with tests & Jenkins, a

[2020-06-24 10:55] M-Davies commented on #1396
At first I thought this may have been due to an aborted run on the affected machine (which usually causes problems like this) but this didn't appear the case as no grinders and only two unsuccessful test runs have been executed on the machine recently.

- The [first run](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk14_j9_sanity.openjdk_x86-64_windows/111/consoleFull) on `20-Jun-20

[2020-06-24 11:04] M-Davies commented on #1396
So we [do actually clean up prior to running tests](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests#L145) but it's not forced and I don't think there is a way for `cleanws()` to be forced

[2020-06-24 16:02] Willsparker commented on #1396
I think the way this needs to be resolved is to ensure all the Java processes have stopped after any given test run - no process , no locked file and `cleanWS()` should be able to do it's job. My concern is that Jenkins _really_ should be doing it by itself due to [ProcessTreeKiller](https://wiki.jenkins.io/display/JENKINS/ProcessTreeKiller).
This is linked to https://github.com/AdoptOpenJDK/openj

[2020-06-24 16:04] #1401 closed

[2020-06-25 08:45] archanaNogriya opened #1412 "build failure : Can not access tar.gz."
**jdk11u-windows-x64-hotspot
jdk11u-windows-x64-openj9**

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-hotspot/644/console

ls: cannot access 'workspace/target/*.tar.gz': No such file or directory

[2020-06-25 08:52] M-Davies commented on #1412
@archanaNogriya Looks like it's actually a copy artefact failure. Not due to a `No such file or directory`
[code]

[2020-06-25 09:04] archanaNogriya commented on #1412
thanks, @M-Davies, I understood that copy artefact failure was due to not able to access the file.

[2020-06-25 10:00] Willsparker commented on #1287
@sxa and I investigated yesterday. It appears that there are 2 issues that are preventing clean `VPC` runs- One where there are multiple `VBoxNetDHCP` processes, the VMs get confused and can change IP addresses halfway through `VPC` running, causing the machine to stay powered on, but the playbook fails. Manually `kill`ing all the extra VBoxNetDHCP seems to stop this, however we're keeping an eye

[2020-06-25 12:51] karianna opened #1414 "Jenkins Upgrade to 2.235.1 from 2.222.4"
https://www.jenkins.io/changelog-stable/

[2020-06-25 12:52] karianna opened #1415 "Asynchronous Resource Disposer Report - June 2020"
Resource | State | Tracked since | &nbsp;
-- | -- | -- | --
Workspace build-azure-win2012r2-x64-1:J:/jenkins/tmp_ws-cleanup_1592304830562 | jenkins.util.io.CompositeIOException: Unable to delete 'J:\jenkins\tmp_ws-cleanup_1592304830562'. Tried 3 times (of a maximum of 3) waiting 0.1 sec between attempts. | 2020-06-16 12:53 |  
Workspace test-ibm-aix71-ppc64-1:/home/jenkins/workspace/build-scripts/

[2020-06-25 13:20] Willsparker commented on #1287
I was able to setup a separate Jenkins instance and run `VPC` on it without the issues occurring on it - this was with Jenkins `2.235.1` and with the cmd line argument to specifically disable `ProcessTreeKiller` :
[code]
I've got a list of situations I can try to confirm the circumstances in which these issues arise, which could possibly lead to a fix. (The first in the list is the aforementioned

[2020-06-25 13:25] Willsparker commented on #1396
Ref: #1415
The referenced issue will be a good way of keeping a track of the files that aren't able to be cleaned-up automatically by Jenkins

[2020-06-25 15:02] adamfarley commented on #1412
I suggest that there are two bugs in this job.

The workspace issue should be fixed, I agree, but I believe that the failure is being caused by something in the installer job, as Morgan mentioned.

Keep this issue for the "cannot access workspace" problem. I'll raise a new one for the installer once I get access to it.

[2020-06-25 15:05] M-Davies commented on #1412
Please close as a dup of https://github.com/AdoptOpenJDK/openjdk-build/issues/1834. The error message is misleading due to https://github.com/AdoptOpenJDK/openjdk-build/pull/1932

[2020-06-25 15:09] Leonardo2718 commented on #1362
@gdams ping?

[2020-06-25 15:23] adamfarley opened #1416 "Request for access to installer build jobs"
I request access to the installer build jobs on Adopt jenkins.

E.g. https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_windows/

This access is requested because I'm now working on build and test failure triage at Adopt.

[2020-06-25 16:32] sxa commented on #1416
I approve

[2020-06-25 16:33] karianna commented on #1416
Shall we just add Adam to the installer team?

[2020-06-25 16:34] #1412 closed

[2020-06-25 16:34] sxa commented on #1416
Done (Need to streamline this a bit...)

[2020-06-25 16:34] #1416 closed

[2020-06-26 07:37] Willsparker commented on #1415
@karianna Could I get access to https://ci.adoptopenjdk.net/administrativeMonitor/AsyncResourceDisposer/ ?

[2020-06-26 08:49] Willsparker commented on #1287
All of the above runs ran through cleanly. This would suggest that it's not the Jenkins version updating that is causing the issues, and that the `BUILD_ID` changes @sxa and I have made work to stop `ProcessTreeKiller`.
It also confirms that the machine running `VPC` isn't at fault.

I'm rerunning the above test, but instead of having `VPC` run on the master node, I've connected a slave node (what

[2020-06-26 09:30] sxa commented on #1415
Unfortunately it does not appear to be possible to view that without jenkins admin access ...

[2020-06-26 13:18] sxa commented on #1277
The overhead of starting up a virtual X server shouldn't be much at all - a few seconds at most. Assuming it would be started/stopped once per job (as opposed to for each individual test!) that might not be a problem. I'd only be concerned about whether we make it harder for anyone else running our test scripts to run the tests if they don't have the virtual server up - if it just fails the tests

[2020-06-26 13:30] smlambert commented on #1277
Yes, that is the behaviour if no virtual server is up, tests fail (with error msg that says failed to set x11 display... or something similar).

@Haroon-Khel has a good start on a [PR](https://github.com/AdoptOpenJDK/openjdk-tests/pull/1835) to address this, just need to debug the breakage of the linux story (which should be something fairly straight-forward).

[2020-06-26 16:32] sxa commented on #1414
@karianna Do you intend to schedule this over the weekend?

[2020-06-26 20:15] karianna commented on #1414
Yes if I see master is quiet

[2020-06-26 20:20] karianna commented on #1415
Yeah sorry, we're still keeping Jenkins Admin locked down for now, So I'll just post the details here.  Happy to screen share/pair on a particular issue though.

[2020-06-29 08:00] andrew-m-leonard opened #1417 "All arm nodes offline over weekend"
build-scaleway-ubuntu1604-armv7-1 & 2 both offline over weekend causing build pipelines to all queue up...

Re-launched build-scaleway-ubuntu1604-armv7-1 sucessfully.
build-scaleway-ubuntu1604-armv7-2 won't come back online.

[2020-06-30 09:24] sxa commented on #1417
`-2` had to be force restarted. Came back quickly and reconnected

[2020-06-30 09:26] #1417 closed

[2020-06-30 10:05] M-Davies opened #1419 "Azure windows machines require cleardown"
While working on testing some code changes for an issue I am working on, I enabled `clean workspace` for some builds by accident which has reproduced https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1396. They will likely need to be cleaned out before the nightly builds start later

`build-azure-1`
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/jdk8u-windows-x64-hotspot/25/

[2020-06-30 11:21] davidm-hub commented on #1232
@sxa Congratulation for Eclipse Adoptium.
Does this also mean the armel build will also be done in Eclipse Adoptium ?

[2020-06-30 11:30] sxa commented on #1287
Jenkins is killing the `VBoxXPCOMIPCD` process which manages inter-process communication between the VirtualBox process which is causing it to shutdown the VM.

[2020-06-30 13:42] sxa commented on #1419
For the file on `azure-1` it cannot remove a zero lenght file called `_the..` in the directory that it's having problems with. I'v retried from the command line and also from the GUI - no change. The machine wants to reboot itself for updates anyway so I'll initiate that just now which should clear it out

[2020-06-30 13:48] sxa commented on #1419
Seems to be the same file on `-2`:

`j:\jenkins\tmp\workspace\build\src\build\windows-x86_64-normal-server-release\jdk\gensrc\java\nio\_the..`

The file was created at exactly 8am today UK time. I'll reboot it too

[2020-06-30 15:07] sxa commented on #1419
That didn't work ... However removing it with the cygwin `rm` command did ... Closing, but rather confused ...

[2020-06-30 15:07] #1419 closed

[2020-06-30 18:45] karianna commented on #1232
See https://projects.eclipse.org/projects/adoptium/governance - I'm not sure if we'll be able to run the TCK for this platform, so a TBD

[2020-06-30 18:45] karianna commented on #1287
I need to try that Jenkins restart :-/

[2020-06-30 21:17] Haroon-Khel commented on #1277
Ive made some final changes on that pr. I kicked off grinders, running both jdk_awt and jdk_swing, on linux and aix. All tests run without any previously occuring DISPLAY error, which is great, depsite not all of the tests passing.
Grinders:
Linux: [jdk_awt](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3481/testReport/), [jdk_swing](https://ci.adoptopenjdk.net/view/Test_grinder/job/Gr

[2020-07-01 08:05] vpernin commented on #1232
@karianna I thought AdoptOpenJDK had not the right to use the TCK for legal reason with Oracle (source : you at a session at QCon London).

[2020-07-01 09:37] andrew-m-leonard commented on #1402
problem again: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_x86-64_mac/277/console

[2020-07-01 09:45] sxa commented on #1232
We expect Eclipse Adoptium and AdoptOpenJDK to have different agreements in that respect.

[2020-07-01 09:59] sxa commented on #1277
Sounds good - feel free to close this :-)

[2020-07-01 10:17] sxa commented on #1287
Unfortunately I don't think that will resolve this one :-(

[2020-07-01 11:43] #1277 closed

[2020-07-01 12:05] vpernin commented on #1232
Good news for the TCK.
I must admit, moreover with the opportunity to get the TCK, that I do not understand the impact of the governance rules for an ARM build.

[2020-07-01 12:13] karianna commented on #1232
I'm not sure the TCK can run on your platform is the concern, in which case we could not distribute it.

[2020-07-03 10:31] Haroon-Khel commented on #997
@sxa  What is left to do on this issue?

[2020-07-03 10:49] sxa commented on #997
Only the backups really for which I'm still awaiting input from @gdams and @karianna but I can close this off and cover those outside this issue since the server is operational.

[2020-07-03 10:49] #997 closed

[2020-07-03 12:24] adamfarley commented on #1409
I'm seeing a FlowInterruptedException on build-macstadium-macos1014-x64-1

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk14u/job/jdk14u-mac-x64-openj9-macosXL/133/consoleFull

Any chance this is related?

[2020-07-03 15:19] adamfarley opened #1423 "test-godaddy-ubuntu1604-x64-2 cannot reach test-godaddy-ubuntu1604-x64-2"
[This test](https://ci.adoptopenjdk.net/job/Test_openjdk11_corretto_sanity.perf_x86-64_linux/117/consoleText) failed while running on test-godaddy-ubuntu1604-x64-2 because test-godaddy-ubuntu1604-x64-2 was not known.

[code]

I attempted to ping test-godaddy-ubuntu1604-x64-2.adoptopenjdk.net, but got an error on my local machine too.

Is this an infrastructure problem?

[Re-running the test now](h

[2020-07-06 07:36] Willsparker commented on #1287
@sxa How'd you find it was the `VBoxXPCOMIPCD` process?

[2020-07-06 07:58] Willsparker commented on #1423
From what I can gather with https://stackoverflow.com/questions/33028842/unknownhostexception-name-or-service-not-known , the `/etc/hosts` file needs to be updated with `127.0.0.1  test-godaddy-ubuntu1604-x64-2.adoptopenjdk.net localhost`.
Did that for IPv4 to see if that fixes the issue. If not, I'll try for IPv6.
https://ci.adoptopenjdk.net/job/Grinder/3504/console

[2020-07-06 08:06] Willsparker commented on #1419
So, [this PR](https://github.com/AdoptOpenJDK/openjdk-build/pull/1892) seems to have fixed this problem for specifically the path: `C:/workspace/openjdk-build/workspace/build/src/build/*/jdk/gensrc` (as that was the path that was affecting Softlayer machines). It seems an additional `context.sh` script or more general fix is required to fix it for the `azure` machines. Not sure why it's only now i

[2020-07-06 08:19] M-Davies commented on #1419
@Willsparker Can you raise a build issue for that?

[2020-07-06 08:21] Willsparker commented on #1419
PR in ;-)

[2020-07-06 08:22] andrew-m-leonard opened #1425 "test-softlayer-ubuntu1604-x64-1 short on disk space possibly?"
Test failed with no disk space error: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.external_x86-64_linux_example-test/17/console

However looking at machine, it has 20Gb free now...? maybe fixed itself?

[2020-07-06 08:28] Willsparker commented on #1425
I'll run a grinder and see if the issue recurs. From the log it say it deleted the workspace after running the tests - however I'd be surprised if tests can amount to 20GB...?

[2020-07-06 08:31] Willsparker commented on #1415
Alright, thank you :-)

[2020-07-06 09:07] Willsparker commented on #1423
Seems to have fixed it in that linked Grinder :-) closing

[2020-07-06 09:12] adamfarley commented on #1423
Good job @Willsparker :)

[2020-07-06 09:19] Willsparker commented on #1425
Grinder succeeded and it appears the machine has 21GB free mounted at `/home`, so seems alright now. Closing

[2020-07-06 09:51] #1425 closed

[2020-07-06 10:00] sxa commented on #1423
I was sure we'd fixed this in past ... but bear in mind that the solution you've implemented is not the same as [the playbooks](https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/main.yml#L54).

Also unless this fix gets deployed to other equivalent machines (and it doesn't seem to have been) then the test will continu

[2020-07-06 10:02] sxa commented on #1287
Have also raised https://issues.jenkins-ci.org/browse/JENKINS-62923 against jenkins

[2020-07-06 10:04] sxa commented on #1287
By using the systemtap script that we discussed before you went on holiday to trace the kill system calls

[2020-07-06 10:08] Willsparker commented on #1287
Oh yeah! Entirely forgot we used that. Thanks for raising the issue with the Jenkins people.

[2020-07-06 10:29] Willsparker commented on #1423
@sxa From what I can see from the playbook would want the following:
[code]
The `ansible_default_ipv4_address` appears to be 10.0.2.15 (looking at several `VPC` runs), however I assume this isn't necessarily the case for the `GoDaddy` machines?
Looking at that comment, I'll just need to change both the `/etc/hosts` and the `/etc/cloud/templates/hosts.debian.tmpl` files on all the machines to make

[2020-07-06 10:41] Willsparker commented on #1423
Hmm, I ran `ansible all -i host -m setup`, with the host file containing the IP for `test-godaddy-ubuntu1604-x64-2` as listed in `Jenkins` ( 160.153.246.176 ), and the `ansible_default_ipv4_address` came out as the same as the one in the host file. I'll put this into `/etc/hosts` on the machine and rerun the grinder:
[code]
If the grinder works, I'll put it into the `/etc/cloud/templates/hosts.deb

[2020-07-06 11:47] Willsparker commented on #1423
https://ci.adoptopenjdk.net/job/Grinder/3509/
It appears the above fix works. @sxa are you alright with me manually putting those entries into all of the goDaddy machines in `/etc/hosts` and `/etc/cloud/templates/hosts.debian.tmpl` ?

[2020-07-06 11:51] sxa commented on #1423
I'm wondering if we need a provider specific ansible role to be able to make changes such as to the template file going forward, otherwise when we get new machines from this provider we'll lose the entries

[2020-07-06 11:55] Willsparker commented on #1423
Wouldn't be a bad idea, I think. I would imagine there's more provider specific changes that are needed than changing the host file. Off the top of my head, some providers have shortnames already enabled for Windows, some don't, for example.

[2020-07-06 11:57] sxa commented on #1423
Yep

[2020-07-06 12:58] sxa commented on #1295
@gdams @karianna On the TSC call it was mentioned that we do still have these backups in place - can we have a discussion and get the current situation correctly documented please?

[2020-07-06 13:34] Willsparker commented on #1423
Right, for all 4 of the GoDaddy Machines, I've put the following in both `/etc/hosts` AND `/etc/cloud/templates/hosts.debian.tmpl`
[code]
I'm going to go back through the various infra / build issues that had this error message / ones relating to hostnames, in the hope that a few can be closed with these fixes. Closing this issue. I'll open another one that looks to make a provider specific role f

[2020-07-06 13:34] #1423 closed

[2020-07-06 14:07] Willsparker opened #1427 "Create a role to run tasks specific to machine providers"
Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1423#issuecomment-654186885

Some providers have differences in the way some of the machines are configured. The main example that prompted this issue is the way `goDaddy` has it's `/etc/hosts` file setup. Currently, our playbooks will alter the `/etc/hosts` file :
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/fab906d

[2020-07-06 15:00] Willsparker commented on #1145
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1423#issuecomment-654241669
I managed to find a solution to an issue that has the same error message as listed here, therefore it's worth trying to apply the fix to the other GoDaddy machines and see if the tests that were excluded now run on them.
For the sake of these, I'm going to just use the `com/sun/jdi/BadHandshakeTest.java` test

[2020-07-07 08:22] adamfarley opened #1430 "Date and time check request for build-siteox-solaris10u9-x64-1"
I noticed a solaris build failed with a CertificateNotYetValidException.

[code]

This implies that it has the wrong date + time set locally.

Please could someone with access to the machine pop on there and see what date it thinks it is?

If it's wrong, please correct it. Thanks. :)

Machine: build-siteox-solaris10u9-x64-1

[2020-07-07 08:28] M-Davies commented on #1145
PR is in to do that here: https://github.com/AdoptOpenJDK/openjdk-tests/pull/1870

[2020-07-07 10:18] Willsparker commented on #1427
With each machine, we set the hostnames of it to what we call the machines in `inventory.yml` / on Jenkins. i.e., the hostname of `test-godaddy-ubuntu1604-x64-1` is `test-godaddy-ubuntu1604-x64-1`.
We can use this as a way of identifying the provider for use in ansible, running something along the lines of `hostname | cut -d- -f2`, and registering the output to a variable. I tried this approach on

[2020-07-07 10:43] andrew-m-leonard opened #1431 "Replace build-packet-centos74-armv8-1 with new machine with reliable "disk""
Issue https://github.com/AdoptOpenJDK/openjdk-build/issues/1804
highlighted a probable intermittent "disk" I/O issue during "builds"
We need a reliable centos7 arm x64 machine replacement

[2020-07-07 12:17] jdekonin commented on #1427
Also something to keep in mind, there are folks that use the playbooks that do not use the inventory.yml or the naming convention that is used here.  It would be nice if that wasn't being forced onto all users.  My team uses a our own `main.yml` and only includes those roles that we know work for our environment(s), so we would definitely appreciate this in its own role if that were at all possibl

[2020-07-07 13:12] Willsparker commented on #1427
Good point. I can put the `adoptopenjdk` tag onto the role/tasks, which we already suggest people skip when running these playbooks- seems fitting as the only group to benefit from a provider specific role is AdoptOpenJDK :) Does that work for your team?

[2020-07-07 13:16] Willsparker commented on #1145
With the above PR merged, I think this can be closed now.

[2020-07-07 13:16] #1145 closed

[2020-07-07 13:48] sxa opened #1432 "Ramdisk performance testing on OSUOSL AIX systems"
Creating this issue to log experiments being done on the OSUOSL to put different parts of the process onto a ramdisk.
Before starting,

JDK | building where? | time
---|---|---
JDK8 | /ramdisk0 build | 34m
JDK8 | local build | 53m
JDK8 | local + TMPDIR=ramdisk0 | [TBC](https://ci.adoptopenjdk.net/view/work%20in%20progress/job/SXA-AIX-hs8/10/)
JDK11 | local build | 1h00
JDK11 | local + /tmp=ramdisk

[2020-07-07 15:23] pshipton commented on #1400
@gdams what Xcode is used for the other Java versions?

[2020-07-08 08:25] andrew-m-leonard opened #1435 "build-siteox-solaris10u9-x64-1 server "time" wrong??"
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-hotspot/365/console
[code]

assuming server time is wrong?

[2020-07-08 08:32] karianna commented on #1435
#1430 - Probably duplicate

[2020-07-08 08:58] lumpfish opened #1436 "Timeout running ansible playbook on Windows"
I used the ansible playbook to setup a Windows 2012 Server machine for building the openj9 jdk following these instructions: https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/README.md.
The playbook failed during the cygwin install step (and after multiple attempts) with messages (on the linux machine running ansible) like:
[code]
(The x.xx.xxx.xxx was the IP address of th

[2020-07-08 09:02] #1427 closed

[2020-07-08 11:14] Willsparker commented on #1435
Yep, looks like it to me- closing.

[2020-07-08 11:14] #1435 closed

[2020-07-08 11:49] sxa commented on #1210
The change merged was backed out in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1231 - reopening this issue

[2020-07-08 11:50] sxa commented on #1436
Interesting - assuming that's 600 as in 600 seconds (10 minutes) that seems to be less than the amount of time it took in e.g. https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/OS=Win2012,label=vagrant/668/console (22 minutes) which didn't time out.

@Willsparker Have you done anything in VPC to adjust these timeouts from the defaults?

I agree that this should be documented somewh

[2020-07-08 11:53] sxa commented on #1432
Builds failed with resource unavailable messages on last run when `/tmp` and `/var/tmp` were converted to ramdisks, despite it being smaller than the main ramdisks we've used in the past

[2020-07-08 12:00] lumpfish commented on #1436
I don't know what ansible defines as an 'operation' - but the cygwin install actually took way longer that the 600 sec timeout might imply would trigger the timeout (but which nevertheless worked for me).  There may well be something more subtle going on.

[2020-07-08 12:21] adamfarley opened #1439 "Memory usage review requested for test-godaddy-centos7-x64-1"
[One of the tests](https://trss.adoptopenjdk.net/output/test?id=5f0522367eaab3443c94d44e) is reporting that it can't find 4g of available memory on the machine, while the pre-test check appears to believe the os has more than that much.

Please check this machine and see if something's hogging the memory.

If it is, please get the memory released if possible, or perhaps just turn the machine off +

[2020-07-08 13:46] Willsparker commented on #1436
The only timeout I change in `VPC` is in the `ansible.cfg` and only applies to the Linux machines. (https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/c9902f959118f2f66d3470a31a7809213c904b6f/ansible/pbTestScripts/vagrantPlaybookCheck.sh#L227 )
I haven't had the Cygwin installation timeout for me like that, unless I had locked my mac for whatever reason, whilst the playbook was executing.

[2020-07-08 15:04] sxa commented on #283
As far as I can see this in place now on the machine - closing. Please re-open if required

[2020-07-08 15:04] #283 closed

[2020-07-08 15:39] sxa commented on #1439
There were a couple of docker images on the machine which I've cleared up - both were running java processes using in the order of 1Gb of RAM. One was `camel-quarkus` and the other was `tomee` `microprofile-tck`.

I'm fairly sure this will resolve it.

[2020-07-08 15:39] #1439 closed

[2020-07-08 15:40] adamfarley commented on #1439
Thanks @sxa :)

[2020-07-08 15:41] sxa commented on #1436
Is that in minutes? i.e. is that setting it to 30 minutes which would be higher than the amount of time that the cygwin install takes?

[2020-07-09 06:42] andrew-m-leonard opened #1440 "build-osuosl-aix71-ppc64-1 low on disk space"
Build failure: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-aix-ppc64-hotspot/lastBuild/consoleFull
Only has 2.7Gb free

[2020-07-09 07:52] Willsparker commented on #1436
It's in seconds, but as I said, it isn't changed in a Windows run of `VPC`.
https://docs.ansible.com/ansible/2.4/ansible-playbook.html#cmdoption-ansible-playbook-t
That particular line is just overriding the default connection timeout time of 10s to 30s.
IIRC I put that in when I changed the playbook to run on a host and point at a VM instead of on the VM itself, and the addition of the `--become`

[2020-07-09 12:14] Haroon-Khel commented on #1391
Moving the `- name: Load AdoptOpenJDKs variable file` task, which is run in its own task block, to its own role seems to have fixed the issue of the `bootjdk` variable not loading. Changes are being made in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1434

[2020-07-10 09:57] sxa commented on #1440
Was caused by the ramdisk not having been mounted. Fixed

[2020-07-10 09:57] #1440 closed

[2020-07-10 12:52] sxa commented on #1432
On pause until lthe release goes out

[2020-07-10 18:11] sxa commented on #1432
We've got the JDK8 build down to under half an hour (so broadly comparable with the ramdisk!) on [build-osuosl-aix71-ppc64-2](https://ci.adoptopenjdk.net/computer/build-osuosl-aix71-ppc64-2) running on a filesystem with journaling disabled (which shouldn't be an issue for jenkins workspaces as they'll regenerate if required).

JDK11 HotSpot is similarly running at around 40 minutes on the local di

[2020-07-10 18:11] #1432 closed

[2020-07-13 09:30] gdams commented on #1430
the date is wrong but it doesn't look really wrong:

[code]

updating now anyway

[2020-07-13 09:38] gdams commented on #1430
running a test build: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-solaris-x64-hotspot/371/console

[2020-07-13 10:04] gdams commented on #1400
for all other Java versions we use Xcode command-line build tools:

[code]

[2020-07-13 10:04] #1400 closed

[2020-07-13 11:42] Willsparker commented on #1287
@sxa came up with an idea to setup the `infra-softlayer-ubuntu1804-x64-1` machine with multiple different Jenkins agents, all with a single executor (these are at `ci.adoptopenjdk.net/computer` as `infra-softlayer-ubuntu1804-x64-1.X` )  - therefore Jenkins killing `VBoxXPCOMIPCD` isn't an issue as each VM has it's own unique process.

This was initially causing `vagrant` to assign the same IP addr

[2020-07-13 11:49] Willsparker commented on #1441
I've had a look, unfortunately all of the build runs linked in this issue and the dupe issue are old and have been removed so I'm unable to see the logs. When this recurs, I'll look into it a bit more , and I can see what file (and/ or command) is missing :-)

[2020-07-13 11:49] sxa commented on #1346
Being addressed under a recurrance at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1430

[2020-07-13 11:49] #1346 closed

[2020-07-13 11:58] #1430 closed

[2020-07-13 12:00] gdams commented on #1362
@Leonardo2718 apologies for the delay, key is added:

[code]

[2020-07-13 12:01] gdams commented on #1194
this was almost certainly the same issue with the date being incorrect.

[2020-07-13 12:01] #1194 closed

[2020-07-13 12:02] gdams commented on #1431
we will switch to aarch64 docker images once we've got the CPU releases out so this will be unnecessary https://github.com/AdoptOpenJDK/openjdk-build/pull/1964

[2020-07-13 12:02] #1431 closed

[2020-07-13 19:12] adamfarley opened #1443 "build-osuosl-aix71-ppc64-1 ulimit concern"
Test Zip64SizeTest fails on this machine with an error referencing ulimit sizes:
[code]

Examples here:
https://trss.adoptopenjdk.net/output/test?id=5f0a74bf7eaab3443c9c4062
https://trss.adoptopenjdk.net/output/test?id=5f0b99257eaab3443c9dc1a0

**Please review the ulimit settings on this machine and correct if needed.**

Note that we had the same test+machine combo pass on the 9th at 2:29am, so I

[2020-07-14 08:11] Willsparker opened #1444 "Fix QEMU VMs for QEMUPlaybookCheck; Investigate adding ARM64 too"
Ref: https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/ , #1059

For awhile the s390x machine at the referenced Jenkins job has not been able to complete its playbook due to what looks like missing packages (From https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/41/ARCHITECTURE=s390x,label=vagrant/ ):

[code]

ppc64le has also been failing but reporting a false positive ( from https://ci.adoptopen

[2020-07-14 08:34] andrew-m-leonard opened #1445 "build-osuosl-aix71-ppc64-1 ulimit not large enough"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.openjdk_ppc64_aix/126/console
[code]
Test is trying to create a 5Gb test file

[2020-07-14 08:41] andrew-m-leonard commented on #1445
Duplicate: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1443

[2020-07-14 08:41] #1445 closed

[2020-07-14 08:45] andrew-m-leonard opened #1446 "test-aws-win2019-x64-1 short on disk space"
https://ci.adoptopenjdk.net/computer/test-aws-win2019-x64-1/
[code]
263Mb free

[2020-07-14 08:50] andrew-m-leonard commented on #1425
Re-occurred: https://ci.adoptopenjdk.net/job/Test_openjdk14_j9_sanity.external_x86-64_linux_quarkus_quickstarts/27/console

[2020-07-14 08:53] andrew-m-leonard commented on #1425
Suspect test issue with docker image: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1887

[2020-07-14 09:44] Willsparker commented on #1446
I've removed some of the unnecessary clutter in `C:/temp` , which freed up about 1.2GB. Do. you want me to just delete the test workspaces that failed last night? That makes up about 15GB.
(The folders generated from the following)
https://ci.adoptopenjdk.net/view/Test_perf/job/Test_openjdk11_hs_sanity.perf_x86-64_windows/228/
https://ci.adoptopenjdk.net/view/Test_perf/job/Test_openjdk14_j9_sanity

[2020-07-14 10:11] Willsparker commented on #1425
There's an awful lot of containers and images left over from various sources on that machine:
[code]
To give an example.

Whatevers creating these jobs aren't clearing up after themselves properly and are just filling the machine.
[code]

[2020-07-14 10:24] Willsparker commented on #1425
For the sake of not wanting to ruin anything, I've removed all containers and all of the dangling images, using `docker rmi $(docker images -f "dangling=true" -q)`.
This will have just deleted all of the intermediate containers / images that chew up a lot of space.
It's freed up 7.0GB:
[code]

[2020-07-14 11:22] Willsparker commented on #1444
With S390x, I was able to replicate the problem, and fixed it by running `sudo apt-get update` before attempting to install `gnupg2`. I'll add `update_cache: yes` to the task to do this.

[2020-07-14 11:27] Willsparker commented on #1444
QEMUPlaybookCheck run to determine any other issues with s390x:
https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/42/

[2020-07-14 11:45] Willsparker commented on #1446
The above workspaces have been removed, leaving 16.2GB free :-)

[2020-07-14 11:45] #1446 closed

[2020-07-14 11:52] Willsparker opened #1448 "Cygwin 3.15 is unable to build OpenJ9"
As the title suggests - Cygwin 3.15 is unable to build OpenJ9 due to the following error:
[code]
I was able to reproduce this on a VM too, where the only difference between a previous working JDK11/J9 build and that one, was updating `cygwin` and `cygwin-devel` packages to `3.15` with `setup_x86-64.exe`.

Currently the playbooks install `3.15`, so won't be usable until `cygwin` is updated.

Ref: h

[2020-07-14 11:53] Willsparker commented on #1448
(assigned it to myself so I remember to go back and close this either when the eclipse issue has been closed, or when Cygwin is updated)

[2020-07-14 11:53] sxa commented on #1443
@adamfarley Can you run a couple of grinders to verify whether that test in isolation fails with the latest build and the one from the 9th?

[2020-07-14 12:56] sxa commented on #1443
I've been able to create a file of over 5GB on the /home filesystem. The ramdisk where the workspace is seems to hit a limit at 2Gb although that's not a ulimit issue:

[code]

[2020-07-14 16:06] karianna commented on #1362
Do we keep this open until we revoke the temp access?

[2020-07-14 16:52] sxa commented on #1362
Generally yes so we remember to remove. If it's a permanent request for a new team member I'd close immediately on adding it.

[2020-07-15 00:54] smlambert opened #1450 "Install Xvfb or equivalent on Mac test machines"
Much like the recent work to enable jdk_awt and jdk_swing tests on AIX (via https://github.com/AdoptOpenJDK/openjdk-tests/pull/1835), we should do the same for Mac / osx platform.  Those tests require require DISPLAY variable to be set.

2 parts required to enable jdk_awt/jdk_swing test targets:
- xvfb or xquartz or some equivalent needs to be installed on machine
- changes similar to https://gith

[2020-07-15 09:47] karianna commented on #1450
Duplicate of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/211

[2020-07-15 10:52] adamfarley commented on #1443
Here's a 10x grinder for this test in isolation using the java from the run on the 9th (the one that passed).

https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_ppc64_aix/149/console

And here's one for the latest build:

https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_ppc64_aix/150/

(Despite the fact it says it's being run by George Adams)

[2020-07-15 12:11] sxa commented on #211
@Haroon-Khel We never managed to get this to a solution - since you looked at the Xvfb stuff on other platforms and are familiar with running the tests can you see if you can make an equivalent work on macos?

[2020-07-15 13:49] adamfarley commented on #1443
The test run against the build from the 9th didn't happen, as that build wasn't found.

From the looks of things, that build has already been deleted.

[2020-07-15 14:04] smlambert commented on #1450
Ah, thanks I wondered if it already existed as an issue, will close this as dup (but VERY keen on getting #211 resolved).

[2020-07-15 14:04] #1450 closed

[2020-07-15 14:49] sxa commented on #487
Thought I'd closed this. Deployed and working and also enabled for JDK in https://github.com/AdoptOpenJDK/openjdk-build/pull/1968 to fix support issue 33

[2020-07-15 14:49] #487 closed

[2020-07-15 17:24] sxa commented on #1443
The builds are all stored in github and are accessible via the [nightlies pages](https://adoptopenjdk.net/nightly.html) (which is why we don't generally need to keep more than a couple to make sure they're accessible to subsequent pipelines in a build)

In this case the difference is nothing to do with ulimits (you can see in the logs that it prints out a ulimit and it's unlimited for file size) h

[2020-07-16 09:33] adamfarley commented on #1443
Me too. I don't suppose this disk was reformatted on the 9th or later?

In any case, assuming the 2gb file size limit is the cause, this test will be excluded on ppc64le until this issue is resolved.

https://github.com/AdoptOpenJDK/openjdk-tests/pull/1896

[2020-07-16 15:54] lumpfish commented on #1448
Looks like cygwin 3.1.6 is available: https://cygwin.com/pipermail/cygwin-announce/2020-July/009605.html.  Don't know if it fixes the particular issue breaking the openj9 build though.

[2020-07-20 07:36] Willsparker commented on #1448
Yep! Spotted that - https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/733/ should hopefully show us if its fixed :-)

[2020-07-20 10:19] M-Davies opened #1453 "build-marist-rhel77-s390x-2 Out Of Space"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9/687/console
[code]

[2020-07-20 11:16] Willsparker commented on #1448
It appears to have worked, for JDK8 / J9 at least.
I'm going to try JDK11 / J9 as well.

[2020-07-20 12:16] #1287 closed

[2020-07-20 12:18] sxa commented on #1443
@adamfarley This is AIX not Linux/ppc64le

[2020-07-20 12:26] sxa commented on #1436
@Willsparker Is there a good reason not to make those increased values the defaults?

[2020-07-20 13:04] sxa commented on #1443
Passed at https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_ppc64_aix/160/

[2020-07-20 13:08] sxa commented on #1443
Exclusion reverted under https://github.com/AdoptOpenJDK/openjdk-tests/pull/1902

[2020-07-20 13:21] Willsparker commented on #1436
I suppose we could just add those variables to `/AdoptOpenJDK_Windows_Playbook/group_vars/all/adoptopenjdk_variables.yml`, however, this has only occurred once, as far as I'm aware. Increasing the timeout ~20x by default seems a bit overkill

[2020-07-20 13:25] adamfarley commented on #1443
Thanks Stewart.

[2020-07-20 16:09] Haroon-Khel commented on #211
I've tried to use the Xvfb jenkins plugin, like we do with [Linux](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L557), but I couldn't quite get it to work. I tested this in this [grinder](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3610/console) on `test-macincloud-macos1014-x64-1`, which does have Xvfb/Xquartz installed, using the jdk te

[2020-07-20 17:40] Haroon-Khel commented on #211
My plan now is to use the test scripts to use bash commands to setup an Xvfb server and export DISPLAY accordingly, during a test run, and then shut down the server after the run sort of how we do with aix. However to implement this in the test scripts, I first need to achieve this locally on the machine, using `test-macincloud-macos1014-x64-1` again.

I'm using `Xvfb :0 -ac -screen 0 1024x768x8`

[2020-07-20 17:46] gdams commented on #211
@Haroon-Khel looking at that grinder run it appears that `/opt/X11/bin` isn't in the PATH:

[code]

[2020-07-20 17:48] sxa commented on #1444
gcc 4.8 install resolved in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1454

[2020-07-20 18:03] sxa commented on #1453
Cleared out some oversized directories

[2020-07-20 18:03] #1453 closed

[2020-07-20 18:57] adamfarley opened #1455 "JDK15 builds fail on build-macstadium-macos1014-x64-2"
...but not on build-macstadium-macos1014-x64-1

Right after we try to run "git fetch -q --tags --depth=1" during a jdk15 build, we get this error on x64-2:

[code]

It happens at exactly this point, but only during a jdk15 build, and only on this machine. I don't know why.

One possibility is a corrupted workspace. Running a [job](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts

[2020-07-20 19:01] adamfarley commented on #1455
Ok, we passed the point of failure.

Verdict: workspace corruption, resolved by a "clean workspace" run.

Closing issue.

[2020-07-20 19:01] #1455 closed

[2020-07-20 23:23] smlambert commented on #211
From grinder launched above:
Caused: java.io.IOException: Cannot run program "Xvfb": error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at hudson.Proc$LocalProc.<init>(Proc.java:252)
	at hudson.Proc$LocalProc.<init>(Proc.java:221)

[2020-07-20 23:30] smlambert commented on #211
Is xquartz installed on the mac machine that Grinder is being run on, I am presuming not as I do not think that is in any ansible playbook or regular config setup at present.  As I mentioned in #1450 (closed as dup of this issue), there were some attempts internally to enable, and eventual success on a machine (referenced in internal backlog/280 issue).

[2020-07-21 07:30] Willsparker commented on #1448
https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/735/
Yep! Cygwin 3.16 has fixed the issue. Closing now

[2020-07-21 07:30] #1448 closed

[2020-07-21 07:33] Willsparker commented on #1414
Jenkins has been upgraded to 2.235.2 👍  Thanks @karianna

[2020-07-21 07:33] #1414 closed

[2020-07-21 07:39] Willsparker commented on #1444
https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/46/
`QPC` run with the changes in @sxa 's above PR

[2020-07-21 08:26] gdams commented on #211
It's there:

[code]

[2020-07-21 09:04] Willsparker commented on #1444
The above run shows that it fails at the Docker role with:
[code]
It looks like it's called `docker.io` https://packages.debian.org/buster/arm64/docker.io/download for ARM64 Deb10.

[2020-07-21 13:27] Haroon-Khel commented on #211
I created a link between `/opt/X11/bin/Xvfb` and `/usr/bin/Xvfb`. In this [grinder](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3646/console), it seems jenkins is now using the plugin, but is now getting the same error that it would get by running the test locally (which i've posted in one of my comments above):
[code]
This suggests that more than simply an Xvfb session needs to be r

[2020-07-21 13:45] #1443 closed

[2020-07-21 13:59] gdams commented on #211
just tried running this on the mac in question as the Jenkins user:

[code]

this could well be the issue, just investigating

[2020-07-21 17:20] sxa commented on #211
Suggest not using the first display i.e. try `Xvfb :1` or a higher number in case it's defaulting to zero which will be the physical display on the machine (Not sure if I have access to the machine to look myself)

[2020-07-21 17:44] sxa commented on #1436
Hmmm ok if @lumpfish really only hit it once and it doesn't recur then I'm ok with that.

[2020-07-21 19:19] sxa commented on #1414
To be clear - it has been upgraded to 2.235.2

[2020-07-21 19:41] #1436 closed

[2020-07-22 09:34] M-Davies opened #1459 "build-softlayer-win2012r2-x64-1 intermittently fails to call the adopt api when hosting JDK-Next pipelines"
Ok so a little background first.

We have been seeing sporadic api request failures across the windows [jdk next jobs](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/) (both hotspot and openj9 are affected). The errors look like net related failures where curl is closed early due to poor internet connections (unconfirmed), see below
[code]
For the record, no h

[2020-07-22 09:57] Willsparker commented on #1459
Ref: #1396 - Thought we fixed this with the two `rm -rf` commands, seems not :/ - I'll update the reference issue.

[2020-07-22 10:07] Willsparker commented on #1396
Ref: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-openj9/69/console (from the issue @M-Davies opened above)

Affected `build-softlayer-win2012r2-x64-1`, directory `C:/workspace/openjdk-build`. I was unable to delete it manually with the `Administrator` user, but was able to with the `Jenkins` user, weirdly. Haven't seen that one before, a

[2020-07-22 10:24] Willsparker commented on #1459
Alright, first brief look:
- I don't think it's necessarily a network related thing. The page its querying for ( https://api.adoptopenjdk.net/v3/info/available_releases ) is so tiny that if it can't get that, I would imagine I wouldn't be able to connect to it with 'Microsoft Remote Desktop'.
- The lines of code you linked are only ever ran on `JDK` jobs ( due to
https://github.com/AdoptOpenJDK/op

[2020-07-22 10:30] M-Davies commented on #1459
Bear in mind, some of the most recent builds were likely my test runs. Make sure you check who started the job 😉

[2020-07-22 10:31] Willsparker commented on #1459
When I run an old version of `cygwin setup` (version 2.889), the list of mirrors is reduced to the following:
[code]
According to the playbooks, we opt for the ` https://mirrors.kernel.org/sourceware/cygwin/` mirror, so something isn't right. Even going for the first one throws a lot of issues, so I'm going to download a new version of `setup.exe`. This should allow me to reinstall `curl` - I'll t

[2020-07-22 10:46] Willsparker commented on #1459
The new setup.exe (v2.905) had the correct mirrors and allowed the reinstallation of `curl` (v7.58.0), and now it works as expected within both the cygwin terminal and `cmd`.
` curl -v https://api.adoptopenjdk.net/v3/info/available_releases ` outputs correctly too.
@M-Davies could you re-try the build?

[2020-07-22 11:01] M-Davies commented on #1459
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-windows-x64-openj9/71/console looks good! Thanks @Willsparker

[2020-07-22 11:01] #1459 closed

[2020-07-22 18:19] Haroon-Khel commented on #1391
The _Failing Yum task_ may have been intermittent, as it did not occur on 2 'out of the box' aix machines

[2020-07-23 13:42] Willsparker commented on #1210
I've had another crack at trying what I did last time -  `wget` the archive from `ci.adoptopenjdk.net/userContent/` and untar to `C:/cygwin64`. While that works generally, (i.e. I can access the terminal `mintty` and do basic operations ), attempting to `git clone https://github.com/adoptopenjdk/openjdk-infrastructure` returns the same error as when I tried it before:
[code]
Reinstallation of `git

[2020-07-23 17:18] #1444 closed

[2020-07-24 10:35] adamfarley opened #1461 "AIX Ramdisk Job Failures (Can't Find Ramdisk)"
This job keeps failing because the subjobs can't seem to find the ramdisk: https://ci.adoptopenjdk.net/job/Monitor_AIX_ramdisks/

[code]

Due to the comments [here](https://github.com/AdoptOpenJDK/openjdk-build/pull/1984#pullrequestreview-454077034) and [here](https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1443#issuecomment-658897724), I believe this is because the AIX machines no l

[2020-07-24 11:20] adamfarley opened #1462 "AWS aarch64 VM appears to have no cmake"
Two [JDK11](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/428/consoleFull) [builds](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/303/consoleFull) on this machine failed with this error:

[code]

Specific machines:
- EC2 (adopt_aws) - Dynamic L

[2020-07-24 14:35] Haroon-Khel commented on #1462
Looking though our Unix playbook, it seems `cmake` only gets installed mac, and architectures x86, ppc64le, s390x and armv7l. Couldn't find anything for aarch64 so it seems this may be why this issue is occuring.

I don't exactly know how the setup behind how we dynamically provision AWS VMs, so will have to find this out first.

[2020-07-27 07:46] Willsparker commented on #1441
Given that it's been >2 weeks now and the issue (AFAIK) hasn't reappeared, @M-Davies do you have any quarrels with me closing the issue for now?

[2020-07-27 08:26] M-Davies commented on #1441
@Willsparker Yes this should be ok to close for now

[2020-07-27 08:40] #1441 closed

[2020-07-27 08:55] M-Davies opened #1463 "build-marist-rhel77-s390x-1 Out Of Space"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9-linuxXL/290/consoleFull
[code]

[2020-07-27 09:26] Willsparker commented on #1210
Following https://stackoverflow.com/questions/11744472/how-to-replicate-a-cygwin-install-and-environment-on-another-machine unfortunately didn't give much luck either - same `git` issue. I'm going to get a fresh installation of `Cygwin` and repeat the things I did above, on the off-chance that it's the archive that is the issue.

[2020-07-27 11:47] AdamBrousseau commented on #1210
Does the machine have Git for Windows installed? Is it first on the path? If so, try removing it.

[2020-07-27 13:52] sxa commented on #1463
Something seems to be going wrong on the OpenJ9 builds as I'm getting path names which part way down the tree seem to start at `/home` again e.g.

`/home/jenkins/workspace/workspace/build-scripts/jobs/jdk11u/jdk11u-linux-s390x-openj9/workspace/build/src/build/linux-s390x-normal-server-release/vm/runtime/compiler/CMakeFiles/j9jit.dir/home/jenkins/workspace/workspace/build-scripts/jobs/jdk11u/jdk11u

[2020-07-27 14:23] Willsparker commented on #1210
It doesn't have it installed - I'm using a clean machine at the minute as the Cygwin installation shouldn't need anything else :-)

[2020-07-27 14:43] sxa opened #1467 "Failure in java default task on RHEL7 on ppc64le/s390x"
May affect other environments e.g. CentOS but this task and the equivalent s390x one in the same section don't appear to work on my RHEL7.8/ppc64le and s390x systems

https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml#L176

[code]

[2020-07-27 15:36] austin0 opened #1468 "FileNotFoundException on test-aws-rhel8-x64-1"
**Describe the bug**
A FileNotFoundException occurs during the "Post" section of the pipeline.

The error is believe to be caused during:
[code]

The full error + stack trace is:

[code]

This error has been occurring on the `test-aws-rhel8-x64-1` machine, @Willsparker has taken a look on the machine and found that the version (`/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.252.b09-3.el8_2.x86_64/jre/lib/

[2020-07-27 16:11] lumpfish opened #1469 "Windows ansible script fails at Windows Update step"
Running the ansible playbook on a newly created Windows Server 2012 R2 machine failed at the Windows Update step with:
[code]

[2020-07-27 16:29] sxa opened #1470 "EPEL 6 repo not installed on RHEL6 so libdwarf-devel is not found"
(Seen on one of my own servers - installing the epel 6 rpm resolved it)

[2020-07-27 17:15] Haroon-Khel commented on #1470
Ill add the task to the `Redhat.yml` file in Common

[2020-07-27 17:31] Haroon-Khel opened #1471 "Add support for ARM32 in QEMUPlaybookCheck"
As pointed out in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1464#issuecomment-664449980, support for arm32 architecture is missing from the QEMU playbook check

[2020-07-27 19:53] sxa opened #1472 "ccache built from source if it is already in /usr/local/gcc/bin"
In most linux cases we use a gcc-7 extracted from a prebuilt tarball which includes a copy of ccache.
The ccache role only checks if there is a version in `/usr/local/bin` before deciding whether to build it's own. We should check for that location OR /usr/local/gcc/bin (Or perhaps symlink /usr/local/bin/ccache -> /usr/local/gcc/bin/ccache during the `gcc_7` role instead.

[2020-07-28 07:33] Willsparker commented on #1472
I'll look into this :)
I think symlink-ing would be the best option- presumably the build scripts are setup to search for `ccache` at set places so they may not be able to find that version, even if `ansible` does.

[2020-07-28 07:50] Willsparker commented on #1468
I had a look at the machine- as the error message contained `hudson` I assumed it had something to do with the Jenkins Agent. `top` found that it was running as `java -jar agent,jar etc` so it was using whichever `java` was in the path first- which happens to be `jdk8u-262.b10`. On the system information at https://ci.adoptopenjdk.net/computer/test-aws-rhel8-x64-1/systemInfo , the java version was

[2020-07-28 07:57] Willsparker commented on #1471
@Haroon-Khel Happy to assist if you need it :)

[2020-07-28 08:38] Willsparker commented on #1468
Seems fixed to me! Huzzah!

[2020-07-28 08:38] #1468 closed

[2020-07-28 09:42] sxa commented on #1470
@Willsparker Can you see if your vagrant VM for Cent6 already has the EPEL repository in it - would be good to know why it doesn't seem to affect VPC. (I've had a couple of other issues with that playbook too on RHEL but that was the most obvious one)

[2020-07-28 10:06] sxa commented on #1462
Following the merging of https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1464 the following jobs are still not running successfully - same cmake failure:
- https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/434
- https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/309

[2020-07-28 10:07] Willsparker commented on #1470
Looking at https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/OS=CentOS6,label=vagrant/743/consoleFull
The following task is run : https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/9a8939be81093e4d91784cfe42dc2008204b9fda/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/CentOS.yml#L9
Which enables it.
From the look of the provisioning log from `vagrant up`,

[2020-07-28 10:16] Willsparker commented on #1467
I've been able to recreate the problem on RHEL7.6. Judging from the playbook log:
[code]
Java is definitely installed. It also appears in `/usr/lib/jvm/`:
[code]
For some reason, the path specified in the task that @sxa linked to is _very_ specific: `/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.161-0.b14.el7_4.ppc64/jre/bin/java`
To avoid this, it'd be better to make the path one of the symlinks that is

[2020-07-28 10:31] Willsparker commented on #1467
Edit- apologies, the task that was the issue was 'Set default java version - RHEL 7 ppc64le' , not 'Set default java version - RHEL 7 ppc64'. Either way, the proposed fix is the same- change the path from `java-1.8.0-openjdk.ppc64le` to `java-1.8.0-openjdk`

[2020-07-28 10:51] Willsparker commented on #1467
Changing the path to a correct one causes a different issue:
[code]
This appears to be due to the fact that the `alternatives` ansible module requires the `link` parameter for RHEL-based systems: https://docs.ansible.com/ansible/latest/modules/alternatives_module.html#parameter-link

Adding `link: /etc/alternatives/java` reports a different error message:
[code]

[2020-07-28 11:14] Willsparker commented on #1467
Okay- Updating the task to be:
[code]
Passes, and the following is the result:
[code]
PR incoming

[2020-07-28 11:34] Willsparker commented on #1467
Double checked on a RHEL7.6 s390x machine, when installing `java-1.8.0-openjdk-devel` as it does on ppc64le, the same `java-1.8.0-openjdk` symlink is still in `/usr/lib/jvm`, therefore we can use the same task for both architectures

[2020-07-28 11:43] Willsparker commented on #1467
Interestingly, The `link` parameter issue doesn't affect x86_64 CentOS6/7/8. Not entirely sure why- but `VPC` has shown that they work as expected. We also don't have tasks for non `x86_64` CentOS architecture, so this won't be an issue for CentOS.

[2020-07-28 12:25] sxa commented on #1472
On the appropriate builds we add `/usr/local/gcc/bin` into the PATH https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/linux.sh#L135 so it's not needed but I'm ok with the symlink

[2020-07-28 13:17] Willsparker commented on #1470
Fixed with above PR ! Thanks @Haroon-Khel

[2020-07-28 13:17] #1470 closed

[2020-07-28 14:38] Willsparker commented on #1462
Thought I'd mention that (from what I can see), the PR did indeed work to install cmake: https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/62/ARCHITECTURE=aarch64,label=vagrant/console
From the looks of it, the machines are being provisioned using this build image: https://hub.docker.com/r/adoptopenjdk/centos7_build_image/tags
of which, the `arm64` architecture hasn't been updated for 12 days.

[2020-07-28 15:02] sxa commented on #1462
@gdams is investigating

[2020-07-29 08:14] Willsparker commented on #1469
I looked into this yesterday and I think this is an issue with the provisioning service that @lumpfish and I use to create the windows machines. It seems to be an intermittent issue as something can be done to make it work, for instance: Manually run windows update, checking for updates from the internet; opening Internet Explorer; Just waiting for awhile - though none of these consistently fix it

[2020-07-29 08:18] Willsparker commented on #1415
@karianna Do you mind if this issue is closed, as #1396 can be used to put the reports, when they're required :-)

[2020-07-29 14:19] #1415 closed

[2020-07-30 06:23] knn-k commented on #1462
The latest build is OK.
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9/437/

[2020-07-30 08:37] gdams commented on #1462
okay all looks good then! closing

[2020-07-30 08:37] #1462 closed

[2020-07-30 08:58] knn-k commented on #1462
The build 437 above was run on the following machine:

[code]

[2020-07-30 09:57] Willsparker commented on #1210
Judging from the error message, It is an issue with OpenSSL, not git. Therefore, I tried to run a basic SSL command to see if the error message given was anymore helpful (following a guide [here](https://www.poftut.com/use-openssl-s_client-check-verify-ssltls-https-webserver/)):
[code]
The first error to pop up is the same as the one that does with the `git clone` command, so looking at that first

[2020-07-30 11:24] Willsparker commented on #1210
Replacing the old config file with one found [here](https://stackoverflow.com/a/7995785) fixed the `missing equals` error listed above. When rerunning the `SSL` command, the following was output:
[code]
For added information, the OpenSSL version in the `cygwin.64.tar.xz` archive is `1.1.1d-1` - running `setup.exe` shows it can be updated to `1.1.1f-1`.

[2020-07-30 11:49] Willsparker commented on #1210
On the off-chance that these can be fixed with a reinstallation of `openSSL`, I gave that a go.
Reinstallation of `openssl`, `libssl` and `libssl-devel` to `v1.1.1-d` took ~19 minutes, as a lot of other dependent packages had to be reinstalled also (including `cygwin.dll` and the `cygwin` package).
Regardless, 2 issues listed above were still there when I attempted to `git clone` the infra-repo. T

[2020-07-30 12:36] sxa commented on #1469
Let's hold off on closing until @lumpfish has verified it works for him :-)

[2020-07-30 13:04] sxa commented on #1210
If it's broken then let's get it updated :-)

[2020-07-30 13:26] Willsparker commented on #1210
In the process of creating a new `.tar.xz` at the minute. I checked the installation before and `git clone https://github.com/adoptopenjdk/openjdk-build` worked fine.
And for the sake of keeping a track of what I'm doing, I used the `7zip` GUI (installed via the playbook), to first create a `.tar` file that had the `C:\cygwin64` and `C:\cygwin_packages` folders , and then further compressed the `.

[2020-07-31 01:18] jdekonin commented on #1400
I am a little confused as to why the newer releases are on a slightly older version?  Whats the reason behind using too different versions?  Is there any plan on unifying for system setup simplicity?

[2020-07-31 08:58] gdams commented on #1400
jdk8u currently requires the full fat Xcode installation so we are pinned to whatever we can get on the machine at the time of setup. The other versions all use command-line tools which gives us a lot more flexibility.

[2020-07-31 14:47] #1467 closed

[2020-07-31 14:58] #1463 closed

[2020-08-03 07:26] Willsparker commented on #1469
Closing due to @lumpfish 's confirmation that #1478 works :-)

[2020-08-03 07:26] #1469 closed

[2020-08-03 09:27] M-Davies opened #1484 "Windows installers can't see windows.p12"
While running a JRE installer for a [jdk8u-windows-x64-openj9](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/781/console) build, https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_windows/6351/console couldn't find a dependancy
[code]
Not sure if this or infrastructure is the correct place to raise th

[2020-08-03 09:29] M-Davies commented on #1484
Also see
- https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/10266/console (for https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-windows-x64-openj9-windowsXL/442/console on `build-softlayer-win2012r2-x64-1`)
- https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/10260/console (for https://ci.adoptopenjdk.n

[2020-08-03 09:33] sxa commented on #1484
The failures are all on the azure build boxes - the last two links you've given are to the build jobs, not the signing ones where the error messing regarding the certificate is showing up.

Those machines were set up by @gdams with some help from @Willsparker so one of them may have some knowledge of this. I'm not sure what's changed though ...

[2020-08-03 09:35] M-Davies commented on #1484
This would be better placed in inf or build in that case then as the errors are the same

[2020-08-03 09:37] M-Davies commented on #1484
I've edited the comment to add some more failures

[2020-08-03 11:45] Willsparker commented on #1210
Creating and extracting a new `cygwin64.tar.xz`, I was able to run `mintty.exe` okay, however I had to add `/cygdrive/c/cygwin64/cygwin64/bin` to the path before I was able to run the commands cygwin installs.
Having tried `git clone http://github.com/adoptopenjdk/openjdk-infrastructure` , I was met with a new error message:
[code]
Having run the following, I was able to properly `git clone` a rep

[2020-08-03 14:16] Willsparker commented on #1210
I've found the issue. When compressing a folder with `7-Zip`, it doesn't retain symlinks ( https://unix.stackexchange.com/questions/600282/preserve-file-permissions-and-symlinks-in-archive-with-7-zip ), which is incredibly annoying as that was the software used to create both archive.
The particular symlinks that stop `git` from working are the following ones:
[code]
Manually reinstating them allo

[2020-08-03 14:19] zv-io opened #1486 "Offer: sparc64 Linux build machine"
I would like to make a SPARC T3-2 server running Linux available to the AdoptOpenJDK project.

It is large enough to be shared (currently used by [GCC Compile Farm](https://cfarm.tetaneutral.net/news/26#) project).

@sxa is evaluating the possibility of using this machine for JVM builds and suggested I create a ticket for tracking purposes.

[2020-08-03 14:31] Willsparker commented on #1484
possible ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1247

Annoyingly, I can't see the `sign_build` runs- however, I remember that particular issue : https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1590048825232400

The summary of the above slack conversation is that the file is still there, and renaming them / renaming them back appeared to have fixed it.
I have a look at

[2020-08-03 14:50] Willsparker opened #1485 "WinPB: Stray speech-mark still appears in %PATH% after the playbook is run."
Ref:
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1205#issuecomment-606037676
https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1401
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1408

It appears that on a fresh system, a speech mark still appears after the playbook is run. This can cause issues with the part of the build that applies the Visual Studio va

[2020-08-03 17:29] #1472 closed

[2020-08-04 15:20] Haroon-Khel opened #1489 "test-macincloud-macos1014-x64-1 is out of space"
[code]
This is causing some of the recent mac installer job failures such as https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_mac/4161/console and https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_mac/4163/console

[2020-08-04 19:40] Leonardo2718 opened #1490 "Need access build-macstadium-macos1014-x64-2"
To debug https://github.com/eclipse/openj9/issues/10313 (which I believe is the same issue as https://github.com/eclipse/openj9/issues/9416) I need to retrieve the build and core files from [build-macstadium-macos1014-x64-2](https://ci.adoptopenjdk.net/computer/build-macstadium-macos1014-x64-2/).

[2020-08-04 19:41] Leonardo2718 commented on #1490
@gdams Could you grant me access with the same key as you used for https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1362#issuecomment-638842862? Thanks!

[2020-08-05 08:09] Willsparker commented on #1484
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-openj9/783/
Would someone mind seeing why the installer failed for this build, to confirm if this is the same issue? The run was on `build-softlayer-win2012r2-x64-1`

[2020-08-05 08:37] M-Davies commented on #1484
@Willsparker https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_windows/6398/console
[code]

[2020-08-05 09:11] Willsparker commented on #1485
I have been able to recreate the issue. In addition, the stray speech mark causes `OpenSSL` to not be built. I hypothesise it's because the speech mark in the following code block causes the command to finish prematurely:
[code]
SO all that does is set the path.
The alternative is that when it gets to executing the `MSVS` shell script that is used to set the environment variables, it errors (with

[2020-08-05 09:51] M-Davies opened #1491 "test-marist-ubuntu1604-s390x-3 agent process crash"
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk15_hs_sanity.openjdk_s390x_linux/4/console suggested [test-marist-ubuntu1604-s390x-3](https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-3/) is offline and the jenkins UI is complaining that the jenkins agent failed to start on it `This agent is offline because Jenkins failed to launch the agent process on it. See log for

[2020-08-05 09:55] M-Davies commented on #1396
@Willsparker https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows/277/console sees `test-softlayer-win2012r2-x64-2` reproduce this error

[2020-08-05 10:09] adamfarley opened #1492 "Request for access to sign_build job"
Summary: Please grant me access to this job: https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/

Details:

These jobs appear to have failed several times last night, causing Windows builds to fail as a result, but I can't tell what's wrong (or even if it's an existing issue) because I can't see where sign_build broke.

[2020-08-05 10:42] Willsparker commented on #1396
@M-Davies Right you are- `java.exe` process has been stopped & the folder has been manually deleted- thanks :-)

@sxa Can we make it so your `SXA-processCheck`  job kicks off for that machine after every test run?

[2020-08-05 10:47] adamfarley commented on #1484
Previously, this issue seemed to happen alongside a StackOverflowError in the compileGroovy build step.

https://github.com/AdoptOpenJDK/openjdk-build/issues/1753

Could they be connected?

I ask because we're seeing that too now.

[jdk15-windows-x86-32-hotspot/7](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15/job/jdk15-windows-x86-32-hotspot/7/console)

[2020-08-05 11:08] Willsparker commented on #1210
@sxa had a good idea to use cygwin's `tar` to compress a new archive. I did this, and it did retain symlinks, however, it appears to have got confused in the process. Extracting the tar to a fresh machine still results in the `error setting certificate verify locations` when `git clone` ing.
So the following symlinks are present:
[code]
The issue is that the target symlinks have all be prefixed wi

[2020-08-05 11:21] Willsparker commented on #1484
The `StackOverflowError` by Gradle previously was linked to not finding a JDK that can run it. I don't believe we've changed the Gradle version recently so I think this may be a coincidence and not linked to this error

[2020-08-05 11:33] Willsparker commented on #1491
The log actually says :
[code]
However is still apparently loading - I think the agent has hanged so I'm going to disable it, attempt to ssh into it, `kill` the jenkins agent process and restart it. However, `ssh`ing is currently timing out ...

[2020-08-05 11:33] adamfarley commented on #1484
Ok, will raise a separate issue after lunch.

[2020-08-05 14:11] Willsparker commented on #1492
ping @karianna

Don't suppose I could get that too? 😅

[2020-08-05 15:05] Willsparker commented on #1491
https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1596639847367300?thread_ts=1596636363.360900&cid=C53GHCXL4

There's a power outage problem where the machines are based. I'll keep the issue open until the problem is resolved :-)

[2020-08-05 15:38] sxa commented on #1210
Do they show `/cygdrive/c` as the symlink targets if you run `tar tvf` to look inside the tarball?

[2020-08-05 16:00] adamfarley opened #1494 "build-azure-win2012r2-x64-2 sees StackOverflowError in Task :compileGroovy"
**Summary**

Three builds on this machine failed a compileGroovy task.

**Further Details**

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15/job/jdk15-windows-x86-32-hotspot/7/console
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x86-32-hotspot/676/console
https://ci.adoptopenjdk.net/view/Failing%20Bu

[2020-08-05 17:47] Willsparker commented on #1494
For the sake of trying, I've restarted it - we can see with the nightlies whether this fixes it again

[2020-08-05 17:56] Willsparker commented on #1210
Oh, they dont
[code]

[2020-08-05 23:02] smlambert commented on #211
How is this one looking?  Please let me know if you want us to test or try stuff out.

[2020-08-06 08:18] Willsparker commented on #1485
After running through several iterations (and coming close to madness), I abandoned the idea of using `cmd` and `setX /M`
For some reason, when running through Ansible, it refused to have correct syntax and kept giving the following error message:
[code]
I think this may be to do with the double quotes in the path that is messing up the syntax of `setX /M ...`. Even going back to how it was before

[2020-08-06 08:23] Willsparker commented on #1494
Looking at the failing builds, I don't see any Windows machines that failed at the `build` stage, and I found a build that worked with `build-azure-win2012r2-x64-2` : https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk15/job/jdk15-windows-x64-openj9/60/consoleFull

Closing, but I'll keep an eye on it. I agree that it's not a very good long term fix, I'd rather have something a bit more

[2020-08-06 08:23] #1494 closed

[2020-08-06 08:31] M-Davies commented on #1396
@Willsparker `test-azure-win2012r2-x64-1` has the same problem as java.exe not being stopped https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_sanity.openjdk_x86-64_windows_xl/256/console

[2020-08-06 08:42] Willsparker commented on #1396
This is a new one - there's 10 `java.exe` processes running... Also I like this output:
[code]
Highly useful 😁
I stopped a handful and then the rest stopped, and deleted `C:\Users\jenkins\workspace\Test_openjdk8_j9_sanity.openjdk_x86-64_windows_xl\openjdkbinary\` manually 👍

[2020-08-06 09:25] Willsparker commented on #1210
Looking at that symlink from the Windows file explorer on a machine that had that archive extracted, the symlink's target is `C:\etc\pki\tls\certs` - Maybe Windows doesn't like the file path `/etc/pki/tls/certs/`, so it just throws a `C:\` on at the beginning, at the time of extracting the file. I'll have a go at extracting it with a version of `minnty.exe` and `tar.exe` that comes bundled with cy

[2020-08-06 09:36] austin0 commented on #1492
+1 can I also have access to this.

[2020-08-06 14:21] karianna commented on #1492
All three folks have been vetted and given access.

[2020-08-06 14:21] #1492 closed

[2020-08-10 07:37] Willsparker commented on #1491
It's back up now :-)

[2020-08-10 07:37] #1491 closed

[2020-08-10 09:44] Willsparker opened #1498 "Jenkins Access: sign-builds and installer jobs"
ping @karianna

@austin0 and I are unable to see the sign build logs, i.e.  https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/10397/ and the installer jobs, i.e. https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_windows/6531/

Unfortunately we still aren't able to see sign_builds despite #1492 , not sure if you can see them @adamfarley  ?

[2020-08-10 10:49] adamfarley commented on #1498
@Willsparker - I can.

You need to log in on another ci page first, as it doesn't know who you are until you do so.

[2020-08-10 10:50] adamfarley commented on #1498
If that doesn't work, try leaving all tabs on those pages, clearing browser history, logging in on a general-access ci page, and *then* going to the sign job.

[2020-08-10 10:54] Willsparker commented on #1498
Just tried it, unfortunately still getting Error 404 with `URI: /job/build-scripts/job/release/job/sign_build/`

[2020-08-10 11:24] Willsparker commented on #522
Just stumbled across this issue - #1059 has been implemented, and has been expanded to include ARM64 ( #1444 ), and hopefully soon ARM32 ( #1471 )

[2020-08-10 13:03] austin0 commented on #1498
Also unable to access, @adamfarley can you see anything useful [in this run from today](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/10311/)?

[2020-08-10 13:31] adamfarley commented on #1498
No, because that job ran on Friday (or earlier) and was purged.

The latest run we still have is #10355, which ran on Friday.

[2020-08-11 12:22] sxa opened #1502 "Locale installation task fails if "locales" package not installed"
Sample error:
[code]

[2020-08-11 12:27] sxa commented on #1498
You had been granted access to the jobs but not [the containing folder](https://ci.adoptopenjdk.net/job/build-scripts/job/release/) (FYI @karianna for next time!)

I have granted @austin0 and @Willsparker access to the folder now.

[2020-08-11 13:23] Willsparker commented on #1502
What OS / architecture?

[2020-08-11 13:23] Willsparker commented on #1498
Excellent, thanks @sxa

[2020-08-11 15:53] karianna commented on #1498
Added.

[2020-08-11 15:53] #1498 closed

[2020-08-11 16:07] sxa commented on #1502
I think that was on an arm32/raspbian system but I wouldn't expect it to be specific to that

[2020-08-12 08:34] Willsparker opened #1504 "pbTests: Get Win2012r2 running stable in VagrantPlaybookCheck"
Ref: https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/ , #1503 , #1287 , #1072 , #924

Consistently throughout changing stuff with VagrantPlaybookCheck (`VPC`), Windows has caused issues. With some fairly intermittent issues and obscure problems, I thought I'd open an issue to log the problems we have with it, as well as the fixes I use.
The reason Windows is an issue when Linux c

[2020-08-12 10:15] Willsparker commented on #1504
Since creating this issue, I've attempted to recreate the 1st issue 5 times, locally on my mac, each time Ansible was able to connect to the VM as expected- which would point to a machine issue. I'll attempt to do the same locally on the machine in question.

[2020-08-12 11:14] Willsparker commented on #1504
Upon running `vagrantPlaybookCheck.sh` locally on the machine, the error did occur. The processes afterwards are single instances `VBoxSVC`, `VBoxXPCOMIPCD`, `VBoxHeadless` and `VBoxNetDHCP`, as to be expected.
Rerunning `vagrant provision` after changing the Vagrantfile to output the IP address for the machine showed that the IP address in the host file was correct. Rerunning the `.\ConfigureRemo

[2020-08-12 11:42] #1409 closed

[2020-08-12 13:25] gdams opened #1506 "Travis cleanup failing on aarch64"
https://travis-ci.com/github/AdoptOpenJDK/openjdk-infrastructure/jobs/371226590

TASK [Clean_Up : Remove yum dependencies that are no longer required - RedHat and CentOS] ***
fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["yum", "-y", "autoremove"], "delta": "0:00:04.912507", "end": "2020-08-12 12:16:35.702330", "msg": "non-zero return code", "rc": 1, "start": "2020-08-12 12:16:30.789823

[2020-08-12 13:25] gdams commented on #1506
temporarily skipped in https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1505

[2020-08-12 14:33] Willsparker commented on #1504
Regarding Issue one, I've had success in using `127.0.0.1:55986`, instead of the IP address to connect with Ansible. The port `55896` refers to the winrm-ssl port that's forwarded to the guest VM's port `5986`. I found this with `--debug` output when running `vagrant winrm --command "echo hi"`.
[code]
The above refers to the different ports forwarded to the machine. These can also be referred to a

[2020-08-12 15:07] Willsparker commented on #1504
An example of `vagrant port` output for a Windows machine is as follows:
[code]
Which refer to the ports I was talking about in the previous comment. The port we want to connect via ansible, in this case is `55986`. This will always be at the bottom of list, and the 4th string in the line. As that port can change, for example if there was another Windows VM taking up port `55986`, we can't just ha

[2020-08-13 08:07] Willsparker commented on #1504
Interestingly, I've found that the winrm module in `startScriptWin.py` requires the port relating to `winrm`, not `winrm-ssl` - i.e. port `55985`, not `55986`. I did a quick test to determine what vagrant does in case of port collisions and the 5985 and 5986 ports on the guest, seem to be consistently one apart on the host machine:
[code]
Therefore I can just do an arithmetic expression to pass th

[2020-08-13 11:30] Willsparker commented on #1484
Every machine with the `Wix` tag has had successful installer runs within the last few hours - it seems this is an intermittent issue as some installer jobs failed in the nightlies but I can't see those logs as the runs are discarded so quickly. I'll keep an eye until I get a run that fails to confirm.

[2020-08-14 11:13] karianna opened #1510 "Migrate Windows 2012 hosts off Softlayer (as IBM is removing support for this platform)"

[2020-08-17 08:03] andrew-m-leonard opened #1511 "build-marist-rhel77-s390x-1 & 2 low on disk space"
build-marist-rhel77-s390x-1 & 2 low on disk space

Failing builds: https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9/714/consoleFull

[2020-08-17 09:52] Willsparker commented on #1511
Both machines have 16GB free now, after deleting the `jdk15` folders (as we're building `jdk15u` now). Both machines are re-enabled. Closing now

[2020-08-17 09:52] #1511 closed

[2020-08-17 10:55] #1485 closed

[2020-08-17 21:41] Haroon-Khel commented on #1471
Able to create a working ARM32 disk image, and boot it using qemu-system-arm. Last hurdle is to enable ssh on the disk image, which @Willsparker suggests should work by using qemu 5.0

[2020-08-18 10:28] karianna commented on #1504
@Willsparker - Can this be closed now?

[2020-08-18 10:50] Willsparker commented on #1484
I can't see this having failed recently. @austin0 @adamfarley Have either of you guys seen this recently? (The last time I could find it after a brief search was the 4th of August)

[2020-08-18 11:00] austin0 commented on #1484
Failing builds have been passing since 12/08/20, whatever you've done seems to be working.

[2020-08-18 11:19] Willsparker commented on #1502
The closest I could get to that platform was an aarch64/Debian system, which already had `locales 2.28-10` installed.
Of the 4 Distributions that have the locale stuff in the common file, only CentOS uses `localedef`, which is installed from `glibc-common` (which is already in the build package list). RHEL, Ubuntu and Debian use the `locales_gen` ansible module, which, as the error suggests, uses

[2020-08-18 11:23] Willsparker commented on #1504
I'm hesitant to close it right now as I haven't put in a fix for the second issue ( See the issue description ). For the minute I haven't seen that issue pop up again, however I am seeing other ones. I'll give it a couple more days of testing, and if it doesn't crop up, I'll close it :-)

[2020-08-18 13:30] Willsparker commented on #1502
https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/77/
https://ci.adoptopenjdk.net/view/Tooling/job/VagrantPlaybookCheck/834/
If the above runs work, I'll PR 👍

[2020-08-19 07:49] Willsparker opened #1515 "Windows build machines need MSVS_2019 & corresponding OpenSSL installed on them"
Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1481

With the above PR tested and merged, the build scripts (specifically https://github.com/AdoptOpenJDK/openjdk-build/blob/master/build-farm/platform-specific-configurations/windows.sh ) need to be updated to build with `TOOLCHAIN_VERSION='2019'` for JDK15/J9 (I assume this will be the case for >15 as well).

- [x] build-softlayer

[2020-08-19 07:53] Willsparker commented on #1484
Alright, I've checked last night's runs and no windows runs failed! (woo)
It's now been a week we've seen the issue, so I'm going to close this issue- if it recurs, feel free to reopen :-)

[2020-08-19 07:53] #1484 closed

[2020-08-19 09:37] Haroon-Khel commented on #1489
Theres now 4.6g available in `/` Closing issue

[2020-08-19 09:37] #1489 closed

[2020-08-19 13:56] #1348 closed

[2020-08-19 13:58] Willsparker commented on #1395
Looks okay now: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.system_x86-64_mac/296/
Closing

[2020-08-19 13:58] #1395 closed

[2020-08-19 14:06] Willsparker commented on #1461
That job been disabled - I can't see who or when it was disabled, but it is currently, so closing the issue :-)

[2020-08-19 14:06] #1461 closed

[2020-08-19 14:12] Willsparker commented on #1402
Seems to be a duplication of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1395 , which I've closed, however, this is still an issue:
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_x86-64_mac/321/console

[2020-08-19 14:57] Haroon-Khel commented on #1471
Using qemu 5.0 didnt solve the problem

[2020-08-20 13:50] Willsparker commented on #1515
All machines have MSVS_2019 and OpenSSL 1.1.1g x64 (VS2019) on them. Closing

[2020-08-20 13:50] #1515 closed

[2020-08-20 18:12] adamfarley opened #1518 "Request for Deletion of Jenkins Jobs"
The following Jenkins Jobs were created by accident when a script failed to strip out the spaces before concatenating strings.

A PR to fix the "trimming" issue is currently awaiting review, but for now can the jobs with the spaces in their names be deleted, please?

- Test_openjdk15_j9_special.functional_ s390x_linux_xl
- Test_openjdk15_j9_special.functional_ ppc64le_linux_xl
- Test_openjdk15_j9_

[2020-08-24 07:50] Willsparker commented on #1518
I've gone through and disabled all the jobs with spaces in them. I don't have permissions to delete them unfortunately.

[2020-08-24 10:29] adamfarley commented on #1518
Thanks @Willsparker
Will leave this open until someone with the right access can delete them.

[2020-08-24 10:55] Willsparker opened #1520 "pbTests: Add RISC-V to QEMUPlaybookCheck"
Once https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1483 is merged, our playbooks will support RISC-V, so they should be tested.
With the work done with Eclipse OpenJ9 and having built JDK11/J9 for RISC-V, I've already found ways of setting up 3 different QEMU RISC-V VMs. While none of these are entirely accurate to the OS that the aforementioned PR is based on, I have a Debian Bullse

[2020-08-24 11:41] Willsparker commented on #1210
The Cygwin cache was made by installing Cygwin using the playbook as it was before- the version is `cygwin 3.16`, and has the packages installed from the `devel` category at the newest version, except `make`, which has version `4.2.1-2` and grep which has version `2.27-2`.
These version differences were due to https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1231#issue-394240789 and htt

[2020-08-24 15:13] aahlenst commented on #1210
If I understand it correctly, with #1503 the old playbook vanishes in the Git history. So it might make sense to either create a separate playbook or script that makes it possible to re-create or update the Cygwin archive in the future.

[2020-08-24 19:46] Haroon-Khel commented on #211
@gdams and I were troubleshooting this a while back.

[2020-08-25 07:49] Willsparker commented on #1210
Ah I see - I'll have a look into it :-)

[2020-08-25 10:14] sxa commented on #211
Could that process be a windowserver executing on the physical display of the machine instead of the virtual one?

[2020-08-25 11:21] sxa commented on #1518
Done (removed the directories from the jenkins server filesystem as that was easier than trying to find them all!)

[2020-08-25 11:21] #1518 closed

[2020-08-25 11:25] sxa commented on #1510
As per [slack message](https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1597408304394800?thread_ts=1597402684.394100&cid=C53GHCXL4) this is fake news - support is being extended til 2023 :-)

[2020-08-25 11:25] #1510 closed

[2020-08-25 11:36] gdams commented on #1490
key added:

`ssh administrator@207.254.28.76`

[2020-08-25 12:26] sxa commented on #1210
The other option would just be to put a few lines of batch script in a comment at the top which shows how to replicate what the playbook did originally:

- Download https://cygwin.com/setup-x86_64.exe, https://mirrors.kernel.org/sourceware/cygwin/x86_64/release/grep/grep-2.27-2.tar.xz and https://mirrors.kernel.org/sourceware/cygwin/x86_64/release/make/make-4.2.1-2.tar.xz
- Run `cygwin.exe --quiet

[2020-08-25 12:57] gdams commented on #1210
@sxa yes you can install multiple packages in one command. I've been using this 2 liner in the dockerfiles:

[code]

[2020-08-26 11:39] #1502 closed

[2020-08-26 12:37] #1520 closed

[2020-08-27 09:30] gdams opened #1524 "Swap ppc64le builds to use dynamic docker images"
We have been creating a centos7 docker build image for quite some time.

I have managed to get jenkins to dynamically provision machines using the OSUOSL openstack and have run some test builds:

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-hotspot/659/
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-ppc64le-openj9/719/

[2020-08-27 10:47] aahlenst commented on #1524
From my POV, it makes sense to use stateless containers for building (less infra problems). But before switching over more builds, we should look at some potential issues:

* If we need to alter the images as part of a PR to openjdk-build, those changes aren't tested because the builds use an image on Docker Hub.
* In my (very limited) experience, container and non-container builds aren't identica

[2020-08-27 12:17] gdams commented on #1524
@aahlenst the docker image gets pulled from the openjdk-infrastructure repo. (not to be confused with the dockerfiles that live in this repo).

These docker images are an identical copy of our build machines today (they have the full ansible-playbook run on them) which means that the build is going to be identical.

[2020-08-28 12:19] sxa commented on #1524
You cannot make such "identical" claims regarding docker images as the kernel is not that of a real distribution in most cases

(For that reason I'm very much against against exclusively running testing in docker containers where it's likely more relevant)

Saying that, if this works I'm ok with it going in, but we need to have something documented about the plugins being used and integration poin

[2020-08-28 12:34] Willsparker opened #1526 "winPB: Stop MSVS_2019 erroring on installation when returning error code 3010"
Ref: https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Win2012,label=vagrant/859/console , https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1597937660002600

Currently in the Windows PB, MSVS_2019 is returning error code 3010. As spotted by @jdekonin , this means the installation was successful but a reboot is required (https://docs.microsoft.com/en-us/visualstudio/install/use-command-line

[2020-08-28 13:42] aahlenst commented on #1524
@gdams Sorry, my fault, please ignore.

[2020-09-02 08:36] andrew-m-leonard commented on #1382
Problem has re-coccured: https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_mac/4563/console
[code]
Machine: test-macincloud-macos1014-x64-1
@gdams

[2020-09-02 08:49] andrew-m-leonard opened #1527 "test-azure-win2012r2-x64-1 workspace needs cleanup"
See: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows/295/console
[code]

Seems a regular problem, we need to try to understand why the cleanup does not occur? or perhaps make the above cleanup first before trying to clone maybe?

[2020-09-02 09:34] Willsparker commented on #1527
ref: #1396
Done - This is a known issue (see the referenced one) - there's a leftover `java.exe` process running within the `openjdk-tests` folder, so it can't be deleted. I propose we run `SXA-ProcessCheck` after each test run, for the machine the tests have run on. This would theoretically stop any non-Jenkins-Agent processes, allowed the next test run to cleanup the workspace properly. (ping @s

[2020-09-02 09:34] #1527 closed

[2020-09-02 09:42] Haroon-Khel opened #1528 "Debian playbook requires updating"
Per https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1523 it was found that the Debian playbook kept crashing on Debian 8.

Currently all I know is that the `gcc-7` and `g++-7` packages wont install. Will investigate further

[2020-09-02 10:09] Willsparker commented on #1528
This is specific to `arm32` - https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/OS=Debian8,label=vagrant/834/console
x64 is able to install it okay :-)
If we can't find any `apt` repos that have it, we could use the `gcc-7` role already in the Unix playbook, as there is an `armv7l` gcc750+ccache tarball at https://ci.adoptopenjdk.net/userContent/gcc/

[2020-09-02 10:13] Willsparker commented on #1504
Okay, it's been a fairly long time since I've seen the second issue of Windows VMs shutting down randomly. If it crops up again, I'll open another issue and link this one.

[2020-09-02 10:13] #1504 closed

[2020-09-03 09:15] Willsparker commented on #1471
Above PR has been merged and there's a new issue for getting Debian Arm32 working, so I'll close this one :-) Cheers @Haroon-Khel

[2020-09-03 09:15] #1471 closed

[2020-09-03 09:22] Willsparker commented on #1402
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_x86-64_mac/336/console
An example of it working as expected - either this is intermittent, or it 'fixed itself'. I'll see if I can find any recent examples of it failing.

[2020-09-03 16:04] #1210 closed

[2020-09-03 19:52] #1526 closed

[2020-09-03 20:02] Willsparker commented on #379
A lot of this has been implemented via #1184 and #1066
Does anyone feel there's any other holes in the docs specific to Ansible ?

[2020-09-04 08:45] Willsparker commented on #452
@sxa Do you mean just removing the lines such as
https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/b107e720cbf20e860c9a5f1e07db582a2e25215f/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/RedHat.yml#L81
or something else?

[2020-09-07 08:13] pshipton opened #1531 "OpenJ9 boot JDKs should be updated"
fyi https://github.com/eclipse/openj9/issues/2519

Now that eclipse/omr#2796 has been merged into OMR, we can gain some extra build performance by updating OpenJ9 boot JDKs to include that fix. It's most significant on Linux 390, but it wouldn't hurt to update all build platforms.

Suggest updating zlinux immediately to take advantage of the faster jvm, and then updating everything once the 0.9.0

[2020-09-07 08:13] #1531 closed

[2020-09-07 08:14] karianna commented on #1531
@sxa Can you confirm this was done?

[2020-09-07 09:25] Haroon-Khel commented on #1528
In https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/ARCHITECTURE=arm32,label=vagrant/88/console, `gcc7` and `g++7` are not installed via the repo, but through the `gcc_7` role. However the job failed at the build jdk stage

[2020-09-07 10:33] Willsparker commented on #1528
As a further to @Haroon-Khel 's above comment, based off ci.adoptopenjdk.net, I don't think we build a OpenJ9 JDK11 for ARM32/armv7l . With #1533 , We'll be able to test building a Hotspot JDK.
The gcc_7 role appeared to work in https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/ARCHITECTURE=arm32,label=vagrant/88/console , as it was able to build `Freetype`.

[2020-09-07 12:31] sxa commented on #1528
Correct - OpenJ9 does not have support for arm32/armv7l

[2020-09-07 16:03] sxa commented on #1531
It was not done - we're bootstrapping with a Hotspot VM

[2020-09-07 16:43] sxa commented on #1295
@gdams When we discussed this you wre going to set up some EC2 space for this - was it done?

[2020-09-07 17:14] sxa commented on #1084
For the main repos I'm going to propose the following updates for now. Putting `build` `infrastructure` and `test` means they'll be easier to collate in a sorted list. I'm somewhat in two minds about `build-core`

| Old name | New name | Access level | Other change? |
|---|---|---|---|
| GetOpenJDK | build-triage | | |
| build | build | Can run jobs | |
| <none> | build-core | Visibility of instal

[2020-09-08 09:11] Willsparker commented on #1382
Looking at it now, the specific machine is `test-macincloud-macos1014-x64-1`. According to `ci.adoptopenjdk.net`, it only has one executor, so I would suppose it's a different machine to the one that caused the issue to open initially.

The particular command it's failing on is:
[code]
However, the correct syntax for `unlock-keychain` is as follows:  `Usage: unlock-keychain [-u] [-p password] [key

[2020-09-08 09:50] Willsparker commented on #1528
As per https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/ARCHITECTURE=arm32,label=vagrant/92/
It's just Haroon's PR that will be needed to close this issue- However, I'm going to update #1533 so it will make sure that the build-variant isn't openj9 if building arm32.

[2020-09-08 09:53] Haroon-Khel commented on #1528
pr is in at https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1535

[2020-09-08 10:59] karianna commented on #379
I think we can close this and open up specific doc bugs.

[2020-09-08 11:00] #379 closed

[2020-09-08 11:38] sxa commented on #1084
@AdoptOpenJDK/tsc previous comment for review. Renaming will "lose" any at-mentions to the old team but I don't think we really use those for the affected ones. My plan would be to rename, and update any jenkins jobs which are acces-controlled by the old name, as well as implementing the new `build-core` group.

[2020-09-08 12:28] aahlenst commented on #1084
I'm happy with the proposed changes.

[2020-09-08 16:01] smlambert commented on #1084
I would like to reduce the number of members in the testing group, they were originally added to enable a larger set of people to be able to run Grinders, as that seemed to be the mechanism used to control access.  I can go in and cull many of the names in the testing group, as there are many names that are not active there.

[2020-09-09 10:14] Willsparker commented on #1382
https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_mac/4628/console
The above PRs seemed to have fixed the keychain issue, so closing the issue.

[2020-09-09 10:14] #1382 closed

[2020-09-09 10:42] Willsparker commented on #1528
With #1535 and #1533 , running one more ARM32 QPC run to make sure we're good. If it passes, we can close this.

https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/94/

[2020-09-09 12:06] sxa commented on #1084
Agreed @smlambert - I need to do the same with the others but I felt that rationalising them so I could figure out what the groups were for first was a prereqs (Luckily you only have two so less of a problem!) :-)

[2020-09-09 15:32] adamfarley opened #1537 "build-marist-rhel77-s390x-1 is low on Disk Space"
Builds on this machine run out of disk space and fail.

Examples:

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9-linuxXL/333/consoleFull
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-openj9/738/consoleFull

Please take a look and see what's taking up space.

[2020-09-09 19:03] Willsparker commented on #1537
Right, I've gone through and remove some unnecessary test folders, it has 4.7GB available now. Not sure if this is enough though - I'll check after the nightly builds have run.

[2020-09-10 08:09] Willsparker commented on #1537
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-s390x-hotspot/666/consoleFull
Seems to have worked! Machine still has 4.9GB free, so closing now.

[2020-09-10 08:09] #1537 closed

[2020-09-10 08:10] adamfarley commented on #1537
Thanks @Willsparker 👍

[2020-09-10 08:13] Willsparker commented on #1528
https://ci.adoptopenjdk.net/job/QEMUPlaybookCheck/95/
Alright, the playbook passed which was the main point of this issue, and it's been able to compile freetype and is halfway through compiling the JDK, so as far as I'm concerned, this issue can be closed :-)

[2020-09-10 08:13] #1528 closed

[2020-09-10 08:30] Willsparker commented on #626
As mentioned here https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/772#issuecomment-483252049 ; When skipping the `adoptopenjdk` tag, they now broadly safe, except for changing the host names. The docs have had a lot of work done on them to support running the playbooks too, with encouragement to run them on Vagrant VMs.
@sxa If you have no objections, I'll look at adding the `adoptop

[2020-09-10 08:47] Willsparker commented on #1232
I started the job attempting to build JDK10 with the client VM here: https://ci.adoptopenjdk.net/job/Will-jdk8-hotspot-armel-build/JDK_Version=jdk10,label=docker-scaleway-ubuntu1604-armv7l-1/30/console
The particular issue is as follows:
[code]
I should mention JDK11 and JDK9 did the same thing when the Jenkins job ran about 2 months ago too, but JDK 10 failed more recently.

@davidm-hub Did you s

[2020-09-10 14:36] gdams commented on #1084
+1

[2020-09-10 14:40] karianna commented on #1084
The list looks good, was thinking about `build-triage` --> `support` but I'm not too fussed

[2020-09-10 14:44] tellison commented on #1084
Top level repo names look good, and as for the suffixes...
[code]
how about, rather than 'unsuffixed', you use `-team`, so we end up with, for example, `build-triage`, `build-team`, `build-core` which would be explicit.

[2020-09-10 14:55] sxa commented on #626
Hmmm that's definitely an omission if that tag isn't on that role, so no objections

[2020-09-10 16:20] Haroon-Khel opened #1538 "Add Ubuntu18 support to aarch64 in qemuPlaybookCheck.sh"
Using this issue to document my progress in adding ubuntu 18 on aarch64 support to the `qemuPlaybookCheck.sh` script

- [x] Create a ubuntu 18 aarch64 qemu disk image

- [x] Test ssh connectivity of disk image

- [x] Test the infra playbook on the disk image (In progress)

- [x] Add support for different OSs in `qemuPlaybookCheck.sh` (In progress)

- [x] Place disk image and associated volume file

[2020-09-11 07:59] Willsparker commented on #1396
ref: https://github.com/AdoptOpenJDK/TKG/issues/45

[2020-09-11 08:16] Willsparker commented on #626
Ah, my mistake, the tag IS on those tasks (https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/931).

I think since the creation of this issue, most (if not all) specific concerns have been fixed, in both documentation and with the addition of the `adoptopenjdk` tag. Feel free to re-open or create new issues if anybody disagrees with this.

[2020-09-11 08:16] #626 closed

[2020-09-11 09:27] sxa commented on #452
I think if it's needed for some reason it's ok in the `RedHat.yml` for example, but if there are any in the main part of the common role then they shold probably be moved to distro specific files if possible

[2020-09-11 09:32] Willsparker commented on #725
ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1480  (Adding docker for RHEL7 PPC64le)

Note: I'll update this comment as I find solutions for each platform, and tick them off the table when (potential) solutions have been found.

|        | s390x | ppc64le |
|--------|-------|---------|
| RHEL   | :heavy_check_mark:    | :heavy_check_mark:|
| CentOS |       |        |
| SLES   |

[2020-09-11 10:38] Willsparker commented on #452
A good example of why descriptions are necessary then ;-)
Okay, thanks for clarification :+1:

[2020-09-11 10:51] Willsparker commented on #452
I've had a look, it looks like the only thing that _could_ be put into distributions would be the macOS hostname stuff, however, I sort of assume that this is required for the `update /etc/hosts` tasks below it.
I am going to remove the unnecessary distro checks that are already in the distro specific files however, just to cleanup.

[2020-09-11 12:57] sxa commented on #1084
@karianna Yeah I can see why we'd call it "support", although this is primarily for access to the build repository and I wanted to make the names be related to the main repo they're for, at least for now.

@tellison I suppose my only thought would be "Would triagers not think they're part of a team" and they're all teams (So you'd have "the build-team team" but I can see how some sort of suffix mi

[2020-09-11 13:05] sxa commented on #1538
Do we also need any more info added to https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/docs on the setup of this VM?

[2020-09-11 13:37] Haroon-Khel commented on #1538
Yes. Once all of this is done, Ill add instructions to https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/docs/Setup-QEMU-Images.md (as well as instructions for setting up an arm32 qemu image which I was supposed to do last week)

[2020-09-11 17:11] Haroon-Khel commented on #1538
The pr to update the qpc is in, at https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1541. Ive placed the images onto `infra-softlayer-ubuntu1804-x64-1`. Will run a test qpc job shortly

[2020-09-14 08:14] #452 closed

[2020-09-14 08:21] davidm-hub commented on #1232
@Willsparker Sorry for the late response, I didn't have this problem.
I manage to build a JDK11 armel by crosscompiling, using this option :
`--with-abi-profile=armv5-vfp-sflt`

Do you need all the options I used in configure ?

[2020-09-14 08:24] Willsparker commented on #1396
Ref: https://github.com/AdoptOpenJDK/openjdk-build/pull/2076#issuecomment-691131667
Machine was: `build-azure-win2012r2-x64-2`

Initial thoughts is that the run was trying to delete a directory that was in use in a different run- however there's only one executor on the machine so that couldn't happen unless someone was running a build locally on the machine.
When I got to it this morning, I was a

[2020-09-14 08:52] Willsparker commented on #1232
If not too much trouble, that'd be great :grin:

[2020-09-14 09:08] adamfarley opened #1543 "sign_build job cannot find temp jenkins .sh file on windows azure boxes"
This only seems to happen on Windows Azure boxes. Setup issue?

Requesting attention from @gdams

Error message:

[code]

https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/11247/console

[2020-09-14 09:12] gdams commented on #1543
ahh yeah that makes sense, it tried to use the azure dynamic machine, I'll remove the labels for now to avoid this again

[2020-09-14 09:13] #1543 closed

[2020-09-14 09:14] adamfarley commented on #1543
Thanks @gdams :)

[2020-09-14 10:13] Willsparker commented on #925
I've run the `goodmake_source` tag on `test-godaddy-centos7-x64-*` machines.
[code]
Were there any more than needed it on?

[2020-09-14 10:57] davidm-hub commented on #1232
Here are the options I used :
[code]

[2020-09-14 12:07] gdams commented on #726
all openlab machines have been removed so this is now longer an issue. closing

[2020-09-14 12:07] #726 closed

[2020-09-14 12:08] gdams commented on #894
All machines should have at minimum a zeus key on them now. Closing

[2020-09-14 12:08] #894 closed

[2020-09-14 16:15] Haroon-Khel commented on #1538
Testing the existing disk images individually on `infra-softlayer-ubuntu1804-x64-1`

- [ ] UBUNTU18.AARCH64.dsk.xz

- [ ] DEBIAN10.AARCH64.dsk.xz

- [ ] UBUNTU18.S390X.dsk.xz

- [ ] UBUNTU18.PPC64LE.dsk.xz

- [ ] DEBIAN8.ARM32.dsk.xz

- [ ] DEBIAN11.RISCV.dsk.xz

[2020-09-15 07:50] Willsparker commented on #1044
I thought I'd help the effort. I used Ansible to just query all non-windows test machines with `docker --version`. (For ease, I used the superuser that is meant to be setup on all machines).
The following are the test machines that have docker installed in some capacity.
[code]

[2020-09-15 08:16] Willsparker commented on #1232
Brilliant, thanks :-)

[2020-09-15 13:43] sxa opened #1544 "AIX playbook should not put `/opt/freeware/bin` at start of /etc/environment"
This can break certain default AIX startup scripts which require the AIX `grep` command.

We need to determine the impact to the adoptopenjdk scripts of changing this.

@Haroon-Khel Possibly somethign we can do while switching to the invididual Role-based playbooks?

[2020-09-16 09:08] Willsparker opened #1546 "winPB: Find a better way to manage MSVS checksums"
Ref: #1517  , #1545

With both MSVS_2017 & 2019, we've removed the checksums as the installers are often updated, requiring a lot of 'checksum update' PRs, that can block `VPC` runs until the PRs are merged.
We really should have checksum checks whenever downloading anything from the internet, so a better solution needs to be found.
At https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/15

[2020-09-16 11:07] aixtools commented on #1391
How can I help?

I'll help patch this one up - but if you (openjdk) are game, I'd like to attempt an alternative - with fewer dependencies re: the Opensource tooling.

FYI: IBM is very committed to using yum - which requires their packaging of python2, which has it's dependencies, etc. etc. Personally, I liked the idea - very much - back in 2001 - but by 2004 I was against because mixing package m

[2020-09-16 11:09] aixtools commented on #1391
If those are the two new systems I prepped at OSU - then that is probably because I spent some time getting yum fixed and installed by default. So, the stray dependencies coreutils needed before were already resolved.

If it is not those systems - then I am would have to guess differently.

[2020-09-16 11:23] aixtools opened #1547 "AIX_filesystem_config.sh"
This does not look like it was written by an an AIX admin.

It checks for bash being installed, but it is #! (has bang) started by /bin/bash (which iirc is not where bash should be - maybe packages have changed).

As far as I can see, everything in the script would work fine using ksh. (And then checking for bash would be okay, but what does that have to do with filesystems?).

The is a 'constant'

[2020-09-16 12:10] aixtools commented on #1547
For reference: here is a new system. Not knowing better I assigned a 40G disk.

All is used, and /home is very small (nothing in it atm, but that will fail later I expect). Yet, /, /usr, /var, and /opt have about 25G free (over 50% of the storage provided). Also note - /tmp is still only 256 MB!
[code]
From experience, 1G is usually enough for / - yet this new system is already over that, by a bit

[2020-09-16 12:10] Mesbah-Alam commented on #211
@Haroon-Khel @sxa - Any update on this ?

[2020-09-16 12:12] aixtools commented on #1547
p.s. If you give me the permission and authority to kickoff the ansible process on (this) AIX host - I can rinse and repeat - to get the process perfected.

[2020-09-16 21:45] aixtools commented on #1544
The tactic I have seen most, over the years, is to either add PATH at the beginning of a script (as opposed to making something a system default), OR having variables defined to execute a specific command, e.g. GREP=/opt/freeware/bin/grep and then calling it using ${GREP}.

And after glancing at the playbook - I see you are 'installing', i.e., attempting to install, a dated version of openSSL (1.0

[2020-09-17 06:26] aahlenst commented on #1547
I do not know anything about AIX, so only general remarks: If you think something can be improved, please do so and open a PR with explanations and justifications. This info also helps in the future if somebody wants to know why certain things are the way they are.

Everything's bash because the build needs bash. However, `/bin/bash` is never good, not even on Linux (should be `/usr/bin/env bash`)

[2020-09-17 08:19] Willsparker commented on #1547
ping @sxa

[2020-09-17 09:09] Willsparker commented on #725
On advice from @sxa , I'm not going to add SLES12 ppc64le to the playbooks due to only having a single `SLES12` machine, and it being on `s390x`.

[2020-09-17 12:38] aixtools commented on #1544
Hmm. Guess my message from yesterday did not take.

Short bit: openssl is also not current. playbook says 1601, but 2100 (1.0.2u) is current version.

[2020-09-17 12:41] aixtools commented on #1547
I can ping @sxa again, but shall I put up a PR? This concerns both process and content (e.g., number of LP in a logical partition), and minimum size of harddisk - and on AIX, that should actually be the volume group, not a single physical volume.

[2020-09-17 12:51] aixtools commented on #1547
Right. I'll open a PR then.

That bash is 'needed' later on is a good reason to have it installed. However, imho, for a configuration script - that can run without it (better, can run with the system shell) it is better to run with the system shell.

I have no issues with bash - but this is 'process'. Needing bash for something later is 'content' - and should be dealt with separate from configurin

[2020-09-17 13:49] Haroon-Khel commented on #1538
Qemu docs have been updated to include setup for debian8.arm32 and ubuntu18.arm64 images

[2020-09-17 22:32] sxa555 commented on #1547
I'm pretty sure @sej-jackson would also approve of any such updates ;-)

(As would I, to be clear!)

[2020-09-17 22:36] sxa commented on #1547
I feel @sej-jackson would be in favour of these changes too!

(As would I, just to be clear!)

FYI, the people who initially wrote the AIX scripts are no longer actively working on the project so they are in need of some maintenance

[2020-09-17 22:39] sxa commented on #1544
@aixtools I think we need to be clear on why that PATH statement was there in the first case really (Doesn't appear to be commented in the playbook...) I suspect we should undo it on one of the machines and see what breaks :-)

[2020-09-18 08:28] adamfarley opened #1553 "build-osuosl-centos74-ppc64le-2 fails to fetch from openjdk-build"
Normally I'd re-run the job and assume the issue to be a one-off, but this has happened twice this week on this specific machine. Two points are a line, not a pattern, but I'm still requesting a machine inspection.

If nothing obvious pops up, can this machine be restarted and refreshed?

[code]

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk/job/jdk-linux-ppc

[2020-09-18 14:18] aixtools commented on #1547
My first assignment :p !!

On 18/09/2020 12:28, Martijn Verburg wrote:

[2020-09-19 09:01] aixtools commented on #1547
A bit more serious - as AIX is not included in the CI of these files - what do I need to do to 'emulate' that. Is it possible to add a test server (that I can re-install for the rinse and repeat part) - or use one of the servers I already manage/setup.

Ultimately - if not by default - I'll want to follow the complete chain (new system, configure, run odjk and/or nodejs (jenkins?) job.

And, I sup

[2020-09-19 09:42] aahlenst commented on #1547
You have to keep one thing in mind: Because we're using Bash everywhere, we have more people that are able to review changes and the appropriate tooling is already in place. If we were to switch to ksh for AIX, we'd need at least a replacement for shellcheck.

If you want to see whether your changes result in a working build, the easiest way is probably to provision a test machine that you have ac

[2020-09-19 12:25] aixtools commented on #1547
On 19/09/2020 11:43, Andreas Ahlenstorf wrote:

Agreed. Bash needs to be available - and apparently it was installed (in
the wrong way, imho should not expect #!/bin/bash) before this script
gets run.

FYI: Their was nothing in the previous script that needed bash. My idea
is to find where it is being installed (using your hint below, thx), and
find, where it (should) be documented.

In short, use

[2020-09-19 12:32] aixtools commented on #1547
Update: On the scratch server - the "I want to build...now" starting point is, imho, after the script(s) we are discussing here.

On a scratch server (no FS config, no OSS tools installed, no Java installed - I started the script - after cloning - as `./makejdk-any-platform.sh jdk11u`.

This gave various warnings: I needed to install Java8_64 and set JDK8_BOOT_DIR to get past some warnings and can

[2020-09-19 12:40] aahlenst commented on #1547
You need a JDK 10 as boot JDK to build 11 and pass that with `-j` to `./makejdk-any-platform.sh`. https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/aix.yml should install everything you need.

[2020-09-19 12:47] aixtools commented on #1547
So - how to bootstrap when I do not have any JDK? Or do I need to start with jdk9?

This is bootstrap from "I currently have nothing".

[2020-09-19 12:54] aixtools commented on #1547
Do you mean by above that I should call `./makejdk-any-platform.sh URL to ...playbooks/aix.yml`?

Going to try that, in any case.

[2020-09-19 12:57] aahlenst commented on #1547
You really have to run https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/ansible/playbooks/aix.yml **before** `./makejdk-any-platform.sh`.

And that happens by `ansible-playbook -i "localhost," --skip-tags adoptopenjdk,jenkins playbooks/playbooks/aix.yml" if you run it on the AIX box. If you have a local machine that isn't Windows and want to provision the AIX box from there, run

[2020-09-19 12:59] aixtools commented on #1547
:) Thx. One step back - then more steps forward.

[2020-09-19 13:06] aahlenst commented on #1547
https://github.com/AdoptOpenJDK/openjdk-infrastructure/tree/master/ansible

[If you want help via chat, there's https://adoptopenjdk.net/slack.html. It's very quiet on weekends.]

[2020-09-19 19:38] aixtools commented on #1547
I have ansible for AIX. Will try tomorrow if I have time, otherwise on Monday.

[2020-09-21 08:34] andrew-m-leonard opened #1554 "build-marist-rhel77-s390x-1 out of disk space"
Builds failing due to low disk space:
eg.https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-s390x-openj9/42/consoleFull
[code]

[2020-09-21 08:35] andrew-m-leonard commented on #1554
I've disabled the node

[2020-09-21 08:41] andrew-m-leonard opened #1555 "build-scaleway-ubuntu1604-armv7-1 offline ?"
build-scaleway-ubuntu1604-armv7-1 Jenkins agent fails to start...?
not sure why

[2020-09-21 08:43] andrew-m-leonard commented on #1555
build-scaleway-ubuntu1604-armv7-2 offline as well

[2020-09-21 08:49] andrew-m-leonard opened #1556 "Windows installer failing: SignTool Error: File not found: C:\Users\jenkins\windows.p12"
https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/11503/console
[code]

[2020-09-21 08:51] aahlenst commented on #1555
We've been informed some time ago that Scaleway is going to discontinue their ARM offerings. Maybe they've pulled the plug.

[2020-09-21 08:53] andrew-m-leonard commented on #1556
Seems an issue on build-azure-win2012r2-x64-1 marked offline

[2020-09-21 08:59] andrew-m-leonard opened #1557 "ConcurrentModificationException Pipeline failure"
https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-linux-x64-openj9/44/console
[code]

[2020-09-21 16:26] Haroon-Khel commented on #1554
The machine has alot of workspaces created by jobs ran over the weekend, mainly sunday. Can they be deleted?

[2020-09-21 18:49] andrew-m-leonard commented on #1554
Yes delete them!

[2020-09-22 09:46] Haroon-Khel commented on #1554
Theres now 15G free on the machine

[2020-09-22 09:49] Willsparker commented on #1553
Alright, so - had a look - the reason it error'd was due to `git clean -fdx` taking longer than 10 minutes.
`git clean -fdx` will remove the untracked files in a git repo (In this instance, it's only `jdk-15`). I've cleared it manually, however the command still seems to hang (despite `git clean` with any other combination of the options finishing instantly).
`git clean -fdx` works on the `hotspot

[2020-09-22 10:20] Willsparker commented on #1556
As suggested by @gdams [on slack](https://adoptopenjdk.slack.com/archives/C598A7EMQ/p1600768585004200?thread_ts=1600662156.001200&cid=C598A7EMQ) , we're going to move the `windows.p12` cert over to `C:\openjdk`, as often there are differences between machines in that sometimes the Jenkins user is at `C:/users/jenkins.<Something_random>`. Hopefully this will stop these errors

[2020-09-22 10:34] Willsparker commented on #1555
Ref: https://adoptopenjdk.slack.com/archives/C09NW3L2J/p1600679833003200

[2020-09-22 11:48] Willsparker commented on #1557
This seems to be a Jenkins error, not specific to any one machine, which didn't seem to affect run 45 of the same job. Maybe it was just a hiccup on Jenkin's part?

[2020-09-22 11:56] Willsparker opened #1558 "winPB: Update location of windows.p12 in CodesignCert role"
Ref: https://github.com/AdoptOpenJDK/openjdk-build/pull/2092 , #1556

Currently looking into placing the windows.p12 cert into `C:/openjdk/` as opposed to `C:/users/jenkins/`, however the link to get windows.p12 in the CodesignCert (ccert) role needs to be updated as it is no longer in the adoptopenjdk/openjdk-installer repo, regardless of where we intend to put it.

The windows.p12 file is curren

[2020-09-22 14:02] karianna commented on #1557
Almost certainly - we haven't bounced Jenkins in a while for bug fixes

[2020-09-23 07:39] andrew-m-leonard commented on #1554
Is out of disk space again.... @Haroon-Khel please re-open?

[2020-09-23 08:35] Willsparker commented on #1557
Ah okay! In that case, can we schedule one for this weekend?

[2020-09-23 08:50] Willsparker commented on #1558
I think the best thing would be to store it with the Vendor Files, as they'd be required to properly setup a Windows machine anyway. We could put the Vendor Files as a `.tar.gz` archive in the private secrets repo, therefore Its available to the people that are going to be setting up Windows Machines for the machine farm, but not open open. @gdams thoughts?

[2020-09-23 08:52] karianna commented on #1557
Will do today? after 15 release

[2020-09-23 08:58] Willsparker commented on #1557
Oh okay! Thanks :-)

[2020-09-23 09:24] aahlenst commented on #1558
Does it have to be a compressed tarball? Why not the individual files?

[2020-09-23 09:25] gdams commented on #1558
yeah @Willsparker I've got a plan, let me try some hacking around

[2020-09-23 09:28] Willsparker commented on #1558
I just thought it'd save on space :-)

[2020-09-23 09:35] aahlenst commented on #1558
If the private secrets repo is in git, the tarball is rather going to waste space. Except git got better at managing those.

[2020-09-23 09:37] Willsparker commented on #1558
Oh okay! Maybe not a tarball then :sweat_smile:  Either way, individual files or not, IMO they should be stored in the secrets repo

[2020-09-23 09:56] Haroon-Khel commented on #1554
50G now free on the machine. Ill keep an eye on it during the week incase space runs out again

[2020-09-23 10:20] karianna commented on #1554
Worth coordinating with @Willsparker (I think he's collating what jobs aren't tidying up)

[2020-09-23 13:12] andrew-m-leonard commented on #1554
from this mornings failure:
[code]

[2020-09-23 13:12] andrew-m-leonard commented on #1554
I think the failures maybe compounding, in that when a job fails abruptly the workspace is not cleaned maybe?

[2020-09-24 08:46] Willsparker commented on #1554
Aren't builds meant to clean-up the old workspace before they run a new one anyway?

[2020-09-24 08:49] Willsparker commented on #1558
Ref: #1560

[2020-09-24 10:08] Willsparker commented on #1556
With the above build PR being merged, this should hopefully be fixed. [This](https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_windows/7968/console) installer run started about 10 minutes after the PR was merged and it looks okay. I'll wait until the nightlies run before I close this issue though

[2020-09-24 10:41] karianna commented on #1554
Yes, but it'll be worth checking that logic in the scripts

[2020-09-25 08:15] Willsparker commented on #1556
Looks okay from last night, closing

[2020-09-25 08:15] #1556 closed

[2020-09-25 10:19] andrew-m-leonard opened #1565 "java.lang.NoClassDefFoundError: Could not initialize class jenkins.model.Jenkins"
This problem occurs intermittently, most recently on the Mac machines:
https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_mac/4799/console
[code]
From looking at various old Jenkins bugs, the most likely culprit seems to be a Java8 version issue. The above Mac machine are running:
[code]

I suggest we upgrade the Mac nodes to at least jdk8u265 to see if that resolves th

[2020-09-25 11:29] Haroon-Khel commented on #1565
@andrew-m-leonard Ive upgraded the java version to jdk8u265
[code]
Would you like to re run the job on that machine (test-macincloud-macos1014-x64-3) to see if it fixes the problem? Im not too sure but the machine **may** need to be disconnected and reconnected for the jenkins agent to update the java version

[2020-09-25 11:48] Willsparker commented on #1565
I believe it does need to be reconnected, @Haroon-Khel , the system info on the Node screen is still showing `1.8.0_212-b04`

[2020-09-25 11:52] andrew-m-leonard commented on #1565
Just tried, and looks good now, thanks, we will see if this resolves the intermittent problem going forward...

[2020-09-25 11:55] Willsparker commented on #1565
I think this may be a good time to open a new issue to just check the java versions that are running all the nodes' Jenkins agents. Or possibly automate it ...?

[2020-09-25 11:58] Willsparker commented on #1557
@karianna Was Jenkins bounced the other day?

[2020-09-25 12:29] Willsparker commented on #1565
Either way, I'm going to close this issue as it's fixed for now.
Here's a list of the java versions running all the mac test machines that I checked manually
[code]

[2020-09-25 12:29] #1565 closed

[2020-09-25 12:35] Willsparker opened #1567 "mac: Update JDK versions running Jenkins"
Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1565#issuecomment-698900558

Old JDK8 versions running the Jenkins agent can cause issues with Jenkins (see the issue above).

The following machines need updating (the current JDK8 versions that are running the agent can be seen in the linked comment)

- [ ] test-macincloud-macos1010-x64-1
- [ ] test-macincloud-macos1010-x64-2
- [

[2020-09-25 12:39] Willsparker commented on #1567
Just a thought- this could be added into the `adoptopenjdk_install` playbook; a task to find the latest version of JDK X, compare to the one thats on it, if the version is lower (or the old version can't be found), install the latest version, remove the old JDK X (if applicable).

[2020-09-25 12:41] aahlenst commented on #1567
What about using our [Homebrew tap](https://github.com/adoptopenjdk/homebrew-openjdk)? Would make updating easier, too.

[2020-09-25 12:49] Willsparker commented on #1567
I think my only concern with that would be that the role would have to be mac specific, whereas updating the `adoptopenjdk_install` role would encompass the linux distros too

[2020-09-25 12:54] Willsparker commented on #905
Err- did you mean to remove the labels off the macstadium-arm64 ones too (I'm fully aware this issue is over a year old, so if not, I may just put the labels back on)

[2020-09-25 13:00] Willsparker commented on #1567
@gdams (or @Haroon-Khel or anyone with access to the macOS machines) , could you run the 'Superuser' role on the following machines, please?:
[code]

[2020-09-25 13:12] karianna commented on #1557
It was not - so I'll go for this weekend.

[2020-09-25 13:36] gdams commented on #1567
@Willsparker done

[2020-09-25 14:09] Willsparker commented on #1567
Thanks :-)

[2020-09-25 15:14] Willsparker commented on #1567
Alright, all the x86_64 ones are updated (except macos10 ones, that cant be updated due to the following error message)
[code]

[2020-09-26 14:31] aahlenst opened #1568 "Monitor SSL certificate experiation"
Today, the certificate on ci.adoptopenjdk.net expired. There are Nagios/Icinga plug-ins that can warn beforehand.

Blocked on #1229.

[2020-09-26 14:44] aahlenst opened #1569 "Automate SSL certificate renewal on ci.adoptopenjdk.net"

[2020-09-28 08:37] Willsparker commented on #1568
At the risk of attempting something that I haven't tried before, I'd quite like to pick this up, if nobody has any objections

[2020-09-28 08:38] Willsparker commented on #1555
I sort of assume there's nothing that can be done about this yet, until we find a different provider for armv7 machines?

[2020-09-28 09:01] tellison commented on #1229
Nagios should at least be updated to ensure we remain secure there.  The latest version of Core is now 4.4.6.

[2020-09-28 09:11] karianna commented on #1568
@Willsparker Go for it!  Are you going to try and install Nagios or...?

[2020-09-28 09:13] karianna commented on #1555
This host is online according to the Scaleway console but we're getting ssh connection errors when Jenkins tries to connect

[2020-09-28 09:15] karianna commented on #1555
Manual SSH hangs as well.  REstarting host one from the console

[2020-09-28 09:16] #1558 closed

[2020-09-28 09:17] karianna commented on #1229
Paging @Willsparker as he wanted to look at this from the other ticket on monitoring SSL certs

[2020-09-28 09:18] karianna commented on #1555
Agent is back up.

[2020-09-28 09:18] #1555 closed

[2020-09-28 10:55] aahlenst commented on #1555
FYI: I've removed the build label from my test machines because they've never been properly vetted for usage as build machines.

[2020-09-28 10:57] aahlenst commented on #1229
If bringing Nagios back to life requires a lot of work, it might make sense to check beforehand where that thing is located and what else needs to be done so that's ready for the future security- and performance-wise.

[2020-09-28 11:03] aahlenst commented on #1568
I'm using https://github.com/matteocorti/check_ssl_cert at work.

[2020-09-28 13:01] M-Davies opened #1573 "Windows machines can't delete workspace files"
Windows machines are seeing errors where they struggle to remove a files at various locations. All versions (from what I can see) are affected by this issue and the error message is different for each one but all revolve around failing to delete a file (albeit, there is a lot of spam from other clean up tasks so I can't be sure of that).

- https://ci.adoptopenjdk.net/job/build-scripts-pr-tester/j

[2020-09-28 14:33] Haroon-Khel commented on #1544
@sxa Do we know which AIX start up scripts fail as a result of this? And is the issue here that the PATH variable is simply at the **start** of `/etc/environment`, or that its there at all?

[2020-09-28 14:39] aixtools commented on #1544
One thing it breaks is rc.nfs. I wanted to do some AIX maintenaince
(using NFS) - and fell over this. It takes too much time to find and
document all the things that break because the syntax of 'coreutils'
and/or 'binutils' is different than the AIX versions.

So, it is not that it is in the PATH, but that it is first. Note: if a
nodejs command is requiring a coreutils/binutils command syntax - an

[2020-09-29 08:31] Willsparker commented on #1573
So, `Directory not empty` is output from `rm` when you try and delete a directory that isn't empty (obviously). However, we do appear to be doing this in `PrepareWorkspace.sh`:
[code]
In addition, on the `build-softlayer-win2012r2-x64-2` (within both the cygwin terminal and `cmd`), I was about to create a directory, populate it and then delete it with `rm -rf` with no issues. This makes me think t

[2020-09-29 08:33] Willsparker commented on #1568
Well, we do have it in our playbooks, so it feels right to use Nagios / for me to learn how to use it :-)

[2020-09-29 08:51] Willsparker commented on #1567
The 2 macos10 machines weren't able to update Java using Homebrew, so I had to do it manually and put it into `/Library/Java/JavaVirtualMachines/jdk8u265-b01`. Restarted the nodes and they're running the Jenkins agent on the later version.

The '2' arm machines (that are actually one but somehow have 2 agents running from it), are already running jdk`1.8.0_265-b01`.

That should be all of them :+1

[2020-09-29 08:51] #1567 closed

[2020-09-29 09:03] andrew-m-leonard opened #1575 "build-scaleway-ubuntu1604-x64-1 offline"
jdk16 build hung waiting to run create_installer_linux:
![image](https://user-images.githubusercontent.com/31470007/94537195-e186d200-023a-11eb-824b-38df4f719045.png)

[2020-09-29 09:06] andrew-m-leonard commented on #1575
I've brought the node back online, doing the old trick of adding a dummy "label", re-launch Agent, then removing the dummy label, did the trick.

[2020-09-29 09:07] andrew-m-leonard commented on #1575
Hopefully resolved now.

[2020-09-29 09:07] #1575 closed

[2020-09-29 09:11] Willsparker commented on #1569
Presumably, this would be a case of using Nagios to monitor if the cert has expired (#1568 ), and if so, run a script containing the instructions that are given on login to the `ci.adoptopenjdk.net` machine :
[code]

[2020-09-29 09:11] andrew-m-leonard opened #1576 "zLinux builds stalled due to build-marist-rhel77-s390x-1 offline"
![image](https://user-images.githubusercontent.com/31470007/94538588-18a9b300-023c-11eb-9782-66d33ec5d9b8.png)

[2020-09-29 09:12] Willsparker commented on #1557
The Jenkins reboot was done yesterday, closing issue :)

[2020-09-29 09:12] #1557 closed

[2020-09-29 09:15] andrew-m-leonard commented on #1576
@Haroon-Khel could you take a look at this machine please?

[2020-09-29 09:33] Willsparker commented on #1576
ref: #1554

[2020-09-29 09:43] aahlenst commented on #1569
I know nothing about the Jenkins config. If indeed nginx is in front of Jenkins, I'd use certbot and let it handle everything. You can call certbot regularly with cron and it will automatically update the certificates if required. I can send you my Ansible role I use at work.

[2020-09-29 09:45] Haroon-Khel commented on #1576
@andrew-m-leonard If this was caused by low disk space, theres now 51G free on the machine. Could you relaunch the agent please? I dont seem to have the required permissions

[2020-09-29 10:14] andrew-m-leonard opened #1577 "Need a 2nd create_installer_linux node for redundency"
build-scaleway-ubuntu1604-x64-1 is the only node for create_installer_linux
if that has an issue, eg.Agent goes offline, disk issue, or whatever, then the builds hang...

Please can we have a 2nd one for redundency?

[2020-09-29 11:28] karianna commented on #1576
I tried via Jenkins and it didn't like it.

[2020-09-29 11:34] Haroon-Khel commented on #1576
@karianna Could you grant my user the required perms to be able to view https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-1/log. I currently see the following message at that link

[code]

[2020-09-29 11:38] karianna commented on #1576
You were missing from the Infra team - try again now (you may need to log out/in to jenkins)

[2020-09-29 11:38] karianna commented on #1576
PS: That log is only showing the latest from Jan 2020, so nothing useful there :-(

[2020-09-29 12:21] sxa commented on #1576
Node is back up with an `X` suffix. Occasionally jenkins agent definitions get "confused" and the logs get stuck and don't update. This seems to have happened in this case.

The underlying issue preventing it from starting was that the `authorized_keys` file had been blanked as a result of an update (probably from Bastillion) happening while the disk was full. I have copied the correct keys across

[2020-09-29 12:21] #1576 closed

[2020-09-29 19:22] andrew-m-leonard opened #1578 "Update Win builds to use OpenSSL 1.1.1h"
OpenSSL have release a fix update 1.1.1h : https://www.openssl.org/source/openssl-1.1.1h.tar.gz

OpenJ9 Win & Mac machines and build config needs updating to use 1.1.1h

[2020-09-29 20:39] LongyuZhang opened #1579 "Machine test-aws-ubuntu1804-armv8-1 fails testSCCMLTests1_openj9_1 with openjdk11 Aarch64"
Machine test-aws-ubuntu1804-armv8-1 fails testSCCMLTests1_openj9_1 Test 26 for nightly openjdk11 Aarch64 with timeout error, https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/1.

After testing with other machines (test-packet-ubuntu1604-armv8-2, test-aws-rhel76-armv8-2, test-aws-rhel76-armv8-4, test-packet-ubuntu1604-armv8-1), they all passed this test, with links h

[2020-09-30 08:06] Willsparker commented on #1229
I can look at updating the playbooks to have the latest version of Nagios, that (hopefully) shouldn't be a problem :-)

[2020-09-30 08:28] aahlenst commented on #1229
@sxa @karianna If I understand correctly, there's no Nagios server at the moment. If that's true, can we re-evaluate and write down how we ended up with Nagios and which edition we're going to use? As I already said on Slack, if we have Nagios Core only, Icinga might be the better choice.

[2020-09-30 08:31] Willsparker commented on #1554
Given #1576 is closed, and there's still ~15gb free, I'm going to close this issue.
Regarding logic in the scripts to clear-up workspaces, from what I can see, the way to stop failed builds from piling up would be to clear the workspace after a build has finished. IIRC, this has been mentioned before on Slack though I can't remember the result. We could just clear the workspace after a build only

[2020-09-30 08:31] #1554 closed

[2020-09-30 09:08] karianna commented on #1229
@Willsparker / all - we actually have a Nagios Master in place already at 78.47.239.96

[2020-09-30 09:17] Willsparker commented on #1229
Oh cool :-) I'm currently looking at installing it on a VM and playing around with it to figure it out

[2020-09-30 12:44] aixtools commented on #1547
Took a bit longer than expected to test local ansible: but it is working, even if the playbook is failing.

e.g., I have python3(.6) installed, but it is not looking at the right location.

So, I'll have to open a new PR for aix.yml I guess.
[code]

[2020-09-30 12:59] Willsparker commented on #1568
Ref: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1229#issuecomment-701264941

I've had a look on the nagios machine and I've already found a configuration for `ci.adoptopenjdk.net`, in which you can use ssh to check things. Here's one that checks the password expiry:
[code]
Presumably, we can do this for checking the SSL cert expiration - possibly using `certbot` ?
(Found a tutor

[2020-09-30 12:59] aixtools opened #1581 "platforms/aix.yml makes assumptions it should not be making, e.g., that everything is in /usr/bin"
Just ran the playbook on an as generic (vanilla) system as possible.

Delta from fresh install:
1) /var/ssl/cacerts.pem
2) python3.6 installed
3) git installed (to clone the infrastructure site)
4) wget and curl installed (to fetch the above - and below)
5) ansible-2.10 installed

Running the aix.yml playbook gives:

[code]
Issues:
* as I do not know ansible (yet) - what is causing the depreciatio

[2020-09-30 13:25] aixtools commented on #1581
OK. I have done some massageing of the test system - such as add a symbolic link python3.6 in /usr/bin. (Where it points is not relevant atm - only that this block fails:
a) both bash and python are installed
b) I tried modifying the PATH
c) after adding symbolic link /usr/bin/python3.6 ==> /some/where/else/python3.6 -- I get the following message(s)
[code]

[2020-09-30 13:51] LongyuZhang commented on #1579
Recent openjdk11 Aarch64 sanity.functional nightly passed on another machine "test-aws-rhel76-armv8-4", https://ci.adoptopenjdk.net/view/all/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/2/.

[2020-09-30 19:56] aahlenst commented on #1568
@Willsparker Your proposed route asks certbot about the state of the certificate. This is unfortunately not sufficient. You have to go through the webserver and do a real HTTPS call. https://github.com/matteocorti/check_ssl_cert is the relevant plug-in that you can invoke on the controller (and not on the server to be monitored). If you ask only certbot about the state of the certificate, you'll m

[2020-10-01 06:34] aixtools commented on #1581
OK. So, no comments yet.

My humble opinion:

The aix.yml should be a sort of process management flow.

Step 1: verify that licensed requirements are installed - including - especially! things such as XLC and other items that come from IBM AIX BOS (aka, the DVD's).

Step 2: if/when needed - verify that known issues have been addressed.

IMHO: key in these first two steps is that no changes are mad

[2020-10-01 07:00] aixtools commented on #1581
Question: are these being installed to support 'yum', or are they actually needed by node.js/AdoptOpenJDK.

If the answer is yes - yum needs these (as it does have some - imho - extraordinary pre-requisites (and yum.sh also has pre-requisites) -- I have a second question:

which of these OSS packages are actually needed - explicitly - by node.js/AdoptOpenJDK?

[code]

[2020-10-01 07:14] aixtools commented on #1581
* re: syslog
[code]

* At customers I advised I never saw syslog entries in /var/adm. Nothing 'wrong', just unusual at AIX customers I have advised.
* rather than a file `/var/log/syslog` - that is often a directory with files for the different streams, e.g., /var/log/syslog/mail.log and /var/log/syslog/auth.log. Further, /var/log/syslog is often a separate filesystem to prevent it blocking /var (

[2020-10-01 07:28] aixtools commented on #1544
Smarter now: I see where it happens in aix.yml
[code]
As I mention in #1581 there are some assumptions here.

* Classically, tools such as compilers - and java - are appended to the PATH, not pre-pended.
* This code does not check if the admins had already placed xlC (must it be C++, or does xlc (no C++) suffice?
* This code combines several, I would consider not related, under the heading "bash i

[2020-10-01 07:49] aixtools commented on #1581
So, now finished reading through `aix.yml`, and imho, it is in need of 'major' restructuring.

Will start reading #1391 , #710 , #1104 and perhaps others - to determine if they are all related to this issue - and determine an approach to getting them all resolved (aka closed).

[2020-10-01 07:59] aixtools commented on #1391
As I mention in #1581 - in part by your concerns above (I did not have this ...), this should be part of a verification check. IMHO it is wrong to assume that the playbook _installs_ software requiring a license.

My opinion is that whoever is supplying the LPAR (or WPAR) is _responsible_ for supplying licensed software. So, maybe IBM provides the software - but not via a (relatively) uncontrolled

[2020-10-01 08:05] aixtools commented on #1547
I see this as (an example of) a sub-project of #1581 - which needs a better title, more like the title for #1391

[2020-10-01 08:24] aixtools commented on #929
Looks like something I can look into. Which (osu) system may I examine to try and track-down the root cause - and from there look for a solution.

[2020-10-01 08:43] aixtools opened #1582 "AIX playbooks - version 2"
Opening a new issue - to keep track/follow other playbook issues.

As a first PR step I would like to add a new directory for the aix playbooks, with it's own README(.md) to document what is going on. This way the existing files will not be affected - and when complete - either copy the new files to the old locations - or point at the new playbook (from wherever that is managed).

[2020-10-01 09:40] aahlenst commented on #1581
You bring up many issues. While that is great, it's a lot of work to unpack for me. Maybe there's a way to make things more focused.

Ansible is a system management/configuration tool. As such, it's within Ansible's scope to install or re-configure things. The question is where you draw the line. For the sake of reproducibility, I try to move as many things into the domain of Ansible as possible.

[2020-10-01 09:53] aixtools opened #1584 "CI checks are failing - period."
It seems, regardless of what is submitted, the CI checks are going to fail.

May I make, what I hope is a simple request - rollback the CI check additions until the mainstream will pass the new tests.

[2020-10-01 10:06] aixtools commented on #1581
Not quite sure what you mean by unpack - See #1583 as an example of what I am willing to work on, and how.

OK. I'll look there - part of the learning curve - which is steep.

Because Ash Cripps is involved in both node.js and openjdk - my mistake for combining them. And, because I am the volunteer admin for AIX at OSU - where I am currently trying to prep new systems for both node.js and OJDK.

W

[2020-10-01 10:14] aahlenst commented on #1581
It's odd to install Ansible on the target system. You only do that if you have no other choice (for example provisioning Linux machines on Windows because Ansible does not run on Windows). Ansible is usually present on the sysadmin's machine (or some jump host). You run Ansible locally on that system. Ansible then connects over SSH (or WinRM) to the target system and performs its work there.

To g

[2020-10-01 11:08] aixtools commented on #1581
OK. But I need ansible (locally) to test. And, again, for testing - I can install it on the NIM system I have for installation and test how that behaves with targets. Might even make provisioning new lpars (and wpars) easier - separate from any projects.

Probably in your references (thx!) above - but I will need to work out how the Ansible communicates (i.e., executes commands) on the target. Som

[2020-10-01 12:43] karianna commented on #1584
Is there a specific issue you're encountering?

[2020-10-01 13:16] Willsparker commented on #1568
Okay, I've managed to use `check_ssl_cert` as suggested, on a VM.
[code]
I managed to get it setup using Nagios (on a couple of VMs):
![image](https://user-images.githubusercontent.com/52783864/94813095-7d593f00-03ef-11eb-95d6-180c29cb7b4e.png)

I was able to do this with the following service in `../nagios/etc/servers/ubuntu_host.cfg
[code]
I realise that checking the SSL cert could be done on th

[2020-10-01 16:09] aixtools commented on #1584
I added a new framework for a new version of playbook for AIX and I get 'unrelated' CI check errors (that are probably valid). Makes it hard to trust the CI checks for what you are (that is I am) working on.

[2020-10-01 16:15] aixtools commented on #1581
FYI: I bought the book @aahlenst recommended, and have installed ansible on another system - so I can reinstall the test server and use ansible for final setup (outside of scope here, will be a side project).

Comment: although added to October 2020 milestone - I cannot guarantee I have it ready "on time". But I'll do my best.

[2020-10-02 09:43] Willsparker commented on #1578
To do list:
- [ ]  Alter Windows playbook to install OpenSSL 1.1.1h
- [ ]  Alter Unix Playbook to install OpenSSL 1.1.1h for MacOS
- [ ]  Add OpenSSL 1.1.1h on existing windows build machines
- [ ]  Add OpenSSL 1.1.1h on existing mac build machines
- [ ]  Alter build scripts to look for OpenSSL 1.1.1h (or fall back to the older version)

[2020-10-02 10:08] Willsparker commented on #1578
Looking at the Windows machines, there's a lot of old OpenSSL versions. I'll double check build scripts, but I think it'd be fairly sensible to delete all but the new version and the current used version.

[2020-10-02 10:24] aixtools commented on #1584
Sent a request for an invite to Slack.

[2020-10-02 10:26] aixtools commented on #1582
maybe add tag 'aix' as well. What I learn re: ansible will be generic, but what I am doing is definitely platform specific.

[2020-10-02 10:34] aahlenst commented on #1584
In https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1583, ansible_lint complains about duplicated YAML keys. And there are duplicated YAML keys:

[code]

You probably wanted to write:

[code]

[2020-10-02 14:05] gdams commented on #1584
closing, the CI checks now have 0 warnings/errors

[2020-10-02 14:05] #1584 closed

[2020-10-02 14:29] Willsparker opened #1587 "pbTests: CentOS6 fails on `vagrant up` w/vagrant v2.2.10"
As title implies.
Found whilst I was setting up a new laptop.

[code]
The error is output before the provision script runs, so there isn't much I can do about the file that can't be opened, unfortunately, so the fix would be to find a new Vagrantbox or hope that the people who made it update it.

The CentOS6 box is at v3.0.30 when I test this.

This isn't really an issue right now, as we don't hav

[2020-10-02 14:29] #1587 closed

[2020-10-02 14:34] sxa commented on #1578
I would be reluctant to add in the final bullet point other than for a very short transitional period e.g. becuase we haven't deployed it on all the systems yet. We cannot want to risk accidentally releasing builds which use a known-insecure release.

[2020-10-05 07:20] andrew-m-leonard opened #1589 "build-osuosl-aix71-ppc64-2 low on disk space 1.94Gb free"
Build failures likely due to low disk space: https://ci.adoptopenjdk.net/view/Failed%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-hotspot/714/console

[2020-10-05 07:45] andrew-m-leonard opened #1590 "test-softlayer-win2012r2-x64-2 low on disk space"
6.40MB Free !

[2020-10-05 07:49] andrew-m-leonard opened #1591 "Nodes are running out of disk space too frequently"
It seems every week we get half a dozen or so builds hang due to low disk space. Can we increase the node monitoring script(?) to alert if a node is below a higher figure? Say 50Gb?
Does the monitoring take a node offline if below the threshold? so that it does not cause a hung build...

[2020-10-05 08:24] Willsparker commented on #1590
Alright, I've had a clear out of the `C:/temp` folder, as this machine was setup before we removed a lot of compressed folders via the playbook.
Has 4.36GB free according to `File Explorer` - All of the test folders in the workspaces looked relevant so I thought it'd be best to not remove them; if we need more let me know, I'll get rid of the bigger ones.

[2020-10-05 08:24] #1590 closed

[2020-10-05 08:31] andrew-m-leonard commented on #1590
I think we'll most likely need more than 4.36Gb, if used as a test machine a core file alone can take 1Gb

[2020-10-05 08:35] Willsparker commented on #1591
I agree- I think the nodes filling up with space is definitely an issue. I think the problem with a blanket monitoring script though, is that often machines have different levels of what's full or not - i.e. Some test windows machines have only 100GB on C:\ drive , so 5GB free on it is pretty good. Whereas some build machines, 5GB is barely anything.

[2020-10-05 08:44] aahlenst commented on #1591
@andrew-m-leonard Documenting what's required and identifying the machines that need more disk space might be a good idea and a fitting extension of your project to catalogue our machine park. If we can figure out a percentage of required free space, we could feed that into our monitoring software.

[2020-10-05 08:46] andrew-m-leonard commented on #1591
@aahlenst @sxa has some info on the machine resource already, but needs more discussion.

[2020-10-05 09:05] sxa commented on #1591
We need to be clear on what the requirement on each build machine is and what the size of the builds are on each individual platform. Also bear in mind it's going to change over time. The OpenJ9 builds weren't 10Gb each a couple of years ago :-)

If they are running out regularly because the working set is simply too large for the amount of space we allocated on the machines, then we need to start

[2020-10-05 09:09] andrew-m-leonard commented on #1591
5th Oct:
build-osuosl-aix71-ppc64-2 : Raised: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1589
test-softlayer-win2012r2-x64-2 : Raised: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1590

[2020-10-05 09:55] karianna commented on #1591
I've bumped the Jenkins notifier to warn on <10GB

[2020-10-05 10:50] sxa commented on #1590
@Willsparker How much space is free on this machine's replacement?

[2020-10-05 10:56] sxa commented on #1589
There was a fair bit of crud left from some tests I was doing which I've now cleared up. Hopefully this will be OK going forward (although I still have some optimisations I'd like to put in place on these machines)

[2020-10-05 10:56] #1589 closed

[2020-10-05 10:58] sxa commented on #1591
Agree with @aahlenst - we need to be able to document what we need and then ensure the infrastructure is adequate for purpose. Over time with new releases (always larger than the previous ones) our usage expands and so we hit these issues and will continue to do so unless some extra planning is done at the time of new releases coming out.

The first step is definitely to understand what we NEED.

[2020-10-05 11:06] sxa commented on #1591
@andrew-m-leonard Do we have a list of the "half a dozen or so per week"?

[2020-10-05 11:10] Haroon-Khel commented on #1001
Any progress on this?

[2020-10-05 11:16] sxa opened #1594 "Replace "softlayer" machines with "ibmcloud" ones"
The IBM owner of the account that manages our machines in IBM's cloud is changing and as part of these we're rebuilding all of the machines. To begin with we have recreated them with the provider name of "ibmcloud" instead of "softlayer" and will start activating the new ones in jenkins this week with a view to deactivating the old ones shortly afterwards once the new ones are validated as working

[2020-10-05 11:19] Willsparker commented on #1578
From the looks, the mac build machines are setup with LibreSSL
[code]
Otherwise, the latest version on Brew is `1.1.1g`, at least on macos1014
[code]
On macos1010, it's only `1.1.1f`

[2020-10-05 11:24] Willsparker commented on #1594
`test-ibmcloud-win2012r2-x64-*` and `build-ibmcloud-win2012r2-x64-*` have had their playbooks run but are yet to have tests / builds ran on them.
`infra-ibmcloud-vagrant-x64` has had the `vagrant.yml` playbook ran on it- however the QEMU disk images needs to be transferred over to them. Testing for this needs to be done too (though I'll probably define it in Jenkins first and then use `vagrantPlay

[2020-10-05 11:38] sxa commented on #1594
That's ok - I haven't installed the agent service on the machines yet so they're not "live" in jenkins. Feel free to do the appropriate testing and enable the service at your convenience  @Willsparker :-)

[2020-10-05 11:38] Willsparker commented on #1568
Okay, I've had a look at the nagios server we have:
![image](https://user-images.githubusercontent.com/52783864/95074681-dc2bfa80-0706-11eb-9591-da3b436b4036.png)
This definitely needs to be fixed up...

Beyond this, the `ci.adoptopenjdk.net` server is part of the list of machines that are monitored:
![image](https://user-images.githubusercontent.com/52783864/95074940-3fb62800-0707-11eb-9faf-d7919

[2020-10-05 12:10] sxa commented on #1578
I think that the mac builds use `--with-openssl=fetched` and therefore will pull the correct one down automatically.

[2020-10-05 12:20] Willsparker commented on #1568
![image](https://user-images.githubusercontent.com/52783864/95078222-af7ae180-070c-11eb-886b-9ea115c8453f.png)

`Check_SSL_Cert` was run via Nagios on the `ci.adoptopenjdk.net` machine :tada:

It seems the Nagios restart also fixed a bunch of other things!

![image](https://user-images.githubusercontent.com/52783864/95078403-01236c00-070d-11eb-9bf6-9b1f909a62ad.png)

FYI, to get this to work, I al

[2020-10-05 13:27] aahlenst commented on #1568
Looks good from my POV. I see that the cert expires over the Christmas break. We should get that automatic renewal sorted until then ;)

[2020-10-05 13:27] sxa commented on #1591
@karianna I think this has knocked quite a few nodes offline which are still capable of operating effectively so this change is going to break things overnight if we leave it in place, so I would suggest taking it a bit lower for now to avoid introducing extra problems, then work towards increasing it to 10GB. A couple of the AIX amd arm32 ones we have are using a 30GB workspace FS just now, but i

[2020-10-05 16:02] sxa commented on #1581
The "October 2020" mileston is to indicate that it is being worked on during that timeframe and not a guarantee that we'll hold you to that it will be completed in there :-)

[2020-10-05 16:05] sxa commented on #1581
Ref installing ansible on a remote system from the target, if you think the section at https://github.com/AdoptOpenJDK/openjdk-infrastructure/blob/master/FAQ.md#running-the-ansible-scripts-remotely-on-another-machine can be improved feel free to submit a PR :-)

[2020-10-05 17:04] sxa commented on #1001
Fair question ... For some reason @Willsparker's key does not appear to be on some of those systems. Will try and remember to fix tomorrow

[2020-10-06 08:14] aixtools commented on #1581
Let me get a bit more personal experience - and then I'll write.

[2020-10-06 09:17] andrew-m-leonard opened #1595 "low disk space on test-macincloud-macos1014-x64-1"
Node test-macincloud-macos1014-x64-1 agent has failed, and cannot be re-launched
https://ci.adoptopenjdk.net/computer/test-macincloud-macos1014-x64-1/

[2020-10-06 10:24] karianna commented on #1591
@sxa - replied on Slack - LMK if you want me to drop to say 5GB

[2020-10-06 10:25] karianna commented on #1568
@Willsparker Can we get Nagios to ping our Slack on a nagios channel?  It would be worth getting this to green...

[2020-10-06 10:27] sxa commented on #1591
Am ok for now - let's leave it and see if it causes any other problems. It might do for some of the smaller systems but I think we're ok with the pipelines at least for today ;-)

[2020-10-06 10:29] sxa commented on #1591
Am ok for now - let's leave it and see if it causes any other problems. It might do for some of the smaller systems but I think we're ok with the pipelines at least for today ;-)

[2020-10-06 10:35] Willsparker commented on #1590
Currently, only 8.25Gb (that's after removing some of the leftover zip files from the playbook too ( I'll make a note and make a PR to clean those up via the playbook automatically, dw ))

[2020-10-06 10:40] Willsparker commented on #1594
Current issue affecting the Windows boxes, It seems `shortnames` are enabled, and most directories have one, but 'Program Files (x86)' don't. Looking into manually assigning them now :+1:

[2020-10-06 10:45] Willsparker commented on #1001
I've got access to the superuser, so I'll re-look at it once I've got a bit of spare time. (@sxa Keep in mind I've had a laptop change since I last looked at this :-) )

[2020-10-06 10:45] Willsparker commented on #1578
Excellent, I'll update the issue title :-)

[2020-10-06 10:54] sxa commented on #1594
I thought we had that covered in the playbooks now?

[2020-10-06 10:55] sxa commented on #399
Now that we are building with a client VM we should make sure everything us using an adoptopenjdk version with this enabled.

[2020-10-06 10:56] Willsparker commented on #1594
We do - shortnames are enabled, and a lot of shortnames are there, it just decided not to assign one to `Program Files (x86)` for some reason. Difference in machines from different providers, I would assume, but I'll look at adding that to the playbooks :-)

[2020-10-06 11:17] Willsparker commented on #1594
https://superuser.com/questions/681330/how-to-force-short-name-8dot3-generation
Unfortunately, it looks like we need to create the short-name in `safe mode`, as attempting to create the shortnames when the machine isn't running in safe mode will give an `Access is denied` error message (due to the files being in use).

[2020-10-06 12:18] Willsparker commented on #1594
@sxa found that if the `incredibuild` tasks were ended, it's possible to create a shortname for `Program Files (x86)`. I confirmed that worked on both of the new build machines. Test builds of JDK15/J9 are running on them now :-)

[2020-10-06 12:23] Willsparker opened #1598 "winPB: Create Shortnames for 'Program File*' directories"
@sxa found that if the `incredibuild` tasks were ended, it's possible to create a shortname for `Program Files (x86)`. I confirmed that worked on both of the new build machines. Test builds of JDK15/J9 are running on them now :-)

_Originally posted by @Willsparker in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1594#issuecomment-704229594_

The builds rely on a shortname being th

[2020-10-06 13:07] Haroon-Khel commented on #1595
Im unable to ping the machine, and I get this when trying to ssh into it
[code]

[2020-10-06 13:24] sxa commented on #399
Currently building with the Ubuntu-supplied JDK8 which gets updated regularly so I'm happy with this for now.
Have cleared up some of the random bookt JDKs which are kicking around on the Scaleway systems too (Renamed for now - will remove tomorrow if everything runs through ok
- `/home/boot_jdk8`
- `/home/jdk-9+181`
- `/home/jenkins/bootjdks`

[2020-10-07 08:13] andrew-m-leonard opened #1602 "test-aws-win2019-x64-2 OutOfMemory"
This machine seems to fail with OOM errors:
https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.system_x86-32_windows/10/console

NOTE: I have marked it offline

[2020-10-07 09:51] Willsparker commented on #1578
Azure & Softlayer machines have OpenSSL 1.1.1h on them. I wasn't able to run Ansible on the Softlayer machines for some reason, however, considering #1594 , that probably won't matter soon.
Build PR has been put in, and a VPC Run has been kicked off that tests both the infra PR and the build PR: https://ci.adoptopenjdk.net/job/VagrantPlaybookCheck/886/

[2020-10-07 09:52] Willsparker commented on #1594
The windows machines are going to have to be re-provisioned unfortunately, due to not having enough disk space on them (I believe they're all 100Gb, which is only just enough to run the full playbook on them).

[2020-10-07 10:51] Willsparker commented on #1568
Discussion about this on Slack: https://adoptopenjdk.slack.com/archives/C53GHCXL4/p1601980237072200
Gist was that we already have a channel that nagios pings called `#infrastructure-bot` , however, it is saturated with a lot of output that isn't massively helpful. Hopefully this can be cleared up with #1229 - possibly through cutting down the amount of checks Nagios does on each node, or by disabl

[2020-10-07 10:51] #1568 closed

[2020-10-07 11:05] Willsparker commented on #1229
I'm going to start looking at this, but I thought I'd ask what everyone would want to actually be monitored via Nagios?
Currently there's a lot of default checks for each host that I don't think are entirely necessary (i.e. the 'PING' service- surely by virtue of the other services running on the host, a connection issue would be found via these, and a PING service becomes unnecessary). The vast m

[2020-10-07 14:11] Haroon-Khel commented on #1538
Closed as https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1541 is merged

[2020-10-07 14:11] #1538 closed

[2020-10-07 16:14] sxa opened #1603 "cmake not working for JDK11 on AIX"
Looks like our cmake isn't working properly on the AIX build machines used for OpenJ9 - presumably a libstdc++ mismatch. We should validate whether the cmake binary and stdc++ came from the same up-to-date source.

Ref: https://ci.adoptopenjdk.net/view/Failed%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-aix-ppc64-openj9/782/console

[code]
FYI @Haroon-Khel @aixtools (This isn't a job

[2020-10-07 16:33] sxa opened #1604 "Bastillion not installing keys on some Marist and AIX systems"
Unfortunately, I'm still getting issues on the machines you've said I've got access to when I `ssh root@<IP>`
[code]

_Originally posted by @Willsparker in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1001#issuecomment-645343831_

[2020-10-08 06:56] aahlenst commented on #1229
Nagios and its forks indeed report if no result comes back some way or another (state "unknown").

As we're dealing with build/test servers, we should check for the problems that concern us. Maxing out RAM/CPU probably does not, filling up the disk does.

Shoot from the hip:

* Disk usage
* SSH reachable
* Security patches installed
* Jenkins service connected (probably better solved by querying J

[2020-10-08 08:24] #1578 closed

[2020-10-08 10:06] andrew-m-leonard opened #1605 "Only 2 test windows nodes available, 8 offline"
https://ci.adoptopenjdk.net/label/ci.role.test&&hw.arch.x86&&sw.os.windows/
Presumably a lot of these should be online?

[2020-10-08 10:15] sxa commented on #1605
❌ test-aws-win2019-x64-1
  test-aws-win2019-x64-2 (Marked offline due to https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1602)
✓ test-azure-win2012r2-x64-1
❌ test-godaddy-win2016-x64-1
❌ test-godaddy-win2016-x64-2
❌ test-godaddy-win2016-x64-3
❌ test-godaddy-win2016-x64-4
❌ test-ibmcloud-win2012r2-x64-1
❌ test-ibmcloud-win2012r2-x64-2
❓ test-packet-win2012r2-x64-1
✓ test-softlayer-win

[2020-10-08 12:02] sxa commented on #1605
Restarted test-godaddy-win2016-x64-1 test-godaddy-win2016-x64-2 test-godaddy-win2016-x64-4 and they are all running jobs fromthe queue. test-godaddy-win2016-x64-3 appears to have vanished so i can look at recreating that one later.

[2020-10-08 12:09] sxa commented on #1605
test-softlayer-win2012r2-x64-2 was reporting as low on space but now has around 44Gb on the drive (I didn't clear anything up so I'm guessing it wasn't brought back online after https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1590 was closed) so I've brought it back online again and it's now running a Grinder from the queue

[2020-10-08 12:23] sxa commented on #1602
[test-aws-win2019-x64-2](https://ci.adoptopenjdk.net/computer/test-aws-win2019-x64-2/) is an AWS `t3a.xlarge` with 16Gb of RAM and 25Gb including virtual memory and is currently showing 6Gb free physical RAM so it is a higher spec than most of our other systems. There is, however, a lot (I'm guessing about 40 or so) `OpenJDK Platform binary` processes on the machine using about 100MB each which I'

[2020-10-08 12:23] #1602 closed

[2020-10-08 12:27] sxa commented on #1605
AWS machine 2 now back online after clearing up RAM (see #1602) used by a lot of rogue java processes

[2020-10-08 12:32] aahlenst commented on #1229
Looking at https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1602, it might make sense to monitor RAM.

[2020-10-08 12:33] sxa commented on #1605
Updated status:
✓test-aws-win2019-x64-1
✓test-aws-win2019-x64-2
✓ test-azure-win2012r2-x64-1
✓ test-godaddy-win2016-x64-1
✓ test-godaddy-win2016-x64-2
x test-godaddy-win2016-x64-3 (Will be covered under
✓ test-godaddy-win2016-x64-4
x test-ibmcloud-win2012r2-x64-1 (New machine - not yet ready)
x test-ibmcloud-win2012r2-x64-2 (New machine - not yet ready)
x test-packet-win2012r2-x64-1
✓ test-softlay

[2020-10-08 12:33] #1605 closed

[2020-10-08 12:41] smlambert commented on #1602
Did you happen to keep the list of running processes?  (were they test processes, jdi tests?)

related: https://github.com/AdoptOpenJDK/TKG/issues/45

[2020-10-08 12:46] sxa opened #1606 "Windows machines need more than 100GB of disk space"
After playbook install, the amount of space used by various directories on the machines are as follows (Checked on one of the new test-ibmcloud-win2012r2 machines. This means there is barely 10GB of disk space for our processes to use and with the new 10GB minimum free disk space check we are hitting this limit. We should ensure that all Windows machines have more than this available - absolute mi

[2020-10-08 12:48] sxa commented on #1606
Request to increase/reprovision new `ibmcloud` machines which have 100Gb has been sent to @rajdeepsingh1

[2020-10-08 12:53] sxa opened #1607 "Validate / recover Linaro systems"
Our CentOS7 arm64 machines at Linaro have not been active in jenkins for a while. This hasn't been a problem as we have machines at packet and AWS for this architecture, however it would be good to identify what is wrong, whether they can be recovered (they may need to be reprovisioned) or whether we still want them if they cannot be easily recovered.

[2020-10-08 15:44] sxa commented on #1606
Sounds like adding a second disk to the system may be the easier option, so I'm happy with that - if we can get an extra disk to be used as the jenkins workspace drive that would meet the needs (subject to other stuff on the machines not expanding too much in the future!)

[2020-10-08 17:02] Willsparker commented on #1606
With the new Cygwin install method, ( #1596 ), it should be substantially lower. Those machines were setup with the cache install. I'm more than happy to remove that and do the new method?
Also, ref: #1594

[2020-10-08 19:25] sxa opened #1609 "SXA-processCheck job isn't hitting all machines"
At one point the [SXA-processCheck job](https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck/) was configured to run on every machine with the [ci.role.test label](https://ci.adoptopenjdk.net/label/ci.role.test/). Despite that, it didn't seem to be taking effect on [test-marist-ubuntu1604-s390x-3](https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1604-s390x-3) as I've just killed off

[2020-10-08 19:29] sxa commented on #1609
Something odd going on here since it looks like it [had ran on it](https://ci.adoptopenjdk.net/view/Tooling/job/SXA-processCheck/label=test-marist-ubuntu1604-s390x-3/) but didn't pick up the process I just killed. Will look tomorrow when brain is engaged again :_)
[code]

[2020-10-09 09:54] karianna commented on #1609
Should this check be integrated into Nagios?

[2020-10-09 10:35] sxa commented on #1609
Going forward possibly

[2020-10-09 11:43] Willsparker commented on #1546
https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/1572#issuecomment-704430037

@sxa Would something such as
[code]
That way other (non-adoptopenjdk) people can still use the playbooks, but when setting up machines, we can ensure the installations okay?

[2020-10-09 11:48] Willsparker commented on #1229
Maybe all of those as a `once-a-day-check`? Possibly in the morning so it doesn't run at the same time as nightlies.
Also what Network time sync plugin would that be? Currently we're not monitoring Windows, so that's something I should probably look into as well :-)

[2020-10-09 11:56] sxa commented on #1604
Issue was down to user not having definitions for each profile in Bastillion. Now resolved. Closing.

[2020-10-09 11:56] #1604 closed

[2020-10-09 11:58] Willsparker commented on #1604
Thanks :-)

[2020-10-09 12:02] sxa commented on #1001
All done other than the Packet and Linaro machines (neither of which should need the update). Please re-opn if there are any further issues.

[2020-10-09 12:02] #1001 closed

[2020-10-09 13:03] sxa commented on #1609
Actually probably not as we don't want any such kiiller to run while a job is executing on jenkins which is why I implemented this way as opposed to a cron job or something else - it uses the executor to do the cleanup so nothing else will be running at the tine. We could kill "old" processes with something like nagios but this seems simpler and safer.

[2020-10-09 14:25] sxa commented on #1084
All build and infrastructure ones now renamed. We need to revisit what is now `openjdk-triage` as it had write access to quite a few other repositories so that will need a separate sanitisation. I suspect we'll create a replacement for getOpenJDK which has a cleaner set of permissions and users in it and restrict `openjdk-triage` down to just the build repos.

Installer/sigfning jobs have been upd

[2020-10-09 14:57] sxa commented on #1084
Test teams renamed as described above too - new `test-triag` group created with triage (not write) access to the test repos. We should look at the ACLs on the Grinder jobs too.

For now I'm going to consider this closed, although future adjustments to this can be iterative (and potentially documented in here)

[2020-10-09 14:57] #1084 closed

[2020-10-09 16:02] sxa commented on #1546
I'd say it's not ideal but better than not having a fallback.

[2020-10-09 16:14] sxa commented on #1606
What is the size saving? But yes certainly happy for that to be done with the four new windows systems we're setting up

[2020-10-09 16:42] Haroon-Khel commented on #1603
You were correct in the slack thread.

`/opt/freeware/lib/libstdc++.a` points to `/opt/freeware/lib/gcc/powerpc-ibm-aix7.1.0.0/8.3.0/libstdc++.a`, while the `libstdc++.a` that `cmake` depends on is at `/opt/freeware/lib/gcc/powerpc-ibm-aix7.1.0.0/8.3.0/pthread/libstdc++.a`

Ive temporarily made `/opt/freeware/lib/libstdc++.a` point to the correct dependancy to see if this fixes the issue (and at t

[2020-10-09 17:04] sxa commented on #1603
Looks primising :-)

[2020-10-09 17:57] sxa commented on #1609
All systems seem to be getting picked up now so I'm closing this. Suspect it was a glitch caused by a machine being off at the time it last ran

[2020-10-09 17:57] #1609 closed

[2020-10-12 08:07] Willsparker commented on #1606
After the new installation : `cygwin64` is at `1.1G` on the new install, `cygwin_packages` are at `167MB`, so a good ~12GB saving

[2020-10-12 08:26] Willsparker commented on #1598
ref: #1610
Seems we can create the shortname for the `Program File (x86)` directory before any major installation. This is, however, on a dockerfile, so it may play differently to how an 'actual' Windows machine would work. I'll implement it and have a go.

[2020-10-12 09:39] Haroon-Khel commented on #1603
The weekend's jobs ran without error, all on test-ibm-aix71-ppc64-1 (the problem machine). And it seems that the link change hasnt caused anything to break

[2020-10-12 10:00] karianna commented on #1229
Once a day sounds good.  Mornings (EMEA time) probably sane.  Network time sync probably tries to keep all of the machines sync'd timewise (you can see the drift when you look at all of the nodes in Jenkins actually).

Windows would be great 👍

[2020-10-12 10:27] Willsparker commented on #1229
Okay, cool - I'll get started on that then :-)

[2020-10-12 10:58] Willsparker opened #1612 "Infra_Request: Root access to the Nagios Server"
Ref: #1229

Looking at the referenced issue currently. I need `root` access as some Nagios config files aren't able to be changed by anyone but `root`. I also need the ability to restart the Nagios service :-)

[2020-10-12 10:59] Willsparker commented on #1612
IP: 78.47.239.96

[2020-10-12 11:06] Willsparker commented on #1594
Quote from @sxa in private channel:
"_The infra team in Hursley has said that they can add another disk to the windows machines so we can use that for the jenkins workspace dir once it's been added, leaving the existing 100Gb boot disk as-is, so shouldn't need a reinstall._"

Due to this, I'm replacing the cached Cygwin install with the new lightweight install, on all machines. I've added OpenSSL

[2020-10-12 11:08] sxa commented on #1612
Done

[2020-10-12 11:08] #1612 closed

[2020-10-12 12:11] sxa commented on #1591
It doesn't seem that we have any important machiens that are having problems with this new policy, so I'm closing as complete and we can resolve individual instances as they show up.

[2020-10-12 12:11] #1591 closed

[2020-10-12 12:34] lumpfish opened #1613 "java.nio.file.AccessDeniedException: /mnt/pi4 on test-sxa-armv7-raspbian-pi4"
Failing job link: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4146/console

Tests are failing to start on  test-sxa-armv7-raspbian-pi4 with
[code]

[2020-10-12 15:57] sxa commented on #1607
Issue with the underlying volumes preventing me from rebuilding. The one machine that was in there went into what looked like a reboot loop. Contacting Linaro to recover

[2020-10-12 19:35] Willsparker commented on #1594
@sxa Do you know how much extra disk space the windows machines are getting and when it will be added?

[2020-10-13 07:38] andrew-m-leonard opened #1614 "build-ibmcloud-win2012r2-x64-2 low disk space"
https://ci.adoptopenjdk.net/computer/build-ibmcloud-win2012r2-x64-2/

[2020-10-13 07:43] andrew-m-leonard opened #1615 "Windows sign_build cannot run on build-ibmcloud-win2012r2-x64-1"
Signing job does not seem to work on build-ibmcloud-win2012r2-x64-1

https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/12034/console

[2020-10-13 07:47] andrew-m-leonard opened #1616 "Windows sign_build job fails on winazure... Jenkins script not found"
https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/sign_build/12018/console
[code]

[2020-10-13 07:51] andrew-m-leonard commented on #1616
Sign job works fine on build-azure-* and build-softlayer-*

[2020-10-13 07:51] andrew-m-leonard commented on #1615
Sign job works fine on build-azure-* and build-softlayer-*

[2020-10-13 08:13] Willsparker commented on #1615
I'll remove the tags - the new IBMCloud window machines still need to have disk space added, so they'll remain offline for the minute anyway.
The actual error message(s):
[code]
Looks to be a permissions issue, along with possibly an unstable Jenkins agent.

[2020-10-13 08:15] Willsparker commented on #1615
(Both machines had the `Wix` tag removed)

[2020-10-13 08:23] Willsparker commented on #1614
Still in the process of adding a disk to it - ref: #1594

[2020-10-13 08:23] #1614 closed

[2020-10-13 08:57] Willsparker commented on #1615
Alright, I've had a look at the machines and compared them to the Azure machines.
The group `AdoptOpenJDK Jenkins User` needs `full control` to wherever on the machine is identified as the Jenkins workspace. i.e. `C:/users/jenkins` for the Softlayer machines, `J:/jenkins` for the Azure machines.
For now, as we still need to add the extra space to the build machines, that workspace isn't really def

[2020-10-13 09:03] gdams commented on #1616
The dynamic machines do not have cygwin or any other dependencies installed on them. For now I've pinned the sign job to use the static win2012 machines

[2020-10-13 09:10] karianna opened #1617 "windows: Dynamic Machines don't have cygwin + other dependencies on them"
The dynamic machines do not have cygwin or any other dependencies installed on them. For now I've pinned the sign job to use the static win2012 machines

_Originally posted by @gdams in https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1616#issuecomment-707601803_

[2020-10-13 09:10] #1616 closed

[2020-10-13 09:11] karianna commented on #1615
I've added https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1617 JIC we accept George's PR

[2020-10-13 09:12] andrew-m-leonard opened #1618 "test-macincloud-macos1014-x64-3 offline as too low on disk space <10Gb"
https://ci.adoptopenjdk.net/computer/test-macincloud-macos1014-x64-3/

[2020-10-13 09:12] karianna commented on #1617
See https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1615

[2020-10-13 10:32] sxa commented on #1594
It is awaiting approval from IBM so I cannot provide an ETA yet but it will be at least double what's there and ideally 500GB+

[2020-10-13 10:47] Willsparker commented on #1229
(note to self)
Useful Documentation / resources I found (I'll update this as I go) :
"Setting up a Nagios Server on Ubuntu1604" : https://www.howtoforge.com/tutorial/how-to-install-nagios-on-ubuntu-16-04/
"Template-Based Object Configuration" : http://nagios.manubulon.com/traduction/docs25en/xodtemplate.html

[2020-10-13 11:43] sxa commented on #1615
Jenkins user on the machine did not have permission to write to the directory which was defined as it's `Remote Root directory` on the jenkins agent definition, therefore no jobs could run on it (i.e. this issue is unrelated to the signing job specifically)

[2020-10-13 11:49] aixtools commented on #1603
FYI: I'll add cmake to the list of OSS I need to have 'around' in the new environment I am building and @Haroon-Khel is testing - as we move forward.

[2020-10-13 11:55] Willsparker commented on #1615
Both machines have had `C:/users/jenkins` perms updated so the Jenkins user has `Full Control`. Closing issue

[2020-10-13 11:55] #1615 closed

[2020-10-13 12:01] aixtools commented on #1582
I have created a repository where I am doing my development work - before I make a new PR for here.

Further, I have a sandbox environment that @Haroon-Khel and I are using to work on this. One key element - a playbook to reinstall the test (managed) node - on demand - from/by the Ansible Control Node.

[2020-10-13 13:47] sxa commented on #1606
Extra space will hopefully be available later today

[2020-10-13 15:42] rajdeepsingh1 commented on #1606
@sxa @Willsparker

I've added a 500GB disk to `win2012r2-x86-1`

This has been assigned as drive `G:` on the system. The Jenkins workspace is running on a 50G `F:` disk.

Please review and advise - I believe you would like the F: disk to be on the new 500G since it is the `remoteFS:` for Jenkins.

[2020-10-13 15:42] rajdeepsingh1 commented on #1606
Once this system is good to go I can add the additional 500G to the remaining 5 machines.

[2020-10-13 17:03] pshipton commented on #1579
FYI https://openj9.slack.com/archives/C8312LCV9/p1602551615048900

[2020-10-13 17:57] sxa commented on #1606
Hi @rajdeepsingh1 - can you check if that's been applied to one of the AdoptOpenJDK systems as I can't seem to see the extra disk on them.

[2020-10-13 22:24] rajdeepsingh1 commented on #1606
@sxa @Willsparker

The following machines should now have a 500G drive mounted and ready to go:

[code]

[2020-10-14 10:21] sxa commented on #1606
@Willsparker Can you verify that t Jenkins user can write to the new drives then we can adjust the Jenkins definitions to point the workspace onto it

[2020-10-14 10:26] andrew-m-leonard opened #1620 "build-marist-rhel77-s390x-2 offline : low on disk space"
https://ci.adoptopenjdk.net/computer/build-marist-rhel77-s390x-2/

[2020-10-14 10:27] andrew-m-leonard opened #1621 "build-marist-ubuntu1604-s390x-2 offline : connection problem"
https://ci.adoptopenjdk.net/computer/build-marist-ubuntu1604-s390x-2/log

[2020-10-14 11:17] Haroon-Khel commented on #1621
Cleared out some directories. Theres 47g free on the machine now

[2020-10-14 11:18] Haroon-Khel commented on #1620
Cleared out some directories. Theres 47g free on the machine now

[2020-10-14 12:08] #1620 closed

[2020-10-14 12:08] sxa commented on #1621
Machine no longer exists - we do not build on Ubuntu. The jenkins definitions appear to be lagging behind reality which I have resolved via the above PR

[2020-10-14 12:57] #1621 closed

[2020-10-14 14:55] #1606 closed

[2020-10-14 17:22] aixtools commented on #1320
I have not looked at bash for quite awhile - so I will not say I have the latest, but I do offer an alturnative via: http://www.aixtools.net/index.php/bash

There you will find both bash4 and bash5 - and one of the two can be installed - in parallel - with the AIX Toolbox, Michael Perzl, or Freeware RPM packaged version.

Just need to call /opt/bin/bash rather than their bash.

Iirc, there are no

[2020-10-14 17:55] sxa commented on #1606
@Willsparker @rajdeepsingh1 Good news - I've been able to run a [sanity.openjdk](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_x86-64_windows/357/console) run on a test machine and a [JDK15/J9](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk15u/job/jdk15u-windows-x64-openj9/72/console) build on the build box without issues. [JDK8 failed](https://

[2020-10-15 01:56] smlambert commented on #1274
Same core issue for failures in a system test target HCRLateAttachWorkload_previewEnabled ([deep history](https://trss.adoptopenjdk.net/deepHistory?testId=5f86346011d26031c1076ecb) noting it passes on macos1010 but not on macos1012/13/14 machines).  This error will occur in any test that invokes jdk.attach/sun.tools.attach.VirtualMachineImpl.checkPermissions(Native Method)

stderr Exception in thr

[2020-10-15 07:38] aixtools commented on #1320
p.s. I just built bash-5.0 patchlevel 18, and checked bash-4.4 patchlevel 23 - both have an error in (sub)test vredir6.sub.

Using an RPM based package - and I expect pre-patchlevel 23 - the error is still there:

BASH_VERSINFO=([0]="4" [1]="4" [2]="0" [3]="1" [4]="release"
[5]="powerpc-ibm-aix6.1.0.0")
BASH_VERSION='4.4.0(1)-release'
...

[code]
The shell should not be responding with an `exit` a

[2020-10-15 08:22] Willsparker commented on #1606
@sxa Awesome, thanks :-)

[2020-10-15 12:43] lumpfish opened #1627 "openjdk-systemtest jlm tests failing on test-scaleway-ubuntu1604-x64-1"
This issue has been raised at eclipse/openj9: https://github.com/eclipse/openj9/issues/10156, but it appears that the failure is peculiar to test-scaleway-ubuntu1604-x64-1 (the test runs successfully on other machines - e.g. https://ci.adoptopenjdk.net/job/Test_openjdk15_j9_sanity.system_x86-64_linux/74 (test-godaddy-ubuntu1604-x64-3), https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4207

[2020-10-16 10:49] Willsparker commented on #1569
I've managed to get a working example of a service handler working on the 2 VMs that I have to simulate a Nagios instance. To do this I setup a dummy task in the server config (`/usr/local/nagios/etc/servers/XXX.cfg`)
[code]
Fairly self explanatory, but it runs `exit 1` on the host via `ssh`. The `event_handler` field handles what happens as a state-change. To simulate these, I would just use the

[2020-10-16 11:03] aahlenst commented on #1569
Why don't you install a cron job on the respective machines that invoke certbot or whatever letsencrypt-auto does? Seems significantly simpler and does not require ssh'ing into the machine.

[2020-10-19 07:36] andrew-m-leonard opened #1628 "test-macincloud-macos1014-x64-1 won't come back online"
test-macincloud-macos1014-x64-1 is offline, and cannot be brought online
https://ci.adoptopenjdk.net/computer/test-macincloud-macos1014-x64-1/

[2020-10-19 08:20] aixtools opened #1629 "build-osuosl-ppc64-aix-71-1: cronjobs, mail, job errors"
Hi.

As part of my prep for AIX Playbook v2 #1583 I am looking at the current situation of system `build-osuosl-ppc64-aix-71-1`.

a) does anyone actually look at the mails cronjobs are sending?
[code]
The jobs 384, 387 (and many earlier ones - everyday at midnight) is failing. Granted, it is an old script,
[code]

[2020-10-19 08:21] andrew-m-leonard opened #1630 "docker on EC2 aarch64 dynamic images restarting after ~30 minutes (during build)"
https://ci.adoptopenjdk.net/view/Failed%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-aarch64-openj9-linuxXL/397/console
[code]
Node:
08:42:28  All nodes of label ‘build&&linux&&aarch64&&dockerBuild’ are offline
08:43:32  Running on EC2 (adopt_aws) - Dynamic Linux aarch64 VM provisioned from AWS (i-0fbd7d9f07a7b18f3) in /home/ubuntu/workspace/build-scripts/jobs/jdk11u/jdk11u-linu

[2020-10-19 08:29] Willsparker commented on #1569
I'm certainly not opposed to that - I just haven't used Cron before :grin: It also made sense to me to link how #1568 was implemented, to this. However, If we do it with a Cron Job (and based on the list of things you suggested we monitor in #1229), we wouldn't have to use the `check_by_ssh` plugin at all, which stops my single-point-of-failure concern too :-)

I'll do some testing and put my find

[2020-10-19 08:37] andrew-m-leonard commented on #1630
It looks like this failure started from 17th Oct...

[2020-10-19 08:51] Willsparker commented on #1569
Okay, yep, looking at it, cronjobs seem easy to implement. The `letsencrypt-auto` command renews it for 90 days, I was thinking we run those commands every 80 days(ish).
Cronjobs don't really allow for `every X amount of days`, so we could just setup the cron job to run everyday, and check it's been 80 days since the last cert renewal in the script ( probably using the `check_ssl_cert` command to